[2020-08-09 08:25] srihari-humbarwadi opened #2086 "Linear warmup learning rate schedule"
**Describe the feature and the current behavior/state.**
A learning rate schedule implementing linear warmup with step decay, currently unavailable in tensorflow

**Relevant information**
- Are you willing to contribute it (yes/no): Yes
- Are you willing to maintain it going forward? (yes/no): Yes
- Is there a relevant academic paper? (if so, where): https://arxiv.org/abs/1706.02677
- Is there alr

[2020-08-09 16:31] WindQAQ commented on #2085
Feel free to request my review after submitting the PR 😃 It's also appreciated that you can add testable docstring for it. See https://github.com/tensorflow/addons/issues/2066 for more details.

[2020-08-09 16:33] AakashKumarNain commented on #2086
Hi @srihari-humbarwadi thank for bringing this up. Yes, warmup schedules are pretty common nowadays. Please feel free to open a PR.

[2020-08-09 19:04] srihari-humbarwadi commented on #2086
Should i just do it for `PiecewiseConstantDecay` or implement a generic wrapper?

[2020-08-10 07:18] StarWang opened #2087 "beam_width & maximum_iterations in BeamSearchDecoder.call instead of init?"
**Describe the feature and the current behavior/state.**
Hi TFA team, the current seq2seq beam search decoder implementation takes in beam_width & maximum_iterations during decoder initialization `init()` instead of dynamic calls `call`. This makes it difficult for tuning beam_width when there's a trained model. However, it's a common request that in practice, when we have a trained model, we woul

[2020-08-10 12:01] agarwalishan opened #2088 "Capability to get probabilities for each tag in crf_decode"
**Describe the feature and the current behavior/state.**
I am talking about this specific repository.
[https://www.tensorflow.org/addons/api_docs/python/tfa/text/crf_decode]()
For now crf_decode function returns the tag indices with highest probability and a score for the whole sequence.
But the crf_decode do not returns the probabilities for every tag for each token in sequence like we get in sof

[2020-08-10 16:21] AakashKumarNain commented on #2086
A generic wrapper makes more sense but if you want to keep the first PR simple, you can just implement `PiecewiseConstantDecay` first.

[2020-08-10 17:38] WindQAQ commented on #2087
/cc @guillaumekln for visibility

[2020-08-10 19:16] saberkun commented on #522
It will be very nice to have the adafactor. It will save memory a lot for NLP models. We do not have a common TF2 implementation now.
Is Adafactor planned for the future release of addons?

[2020-08-11 12:51] andy7809 opened #2089 "NotFoundError in transform function for images"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): TF 2.3
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.3
- Python version: 3.6.7
- Is GPU used? (yes/no): I am not sure

**Describe the bug**

There is an undefined symbol in _image_so, and using  the transform

[2020-08-11 12:53] andy7809 commented on #2089
Upon further investigation, could this be waiting on googlecolab/colabtools#1243? If it is related to that, I will close this issue.

[2020-08-11 13:11] bhack commented on #2089
Try `!pip install --upgrade tensorflow-addons` in colab

[2020-08-11 13:27] andy7809 commented on #2089
Yep, that worked! Closing this now, thanks

[2020-08-11 13:27] #2089 closed

[2020-08-11 21:40] mathemakitten commented on #522
Hey @guillaumekln happy to make a PR, or @bkkaggle would you like to do it? My implementation is very similarly adapted out of the T2T implementation like yours. I've added support for compatibility with external LR schedule objects, and weight decay (and excluding weights from weight decay by name).

[2020-08-12 18:37] mldatabunch commented on #1227
Both are used to reweigh the classes but differ in their method. Focal loss reweighs based on loss (harder/easier to label) whereas class_weight does it based on the inverse of class frequency. You might get similar reweighing results as the minority class will presumably be harder to label and hence will get weighted high.

I am yet to figure out a way to combine the non-balanced focal loss (alph

[2020-08-13 03:59] WindQAQ opened #2090 "Deprecate MultiHeadAttention"
Deprecate MultiHeadAttention since https://github.com/tensorflow/tensorflow/commit/f32c80b3ed0d64eb0363f4196171467de79390d1 is merged.

I'm quite confused what our roadmap is. Should we alias/wrap the functionality to core TF or just remove it? In `gelu` case, the default argument is changed, and for `MultiHeadAttention`, the input signature is totally different.

[2020-08-13 03:59] WindQAQ commented on #2090
cc @tensorflow/sig-addons-maintainers

[2020-08-13 04:48] AakashKumarNain commented on #2090
Yeah there are differences. IMO, we should remove it.

[2020-08-13 12:49] fisakhan commented on #296
Complete solution can be found here
https://stackoverflow.com/questions/59102460/install-tensorflow-addons/60724821#60724821

[2020-08-14 08:34] guillaumekln commented on #2087
Did you try creating the `BeamSearchDecoder` instance in your `call` method?

[2020-08-14 09:58] failure-to-thrive commented on #2090
Just wondering, is there any policy on backward compatibility?

[2020-08-14 11:42] bhack commented on #2090
We have a no merged draft at https://github.com/tensorflow/community/pull/241

[2020-08-14 13:13] putopavel opened #2091 "TQDMProgressBar still not working in TF-2.3.0"
**System information**
- OS Platform and Distribution: Google Colab
- TensorFlow version and how it was installed: 2.3.0, Colab preinstalled package
- TensorFlow-Addons version and how it was installed: 0.8.3, Colab preinstalled package
- Python version: 3.6.9
- Is GPU used? (yes/no): Yes

**Describe the bug**

Although https://github.com/tensorflow/addons/issues/1495 seems already corrected, I am

[2020-08-14 13:29] bhack commented on #2091
Can you test with `pip install --upgrade tensorflow-addons`?

[2020-08-14 17:43] bkkaggle commented on #522
My implementation is pretty messy so go ahead and merge your implementation in if you want!

[2020-08-14 21:42] swghosh opened #2092 "tfa.image.translate_xy, tfa.image.shear_* fails to work with float images"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Google Colaboratory` (Debian) / `macOS v10.15.6`
- TensorFlow version and how it was installed (source or binary): `Binary TF_v2.3.0`
- TensorFlow-Addons version and how it was installed (source or binary): `Binary tfa-nightly_v0.12.0.dev20200811022730`
- Python version: `3.7.6`
- Is GPU used? (yes/no): `no`

**Desc

[2020-08-14 21:51] WindQAQ commented on #2092
This is the bug in our part. I can fix it recently. But personally, I discourage use this function after https://github.com/tensorflow/tensorflow/pull/41365 gets merged. Once one can control `fill_value` when doing transformation, `wrap`/`unwrap` is redundant.

[2020-08-14 23:18] StarWang commented on #2087
Hi @guillaumekln and @WindQAQ ,

Thanks for the issue edition and reply. I will try but maybe not in the short term future as currently I'm not focused on this.

I'm okay with keeping `beam_width` in the constructor, since you don't have to specify it in inference time if you are convinced about the value of `beam_width`. Just want to know if there's a way for dynamic tuning since it's common and

[2020-08-15 05:17] luke199629 opened #2093 "tfa.image.rotate fails to work"
I was running this tutorial on [google colab](https://colab.research.google.com/github/tensorflow/addons/blob/master/docs/tutorials/image_ops.ipynb) with TF2.3 and this command
`rotate = tfa.image.rotate(img, tf.constant(np.pi/8))`
under "Rotate" section fails to work with the following error message:
<img width="1701" alt="Screen Shot 2020-08-15 at 1 12 52 AM" src="https://user-images.githubuserc

[2020-08-15 07:28] WindQAQ commented on #2093
try to upgrade tensorflow-addons to latest version (either 0.11 or nightly), which pins to tensorflow==2.3.0. Like the following command on colab
[code]
https://colab.research.google.com/drive/1CYLJumUABwrm1R5KC6WOcnLHrCjq3x1S?usp=sharing

[2020-08-15 08:54] putopavel commented on #2091
Upgrading the version solved the issue. Thanks for your help.

[2020-08-15 08:54] #2091 closed

[2020-08-15 14:10] BinyanHu opened #2094 "Weights of Inner Optimizers Not Saved"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 & Windows 10
- TensorFlow version and how it was installed (source or binary): 2.3.0 from source
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.1 from source
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

Resume a training process needs the

[2020-08-15 14:56] bhack commented on #2094
Can you prepare a minimal PR with a new test to cover your case?

[2020-08-15 15:03] bhack commented on #2094
So that we could check if It is similar to https://github.com/tensorflow/addons/issues/1911

[2020-08-15 16:40] BinyanHu commented on #2094
Our issues are similar. But the real problem is on the missing weights of the inner RAdam optimizer.

First, I reran my program with `status.assert_consumed()`, and the errors are as follows:
[code]
Same as #1911. This is because the variable `iter` is not yet created by the time when we load the weights. If we do `assert_consumed` after fitting the model, the error goes away. The following warnin

[2020-08-15 16:55] DrChrisLevy opened #2095 "Update Release Notes For Important Change in triplet_semihard_loss"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow version and how it was installed (2.3 pip in docker):
- TensorFlow-Addons version and how it was installed (pip in docker, tensorflow-addons==0.11.1):
- Python version: 3.6
- Is GPU used? (no):

**Describe the bug**
Not so much a bug. But this change could have been better documented in the release notes

[2020-08-15 17:10] bhack commented on #2094
Lookahead test has no serializzation test currently.
So I think that you can add a small one and let It to fail in https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/tests/lookahead_test.py

[2020-08-15 17:17] bhack commented on #2094
Check if some of the original author tests could be useful https://github.com/CyberZHG/keras-lookahead/blob/master/tests/test_optimizers.py

[2020-08-15 17:18] bhack commented on #2094
/cc @CyberZHG

[2020-08-15 17:23] bhack commented on #2094
Also check that you are recovering custom objects on load e.g. `custom_objects={ 'RAdam': RAdam, 'Lookahead': Lookahead, })`

[2020-08-15 17:44] WindQAQ commented on #2095
Thanks for pointing out this! I've updated the release note. Please take a look at it to see if it works well :-) Thank you!

[2020-08-15 17:44] #2095 closed

[2020-08-15 17:46] DrChrisLevy commented on #2095
Perfect. That’s great. Thanks for the fast response.

[2020-08-15 20:01] seungjaeryanlee commented on #2085
I'll integrate doctest in a separate PR once I understand how everything works. Thanks for the suggestion and the link to the issue!

[2020-08-16 14:57] swghosh commented on #2092
Hi @WindQAQ, thanks for sharing the update on TF `ImageProjectiveTransformV2` and it's upcoming support for `fill_mode` as a complete op arg.
So as a workaround we should wait for the changes to get merged on tf/master and then look into a fix for this (float support on image ops with `replace`), right?

[2020-08-16 15:32] #2085 closed

[2020-08-16 15:34] WindQAQ commented on #2092
Yes, I can fix it today or you can open an PR for it!

[2020-08-16 15:40] swghosh commented on #2092
I'll work on a PR and get this done. (utilising the `fill_mode` argument from ImageProjectiveTransformV2)
Should I then skip wrap / unwrap completely?

[2020-08-16 15:47] WindQAQ commented on #2092
Sorry that I accidentally edited your comment... And just leave it alone as `fill_value` has not supported yet.

[2020-08-16 15:50] swghosh commented on #2092
Oh cool cool. We can wait till the support is added. Thanks.

[2020-08-16 15:51] WindQAQ commented on #2094
Hi @BinyanHu, thanks for investigating this. Can you provide the minimal code snippet to reproduce the issue, e.g. the way you save the model? Thank you!

[2020-08-16 16:09] AakashKumarNain commented on #2094
[code]
I think this is because of the fact that the value you pass to your optimizer is `float`, it gives this warning. You can use `tf.Variable()` for that.

On the other hand, I feel this is the real issue here
[code]

[2020-08-16 17:35] #2093 closed

[2020-08-16 17:35] luke199629 commented on #2093
Thanks a lot! This fix works perfectly!

[2020-08-18 16:45] zara44 commented on #2030
@WindQAQ the issue is not resolved yet. I Still get the same error.

[2020-08-18 17:11] WindQAQ commented on #2030
Hi @zara44, seems that it's the issue of your example. CRF cannot work with `categorical_crossentropy` directly. I am not an expert of CRF, but you can take a look at https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/tests/crf_test.py#L125-L164.

[2020-08-20 01:56] jimthompson5802 opened #2103 "TF_ADDONS_PY_OPS environment variable appears not to work with unit test beam_search_decoder_test.py"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.6 running Docker for Mac 2.3.0.4
- TensorFlow version and how it was installed (source or binary): TF 2.3.0, from TF docker image tensorflow/tensorflow:2.3.0-jupyter
- TensorFlow-Addons version and how it was installed (source or binary): In docker build, `pip install tfa-nightly==0.12.0.dev20200809083253

[2020-08-20 01:58] jimthompson5802 opened #2104 "TF_ADDONS_PY_OPS does not appear to affect beam_search_decoder.py unit test"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.6 running Docker for Mac 2.3.0.4
- TensorFlow version and how it was installed (source or binary): TF 2.3.0, from TF docker image tensorflow/tensorflow:2.3.0-jupyter
- TensorFlow-Addons version and how it was installed (source or binary): In docker build, `pip install tfa-nightly==0.12.0.dev20200809083253

[2020-08-20 02:54] jimthompson5802 commented on #2103
closed as dup of #2104

[2020-08-20 02:54] #2103 closed

[2020-08-20 03:11] WindQAQ commented on #2104
I try the same commands with yours but do not fail any tests.` tensorflow.python.framework.errors_impl.NotFoundError` only shows as warning. Can you check it again?

[2020-08-20 11:28] dathudeptrai opened #2106 "TF addons Seq2Seq with Attention OOM when mixed_precision enable"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow version and how it was installed (source or binary): 2.3.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.10/0.11
- Python version: 3.7
- Is GPU used? (yes/no): Yes

**Describe the bug**

THe model OOM when mixed precision enable, without enable mixed precision, the mode

[2020-08-20 11:47] jimthompson5802 commented on #2104
I tried again....same failures.

I rebuilt docker image using the most current `tfa-nightly` install.   Here is the Dockerfile
[code]

Within the docker container, I use this command to run pytest
[code]

Excerpt from log
[code]

Here is the full log file.
[seq2seq_unit_test_log.txt](https://github.com/tensorflow/addons/files/5102702/seq2seq_unit_test_log.txt)

If needed, here is `pip list` from m

[2020-08-20 12:37] bhack commented on #2106
Could you open a very small PR extending seq2seq tests with a mixed precision failing case?

[2020-08-20 12:42] dathudeptrai commented on #2106
@bhack how can i do that?. Btw, the code is not small, it is a bit long because it is full pipeline end2end

[2020-08-20 12:47] bhack commented on #2104
Yes loading `so` could be a little bit confusing currently.
It is why I've prepared https://github.com/tensorflow/addons/pull/1909 some months ago.

[2020-08-20 12:53] bhack commented on #2106
What help us, if you can, It Is just to riproduce the same issue but with the minimal code snippet.
When you have this It Is like a PR extending tests.

[2020-08-20 13:01] dathudeptrai commented on #2106
@bhack ok i will try to make a pull request to extend the test, meanwhile can you take a look ?

[2020-08-20 13:06] bhack commented on #2106
Could you share a colab?

[2020-08-20 13:26] bhack commented on #2106
Have you seen this warning:
`/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/indexed_slices.py:432: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. `

[2020-08-20 13:28] dathudeptrai commented on #2106
yes :D. it's related to embedding layers ?

[2020-08-20 13:31] bhack commented on #2106
Yes it is related to the embedding layer. Check https://stackoverflow.com/questions/35892412/tensorflow-dense-gradient-explanation

[2020-08-20 13:41] dathudeptrai commented on #2106
thanks. But it's not the reason, i just remove embedding layers and replace it by fake tensor but still OOM

[2020-08-20 13:44] bhack commented on #2106
Can you share the new colab?

[2020-08-20 13:47] dathudeptrai commented on #2106
[seq2seq_new.zip](https://github.com/tensorflow/addons/files/5103468/seq2seq_new.zip)
here, i just random embedding layer output rather than use tf.keras.layers.Embedding(...)(input)

[2020-08-20 13:57] bhack commented on #2106
At what iteration is failing? Cause it is running fine on colab

[2020-08-20 14:00] dathudeptrai commented on #2106
because the colab can't apply mixed precision. The colab's GPU is old :D. You can check a log. Colab didn't enable mixed precision

[2020-08-20 14:06] bhack commented on #2106
It is only skipping auto_mixed_grap_optimizer but running mixed precision is supported as I see in the official tutorial:
(search colab) https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/mixed_precision.ipynb

[2020-08-20 14:11] dathudeptrai commented on #2106
Colab has 3 type GPU :)). Let use this code to check if ur colab support Mixed precision or not:

![Screenshot from 2020-08-20 21-10-05](https://user-images.githubusercontent.com/43868663/90782925-a0d99600-e329-11ea-8b11-a14b7302fb6b.png)

[2020-08-20 14:25] bhack commented on #2106
As you see in the tutorial:

So it is only about speedup.. But if it is also not running some other internal pass to reproduce your OOM error we need to wait for another maintainer with a local GPU for `float16`.
Currently I have not this machine under my hands and I can only verify this with GPU in CI if you submit an isolated test/PR.

[2020-08-20 14:38] dathudeptrai commented on #2106
@guillaumekln Hi, i know you are a creator of openmt-tf and have many experience in seq2seq + mixed precision, can you help me ?. This kind of model play an important role in my framework (largest Tensorflow-2 Text to speech framework) so i just want to improve user experience.

@bhack i will try my best to pr for testing mixed precision even it's hard i think.

[2020-08-20 23:30] marksandler2 opened #2107 "MovingAverage optimizer swap_weights is not very usable"
**System information**
Any

**Describe the bug**

If one calls `optimizer.swap_weights` without calling `optimizer.shadow_copy` it crashes with cryptic error message
 (of _average_weights not existing) - despite successfully optimizing for earlier steps (and presumably creating average variables - just not setting up _average_weight!).

However, ` shadow_copy` requires a `var_list`, which is not s

[2020-08-21 06:57] bhack commented on #2107
/cc @tf-marissaw @Squadrick

[2020-08-22 12:21] seanpmorgan opened #2110 "Switch to CUDA 11 and cuDNN 8"
TF-Nightly has switched already and this should match TF2.4. We'll likely wait until 2.4rc0 to do this, but the groundwork was laid in #1950 and we can likely test both CUDA versions in CI.

https://groups.google.com/a/tensorflow.org/g/discuss/c/G4E2VPY-X_8
https://github.com/tensorflow/tensorflow/issues/42047

[2020-08-22 17:05] tgaddair opened #2111 "List TensorFlow as an "extra" requirement to install the correct TFA for a given TF version"
When installing `tensorflow_addons` without specifying an exact version, users may install a version that is incompatible with their existing TensorFlow version.

As such, users are advised to check the [Python Op Compatibility Matrix](https://github.com/tensorflow/addons#python-op-compatibility-matrix) and manually install the correct version of TFA to be safe.

For most Python projects, this can

[2020-08-23 17:48] #2090 closed

[2020-08-24 09:33] ildoonet opened #2113 "Why MovingAverage num_steps takes 'string'?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): TF 2.3.0, binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.0
- Python version: 3.6.8
- Is GPU used? (yes/no): yes

**Describe the bug**

MovingAverage type error seems to be weird.

[code]

Optiona

[2020-08-24 09:51] AakashKumarNain commented on #2113
Yeah that's a bug. It should either be a `int` or a `tf.Varaible` with correct dtype. Thanks for reporting. Can you please add a PR with the correction?

[2020-08-25 03:24] seanpmorgan commented on #2111
Thanks @tgaddair this could be a very nice addition! Wanted to clarify one thing:

Is that correct? My understanding of `extras_require` is that instead it would attempt to install/overwrite whatever newer version of TF was specified by TFA. I'm not getting a definitive answer from this:
https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-d

[2020-08-25 09:49] xuxingya opened #2115 "[CRF] Get the decoded_sequence from the output list of CRF layer"
In layers/crf CRF Layer, the output is [decoded_sequence, potentials, sequence_length, self.chain_kernel], however, when I want to get the first element of the output like the code below :
[code]
The error raised:
`OperatorNotAllowedInGraphError: iterating over `tf.Tensor` is not allowed: AutoGraph did not convert this function. Try decorating it directly with @tf.function.`

Because I want to use

[2020-08-25 15:44] machineko commented on #2106
I can confirm have same problem with OOM on my local rtx 2080TI while fp32 works fine.

[2020-08-25 19:44] DanielTakeshi commented on #1132
Just a quick update, this error also appears with TensorFlow 2.2 from conda:

[code]

Hopefully something will happen. :) Installing from conda means the correct CUDA version is already shipped for us.

[2020-08-25 19:46] DanielTakeshi commented on #1132
Quick update: I upgrade tensorflow-addons:

[code]

and now the error message disappears. @seanpmorgan  Was this expected?

[2020-08-25 19:52] seanpmorgan commented on #1132
No not expected.... for which function did you see this disappear? Some image ops were replaced with tf.raw_ops thats the only thing I could think of. That or just by luck our gcc version is currently aligned with the one conda ships

[2020-08-25 20:01] DanielTakeshi commented on #1132
@seanpmorgan  The function https://www.tensorflow.org/addons/api_docs/python/tfa/image/transform

[2020-08-25 20:05] seanpmorgan commented on #1132
Yeah it was the first reason:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/transform_ops.py#L108

It's calling core package functionality now

[2020-08-26 06:53] travishsu opened #2116 "usage of sigmoid_focal_crossentropy in graph mode"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.03 in Docker
- TensorFlow version and how it was installed (source or binary): 2.1
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.0
- Python version: 3.6.9
- Is GPU used? (yes/no): yes

**Describe the bug**

I have `PartitionedCall` issue while calling `tfa.losses.sigmoid_focal

[2020-08-26 12:29] bhack commented on #2116
What are you trying to do? I see your passing the loss as the 2nd argument of `Model`?
Check `Model` arguments https://www.tensorflow.org/api_docs/python/tf/keras/Model

[2020-08-26 13:31] travishsu commented on #2116
Hi, I’m trying to adapt that to matterport/Mask_RCNN

https://github.com/matterport/Mask_RCNN/blob/master/mrcnn/model.py#L2026

[2020-08-26 14:15] bhack commented on #2116
What I meant is that generally the loss is passed in the `model.compile`. So I don't think that your example is a bug.

[2020-08-26 22:55] travishsu commented on #2116
Ok, I see. Thx.

[2020-08-26 22:55] #2116 closed

[2020-08-27 01:10] WindQAQ opened #2122 "Deprecate all functions/arguments that should be deprecated in Addons 0.12"
Just a note for deprecation.

- [x] all custom ops activations, where `gelu` has been migrated to core TensorFlow.
- [x] all `data_format` argument under `tensorflow_addons/image`.
- [x] `sequential_update` for `AveragedOptimizerWrapper`.

Should we maintain the backward compatibility? /cc @tensorflow/sig-addons-maintainers.

[2020-08-27 02:55] tgaddair commented on #2111
Hey @seanpmorgan, thanks for raising this point.  I did some tests, and you are correct, the extra will overwrite any existing version of TF.  So not quite as useful as I'd hoped, but still useful.  Basically, it serves as a forced upgrade.  Also, it seems that non-extra requirements have the same behavior, so it's still equivalent to having it as a general install dependency, only optional.

If t

[2020-08-27 03:14] seanpmorgan commented on #2111
Yes that sounds reasonable. Thanks for double checking.. please proceed to updating the PR

[2020-08-27 03:34] seanpmorgan opened #2124 "Add pip upgrade to all tutorials"
We haven't seen a fast enough turn around to depend on Colab keeping TFA up to date. See:
https://github.com/googlecolab/colabtools/issues/1243

As a result we've had a number of issues regarding incompatible version so it makes sense we just include `!pip install --upgrade tensorflow-addons` to all of our tutorials

[2020-08-27 03:35] seanpmorgan commented on #1945
Closing since new issue is filed to fix this:
https://github.com/tensorflow/addons/issues/2124

[2020-08-27 03:35] #1945 closed

[2020-08-27 08:59] TimbusCalin opened #2125 "Cannot save model after custom metric, i.e. F1Score,FBetaScore etc."
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow 2.3, via pip install tensorflow:
- TensorFlow-Addons 0.11.1:
- Python version: 3.6.5
- Is GPU used? (yes) GTX 1080Ti:

**Describe the bug**

Practically, if I want to save the model after` val_f1_score` or any other custom metric besides val_loss, I get the error mentioned below. It is very frustrating.

**Code to repro

[2020-08-27 09:44] bhack commented on #2125
Can you send a very minimal but runnable example that we can copy, past and run to reproduce this?
Thanks.

[2020-08-27 12:22] TimbusCalin commented on #2125
@bhack I can understand why this is happening now and solved the issue, after printing the logs.

Apparently, when the metrics F1Score is declared,
`tfa.metrics.F1Score(num_classes=3)`, the metric generates the F1-Score value per-class, i.e. np.array(length_of_classes).

Of course, this does not go well with the ModelCheckpoint, which needs to receive a float value instead of an array of numpy, he

[2020-08-27 12:22] #2125 closed

[2020-08-27 12:27] bhack commented on #2125
/cc @ssaishruthi @marload

[2020-08-27 12:34] TimbusCalin commented on #2125
@bhack  I also want to mention that during the training the values displayed for the metrics are good, the problem is only related to ModelCheckpoint or ReduceLROnPlateau.

[2020-08-27 17:25] yashk2810 commented on #2124
All of TF addons notebooks are currently failing when publishing to tensorflow.org/addons because it doesn't have an addons install at the top. This is required regardless of what colab does.

So please update this as soon as possible since no updates to the docs are being pushed to the site as the notebooks keep failing.

[2020-08-27 17:26] yashk2810 commented on #2124
List of failing notebooks:

https://github.com/tensorflow/addons/blob/master/docs/tutorials/optimizers_lazyadam.ipynb
https://github.com/tensorflow/addons/blob/master/docs/tutorials/layers_weightnormalization.ipynb
https://github.com/tensorflow/addons/blob/master/docs/tutorials/tqdm_progress_bar.ipynb
https://github.com/tensorflow/addons/blob/master/docs/tutorials/losses_triplet.ipynb
https://gith

[2020-08-27 17:28] yashk2810 commented on #2124
All the notebooks should also be runnable locally. Many users won't necessarily have TFA installed hence we need this in the notebooks itself.

This is followed by all other subsites on tensorflow.org so TFA also needs to add `!pip install tensorflow-addons` to all its tutorials so that they can be published on tensorflow.org.

[2020-08-27 17:44] LeonShams opened #2127 "Noisy Networks for Exploration"
**Describe the feature and the current behavior/state.**
Noisy Networks are a relatively recent advancement in Reinforcement Learning (RL). Normally we use epsilon (probability of random action) to add noise after the forward pass of a network. Epsilon forces the agent to explore new areas and discover new rewards. This problem is that we have to decay this over time otherwise the agent is going t

[2020-08-27 20:08] #2124 closed

[2020-08-27 22:10] bhack commented on #1911
Can you check with https://github.com/tensorflow/addons/pull/2126?

[2020-08-28 11:02] ashwin-phadke commented on #2066
@WindQAQ  I am working on optimizers and just wanted to check if the following is the right way to update docstrings

[code]
Also do I need to run doctest locally or will it run on the PR directy?

[2020-08-28 16:16] guillaumekln opened #2132 "Generated documentation of type aliases are included in unrelated modules"
For example, the documentation of `TensorLike` is located in `tfa.image.color_ops`:

https://www.tensorflow.org/addons/api_docs/python/tfa/image/color_ops/TensorLike

Presumably, the system selects the module where the symbol was first found. This is not a big issue but it produces strange and unexpected documentation for type annotations, see for example:

https://www.tensorflow.org/addons/api_do

[2020-08-28 20:43] gabrieldemarmiesse commented on #1034
@seanpmorgan isort 5 is out, we use it in my company, and it works very nicely. It's pretty cool not having to think about where you put your imports, similar to how we don't have to think about formatting anymore.

If we do insert the the tool, it won't be like the black PR hell, I'll do one big PR, and all other contributors will have to fix conflicts themselves, which is easy since it's only or

[2020-08-29 17:29] dathudeptrai commented on #2106
@guillaumekln just remind :D

[2020-08-29 21:21] bhack commented on #1996
Can we close this?

[2020-08-30 04:18] #2113 closed

[2020-08-30 16:06] Harsh188 commented on #2066
Hi! I'm gonna get started on working on `tensorflow_addons/losses`.

[2020-08-31 01:37] FalsoMoralista opened #2139 "bug when using "num_parallel_calls" when mapping dataset to tfa function"
Tested with tensorflow versions 2.2 and 2.3, and tensorflow addons 0.11.1 and 0.10.0
On Google Colab Pro gpu env, python3.8

I presenced this bug when using "num_parallel_calls=tf.data.experimental.AUTOTUNE" inside the .map call from my dataset, no exception is thrown and my code runs eternally.

### Code to reproduce the issue:

[code]
### Mapped Function
[code]
### Output

### Output when removi

[2020-08-31 11:28] bhack commented on #2139
Do you have a very minimal complete example that we could copy, paste an run to reproduce this?

[2020-08-31 11:32] abhishek-niranjan commented on #1915
@w4nderlust I've extended this [tutorial](https://www.tensorflow.org/addons/tutorials/networks_seq2seq_nmt) to use the same decoder stack and do beam search inference over it using ```tfa.addons.seq2seq.BeamSearchDecoder```. I could create a PR with the updated notebook if you'd like?

[2020-08-31 12:14] FalsoMoralista commented on #2139
Link to example TFRecord: https://drive.google.com/drive/folders/1dc6ehBGL_mwGTuSy71VhUYVp0eMdHADP?usp=sharing

### Code to Reproduce the issue:
[code]
###  Auxiliary functions
[code]
### Output

[2020-08-31 15:06] bhack commented on #2139
/cc @WindQAQ It seems to me not a problem with TFA but more with TF https://www.tensorflow.org/api_docs/java/org/tensorflow/op/core/ImageProjectiveTransformV2
I've tried to substitute with `tf.python.keras.layers.preprocessing.image_preprocessing.transform` directly in the `translate_ops.py` and the deadlock seems the same.

[2020-08-31 18:22] WindQAQ commented on #2139
Have you tried not to wrap your pipeline with `tf.py_function`?

[2020-08-31 19:13] FalsoMoralista commented on #2139
no but i need it in order to use the image numpy values

[2020-08-31 19:18] bhack commented on #2139
There Is https://github.com/tensorflow/tensorflow/issues/32454 but It Is not exactly the same.

But e.g. on resize it doesn't hang with the example in this ticket.
 It Is why seems to me that is this specific to this kernel with auto.

[2020-09-01 01:07] FalsoMoralista commented on #2139
I will verify it, which may even fix some retracing warnings i had, thank you by the way. Although, as i mentioned, i was able to manage by removing the 'tf.data.experimental.AUTOTUNE' which wasn't a big deal, though i thought of creating this issue as a way of reporting this possible bug.

[2020-09-01 01:10] w4nderlust commented on #1915
@abhishek-niranjan that would certainly be useful, thank you.

[2020-09-01 03:11] #2092 closed

[2020-09-01 03:13] seanpmorgan commented on #2122
I think maintaining backwards compatibility is the preferred route when possible. It may require the function to re-arrange some parameters or fill in defaults, but that can be part of the deprecation warning advising the user to use the core functionality.

[2020-09-01 03:15] seanpmorgan commented on #1769
Consolidating this with #337. We need to create an updated example with the new layer

[2020-09-01 03:15] #1769 closed

[2020-09-01 03:16] seanpmorgan commented on #337
Bumping this as a highly requested feature for our new layer

[2020-09-01 03:33] seanpmorgan commented on #2132
Good catch. I think I'd prefer #2 since those TensorTypes are pretty important to the end user as it stands today.

[2020-09-01 03:38] seanpmorgan commented on #1996
This appears to be available if you access the private `._optimizer` per above colab example. Closing.

[2020-09-01 03:38] #1996 closed

[2020-09-01 03:41] seanpmorgan commented on #2139
Closing as this do to underlying core functionality. Please feel free to comment if you feel otherwise and we can re-open. Thanks for bringing the issue up!

[2020-09-01 03:41] #2139 closed

[2020-09-01 03:51] seanpmorgan commented on #1034
Hmmm I lean toward holding off on this until we're able to work through some PR backlog. While it can be done in a single PR it will create conflicts on all ~43 PRs

[2020-09-01 04:43] bhack commented on #2139
@FalsoMoralista I still suggest you to open an issue in tensorflow repo mentioning this one.

[2020-09-01 07:49] abhishek-niranjan commented on #1915
@w4nderlust created PR #2140;   Added the link to colab notebook in PR description, Hope this works!

[2020-09-01 11:54] mukurgupta commented on #647
@guillaumekln

I made the changes you suggested earlier but now the error is:

Would appreciate any help.

[2020-09-01 14:14] guillaumekln commented on #2106
I reproduced the issue but I'm not sure this is directly related to Addons. Auto mixed precision inserts a lot of cast ops (including on weights!) which can increase memory usage, especially in a long decoding loop such as the one in your example. I wonder if the converted weights are duplicated in each decoding step.

You can force the mixed precision graph rewrite by setting the following enviro

[2020-09-01 14:21] guillaumekln commented on #647
You should replace this method with `get_initial_state`. See https://www.tensorflow.org/api_docs/python/tf/keras/layers/AbstractRNNCell#get_initial_state

[2020-09-01 17:48] #2094 closed

[2020-09-02 03:00] #2111 closed

[2020-09-02 09:50] dathudeptrai commented on #2106
@guillaumekln so i need report it to tensorflow repo ? or you are trying to solve this problem ?

[2020-09-02 09:58] guillaumekln commented on #2106
I don't see anything to fix in Addons, so you may try to raise this to the TensorFlow team.

[2020-09-02 10:34] bhack commented on #2106
Yes, please open a new ticket in the Tensorflow repo referencing this one.

[2020-09-02 10:34] #2106 closed

[2020-09-02 10:36] dathudeptrai commented on #2106
thank :D i will try to report in tensorflow repo even the probability to get an answer is very low :))

[2020-09-02 11:15] bhack commented on #2106
@dathudeptrai We will upvote your ticket :wink:

[2020-09-02 11:23] albertz opened #2143 "Group normalization documentation is incorrect"
**Describe the bug**

This is purely about the documentation.

In the [documentation about group normalization](https://www.tensorflow.org/addons/api_docs/python/tfa/layers/GroupNormalization), it is stated:

However, that is not true.

Assume an input tensor `x` of shape [B,T,F] (batch, time, feature-dim) (time could also be H/W instead; feature-dim can also be the channels).

In layer normalizat

[2020-09-02 12:16] bhack commented on #2143
Have you checked the impl?
Try to follow `self.group`, `group_shape`, `group_reduction_axes` with your case at https://github.com/tensorflow/addons/blob/v0.11.2/tensorflow_addons/layers/normalizations.py#L156

[2020-09-02 12:20] bhack commented on #2143
For layer normalization check https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/layers/normalization.py#L1203

[2020-09-02 12:20] albertz commented on #2143
Yes, I have. Are you saying I'm wrong, or just double checking?
The code is (with added comments, and prefix, for case G=1):
[code]

[2020-09-02 12:24] bhack commented on #2143
So in the original comment do you meant `moments` on [T,F] with `G=1` vs moments on `[F]` with layer-normalizzation?

[2020-09-02 12:28] albertz commented on #2143
Yes exactly. That's not the same. The behavior is very different.

But in the documentation (and even in the paper), you write:

Which is wrong, right?

[2020-09-02 13:29] bhack commented on #2143
I think it is ok that LN is over the feature map.
About GroupNorm impl. /cc  @Smokrow

[2020-09-02 13:33] bhack commented on #2143
@albertz Probably this is what you was looking for in the specific TF layer normalizzation https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/layers/normalization.py#L1029-L1036

[2020-09-02 13:34] bhack commented on #2143
If you want to open a small PR to better notify this in the documentation you are welcome

[2020-09-02 13:39] albertz commented on #2143
I think the GroupNorm implementation is fine. At least it seems to be what is commonly implemented.

I think the LayerNorm implementation is also fine. This seems to be the standard (to just normalize over the feature-dim).

So first of all, I just wanted to confirm that I understood it correct, because it was not totally clear to me. As you seem to confirm this, then I think we just should fix th

[2020-09-02 13:46] bhack commented on #2143
No it is not about only the numerically reproducibility about the `gamma` and `beta` but it is also the first part of the claim:

So they are not talking about implicit default params equivalence. E.g. see the 2nd example in https://keras.io/api/layers/normalization_layers/layer_normalization/

[2020-09-02 13:57] albertz commented on #2143
Yes, right. If you use LN and configure it to normalize over all axes (except batch), then `gamma`/`beta` is wrong.
Which is not even possible for my example, as T is usually dynamic, not static. Also it doesn't work if height/width is dynamic.

But these are two aspects:
* What axes are normalized over? (The `axis` argument of `tf.nn.moments`.)
* What is the shape for the params (`gamma`/`beta`)?

[2020-09-03 07:21] abhishek-niranjan commented on #2087
Hi @StarWang

Though this is true, there's still a way to tune your beam_width in current implementation after your model has been trained which involves multiple instantiations of `tfa.seq2seq.BeamSearchDecoder`.  For example,

Say the decoder stack looks like this:

[code]

Then once you've trained your model, to test out outputs related to different beam widths, you can instantiate the BeamSear

[2020-09-03 08:48] g0lemXIV opened #2145 "SliceOut Layer - enchanced dropout"
**Describe the feature and the current behavior/state.**
SliceOut regularization for speedups and memory reduction by dropping contiguous sets of units at random, method preserves the regularization properties of dropout while allowing for more efficient low-level implementation, resulting in training speedups through fast memory access and matrix multiplication of smaller tensors, and memory savi

[2020-09-03 09:08] grofte opened #2146 "Stocastic Weight Averaging (SWA) fails on composite models"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Kaggle Notebook environment + Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): binary, both 2.2 and 2.3
- TensorFlow-Addons version and how it was installed (source or binary): binary, 0.10.0
- Python version: 3.7
- Is GPU used? (yes/no): fails with both

**Describe the bug**

When `opti

[2020-09-03 21:48] bhack commented on #2146
Can you test with tf-nightly?

[2020-09-04 15:03] grofte commented on #2146
I've tried with tf-nightly now. It did not train when I used the GPU. On the CPU it failed at exactly the same point.

[2020-09-04 15:06] bhack commented on #2146
@grofte Thanks, just an extra effort if you can.. Do you have or can you extract a very minimal code snippet to reproduce this instead of the full Kaggle notebook?

[2020-09-04 15:12] bhack commented on #2146
/cc @shreyashpatodia

[2020-09-05 04:39] WindQAQ commented on #1983
Close due to inactivity. Free feel to reopen it if there is any update.

[2020-09-05 04:39] #1983 closed

[2020-09-05 15:01] parmarsuraj99 opened #2150 "Linear Attention Mechanism"
**Describe the feature and the current behavior/state.**

Are we going to add `LinearAttention`? If yes, I can start working on it

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): [Transformers are RNNs: Fast Autoregressive Transformers with Linear Attention

[2020-09-05 15:38] AakashKumarNain commented on #2150
Please feel free to open a PR @parmarsuraj99 Thank you

[2020-09-05 16:51] bhack commented on #2150
/cc @saberkun @tanzhenyu @dynamicwebpaige  Do you have any internal plan for this?

[2020-09-05 20:11] saberkun commented on #2150
Looking at the pytorch implementation, what's the difference with https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/dense_attention.py?

[2020-09-06 05:08] parmarsuraj99 commented on #2150
In the PyTorch implementation, the authors have implemented many variants of attentions [https://github.com/idiap/fast-transformers/tree/master/fast_transformers/attention](https://github.com/idiap/fast-transformers/tree/master/fast_transformers/attention)

The one referenced above is this specific one
[https://github.com/idiap/fast-transformers/blob/master/fast_transformers/attention/linear_atten

[2020-09-06 16:50] k1moradi commented on #1927
TFA still throws this error in TensorFlow-mkl 2.2 on windows.

[2020-09-07 00:56] WindQAQ commented on #1927
Hi @k1moradi, can you open a new issue for it with your detailed addons version? Thanks!

[2020-09-07 02:23] k1moradi commented on #1927
I'm sorry. I was wrong. I was using TF 2.1. I downgraded to TFA 0.9.1 and the problem solved.

[2020-09-07 06:14] zhuimeng999 opened #2152 "tensorflow crashed when use image.transform function"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): arch Linux latest and Ubuntu
- TensorFlow version and how it was installed (source or binary): binary on arch, source on ubuntu
- TensorFlow-Addons version and how it was installed (source or binary): source version 0.11.2
- Python version: 3.8 on arch, 3.6 on ubuntu
- Is GPU used? (yes/no): yes

**Describe the bug**

[2020-09-07 06:19] WindQAQ commented on #2152
This is probably your cuda error. Can you paste the detailed log?

https://colab.research.google.com/drive/1x70ApzFL01APODQxlcnvVPIJJVUQR3DI?usp=sharing

[2020-09-07 06:37] zhuimeng999 commented on #2152
may be, i think it is a tensorflow issue before, bug when is replace the code about image.transform, the problem is gone, so i come here for help

[2020-09-07 06:46] WindQAQ commented on #2152
What's your TensorFlow version btw? Try to print `tf.__version__`.

[2020-09-07 06:49] zhuimeng999 commented on #2152
sorry, i did not check the provided code carefully, i run the above code on the Ubuntu, there is no error! but i can confirm the problem exist because my origin code still product error and can not continue, but when i remove the line about image.transform, it can train normally.

my tensorflow version is 2.3.0

[2020-09-07 06:55] WindQAQ commented on #2152
It still seems not an addons' issue. Can you verify if the cublas install correctly? Maybe follow the link down below. Thanks!

https://stackoverflow.com/questions/52337791/verify-that-cublas-is-installed

[2020-09-07 06:59] zhuimeng999 commented on #2152
the cublas is installed, but the cublas.h  location is different from the link, i found it in another system location
my arch machine use cuda 11.0, gtx 1660, the ubuntu use cuda 10.2, rtx2080

[2020-09-07 07:08] zhuimeng999 commented on #2152
i checked the implement of image.transform, it is an tensorflow api wrapper.
my code can run ok with tensorflow 2.2 and addons v0.10.1,  i noticed that the old implement use addons own c++ kernel, and the tensorflow's implement seem's only used for some keras preprocessing module which may not require gradient

[2020-09-07 07:09] WindQAQ commented on #2152
Oh I see, have you tried to install addons from source? I guess you might use different cuda version for tensorflow and tensorflow-addons. A proper version should be `pip install tf-nightly` (this is compatible with cuda 11.0) and tfa from source with specifying
[code]

[2020-09-07 07:11] zhuimeng999 commented on #2152
the tensorflow and addons both installed from source

[2020-09-07 07:12] WindQAQ commented on #2152
Nope, tensorflow also invokes underlying ImageProjectiveTransform c++ kernel too.

[2020-09-07 07:14] WindQAQ commented on #2152
Can you try `tensorflow==2.3.0` with `tfa-nightly`? (maybe in the virtualenv so it won't break your package management).

[2020-09-07 07:35] zhuimeng999 commented on #2152
i just checked it out, but my driver version does not work with the default pip repo,  does the tfa-nightly is the latest master branch, i just build it from source, but the problem still exist

[2020-09-07 08:52] zhuimeng999 commented on #2152
I just modified the TensorFlow code to get the explicit err code, what the cusolverDnCreate(&cusolver_dn_handle) return is 7

[2020-09-07 09:20] grofte commented on #2146
I think @shreyashpatodia no longer works at Google and isn't maintaining this optimizer class. But I tried both MovingAverage and Lookahead and they both work with a composite model.

Here's a different code example:

[code]

This ran in about 30 seconds in a Colaboratory notebook with a GPU.

[2020-09-07 09:23] shreyashpatodia commented on #2146
I can take a look at this at some point this week. Thanks for reporting the bug @grofte!

[2020-09-07 10:46] grofte commented on #2146
There's also an extremely weird bug with mixed precision where turning on both mixed precision and SWA fails but only with GPU, not TPU =(
But maybe that's because I haven't initialised the TPUs correctly...

[code]

Returns `TypeError: apply_gradients() got an unexpected keyword argument 'experimental_aggregate_gradients'`

[2020-09-07 10:50] bhack commented on #2146
@grofte For this second issue what TFA version are you trying to use? Cause probably was fixed in https://github.com/tensorflow/addons/pull/2137

[2020-09-07 10:55] bhack commented on #2146
Instead for the first issue as some of the backbone variables are not trainable is it not like `optimizer.assign_average_vars(model.trainable_weights)`?

[2020-09-07 11:25] bhack commented on #2152
Is http://www.jcuda.org/jcuda/jcusolver/doc/jcuda/jcusolver/cusolverStatus.html#CUSOLVER_STATUS_INTERNAL_ERROR

[2020-09-07 11:33] bhack commented on #2145
/cc @dynamicwebpaige @tanzhenyu is this in your internal roadmap?

[2020-09-07 11:36] grofte commented on #2146
@bhack You are absolutely right. If I install `tfa-nightly` instead (and make extra sure that I remember to restart the session) and then assign to `model.trainable_weights` instead of `model.variables` it runs without any errors.

Why the switch from `.variables` to `weights` though? Intuitively, I would have said that it should have been `.trainable_variables`.

@shreyashpatodia It seems that yo

[2020-09-07 11:39] bhack commented on #2146
@grofte It was a typo if you see the comment was edited but too late.

[2020-09-07 11:42] grofte commented on #2146
I've set up a watch on new releases and look forward to adding it into my code.

Thanks for the help!

[2020-09-07 11:42] #2146 closed

[2020-09-07 17:18] tanzhenyu commented on #2150
This seems to be something we could ask user to subclass?

[2020-09-07 17:21] tanzhenyu commented on #2145
This seems like a generic & experimental technique which  it might be best to host in addons. (so it's not specific to cv or nlp)

[2020-09-07 17:23] bhack commented on #2145
@tanzhenyu An so I suppose also not in Keras standalone/tf.keras right?

[2020-09-07 17:25] tanzhenyu commented on #2145
That is correct. If this becomes successful, we should help move it from addons to tf.keras.

[2020-09-07 17:33] g0lemXIV commented on #2145
@bhack, @tanzhenyu Thank You for the response, can I start to implement it in TensorFlow addons and test its performances?

[2020-09-07 17:35] bhack commented on #2145
@g0lemXIV Is there any reference impl?

[2020-09-07 19:12] g0lemXIV commented on #2145
@bhack I couldn't find any... It seems authors didn't share an implementation in any framework.

[2020-09-07 19:20] bhack commented on #2145
I think that we need to wait for a sponsor to review e co-maintain this feature. /cc @seanpmorgan

[2020-09-08 00:10] saberkun commented on #2150
@parmarsuraj99 Thanks!

A bit more concrete idea of subclassing.
There are many innovations about how attention is computed.
Thus, we are trying to have the keras MultiHeadAttention layer being subclassed:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/multi_head_attention.py#L399
A few variants of attention can be accomplished by overriding the compute_attenti

[2020-09-08 06:40] grofte commented on #2037
@shreyashpatodia This needs a bit of attention though. I think it's mostly just copying over what I wrote in the modified notebook and checking that it's okay.

And maybe changing `model.variables` to `model.trainable_variables`. I don't know if there's ever an application where you wouldn't want to use `model.trainable_variables`?

[2020-09-08 06:53] zhuimeng999 commented on #2152
the return code 7 is an impossible status for cusolverDnCreate (https://docs.nvidia.com/cuda/cusolver/index.html#cuSolverDNcreate), there may be some stack broken, and seems not addons bug, so i will not bother you any more

[2020-09-08 06:53] #2152 closed

[2020-09-08 12:39] bhack commented on #2143
@seanpmorgan Let me know if you see a margin for a documentation PR or if we could close this.
I don't think that the codowner is available.

[2020-09-08 16:30] parmarsuraj99 commented on #2150
Thanks

This is exactly what I was referring to implement.
Subclassing MultiHeadAttention and flexible attention computation.

[2020-09-09 21:26] sarim-zafar commented on #1017
Any update on this?

[2020-09-10 02:21] seanpmorgan commented on #2145
Yeah I would agree to co-maintain this feature. Will want to benchmark it for performance / accuracy vs. dropout as is done in the paper. Please proceed with a PR @g0lemXIV

[2020-09-10 02:25] #1318 closed

[2020-09-10 02:45] seanpmorgan commented on #2150
Given the feedback from TF team, if you would like to submit and maintain a PR for subclassing the Keras MHA that would be okay to proceed.

[2020-09-10 03:05] seanpmorgan commented on #1780
Per https://github.com/tensorflow/addons/pull/2156 migrations will now be handled by core TF and Keras team members to make the migration process more managable.

[2020-09-10 03:05] #1780 closed

[2020-09-10 03:05] seanpmorgan commented on #430
Closing this as it's quite stale. Per https://github.com/tensorflow/addons/pull/2156 migrations will now be handled by core TF and Keras team members.

[2020-09-10 03:05] #430 closed

[2020-09-10 13:04] guillaumekln commented on #2087
Let's close this issue as @abhishek-niranjan shared a good way to that. @StarWang Feel free to reopen if you think something is missing to properly tune the beam width.

[2020-09-10 13:04] #2087 closed

[2020-09-10 17:21] StarWang commented on #2087
Thanks all. I'll update this once I come across related issue.

[2020-09-11 05:25] bhack commented on #2107
Can you open a PR? Thanks

[2020-09-11 06:18] abhishek-niranjan commented on #2150
@seanpmorgan  I'd like to contribute to this too.  @parmarsuraj99 let me know if you'd like to work on it together?

[2020-09-11 06:55] parmarsuraj99 commented on #2150
@abhishek-niranjan Sure. I'd really love to collaborate

[2020-09-11 07:44] guillaumekln commented on #1915
The PR has been merged, thanks @abhishek-niranjan! Of course it could always be improved and simplified but I think that the main point has been addressed.

[2020-09-11 07:44] #1915 closed

[2020-09-11 12:25] Harsh188 commented on #337
Hey @seanpmorgan

I'd love to help out! I read through the long history of #22 #314 #377 #1733 and #1999. I'm familiarizing myself with `layers/crf.py`. If I'm not mistaken the objective is to build examples and develop user-friendly documentation for `crf.py`?

[2020-09-11 12:37] bhack commented on #337
@Harsh188 yes

[2020-09-11 16:25] Harsh188 commented on #337
Great! I'm gonna get started on that as soon as I can. I've noticed that It's not listed in the documentation how do I enable that? @bhack

[2020-09-13 03:10] WindQAQ opened #2161 "Refactor docs directory"
Per comment https://github.com/tensorflow/addons/pull/2160#discussion_r487230647, better to move these stuff out of `docs`.

- [ ] Move build tools to `tools/docs`
- [ ] Modify related documentation

[2020-09-13 17:15] kechan commented on #265
To @ogreyesp and others who are interested in AUC in a multiclass prediction task (i.e. softmax as model final output).
I am also running in this scenario. I am not exactly sure what tk kera metrics of AUC is computing in this scenario. If someone can read the code and summary, that will be great. Or just test it out with simple case. I find a conceptual extension from binary case to multiclass ca

[2020-09-14 19:07] souradeepmajumdar05 commented on #2132
can i take this up?

[2020-09-14 19:08] souradeepmajumdar05 commented on #2122
can i take this up?

[2020-09-14 19:09] souradeepmajumdar05 commented on #2161
can i take this up?

[2020-09-14 23:15] WindQAQ commented on #2122
Of course! But probably not now. `tf.nn.gelu` and `tf.keras.layers.MultiHeadAttention` will be shipped in TF2.4. We will pin to TF2.4 rc version once it releases so we can deprecate `gelu` and `MultiHeadAttention` at that time.

[2020-09-15 17:14] #2127 closed

[2020-09-15 19:29] hp77-creator commented on #2161
@seanpmorgan there seems to be two tasks in this issue, You can assign both of us one task or howsoever you deem fit. I would also like to work on this.

[2020-09-16 04:25] seanpmorgan commented on #2132
Hi @souradeepmajumdar05 it's currently being handled in https://github.com/tensorflow/addons/pull/2162 . Please feel free to ask in our issues though we're always looking for help!

[2020-09-16 04:27] seanpmorgan commented on #2161
Hi @hp77-creator the two tasks should probably be done in the same PR. Since you've started with #2167 please feel free to add another commit on that branch

[2020-09-16 04:39] seanpmorgan commented on #337
Hi @Harsh188 apologies for misunderstanding, what is not listed in the documentation?

[2020-09-16 15:05] Harsh188 commented on #337
@seanpmorgan Ignore that message. Can you assign this issue to me? I've started to work on it.

[2020-09-16 18:52] hp77-creator commented on #2161
Hi @seanpmorgan, I am not sure as to what I have to do in the documentation. Can you specify what I should write? I also reviewed the failed check of my pull request, there it said
[code]
So should I keep a copy of build_docs.py in docs to pass this check or do I have to modify any tests too?

[2020-09-16 23:51] #2032 closed

[2020-09-17 03:57] Harsh188 commented on #2161
@hp77-creator you have to remove `build_docs.py` from [`BUILD`](https://github.com/tensorflow/addons/blob/master/docs/BUILD#L12). You would also have to update the `README.md` to reflect your changes.

[2020-09-17 15:22] hp77-creator commented on #2161
@Harsh188 Removing build_docs.py from BUILD is leading to more fails in CI tests. I tried with updating readme with the correct paths but still of no use. Can you have a look at the PR?

[2020-09-17 15:33] acidtonic opened #2170 "How about we stop deprecating everything every other release...."
I can't believe how terrible the experience is using these tools.

It seems the whole process is playing jigsaw puzzle games trying to line up all the versions so that *something*, anything works.

* We are sorry but your original working tensorflow code for training is being moved to generic tf.slim for generic training.
* We are sorry but your changed code using generic tf.slim was not specific

[2020-09-17 15:47] bhack commented on #2170
/cc @karmel @dynamicwebpaige

[2020-09-17 16:00] seanpmorgan commented on #2170
Please take this type of complaint to the core TF repo (I suggest you re-word it to be more constructive though). This is a community maintained repo and we do not make decisions on just about all of the complaints you raised.

FWIW There is no released TF 2.4, and TF-Addons has a compatible version for all TF 2.x pip packages:
https://github.com/tensorflow/addons#python-op-compatility

We do supp

[2020-09-17 16:00] #2170 closed

[2020-09-17 16:16] acidtonic commented on #2170
This comment is deprecated, please rewrite in the manner desired and post to the main topic

;)

[2020-09-17 18:04] #607 closed

[2020-09-17 18:38] bhack commented on #2170
@acidtonic Partially I can understand your frustration and maybe you speaks in a "passionate mood" also because you have invested a lot of time/projects relying on the TF library/ecosystem.
But honestly this in not in the perimeter of Tensorflow Addons cause this SIG repository is maintained only by volunteers on their spare time.
As you probably know in the opensource volunteers perimeter project

[2020-09-17 18:46] acidtonic commented on #2170
I logged an issue on the main tensorflow site. I'm sure they will bounce me around to log it somewhere else eventually.

[2020-09-18 22:35] #2161 closed

[2020-09-19 19:10] bhack commented on #2004
Focal loss now is at https://github.com/tensorflow/models/blob/master/official/vision/keras_cv/losses/focal_loss.py

[2020-09-19 22:50] tanzhenyu commented on #2004
Thanks @AakashKumarNain . I don't have access to the colab. We do provided a keras_cv focal loss. Let us know if the implementation serves your need.

[2020-09-20 15:56] JotaRodriguez94 commented on #680
Hi @matthen, I have the same problem now, could you solve it? I would be very grateful...

[2020-09-20 17:19] AakashKumarNain commented on #2004
Thanks @tanzhenyu . The implementation is good but I have one concern. This loss should be included in core keras because:
1. It is not limited to object detection or computer vision only. Anything that involves cross-entropy loss can leverage focal loss as well. Including it in a `cv` specific package sends a message that it works only for CV which isn't true.
2. Focal loss was introduced in 2017

[2020-09-22 10:37] bhack opened #2174 "Enable AsciiMath support"
**Describe the feature and the current behavior/state.**
It would be nice to get Ascimath support in docstring to have source code level math readibility and Matjax rendering in Docs
**Relevant information**
http://docs.mathjax.org/en/latest/basic/mathematics.html#asciimath-input

**Which API type would this fall under (layer, metric, optimizer, etc.)**
Docs
**Any other info.**
I don't know if we

[2020-09-22 13:43] Harsh188 commented on #2174
I'd like to help out with this :)

[2020-09-22 17:04] lamberta commented on #2174
Hmm. Backticks for MathJax would seem to conflict with our code/auto-link format for ref docs. Not sure if it's supported in Colab, yet. And if it requires upgrading our MathJax on the site then that's a long road. cc: @MarkDaoust

[2020-09-22 17:24] MarkDaoust commented on #2174
interesting idea, but +1 to both of @lamberta's points.

1. It would be doing a lot of guessing about what's math vs. what's code.

2. We try to make things uniform between docstrings, MD files and IPYNB files, and we try to make sure things work on github, colab, and tensorflow.org.

So I don't think this is really something we can/should do right now.

[2020-09-22 17:24] #2174 closed

[2020-09-22 21:25] tanguycdls commented on #990
Hi, I'm running into the same issue: I'm trying to use Tensorflow cpu to reduce my docker file weight and now the import yields the same error:
[code]

My only usage of Addons is for AdamW during training and the gelu activation. I know gelu has been moved to TF core: i'll try to use the nightly version and stop using the custom ops from addons.

Thanks,

[2020-09-25 16:00] guillaumelorre28 opened #2178 "Error in MultiOptimizer when layers list are used"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): docker tensorflow
- TensorFlow-Addons version and how it was installed (source or binary): binary
- Is GPU used? (yes/no):

**Describe the bug**

Documentation of MultiOptimizer explains that list of layers can be used but it results in an

[2020-09-25 16:51] bhack commented on #2178
/cc @hyang0129
Yes, also I see only the layers list logic but not the models list.

[2020-09-25 17:09] guillaumelorre28 commented on #2178
I removed this line in the code and it works fine.

https://github.com/tensorflow/addons/blob/c7b867ae6c01e9ac3dbb8c3408f1308b41acfc9b/tensorflow_addons/optimizers/discriminative_layer_training.py#L140

[code]

[2020-09-25 17:13] bhack commented on #2178
The assert part is easy because you need to just add an "or" check that `isinstance` of list and that every element is an `instance` of `layer` or `model`,
But what I see is that is missing the list of models code after the assert.

[2020-09-25 18:14] bhack commented on #2178
I don't know what the original idea was but I've tried to put some fixes at https://github.com/tensorflow/addons/pull/2179

[2020-09-27 03:27] tacho090 commented on #2066
Is help still required for this issue? I'm looking to collaborate

[2020-09-27 03:28] tacho090 commented on #1747
I'm interested in helping. Could you assign this to me please?

[2020-09-27 03:57] WindQAQ commented on #2066
@tacho090 sure, feel free to take any module you want to deal with and request my review :-)

[2020-09-27 15:53] CNOCycle opened #2181 "The meaning of Triangular2CyclicalLearningRate's `step_size` should be clarified"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): None
- TensorFlow version and how it was installed (source or binary): None
- TensorFlow-Addons version and how it was installed (source or binary): None
- Python version: None
- Is GPU used? (yes/no): None

**Describe the bug**

This is a issue about document.

Hi authors,

I suggest that the document about `Cyclica

[2020-09-27 18:42] #2178 closed

[2020-09-28 10:38] AutumnZ-94 commented on #671
BTW, `tf.image.non_max_suppression` performs 20ms slower already than `tf.image.non_max_suppression_with_scores` as I tested.

[2020-09-28 11:17] bhack commented on #2181
/cc @raphaelmeudec

[2020-09-28 22:37] Tetsujinfr commented on #1982
hi
how did you get tfa to work on Jetson pls?
I got the tf2.2 distrib from NVidia using the Jetson GPU and I would like to avoid building it from source. Did you manage to install tfa on top of then NVidia tf distribution?
thanks fr your help

[2020-09-29 01:34] Tetsujinfr commented on #1982
Ok so I misread you initial post and did not edit the BUILD file at the right place.
So for sake of ref, I have edited the BUILD.tpl file under `addons/build_deps/toolchains/gpu/crosstool/` at the right place and the build did work fine.

Modified part of BUILD.tpl:

Thanks or your solution on this, brilliant!

[2020-09-29 01:50] seanpmorgan opened #2183 "Drop Python3.5 Support"
Per SIG Build, python3.5 will not be supported in TF2.4 since it has reached end of life. We should align.

[2020-09-29 01:52] bhack commented on #2183
https://github.com/tensorflow/build/issues/14

[2020-09-29 11:13] abhinavsp0730 opened #2186 "[Feature Request] Natural-Logarithm-Rectified Activation Function"
**Describe the feature and the current behaviour/state.**
I want to implement [Natural-Logarithm-Rectified Activation Function](https://arxiv.org/ftp/arxiv/papers/1908/1908.03682.pdf).
And want NLReLU to be a part of addon's activation function.
Benefits of NLReLU:-
NLReLU retains the sparse activation characteristic of ReLU, but it also alleviates the “dying ReLU” and vanishing gradient problems

[2020-09-29 11:33] bhack commented on #2186
Just a note after more than 1 year I don't see any other paper referencing this work.

[2020-09-29 14:03] AakashKumarNain commented on #2186
Yeah, the number of references are very low

[2020-09-29 14:16] abhinavsp0730 commented on #2186
Thanks @bhack  @AakashKumarNain . So, that means I should close this Issue? And for the future contributions(activation functions, optimizer, loss etc)  I've to also keep in mind no. of references of respective paper?

[2020-09-29 19:03] #1414 closed

[2020-09-30 16:01] bhack commented on #1641
@theadactyl @ewilderj:

https://matrix.org/blog/2020/09/30/welcoming-gitter-to-matrix
https://element.io/blog/gitter-is-joining-element/

[2020-10-01 05:15] AakashKumarNain commented on #2186
Yes, we will close this issue for now. For the future contributions, we will update this point in the `CONTRIBUTING` guide very soon so that the contributors have a clarity about it

[2020-10-01 05:15] #2186 closed

[2020-10-01 05:54] Saqhas commented on #2183
Hi @seanpmorgan
I can take up this task to port any module in python 3.5 to higher version
I think we should aim for python 3.8 as it is latest and has many good features.
What do you say @bhack

[2020-10-02 01:04] reedwm opened #2187 "Make API for custom optimizer wrappers more consistent"
There are several optimizer classes which wrap an existing optimizer and add functionality, but they have slightly different APIs The [Lookahead](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/Lookahead), [MovingAverage](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/MovingAverage), and [SWA](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/SWA)

[2020-10-02 08:24] PhilJd commented on #2187
I don't have a strong opinion on this, as you stated, both approaches have their pros and cons. Note though that I haven't worked with Keras lately, so I'm not familiar with the config/scheduler interface and might miss important points.

I'm guilty of introducing the dynamic subclass approach, to keep the API consistent by having an optimizer class that can be instantiated like all standard optim

[2020-10-02 12:10] bhack commented on #2187
What about the Multioptimizer for the dynamic approach case? https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/discriminative_layer_training.py

[2020-10-02 14:50] alexattia commented on #179
Do you have any news about the progress of this PR and deformable convolutions in TensorFlow?

[2020-10-02 18:17] reedwm commented on #2187
I think the dynamic subclass approach is pretty clean compared to wrapping an optimizer, as it completely emulates the interface of the original optimizer. It's a bit hard to read, but I think it will be easy to maintain. The `DecoupledWeightDecayExtension.from_config` method can be modified to call `super().from_config`, which I think would then make it work even if the base Optimizer changes its

[2020-10-02 18:41] bhack commented on #2187
Cannot we make an hypotesis about extending  `copy_with_decoupled_weight_decay` to handle also the input types that already handle the Multioptimizer?
It is a little bit true that It could be a special case but at the end other then "special inputs" we just overide/wrap `apply_gradients`. So anyhting so special.

[2020-10-02 19:02] reedwm commented on #2187
By "special inputs" do you mean to have `copy_with_decoupled_weight_decay` also allow a list of (optimizer, layers) pairs to be passed, like as `MultiOptimizer.__init__`, instead of the single optimizer? The issue with doing that is that `copy_with_decoupled_weight_decay` would create a dynamic subclass that subclasses from the original optimizer's class. But if there are multiple original optimiz

[2020-10-02 19:28] bhack commented on #2187
For "special inputs" I meant that  but if it is really a "very special case" cannot we dynaically subclass to Multioptimizer directly? Or we could have other more general use cases for this kind of inputs?

[2020-10-02 19:54] reedwm commented on #2187
Multioptimizer cannot be implemented as a dynamic subclass. Since what would its superclasses be? We have multiple original optimizers for Multioptimizer, but we cannot subclass all of them, just one.

I don't think its worth having a general use case for wrapping multiple optimizers, as in Multioptimizer, since it isn't very common. There are many wrapper-like classes that wrap just one optimizer

[2020-10-02 21:16] bhack commented on #2187
For the second part ok It could be just an evaluation about that multioptimizer will be  really the only case to handle this kind of inputs or that It Is just different cause It Is only a router on optimizers/layers.

But for the first part probably I don't understand what `copy_with_decoupled_weight_decay` will return for other optimizers?

    I think that the base class for Multioptimizer is op

[2020-10-02 22:00] reedwm commented on #2187
I think its feasible to maintain Multioptimizer as is. If we wish to implement more optimizers that wrap multiple optimizers, we can create a generic MultiOptimizerWrapper that could be used for all of them.

`copy_with_decoupled_weight_decay` would roughly look like this (the example uses DecoupledWeightDecayExtension which is defined [here](https://github.com/tensorflow/addons/blob/07ed7acb047c3

[2020-10-05 10:27] MrGeva commented on #990
Building the addons from sources fixed it for me on TF 2.2 (installed with pip).
I followed the CPU custom ops instructions at:
https://github.com/tensorflow/addons/tree/master#cpu-custom-ops

[2020-10-06 01:47] seanpmorgan commented on #2183
Hi @Saqhas. So there should be no need to port anything as code is already built against py3.5, 3.6, 3.7, and 3.8:
https://github.com/tensorflow/addons/blob/master/.github/workflows/release.yml#L42

This more or less just involves dropping py3.5 from all of our build matrices. We could however use some py3.6+ features like f-strings though.

[2020-10-06 01:51] seanpmorgan opened #2188 "Build binaries for python3.9"
**Describe the feature and the current behavior/state.**

Py39 is out but we need to wait for core TF to support it first. We should quickly follow.

[2020-10-06 22:23] WindQAQ commented on #2122
Another thought is that we can bump our major version to 1.0.0. We can finalize our optimizer API consistency in the next major version as well.

https://github.com/tensorflow/addons/issues/2187

[2020-10-07 02:41] Harsh188 commented on #2188
Would like to help out!

[2020-10-07 07:49] pritam-dey3 opened #2193 "Using tfa.seq2seq.BeamSearchDecoder with transformer architecture."
**Describe the feature and the current behavior/state.**
I am new to deep learning and tensorflow and recently I created a model similar to the [transformer model](https://www.tensorflow.org/tutorials/text/transformer) tutorial. Although the tutorial used a greedy decoder, I wanted to use beam search with the model. I came across [this tool](https://www.tensorflow.org/addons/api_docs/python/tfa/se

[2020-10-07 08:06] guillaumekln commented on #2193
The `cell` argument of the `tfa.seq2seq.BeamSearchDecoder` constructor should be a layer with the same interface as a [`tf.keras.layers.AbstractRNNCell`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/AbstractRNNCell). It should be possible to adapt or wrap any decoder (including the Transformer decoder) to implement this interface. Can you look into that?

You could also look at the [

[2020-10-07 08:53] AakashKumarNain opened #2194 "Guidelines for new contributions"
New contributions are always welcome. However, ML is a rapidly changing field. There are hundreds of papers being published on `arXiv` everyday. With so many papers coming out, we expect new things that aren't readily available in the `core` and people would be wiling to contribute to `addons`.

From the perspective of an end user, it makes sense that `addons` incorporate new contributions as much

[2020-10-07 09:07] bhack commented on #2194
We partially talked about this on the upstreaming treshold at https://github.com/tensorflow/community/issues/239#issuecomment-622952068

[2020-10-07 12:55] Harsh188 commented on #2194
Yep, this is a good idea. A "feature submission" suggestion under the [contribution section](https://github.com/tensorflow/addons/blob/master/README.md#contributing) in `README.md` would be helpful.

[2020-10-07 15:17] AakashKumarNain commented on #2194
Thanks @bhack and @Harsh188 for the feedback.

@bhack should I close this one and continue discussion in that issue or you want to discuss it here only?

[2020-10-07 15:19] AakashKumarNain commented on #2122
@WindQAQ IMO we should refactor the optimizers to be consistent with the new API

[2020-10-07 15:20] bhack commented on #2194
We need to continue here cause that one was closed. We don't handle the upstreaming process anymore on our side.

[2020-10-07 17:38] WindQAQ commented on #2187
Hi @reedwm, thanks for bringing this up. I would prefer option 2. BTW, do you have the timeline that the new loss scale optimizer API will land in OSS TensorFlow? We usually pin to 2.4rc few days after it releases, so we want to have some time to prepare in advance.  If you don't mind, we can discuss or even reveal the designated API here. Thank you!

Gentle ping to @tensorflow/sig-addons-maintain

[2020-10-07 18:02] reedwm commented on #2187
The 2.4 branch is being cut in about two weeks. At that point, we cannot make API changes to TensorFlow anymore, but there will still be a few weeks after that before it is released.

If we do end up creating a helper class like OptimizerWrapper, it will likely not make it to TF 2.4 but instead TF 2.5. Which means TF Addons won't be able to use it until 2.5 is released. But the OptimizerWrapper ca

[2020-10-07 20:46] eraldoluis commented on #817
@jaspersjsun when you say that changing the emission scores could be problematic, you mean theoretically or in terms of the code base?

I'm studying this issue with the intent of implementing some approach (first in AllenNLP, then I could do it in TF as well). I think Lannoy et al.'s approach is theoretically flawed. I mean, I believe it can work in practice, but their theoretical motivation is no

[2020-10-07 21:09] omalleyt12 commented on #2187
Thanks for opening this discussion!

My preference is for option (1). Conceptually, what these optimizers do is "Delegate most logic to a user-provided optimizer (of any class), while adding additional functionality". Composition seems like the best pattern for this.

IMO, option (2) falls too much into the "magic" realm. A few issues I think we'd run into with approach (2) off the top of my head:

[2020-10-07 21:15] omalleyt12 commented on #2187
Also, in context of `Model.fit`, where we auto-wrap the user's optimizer with `LossScalingOptimizer`, only option (1) would work.

Consider this scenario:

[code]

If we created a dynamic subclass in `compile`, then any changes to the `learning_rate` that occurred during the first training run would not be reflected in the second training run, even though the user would expect that they would

[2020-10-07 23:21] reedwm commented on #2187
Hmm you are right the auto-wrapping with `LossScaleOptimizer` works very poorly with `model.compile`, especially if `model.compile` is called multiple times. I think we would have to remove the autowrapping functionality if we go with option (2). I personally think we should remove the autowrapping functionality regardless, but many people disagree so I kept that functionality in the mixed precisi

[2020-10-08 00:00] bhack commented on #2187
Can we try to limit this only to "not used" optimizer?

  ... # define class here

This Is very ugly.. I hope It Is not a real use case.

[2020-10-08 20:09] bhack commented on #2194
Just to collect another resource:
https://paperswithcode.com/methods

[2020-10-08 21:45] #2107 closed

[2020-10-13 23:42] Rocketknight1 opened #2201 "EmbeddingBag and Product-Key Memory Layers"
**Describe the feature and the current behavior/state.**
FAIR have a cool paper where they introduce [Product-Key Memory Layers](https://arxiv.org/abs/1907.05242) - these are layers that can add a huge number of parameters (100M-1B) to a network with a very minimal compute overhead.

Unfortunately, implementing them efficiently depends on the [EmbeddingBag layer](https://pytorch.org/docs/stable/ge

[2020-10-14 05:29] AakashKumarNain commented on #2194
Yeah that's very interesting. Thanks @bhack

cc: @seanpmorgan @WindQAQ what are your thoughts?

[2020-10-14 07:09] bhack commented on #2201
Have you tried to see if the subgraoh could be already fused https://www.tensorflow.org/lite/convert/operation_fusion?hl=en#wrap_the_composite_operation_in_a_tffunction?

It could be nice to have fusion in TF and the layer here.

[2020-10-14 07:12] bhack commented on #2201
Check also https://github.com/tensorflow/tensorflow/issues/32675

[2020-10-14 07:14] bhack commented on #2201
/cc @tanzhenyu @dynamicwebpaige for ecosystem pre-check

[2020-10-15 03:40] seanpmorgan commented on #2194
Great suggestion. We've hinted at it, but never formalized anything as has been mentioned.

Very cool but when I tried the [live version](https://papergraph.dbz.dev/) it wasn't very performant. I think I'd prefer a simple way to determine this, though the tool is super cool / useful

This would be a nice way to offload the decision, a bit concerned about highly cited things being turned down if no

[2020-10-15 12:07] Rocketknight1 commented on #2201
No problem! Also, one question - although I'm suggesting this as a PR for tf/addons, I'd ideally like to get it into TF itself, since it's already an op in Pytorch and there are a few Transformer derivatives that are using it, which as a result can't be fully implemented in TF.

Is going via tf/addons the right way to do this?

[2020-10-15 13:30] bhack commented on #2201
Yes there Is any specific protocol on which repository to start a FR but in Addons when we receive a feature contribution issue proposal we tag the issue as ecosystem-review to check if TF core, keras-cv, keras-nlp, model garden or any other ecosystem repo Is already working internally on the same feature or they could be interested to have the PR in their repo.

[2020-10-15 18:23] bhack commented on #2183
https://github.com/tensorflow/tensorflow/commit/df6a423036492c10de26b33b0f5a7bbff51b95ec

[2020-10-16 16:07] AakashKumarNain commented on #2194
Yes. We need to do this. We can use `paperswithcode` and `Google Scholar` to track the number of citations easily. The count, though, has to be decided on the contributions made in the past and the learning from them

[2020-10-16 16:13] bhack commented on #2194
This Is really about define a treshold policy. With a citation only metric we will probably exclude proposal on tops like: http://www.arxiv-sanity.com/top and http://www.arxiv-sanity.com/toptwtr

[2020-10-16 21:45] hyang0129 commented on #2187
So from what I can tell, the goal here is to make optimizer wrappers better by addressing two issues.

1. When minimizing, the optimizer wrapper's method or optimizer's method is not called
2. When serializing and de-serializing, the wrapped optimizer must be restored correctly.

I think we can look at an alternative approach by standardizing what optimizer wrappers are allowed to do.

From what I

[2020-10-16 21:56] hyang0129 commented on #2187
Also, if we use method 2 of subclassing, we will never be able to wrap twice. This is because subclassing overrides the apply_gradients method so doing it twice will give you the most recent wrapper.

If we use method 1, we can wrap twice, because wrapper 1 calls apply gradients of wrapper 2 that calls apply gradients of the optimizer. Each wrapper does its pre/post apply behaviors before passing

[2020-10-16 22:15] hyang0129 commented on #992
I could try designing a common test for optimizers.

If I understand correctly, all subclasses of optimizers should have common behaviors (eg. applies gradients, serializes, etc). So given these common behaviours, we could have a test that identifies all the classes in the optimizers subpackage and tests them the same way.

For example, we get a list of optimizers, instantiate them with default pa

[2020-10-17 13:40] TimbusCalin opened #2203 "Add AdaBelief optimizer [https://arxiv.org/abs/2010.07468]"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no): no
- Are you willing to maintain it going forward? (yes/no): no
- Is there a relevant academic paper?  https://arxiv.org/abs/2010.07468
- Is there already an implementation in another framework? https://github.com/juntang-zhuang/Adabelief-Optimizer
- Was it part of tf.con

[2020-10-17 13:45] AakashKumarNain commented on #2194
@bhack yes. But we will make another proposal for these things. Sometimes a method that is very promising takes some time before getting into the limelight or enough  number of citations. In that case, we will go through the relevant paper and a consensus can be taken whether we want to include the new functionality or not. Though this will take much longer to review

[2020-10-17 13:50] AakashKumarNain commented on #2203
Although `Adabelief` looks interesting but we will wait for some time before adding it here. Why? Many optimizers showed improvements over Adam in the past as well but they fail to deliver that performance when tested on wide variety of datasets. Once we get more insights about the performance, we will start the process of adding it to addons with a PR

[2020-10-17 14:04] TimbusCalin commented on #2203
Yes, I agree with your statement.

[2020-10-17 14:19] bhack commented on #2194
In that case having an official reference implementation it will have its weight in the evaluation.

[2020-10-17 14:23] bhack commented on #2203
Yes see a recent work like https://arxiv.org/abs/2007.01547

[2020-10-17 22:49] Rocketknight1 commented on #2201
Cool! Also, if we do include it as a PR to either tf core or addons, I propose naming it anything except "EmbeddingBag". "gather_sum" or "gather_reduce_sum" are much clearer about what it actually is.

[2020-10-18 03:04] seanpmorgan commented on #992
That would be great!  I really like the idea of the test finding and testing all optimizers, but want to make sure the test case has a good UX when reading the test logs (e.g if we could utilize pytest parameterize that'd be great.) Feel free to open a PR and we can iterate on how we enforce the test.

[2020-10-18 11:28] tessanix opened #2207 "Need more informations to use seq2seq objects"
Hello!
I'm trying to build an encoder-decoder model using attention mechanism with tensorflow.
I'm using tensorflow_addons repository trying to reproduce and understand this model :  https://www.tensorflow.org/addons/tutorials/networks_seq2seq_nmt

Unfortunately there are not enough documentation on ```BasicDecoder```, ```Sampler``` and ```AttentionWrapper``` objects for me to use them perfectly.

[2020-10-18 17:05] #2183 closed

[2020-10-19 09:19] guillaumekln commented on #2207
Hi,

You can find a complete example in the [README](https://github.com/tensorflow/addons/tree/v0.11.2/tensorflow_addons/seq2seq#decoder-with-attention) of the seq2seq module (see the second code block, which mentions "TF 2.0, new style").

Also, the [tests](https://github.com/tensorflow/addons/tree/v0.11.2/tensorflow_addons/seq2seq/tests) are usually a good place to find additional examples. For

[2020-10-20 06:35] JosepHuang913 commented on #1982
Hi @MI-LA01

I am trying to build tensorflow-addons-0.7.1 on Jetson nano but in vain.
I have installed bazel-3.6.0 on Jetson nano.
The SDK version is JetPack-4.4, tensorflow is 2.1.0
CUDA version: 10.2
CUDNN version: 8

When I  run ./config.sh, it shows

Configuring TensorFlow Addons to be built from source...
fatal: not a git repository (or any of the parent directories): .git

Traceback (most re

[2020-10-20 07:21] tessanix commented on #2207
thanks for your answer but I already have a training part in my model. I was searching about the test/inference part if i don't use GreedyEmbeddingSampler(). And these links does not explain what is the purpose of Sampler object.

[2020-10-20 10:10] Tetsujinfr commented on #1982
Hi. In your error msg it says "ImportError`: No module named tensorflow` so I think you need to install Tensorflow properly first, or make sure tensforflow is availaible to your virtual environment if you are using one.

[2020-10-20 10:53] bhack commented on #1982
https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform/index.html

[2020-10-20 12:04] JosepHuang913 commented on #1982
In fact, I have installed tensorflow-gpu-2.1.0 on Jetson nano with JetPack-4.4 according to the link provided by @bhack. I also re-installed pip3 but still got the error message “ ImportError: No module named pip._internal.req”. Should I down-grade to JetPack-4.3? I didn’t use virtual environment.

[2020-10-20 12:13] bhack commented on #1982
I think you have problem with pip. Try to force reinstall pip.

[2020-10-20 12:21] JosepHuang913 commented on #1982
Hi @bhack ,

I have force reinstalled pip by using the command:

curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
python3 get-pip.py --force-reinstall

The version of pip3 is up-to-date, however, I still got the error message.

[2020-10-20 12:44] bhack commented on #1982
Can you try in python:
[code]

[2020-10-20 22:04] hyang0129 commented on #992
@seanpmorgan could you take a look at #2208

[2020-10-21 01:06] JosepHuang913 commented on #1982
Hi @bhack

This is the result. The parse_requirements module is imported successfully. Do you have any comment?

joseph@jetson-nano:~/Download/addons-0.7.1$ python3
Python 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

2020-10-21 09:04:18.396359: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Succ

[2020-10-21 01:08] bhack commented on #1982
What Is the error now?

[2020-10-21 01:14] JosepHuang913 commented on #1982
There is not any error massage.

[2020-10-21 01:17] Tetsujinfr commented on #1982
I guess, what is the error msg when you try to build tf addons with ./config.sh ?

[2020-10-21 01:22] JosepHuang913 commented on #1982
The error messages remain the same.

[2020-10-21 01:24] bhack commented on #1982
“ ImportError: No module named pip._internal.req”

[2020-10-21 01:28] JosepHuang913 commented on #1982
When I import parse_requirements from pip._internal.req in python3 environment, there is not any error message.
When I run ./configure.sh, I got ImportError: No module named pip._internal.req

[2020-10-21 01:38] bhack commented on #1982
Can you configure in the same python3 env?

[2020-10-21 02:50] JosepHuang913 commented on #1982
Hi @bhack ,

Thanks a lot. I have found the problem. The configure.sh of tensorflow-addons uses python-2.7 instead of python-3.6. Thus, I got the error messages.

joseph@jetson-nano:~/Download/addons-0.7.1$ python
Python 2.7.17 (default, Sep 30 2020, 13:38:04)
[GCC 7.5.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.
\>>> import tensorflow as tf
Traceback (most r

[2020-10-21 03:18] JosepHuang913 commented on #1982
Hi @bhack ,

I use the command to solve this problem.
ln -s /usr/bin/python3.6 /usr/bin/python

Then I met new problems.
What does "fatal: not a git repository (or any of the parent directories): .git" mean?

When the configure process successfully done, I run the following command:
bazel build --enable_runfiles build_pip_pkg
and got these new error messages:

joseph@jetson-nano:~/Download/addons-

[2020-10-21 03:52] JosepHuang913 commented on #1982
What does TF_NEED_CUDA="1" mean?
If I set TF_NEED_CUDA="0", does that mean I can't use my GPU with tensorflow-addons?

[2020-10-21 08:48] bhack commented on #1982
Yes the problem seems that It cannot find Cudnn files in your system

[2020-10-21 16:57] hyang0129 commented on #958
Can we close this issue?

[2020-10-21 16:57] #958 closed

[2020-10-22 01:00] JosepHuang913 commented on #1982
Hi @MI-LA01 ,

Do you have any suggestion?

[2020-10-22 06:38] MI-LA01 commented on #1982
No, I don't really have suggestions. Cudnn is required which make obviously sense.

However, This is the way i fixed the things (was for YoloV4) :
![tfa](https://user-images.githubusercontent.com/197890/96834102-54016100-1439-11eb-98a4-3ed791f9fed8.jpg)

Good luck!

[2020-10-22 08:31] JosepHuang913 commented on #1982
Hi @MI-LA01 ,

Thanks a lot for you help. I have built and installed tensorflow-addons successfully. However, when I import tensorflow-addons, I got the following error message. Do you have any idea about what's wrong?

joseph@Jetson-Nano:~/Downloads/addons$ python
Python 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more informati

[2020-10-22 09:04] MI-LA01 commented on #1982
No. I just understand the `/home/joseph/Downloads/addons/tensorflow_addons/custom_ops/activations/_activation_ops.so` was not found. What I would do, ensure the dynamic lib `_activation_ops.so` is present somewhere in your filesystem as a first step. If not, something went wrong during the compilation.

[2020-10-22 09:12] bhack commented on #1982
You could require to use https://github.com/tensorflow/addons/blob/master/tools/install_so_files.sh

Check https://github.com/tensorflow/addons/pull/1909 /cc @seanpmorgan

[2020-10-22 09:23] Jaydeemourg opened #2210 "TypeError, while creating timeseries windows for training and validation data in TFX"
I'm using TensorFlow version: 2.3.1 and TFX version: 0.24.1.

I am developing machine learning workflow for timeseries using TFX. The ExampleGen, StatisticsGen, SchemaGen and Example validator and transform components worked fine. In the Trainer component, i used the tf.keras.preprocessing.timeseries_dataset_from_array API within the run_fn() of the Trainer component to generate the train and eval

[2020-10-22 09:26] bhack commented on #2210
Are you using Tensorflow addons features?

[2020-10-22 18:44] phsyron commented on #2207
Am I insane, or is there a fundamental problem with the 2.0 interface, in that the Decoder.call function requires the input? Shouldn't, by definition, the input to the decoder not be known? In the README, the input is just a variable `decoder_inputs` that never gets defined, and the seq2seq shows needing to manually `initialize()` and `step()` through the network for evaluation, which doesn't seem

[2020-10-22 19:56] guillaumekln commented on #2207
@tessanix `Sampler` objects sample word IDs from the output distribution (e.g. using `argmax`) and produce the input vector for the next decoding step.
In your case, how would you produce the input vector from the predicted word ID without using an embedding layer?

@phsyron Usually you don't need to manually call `initialize` and `step` unless you need to implement a custom decoding loop. It seem

[2020-10-22 20:06] phsyron commented on #2207
@guillaumekln that's closer to what I was expecting in terms of behavior, except (1) that seem to also be completely undocumented, and that example is also passing an undefined `embedding_decoder` as the first argument to `call()`, and (2) I don't want to do beamsearch decoding (unless we mean different things by this term, again no indication of what this class does).

is there any way to just pa

[2020-10-23 08:47] JosepHuang913 commented on #1982
Hi @bhack ,

Thanks a lot. I have installed tensorflow-addons on Jetson nano successfully.

[2020-10-23 10:23] dathudeptrai opened #2211 "Missing `experimental_aggregate_gradients` parameter in `tfa.optimizers.MovingAverage` when mixed_precision enable"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.3 binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2 binary
- Python version:
- Is GPU used? (yes/no): yes

**Describe the bug**

Missing `experimental_aggregate_gradients` parameter in `tfa.optimizers

[2020-10-23 10:28] dathudeptrai commented on #2211
sorry, it's fixed in nightly version :D.

[2020-10-23 10:28] #2211 closed

[2020-10-23 10:53] guillaumekln commented on #2207
The usage is similar. Here is a small example using a `BasicDecoder` to run greedy search:

[code]

We pass `None` as the input because we don't know the full input as you mentioned.

I agree that the documentation should be completed...

[2020-10-23 15:27] RobeeF commented on #1373
Still have the problem after updating the package with the last version...

[2020-10-23 17:14] phsyron commented on #2207
I feel like maybe we're imagining completely different use cases for this. I'm imagining a model that I can pass a `thought vector' (i.e. initial state) to, and have it create a sequence as output. This means I have an initial_state coming from an Input layer. SInce this is symbolic, I can't pass None as the "input" to BasicDecoder, since keras `Layer.__call__` raises a ValueError if it gets some

[2020-10-24 04:38] dathudeptrai opened #2217 "missing `exclude_from_weight_decay` in AdamW"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): binary 2.3
- TensorFlow-Addons version and how it was installed (source or binary): binary nightly
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Describe the bug**

seem `exclude_from_weight_decay` is missed in `tfa.optimizers.Adam

[2020-10-24 09:28] bhack commented on #2217
https://github.com/tensorflow/addons/issues/1903

[2020-10-24 09:30] #2217 closed

[2020-10-24 09:46] dathudeptrai commented on #1903
@bhack will support ?

[2020-10-24 10:10] failure-to-thrive commented on #2194
Why not to put a simple voting system? In the end of the day, it's all about implementation in TFA. Something cited doesn't necessary imply eagering to utilize it [in TF/TFA/whatever]. Although the same issue with threshold. :smile:  Maybe some % of active users?

[2020-10-24 10:17] bhack commented on #1903
/cc @philjd

[2020-10-24 10:49] bhack commented on #1903
We had this in https://github.com/tensorflow/models/blob/master/official/nlp/optimization.py#L112

[2020-10-24 10:50] PhilJd commented on #1903
@MHStadler is right, decay_var_list serves exactly this purpose, the only difference is that you'd have to specify which variables should be decayed instead of which should be excluded.
The base minimize calls the `apply_*` functions which resolve to the ones the decoupled_weight_decay extension extends. The  apply functions access the decay variables stored as a member variable in `minimize`.

[2020-10-24 11:02] Harsh188 commented on #2194
@failure-to-thrive this could be a feature we could include, but I don't think relying on the opinion of members is an effective evaluation metric. Some users may not have an opinion on a certain implementation or they might bring their personal bias into the voting system. This system might become chaotic for the user's who want to suggest a new feature since they won't be able to determine the r

[2020-10-25 04:08] kennychowdhary commented on #1070
Any luck on the possible solution? Also on a cluster and cannot install cuda in /use/local/cuda?

[2020-10-26 13:44] AakashKumarNain commented on #2194
Thanks @failure-to-thrive for your feedback.

A voting system here would be abused. For example, let's say there is a new optimizer that came out yesterday which claims better results than any other existing optimizer. Any PR related to it would gather a huge number of votes because everyone wants to try out new things. The problem is that papers don't cover enough use cases to prove that whatever

[2020-10-26 17:25] relaxation82 commented on #2194
Having observed and/or contributed in scientific publication process in several disciplines for more than a decade, In my opinion it is generally not worth it to implement anything until it has been widely recognized by the community. Especially so on hot topics like ML.

The most critical single requirement for any article to get trough peer review is that it shows improvement in something, so th

[2020-10-26 20:59] tessanix commented on #2207
Sorry for my late answer...
My input is a vector composed of stock prices data. I understood that embedding layers are useful for map integer vectors to float tensors but in my context, there is no need of mapping to float because stock prices data are already float.

[2020-10-27 18:17] Rocketknight1 commented on #2201
Just gonna bump this to make sure it doesn't get lost

[2020-10-27 18:30] bhack commented on #2201
/cc Gently ping for @tanzhenyu @dynamicwebpaige for ecosystem pre-check

[2020-10-27 19:05] #2210 closed

[2020-10-27 19:10] bhack commented on #2203
TF reference implementation at https://github.com/juntang-zhuang/Adabelief-Optimizer/blob/master/TensorFlow_Experiments/AdaBelief_tf.py

[2020-10-28 18:02] hyang0129 commented on #992
@seanpmorgan please review #2208. It should work well as a standardized test for optimizers.

[2020-10-29 16:15] angadsinghsandhu opened #2220 "Need to better understand Boilerplate Code."
Hey Everyone,

I have been trying to deep-dive into the source code of various `optimizers` .

Quite often I find some methods that I'm having a hard time to understand. (For Example : `_create_slots`, `_resource_apply_dense`, `_prepare_local`,).

Could someone please point me toward where I should look to understand these better? I have also tried looking inside `tf.keras.optimizers.Optimizer` bu

[2020-10-30 02:52] dathudeptrai commented on #2203
Seems that implementation missed many features, hope this optimizer included in tf_addons soon :D.
[code]

[2020-10-30 10:46] Licht-T commented on #179
I've created new PR since the previous PR is stale and contains the unknown license code. I'd like to make this PR reviewed before it gets stale ;-).
https://github.com/tensorflow/addons/issues/179

[2020-10-31 16:46] AdRever opened #2221 "contrib.layers.initializers"
I am currently trying to upgrade a code from tf 1.x to 2.x and I came across the following import:
`from tensorflow.contrib.layers.python.layers.initializers import variance_scaling_initializer`
After reviewing the information regarding tf.comtrib I believe partial contrib.layer were add to add-ons but I don't seem to see it in the add-ons, I would like to know if contrib.layers.initializers is pl

[2020-10-31 17:14] bhack commented on #2221
Are you looking for this one?
https://www.tensorflow.org/api_docs/python/tf/keras/initializers/VarianceScaling

[2020-10-31 17:33] AdRever commented on #2221
It is certainly that. I was looking on the wrong side because it was said that part of contrib.layer were move to add-ons. Thank you I will check out that.

[2020-10-31 17:52] bhack commented on #2221
Ok please close this after your check

[2020-10-31 22:04] #2221 closed

[2020-11-01 21:06] seanpmorgan commented on #992
Leaving this open because this could apply to other subpackages as well. If anyone is interested in this, let's build it out as a task list so we can easily keep track.

[2020-11-01 21:08] seanpmorgan opened #2222 "Nightly windows build is failing due to missing commit datetime"
Our builds are failing due to the windows wheels not getting their commit datetime appended to the whl names:

[code]
https://github.com/tensorflow/addons/runs/1317714967?check_suite_focus=true

[2020-11-01 21:45] seanpmorgan commented on #2222
EDIT --- Actually the full `NIGHTLY_FLAG` is missing for the windows builds. Not sure why this isn't working anymore:
https://github.com/tensorflow/addons/blob/master/.github/workflows/release.yml#L54

Thx @bhack

[2020-11-01 23:01] seanpmorgan commented on #2220
Hi @angadsinghsandhu ! I've found this blog to be helpful:
https://cloudxlab.com/blog/writing-custom-optimizer-in-tensorflow-and-keras/

Also the internal doc strings for keras optimizers have great explanations that are rendered on the website:
https://keras.io/api/optimizers/#core-optimizer-api

Closing this since it isn't quite an Addons issue. If there are further questions I would suggest the

[2020-11-01 23:01] #2220 closed

[2020-11-02 19:31] #2222 closed

[2020-11-03 01:30] hyang0129 commented on #992
@seanpmorgan I'll look into refactoring #2208 sometime this week.

Do you have any recommendations on where the we should put the generalized module testing code? Maybe in test utils?

[2020-11-03 06:12] seanpmorgan commented on #992
Yeah https://github.com/tensorflow/addons/blob/master/tensorflow_addons/utils/test_utils.py would be a good spot. Do you have any thoughts on how to keep separate exclusion lists for each subpackage?

[2020-11-03 07:51] AbrieJCronje commented on #1676
@HauserA Would you mind sharing a colab notebook training a model with tensorflow-addons' tripletSemiHardLoss and the simplest version of your `class TripletDataset` on one of the `tensorflow-datasets` datasets? Any easily downloadable dataset would be great!

Here is example without using your `class TripletDataset` [https://colab.research.google.com/drive/1r04xVKqoSsItQFgXhOJfh-SLYDh-XRR0?usp=sh

[2020-11-03 13:51] hellomotor opened #2228 "WeightNormalization can not be used within tf.while_loop"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- TensorFlow version and how it was installed (source or binary): binary
- TensorFlow-Addons version and how it was installed (source or binary): source
- Python version: 3.74.
- Is GPU used? (yes/no): yes

**Describe the bug**
    When using WeightNormalization within tf.while_loop, the following exception

[2020-11-04 02:51] juntang-zhuang commented on #2203
Hi, we have updated ```adabelief-tf==0.1.0```, which is also available by pip, and supports decoupled weight decay and rectification, and supports Tensorflow>=2.0 and Keras.

[2020-11-04 07:40] g0lemXIV commented on #2145
Hello, sorry that I didn't respond. I've tried to read and implement the paper but I had many errors during the implementation. I think it will be hard to implement their structure in TensorFlow because of the changes in graph structure dynamically. Therefore, I must leave this feature request. Sorry again.

[2020-11-04 08:10] AakashKumarNain commented on #2145
@g0lemXIV you can paste the errors here. Maybe we can help out with that?

[2020-11-06 09:09] xuxingya opened #2231 "CRF crf_fwd_cell caused dtype error with mixed presion training"
**System information**
- Linux Ubuntu 18.04
- Tensorflow 2.2.0 or 2.4.1
- TensorFlow-Addons 0.11.2:
- Python version: 3.7.6
- Is GPU used? (yes/no): yes

**Describe the bug**
I am training a model by mixed precision, where I used `viterbi_sequence, _ = tfa.text.crf_decode(inputs, self.transitions, sequence_lengths)`.
The error below comes even I am sure my inputs are all float32 type:
`InvalidArgu

[2020-11-06 13:35] moha23 opened #2232 "ValueError: All inputs to `ConcreteFunction`s must be Tensors"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu20.04
- TensorFlow version and how it was installed (source or binary): pip
- TensorFlow-Addons version and how it was installed (source or binary): pip
- Python version: 3.6
- Is GPU used? (yes/no): yes, gtx1080Ti
- Tf version 2.1.2 (required for compatibility with another library)
- Tfa version 0.9.1

**Descr

[2020-11-06 16:19] failure-to-thrive commented on #2145
The current developments would be helpful to see, too.

[2020-11-08 20:29] hyang0129 commented on #992
@seanpmorgan I think we should have a separate standard_tests.py in each module's testing folder. This standard tests file defines the tests and the exceptions.

Also, please review #2233

[2020-11-10 10:24] bhack commented on #2203
This Is the first mention of AdaBelief with code:
https://github.com/yuanwei2019/EAdam-optimizer

[2020-11-10 18:51] stephengmatthews opened #2235 "Typo in test_keras_binary_classification_model() name"
This is a minor typo so I'm raising it for the sake of correctness. The function `test_keras_binary_clasasification_model()` should be `test_keras_binary_classification_model()`. I'm just about to submit a PR.

[2020-11-10 20:22] #2235 closed

[2020-11-12 20:56] ngoquanghuy99 commented on #1769
Have you fixed this problem yet?

[2020-11-12 21:13] ngoquanghuy99 opened #2237 "Really need example or docs to implement CRF layer in Tensorflow Keras."
I'm confused about lots of PRs or Issues and I haven't got the solution yet!
Please provide a clear doc or example to deal with it or someone help me to add CRF layer to this BiLSTM network, i'd appreciate it!

[code]

[2020-11-14 23:08] andreacimino commented on #2237
I have been struggling too, it would be nice to have a minimal example.
With the keras-contrib package I was able to make it work without any issues.

[2020-11-14 23:21] bhack commented on #2231
I think that CRF is orphan currently. Do want to help to maintain it? /cc @seanpmorgan

[2020-11-15 07:14] ngoquanghuy99 commented on #2237
I'm not able to add CRF layer by using keras-contrib package (since it was deprecated), though i solved the problem!

[2020-11-15 07:18] andreacimino commented on #2237
Hello,

I tried to follow the the tests provided in the keras addons package, and did not manage to add the layer.
Could you please tell us why you closed the issue?
Could you please post (as mentioned) a very basic way to add a CRF layer to a LSTM (as in the first comment) ? The documentation and the examples are lacking this information.

Thank you.

[2020-11-15 08:00] Harsh188 commented on #2110
Any news on this? TF2.4rc1 to works with CUDA 11.1 on my machine.

[2020-11-15 08:03] Harsh188 commented on #2231
If you are interested please consider checking out #337. I've been trying to create a tutorial for CRF however I'm fairly inexperienced with CRFs and haven't had any positive results so far.

[2020-11-15 08:12] Harsh188 opened #2239 "Docker Installation Guide"
**Describe the Issue**

I think it would be helpful to include a small tutorial under [installation](https://github.com/tensorflow/addons#installation) for using addons with docker. There isn't an addons docker repository under [TensorFlow](https://hub.docker.com/u/tensorflow) in the docker hub.

[2020-11-15 17:27] ngoquanghuy99 commented on #2237
Sorry, i was thinking you'd solve the problem by using 'keras-contrib' package.
As far as i know, it was deprecated last year, [here](https://github.com/keras-team/keras-contrib). They moved it to tensorflow/addons then removed it later. Now everyone sends bunch of pull requests (absolutely confusing).
By the way, my solution is to use [tf2crf](https://github.com/xuxingya/tf2crf)
or this way #1769

[2020-11-16 02:35] Harsh188 commented on #2237
@ngoquanghuy99 If you are interested in helping create a CRF tutorial for addons please consider checking out #337. I've been unsuccessful in implementing CRF for a minimal tutorial since I'm fairly inexperienced with it.

[2020-11-16 05:25] aaronmondal opened #2240 "Set GroupNormalization default `groups` parameter to 32."
Currently, the default `groups` parameter for [`tfa.layers.GroupNormalization`](https://www.tensorflow.org/addons/api_docs/python/tfa/layers/GroupNormalization) is set to 2.

According to the original [Group Normalization paper](https://arxiv.org/abs/1803.08494) it would make more sense to set that default to 32. For reference, here is `Table 3 (top)` from the paper:

| `groups` | 64 | 32 | 16 | 8

[2020-11-18 03:24] #2237 closed

[2020-11-18 11:19] #2240 closed

[2020-11-19 17:58] stephengmatthews opened #2242 "Typos in cohens_kappa.py"
This is a very minor issue but raising an issue here in order to submit a PR immediately after.

Issues:
1. `...tp be...` should be `...to be...` in a comment. See[ L45 in cohens_kappy.py](https://github.com/tensorflow/addons/blob/b13140719a3de5d1354b12cb73940acaa8dd4a79/tensorflow_addons/metrics/cohens_kappa.py#L45).
2. One row of a matrix is not aligned with the other other rows in an example. S

[2020-11-19 21:30] #2242 closed

[2020-11-20 14:19] Harsh188 commented on #2239
I found what I was looking for in [CONTRIBUTING.md](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#run-manually).

[2020-11-20 14:19] #2239 closed

[2020-11-20 14:58] bhack commented on #2232
Thanks for you report, this but I don't think anyone will prepare a 2.1.x cause the policy here is mainly to make this type o release only for security fixes.

[2020-11-20 15:00] bhack commented on #2228
Can you share a very, very minimal but complete "copy and run" example or Colab to reproduce this?

[2020-11-20 15:06] bhack commented on #2201
@tomerk Can you help us to route this Ecosystem review?

[2020-11-20 20:51] tomerk commented on #2201
Checked in w/ @ematejska. The internal TF API owners & oss outreach will start a regular (bi-weekly?) review of PRs marked w/ the ecosystem-review label.

[2020-11-21 12:22] fsx950223 opened #2245 "Remove force trainable condition in AveragedOptimizerWrapper"
**Describe the feature and the current behavior/state.**
Could remove https://github.com/tensorflow/addons/blob/26eb3d2f791a747bd62a8c5227476e04ed9e8e49/tensorflow_addons/optimizers/average_wrapper.py#L126
trainable condition?
Some layers variables are not trainable(such as BatchNormalization moving_variance and moving_mean), I want to add these variables to moving average variables too.
**Relevan

[2020-11-22 21:14] andrekassis opened #2246 "tfa.image.interpolate_spline"
I'm not sure if this is a bug, but when I use this methods with a batch of one sample only, I get different results than what is outputted for larger batches containing the same input. That is, ig I invoke the method on a batch containing sample x only and then repeat with a batch of two samples [x, y], the output fo the same sample x is different in the second run, although the existence of y sho

[2020-11-23 01:15] WindQAQ commented on #2231
Hi @xuxingya, can you provide a runnable example that can give the errors? Thank you!

[2020-11-23 01:47] #1775 closed

[2020-11-23 02:02] #2122 closed

[2020-11-23 02:03] WindQAQ commented on #2245
Yep, I think the optimizer should be trainable ignostic, and it should process all vars in `var_list` passed into it.

[2020-11-23 02:08] xuxingya commented on #2231
This is the runnable example. It's also a CRF Layer implementation.
[code]

[2020-11-23 02:14] #2132 closed

[2020-11-23 05:08] WindQAQ commented on #2246
I would say it shouldn't be the case. Can you provide your example codes to reproduce it? Thank you!

[2020-11-23 06:49] fsx950223 commented on #2245
Current api strongly bound with apply_gradients which is not  flexible. Is it possible to break the rule and update ema via assign_average_vars

[2020-11-23 10:45] fsx950223 commented on #2245
It's not necessary.

[2020-11-23 10:45] #2245 closed

[2020-11-23 12:05] sayakpaul opened #2251 "NotFoundError: /usr/local/lib/python3.6/dist-packages/tensorflow_addons/custom_ops/image/_image_ops.so: undefined symbol"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version and how it was installed (source or binary): 2.3.0
- TensorFlow-Addons version and how it was installed (source or binary):`pip install tensorflow-addons`
- Python version:
- Is GPU used? (yes/no): No

**Describe the bug**

Getting the above-mentioned problem when using the `tfa.image.trans

[2020-11-23 16:06] seanpmorgan commented on #2251
Hi @sayakpaul could you try `!pip install -U tensorflow-addons`. Colab has been quite slow to update:
https://github.com/googlecolab/colabtools/issues/1243

[2020-11-23 16:14] sayakpaul commented on #2251
Sure thing, Sean. I will try it out tomorrow and get back. Thanks!

[2020-11-24 05:19] sayakpaul commented on #2251
That solved it, @seanpmorgan.

[2020-11-24 05:19] #2251 closed

[2020-11-24 22:48] WindQAQ commented on #2231
Hi @xuxingya, I run the codes on `tfa-nightly` without errors. The errors are probably solved in https://github.com/tensorflow/addons/commit/f429133c3b3aa06eb36c77775dcfbef74d8b235e. Can you try again with `tfa-nightly`? Thank you!

[2020-11-24 22:56] WindQAQ commented on #2187
So... How can we get the final conclusion here?

[2020-11-25 02:30] xuxingya commented on #2231
Yes, the tfa-nightly branch solved this by doing dtype conversion in CrfDecodeForwardRnnCell:
[code]
And when running the model, the dtypes are:
[code]
Howerver, according to [this document](https://www.tensorflow.org/guide/mixed_precision), it looks like the computations shoud be in f16 while value kept in f32. I wonder if this change is better:
In crf_decode_forward:
[code]

[2020-11-25 03:15] WindQAQ commented on #2231
Thanks for the clarification! If the computation should be in f16, isn't it more suitable to cast all other tensors to `inputs.dtype` in `call` function?

BTW, currently, the `_transition_params` is a large `Tensor` in `CrfDecodeForwardRnnCell`, do you think it's better to mark it as non-trainable variables via `self.add_weight`? In this way, the `_transition_params` can be automatically casted to

[2020-11-25 05:18] seanpmorgan opened #2252 "Drop GELU for 0.13 release"
https://www.tensorflow.org/api_docs/python/tf/keras/activations/gelu will be available in TF2.4. Deprecation warning is already set for our upcming 0.12 release

[2020-11-26 01:59] xuxingya commented on #2231
When using mixed precision, the output of the tf.layers.RNN here will still be in  float32. I think this is because tf can't apply the mixed pocily to layers not implemented in model.
Waht do you mean by mark the _transition_params as non-trainable variables? Isn't the CRF layer meant to train this?

[2020-11-26 02:45] WindQAQ commented on #2231
Got it! Would you like to submit a PR for it?

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/text/crf.py#L449

Never mind. I just figure out what `CrfDecodeForwardRnnCell` does.

[2020-11-26 03:50] WindQAQ commented on #2232
@moha23 It seems to be a bug in older TF version when you do not wrap the tensor operations inside `tf.keras.layers.Lambda` when using symbolic tensor. You can do that with

[code]

https://colab.research.google.com/drive/1EygYzVK8mizBvQ74cT9w5Fa_Vs3e15Ai?usp=sharing

Let me know if it works well. Thanks you!

[2020-11-26 08:32] fsx950223 opened #2255 "AttributeError: 'TrackableWeightHandler' object has no attribute 'trainable'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow version and how it was installed (source or binary): 2.3.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2
- Python version: 3.6.8
- Is GPU used? (yes/no): yes

**Describe the bug**

```TrackableWeightHandler``` doesn't have trainable and assign attributes but also t

[2020-11-27 04:27] moha23 commented on #2232
Awesome! Thank you for figuring.

[2020-11-27 04:27] #2232 closed

[2020-11-27 13:51] Leslie-Fang commented on #1148
@seanpmorgan Is there anything we can do to enable it? From my knowledge, we just need to add --copt=-march=native in bazel commands. And AXV512 will be enabled if the target supports it.

[2020-11-27 23:25] WindQAQ commented on #2252
@seanpmorgan Shouldn't we maintain the backward compatibility as we're still in 0.x release? Maybe we can discuss to bump the major to 1.x along with the breaking change of optimizers in #2187.

[2020-11-28 05:24] WindQAQ commented on #2255
Thanks for reporting! Per https://github.com/tensorflow/tensorflow/issues/43834#issuecomment-706607049, this should be our issue, though I think `variables` API should return a list of `tf.Variable`. The solution that I can come up with is to replace

https://github.com/tensorflow/addons/blob/8040bcfac4bb1f9df7640e363d86f367d9aa2f9d/tensorflow_addons/optimizers/average_wrapper.py#L106-L113

with a

[2020-11-28 11:32] claverru commented on #2150
How is this going?

[2020-11-29 02:37] fsx950223 commented on #2255
agree

[2020-11-29 11:48] jasonshere opened #2257 "Calculate each row's precision of a matrix"
**tf.keras.metrics.Precision() will calculate the precision at top k, which returns a scalar value even if it's passed matrices as inputs. Is it better if it returns a 1-D tensor when using a 2-D matrix as inputs?**

E.g. tf.keras.metrics.Precision(top_k=3)([[1, 0, 1, 0], [0, 0, 1, 1]], [[0, 0, 1, 0], [0, 0, 1, 1]]) = 0.6666667
I think it's better to return a tensor [0.3333333, 1].

**Relevant inf

[2020-11-29 12:26] failure-to-thrive commented on #1148
@Leslie-Fang _-march=native_ is useful for a local compilation only. It doesn't generate fallbacks.

[2020-11-30 04:51] seanpmorgan opened #2258 "Modify update_release_version to allow multiple TF versions during CI test"
Going forward we'll want to test against multiple (maybe just oldest and newest supported versions) as shown below:
![image](https://user-images.githubusercontent.com/18154355/100569878-4040ea00-3284-11eb-9cba-29a58e42607c.png)
https://github.com/tensorflow/addons/pull/2250/files

This means we'll want to modify https://github.com/tensorflow/addons/blob/master/tools/update_release_version.sh to su

[2020-11-30 08:48] failure-to-thrive commented on #2145
Looks to be quite simple for the Dense layer:
[code]

If stacked, inputs could be sliced too.

Not sure if complementary things such as tf.pad will hurt performance anyway.

[2020-11-30 13:04] bhack commented on #2258
I don't but we could use `last_version` variables?

[2020-12-01 06:46] seanpmorgan commented on #2258
Yeah we should utilize a Min/Max TF variable where possible, but will still need the regex script for documentation

[2020-12-01 06:53] seanpmorgan commented on #2252
So I don't think we **have** to keep backward compatibility while in 0.x verisons, but I do think it's a good idea. Making this one of the 1.0 breaking changes sounds good (will post an issue soon with tasks).

[2020-12-01 09:28] dathudeptrai opened #2260 "Gradient accumulate optimizer"
**Describe the feature and the current behavior/state.**

Hi, I think it's good if someone can support Gradient Accumulate optimizer for this repo, this feature is really helpful for those who train the large model with a low resource such as Bert, etc. The usage should be similar with `tfa.optimizer.SWA`:

[code]

There is an implementation of gradient accumulator but for `custom training loop` r

[2020-12-01 11:39] idanre1 commented on #437
@bionicles I actually quite interested in cahotic activation functions - https://github.com/tensorflow/addons/issues/437#issuecomment-535587510 - Logistic Map
Thanks you very much for this code sharing

I have couple of questions regarding this code snipset.
1. I couldn't find this code in the repo eventually, can you mention the reasons? if this feasibility issues or bad return on investment?
2.

[2020-12-02 19:53] reedwm commented on #2187
Sorry for the late response. In TF 2.4, LossScaleOptimizer is non-experimental and uses Proposal 1 from the original post. This means LossScaleOptimizer wraps another class and does not create a dynamic subclass. It also delegates hyperparameters with `__getattribute__` but not other attributes. This decision was done based on @omalleyt12 feedback on the GitHub issue and internal feedback from @om

[2020-12-03 09:44] bjtho08 opened #2262 "F1Score throws ValueError"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.3.1, from pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2, from pip
- Python version: 3.8.2
- Is GPU used? (yes/no): yes

**Describe the bug**

Adding _F1Score_ to a FCNN model with image input and output, the code fails d

[2020-12-03 14:45] aaronmondal opened #2263 "Remove @tf.function in tfa.image.equalize"
`tfa.image.equalize` uses an internal `scale_channel` function which triggers excessive retracing when using it with datasets and probably in other cases as well. To illustrate this point the code snippet below benchmarks a naive `tf.data` loop once with the current implementation and once with a copy of the code in `tfa.image.equalize` with `@tf.function` removed.

On my machine I get:
[code]

[c

[2020-12-03 16:16] aaronmondal commented on #2252
I just want to mention that there will apparently only be a `gelu` activation in TF 2.4, not a `GELU` layer. So while `tfa.activations.gelu` is the same as `tf.keras.activations.gelu`/`tf.nn.gelu`, we have `tfa.layers.GELU` but no `tf.keras.layers.GELU`.

[2020-12-03 20:03] aaronmondal commented on #2263
The same is true for `tfa.image.translate_xy`.

[2020-12-04 12:46] LucasKirsten opened #2266 "Gradients returning None when using dense image warp"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.3.0-rc1, installed via pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2, installed via pip
- Python version: 3.6.9
- Is GPU used? (yes/no): yes

**Describe the bug**

The gradients returned for all vari

[2020-12-04 22:28] #2266 closed

[2020-12-04 22:29] LucasKirsten commented on #2266
Discovered that the problem was actually on the tf.math.floor operation.

[2020-12-05 15:36] WindQAQ commented on #2263
Just a link to https://github.com/tensorflow/addons/pull/2264. Some discussions there.

[2020-12-06 04:05] WindQAQ commented on #2262
Hi @bjtho08, thanks for reporting the issue. It seems that we only support 2D `y_true` and `y_pred` shaped like `[batch_size, num_classes]`.

[2020-12-06 04:05] WindQAQ opened #2268 "Refactor FBetaScore"
**Describe the feature and the current behavior/state.**

Currently, [FBetaScore](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/metrics/f_scores.py) is not so maintainable and very different from how `tf.keras.metrics.*` handles similar things.

- `tf.keras.metrics.*` uses [metrics_utils.update_confusion_matrix_variables](https://github.com/tensorflow/tensorflow/blob/master/te

[2020-12-06 10:24] AakashKumarNain commented on #2268
The pros of second option make it more preferable

[2020-12-06 11:10] bhack commented on #2268
From the last Keras meeting, as Keras Will go standalone again quite soon reopeing Its own repository I suppose It will be easier to Request some public API switch for the solution  2).

[2020-12-06 20:21] easwica opened #2269 "tfa.text.crf_decode doesn't work after enabling mixed_precision"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina 10.15.6
- TensorFlow version and how it was installed (source or binary): tensorflow==2.1 installed with pip
- TensorFlow-Addons version and how it was installed (source or binary): tensorflow-addons==0.9.1 installed with pip
- Python version: python 3.6.5
- Is GPU used? (yes/no): no

**Describe the bu

[2020-12-07 01:19] WindQAQ commented on #2269
@easwica Thanks for reporting! I believe this is resolved in https://github.com/tensorflow/addons/commit/f429133c3b3aa06eb36c77775dcfbef74d8b235e so can you try `pip install tfa-nightly` to see if the issue still exists.
As per https://github.com/tensorflow/addons/issues/2231, the mixed precision behavior is different from TensorFlow semantics. I'll submit a PR for it.

[2020-12-07 01:22] bhack commented on #2262
@WindQAQ do you k know what kind of F1 impl we have in TF/Model?

[2020-12-07 03:52] WindQAQ opened #2271 "Refactor crf_decode_forward"
**Describe the feature and the current behavior/state.**

Currently, [tfa.text.crf_decode_forward](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/text/crf.py#L467-L492) is designed as

1. Create an RNN cell and pass a loop in variant `transition_params` into constructor.
2. Create an RNN layer and return the output of it.
3. To make `transition_params` serializable, it's conver

[2020-12-07 03:56] WindQAQ commented on #2262
No, but I remember that they asked us if we can migrate F1 score very long time ago. Not sure if there is any follow-up.

[2020-12-07 09:00] easwica commented on #2269
@WindQAQ thank you, I've tried it and it works. However, looks like the result doesn't have the `tf.float16` type, it is still `tf.float32` which is a problem, but at least the main functionality works.

[2020-12-07 09:27] WindQAQ commented on #2269
Yep, there are some issues of TensorFlow mixed precision autocasting so that we cannot really benefit from it. Let's try to improve it.

https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/keras/engine/base_layer.py#L904-L915

[2020-12-07 09:27] #2269 closed

[2020-12-07 11:49] bjtho08 commented on #2262
@WindQAQ yes, I realized over the weekend as I was working on isolating the issue. I made a local copy, where I reshape `y_true` and `y_pred` using `tf.reshape(tf.cast(y_true, self.dtype), [-1, self.num_classes])` and similar for `y_pred`. I was wondering, do you know if it is possible to output several f1 scores to the keras training loop? Currently, if I bypass the `tf.reduce_mean(f1_score)`, th

[2020-12-07 17:17] bhack commented on #2262
Yes at https://github.com/tensorflow/tensorflow/pull/31818

We have also some F1 impl in official/NLP https://github.com/tensorflow/models/search?q=f1

[2020-12-07 17:35] bhack commented on #2262
Also we had an old thread about multi-class precision recall at https://github.com/tensorflow/addons/issues/1753

[2020-12-07 22:49] edend10 opened #2273 "Significant LazyAdam optimizer performance degradation since PR#1988"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Reproducible on Colab
- TensorFlow version and how it was installed (source or binary): TF 2.3.0
- TensorFlow-Addons version and how it was installed (source or binary): TF 0.11.2
- Python version: 3.6.9
- Is GPU used? (yes/no): no (but issue observed on GPU as well)

**Describe the bug**

PR [#1988](https://github.c

[2020-12-08 03:21] #2255 closed

[2020-12-08 03:23] #2231 closed

[2020-12-08 03:24] seanpmorgan commented on #2260
@tomerk please bring this up in ecosystem review, though I don't expect any conflicts. For the future do you need us to tag anyone or is the `ecosystem-review` label sufficient?

[2020-12-08 04:13] #2273 closed

[2020-12-08 07:53] kelvinkoh0308 opened #2275 "tfa.image.translate_xy does not support image with single channel or more than three channel"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow version and how it was installed (source or binary): 2.2
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

tfa.image.translate_xy only works on three-channel image. It will fail when passing a si

[2020-12-08 09:05] bhack commented on #2260
@seanpmorgan https://github.com/tensorflow/tensorflow/issues/32176

[2020-12-08 19:07] JulianRodert opened #2276 "tfa.image.random_cutout random centre locations do not guarantee application of full mask"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary): 2.3.1
- TensorFlow-Addons version and how it was installed (source or binary):0.11.2
- Python version: 3.6
- Is GPU used? (no):

**Description**
The randomly chosen cutout_center_heights and cutout_center_widths can result in the mask not being fully a

[2020-12-08 19:17] bhack commented on #2276
Can you submit a PR?

[2020-12-08 19:20] JulianRodert commented on #2276
Sure, no problem

[2020-12-09 01:32] WindQAQ commented on #2275
I believe we can fix it by changing this line

https://github.com/tensorflow/addons/blob/664762a6b64d1625db24d4c886b2fd07ee8e6ea0/tensorflow_addons/image/utils.py#L135

to

[code]

However, I do encourage you to use `tfa.image.translate` in the next release because we will natively support `fill_value` (`replace` arg for `translate_xy`).

[2020-12-09 02:52] WindQAQ commented on #2262
I'm afraid that it's impossible to do that if you use `model.compile()` && `model.fit()`. There seems that somewhere in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training.py reduces the metrics output. One way I can think about is to write a custom callback and print `{m.name: m.result() for m in self.metrics}`.

https://colab.research.google.com/drive/1G2

[2020-12-09 05:23] #2263 closed

[2020-12-09 14:28] bjtho08 commented on #2262
@WindQAQ I realize this is well beyond the original issue, but  how would you go about using that particular solution for batch-wise updates, like the keras progress bar, without losing the progress bar, of course.

[2020-12-09 23:00] aaronmondal opened #2279 "Reduce nested function definitions via @tf.function"
As already discussed, in #2264 there are some inconsistencies with the usage of `@tf.function` and undesirable nested functions which may cleaned up by using `@tf.function`.

After running `grep -r -n "tf.function" .`, removing `test` files and `README` files I found the following:

[code]
This file was already addressed in #598 by @seanpmorgan, but the PR was closed because it was unclear how to

[2020-12-09 23:24] lsy323 opened #2280 "unexpected starting position on input tensor in CorrelationCost layer"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.0.1
- TensorFlow version and how it was installed (source or binary): 2.3.1 installed from binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2 installed from binary
- Python version: 3.6.5
- Is GPU used? (yes/no): no

**Describe the bug**

In the CorrelationCost layer, the

[2020-12-10 02:36] kelvinkoh0308 commented on #1946
You can get by using the following code

`optimizer._optimizer._decayed_lr(tf.float32)`

[2020-12-10 04:29] #632 closed

[2020-12-10 04:32] seanpmorgan opened #2281 "Build Docs is failing ModuleNotFound: dataclasses"
Appears to be an issue with the installed tensorflow docs api:

https://github.com/tensorflow/addons/pull/2272/checks?check_run_id=1528382740
[code]

Looks like we just install it from master branch:
https://github.com/tensorflow/addons/blob/master/tools/install_deps/doc_requirements.txt
[code]

cc @MarkDaoust @lamberta

[2020-12-10 04:55] lamberta commented on #2281
Hey Sean. Do you know what Python version you're running here? cc: @yashk2810

[2020-12-10 04:57] yashk2810 commented on #2281
I'll fix it.

[2020-12-10 05:06] kelvinkoh0308 opened #2282 "Weight decay is not multiplied with learning rate in DecoupledWeightDecayExtension"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow version and how it was installed (source or binary): Tensorflow 2.2
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2
- Python version: 3.7
- Is GPU used? (yes/no): Yes

**Describe the bug**

Hi, I have some question about the source code of DecoupledWeightDecayExtensi

[2020-12-10 05:09] yashk2810 commented on #2281
Its fixed now. Can you try again?

[2020-12-10 05:13] yashk2810 commented on #2281
I re-ran the build and it works now: https://github.com/tensorflow/addons/pull/2272/checks?check_run_id=1528568696

[2020-12-10 05:31] seanpmorgan commented on #2281
Thanks!

[2020-12-10 05:31] #2281 closed

[2020-12-10 08:51] dathudeptrai commented on #2260
@tomerk @bhack @seanpmorgan any update :D.

[2020-12-10 20:52] vlawhern opened #2283 "Can't save keras model weights when using LayerNormLSTMCell and Eager mode due to non-unique weight names"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): TF 2.2, installed with Anaconda through `conda` package manager
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2, pip install
- Python version: 3.7.6
- Is GPU used? (yes/no): Yes

**Describe the bug**

When u

[2020-12-10 22:22] WindQAQ commented on #2283
Seems that the name of `LayerNormalization` layer does not propagate successfully. Hi @qlzh727, can you confirm if this is a keras upstream issue and is there any workaround on this?

https://colab.research.google.com/drive/1M9BUa8t0ynV8qPQzGh8T_OH2IpKMnog8?usp=sharing

[2020-12-10 22:31] WindQAQ commented on #2280
Umm, I don't get it. What if `kernel_size` is larger? Shouldn't these lines do boundary check?

https://github.com/tensorflow/addons/blob/9bac29cce0c4d254b332f3006432593eed2b8ad6/tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc#L88-L108

[2020-12-10 22:58] WindQAQ commented on #2282
Hi @kelvinkoh0308, thanks for the question. After scrutinizing the paper, our implementation is very different from it. In the paper, the weight decay is applied to gradients and parameters, but we only apply on parameters. We should correct it actually. This can be done along with optimizer cleanup. https://github.com/tensorflow/addons/issues/2187

[2020-12-10 23:12] bhack commented on #2282
@WindQAQ are we going to break some model reproducibility with this change in https://github.com/tensorflow/models/search?q=adamw or are their using its own reimplementation?

[2020-12-10 23:17] WindQAQ commented on #2282
Let alone correct implementation. If we adopt the change of #2187, it will at least break serialization (and compatibility and reproducibility) I believe. I am afraid that something must be changed in tfmodels.

[2020-12-10 23:20] WindQAQ commented on #2282
Seems that the implementation is inherited from `tf.contrib`.

[2020-12-10 23:22] bhack commented on #2282
I don't see I don't find `DecoupledWeightDecayExtension` occurence in TF/model probably they have duplicated their own AdamW/SGDW

[2020-12-10 23:22] qlzh727 commented on #2283
I think its a layerNormCell issue, since the duplicated name is caused by kernel_norm/recurrent_norm/state_norm sub layers. More specifically, build() method of LayerNormLSTMCell should call kernel_norm.build() with a name scope, so that the weights created will the proper name to identify them.

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/rnn/layer_norm_lstm_cell.py#L157

[2020-12-10 23:26] WindQAQ commented on #2283
Sounds good. So the name passed into layer does nothing for name scope?

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/rnn/layer_norm_lstm_cell.py#L196-L202

[2020-12-10 23:28] qlzh727 commented on #2283
It should, but since we manually invoke the build() method for those sublayers, and that is causing the problem for missing the name. If you take a look for the base_layer in keras, there are quite some logic around build() method before it is invoked.

[2020-12-10 23:35] WindQAQ commented on #2283
Thanks for clarification!

[2020-12-11 01:00] kelvinkoh0308 commented on #2282
@WindQAQ hi, I don't think that the weight decay is applied to gradients in the paper.

According to the image below,  the highlighted purple block is the L2 regularization which is added to the gradients and the green color block is the weight decay multiplied with the learning rate and then subtracted from the parameter. We should only follow the implementation according to the green color block

[2020-12-11 01:06] WindQAQ commented on #2282
Thanks for correcting me! You're right. I didn't see the coloring there. But, `\eta` is not the learning rate right? `\alpha` in the paper is the learning rate.

[2020-12-11 01:47] kelvinkoh0308 commented on #2282
Ya, you are correct, alpha is the learning rate. This means that the weight decay is not multiplied with the learning rate.

I will close this issue. Thank you very much.

[2020-12-11 02:04] kelvinkoh0308 commented on #2282
@WindQAQ  sry but this raises me another question for the rectified adam.

https://github.com/tensorflow/addons/blob/81529ff7dd246f7575338b8cfe65784b0cc8a502/tensorflow_addons/optimizers/rectified_adam.py#L226

After added with the weight decay, the variable is updated with **lr_t * var_t**, does this means that the weight decay term is multiplied with the learning rate?

[2020-12-11 02:12] WindQAQ commented on #2282
Hi @kelvinkoh0308, no worries. I didn't take a look at the paper, but seems that author's implementation is the same with ours.

https://github.com/LiyuanLucasLiu/RAdam/blob/master/radam/radam.py#L82-L92
https://pytorch.org/docs/stable/tensors.html#torch.Tensor.add_

[2020-12-11 02:33] kelvinkoh0308 commented on #2282
@WindQAQ if this is the case then I don't think I will use weight scheduler in RAdam as in AdamW since in AdamW the weight decay term is not multiplied with the learning rate thus we have to manually decay the weight decay term. However in the case of Rectified Adam, the weight decay term is multiplied with learning rate which means that the if we decay our learning rate the weight decay term will

[2020-12-11 02:44] WindQAQ commented on #2282
Yes you are right. If you want to do the correct comparison, maybe you should use larger weight decay for RAdam as what you suggested.

[2020-12-11 03:11] kelvinkoh0308 commented on #2282
@WindQAQ thanks
Should they be standardized whether to multiplied with the learning rate in tensorflow_addons?

As this might lead to weird result for both optimizer if the users are not aware that one weight decay rate is larger than another optimizer because the documentation in tensorflow_addons does not mention this.

[2020-12-11 03:16] WindQAQ commented on #2279
Acutally, I'm not a fan of aggressively decorating `@tf.function` in the library in any reason. Users should decide whether to use it or not. Abuse of `tf.function` can cause excessive graph retracing. At least, we should do benchmarks and decorate it for performance.

[2020-12-11 03:20] WindQAQ commented on #2282
It's weird to me to change the behavior because both implementations follow the paper/original impl directly. However, it's more than welcome to have more documentation.

[2020-12-11 03:26] kelvinkoh0308 commented on #2282
For your reference, the implementation in pytorch is multiplied with learning rate

https://github.com/pytorch/pytorch/blob/9b0ffb9fb3a3b1b47c2d39270adf4f170f6a2141/torch/optim/adamw.py#L73

[2020-12-11 04:00] WindQAQ commented on #2282
Seems that pytorch considers `\eta * \alpha` as learning rate. We could do the same thing by passing a real `\eta` as argument. What do you think about this?

[2020-12-11 05:34] kelvinkoh0308 commented on #2282
Right now both AdamW and RAdam in tensorflow_addons both can accept callable weight decay scheduler

This is true for AdamW as right now we have to decay manually, but is not required in the case of RAdam.

I think pytorch decided to go for multiplying with the learning rate in AdamW is because they don't implement weight scheduler (I think?)

personally I don't think that add an extra `\eta` argu

[2020-12-11 05:53] WindQAQ commented on #2282
It's still hard to convince me to use a wrong implementation in order to match two implementations (Though we are also different from the paper). However, as a open source project, let's mark this discussion needed. @bhack and @seanpmorgan what do you think? Thank you.

BTW, here's author's implementation. It uses `\eta = current_learning_rate / init_learning_rate` and `current_weight_decay = \eta

[2020-12-11 06:07] kelvinkoh0308 commented on #2282
@WindQAQ  I think if following this `\eta = current_learning_rate / init_learning_rate` and `current_weight_decay = \eta * init_weight_decay`  then current implementation in tensorflow_addons are correct because the weight decay is multiplied with `\eta` only

[2020-12-11 06:11] kelvinkoh0308 commented on #2282
If you think that it is a wrong implementation if we change AdamW to multiply with learning rate with weight decay, then I think better to add to the documentation to tell user that the weight decay term will be larger because it is not scaled down by learning rate.

[2020-12-11 06:11] WindQAQ commented on #2282
Totally fine with more documentation!

[2020-12-11 06:17] aaronmondal commented on #2279
Absolutely agreed! Nothing should be decorated without thought and benchmarks are necessary before changing anything. There is no point in decorating things without reason.

The two consistent choices in my opinion would be:
1. Not using `tf.function` in TFA. This would require users to use e.g.
[code]
    to **enable** tracing.
2.  Using `tf.function` in TFA. This would require users to use e.g.

[2020-12-11 07:06] aaronmondal commented on #2279
Oh and actually retracing should not be an issue as it can easily be suppressed by specifying `input_shape`:
[code]

[code]

[2020-12-11 21:08] #2276 closed

[2020-12-12 20:20] Rocketknight1 commented on #2201
Pinging this again to make sure it doesn't get lost!

[2020-12-13 11:35] pabloduque0 opened #2289 "Not found error - Undefined symbol - Image ops"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): (pip) tensorflow==2.2.0
- TensorFlow-Addons version and how it was installed (source or binary): (pip) tensorflow-addons==0.11.2
- Python version: 3.6.9
- Is GPU used? (yes/no): No (but tried on GPU and same error)

**Describe the bug**

T

[2020-12-13 11:55] bhack commented on #2289
Are you running this from your source dir?

[2020-12-13 12:39] bhack commented on #2289
If you are running this inside your source directory you could check https://github.com/tensorflow/addons/pull/1909.

But It Is still not merged.

[2020-12-13 13:30] pabloduque0 commented on #2289
@bhack I see that #1909 is for running it with docker which is not the case here.

[2020-12-13 13:39] bhack commented on #2289
It is for Docker and generally in source run.

[2020-12-13 14:26] pabloduque0 commented on #2289
Both TFA and TF were installed by binary (with pip). I believe is not a source run what I am doing. Would still be related to #1909 ? Any other ideas?

[2020-12-13 15:02] bhack commented on #2289
No that PR Is only related for in source runs.
Can you try with Tensorflow 2.3.1?

[2020-12-13 15:17] pabloduque0 commented on #2289
For tensorflow 2.3.1:

First I get the warning for TFA-TF compatibility
[code]

And the error is the following:

[code]

Full log:

[code]

[2020-12-13 15:32] bhack commented on #2289
Yes for the first warning Is not a problem cause It Is Just 2.3.1 vs 2.3.0 that Is a security fix.

Instead is the second error related to your code.

[2020-12-13 16:19] pabloduque0 commented on #2289
Totally right! I miss that one, sorry.

Thank you very much, I'll close this one.

[2020-12-13 16:19] #2289 closed

[2020-12-14 07:12] lsy323 commented on #2280
Hi @WindQAQ

Thanks for taking a look.

The out-of-bound checks make sure there is no runtime error in such cases. What I meant is the locations of evaluation centers don't look right when stride_1 > 1.

Also, in GPU implementation (https://github.com/tensorflow/addons/blob/76249547c481ed47bd6f2f8092a99cd64d37fd2f/tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op_gpu.cu.cc#L92), t

[2020-12-14 22:30] tomerk commented on #2201
Thanks for the ping! Yes we are currently following up on this to make sure these reviews happen & in a timely manner.

[2020-12-15 01:32] #2282 closed

[2020-12-15 05:14] #2283 closed

[2020-12-15 05:18] kelvinkoh0308 commented on #2275
@WindQAQ thanks, do you have any idea when the next version will be released?

[2020-12-15 05:32] seanpmorgan commented on #2275
Within a few days most likely.

[2020-12-15 05:55] seanpmorgan commented on #1946
Closing. Please let us know if there are still issues.

[2020-12-15 05:55] #1946 closed

[2020-12-15 06:03] WindQAQ commented on #2280
Great! Thanks for the clarification. Are you willing to submit a PR for it?

[2020-12-15 17:30] #2110 closed

[2020-12-15 21:20] #2252 closed

[2020-12-15 22:27] WindQAQ opened #2295 "Remove wrap/unwrap for image ops"
We have many image ops that relies on `tfa.image.transform`. Since TF2.4, it can natively support `fill_value` to fill out of bound pixel after transformation. Moreover, it can also supports different `fill_mode`/`interpolation` for image transformation.

However, some of our image ops use [`wrap`/`unwrap`](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/utils.py#L104-L151

[2020-12-15 22:32] bhack commented on #2295
@WindQAQ Something related also in https://github.com/tensorflow/tensorflow/issues/45326

[2020-12-15 23:02] #1825 closed

[2020-12-16 11:39] aaronmondal commented on #2295
+1 this is important. Besides the reduction in code, the performance hit is actually quite significant at ~2.5 times the execution time of `ImageProjectiveTransformV3` ([Colab](https://colab.research.google.com/drive/1VT6DPA46jv47Wx5jU9QIUKTdtbjfTQGT#scrollTo=7svSSUOkIf1F)). I can also verify that the current ops are a major bottleneck candidate in preprocessing pipelines.

The current implementat

[2020-12-16 12:50] nukes commented on #763
again, how to remove weight norm ?

[2020-12-16 13:30] bhack commented on #763
@nukes Can you see the test at https://github.com/tensorflow/addons/pull/819/files

[2020-12-16 20:16] WindQAQ commented on #2295
@aaronmondal can you make the colab link public? Thank you!

[2020-12-17 00:13] aaronmondal commented on #2295
My bad. This should work: https://colab.research.google.com/drive/1VT6DPA46jv47Wx5jU9QIUKTdtbjfTQGT?usp=sharing

[2020-12-17 00:43] WindQAQ commented on #2295
Hmm, it's still unavailable. You have to choose something like "anyone who knows the link can access"

[2020-12-17 00:49] aaronmondal commented on #2279
Closing due to limited enthusiasm from the community :D We can always handle the mentioned files at a later point in time.

[2020-12-17 00:49] #2279 closed

[2020-12-17 00:57] aaronmondal commented on #2295
@WindQAQ does it work now?

[2020-12-17 00:58] WindQAQ commented on #2295
Yes it it! Thanks for the benchmark.

[2020-12-17 02:12] WindQAQ commented on #628
Close the issue as we already had `tfa.layers.CRF`.

[2020-12-17 02:12] #628 closed

[2020-12-17 02:13] WindQAQ commented on #1099
Closes the issue as we changed to pure python ops.

[2020-12-17 02:13] #1099 closed

[2020-12-17 02:16] WindQAQ commented on #1148
@seanpmorgan are we going to build with AVX2? TensorFlow pre-built binary is compiled with AVX2 and FMA. I think we can follow it.

[2020-12-17 02:21] WindQAQ commented on #1156
Closes as we have changed to pure python ops.

[2020-12-17 02:21] #1156 closed

[2020-12-17 04:32] #1148 closed

[2020-12-17 09:23] dathudeptrai commented on #2260
@bhack just remind :D

[2020-12-17 09:41] bhack commented on #2260
Check https://github.com/tensorflow/addons/pull/2196#issuecomment-747098470

[2020-12-17 21:13] tomerk commented on #2201
Notes from ecosystem review: This appears to be fairly recent work that isn't on core or KerasNLP's roadmap. Seems fine to have in addons from our perspective.

[2020-12-17 21:15] tomerk commented on #2035
Notes from ecosystem review: This isn't on core tf's roadmap and we're trying to avoid expanding the official api surface if possible atm (even for small things). Seems reasonable to us to have in addons

[2020-12-17 21:16] #1722 closed

[2020-12-17 21:26] tomerk commented on #2260
Notes from ecosystem review:

Rather than an optimizer that wraps another optimizer, we think this might actually make sense as an object to use as a gradient_transformer in optimizers (a new feature after an optimizer refactoring earlier this year):

https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer

Looping in @omalleyt12 who might have more insight / suggestions on how to

[2020-12-17 21:34] Rocketknight1 commented on #2201
I think that's definitely the right choice for the PKM layer - but do you think EmbeddingBag should be in TF core? It's a fairly simple op that has other uses besides PKM layers, and it's in PyTorch core.

[2020-12-18 03:22] tomerk commented on #2201
Oh hmm I think we missed that. We can take another look after the holidays

[2020-12-18 05:59] #332 closed

[2020-12-18 11:31] carl2g opened #2307 "Nested Model using WeightNormalization"
**System information**
- Using Google Colab
- Use GPU: No

**Describe the bug**
Hello,
I have created a nested model using WeightNormaization on a Conv1d layer. I ran this model on non eagerly mode using fit.  But it seems to produce a infinite loop.

**Code to reproduce the issue**
This was my test : [colab_test](https://colab.research.google.com/drive/1scWp0LWfl7iMSqPLPrzJG3V70v3RA5xw)

I would

[2020-12-21 09:01] dathudeptrai commented on #2260
@omalleyt12 can you take a look ?

[2020-12-21 16:09] callzhang opened #2310 "ValueError: Found unexpected keys that do not correspond to any Model output: dict_keys(['class_name', 'config']). Expected: ['dense']"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubintu 18.04
- TensorFlow version and how it was installed (source or binary): 2.3.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.12.0
- Python version: 3.8.5
- Is GPU used? (yes/no): both

**Describe the bug**

When using `tfa.losses.SigmoidFocalCrossEntropy(from_logits=True, reduction=

[2020-12-21 20:50] WindQAQ commented on #2310
Hi @callzhang, can you provide the minimal runnable code snippet to reproduce the issue? Thank you!

[2020-12-21 21:22] WindQAQ commented on #2307
Hi @carl2g, thanks for your report. I cannot reproduce the issue with latest stable tensorflow-addons. Can you try to upgrade addons with `pip install --upgrade tensorflow-addons`? Thank you!

https://colab.research.google.com/drive/1HRm0k8GqQ9tqWbrDraiz4LfY6qTdyq1n?usp=sharing

[2020-12-21 21:48] carl2g commented on #2307
Thank you @WindQAQ, seem's to work fine with the upgrade.
Cheers !

[2020-12-21 21:48] #2307 closed

[2020-12-22 15:25] rwbfd opened #2312 "Entmax alpha implementation"
I would like to implement the entmax-alpha feature as is described in https://arxiv.org/abs/1905.05702 in the addons. For alpha=1, it is softmax, and for alpha=2, it is sparsemax.

This feature is a key to realize sparse seq-to-seq model. It will not change the current API.

I have almost finished implementing the feature. Therefore, I would like to know if this has any chance of being merged befo

[2020-12-22 15:52] bhack commented on #2312
I think we need to evaluate this for https://github.com/tensorflow/addons/issues/2194
If It pass the evaluation we will put this in `ecosystem-review`

[2020-12-22 16:11] rwbfd commented on #2312
@bhack Thanks for the timely reply.

[2020-12-22 19:39] kakatrina opened #2313 "loss function on CRF layer"
I want to apply a CRF layer on top on two-layered bi-lstm network for a NER model. But I figured the crf layer in the addon doesn't have a loss function implemented. I wonder how do I implement a loss function for training? Thanks ahead!

[2020-12-23 02:15] w4nderlust opened #2314 "sparsemax returns nan for small values"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow version and how it was installed (source or binary): 2.3.1
- TensorFlow-Addons version and how it was installed (source or binary): 0.12.0-dev
- Python version: 3.8.5
- Is GPU used? (yes/no): yes

**Describe the bug**

For very large values, sparsemax returns NaN.

**Code to reproduce the is

[2020-12-23 14:12] aaronmondal commented on #2314
@w4nderlust [Here](https://github.com/tensorflow/addons/blob/81529ff7dd246f7575338b8cfe65784b0cc8a502/tensorflow_addons/activations/sparsemax.py#L84) is the implementation of `_compute_2d_sparsemax`. You can see that the implementation actually has specific checks for `nan` values, so this is not a bug.

The `nan`s appear because the large inputs provided are out of the "reliably usable" precision

[2020-12-23 19:47] seanpmorgan opened #2317 "Generate TFA Docs for 0.12 Release"
@lamberta @MarkDaoust @yashk2810 When time allows could we re-build the TFA docs with the new 0.12 release. There should be substantial fixes to the docs (e.g. typing).

Thanks!

[2020-12-23 20:28] w4nderlust commented on #2314
Thanks for the clarification @aaronmondal ! Appreciated.

My personal take, from the user perspective, is that there should probably be a saturation point above which the same value is returned rather than returning NaN. The reason is that it is difficult to anticipate the ranges of what multiple layers within a model will do, so having a function I can trust not to return NaN in any circumstance

[2020-12-23 20:37] bhack commented on #2314
The origin of this behaviour was in https://github.com/tensorflow/tensorflow/pull/21183

[2020-12-23 20:44] lamberta commented on #2317
@seanpmorgan Sounds good. We're currently in a site freeze for the holidays but will push the latest after the new year. Thanks

[2020-12-24 10:01] dathudeptrai commented on #2260
@tomerk @bhack @omalleyt12 a gentle ping in case you missed my previous comment :D

[2020-12-24 10:17] bhack commented on #2260
We have a quite duplicated ticket at https://github.com/tensorflow/tensorflow/issues/32176

[2020-12-24 20:38] WindQAQ commented on #2313
Hi @kakatrina, can you take a look at https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/tests/crf_test.py#L125-L164. Thank you!

[2020-12-24 23:37] faustomorales commented on #1753
In case it's useful, I gave an example on how to adapt the existing binary label-oriented metrics for a multi-class setting in https://github.com/tensorflow/tensorflow/issues/37256#issuecomment-751130406. HTH!

[2020-12-25 03:30] dathudeptrai commented on #2260
@bhack it's a long time ago, any plan for this feature for TF2 ?

[2020-12-25 08:21] kelvinkoh0308 opened #2320 "Channel Found None in MaxUnPooling2D"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version and how it was installed (source or binary): 2.4.0
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version: 3.7
- Is GPU used? (yes/no):  yes

**Describe the bug**

The channel dimension is None after MaxUnpooling2D layer

**Code to reproduce the issue**

[

[2020-12-25 10:23] shkarupa-alex opened #2321 "AdaptiveAveragePooling: Number of ways to split should evenly divide the split dimension"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): Google Colab
- TensorFlow-Addons version and how it was installed (source or binary): 0.12.0
- Python version: 3
- Is GPU used? (yes/no): no

**Describe the bug**
AdaptiveAveragePooling2D fails when input dimension not dividable by pool si

[2020-12-25 22:38] WindQAQ commented on #2321
/cc @Susmit-A for visibility. Seems that pytorch will have overlapping kernel when the dimension is not divisible by output size. I wonder if this is achievable with python ops.

[2020-12-25 23:03] Susmit-A commented on #2321
This was done on purpose, to prevent unexpected behaviour for different input sizes, as well as offer flexibility for shape.

The inputs can be clipped/padded as per requirement before passing to the layer.

Since different models perform differently based on whether access data is clipped or padded, it's better to let the user decide the necessary action.

[2020-12-25 23:06] WindQAQ commented on #2320
Thanks for reporting. Some static values are missing while slicing. Can you try to insert the following line

[code]

under

https://github.com/tensorflow/addons/blob/445638b02f7cdeb2d33b2cda1b66fb8a4f639366/tensorflow_addons/layers/max_unpooling_2d.py#L61

[2020-12-26 04:05] kelvinkoh0308 commented on #2320
@WindQAQ  ok, I will try and revert it back here, however the problem is solved when I constructing the model by subclass the tf.keras.Model instead of using keras functional API.

But this raises another problem which the the tf function retracing
I think the @tf.function should be removed inside this layer as when we annotate our training code with @tf.function, this will become nested tf functi

[2020-12-26 06:10] kelvinkoh0308 commented on #2320
@WindQAQ  it works after adding that line of code

[2020-12-26 10:10] WindQAQ commented on #2321
Hi @Susmit-A, I'd say we should try to support non-divisible case. If not, is there any different between adaptive and original pooling? We can always infer the strides and kernel sizes of `tf.nn.{avg,max}_pool` to output specific sizes. Maybe

[code]

I guess.

[2020-12-26 10:15] bhack commented on #2321
https://stackoverflow.com/questions/53841509/how-does-adaptive-pooling-in-pytorch-work

[2020-12-26 10:21] Susmit-A commented on #2321
The way PyTorch accomplishes this is well explained here:

https://discuss.pytorch.org/t/what-is-adaptiveavgpool2d/26897

The issue is the rounding, instead of floor/ceil. This gives unequal size pieces that can't be stacked for parallel pooling; each piece needs to be processed individually.

The method mentioned by @WindQAQ does work, but the output is not the same as that of PyTorch, since ther

[2020-12-26 10:48] WindQAQ commented on #2321
For divisible case, rounding up or down do not matter, which means current adaptive pooling is just a variant for `tf.nn.{avg,max}_pool`. We should do some benchmarks to see if that will be faster. We do not have to follow PyTorch implementation actually. At least we do not follow it now :-)

For non-divisible case, I agree that it would be much slower if we try to implement with pure python ops.

[2020-12-27 07:20] aaronmondal commented on #2314
Ok I think I see where the problem is.

A normalization was removed in the PR that @bhack pointed out. It may be possible to significantly increase the range at which `sparsemax` operates by putting that back in.

This would make calculations slightly slower, but I assume the usable range would expand (roughly, very roughly :D) from something like `|cumsum(inputs)| < B` to `|max(inputs) - min(inpu

[2020-12-27 10:18] Susmit-A commented on #2321
I have created a PR with the updated version of Adaptive Pooling. However, this is an order of magnitude slower than the PyTorch version. Methods to improve performance need to be explored. Specifically, the internal loop needs to be parallelized.

[2020-12-28 05:23] seanpmorgan commented on #2313
Closing. Please let us know if the example in the test case is insufficient.

[2020-12-28 05:23] #2313 closed

[2020-12-28 20:56] WindQAQ commented on #2320
`tf.function` here is used for tflite conversion. Hi @thaink, can you check if the solution is valid? Thank you!

[2020-12-28 22:03] w4nderlust commented on #2314
I understand @aaronmondal .

Although I am using the sparsemax not for a specific model, but my project is itself a framework. That means that i cannot be sure of what inputs users will provide, and because of that I should be careful and defensive.

For this reason, I see two options:
1. I implement my own sparsemax by adding the normalization and wrapping yours (pointing out exactly what normali

[2020-12-28 22:45] bhack commented on #2314
/cc @rmlarsen has It was https://github.com/tensorflow/tensorflow/pull/21183 reviewer.

[2020-12-29 02:45] kelvinkoh0308 commented on #2320
@WindQAQ but the tf.function here will cause retracing issue during training

[2020-12-29 04:35] thaink commented on #2320
The solution `input_shape = [updates.shape[i] or input_shape[i] for i in range(4)]` is valid.

`tf.function` is widely used. As you can see in https://github.com/tensorflow/addons/tree/master/tensorflow_addons/image, it is used for a lot of functionalities. I wonder what is the benefit of annotating your training with @tf.function? It seems to block you from using fused operations and tf.function

[2020-12-29 04:56] kelvinkoh0308 commented on #2320
@thaink I did a benchmark before and the speed with tf function is faster compared to without tf function

[2020-12-29 05:25] thaink commented on #2320
I don't think removing @tf.function in this layer is the best solution for all. Because in general, people not always use Keras and don't wrap their training and prediction with @tf.function, the @tf.function mark in this layer will help in those cases.

I think the retracing problem should be treated as a different issue. You can take a look at some similar issues like https://github.com/tensorfl

[2020-12-29 05:49] WindQAQ commented on #2320
@kelvinkoh0308 Seems that you are passing variable sized width and height tensors into your pipeline. As a workaround, Can you try to do something like this?

[code]

[2020-12-29 06:20] WindQAQ opened #2325 "Docs rendering for type hints"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow version and how it was installed (source or binary): 2.4.0
- TensorFlow-Addons version and how it was installed (source or binary): source
- Python version: 3.8
- Is GPU used? (yes/no): no

**Describe the bug**

Run build docs, and yield the following output. `Regularizer` and `Initializer`

[2020-12-29 23:51] #2320 closed

[2020-12-29 23:53] seanpmorgan commented on #2188
Blocked by https://github.com/tensorflow/tensorflow/issues/44485 hopefully coming soon.

[2020-12-30 00:13] bhack commented on #2188
Waiting for https://github.com/protocolbuffers/protobuf/pull/8121

[2020-12-30 05:17] seanpmorgan opened #2326 "Use a minimal and well maintained docker image as the base for our builds and tests"
We've had to bounce around our base docker image to keep up with TF releases. Currently we're using the no SLA image that SIG IO uses but it's bloated and has no SLA.

This is mostly waiting on TF core issue:
https://github.com/tensorflow/tensorflow/issues/46062

Using this to track.

[2020-12-31 09:35] genius0182 opened #2328 "/usr/bin/ld.gold: error: cannot find -l_pywrap_tensorflow_internal"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): raspberry-pi-4b aarch64 docker image ubuntu1804
- TensorFlow version and how it was installed (source or binary):2.1.0
- TensorFlow-Addons version and how it was installed (source or binary):0.7.1
- Python version:3.7.9
- Is GPU used? (yes/no): no

**Describe the bug**

source build error,
tenflow 2.1.0 can be used.

[2020-12-31 10:23] bhack commented on #2328
We have integrated something for Raspberry with https://github.com/tensorflow/addons/pull/2230

So probably you can try with an update TF/TF Addons versions

[2020-12-31 22:47] WindQAQ commented on #2038
Closes because it's not an issue in addons I believe and there is a workaround when not to diable eager execution.

[2020-12-31 22:47] #2038 closed

[2021-01-01 22:16] willbattel commented on #265
I'm trying to use `AUC` to calculate average precision (curve='PR') for my multi-class problem. Like others here, I use `Softmax` as my final layer, but in my case I'm getting an error.

`ValueError: Shapes (None, 58) and (None, 1) are incompatible`

Where 58 is my number of classes. It seems that `AUC` is not dealing with my model output how I expected. My labels are **not** one-hot encoded, so I

[2021-01-03 12:50] innat opened #2330 "TPU Socket Closed with tfa Optimizer"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Kaggle
- TensorFlow version '2.2.0'
- TensorFlow-Addons version '0.10.0':
- TPU

**Describe the bug**

Whenever I tried to do as follows:

[code]

The socket close error occurred. I think it's not an error exactly. However, without `Lookahead` and with simply `radam`, it works.

This seems probably a small issue to r

[2021-01-03 12:57] bhack commented on #2330
Thanks,
please share a very very minimal code sample that we could copy, paste and run (or a Colab) to reproduce this.

[2021-01-03 14:02] innat commented on #2330
Hello, thanks for the quick response. However, I've solved it already. Mainly I forgot to declare the optimizer within the training scope, such as:

[code]

[2021-01-03 14:02] #2330 closed

[2021-01-04 02:59] WindQAQ opened #2331 "Make selection between C++ kernel/python ops a function API instead of global variable"
Currently, there is no docs for `tfa.options.TF_ADDONS_PY_OPS` because it's a global variable instead of a function. Ideally, we can implement something like instead of let users access global variable.

[code]

[2021-01-04 05:15] chazuttu commented on #2271
Using tf.keras.backend.rnn is better as its pros make it more preferable.

[2021-01-04 05:20] chazuttu commented on #2268
Using metrics_utils.update_confusion_matrix_variables would be better.

[2021-01-04 05:30] chazuttu commented on #2115
The root cause is that autograph doesn't yet support list comprehension. You can use tf.map_fn for the comprehension:
return tf.map_fn(lambda i: i ** 2 if i > 0 else i, x)

[2021-01-04 05:31] chazuttu commented on #2115
You can also just do : index = 0
for image in inputs:
    .... My code ...
    index += 1

[2021-01-04 08:35] grofte opened #2332 "Stocastic Weight Averaging doesn't work with Learning Rate scheduling and mixed precision"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab / Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): TF 2.4, binaries from pip
- TensorFlow-Addons version and how it was installed (source or binary): TFA 0.12, binaries from pip
- Python version: 3.6.9 / 3.8
- Is GPU used? (yes/no): yes

**Describe the bug**

When I co

[2021-01-04 08:37] grofte commented on #2332
Oops, sorry. Google Colab hides some of the error message

[code]

[2021-01-04 10:42] rushabh-v commented on #2332
Looking at [these lines](https://github.com/tensorflow/tensorflow/blob/9ef254e44d96e8c33718f42fb90a336763bca739/tensorflow/python/keras/mixed_precision/loss_scale_optimizer.py#L893-L894), it is searching for `learning_rate` in `self._optimizer._hyper`.

`self._optimizer` is `SWA` in our case and that is inherited from `AveragedOptimizerWrapper`. There are some setter methods that set `lr` and `lea

[2021-01-04 11:32] grofte commented on #2332
@rushabh-v
Hey, that works! Thanks a bunch. Or... it runs. I better check whether a callback can actually change the learning rate.

I think it qualifies as a bug. Optimizers, optimizer wrappers, callbacks that address the optimizer, and the loss scaler for mixed precision should all be able the work together.

[2021-01-04 14:22] grofte commented on #2332
Yeah, it doesn't work. The `optimizer._set_hyper()` allows the training to run but the callback can't actually update the learning rate when SWA is enabled.

Example: https://gist.github.com/grofte/ebb93bdc9b1f87f77f3e24da6665bd16

I tried it both with reducing on plateau and a simple scheduler. =(

[2021-01-04 20:13] WindQAQ commented on #2332
This is a bug of our optimizer. We haven't delegate (near) all properties/attributes/methods of wrapped optimizer for SWA. A quick fix is to delegate the `_get_hyper` of `AveragedOptimizerWrapper` to `self._optimizer._get_hyper` like

[code]

But I'm thinking to have a mixin class to do the job. Hi @reedwm, can you give us some advice on passing a optimizer wrapper into another optimizer wrapper,

[2021-01-06 01:06] reedwm commented on #2332
Since LossScaleOptimizer checks `self.optimizer._hyper`, you would need to delegate `_hyper`, not `_get_hyper`. For example:

[code]

There's a chance this will cause issues, as some Optimizer methods might get confused that `AveragedOptimizerWrapper` has a non-empty `_hyper` dict yet does not own the hyperparameter. If this causes issues, I'll try to find another solution.

Feel free to assign th

[2021-01-06 15:47] vlawhern opened #2334 "TypeError 'Not JSON Serializable' when using FilterResponseNormalization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 LTS
- TensorFlow version and how it was installed (source or binary): 2.3, compiled
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2, compiled
- Python version: 3.8
- Is GPU used? (yes/no): Yes

**Describe the bug**

When trying to use FilterResponseNormalization I get the

[2021-01-06 21:25] WindQAQ commented on #2332
Sure! Thanks for the help!

[2021-01-06 21:47] WindQAQ commented on #2334
Hi, @vlawhern. Thanks for the report! I've filed a PR to fix it!

[2021-01-06 22:07] WindQAQ commented on #2325
Hi @lamberta @MarkDaoust @yashk2810, is it possible to control this? Thank you!

The problem is that if we do something like this
[code]
docs generator will consider A and B the same and redirect ont to another one.

[2021-01-06 22:12] yashk2810 commented on #2325
Well, they are the same thing. So you really should use just `A` right?

[2021-01-06 22:13] WindQAQ opened #2336 "Compile with AVX only"
Seems that TF2.4.0 is accidentally compiled with AVX2 (or more, not sure what's the CPU spec on TF release CI), and we follow it in https://github.com/tensorflow/addons/pull/2299. We should fallback to subset of ISAs, probably AVX, once there is a new release.

https://github.com/tensorflow/tensorflow/pull/46229

/cc @seanpmorgan

[2021-01-06 22:21] WindQAQ commented on #2325
Because `tf.keras.initializers.Initializer` and `tf.keras.constraints.Constraint` both accepts `None`, `str`, `dict` and `Callable`. For the purpose of convenience and readibility, we use the type

[code]

and apply to type hints of all layers. So that the ideal docs can be rendered as

[code]

https://github.com/tensorflow/tensorflow/blob/v2.4.0/tensorflow/python/keras/initializers/__init__.py#L1

[2021-01-06 22:28] bhack commented on #2336
Yes

[2021-01-06 22:31] yashk2810 commented on #2325
Sadly, there is no way to turn off type linking (and I have no plans to support it). Its not possible to turn it off for just one function/method or across the entire project.

Since all of those are the same objects, the generator will recognize it as the single thing and link off to that. The only way to fix this is to create one unique type hint.

You can always come up with a better name that

[2021-01-06 22:33] yashk2810 commented on #2325
This won't look good where these typehints are super big. For example `TensorLike` is the one where you definitely want to link to it rather then display the entire type hint.

[2021-01-06 22:38] WindQAQ commented on #2325
Thanks for clarification. As we've already solved this by making each type hint slightly different in https://github.com/tensorflow/addons/issues/2325, let me close the issue. Thank you again for the support.

[2021-01-06 22:38] #2325 closed

[2021-01-06 22:39] yashk2810 commented on #2325
Ahh.. sweet. Is that in tfa-nightly yet?

[2021-01-06 22:41] WindQAQ commented on #2325
Yes it is :)

[2021-01-06 22:43] yashk2810 commented on #2325
Interesting, I don't see it yet. Can you run the api generator on tfa-nightly and see if it fixes the issue since those objects are now different?

[2021-01-06 22:46] WindQAQ commented on #2325
***tfa.layers.NoisyDense***
[code]
***tfa.types.Constraint ***
[code]
***tfa.types.Regularizer***
[code]

[2021-01-06 22:47] yashk2810 commented on #2325
Woohoo! It works. Problem solved then right?

[2021-01-06 22:48] WindQAQ commented on #2325
Yes it is 😃

[2021-01-06 22:57] grofte commented on #2332
No rush on my account. I disabled the learning rate reduction and the models trained but at the inference step it was suddenly unbelievably slow. So I am finally giving up on mixed precision.

The slowness probably has something to do with me wrapping the models with a top-k layer or tensorflow tried to execute the models on the CPU or something. Not worth troubleshooting because the models will b

[2021-01-07 00:28] #2334 closed

[2021-01-07 18:11] abhinavsp0730 opened #2337 "Adding Lars Optimizer to TF addons"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no):
- Yes
- Are you willing to maintain it going forward? (yes/no):
- Yes
- Is there a relevant academic paper? (if so, where):
- Yes, https://arxiv.org/abs/1708.03888 (It also crosses the 100 citations threshold as discussed in #2194 )
- Is there already an implementation in

[2021-01-07 19:34] #2035 closed

[2021-01-07 21:31] tomerk commented on #2337
Notes from ecosystem review: This is not on tf-core's roadmap, addons seems like a reasonable place.

[2021-01-07 21:31] tomerk commented on #2201
Notes from ecosystem review: KerasNLP would probably be a better fit than core, but it's not on the KerasNLP roadmap either so addons seems fine for now.

[2021-01-07 22:01] bhack commented on #2201
@tomerk With this (but also with KerasCV) do you mean that a PR will not be reviewed and merged there cause it is not in the roadmap or that is it up to the user to submit the PR in this repository or KerasNLP?

[2021-01-07 22:21] bhack commented on #2337
Ok you can try to prepare a PR

[2021-01-08 20:36] ZeynepP opened #2339 "Matthews correlation coefficient for multi-class"
HI to all,

I am trying to interpret different results I am getting in tensorflow for MCC. I have 3 classes and I am using categorical_crossentropy as a loss function. I added mcc in metrics from tensoflow addons as follows:

[code]

Training output (ex for one epoch) : ... - loss: 0.7549 - acc: 0.7276 - auc: 0.8313 - mcc: 0.3735 - val_loss: 0.7677 - val_acc: 0.7302 - val_auc: 0.8211 - val_mcc: 0.

[2021-01-08 21:01] tomerk commented on #2201
Checked in with @tanzhenyu. In this case KerasCV/KerasNLP don't have infrastructure in place for custom ops so this would have to go in addons. Generally speaking though if it's widely used enough and could fit in KerasNLP/KerasCV (and does not include custom ops), KerasNLP & KerasCV would welcome these sorts of user contributions even if they aren't actively on the roadmap.

[2021-01-08 21:59] bhack commented on #2201
I don't know if generally the ecosystem-review process could expand on this. I meant other then a roadmap check we could extend the activity over a quick "best repository fit".

Something like:

- Is this proposed feature in your roadmap?
  - yes: do you want a PR on your repo or do you plan to publish yourself?
  - no: are you still interested to review a PR in your repo?

When the infra will be

[2021-01-08 22:45] tomerk commented on #2201
Yeah that seems like a very reasonable approach. We'll try to answer that 'best-fit' question for you for future python-only things.

[2021-01-08 22:46] bhack commented on #2201
/cc Asking for a feedback for the compositional ops lowering vs custom ops to @taylanbil as https://github.com/pytorch/xla/issues/2403

[2021-01-10 16:44] jonpsy commented on #2331
I would like to take a stab at this issue!

[2021-01-10 22:30] jkr26 commented on #2337
+1 to this, happy to help on any work that can be factored out

[2021-01-10 22:54] WindQAQ opened #2340 "Use tf.__internal__.ops.broadcast_weights for RSquare"
`tensorflow.python.ops.weights_broadcast_ops.broadcast_weights` has been exported as internal API in tf-nightly, and will be shipped in TF2.5. We should switch to it as long as we drop TF2.3 and TF2.4 support.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/weights_broadcast_ops.py#L137

[2021-01-11 07:29] luozhouyang commented on #2237
hey guys, have a look to [luozhouyang/keras-crf](https://github.com/luozhouyang/keras-crf), which is a more elegant and convenient CRF built on tensorflow-addons.

[2021-01-11 07:44] luozhouyang commented on #1769
hey guys, have a look to [luozhouyang/keras-crf](https://github.com/luozhouyang/keras-crf), which is a more elegant and convenient CRF built on tensorflow-addons.

[2021-01-11 14:48] ydennisy commented on #1755
Hi @harahu @failure-to-thrive I am having a similar issue even with the extra args being passed in:

[code]

[2021-01-11 21:19] taylanbil commented on #2201
This discussion is lower level in the stack than where my expertise lies, so I cannot comment unfortunately.
On torch_xla using `EmbeddingBag` lowered to XLA, I'll defer to @JackCaoG.

[2021-01-12 04:25] rehanguha commented on #2064
@bhack In the monthly SIG Addons meeting I brought this up and we all came to a conclusion that TensorFlow(core) optimizer documentation for sparse is not adequate. So I felt to push the PR #2063 and get community support for the sparse implementation. When it is done I will add it to the documentation for custom optimizers. I have rechecked the code and it is working as expected for dense impleme

[2021-01-12 08:13] abhinavsp0730 commented on #2337
Thanks @jkr26 I'm open for Colabration for this PR.
But right now I'm facing some difficulty for setting up the dev environment.
It'll take 2-3 days for me to fix my env issue.
Then I'll get back to you for discussing how we're going to colab for this PR.

[2021-01-12 14:12] chazuttu commented on #839
Seems like  time.time() may be causing  the problem
timeit.default_timer() probably will  fix the problem

[2021-01-12 16:55] Harsh188 commented on #2337
I'm also open to collab, let me know if you need any assistance!

[2021-01-12 18:43] Rocketknight1 commented on #2201
By the way, the op is ready to go (EmbeddingBag at least - PKM doesn't need any CUDA and it's much simpler to put it wherever). Let me know once you know where you want me to put the PR!

[2021-01-12 19:18] bhack commented on #2201
I think that we could have an EmbeddingBag only PR.

But I still want to wait if @JackCaoG has any feedback for a composite efficient EmbeddingBag so that we more device coverage e.g. Colab/TPU or TFlite.

[2021-01-12 19:44] JackCaoG commented on #2201
Hi @bhack for pt/xla we used the pytorch native [Embedding](https://github.com/pytorch/pytorch/blob/c7e9abb66abef127f8cebccbe0aa27c6ded9ead6/aten/src/ATen/native/Embedding.cpp#L14) + `Reduce` to implement the EmbeddingBag. I think there are rooms for improvement but we didn't have any immediate plan to provide a more efficient lowering.

[2021-01-12 19:52] bhack commented on #2201
Thanks do you have a code reference for that?

What are the current limits of that composition for CPU/GPU other then TPU?

[2021-01-12 20:01] JackCaoG commented on #2201
https://github.com/taylanbil/dlrm/blob/tpu/tools/xla_embedding_bag.py is our `EmbeddingBag` workaround for now. We use the same lowering for CPU/GPU/TPU, we didn't observe any limits except the speed might not be ideal.

[2021-01-13 00:26] bhack commented on #2201
@Rocketknight1 can you take a look at @JackCaoG EmbeddingBag. It Is Pytorch but we could translate with Tensorflow ops.

[2021-01-13 01:15] Rocketknight1 commented on #2201
That code materializes the gather - self.embtable is an nn.Embedding, which is called with the input indices. It will have a huge performance/memory impact if used with a large gather, as in PKM layers.

[2021-01-13 01:29] Crispy13 opened #2343 "ValueError: Tensor conversion requested dtype float32 for Tensor with dtype uint8 when using losses.SigmoidFocalCrossEntropy"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow version and how it was installed (source or binary): 2.4.0, pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2, pip
- Python version: 3.8
- Is GPU used? (yes/no): yes

[code]

When y_true had dtype of uint8 and y_pred had dtype float32, `tf.conver_to_tensor(y

[2021-01-13 01:33] taylanbil commented on #2201
That was never intended to be a performant implementation, rather just to get something working quickly.

[2021-01-13 04:11] JakeTheWise commented on #1788
I'm also having this issue on tensorflow 2.3.

[2021-01-13 04:57] WindQAQ commented on #2343
Hi @Crispy13, thanks for the report. That's a bug. It should be `tf.cast(y_true, y_pred.dtype)` instead of `convert_to_tensor`.

[2021-01-13 07:32] chazuttu commented on #2328
It may  be the case that the file exists but is not named properly. Or it may be the case that file exists but it is owned by another user / root.
Install glibc-static and retry. Hope that helps

[2021-01-13 11:04] bhack commented on #2201
@JackCaoG Is not Ideal or not usabile for large index tensors?

Cause If the Memory and Speed impact It Is so huge for that case we need to have custom c++ and CUDA ops and exclude TPU

[2021-01-13 12:38] ZeynepP commented on #2339
Very basic example  :

https://colab.research.google.com/drive/1dErU9wesGrXC7ILJEfpocF9zK5laRfX7?usp=sharing

Bests

[2021-01-13 14:22] bhack commented on #839
There Is already an upstream issue at https://github.com/tensorflow/tensorflow/issues/35884

[2021-01-13 19:26] hyang0129 commented on #992
@seanpmorgan @WindQAQ  Are we still working on this?

If so, we can probably add some standardized tests for the layers submodule. We can use the existing l[ayer test](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/testing_utils.py#L92) from keras  and the standardized testing module to automatically test existing and future layers in the layers submode

[2021-01-13 22:14] #2343 closed

[2021-01-13 23:38] StarWang opened #2346 "Using BeamSearchDecoder for Language Modeling (Smart Compose)"
**Describe the feature and the current behavior/state.**
Hi I wonder if the BeamSearchDecoder provided in tfa.seq2seq can be used for language modeling. If so, how do we implement it?

My current thought is to use the same cell from encoder and decoder. But it seems that passing the rnn cell from encoder to decoder during decoder initialization is not the right way to do it. If this is the way to

[2021-01-14 05:45] chazuttu commented on #2346
# beam search
def beam_search_decoder(data, k):
	sequences = [[list(), 0.0]]
	# walk over each step in sequence
	for row in data:
		all_candidates = list()
		# expand each current candidate
		for i in range(len(sequences)):
			seq, score = sequences[i]
			for j in range(len(row)):
				candidate = [seq + [j], score - log(row[j])]
				all_candidates.append(candidate)
		# order all candidates by scor

[2021-01-14 05:48] chazuttu commented on #2346
beam_search_decoder() function performs the beam search decoder

[2021-01-14 08:21] genius0182 commented on #2328
I used "ld -l_pywrap_tensorflow_internal --verbose" command to find the following file failed to open,an error is as follows
`
attempt to open //usr/local/lib/aarch64-linux-gnu/lib_pywrap_tensorflow_internal.so failed
attempt to open //usr/local/lib/aarch64-linux-gnu/lib_pywrap_tensorflow_internal.a failed
attempt to open //lib/aarch64-linux-gnu/lib_pywrap_tensorflow_internal.so failed
attempt to

[2021-01-14 13:20] Ghostvv commented on #2088
Hi, we implemented the probability for each tag here: https://github.com/RasaHQ/rasa/blob/master/rasa/utils/tensorflow/crf.py

[2021-01-14 16:01] Rocketknight1 commented on #2201
A quick back of the envelope calculation might illustrate this:

If we assume a large (e.g. BERT) Transformer model, similar to the ones used in the PKM paper, the hidden dimension will be 1024. If we use standard settings from BERT training (batch size 32, sequence length 512) plus the standard settings from the PKM paper (4 heads, top 32 embeddings selected per head), then the output of the gath

[2021-01-15 11:02] bhack commented on #2201
@seanpmorgan @WindQAQ:
Just to summarize:

- It seems that the PKM paper has 38 citations and it is lower then our [50 citations "candidate" minimal treshold](https://github.com/tensorflow/addons/issues/2194).
- With the current XLA/MLIR support of compositional EmbeddingBag, in the PKM use case with large index tensors, we need to go ahead to maintain a  custom ops and exclude TPU.

We need to ev

[2021-01-15 12:28] WindQAQ commented on #2201
1. For EmbeddingBag, we can have both python and C++ implementation. Actually, even in TF core, not all C++ ops are supported with XLA JIT compilation. If we provide python fallback, it's good enough for users who want to use TPU IMO (just like what XLAEmbeddingBag does).
2. For PKM, we should wait for more citations if the limitation is a hard threshold.

[2021-01-15 12:47] bhack commented on #2201
For 1. I know but reading "This is on our todo list" in https://github.com/pytorch/xla/issues/2403#issuecomment-668887911
It is more about an evaluation if we could spent time to review and maintain the custom ops maintainership with the maintainership overhead that cusotm ops have in the meantime or its really near in their TODO list.
It Is why I've mentioned @JackCaoG

[2021-01-15 14:48] bhack commented on #2201
@Rocketknight1 I think if we don't get any other feedback today you could start to make a PR for EmbeddingBag.

For this in the mean time do you have a compositional small example Colab to share?

[2021-01-15 18:10] chn-lee-yumi commented on #2260
It would be great to have such a param:

[2021-01-16 02:38] oO0oO0oO0o0o00 opened #2349 "Error caused by SigmoidFocalCrossEntropy with kernel regularizer"
**System information**
- OS: Linux Ubuntu 16.04:
- TensorFlow: tensorflow-gpu 2.2.0 installed via Anaconda (`conda install`), binary
- (Anaconda repository currently does not support a newer TensorFlow)
- TensorFlow-Addons: tensorflow-addons 0.11.2 via pip (`pip install tensorflow-addons==0.11.2`)
- pip was installed in this conda environment; newer `tfa` requires newer `tf`
- Python version: 3.8

[2021-01-18 08:39] jonpsy opened #2350 "[Metric] Adding AdjustedRsquared Metric"
**Describe the feature and the current behavior/state.**
   The issue #265 dealt with adding innovative metric functions to the repository. Some of which were not completed, one of that, is AdjustedRsquared metric. The author has already finished Rsquared metric, so I decided to add the adjusted R squared metric as an optional feature of that class. Much like how NMS function of tensorflow support

[2021-01-18 14:27] axeldavy opened #2351 "Lookahead might divide weights with mixed_float16"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.3.0-rc2 (source)
- TensorFlow-Addons version and how it was installed (source or binary): Just lookahead extracted from the source (master)
- Python version: 3.6.9
- Is GPU used? (yes/no): yes

When tf.keras.mixed_precision.experimental.

[2021-01-18 14:39] Harsh188 commented on #2350
Hey, @jonpsy unfortunately it looks like the academic paper you have referenced does not meet our minimum requirements of 50 citations.  We are still trying to improve our feature/contribution guidelines but for the time being this is the metric we are using to filter out feature requests.

[2021-01-18 14:46] jonpsy commented on #2350
I see, so shall we  put this PR on hold till it passes 50 citations +?  I can work on other metrics meanwhile.

[2021-01-18 16:33] bhack commented on #2350
That one is only an article and not the original paper.
You need to find some Deep learning papers that use this metric.

[2021-01-18 17:20] Rocketknight1 commented on #2201
I've created a preliminary PR at #2352 . Don't merge it yet, there's still cleanup to be done! However, it does 'work', and you can build and test that fork and try the op out.

[2021-01-19 08:22] betamoo commented on #982
I am having the same problem as well, the loss reaches 1 and stays there!

[2021-01-19 17:48] gowithdaflo opened #2354 "tfa.optimizers.AveragedOptimizerWrapper(optimizer) does not save the optimizer state when used with tf.train.Checkpoint"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab (Linux)
- TensorFlow version and how it was installed (source or binary): 2.4.0 (preinstalled)
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.3
- Python version: 3.8
- Is GPU used? (yes/no): yes

**Describe the bug**

I created a moving average optimizer by
`optimizer = tfa.

[2021-01-19 18:04] bhack commented on #2354
Can you try with the last addons version?

[2021-01-19 19:51] gowithdaflo commented on #2354
I tested it with tfa version 0.12.0 and it works.

[2021-01-19 19:51] #2354 closed

[2021-01-19 19:58] gowithdaflo commented on #2354
I also tested version 0.11.2 in combination with tf 2.2 and the same problem occurs. But seems to be fixed for tfa version >=0.12

[2021-01-21 06:05] #2336 closed

[2021-01-21 08:38] eli-osherovich opened #2357 "tfa.image.transform interpolates pixels that are outside image boundary (instead of using `fill_value`)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian testing
- TensorFlow version and how it was installed (source or binary): 2.4.0 (binary)
- TensorFlow-Addons version and how it was installed (source or binary): 0.12.0 (binary)
- Python version: 3.8
- Is GPU used? (yes/no): no

**Describe the bug**

`tfa.image.transform` interpolates pixels that are outside i

[2021-01-21 15:17] GF-Huang opened #2358 "tfa.metrics.r_square.RSquare vs tfa.metrics.RSquare what differences?"

[2021-01-21 16:38] GF-Huang commented on #1755
So how to solve it?

[2021-01-21 18:05] isears opened #2359 "Contrast Limited AHE (CLAHE)"
TFA already includes a global histogram equalization function (`tfa.image.equalize`). I'm proposing adding a python implementation of CLAHE along side that.

**Relevant information**
- Are you willing to contribute it (yes/no): Yes
- Are you willing to maintain it going forward? (yes/no): Yes
- Is there a relevant academic paper? (if so, where): Yes
    - [S. M. Pizer, E. P. Amburn, J. D. Austin,

[2021-01-21 18:31] bhack commented on #2359
CLAHE or porting MCLAHE to TF2? See https://github.com/tensorflow/tensorflow/issues/24181#issuecomment-760990668

[2021-01-21 19:06] isears commented on #2359
I'm proposing just normal CLAHE for grayscale or RGB images. The draft I have anticipates input shapes like `([batch_size], num_rows, num_columns, num_channels)`

[2021-01-21 19:25] bhack commented on #2359
Ok we put this in the ecosystem review pipeline

[2021-01-21 20:37] StarWang opened #2360 ""Session Crashed for Unknown Reason" in beam_evaluate_sentence() networks_seq2seq_nmt.ipynb"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab instance
- TensorFlow version and how it was installed (source or binary): TF 2.4.0 from colab
- TensorFlow-Addons version and how it was installed (source or binary): pip install tensorflow-addons==0.12.0
- Python version: 3.6.9
- Is GPU used? (yes/no): yes

**Describe the bug**
Got notebook error "Session cra

[2021-01-21 21:09] tomerk commented on #2359
Notes from ecosystem review: We think tfa.image is a good home for this

[2021-01-21 21:49] bhack commented on #2359
You can prepare a PR

[2021-01-21 22:18] isears commented on #2359
Awesome! I'm going to spend a few days cleaning up my draft. I'll plan on opening a PR sometime next week.

[2021-01-21 22:31] bhack commented on #2358
It Is the same.
We don't use the [`tf_export`](https://stackoverflow.com/questions/57631324/what-is-the-function-of-tf-export-before-a-tensorflow-function-definition-in-py) decorator and private `python` namespace API approach like in tensorflow

[2021-01-22 02:34] WindQAQ commented on #2357
We invoke `tf.raw_ops.ImageProjectiveTransformV3` so it's better to post the feature request in core TensorFlow.

[2021-01-22 02:34] #2357 closed

[2021-01-22 09:41] #2358 closed

[2021-01-22 15:43] jonpsy commented on #2350
@bhack  I haven't been able to find a research paper which explicitly introduces this idea, though I have had some luck finding papers which use them. For ex: Harel, Ofer. "The estimation of R 2 and adjusted R 2 in incomplete data sets using multiple imputation." Journal of Applied Statistics 36.10 (2009): 1109-1118.

Citation count: 214.

Would this suffice?

[2021-01-22 15:52] jonpsy commented on #2339
Hi! May I take this up?

[2021-01-22 16:38] bhack commented on #2350
@jonpsy Do you have something applied in the Deep learning context?

[2021-01-22 16:57] olesalscheider opened #2361 "Failing to restore RectifiedAdam optimizer from checkpoint"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): source, nightly
- TensorFlow-Addons version and how it was installed (source or binary): source, nightly
- Python version: 3.6.7
- Is GPU used? (yes/no): yes

**Describe the bug**

When restoring the RectifiedAdam optimizer from a ch

[2021-01-22 17:59] olesalscheider commented on #2361
https://github.com/olesalscheider/addons/commit/cceaa69a5b04dcd73344fc236e46ee2f4df1181e seems to fix it for me, but I am not sure if this is the intended way.

[2021-01-22 18:05] olesalscheider commented on #2351
Can you try if https://github.com/olesalscheider/addons/commit/83590598bd9e78b0aa58d18787acb754e1ac7cfe fixes your problem?

[2021-01-22 21:00] jonpsy commented on #2350
@bhack Not really, but neither is R2 metric. Both of them are used primarily in Linear regression. Basically, it represents how well the line fit using the residue.

Adjusted R2, as the name suggests, is just a small tweak to the original formula. So, if R2 metric can be considered for TFA, I think Adjusted should be as well.

[2021-01-22 22:42] bhack commented on #2350
You can try to send a PR

[2021-01-23 06:06] ahmad-alismail opened #2363 "crf_losses.py as in keras_contrib?"
Hello, I want to ask if you there is an alternative crf_losses.py as in keras_contrib in tensorflow_addons?

[2021-01-23 07:18] Harsh188 commented on #2363
Hi @afi1289,

I believe that we have a [crf layer](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/crf.py) however we do not have an alternative for crf losses.

[2021-01-23 13:39] bhack commented on #2201
I am also trying to investigate with the Jax team as they have the same problem.
We are all on the same boat cause missing XLA support. https://github.com/google/jax/issues/3206

[2021-01-23 20:21] afi1289 commented on #2363
Thank you for your reply @Harsh188
Could you add crf_losses.py to losses, crf_accuracies.py to metrics? thats will help a lot (especially for beginners like me) by implementing BiLSTM-CRF models which initially implemented using keras-contrib.
Thank you in advance!

[2021-01-23 20:24] kankajan814 commented on #2363
Hi @Harsh188 ,
I agree with @afi1289 , please add them

[2021-01-23 21:04] bhack commented on #2363
You can check https://github.com/xuxingya/tf2crf

I don't know if @xuxingya Is interested to contribute here.

[2021-01-24 06:29] Lewington-pitsos commented on #1226
It's been close to a year with no word from on high, keras_cv looks pretty sparse still, has there been any news?

[2021-01-24 08:43] GF-Huang commented on #1755
Nobody can solve this?

[2021-01-24 10:09] failure-to-thrive commented on #1755
Guys, please create a New Issue strictly following the guidelines to provide us a code to reproduce the issue, TF/TFA versions, etc. If you feel your issue somehow related to this one, just refer to it. Simply throwing us error messages will not help in any way, sorry.

[2021-01-24 13:20] eli-osherovich commented on #2357
Opened the issue in tensorflow: tensorflow/tensorflow#46637

[2021-01-24 17:25] jonpsy commented on #2363
@bhack I'm ready!

[2021-01-25 02:42] seanpmorgan commented on #2317
This was completed

[2021-01-25 02:42] #2317 closed

[2021-01-25 02:46] seanpmorgan commented on #2360
Thanks! This could be because 0.12 was released with requirement for AVX2 CPU support. TensorFlow 2.4.1 was since released rolling back this change and thus we are doing the same in an upcoming 0.12.1 release. Will post when it's released and we can try this again.

[2021-01-25 14:07] axeldavy commented on #2351
Indeed, the proposed fix solves the issue.

[2021-01-25 17:01] bhack commented on #2351
@olesalscheider Can you submit a PR?

[2021-01-25 17:10] ZeynepP commented on #2339
I wish someone does...

[2021-01-25 18:51] jonpsy commented on #2339
Recall that in case of multiclass, true positives, true negatives would be a vector(since each class is taken into account), and hence it makes sense that this repo gives coefficient for each class. In case of sklearn, I suppose it's weighing and summing those result in some manner. More on it soon!

[2021-01-25 22:19] #2351 closed

[2021-01-26 15:53] acarl005 commented on #2337
We would love to see this as well. LAMB isn't working for us.

[2021-01-26 20:58] bhack commented on #2361
Can you open a PR?

[2021-01-27 13:43] Suraj-Upadhyay commented on #1441
Hii Guys, I am working on this. Currently reading the research paper for [Filter Response Normalization](https://arxiv.org/pdf/1911.09737.pdf).

If in any doubts I will post it in the comments here and I hope to send a PR soon.

[2021-01-27 16:05] jonpsy commented on #2363
Okay, I did some research on this. Thing is, the loss function doesn't solely depend on y_true and y_pred but also the internal variables. So, we **can't use eager tensor** for y_pred, more at this issue: https://github.com/tensorflow/tensorflow/issues/37119

I could go that path, depending on whether the community agrees on the repercussions.