[2020-04-29 17:27] karlzhang-hhg opened #1755 "tfa.metrics.RSquare: ValueError: Shapes must be equal rank, but are 0 and 1 for 'AssignAddVariableOp' (op: 'AssignAddVariableOp') with input shapes: [], [1]."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.4.1708 (Core)
- TensorFlow version and how it was installed (source or binary): 2.1.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1
- Python version: 3.7.4
- Is GPU used? (yes/no): no

**Describe the bug**
Find a bug in tensorflow_addons:
            In version

[2020-04-29 18:08] seanpmorgan commented on #1752
Thanks @alextp for the insights! It'd be great if you could make the monthly meeting this Friday (1pm PDT). I'll update the meeting agenda to make this is a primary discussion topic:
https://docs.google.com/document/d/1kxg5xIHWLY7EMdOJCdSGgaPu27a9YKpupUz2VTXqTJg/edit

[2020-04-29 20:15] Saqhas commented on #1753
@Squadrick Please check if this feature is already added in the tensorflow main code base.
If it is not there then I have added some changes to support this feature. I can create a pull request.

Thank you

[2020-04-29 22:54] oars opened #1756 "Migrate Convolution*Orthogonal initializers"
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/init_ops.py#L601

[2020-04-30 02:52] sayakpaul opened #1757 "On the usage of ContrastiveLoss"
Hi.

I am following this tutorial from the keras.io website: https://keras.io/examples/mnist_siamese/.

I am replacing the `contrastive_loss` as specified there with `tfa.losses.ConstrastiveLoss` and I am not getting consistent results (in particular, the results are random). I think I have matched the requirements of `ConstrastiveLoss`. Here's the [notebook](https://colab.research.google.com/gist

[2020-04-30 05:26] AakashKumarNain commented on #1757
@sayakpaul Thanks for reporting it. We will look into it

[2020-04-30 07:42] bhack commented on #437
From the original list we are tracking Soft-argmax at https://github.com/tensorflow/addons/issues/1364

[2020-04-30 08:33] bhack commented on #1752
@alextp I also see that in the just released new runtime we have still activations kernels https://github.com/tensorflow/runtime/blob/master/backends/cpu/lib/ops/tf/cpu_ops.cc#L119

[2020-04-30 10:05] fsx950223 commented on #1735
#1324
Rollback?

[2020-04-30 21:09] henry-eigen commented on #1757
I can take a look at this if no one else is already working on it.

[2020-04-30 23:55] seanpmorgan commented on #1757
That'd be great thanks @henry-eigen! Please let us know your findings, and also be sure to comment in the thread if for some reason you can't work on the issue anymore.

[2020-05-01 06:54] failure-to-thrive commented on #1752
My 2¢: unless custom-ops provide significant performance gain they don't justify their maintenance burden.

[2020-05-01 08:57] failure-to-thrive commented on #1755
The correct line of code:
[code]
https://github.com/tensorflow/addons/pull/1310 provides a bit more info why.

[2020-05-01 10:26] sayakpaul opened #1764 "Vectors not getting parsed on TensorFlow Projector (TripletSemiHardLoss tutorial)"
Hi,

I am referring to this tutorial on TripletSemiHardLoss: https://www.tensorflow.org/addons/tutorials/losses_triplet. After I download the `vecs.tsv` and `meta.tsv` files and head over to https://projector.tensorflow.org/ and try uploading the `vecs.tsv` file I am getting the following:

![image](https://user-images.githubusercontent.com/22957388/80799315-2b07be00-8bc4-11ea-8639-d218011f3dc6.pn

[2020-05-01 10:55] ro-mak commented on #821
If somebody has this:
ERROR: Could not find a version that satisfies the requirement tensorflow-addons (from versions: none) ERROR: No matching distribution found for tensorflow-addons

Consider downgrading/changing your Python version, in my case I downloaded Python 3.8 which seems to me is not supported yet (1 May 2020)

[2020-05-01 11:55] #1754 closed

[2020-05-01 13:39] seanpmorgan commented on #1722
So we should only need MLIR legalization passes for custom-ops not python compositional ops I believe. This is a moving target and hard for us to create requirements for. I'm in favor of not requiring all custom-ops support TPU/GPU/CPU since the procedure for doing so is not concrete.

[2020-05-01 14:32] bhack commented on #1722
@seanpmorgan My quick impression is that writing a "MLIR legalization" pass probably it is super easy for the average developer involved in compilers stuffs but it could be really a barrier for early/average Addons contributors.

[2020-05-02 00:22] henry-eigen commented on #1757
@sayakpaul @seanpmorgan I think this issue may have already been fixed. I was able to replicate the issue using tfa version 0.8.3, as is used in the notebook, or version 0.9.1. Building from the master branch, however, I got the expected behavior. I think it was this [commit](https://github.com/tensorflow/addons/commit/10f718f9ca3862e56ef3abb5ccb9360372af047a) that fixed it.

[2020-05-02 05:46] hmnshupndey commented on #498
How did you manage to remove spaces in your paths. I have also tried it but it is showing error:-
WARNING: ignoring LD_PRELOAD in environment.
Starting local Bazel server and connecting to it...
ERROR: bazel does not currently work properly from paths containing spaces (com.google.devtools.build.lib.runtime.BlazeWorkspace@44e17dda).
INFO: Invocation ID: f0c627d8-14c5-4909-8af4-9e011749347e
Please

[2020-05-02 08:26] tonychenxyz opened #1769 "How Exactly Do I Use CRF with this Library?"
I saw a few merge requests that contains CRF not being passed. I also didn't find any documentation on CRF. I was confused. I would really appreciate if someone could help. Thanks!

[2020-05-02 08:30] bhack commented on #1753
We have something in TFX. See https://www.tensorflow.org/tfx/model_analysis/metrics#multi-classmulti-label_classification_metrics
If we are going to get this in charge here in Addons we could notify these two upstream tickets:
https://github.com/tensorflow/tensorflow/issues/37256
https://github.com/keras-team/keras/issues/6507

[2020-05-02 11:35] bhack commented on #1769
Is this a dup of https://github.com/tensorflow/addons/issues/337?

[2020-05-02 16:02] #1750 closed

[2020-05-02 16:20] AakashKumarNain commented on #1757
Thanks @henry-eigen for looking into it. @sayakpaul if you can please confirm this, we will close the issue. I looked into the code as well and on the first look, I didn't find any bug.

[2020-05-02 16:28] sayakpaul commented on #1757
Apologies for the late reply. Seems like the solution for now is to install tfa from source. I will check it and report back accordingly. As @henry-eigen already checked it (thanks for that :)) I think we can close the issue.

[2020-05-02 16:28] #1757 closed

[2020-05-02 16:31] AakashKumarNain commented on #1757
@sayakpaul I don't think you need to install from the source. Just upgrade tfa to the latest version and let us know if you face any issues

[2020-05-02 16:31] sayakpaul commented on #1757
Point noted. Will get back :)

[2020-05-02 16:36] sayakpaul commented on #1764
### Update

So, instead of letting Colab download the `.tsv`s for me, I manually downloaded them and it worked fine. Tested it thrice and seems like there's something wrong with automatic download with `files.download`.

Although I can now upload the embeddings and meta-data to the projector I am unable to reproduce the clustered diagram using UMAP. It would be great if you could provide the hyper

[2020-05-02 18:02] gabrieldemarmiesse opened #1775 "Roadmap for dropping activation custom ops"
Open for discussion, here is a step-by-step timeline to drop custom ops for activations:

1) We add a warning when the user is loading an activation custom op through the python interface, for example, here: https://github.com/tensorflow/addons/blob/master/tensorflow_addons/activations/hardshrink.py#L56
we recommend switching the `TF_ADDONS_PY_OPS` to 1 or 0 to freeze the behavior. We also recomme

[2020-05-02 18:08] gabrieldemarmiesse commented on #1752
Closing as in the monthly meeting, we agreed to drop the custom ops due to all the reasons cited above. See #1775 for the follow-up where the timeline is discussed.

[2020-05-02 18:08] #1752 closed

[2020-05-02 18:12] gabrieldemarmiesse commented on #1722
In the monthly meeting, we agreed to drop the activation custom ops due to all the reasons cited above. See #1775 for the follow-up where the timeline is discussed. I'll leave this issue open as using compiler flags can be relevant for other custom ops.

[2020-05-02 18:14] bhack commented on #1775
Do we really need `3`? As we are warning users in both stages `1` and `2` probably it is fine to skip 3 if we give them enough time.

[2020-05-02 18:20] gabrieldemarmiesse commented on #1775
Maybe for people who don't read warnings? I don't have a strong opinion on this. I don't mind if we skip step 3.

[2020-05-02 18:24] bhack commented on #1775
We could put a `sleep` in `2` after the second run with `TF_ADDONS_PY_OPS=0` :smile:

[2020-05-02 18:33] AakashKumarNain commented on #1775
I am fine with `1` and `2`

[2020-05-04 13:26] bhack commented on #1114
@georgesterpu I dont know if  it could be better that you propose the adoption in https://github.com/tensorflow/text.
So if they will get the ops in charge we could evaluate to deprecate, soon or later, the custom c++/cuda version in addons.

[2020-05-04 17:10] WindQAQ opened #1779 "Deprecate ImageProjectiveTransformV2"
`ImageProjectiveTransformV2` seems to be integrated into core TF at https://github.com/tensorflow/tensorflow/commit/26992815bf7ee136c49f658596a9fbde7881d425 in Jan. We have to deprecate the use of it.

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.cc

Also, it was unclear to me that `ImageProjectiveTransformV2` has been

[2020-05-04 17:18] bhack commented on #1779
@seanpmorgan It will be hard to make a guard about this and routing to an upstream process that we are defining in https://github.com/tensorflow/community/issues/239 like for AMD GELU PR. Cause in this case the code it was not landing with a public PR but it was in the internal google review pipeline.
@karmel Do you think that the checklist about Addons (or SIG)/upstreaming could be done also in t

[2020-05-04 17:38] bhack commented on #1779
@tanzhenyu suggested to talk with us about image processing at https://github.com/tensorflow/addons/issues/1226#issuecomment-609060765.
Could we propose this topic for the next meeting agenda and invite him?
So we could clarify `tf.image`, `tfa.image`, and Keras image preprocessing relationship.

[2020-05-04 18:10] bhack commented on #1779
@WindQAQ Also, now it is official https://summerofcode.withgoogle.com/projects/#4863446367076352

[2020-05-04 18:20] seanpmorgan commented on #1779
@bhack this issue is for what needs to be done to deprecate ImageProjectTransformV2.

Please create a new issue to discuss how we can clarify the clarify `tf.image`, `tfa.image`, and Keras image preprocessing relationship. Alternatively, add it to the meeting agenda. and let us know who you want us to try to get to the meeting for in person discussion.

[2020-05-04 18:26] tanzhenyu commented on #1779
Yeah I believe those are separate issues. For `ImageProjectiveTransformV2` we could either 1) completely remove it from tfa.image, or 2) keep a reference to core.

[2020-05-04 18:28] AakashKumarNain commented on #1779
I believe any redundancy is bad. If we have this in TF core, then I suggest we start with a deprecation warning and remove it gradually in the next version

[2020-05-04 18:47] gabrieldemarmiesse commented on #1779
Thanks @bhack  for bringing this to our attention! I believe we should replace the body of our implementation and call the one in TF while keeping the same API on our side for backward compatibility. If the TF implementation is the same as ours, the tests should pass. Though we should also keep the C++/CUDA code on our side for a while because if we remove the custom op, people trying to load thei

[2020-05-04 18:47] bhack commented on #1779
We could talk in a new ticket but I think that is the normality of the bottom-up process about recognize the single instance of an issue and trying to find the root process/generalizzation that it is creating this kind of issue.
If we are working on the same or overlapped things but we don't know what we are planning on both sides we will go to generate more and more of these issues in image opera

[2020-05-04 18:56] seanpmorgan commented on #1779
If we do it that way then we end up with the mess that is the AutoAugment issue. We don't want to have to dig through issues related to a larger topic to see the high level discussion. Feel free to link to the lower level issues in the higher level discussion not the other way around.

[2020-05-04 18:57] gabrieldemarmiesse commented on #1779
@bhack we totally agree with your point about duplication, but the best place to discuss a new process is a new standalone issue where is referenced all other issues where the pain point is appearing.

[2020-05-04 19:00] gabrieldemarmiesse commented on #1779
Cleaning up the discussion for the future readers.

[2020-05-04 19:13] bhack commented on #1779
I removed all the comments here and also the original comment on the @WindQAQ PR that generated this ISSUE.

[2020-05-04 20:25] seanpmorgan opened #1780 "Formalize process for code merging into tf.image, tfa.image, and keras-preprocessing"
Currently there is no communication or criteria for what is being merged into the different repositories. This creates duplicated code within the ecosystem and is wasting contributor time/effort.

As an example, we've [tried to extend `ImageProjectiveTransformV2`](https://github.com/tensorflow/addons/pull/1721) without realizing that TF-core had already implemented the same functionality: https://

[2020-05-04 20:31] bhack commented on #1364
I would close this tomorrow but if somone  is still interested in this topic I will just unsubscribe to the ticket. Let me know.

[2020-05-04 20:44] bhack commented on #1780
From GSOC project desc:

What will happen if users will start train models and serialize overlapping ops in Addons that are or will appear soon in  other places (developed from scratch or ported from google AutoAugmentation repos)?

Need we to maintain these overlapping ops in Addons for Models retrocompatibility?

Need we to stop to process image ops PR by now?

What about morphology custom ops t

[2020-05-04 21:17] seanpmorgan commented on #1780
This is a good topic so want to make sure we fully cover it... does the below information cover the issues you're seeing?

 When a pre-processing layer is serialized it will contain package information so that the correct layer is re-loaded upon de-serialization:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/preprocessing/image_preprocessing.py#L106

For examp

[2020-05-04 21:20] tomerk opened #1781 "Packaging learning rate schedules with addons?"
We have several experimental learning rate schedules in TensorFlow/Keras currently:

https://www.tensorflow.org/api_docs/python/tf/keras/experimental/CosineDecay
tf.experimental.CosineDecay
tf.experimental.CosineDecayRestarts
tf.experimental.LinearCosineDecay
tf.experimental.NoisyLinearCosineDecay

These have been marked experimental for several releases, but have seen little to no usage (0 for li

[2020-05-04 21:42] WindQAQ commented on #1781
cc @tensorflow/sig-addons-maintainers

[2020-05-04 21:52] gabrieldemarmiesse commented on #1781
That seems like a good fit for addons. We already have some learning rate schedulers. We would just need a codeowner though.

[2020-05-05 00:28] bhack commented on #1781
How this usage was identified? Model Garden? GitHub third_party repos?
I think It could make the difference for a codowner candidate.

[2020-05-05 02:00] tomerk commented on #1781
A combination of a github search and a search through our internal codebases.

Github produces enough search results that my estimates could be wrong, but for noisylinearcosinedecay and linearcosinedecay I seemed to just find forks of tensorflow:
https://github.com/search?l=Python&q=%22keras.experimental.noisylinearcosinedecay%22&type=Code
https://github.com/search?l=Python&q=%22keras.experimental

[2020-05-05 05:39] gaurav-singh1998 commented on #367
Hi, @bionicles @sayoojbk @Squadrick I want to take up this issue if it's okay. Thanks

[2020-05-05 06:35] sayoojbk commented on #367
Sure @gaurav-singh1998 you can move forward with this. If need any help ping anyone of us on gitter.

[2020-05-05 07:25] gaurav-singh1998 commented on #367
Hello @sayoojbk as I am new in this repository I may take some time to get acquainted with the code base and finally come up with a PR. Is it okay?

[2020-05-05 09:31] bhack commented on #1781
I think you need to search also for something like `"import noisylinearcosinedecay".
In any case I suppose that we are in one of these first case of core2addon (or downstream/degraduating).
In the original ticket at https://github.com/tensorflow/addons/issues/686 that generated the migration to core policy there was already the downstreamimg topic but was not analyzed at that time so currently the

[2020-05-05 09:31] sayoojbk commented on #367
Yea take your time! If need any help ping on the official gitter channel for SIG-addons :P

[2020-05-05 09:50] bhack commented on #1780
I suppose that part of the @gabrieldemarmiesse
comment at httpss://github.com/tensorflow/addons/issues/1779#issuecomment-623638831 Is valid also for non custom ops.
The risk is lower or at least under control with upstreaming ops from Addons but there could be problem when creating an alias on semi overlapping ops that we are not aware about the API design (missing parameters, different implementa

[2020-05-05 18:48] #1749 closed

[2020-05-05 21:58] Fabian-Leon opened #1783 "TripletSemiHardLoss with inception model"
Hi, I'm trying to use TripletSemiHardLoss() with a inception model but it doesn't work. Actually I use colab and my code is:
[code]
This shows the following error:

[code]

However when I use a sequential keras model it works fine this is the code:

[code]
I think it may be an error with the data format, but I'm not sure.

[2020-05-05 22:21] bhack commented on #1783
https://stackoverflow.com/questions/59728921/tripleloss-from-tensorflow-add-on-give-reshape-error

[2020-05-05 23:11] Fabian-Leon commented on #1783
yes, try to do this but it still doesn't work, it gives me the same error. It works with tf.keras.Sequential but when I used this in the inception loss it doesn't work

[2020-05-05 23:27] bhack commented on #1783
Yes sorry I pasted the other ticket. I wanted to make a reference to https://stackoverflow.com/questions/61362751/invalidargumenterror-when-training-with-tripletsemihardloss-and-keras-sequence

[2020-05-05 23:35] Fabian-Leon commented on #1783
Yes, I think that is about the same error, but in that thread nobody responds yet.

[2020-05-06 09:31] bhack commented on #1783
/cc @lc0

[2020-05-06 14:46] olesalscheider opened #1786 "Misleading flow field in dense_image_warp / sign seems "wrong""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): source master
- TensorFlow-Addons version and how it was installed (source or binary): source master
- Python version: 3.6.7
- Is GPU used? (yes/no): yes

**Describe the bug**

While the implementation of `dense_image_warp` follows t

[2020-05-06 21:25] gabrieldemarmiesse commented on #1775
I think we should add the warning of 1), and then backport the warning to the 0.9.x branch and make a 0.9.2 release. The would ensure more people get the warning. If that's not too much work @seanpmorgan for you to draft the 0.9.2 release of course.

[2020-05-07 09:42] saahiluppal opened #1787 "Why this isn't included in main tensorflow?"
Tensorflow addons have a large no of very useful features used in day to day projects.
But why these aren't included in main tensorflow instead?

[2020-05-07 10:01] bhack commented on #1787
The addons features could go in the "main" tensorflow repo.
We are trying to improve the migration/upstreaming process. If you want to contribute check https://github.com/tensorflow/community/pull/241

[2020-05-07 10:04] SNeugberYoti opened #1788 "Unable to save model using WeightNormalization in TF2.1 / load saved model in TF2.2rc4"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.1 / 2.2rc4, both installed from pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1, installed from pip
- Python version: 3.7.5
- Is GPU used? (yes/no): no

**Describe the bug**

Building a model with

[2020-05-07 10:09] SNeugberYoti commented on #1788
Maybe this helps narrow it down further: I also just tried loading the model in TF2.2rc4 using

`restored_model  = tf.keras.models.load_model("./test_export")`

the error message is now:

`tensorflow.python.saved_model.nested_structure_coder.NotEncodableError: No encoder for object [] of type [<class 'tensorflow.core.protobuf.struct_pb2.StructuredValue'>].`

[2020-05-07 10:14] bhack commented on #1788
Do you have the same error with `model.save('model',save_format='tf')`?

[2020-05-07 10:16] SNeugberYoti commented on #1788
Yes

[2020-05-07 10:23] SNeugberYoti commented on #1788
I can save/restore it using the hdf5 format, i.e. `model.save(model, save_format="h5")`but I need it in the tensorflow format for tensorflow serving.

[2020-05-07 10:38] bhack commented on #1788
Is It a subclassed model?

[2020-05-07 10:43] SNeugberYoti commented on #1788
Yes in my case it is, but the sample code above also fails using just the vanilla keras model class

[2020-05-07 11:12] bhack commented on #1788
It could be useful if you can open a small PR creating a test like this that can cover your case:  https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/tests/wrappers_test.py#L149

Let the CI on the PR to fail you test case

[2020-05-07 13:04] SNeugberYoti commented on #1788
Cool, done

[2020-05-07 13:13] seanpmorgan commented on #1775
Good idea... no issue creating a 0.9.2 release.

[2020-05-07 14:19] bhack commented on #1788
Thanks

[2020-05-07 15:26] bhack commented on #1783
@Fabian-Leon In the meantime, it could be useful if you can, to open a very minimal test PR with you `fit` use case  like e.g https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/tests/loss_test.py#L269.
You need to place the test in https://github.com/tensorflow/addons/blob/master/tensorflow_addons/losses/triplet.py

Lets the CI to fail in the PR on your test.

[2020-05-07 17:24] gabrieldemarmiesse opened #1793 "Use pytest-regression instead of hardcoding expected values in the test suite."
This doesn't prevent us from using other types of testing of course. This would just help us prevent regressions in general in a cleaner way than hardoding a few expected results in the tests. With this we could completely eliminate numerical regressions in the codebase.

We could impose a rule when reviewing, like "If you change the file with the expected results in a pull request, the implementa

[2020-05-07 19:32] gabrieldemarmiesse opened #1794 "Remove the tf.cond and tf.control_dependencies in the codebase."
**Describe the feature and the current behavior/state.**

With tf.function, and more precisely autograph, tf.cond and tf.control_dependencies are not needed anymore. One can take a look at the the [RFC](https://github.com/tensorflow/community/blob/master/rfcs/20180918-functions-not-sessions-20.md) for reference. TensorFlow Addons should aim to be an example for contributors who want to know how to

[2020-05-07 19:37] bhack commented on #1794
Is it only in the [seq2seq decoder](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/decoder.py)?

[2020-05-07 19:39] gabrieldemarmiesse commented on #1794
Yes, it's the only place where there is a tf.cond.

El jue., 7 may. 2020 21:38, bhack <notifications@github.com> escribió:

[2020-05-07 22:25] acmilannesta opened #1796 "Moving average"
Does this implementation (https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/MovingAverage) is the same as ExponentialMovingAverage in tensorflow train module (https://www.tensorflow.org/api_docs/python/tf/train/ExponentialMovingAverage)?

[code]

is the same as
[code]

[2020-05-08 08:06] guillaumekln commented on #1794
I think `tf.control_dependencies` are still required for assert ops. For example the documentation of [`tf.debugging.assert_equal`](https://www.tensorflow.org/api_docs/python/tf/debugging/assert_equal) states:

[2020-05-08 08:35] bhack commented on #1794
Are they missing this case in the [main doc reference](https://www.tensorflow.org/api_docs/python/tf/control_dependencies?version=nightly)?

[2020-05-08 08:56] gabrieldemarmiesse commented on #1794
@guillaumekln  @bhack thanks for the pointers!

For user checks in `call` methods, I think we're going to go with this anyway: https://github.com/tensorflow/addons/issues/1417 which will allow us to do more checks and debugging at runtime. Since it's only in eager mode, we wouldn't have to use tf.control_dependencies.

[2020-05-08 09:43] bhack commented on #1305
Just a reminder:
If we want to let the users to use theirs GitHub codespaces  with addons we will need to recover something from this PR.

https://help.github.com/en/github/developing-online-with-codespaces/configuring-codespaces-for-your-project

[2020-05-08 10:51] bhack commented on #1796
It is more related to stackoverflow but I mention the SO reference here so that we have an better overview of the boundaries between SO routing and tickets with the user/dev interaction:
https://stackoverflow.com/questions/61666796/tensorflow-addon-moving-average

[2020-05-08 11:24] bhack commented on #1417
I don't know if we could or it is safe enough to check only `sys.gettrace` to see if we are really under a debugger and to enable only the checks in that case.
It seems to me not so much UX friendly to require to use `python -O my_script.py` for having performance in eager_mode if we want to be `eager friendly` by default.
I have not read many other docs about explicit `-O` in other libraries so m

[2020-05-08 11:35] gabrieldemarmiesse commented on #1417
Because it's not possible to turn off runtime checks in most libraries. So we're already better than most in this regard. Furthermore, many people debug by using prints (not that it's a good practice), but we need to support this use case, it's not possible with `sys.gettrace`. `-O` turns off assert statements too so it's been made precisely for this use case.

From the zen of Python:

Eager mode

[2020-05-08 11:54] bhack commented on #1417
I could agree with you if we want to use `print debugging`. I think in that case the alternative could be to use some processor.
At UX level the backward interpretation was not so friendly also for other users. See comment on the upvoted reply at https://stackoverflow.com/questions/482014/how-would-you-do-the-equivalent-of-preprocessor-directives-in-python.

Unless explicitly silenced.

Ok but I t

[2020-05-08 12:29] TWJubb opened #1801 "WeightNormalization not working with TensorBoard histograms"
**System information**

- TensorFlow version 2.1.0
- TensorFlow-Addons version 0.9.1
- Python version 3.6
- Is GPU used? yes

**Describe the bug**

I am using the `WeightNormalization` wrapper in a `keras` model and I want to monitor the weights and gradients using tensorboard; but I believe the use of this boolean parameter

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layer

[2020-05-08 13:23] bhack commented on #1417
Also could we have any significant side effect in Autograph loop with `-0`?

[2020-05-08 14:01] guillaumekln commented on #1417
Sorry for not reacting to this issue earlier.

Can you clarify what you mean by "checks on numerical values" exactly? I would assume that most if not all input checks are related to checking the input shape.

This is true but when we talk about shape checks, they are an order of magnitude faster than the actual layer runtime. So I'm not sure performance is a concern here.

---

I would agree with

[2020-05-08 14:11] guillaumekln commented on #1794
It seems `tf.control_dependencies` may not be needed for assert ops, contrary to what the documentation says. Consider the following example:

[code]

It correctly raises an exception on the second call.

[2020-05-08 14:23] bhack commented on #1794
@guillaumekln I've already opened https://github.com/tensorflow/tensorflow/issues/39305 to try to make the docs homogeneous.

[2020-05-08 14:34] gabrieldemarmiesse commented on #1417
I believe we should support other types of error checks to be able to provide a better user experience. For example:

* Inputs are in the expected range, for example for functions expecting images between 0 and 255 or between 0 an 1.
* In functions like resampler ops or cutout where one tensor contains the indices of another tensor, we could check all indices are in the expected range.
* The sum o

[2020-05-08 15:02] guillaumekln commented on #1417
So the policy you are describing in this issue is only for the checking the actual input values and not the shapes?

[2020-05-08 15:11] gabrieldemarmiesse commented on #1417
Good question. When I made the issue, I didn't think about what checks were negligable in running time, I had more in mind that we should have a mode where we have maximal performance, where we drop all checks. Making a check technically stops the flow of computation, so I though it was expensive. That may not be the case for shapes.

Overall, if we can unify the way we do checks, that's better th

[2020-05-08 15:19] gabrieldemarmiesse commented on #1801
The current implementation of `WeightNormalization` is very hacky. The biggest problem is that we remplace the layer's kernel attribute by a tensor, and in the graph. So if some tool expects the inner layer to have a `kernel` tf.Variable, well, it crashes.  I tried to fix it in https://github.com/tensorflow/addons/pull/1789 but I don't think the variable `g` is going to get updated with this fix.

[2020-05-08 15:22] bhack commented on #1417
So Is It not better to handle these with a classical loglevels approach?

[2020-05-08 18:57] guillaumekln commented on #1417
I think shape checks should always run and work in both eager and graph mode.

On the other hand, it sounds reasonable to only run numerical checks in a eager debug mode. But it should probably be disabled by default, what do you think? It could be enabled with a global function such as `tfa.enable_numerical_checks`.

[2020-05-08 19:11] guillaumekln commented on #1793
This looks like a good plan. In seq2seq the numerical tests are very useful against regression but they are painful to update if anything outside our code changes (e.g. random generator, TensorFlow ops precision, etc.).

[2020-05-08 19:58] gabrieldemarmiesse commented on #1417
It's a hard decision.

If it's disabled by default in eager mode, it's likely that a very small subset of our userbase will know about it. Most users just google whatever layer/metric/loss they're looking for and grab it from tensorflow addons. They don't look at the readme because they don't need to. So most of them will never activate it, even when debugging their model.

If we enable it by defa

[2020-05-08 20:11] bhack commented on #1417
IMHO I prefer to have an API call with an env to pilot this like[1] cause I still think that the big user base at the more or less entry level and that don't read the documentation has no habit to use `-0`.

Then we could talk about what is the best default behavior in eager mode.

[1]https://github.com/tensorflow/tensorflow/blob/v2.2.0/tensorflow/python/autograph/utils/ag_logging.py#L40-L88

[2020-05-08 21:16] bhack commented on #1417
Also I want to open a new point in the discussion. How many numerical checks we have in the main library?
Cause I suppose that users will expect to have a quite consistent experience in the whole library (TF + addons).
If you start to expect to be "safe" with extra-guards in addons at some point you could expect to have this "feature"  available also in the whole library cause APIs are regular mix

[2020-05-09 08:29] gabrieldemarmiesse commented on #1735
@fsx950223  I think we need to copy the code of the wrapper in Addons (we may already have some of it) and use that instead.

[2020-05-09 08:34] fsx950223 commented on #1735
It's difficult if the API depends on lots of internal APIs.

[2020-05-09 08:43] gabrieldemarmiesse commented on #1735
We can limit the functionality to our use cases if that can help. For example, we don't support tf.compat.v1. The wrapper in TF seems fairly small, I think we should be able to port it.

[2020-05-09 11:05] saahiluppal commented on #1787
Looking forward for contribution

[2020-05-09 11:05] #1787 closed

[2020-05-09 14:49] ghosalsattam commented on #1353
@gabrieldemarmiesse The list does not contain Canny Edge detection. But it is useful functionality an is contained in almost all Standard image processing libraries. Should it be added?

[2020-05-09 15:29] bhack commented on #1353
About image processing I think that we need to think about priorities:

- Is the op useful for image (auto)augmentation/preprocessing?
- Is the op useful for postprocessing the network output?
- if are not in the first two cases what is the use case of that specific op VS a network that learn that task (e.g. in the edge detector case see https://arxiv.org/abs/2003.08235 just to mention a recent wo

[2020-05-10 10:03] #1796 closed

[2020-05-10 11:07] bhack commented on #1414
Just as a reminder when we will have the developer image I think that we need to refactor the pre-commit hooks cause we will not want to run Docker in Docker just for linting and all the linting tools will be already available in the Dev image.

[2020-05-10 16:14] tanzhenyu commented on #1780
Sorry @seanpmorgan @bhack , apparently I missed this comment!

Let me try to answer your question in several perspectives:
1) (I think) TFA is the default place to start experimenting ops/layers. When new algorithms come up and many people would like to use it / contribute it with TF ecosystem, we'd always recommend TFA as a starting point. Whether TFA decides to accept this or not is completely u

[2020-05-10 19:38] bhack commented on #1780
We are trying to improve the process at:
https://github.com/tensorflow/community/pull/241 (upstreaming)
https://github.com/tensorflow/community/issues/242 (downstreaming)

I think we could solve 1. and 2. if we find a common vision in these templates.

On the TF side I think you just need to add, to the internal and public PR/review triage checklist an extra check to verify if the code is already

[2020-05-10 21:32] Mistobaan commented on #1553
I am deducing that tensorflow_addons image transformations **do not** work on TPU @bhack?

[2020-05-11 00:20] tanzhenyu commented on #1780
We don't have any short-term plans to add ops. For keras preprocessing, they are described [here](https://github.com/keras-team/governance/blob/master/rfcs/20190729-keras-preprocessing-redesign.md) and already implemented. What AutoAugment requires (such as solarize, sample pairing) will not be made into core. Francois and I are discussing the roadmap for keras_image which might include some of th

[2020-05-11 08:15] bhack commented on #1780
So where the Gsoc student is going to create PRs? On keras_image?

[2020-05-11 19:30] WindQAQ commented on #1786
@olesalscheider Thanks for catching this! I would suggest that we can update the documentation to make it more precise. Feel free to open an PR and request my review! Thanks!

[2020-05-11 19:31] WindQAQ commented on #1756
@oars Please follow the issue template.

[2020-05-11 21:08] bhack opened #1815 "Pull request template?"
Sometime we have direct PR with new features without an issue so we don't know many important elements that are required in the ISSUE template like who is the maintainer or backup maintainer when we have new contributors (or need we to assume that the merger is the backup maintainer?).

So, do we want to have a similar template for PR or we just want to enforce users to open an issue if they have

[2020-05-12 16:29] seanpmorgan commented on #1756
Closing. Please feel free to re-open using the issue template so we can discuss who would maintain this feature (a core component of Addons).

[2020-05-12 16:29] #1756 closed

[2020-05-12 17:05] seanpmorgan commented on #1793
Also in support of using this. Getting the most of our switch to pytest is ideal and this extension seems like it'll help us manage a large number of tests which are really just regression tests.

[2020-05-12 17:13] gabrieldemarmiesse commented on #1793
Nice, it's a green light then. I think I'll make a small proof of concept and then we can start switching more and more tests as people have an example to look at. We can get help from our contributors for that.

[2020-05-12 17:20] seanpmorgan commented on #589
Closed by https://github.com/tensorflow/addons/pull/1672

[2020-05-12 17:20] #589 closed

[2020-05-12 17:43] seanpmorgan commented on #801
Tests are no longer marked flaky. Most likely fixed by moving to fully eager testing, but it's difficult to parse from the history.

Closing.

[2020-05-12 17:43] #801 closed

[2020-05-13 00:39] yuvaramsingh94 opened #1821 "Issue with Cohen kappa metrics"
Hello, i am facing issue when i tried to testout tfa.metrics.CohanKappa . i ran the example code provided on[ https://www.tensorflow.org/addons/api_docs/python/tfa/metrics/CohenKappa#usage](url)

Running Env:
colab gpu instance

[code]

this code is throwing the following error.

[code]

[2020-05-13 00:45] yuvaramsingh94 opened #1822 "Cohen kappa metrics value provided by tfa is not matching with sklearn calculation"
Hi all, i am currently using tfa Cohen kappa metrics to monitor my keras training of a model . i observed a strange behavior where during training, the tfa cohen kappa reports a value for validation dataset . but, when i test the performance over the same validation dataset with sklearn, it reports a different number. there are huge disparity between the numbers reported between tfa and sklearn.

[2020-05-13 05:18] AakashKumarNain commented on #1822
Can you please provide a minimal code to reproduce?

[2020-05-13 07:48] olesalscheider commented on #1786
Fixed

[2020-05-13 07:48] #1786 closed

[2020-05-13 08:44] ClementWalter opened #1823 "Random_cutout cannot be used in graph mode"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): pip, 2.1
- TensorFlow-Addons version and how it was installed (source or binary): pip 0.9.1
- Python version: Python 3.6.10 (default, Dec 19 2019, 23:04:32) [GCC 5.4.0 20160609] on linux
- Is GPU used? (yes/no): yes

**Describe the bug**

[2020-05-13 08:46] #1823 closed

[2020-05-13 09:00] ClementWalter opened #1824 "Cannot use random_cutout in keras training"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.1 from pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1 from pip
- Python version: Python 3.6.10 (default, Dec 19 2019, 23:04:32) [GCC 5.4.0 20160609] on linux
- Is GPU used? (yes/no): yes

**Describe th

[2020-05-13 09:23] bhack commented on #1824
I don't know if It Is caused  by the missing `img_utils.from_4D_image`.

There was a big thread closed yesterday about `Model.fit` with unknown ranks at https://github.com/tensorflow/tensorflow/issues/24520

[2020-05-13 11:05] ClementWalter commented on #1824
I have updated tensorflow to 2.2 and the error is different:

[code]

[2020-05-13 12:19] bhack commented on #1824
[code]

Can you send a PR with something like https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/transform_ops.py#L117 for cout_out?

[2020-05-13 17:26] bhack commented on #1824
@ClementWalter if you need any feedback for the PR you could reach us also on https://gitter.im/tensorflow/sig-addons but I think it is quite trivial.

[2020-05-13 18:31] WindQAQ opened #1825 "Inconsistent APIs within tfa.image and between tf.image and tfa.image"
**Describe the feature and the current behavior/state.**
Currently, some functions in `tfa.image` that support `data_format` args like [equalize](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/color_ops.py#L79), [cutout](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/cutout_ops.py#L97), and [random_cutout](https://github.com/tensorflow/addons/blo

[2020-05-13 18:42] bhack commented on #1825
I prefer to be uniform with `tf.image` and also with `keras_image` in the future if it will follow this same "standard" format.

[2020-05-13 19:19] bhack commented on #1825
I am not sure if we are uniform also about the casting operations.

[2020-05-13 19:22] WindQAQ opened #1826 "tfa.image.sharpness does not expose in __init__.py"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- TensorFlow version and how it was installed (source or binary): binary
- TensorFlow-Addons version and how it was installed (source or binary): nightly
- Python version: 3.6
- Is GPU used? (yes/no): no

**Describe the bug**
should expose `sharpness` under [\_\_init\_\_.py](https://github.com/tensorflow/addons

[2020-05-13 19:54] WindQAQ opened #1828 "Testcase of tfa.image.sharpness is not robust"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18/04
- TensorFlow version and how it was installed (source or binary): binary
- TensorFlow-Addons version and how it was installed (source or binary): source
- Python version: provided docker image
- Is GPU used? (yes/no): no

**Describe the bug**
The [testcase](https://github.com/tensorflow/addons/blob/maste

[2020-05-13 19:55] bhack commented on #1828
@WindQAQ all your colab are private :smile:

[2020-05-13 20:01] WindQAQ opened #1829 "tfa.image.equalize is not compatible with tf.data.Dataset"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- TensorFlow version and how it was installed (source or binary): 2.2.0
- TensorFlow-Addons version and how it was installed (source or binary): tfa-nightly
- Python version: 3.6
- Is GPU used? (yes/no): no

**Describe the bug**
The error raises if using `tfa.image.equalize` with `tf.data.Dataset`. The error is

[2020-05-13 20:03] WindQAQ commented on #1828
@bhack Thanks for the reminder! I've changed the permission. Please let me know if they are still private :-)

[2020-05-13 20:09] bhack commented on #1828
It was almost ported from the official code https://github.com/tensorflow/models/blob/master/official/vision/image_classification/augment.py#L456-L482

We have just a different approach to casting in our code.

[2020-05-13 20:20] WindQAQ commented on #1828
Testing against uint8 is super hard as `tf.nn.depthwise_conv2d` does not support integer computation. For example, 2.99999999 is 3 in floating point, but when casting (floor operation) to uint8, it becomes 2 :-(

My opinion is not to use pillow, which is uint8 anywhere, as ground truth of testcase. However, this function tries to mimic the functionality in pillow...

Also, the testcases in the ori

[2020-05-13 20:20] #1826 closed

[2020-05-13 20:20] WindQAQ commented on #1826
closed via #1827

[2020-05-13 20:27] bhack commented on #1828
https://github.com/tensorflow/models/blob/master/official/vision/image_classification/augment_test.py

And is it not under `research` folder :wink:

[2020-05-13 21:26] bhack commented on #1829
https://github.com/tensorflow/addons/pull/1830

[2020-05-13 21:48] bhack commented on #1828
/cc @abhichou4

[2020-05-13 23:53] seanpmorgan commented on #1825
Thanks for bringing this up!  This much very much needs to be decided upon and standardized.

I also agree we should be consistant with what `tf.image` supports, but just want to confirm that NHWC is all that tf.image plans to support in the future. Seeing as keras has `data_format` args, I want to verify that support isn't on the roadmap for tf.image ops given the new Keras preprocessing pipeline

[2020-05-14 00:00] tanzhenyu commented on #1825
I believe we could drop it. The original channel_first exist mostly when cuda doesn't support it very well so channel_first ops are placed on CPU (IIUC).

[2020-05-14 00:20] #1829 closed

[2020-05-14 00:21] WindQAQ commented on #1829
For tracking, this is related to tensorflow/tensorflow#26091 and tensorflow/tensorflow#26602.

[2020-05-14 00:27] #467 closed

[2020-05-14 00:46] tanzhenyu commented on #1825
As of today, NHWC is what CPU only supports. In Cuda, it will mostly convert to NCHW first and call an efficient cudnn, except if it's float16 and > Volta V100, but this is done by default.

So yeah I think we should be consistent with tf.image

[2020-05-14 02:38] mjsML commented on #242
@seanpmorgan tested this with your colab notebook without downloading the alpha , just using the 2.2 default with colab now ... still causes the session to crash with the infamous "Your session crashed for an unknown reason."

[2020-05-14 05:01] bersbersbers commented on #1376
@gabrieldemarmiesse #130 was closed on March 27:

And while `tfa-nightly` has PyPI packages for 3.8 (https://pypi.org/project/tfa-nightly/#files), `tensorflow-addons` still doesn't despite an April 10 release (https://pypi.org/project/tensorflow-addons/#files). What else should I track to follow stable Python 3.8 support via PyPI?

[2020-05-14 05:02] ricwo opened #1831 "Python 3.8 installation fails with `error: could not create 'build': File exists`"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OS X
- TensorFlow version and how it was installed (source or binary): 2.2.0 (binary)
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1 (binary)
- Python version: 3.8.2
- Is GPU used? (yes/no): no

**Describe the bug**

Installation of 0.9.1 fails on py 3.8 with

[code]

**Code to reprodu

[2020-05-14 05:06] gabrieldemarmiesse commented on #1376
We plan for a new release tomorrow :)

[2020-05-14 09:21] bhack commented on #1366
We have other new (duplicated?) Keypoint/Heatmap utils in the model garden at  https://github.com/tensorflow/models/blob/master/research/object_detection/utils/target_assigner_utils.py#L44

@seanpmorgan @karmel Can you ask internally if they can contribute these general utils and components in Addons instead of embedding inside the model garden repositories?

I think this is in the spirit of the [

[2020-05-14 17:30] gabrieldemarmiesse commented on #1794
This can be closed :)

[2020-05-14 17:30] #1794 closed

[2020-05-14 17:36] gabrieldemarmiesse commented on #1828
The implementation might be slightly different. Maybe asking the atol to be lower than 1 is too much when working in uint8? Maybe I'm missing something.

[2020-05-14 18:50] autoih commented on #1821
Thanks @yuvaramsingh94 for pointing this out. Can you add `sparse_labels=True` in Line `m = tfa.metrics.CohenKappa(num_classes=5)`?

[2020-05-15 00:45] WindQAQ commented on #1828
I assume the implementation should be the same with the one that we test against so the output should totally match. If they are different, then yep, maybe the value of 1 is negligible in for uint8.

[2020-05-15 00:45] #1828 closed

[2020-05-15 00:59] seanpmorgan commented on #1831
Hi @ricwo sorry about that. We've released version 0.10 which has a published py38 build. Please give it a try and let us know if there are any issues.

[2020-05-15 00:59] #1831 closed

[2020-05-15 01:00] seanpmorgan commented on #1376
@bersbersbers 0.10 has been published with python3.8 wheels available.

[2020-05-15 01:00] seanpmorgan commented on #744
Version 0.10 includes a python3.8 wheel. Closing.

[2020-05-15 01:00] #744 closed

[2020-05-15 01:05] seanpmorgan commented on #1655
@gabrieldemarmiesse Can this be closed or are there pending actions we need to do?

[2020-05-15 01:12] seanpmorgan commented on #242
Yes thanks @mjsML ! I've made an issue on Colab to see if they can upgrade the package:
https://github.com/googlecolab/colabtools/issues/1243

[2020-05-15 01:15] seanpmorgan commented on #1553
Hi @Mistobaan. Yes it's currently not supported for us to have XLA HLO ops registered outside of the central TF build. We do have plans to convert as many custom ops as possible to python composite ops so at least those will be compatible. See #1752

[2020-05-15 01:15] #1553 closed

[2020-05-15 04:27] gabrieldemarmiesse commented on #1655
Let's close it as there is no obvios path right now

[2020-05-15 04:27] #1655 closed

[2020-05-15 05:11] ricwo commented on #1831
It works, thanks a lot 👍

[2020-05-15 06:11] yuvaramsingh94 commented on #1822
Hi @AakashKumarNain unfortunately i am not able to produce the same error again. thanks for replaying . i will close this thread for now .

[2020-05-15 06:11] #1822 closed

[2020-05-15 06:45] AakashKumarNain commented on #1821
Thanks @yuvaramsingh94 for catching this and thanks @autoih for the fix.

[2020-05-15 06:45] #1821 closed

[2020-05-15 11:36] prameth opened #1839 "WeightNormalization not working with custom constraints"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):MacOS 10.15.3
- TensorFlow version and how it was installed (source or binary):2.2.0 Google Colab
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version:Python 3 Google Colab
- Is GPU used? (yes/no):yes

**Describe the bug**

<img width="779" alt="Screenshot 2020-05-15 at 5 02 22 PM"

[2020-05-15 11:59] bhack commented on #1839
Can  you test:
[code]

Please subscribe also to https://github.com/tensorflow/addons/pull/1789#issuecomment-629185906 and see how it will evolve.

[2020-05-15 12:24] prameth commented on #1839
@bhack, thanks for the help! It works perfectly fine now.

[2020-05-15 12:24] #1839 closed

[2020-05-15 13:48] bhack commented on #1655
If you want you could subscribe to https://github.com/tensorflow/build/issues/5 cause we are marginally talking also about the bazel cache for github actions.
That ticket was created yesterday by build the on of SIG Build leader (in google team) after our chat on the SIG Build Gitter channel.

[2020-05-16 06:18] fsx950223 commented on #1824
I met same bug when I run the following script:
[code]

[2020-05-16 07:54] 190407543 opened #1843 "tfa.layers.MultiHeadAttention"
tfa.layers.MultiHeadAttention
corrected as below

after
!pip install tensorflow-addons

import tensorflow_addons as tfa
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-3-da33c24ddbfa> in <module>()
     92
     93
---> 94 mha = tfa.layers.MultiHeadAttention(head_size=512, num_head

[2020-05-16 07:59] 190407543 commented on #1843
tfa.layers.MultiHeadAttention

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-4-6ba7436f86f5> in <module>()
     92
     93
--> 94 mh-a = tfa.layers.MultiHeadSelfAttention(head_size=512, num_heads=8)
     95 #query =(32, 20, 200)) # (batch_size, query_elements, query_depth)

[2020-05-16 08:11] bhack commented on #1824
Yes if you reintroduce the squeeze you have the same problem

[2020-05-16 12:14] fsx950223 commented on #1824
I haven't met the bug with commit https://github.com/fsx950223/addons/commit/b1e7722f0750affa2eca83d195bfa7780cddfe5b

[2020-05-16 13:17] yuvaramsingh94 opened #1845 "Cohan Kappa: OperatorNotAllowedInGraphError when used with custom tf model"
Hi all,
i am facing issue with using Cohan kappa metrics . when the model is compiled with tfa cohankappa metrics, it throws error during training . but the same model when compiled without tfa cohankappa metrics is working perfect .

Here is the minimal code implimentation

https://colab.research.google.com/drive/1rWUpVytM7aa7WRg14pgUD9z3qMm3PsMR?usp=sharing

[code]

[2020-05-16 15:15] bhack commented on #1824
I meant with the current code in master. With that PR/commit Is ok

[2020-05-16 15:40] nielsrolf opened #1846 "Error when importing tensorflow_addons==0.10.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.14.6
- TensorFlow version and how it was installed (source or binary): 2.1.0, installed with `pip install tensorflow`
- TensorFlow-Addons version and how it was installed (source or binary): 0.10.0, installed via pip
- Python version: 3.7.6
- Is GPU used? (yes/no): no

**Describe the bug**
When I try to import

[2020-05-16 15:55] WindQAQ commented on #1846
Hi, `tensorflow_addons==0.10.0` works only on `tensorflow==2.2.0`. Please let me know if I missed anything. Thank you.

https://github.com/tensorflow/addons#python-op-compatibility-matrix

[2020-05-16 15:57] #1846 closed

[2020-05-16 16:00] WindQAQ commented on #1843
Hi, do you mean `tfa.layers.MultiHeadSelfAttention` or `tfa.layers.MultiHeadAttention`? Seems that you mistype `tfa.layers.MultiHeadAttention`. Thank you.

[2020-05-16 19:19] leoffx commented on #740
Facing the same problem on TF 2.2.0, tfa 0.10 on Colab's TPU.
Is there any workaround? @Squadrick

[2020-05-16 20:42] gabrieldemarmiesse commented on #1845
I think this can be fixed quickly. We just need to add a `@tf.funtion` to the metric method.

[2020-05-16 21:36] yuvaramsingh94 commented on #1845
@gabrieldemarmiesse thanks for replaying . can you share a code snippet on how to add it

[2020-05-16 21:47] bhack commented on #1845
https://github.com/tensorflow/addons/pull/1849

[2020-05-16 23:56] sioan opened #1850 "tensorflow addons 0.10.0 error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow version and how it was installed : tf 2.1 installed via pip into a conda environment
- TensorFlow-Addons version and how it was installed: 0.10.0 installed via pip into a conda environment
- Python version: 3.7.6
- Is GPU used? (yes/no): yes

**Describe the bug**

import tensorflow_ad

[2020-05-17 01:27] RayXie29 commented on #1850
I also met the same issue.

[2020-05-17 05:23] WindQAQ commented on #1850
Hi all,

`tensorflow_addons==0.10.0` is only compatible with `tensorflow==2.2.0`. Please let me know if there is any other problem. Thank you!

https://github.com/tensorflow/addons#python-op-compatibility-matrix

[2020-05-17 06:16] RayXie29 commented on #1850
Thanks, my bad. Mine tensorflow version is 2.1.0.

[2020-05-17 07:26] WindQAQ commented on #1850
Then I'm going to close the issue. Please reopen it if I missed anything. Thank you!

[2020-05-17 07:26] #1850 closed

[2020-05-17 09:55] sioan commented on #1850
Well. I feel dumb.

Thank you for the quick response.

[2020-05-17 10:10] bhack commented on #1850
@WindQAQ Do you know why we don't have Tensorflow with the version we need in https://github.com/tensorflow/addons/blob/master/setup.py#L88?

[2020-05-17 12:11] seanpmorgan commented on #1850
Thanks @WindQAQ !

Because then users who have `tensorflow-gpu` or `tensorflow-cpu` already will get multiple TF packages installed when trying to installing TFA. We tried both strategies and had more and worse issues from the strict requirements packaging.

The current way we do it is the same as say TensorFlow Probability:
https://github.com/tensorflow/probability/blob/master/setup.py#L30

[2020-05-17 12:58] 190407543 commented on #1843
sorry for mistype
but the same
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-3-da33c24ddbfa> in <module>()
     92
     93
---> 94 mha = tfa.layers.MultiHeadAttention(head_size=512, num_heads=8)
     95 #query =(32, 20, 200)) # (batch_size, query_elements, query_depth)
     96 #

[2020-05-17 13:13] bhack commented on #1843
Is It caused by https://github.com/googlecolab/colabtools/issues/1243?

[2020-05-17 13:33] 190407543 commented on #1843
how about the gelu?
/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/utils/generic_utils.py in deserialize_keras_object(identifier, module_objects, custom_objects, printable_module_name)
    390       obj = module_objects.get(object_name)
    391       if obj is None:
--> 392         raise ValueError('Unknown ' + printable_module_name + ':' + object_name)
    393     # Classes passed

[2020-05-17 13:41] bhack commented on #1843
Have you tried in Colab to `pip install tensorflow-addons==0.10.0`?

[2020-05-17 14:39] Abonia1 opened #1853 "TypeError: __call__() got an unexpected keyword argument 'training'"
Hello I have issue in using dynamic_decode in tfa as below with tensorflow 2.X

I really appreciate if anyone have already resolved this issue as I have spent last 4 hours in it but still no solution out there.

Provide a reproducible test case that is the bare minimum necessary to generate the problem.
![image](https://user-images.githubusercontent.com/22887323/82151662-d53a4380-985c-11ea-8a6d-da

[2020-05-17 14:44] bhack commented on #1853
Do you have a minimal colab code to share?

[2020-05-17 14:48] Abonia1 commented on #1853
Sure I can...Here you go:
https://drive.google.com/file/d/1g95NyX7-HniSBeFkqKtYzyW0ZNKjuVML/view?usp=sharing

[2020-05-17 14:54] bhack commented on #1853
Thanos but It Is too long. I meant really if you have the very minimal code to reproduce this error.

[2020-05-17 15:00] Abonia1 commented on #1853
def attention(rnn_size,encoder_outputs,target_sequence_length,dec_cell):
    attention_mechanism = tfa.seq2seq.BahdanauAttention(rnn_size*2,encoder_outputs,
                                                                   memory_sequence_length=target_sequence_length)
    attention_cell = tfa.seq2seq.AttentionWrapper(dec_cell, attention_mechanism,

[2020-05-17 15:23] bhack commented on #1853
I need to have something minimal to copy, paste and run. That snippet Is not runnable as is.

If you can't probably you will need to wait for  a maintainer or the seq2seq codeowner.

[2020-05-17 21:51] w4nderlust opened #1856 "AttentionWrapper with non LSTM cells returns ValueError"
**System information**
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow version and how it was installed (source or binary): 2.2.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.10.0
- Python version: 3.7.7
- Is GPU used? (yes/no): yes

**Describe the bug**

Working with @jimthompson5802 on this PR https://github.com/uber/ludwig/pull/699 we discovered an issue

[2020-05-18 00:37] shun-lin commented on #1748
Hi @relaxation82, thanks so much for reporting this! Yes this is the edge case that we have not considered! Will post a fix soon!

[2020-05-18 09:12] aawdeh opened #1858 "Pip installation fails on Linux"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux 7
- TensorFlow version and how it was installed (source or binary): 2.1.0, binary
- Python version: Python 3.6 (Also tried 3.5 and 3.7)
- Is GPU used? (yes/no): yes

I get the error below every time I try to install tensorflow-addons using 'pip install tensorflow-addons'. I've tried all versions of tenso

[2020-05-18 10:55] Abonia1 commented on #1853
@bhack okay thank you

[2020-05-18 12:41] seanpmorgan commented on #1858
Hi @aawdeh this is quite strange. The wheel files are available and my only guess would be that your running a different pip that you think you are (perhaps by running sudo).

Could you show the exact commands you're running:
[code]

As a last resort you can always download the whl files from PYPI, but I would suggest you determine what's going on. For TF 2.1 use Addons 0.9.1:
https://pypi.org/pro

[2020-05-18 15:14] ketograph opened #1859 "Documentation: Focal loss example misleading"
In the example of the focal loss (`tfa.losses.SigmoidFocalCrossEntropy`) the label and the prediction data seems to be swapped.
This is misleading as `sigmoid_focal_crossentropy()` expects `y_true, y_pred`, whereas the example presents `y_pred, y_true`.

https://github.com/tensorflow/addons/blob/efa0cd9c86578f53a2eb9d80849e186bffa4d64a/tensorflow_addons/losses/focal_loss.py#L42-L47

https://github

[2020-05-18 16:03] seanpmorgan commented on #1859
Thanks @ketograph for pointing this out! Would you want to submit a PR fixing the documentation?

[2020-05-18 16:26] 190407543 commented on #1843
it fixed.thx
also, is there any super class transformer , bert, positional encoding embedding layer?
although they just call a few tfa stuff, it is easiler to build models.thx

[2020-05-18 16:51] guillaumekln commented on #1853
You are using:

[code]

but TensorFlow Addons only supports TensorFlow 2.x APIs. You should change the import statement to:

[code]

and try to update your usage based on TensorFlow 2.x APIs.

[2020-05-18 19:47] bhack commented on #1829
@WindQAQ It was `map_fn`. My PR was merged in Tensorflow https://github.com/tensorflow/tensorflow/pull/39541

[2020-05-19 00:36] seanpmorgan commented on #1858
Closing as I'm not sure there is any bug here. Feel free to ask to re-open if the problem persists.

[2020-05-19 00:36] #1858 closed

[2020-05-19 08:40] guillaumekln commented on #1856
I believe TensorFlow should be more consistent here and always return the same state structure. But to unblock the situation I added a workaround in the PR referenced above: we ensure that the cell state structure always matches the initial structure (as returned by `cell.get_initial_state`).

[2020-05-19 09:39] mjlm commented on #1366
Hi, I'm the author of
https://github.com/google-research/google-research/blob/master/video_structure/ops.py
and
was CCd on this thread. I'm generally happy to move some of this to a
shared component garden if it's not a huge amount of work. However, I know
nothing about TensorFlow Addons and would need a bit more guidance on what
I should do.

On Thu, May 14, 2020 at 11:21 AM bhack <notifications@

[2020-05-19 10:07] bhack commented on #1366
@mjlm Thanks. It would be really great and I am interested if we could collect some generally computer vision/cv models general utils/ops here.

We have seen that there was some internal plan about a computer vision modelling library modeling library for computer vision but we don't know details about this plan.
See https://github.com/tensorflow/models/issues/8278#issuecomment-628310079

I let @se

[2020-05-19 14:58] guillaumekln commented on #1417
It seems reasonable to think that eager mode is mostly used for development where performance is not critical. Overall I don't have a strong opinion here as long as the condition is isolated in a function so that it can easily be changed if required.

[2020-05-19 17:23] w4nderlust commented on #1856
@guillaumekln thanks, I agree with you that the interfaces should all be the same. Your PR solves the problem though, without impacting the main TF code, which makes it a good candidate for a solution, thank you very much.

[2020-05-20 02:53] facaiy commented on #1825
+1, it sounds great to keep `tfa.image` simple enough.

[2020-05-20 03:22] #1856 closed

[2020-05-20 03:35] MiladShahidi opened #1863 "alpha_factor in focal loss"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.6
- TensorFlow version and how it was installed (source or binary): 2.1.0
- TensorFlow-Addons version and how it was installed (source or binary): binary 0.10.0
- Python version: 3.6
- Is GPU used? (yes/no): no

The focal loss should be equal to cross-entropy when gamma=0 and alpha=1. However, this is no

[2020-05-20 04:54] w4nderlust commented on #1856
Thanks to everyone involved in this fix

[2020-05-20 10:38] #1863 closed

[2020-05-20 10:39] MiladShahidi commented on #1863
Sorry, misread the paper. Feel free to remove this if possible.

[2020-05-20 10:46] FirefoxMetzger commented on #1863
Funny, I was just about to open an issue about the alpha value as well, but on a different note.

From my understanding of the work, alpha is used to weight samples (in this case by a class dependent constant). Keras losses already allow that via `sample_weight`. Considering this, I think the implementation should not use `alpha` and leave this to `sample_weight`/`class_weight`. In fact, -as the l

[2020-05-20 11:29] yuvaramsingh94 opened #1865 "ReduceLROnPlateau callback from Tf keras is not recognizing cohen kappa metrics direction in 'Auto' mode"
Hi all,
    when i use ReduceLROnPlateau callback along with tfa cohen kappa, the 'Auto' mode of ReduceLROnPlateau is not able to detect the direction (increase or decrease). the mode should be specifically set to 'max'. can this be solved so that the Auto mode can monitor the metric and take care of Lr reduction.

[2020-05-20 12:24] yuvaramsingh94 commented on #1865
@bhack thanks. but, it is not automatically inferring it . this same issue is happening in ModelCheckpoint callback also when i set the mode auto it did not save the best weight and it just saved some weight.

in the ReduceLROnPlateau  case, the callback automatically kicked in eventhough i can see the cohen kappa metric value is going up .

[2020-05-20 12:31] bhack commented on #1865
`min` and `auto` (if not in the monitor list) enter in the same condition https://github.com/tensorflow/tensorflow/blob/v2.2.0/tensorflow/python/keras/callbacks.py#L2229

[2020-05-20 12:50] yuvaramsingh94 commented on #1865
`if (self.mode == 'min' or (self.mode == 'auto' and 'acc' not in self.monitor)):` is this the problem?

as we are going to set `monitor = val_cohen_kappa` which is not having `acc` string so it is not automatically recognizing the direction.

something with ModelCheckpoint as i lost like 2 days trying to train a model and i ended up with a poor model weight saved.

i think there should be a method

[2020-05-20 12:55] bhack commented on #1865
Yes the API clearly tell you that is based on the name.
Probably in Tensorflow docs it could be more explict about the specific sub-string It Is searching for in the name.

I think the best thing to do Is to open a Doc type issue in the Tensorflow repo directly.

[2020-05-20 12:58] yuvaramsingh94 commented on #1865
got it . will do that

[2020-05-20 14:33] FirefoxMetzger opened #1866 "Loss Function Wrapper Already Implemented in base TensorFlow"
Going through the code in this repo, I noticed that the `LossFunctionWrapper` is implemented here, and in base tensorflow.

The version here:
https://github.com/tensorflow/addons/blob/f3d0416fbe3f4c607f4c1ebc2b7554a941ff02a2/tensorflow_addons/utils/keras_utils.py#L24

The version in base TensorFlow (v2.2.0):
https://github.com/tensorflow/tensorflow/blob/77245d07d13522a5cb5d060390fffa1894df5bbf/ten

[2020-05-20 16:43] Cospel commented on #1277
Why is this happening? I successfully built tf-addons with CUDA 10.0.130, CUDNN 7.5, and custom build of TensorFlow-2.2. However, when using any function from tf.addons I always get a segmentation fault.

[2020-05-20 20:51] yil532 commented on #1859
Hi do we still need help on this?

[2020-05-20 21:11] yil532 commented on #1700
Hello:) Do we still need help on this? @WindQAQ

[2020-05-20 21:15] yil532 commented on #582
Hello friend, I see this issue is not closed yet, do we still need some help here? @seanpmorgan

[2020-05-20 22:17] WindQAQ commented on #1866
Hi, it is not a public API and we aim to remove all private modules from TensorFlow, so we fork a same thing in addons. Feel free to reopen the issue if I missed anything. Thank you!

https://github.com/tensorflow/addons/blob/master/tools/testing/source_code_test.py#L86

[2020-05-20 22:17] #1866 closed

[2020-05-21 06:58] SeanLee97 commented on #1769
@tonychenxyz It seems like that the CRF layer has been removed from `tensorflow_addons` in the latest version. here is my solution based [nlp-architect](https://github.com/NervanaSystems/nlp-architect/blob/master/nlp_architect/nn/tensorflow/python/keras/layers/crf.py) to use CRF in Keras way.

**lstm_crf.py**

[code]

**crf.py**

[code]

[2020-05-21 07:09] breadbread1984 opened #1867 "want zoneout lstm supported"
**Describe the feature and the current behavior/state.**

no zoneout lstm found in addons

**Relevant information**
- Are you willing to contribute it (yes/no): no
- Are you willing to maintain it going forward? (yes/no): no
- Is there a relevant academic paper? (if so, where): https://arxiv.org/abs/1606.01305
- Is there already an implementation in another framework? (if so, where): https://githu

[2020-05-21 08:10] zhanfengchen opened #1868 "reuse the instance of class BeamSearchDecoder more easily"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary):
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version: 3.6
- Is GPU used? (yes):

**Describe the bug**

A clear and concise description of what the bug is.

**Code to reproduce the issue**

Provide a reproducible tes

[2020-05-21 09:10] zhanfengchen commented on #1868
Tensorflow 2.1.0    installed by Anaconda
Tensorflow_addons 0.9.1   installed by Anaconda
Python 3.6.9    install by Anaconda
GPU      yes!

[2020-05-21 10:19] failure-to-thrive commented on #1867
I could handle it...

[2020-05-21 10:29] Cospel commented on #770
After a lot of tries and nights, we were able to build tf-addons without no segmentation fault #1298 #1277.

Here is what I did: https://gist.github.com/Cospel/fb9c313cdb83d5e474aa0e3f956d14e0

Here is the built pip for tf-addons on cuda10, cuddn7.5 for centos and python3.6 and tf2.2: https://github.com/Ximilar-com/tf2-wheels/blob/master/README.md#tf2-addons

[2020-05-21 10:43] breadbread1984 commented on #1867
really appreciated to it

[2020-05-21 18:43] py9rjr6858yffiy6i opened #1869 "tfa.layers.sparsemax fail after pip"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):colab
- TensorFlow version and how it was installed (source or binary):colab
- TensorFlow-Addons version and how it was installed (source or binary):latest in pip
- Python version:3
- Is GPU used? (yes/no):ues

**Describe the bug**
after !pip install tensorflow-addons

ValueError: Unknown activation function:tfa.layer

[2020-05-21 19:11] seanpmorgan commented on #1869
Hi! TFA activations can't be passed as a string parameter and need instead the python object to be passed. Additionally you're trying to pass the Sparsemax layer and not the sparsemax activation.

Try:
[code]

[2020-05-21 19:11] #1869 closed

[2020-05-21 19:11] avnx opened #1870 "Error in types description of tfa.seq2seq.AttentionWrapper"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LT
- TensorFlow version and how it was installed (source or binary): 2.2.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.10.0
- Python version: 3.6.9
- Is GPU used? (yes/no): yes

As I noticed you added type description to classes.
But I found that at least in my case there

[2020-05-22 03:17] seanpmorgan commented on #1843
[Not in addons](https://www.tensorflow.org/addons/api_docs/python/tfa) we aim to provide fundamental building blocks. Feel free to open issues requesting these but I think you're more likely to find those features in tensorflow/models.

[2020-05-22 03:17] #1843 closed

[2020-05-22 05:09] #1845 closed

[2020-05-22 07:58] guillaumekln commented on #1870
Thanks for reporting. The description is correct but not the types annotation. The PR referenced above should fix this.

[2020-05-22 08:00] guillaumekln commented on #1853
Let me close this issue. Feel free to reopen or create a new issue if you find something that is not working.

[2020-05-22 08:00] #1853 closed

[2020-05-22 08:10] guillaumekln commented on #1868
You can set `embedding_fn` in the constructor of `BeamSearchDecoder`. Would that work for you?

A typical embedding function would look like this:

[code]

[2020-05-22 15:45] zjuter0126 opened #1873 "tfa.activations.rrelu"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary):
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version:
- Is GPU used? (yes/no):

**Describe the bug**

A clear and concise description of what the bug is.

**Code to reproduce the issue**

Provide a reproducible test

[2020-05-22 15:46] zjuter0126 commented on #1873
when use tfa.activations.rrelu in Tensorflow.keras   some mistakes happend
        x = self.conv_1D(inputs)
        x = self.bn1_1D(x, training=training)
        x =  tfa.activations.rrelu(x,training=training)
        x = self.pool_1D(x)

ValueError: Input 0 of layer batch_normalization is incompatible with the layer: its rank is undefined, but the layer requires a defined rank

[2020-05-22 15:47] zhanfengchen commented on #1868
yes, I had done as you said before creating this issue.&nbsp; But it's better giving advice in note or other.&nbsp;

---Original---
From: "Guillaume Klein"<notifications@github.com&gt;
Date: Fri, May 22, 2020 16:11 PM
To: "tensorflow/addons"<addons@noreply.github.com&gt;;
Cc: "Author"<author@noreply.github.com&gt;;"MyTool"<1607350868@qq.com&gt;;
Subject: Re: [tensorflow/addons] reuse the instance

[2020-05-22 16:09] py9rjr6858yffiy6i opened #1874 "transformer sequential to AttentionWrapper with LSTMCell"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):colab
- TensorFlow version and how it was installed (source or binary):colab
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version:
- Is GPU used? (yes/no):yes

**Describe the bug**
Sorry, I not clear is it a bug or my fault,
Since I need to add a AttentionWrapped LSTMCells at the o

[2020-05-22 16:17] guillaumekln commented on #1874
Could you post a small code snippet that we can copy-paste to reproduce the error? Thanks.

[2020-05-22 17:13] failure-to-thrive commented on #1867
So far so good! Any ideas on how to test it? Input values, random seed, expected output values?

[2020-05-22 18:37] John-8704 opened #1875 "Does tfa.metrics.F1Score calculate f1 score on each batch (or) on full eval set?"
Please update the documentation to include the information regarding whether the metric calculates f1 per each batch and then averages it out (or) does it calculate on full validation set?

[2020-05-22 22:14] raqueldias commented on #746
I'm running into a related issue. Whenever I have multi-class predictions processed through one-hot and computed with softmax, I can calculate categorical accuracy with tf.metrics.CategoricalAccuracy, but I cannot calculate F1score since their input shapes are not compatible (tf.metrics.CategoricalAccuracy requires rank 2 and F1score only supports rank 1).

[code]
This throws me the error:
[code]

[2020-05-22 22:44] breadbread1984 commented on #1867
speedy implement! given the same input and zero initial state, it outputs a tensor having element value either the same as lstm's or zero.

[2020-05-23 05:50] #1380 closed

[2020-05-23 17:36] failure-to-thrive commented on #1867
Here it is! You can copy & paste the class into your code. Example of usage and tests are further down below. If everything work as intended we could incorporate it into TFA.

[code]

[2020-05-24 01:55] breadbread1984 commented on #1867
cool! compact and correct implement. Thx

[2020-05-24 01:57] breadbread1984 commented on #1867
you need to save zoneout_h and zoneout_c in operator's config dictionary.

[2020-05-24 02:13] breadbread1984 commented on #1867
I get unsupported operand type(s) for *: 'float' and 'NoteType' at line "dt = tf.cast(tf.random.uniform(t.shape) >= rate * training, t.dtype)"

[2020-05-24 05:26] failure-to-thrive commented on #1867
Sure. The code above is just an algorithm implementation. If it is OK we can move forward.

Could you describe environment where it happened?

[2020-05-24 05:31] #1870 closed

[2020-05-24 08:38] breadbread1984 commented on #1867
sorry, I used the operator the wrong way. I can successfully run the code.

[2020-05-24 17:14] WindQAQ commented on #1873
Hi @zjuter0126, sorry for the late reply, could you provide a runnable code snippet so that we can diagnose where the problem is? Thank you!

[2020-05-24 17:59] #1824 closed

[2020-05-24 18:11] WindQAQ commented on #1825
Thanks for the comments! I also recommend that `tfa.image` should be compatible with 3-D image because the common use case is to use `.map(lambda x: tfa.image.foo(x))` to process single image.

[2020-05-24 23:22] shun-lin commented on #1748
Hi,

I dive a bit deeper into the issue and I think that currently it is not possible to get `initial_epoch` into callback (the code in TensorFlow source looks like they are using `initial_epoch`more to fetch the previous training data), therefore it wouldn't be possible to fix this without either update from the TF side to allow `Callback` side to access `initial_epoch` (for example `model.fit` w

[2020-05-24 23:31] shun-lin commented on #1748
I have raised an issue on TensorFlow's side, hopefully we will hear back soon :)

[2020-05-25 12:21] guillaumekln commented on #1868
@qlzh727 What is the rationale for having the `embedding` argument in the call method and not only in the constructor?

[2020-05-25 14:23] bhack commented on #1825
@WindQAQ I don't understand in the current status if we need to do this or not cause in https://github.com/tensorflow/addons/pull/1840 we was going to set the shape bypassing the `4d` utils.

[2020-05-25 14:59] zhanfengchen commented on #1868
If we set `embedding` in `initialize` method, the instance of BeamSearchDecoder run only once. It is one-off.

[2020-05-25 15:39] #1859 closed

[2020-05-25 23:17] WindQAQ commented on #1825
@bhack I suppose we should at least support 3D image as most of functions in `tf.image` do that. So we can have another PR to fix it.

[2020-05-25 23:45] bhack commented on #1825
@WindQAQ What Is supporting the official Vision Model garden refactoring  https://github.com/tensorflow/models/blob/master/official/vision/image_classification/augment.py#L37?
Do you think that users could mix that with `tfa.image` or `tf.image`?

[2020-05-26 02:29] seanpmorgan commented on #1764
Hi @sayakpaul! Apologies for the delayed response... So are you looking for the exact same cluster diagram or something similar (it's not a deterministic training so it won't always be the same)?

I've ran the tutorial and uploaded my embeddings here:
https://drive.google.com/open?id=1ruK9P7LQHVMwvKlZYGi2NAawSxs99Z8g

I ran UMAP with default settings (15 neighbors and 2D) to get a pretty good clus

[2020-05-26 03:26] sayakpaul commented on #1764
Thanks @seanpmorgan. I am now getting similar clusters. Thank you :)

[2020-05-26 03:26] #1764 closed

[2020-05-26 17:47] dathudeptrai opened #1892 "How to use CuDNN on Seq2Seq with attention."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): Binary 2.2.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

Training speed slow with example seq2seq.

**Code to reproduce the issue*

[2020-05-27 00:52] seanpmorgan commented on #1700
Hi @yil532 it was fixed with #1718 .. thanks for bringing this up though we can close this issue.

[2020-05-27 00:52] #1700 closed

[2020-05-27 07:44] guillaumekln commented on #1892
cuDNN is fast because it can parallelize over multiple timesteps. However, the `AttentionWrapper` class needs to run the cell timestep by timestep to implement input feeding: the decoder output at time `t` is fed as input at time `t + 1` (also described in [Luong et al. 2015](https://www.aclweb.org/anthology/D15-1166/)). Because of this time dependency, there is little benefit in using cuDNN.

[2020-05-27 11:30] gyshi opened #1893 "tensorflow.python.framework.errors_impl.NotFoundError: Op type not registered 'GatherTree' in binary running"
when i run gnmt with tf2.1, have this error .
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary): tf2.1
- TensorFlow-Addons version and how it was installed (source or binary): 0.11
- Python version: 3.7
- Is GPU used? (yes/no): no

**Describe the bug**
[code]

A clear and concise description of what th

[2020-05-27 11:37] bhack commented on #1893
Do you have a minimal code that could be copy and pasted to reproduce this error?

[2020-05-27 11:58] gyshi commented on #1893
i use this toturial
https://github.com/IntelAI/models/tree/master/benchmarks/language_translation/tensorflow/mlperf_gnmt
    because my tensorflow is also 2.1, but have internal upgrade, so i have to use more higher version for addons to build tensorflow-addons success. when i run this model, i will meet this error.

[2020-05-27 11:58] seanpmorgan commented on #1893
Hmmm TFA 0.11 hasn't yet been released are you sure you're correct about the versions. FWIW TFA 0.10 requires TensorFlow >= 2.2 which could be causing this error.

[2020-05-27 11:59] gyshi commented on #1893
now, i will try other version, if i will meet same error, i will connect you, thx.

[2020-05-27 12:01] gyshi commented on #1893
i have try tfa 0.7, i meet the same error.

[2020-05-27 12:05] guillaumekln commented on #1893
The op `GatherTree` has been renamed to `Addons>GatherTree` in TensorFlow Addons 0.6. You should re-export the SavedModel with a newer version of TensorFlow Addons.

[2020-05-27 12:07] gyshi commented on #1893
thx

[2020-05-27 12:32] gyshi commented on #1893
REGISTER_OP("GatherTree")

if i want to rename Addons>GatherTree to GatherTree , I only need to modify REGISTER_OP("GatherTree")?

[2020-05-27 12:33] gyshi commented on #1893
if i want to rename Addons>GatherTree to GatherTree , I only need to modify REGISTER_OP("GatherTree")?

[2020-05-27 12:33] gyshi commented on #1893
@guillaumekln

[2020-05-27 12:37] bhack opened #1894 "compile_commands.json"
It could be nice if we could generate/distribute `compile_commands.json` to better interact with some IDE and our c++ code.

I.e. In Bazel and also in Vscode the the official Bazel team vscode plugin we don't have in tree support to generate `compile_commands`:
https://github.com/bazelbuild/bazel/issues/258
https://github.com/bazelbuild/vscode-bazel/issues/179

I've tried some quite popular commun

[2020-05-27 12:49] guillaumekln commented on #1893
This would require to rebuild the TensorFlow Addons package.This is not something we recommend.

Instead, you should either install TensorFlow Addons < 0.6 or open an issue on https://github.com/IntelAI/models/tree/master/benchmarks/language_translation/tensorflow/mlperf_gnmt to ask the maintainers to republish the trained model.

[2020-05-27 12:56] gyshi commented on #1893
thx for your help.

[2020-05-27 12:56] #1893 closed

[2020-05-27 15:51] tanzhenyu commented on #1226
Some follow-up on this: Francois and I discussed and decided that the new [keras_cv](https://github.com/keras-team/keras-cv) will include autoaugment and randaugment.

[2020-05-27 16:25] bhack commented on #1780
As we have now [Keras_cv](https://github.com/tensorflow/addons/issues/1226#issuecomment-634755922) what is the roadmap? /cc @WindQAQ

[2020-05-27 18:00] bhack commented on #1366
@tanzhenyu Do you think that you want features like these ones migrated in the brand new [keras-cv repo](https://github.com/keras-team/keras-cv)?

[2020-05-27 18:12] tanzhenyu commented on #1780
Currently we will mostly cover object detection models, and will expand for segmentation / keypoint estimation tasks when it's done.

[2020-05-27 18:19] bhack commented on #1780
@tanzhenyu Thank you for the update but it is a little bit unclear for me. Are vision models already under refactoring in the [model Garden Vision section](https://github.com/tensorflow/models/tree/master/official/vision) and related TF hub activities?  So what we will have in keras-cv?

[2020-05-27 18:32] tanzhenyu commented on #1366
This is generally in our roadmap. What's the timeline for this? keras-cv needs to go through public RFC for APIs that we propose

[2020-05-27 18:58] bhack commented on #1366
The general goal here is just to not have very short-lifetime efforts that will be superseded soon by another official repo.
@mjlm Seems interested to port some of his shared component form `google-research` but as you seen I am not the only one to be a little bit confused:

shared component garden if it's not a huge amount of work.

I think this was the general direction cause this kind of utils

[2020-05-27 19:07] bhack commented on #1364
/cc @tanzhenyu Just in the case we want to have this migrated in the keypoints perimeter for the new keras-cv.

[2020-05-27 19:47] tanzhenyu commented on #1366
That's a fair question :-)

We target to provide keras_cv as a repo that provides modular and reusable API. We have made initial plans for object detection models and instance segmentation models. For keypoint estimation the API is still TBD.

[2020-05-27 21:16] pstjohn opened #1896 "LAMB optimizer fails in MultiWorkerMirroredStrategy"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.6
- TensorFlow version and how it was installed (source or binary): TF 2.1, (IBM WML CE 1.7.3)
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1 source install
- Python version: 3.6.10
- Is GPU used? (yes/no): yes

**Describe the bug**
Using LAMB in a MultiWorkerMirroredStrategy fa

[2020-05-28 00:52] seanpmorgan commented on #1366
Thanks for the update... please keep us posted with information/timelines as they become available. In either case we will not be providing this functionality in Addons as it would be duplicated.

[2020-05-28 00:52] #1366 closed

[2020-05-28 00:54] seanpmorgan commented on #1226
Closing as this is now going to be implemented elsewhere in the ecosystem. Since we've already merged a few components of these we can deprecate them as they're available.

[2020-05-28 00:54] #1226 closed

[2020-05-28 02:06] seanpmorgan commented on #1354
Per https://github.com/tensorflow/addons/issues/1366#issuecomment-634902190 these features would better fit in:
https://github.com/keras-team/keras-cv

[2020-05-28 02:06] #1354 closed

[2020-05-28 02:08] seanpmorgan commented on #1333
Per https://github.com/tensorflow/addons/issues/1226#issuecomment-634755922 the autoaugment/randaugment features will be a part of https://github.com/keras-team/keras-cv

Apologies for not being able to present this information sooner to the contributors.

[2020-05-28 02:08] #1333 closed

[2020-05-28 02:08] seanpmorgan commented on #1353
Per https://github.com/tensorflow/addons/issues/1226#issuecomment-634755922 the autoaugment/randaugment features will be a part of https://github.com/keras-team/keras-cv

Apologies for not being able to present this information sooner to the contributors.

[2020-05-28 02:08] #1353 closed

[2020-05-28 02:10] seanpmorgan commented on #1034
Thinking on this a little more, I'm not sure the workload for reviewing all of these PRs would be worth the effort. Happy to reconsider but closing for now.

[2020-05-28 02:11] seanpmorgan commented on #784
Given the recent news: https://developer.nvidia.com/cuda/wsl
Is this feature still requested from the community?

[2020-05-28 02:55] dathudeptrai commented on #1892
Got it, thanks for ur infomation.

[2020-05-28 02:55] #1892 closed

[2020-05-28 03:37] tanzhenyu commented on #1366
Thanks @seanpmorgan @bhack collaborating on this! Meanwhile it'd be great to re-direct them to the new repo so we could accept contribution as well :-)

[2020-05-28 05:50] hccho2 opened #1897 "tf.keras.Input & tfa.seq2seq.AttentionWrapper"
[code]

What is the cause of the error?

[2020-05-28 10:58] bhack commented on #671
@seanpmorgan We have an upstream fast nms kernel in Tensorflow Lite https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/detection_postprocess.cc#L456-L463. @seanpmorgan I think this could be more in the "perimeter" of keras-cv (/cc @tanzhenyu ) as we have close yesterday the other image processing related issues/PRs.

[2020-05-28 12:27] #671 closed

[2020-05-28 12:31] seanpmorgan commented on #1366
Yes, for those that end up on this issue please check out the following repository and/or submit contributions there:
https://github.com/keras-team/keras-cv

[2020-05-28 14:46] failure-to-thrive commented on #1897
`alignment_history=True` causes it. It requires further investigation why.

[2020-05-28 18:57] WindQAQ commented on #1896
Hi @pstjohn, thanks for the report. It would be great if you could provide a minimal code snippet about `MultiWorkerMirroredStrategy` so that we can diagnose where the problem is!

[2020-05-29 01:59] hccho2 opened #1898 "tf.keras.Input & tfa.seq2seq.BasicDecoder"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10
- TensorFlow version and how it was installed (source or binary):  2.2.0, binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.10, binary
- Python version: 3.6
- Is GPU used? (yes/no):  no

[code]
What is the cause of the error?

[2020-05-29 07:11] dathudeptrai commented on #1897
@hccho2 seems you are trying to implemet tacotron-2 based-on tf_addons and tensorflow 2 ?

[2020-05-29 10:02] failure-to-thrive commented on #1898
Due to cross-interactions between Graph tensors and Python code flow deep inside TensorFlow, as a quick workaround you have to switch back into the Graph mode with `tf.compat.v1.disable_eager_execution()`.

[2020-05-29 11:47] hccho2 commented on #1898
@failure-to-thrive
Are cross-interactions my fault? Or is it a bug?

[2020-05-29 23:29] bhack commented on #1894
/cc @gunan This could be interesting to have in Tensorflow itself but I don't want to duplicate the ticket there.
I don't know if you have an internal route on the Bazel team.

[2020-05-30 01:12] gunan commented on #1894
I am not sure what compile_commands.json file is.
Is this file generated by bazel?
Could you provide more details?

[2020-05-30 08:47] bhack commented on #1894
@gunan compile_commands.json Is https://clang.llvm.org/docs/JSONCompilationDatabase.html and It is used by many IDEs for integrating with c++ project.
If you see I've mentioned two Bazel issues (one for Basel itself and the other one for the Bazel tram official plugin for Vscode) cause currently you need to use some external tools/workarunds) to generate/distribuire compile_commands.json with Baze

[2020-05-30 10:47] failure-to-thrive commented on #1898
@hccho2
Seems not your.

[2020-05-30 10:55] bhack commented on #1898
`class BahdanauAttention(_BaseAttentionMechanism):`

And  in`_BaseAttentionMechanism:`

    `model.compile(run_eagerly=True)` due to the fact that this layer is
    stateful. The support for that will be added in a future version.

/cc @qlzh727

[2020-05-30 11:02] bhack commented on #1898
I don't know if in your case could be resolved with manual memory reset in the PR introduced fixing https://github.com/tensorflow/addons/issues/535

[2020-05-30 16:34] bnriiitb commented on #1744
Hi @seanpmorgan

I am interested in helping out with this. Do you have any advice for me on where to start? Thanks!

[2020-05-31 01:19] jimthompson5802 opened #1900 "BeamSearchDecoder with non LSTM cells raises ValueError exception"
**System information**
- OS Platform and Distribution: Tensorflow Docker Container based on image tensorflow/tensorflow:2.2.0-jupyter
- TensorFlow version and how it was installed (source or binary): 2.2.0
- TensorFlow-Addons version and how it was installed (source or binary): tfa-nightly  0.11.0.dev20200520032238
- Python version: 3.6.9
- Is GPU used? (yes/no): no

**Describe the bug**

Working

[2020-05-31 01:22] w4nderlust commented on #1900
@dynamicwebpaige this is another blocker, similar to the similar problem that was solved before.

[2020-05-31 16:00] pstjohn commented on #1896
Will do -- having some trouble replicating with a minimal example, so I'll close for now. If I can get a clean MultiWorkerMirroredStrategy code snippet that replicates I'll reopen.

[2020-05-31 16:42] pstjohn commented on #1896
[code]

This code works with the AdamW optimizer from tensorflow_addons, but fails with LAMB. The specific error for this code is
[code]

Oddly this doesn't seem to happen when I'm not using mixed precision. This is being run on OCLF's SUMMIT computer on 2 nodes and 6 GPUs each. (I can run some more examples to see if it also fails with a single node.)

[2020-05-31 22:55] Dahkenangnon commented on #655
How to solve the problem please ?

[2020-06-01 01:13] WindQAQ commented on #1825
When migrating everything to addons (or others repo), it should stick to the rule of addons IMO. So the implementation should be either refactored or discarded.

[2020-06-01 01:18] WindQAQ commented on #1896
Hi @pstjohn, thanks for the update! Unfortunately, I currently do not have the access to multi-nodes and multi-GPUs machines. Is it possible to attach the full log file as well? Thank you!

[2020-06-01 07:22] pabloduque0 commented on #655
Upgrade to tensorflow 2.0 or greater

[2020-06-01 10:09] leandro-gracia-gil commented on #422
One question. I've been looking at how weight decay is implemented here, in the [original RAdam paper](https://arxiv.org/pdf/1908.03265v1.pdf) and in the paper [originally introducing weight decay for Adam](https://arxiv.org/pdf/1711.05101.pdf) (also known as AdamW and cited by the RAdam paper).

The implementations seem to be pretty much the same, but there's a subtle difference: in AdamW the wei

[2020-06-01 12:22] pstjohn commented on #1896
Looks like it also happens if I just run it on a single node (with 6 GPUs)
Here's the full output: https://gist.github.com/pstjohn/025df83800ea920e5fa114753092138d

[2020-06-01 16:49] jarednielsen opened #1902 "Should we manually apply weight_decay to optimizers besides AdamW?"
Reading the [AdamW documentation](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/AdamW), I noticed `Note: when applying a decay to the learning rate, be sure to manually apply the decay to the weight_decay as well.`.

Does this also apply to other optimizers (like [LAMB](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/LAMB)), or is this a quirk specific to AdamW?

[2020-06-01 20:13] jarednielsen opened #1903 "Support `exclude_from_weight_decay` in AdamW"
**Describe the feature and the current behavior/state.**

The [LAMB optimizer](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/LAMB) has this option, but AdamW does not. This is necessary to train transformer models with Adam.

**Relevant information**
- Are you willing to contribute it (yes/no): no
- Are you willing to maintain it going forward? (yes/no): no
- Is there a relevant

[2020-06-01 21:07] jarednielsen commented on #1902
As detailed in the [AdamW paper](https://arxiv.org/pdf/1711.05101.pdf), it only applies to decoupled weight regularization. In traditional L2 regularization, the regularization occurs in the gradient and thus the learning rate decay applies to it. Decoupled weight regularization moves the weight regularizer outside of the gradient and thus it needs its own schedule. Sorry for raising an issue befo

[2020-06-01 21:07] #1902 closed

[2020-06-02 09:26] dathudeptrai opened #1906 "Tacotron-2 implementation with Tensorflow 2 and Tensorflow Addons"
**Describe the feature and the current behavior/state.**
Currently, i see no good example use Tensorflow addons seq2seq on Speech domain (Like Text To Speech problem). TTS is a big problem on speech and many people are interested. I just released TensorflowTTS: Real-Time State-of-the-art Speech Synthesis for Tensorflow 2. I want my use my implementation to prove the effectiveness of tf_addons seq2

[2020-06-02 09:53] guillaumekln commented on #1898
This is a known issue when the Keras functional API, stateful layers, and eager mode are used at the same time.

The Keras functional API creates symbolic tensors that are saved in stateful layers, but the layer is executed in eager mode so the TensorFlow runtime does not expect to find symbolic tensors.

[2020-06-02 09:54] guillaumekln commented on #1897
I'm going to close this issue in favor of #1898. The underlying issue is the same.

[2020-06-02 09:54] #1897 closed

[2020-06-02 09:57] guillaumekln commented on #1093
Let me close this old issue. Feel free to reopen if you can share a small code snippet that reproduce the other error.

[2020-06-02 09:57] #1093 closed

[2020-06-02 09:58] guillaumekln commented on #1874
Let me close this stale issue. Feel free to reopen if you can share a code snippet reproducing the error.

[2020-06-02 09:58] #1874 closed

[2020-06-02 10:07] guillaumekln commented on #1459
We override the `__call__` method to access the `sample_weight` argument and support various reduction strategies that are not covered by the `reduction` argument of `tf.keras.losses.Loss`. I'm not aware of any workaround at the moment that would keep the same features, so I'm marking this as blocked.

[2020-06-02 19:32] serizba opened #1907 "Support for CorrelationCost1D"
**Describe the feature and the current behavior/state.**
Support for CorrelationCost along just 1 dimension. Currently CorrelationCost applies the kernel in both directions, horizontal and vertical, as described in the original FlowNet paper. When working with rectified stereo images, you may only need to compute the correlation cost in horizontal lines, as done in [DispNet](https://lmb.informatik

[2020-06-02 23:17] #1900 closed

[2020-06-02 23:28] w4nderlust commented on #1900
Thank you for the quick resolution!

[2020-06-03 02:13] seanpmorgan commented on #1744
Hi @bnriiitb #1653 more or less adds this functionality. If you'd like to work off that branch and move it to `check_source_code` as suggested here that'd be much appreciated:
https://github.com/tensorflow/addons/pull/1653#issuecomment-623169002

[2020-06-03 02:22] seanpmorgan commented on #1896
Thanks for the report @pstjohn. I'll be reviewing https://github.com/tensorflow/addons/pull/1770 in the next couple of days and hopefully we can add some tests that we can use to diagnose what the issue is

[2020-06-03 02:43] seanpmorgan commented on #1906
Hi @dathudeptrai! This is a very cool!  Are you requesting to [add a new tutorial](https://github.com/tensorflow/addons/tree/master/docs/tutorials) to the repository? If so that would be much appreciated, but we don't want to add another repository as a dependency in the tutorials for our repo. Is it possible to make a minimal example in a Colab notebook without external deps? If so it'd be fine t

[2020-06-03 02:49] jimthompson5802 commented on #1900
Thank you as well.  I can confirm the fix addresses the issue we encountered.

[2020-06-03 03:00] dathudeptrai commented on #1906
hi @seanpmorgan, i can create Colab notebook for define model, inference part (load pretrained and do inference, visualize Attention map.). It's not ez to create training process on colab, there are many related code like TF data, preprocessing .... So is that ok if i create colab for modeling and inference part, for training it's fine to add a note in tutorial pointing to the TTS library ?

[2020-06-03 06:44] failure-to-thrive commented on #1897
Actually there is still a specific error here which manifests in Graph mode too.
`AttributeError: 'TensorArray' object has no attribute 'shape'`
`alignment_history=False` mitigates it.

[2020-06-03 07:38] facaiy commented on #1825
In most cases, it might be better to use `data.batch(xx).map(xxx)` for performance reason :-)

[2020-06-03 07:48] guillaumekln commented on #1897
Keras has limited support of `tf.TensorArray`. It often assumes that all layer inputs are `tf.Tensor`. This same error message was also reported in https://github.com/tensorflow/addons/issues/1194.

[2020-06-03 07:49] facaiy commented on #422
@leandro-gracia-gil Thanks for your good question, Leandro. Would you mind filing an issue for it?

[2020-06-03 09:13] leandro-gracia-gil opened #1908 "RectifiedAdam is not supporting scheduling for weight decays, while AdamW does"
The current implementation of RectifiedAdam implements weight decay following the [RAdam paper](https://arxiv.org/pdf/1908.03265v1.pdf), which adopts it from the [AdamW paper](https://arxiv.org/pdf/1711.05101.pdf). However, AdamW actually supports scheduling weight decay as part of its AdamWR variant, and in fact the paper defines a normalized weight decay in its appendix B.1 to handle these situa

[2020-06-03 09:20] leandro-gracia-gil commented on #1908
I tried using schedulers for weight decay with the current AdamW implementation and I'm getting an exception despite being supposedly supported (according to the argument typing).

Maybe this should be reported as a separate issue? It looks like both issues could be fixed together, and at least in the AdamW case this is already supposed to work.

[2020-06-03 09:21] leandro-gracia-gil commented on #422
@facaiy Sure. Here it is: https://github.com/tensorflow/addons/issues/1908

[2020-06-03 12:29] innat commented on #876
@WindQAQ is this issue fixed? I am using the following version: [Checked](https://github.com/tensorflow/addons#python-op-compatibility-matrix)

[code]

[2020-06-03 12:31] swghosh commented on #876
Yes this has been fixed!

[2020-06-03 12:40] innat commented on #876
Thnx. But I'm getting this error with this version. I'm running my code in kaggle kernel! Any catch?

[2020-06-03 16:20] swghosh commented on #876
Will try out on a Kaggle environment and let you know soon.

[2020-06-04 17:11] 5demayo opened #1910 "_prepend_batch is receiving a shape as an integer and is causing an exception"
**System information**
- Debian 10
- TF 2.2 source
- TensorFlow-Addons 0.10.0 source
- Python version: 3.7
- Is GPU used? (yes/no): no

**Describe the bug**

_prepend_batch is receiving a shape as an integer and is causing an exception to be raised on:

return tf.concat(([batch_size], shape), axis=0)

**Code to reproduce the issue**

Pass in a shape that is an integer or a dictionary of an integer

[2020-06-04 17:11] 5demayo commented on #1910
I am more than happy to fix, just haven't done a pull request on a major project before.

[2020-06-04 17:39] gtg740x opened #1911 "Problem resuming training with RectifiedAdam+Lookahead (Ranger)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): Tensorflow 2.1 from official Tensorflow Docker container
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1
- Python version: 3.6.9
- Is GPU used? (yes/no): Yes.

**Describe the bug**

If I train a model u

[2020-06-04 20:22] innat commented on #876
It will work on kaggle kernel.

[2020-06-04 23:41] seanpmorgan commented on #1906
Hi @dathudeptrai unfortunately it's difficult to use pre-trained weights in colab in a way that allows everyone to run the model (would have to be hosted somewhere). Just from that description of the notebook I'm leaning toward it not being a great fit for our tutorials, but if you want to make a notebook that you think is still useful I'd be happy to take a look.

Don't want to waste your time th

[2020-06-04 23:45] seanpmorgan commented on #1910
Hi @5demayo would you be able to expand on this issue and point to where this is occurring in the source code (I assume seq2seq?) Also a reproducible example of code that triggers this error is needed so we can verify that the use case is correct.

Thanks!

[2020-06-05 01:18] dathudeptrai commented on #1906
ok i will consider tf hub

[2020-06-05 01:18] #1906 closed

[2020-06-05 07:27] astariul opened #1912 "How to use Gradient Accumulation with RectifiedAdam"
I'm trying to use Gradient Accumulation with RectifiedAdam optimizer.

How can I modify the code to use gradient accumulation ?

I saw [this](https://github.com/bojone/bert4keras/blob/master/bert4keras/optimizers.py#L647-L697), but it's based on Keras backend so I can't apply it here.

There is also various other implementation for Keras out there, but nothing for Optimizer v2.

**Any tip on how t

[2020-06-05 15:55] harahu commented on #1755
@failure-to-thrive describes the intended use. To ease the use of this metric one could possibly implement some opportunistic flattening where this does not lead to ambiguity, like in this case. Not sure if this is worth it. I recognize that this implementation requires some thinking to use correctly, so I raised an issue in tensorflow core that should hopefully in time lead to a more user friendl

[2020-06-05 16:40] #1682 closed

[2020-06-06 11:46] breadbread1984 commented on #1867
@failure-to-thrive I found there is a flaw in your implement. the hidden in your implement is calculated from cell of lstm, but the hidden of zoneout lstm should be calculated from zoneouted cell.

[2020-06-06 12:03] failure-to-thrive commented on #1867
I've simply implemented the generalized form from the original academic paper. Although there are lots of variations which are mentioned in the paper too, I'm not sure whether all of them should be implemented in the scope of TFA. Any ideas?

[2020-06-08 00:24] w4nderlust opened #1915 "Tutorial request for seq2seq greedy and beam decoding, with and withouts attention, and improved documentation"
The examples of how to use seq2seq decoders decoders, in particular the beam search one available in the readme https://github.com/tensorflow/addons/tree/master/tensorflow_addons/seq2seq are not sufficient, do not cover combinations of attention and beam, contain undefined variables and in the end are not useful.
There, for instance, decoders `__call__` function is used, while in other tutorials,

[2020-06-08 12:17] guillaumekln commented on #1915
It seems someone already contributed a [tutorial](https://www.tensorflow.org/addons/tutorials/networks_seq2seq_nmt), but I think this could be made simpler and clearer. I can look to propose something different (unless someone else wants to work on this).

[2020-06-08 15:21] fsx950223 commented on #1703
https://github.com/tensorflow/probability/blob/v0.10.0/tensorflow_probability/python/layers/weight_norm.py#L26-L191
Could this one solve your problem?

[2020-06-08 20:22] #1868 closed

[2020-06-08 21:58] w4nderlust commented on #1915
It would be great to add also beam search to it. It doesn't seem to be super straightforward to me, in particular if you want to collect the highest scoring sequence and its logits.
Thank you for the updated docs, very helpful!

[2020-06-08 23:58] tanzhenyu commented on #1780
We'd believe it's best to have each repo do its own thing and do it really well. So Model Garden (IMHO) should handle user facing end-to-end modeling workflow that can quickly get deployed, while Keras-CV should handle low level research needs that can build models with reuse-able components. At the end of day, model garden should re-use Keras-CV components to build their models.
And Model Garden

[2020-06-09 00:13] bhack commented on #1780
OK this part is clear and it is what I hope to have reuse-able components not embedded every time in the mode itself (model garden).

I'm not so sure about this second part cause it could go to confuse users and conflict with the multi storage source of models. I've already seen in past many ambiguous entries between TPU repo, tensorflow Garden, Coral, tensorflow lite and so on on model storage/re

[2020-06-09 00:40] tanzhenyu commented on #1780
We don't intend to have overlapped models, and frankly having many models in different places is exactly what is confusing users today, I think?

[2020-06-09 00:50] bhack commented on #1780
Is it a question? If it is a question for me yes was on of the confusing topics. At least the scope of TF.hub was to masquerade these multiple sources to have "reusable parts of machine learning models" and Keras support was one of the first feature requests in TF.hub when was launched (https://github.com/tensorflow/hub/issues/13).

[2020-06-09 00:57] tanzhenyu commented on #1780
You clearly understand our plans well :-)
Yeah but we cannot have every magical trained (hub) module as a single Keras layer, for cases when a certain layer inside the module needs to be inspected / updated. For it to act as a single glob (like in transfer learning) yes that is what TF Hub was built for (IMHO).

[2020-06-09 01:05] bhack commented on #1780
@tanzhenyu Yes I was talking about transfer learning but then you need to reuse that utils and stuff but generally many of these are embedded in the mode code itself. So this was the main issue, all the preprocessing, postprocessing and glue code was not reusable in transfer learning or "model forks".

[2020-06-09 01:14] tanzhenyu commented on #1780
Sorry that I don't follow -- can you elaborate the "main issue" part?

[2020-06-09 01:40] bhack commented on #1780
That other than TF hub common interface for trasfer learning users what to reuse model components that generally are embedded in the model itself.

So I hope that if we have a new model like e.g Efficientnet we can use its augmentation as a general components also for other model designs and that we have one reliable model soruce instead of Keras.application, TPU repository, automl repository, mod

[2020-06-09 02:34] tanzhenyu commented on #1780
IIUC -- as of today Keras-application is still the only one that provides a full suite of backbones to be used for image classification tasks which doesn't have the issue you mentioned

[2020-06-09 02:42] jimthompson5802 commented on #1915
To expand this request

These are some of the apis where more complete documentation would have been helpful, at least for me:
* https://www.tensorflow.org/addons/api_docs/python/tfa/seq2seq/BasicDecoderOutput
* https://www.tensorflow.org/addons/api_docs/python/tfa/seq2seq/BeamSearchDecoderOutput
* https://www.tensorflow.org/addons/api_docs/python/tfa/seq2seq/BeamSearchDecoderState

[2020-06-09 07:22] guillaumekln commented on #1915
@jimthompson5802 Documentations for these symbols were added in the pull request referenced above (https://github.com/tensorflow/addons/pull/1916).

[2020-06-09 09:13] bhack commented on #1780
I guess it doesn't matter to much where it worked and where not.  What is important is that it works as a whole in the ecosystem for what we offer/expose to users. I hope we are not going to confict or creating too much with the model request/contribution policy that we already expose now for Model garden: https://github.com/tensorflow/models/wiki/How-to-contribution.

As also for the reusable com

[2020-06-09 12:29] shkarupa-alex opened #1920 "LookAhead + RAdam + mixed_fp16 = apply_gradients() got an unexpected keyword argument 'experimental_aggregate_gradients'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow version and how it was installed (source or binary): source
- TensorFlow-Addons version and how it was installed (source or binary): source
- Python version: 3.8.2
- Is GPU used? (yes/no): yes

**Describe the bug**
When i set global mixed precision policy `tf.keras.mixed_precision.experiment

[2020-06-10 08:09] invencode opened #1923 "tfa.text.crf_decode causes error when converting to tflite."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.3.0-dev20200609 / binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.0.dev20200609192739 / binary
- Python version: 3.7.5
- Is GPU used? (yes/no): no

**Describe the bug??**
On `tfa.text.crf_decode`, the

[2020-06-11 11:27] bhack commented on #1920
@shkarupa-alex Do you have a very minimal dummy `model` to reproduce this?

[2020-06-11 11:42] KacperKubara commented on #1769
I think that CRF layer implementation had few unsuccessful PRs. https://github.com/tensorflow/addons/pull/1733 seems to be a current one but it hasn't been merged yet. Better docs and tutorials would be really useful for all crf functionalities within _tfa.text_ as it seems to be lacking.

[2020-06-11 17:38] #1779 closed

[2020-06-12 09:38] shkarupa-alex commented on #1920
Here it is https://colab.research.google.com/drive/1nxYsCOHbNWLtNzMnkBnwbfiKjF5pAbe3?usp=sharing

[2020-06-12 09:53] bhack commented on #1920
Can you enable the access to the colab?

[2020-06-12 10:03] shkarupa-alex commented on #1920
Sorry. Access granted
https://colab.research.google.com/drive/1nxYsCOHbNWLtNzMnkBnwbfiKjF5pAbe3?usp=sharing

[2020-06-12 10:56] bhack commented on #1920
@shkarupa-alex Can you try https://github.com/tensorflow/addons/pull/1924?

[2020-06-12 11:53] shkarupa-alex commented on #1920
No error after patch applied

[2020-06-12 20:06] DanielTakeshi commented on #1132
Hi, just wondering was there any change to this? I am getting this error with `conda install tensorflow-gpu==2.1.0` and I did that because of the difficulty in pip installation (see: https://towardsdatascience.com/tensorflow-gpu-installation-made-easy-use-conda-instead-of-pip-52e5249374bc).

[2020-06-14 03:42] SoufianeDataFan opened #1927 "import tensorflow_addons gives AttributeError: module 'tensorflow_core._api.v2.random' has no attribute 'Generator'"
**System information**
I am running my this on a docker container which has these specifications:
- OS Platform and Distribution:  Linux Ubuntu 16.04.
- TensorFlow version: 2.1.0
- TensorFlow-Addons version: I think it's the lastest, bc I installed it with `pip install tensorflow-addons
`
- Python version: Python 3.6.9
- Is GPU used?: Yes

**Describe the bug**
I am running a simple command `import

[2020-06-14 03:48] SoufianeDataFan commented on #1927
I think the problem is with my Tensorflow version. I should upgrade it to 2.2.0 or above.

[code]

[2020-06-14 03:48] #1927 closed

[2020-06-14 17:34] ffraaz commented on #746
A possible workaround for using `tfa.metrics.F1Score` for binary classification without one-hot encoding is to set `num_classes` to 1 and `threshold` to 0.5, i.e.
[code]

[2020-06-14 23:12] seanpmorgan commented on #1132
Hi @DanielTakeshi unforuntely no change yet. Still waiting on the RFC in the issue linked above:
https://github.com/tensorflow/addons/issues/987

For now you'll need to use TF that is pip installed. We'll be working to improve our support for TFA installed from source in the coming month(s)

[2020-06-16 04:53] facaiy commented on #1875
Hi, John. F1Score calculates on the whole data which it had seen before.

[2020-06-16 08:02] guillaumekln commented on #1910
It's not clear to me whether the exception was raised when using `seq2seq` layers, or when this function is called directly. I'm going to close this issue, but feel free to reopen if you can provide more details.

[2020-06-16 08:02] #1910 closed

[2020-06-16 08:05] guillaumekln commented on #1114
For reference, #1925 is adding a Python implementation for `tfa.seq2seq.gather_tree` which should simplify model export.

[2020-06-16 18:08] #740 closed

[2020-06-16 19:45] Squadrick commented on #1923
@invencode Can you post your code, as well as how you converted to tflite? It'll really help with debugging the issue.

[2020-06-16 23:03] #1920 closed

[2020-06-17 03:08] steven5401 commented on #1911
I have exactly same problem as you. After using
[code]
It shows the following log.
[code]
It seems that lookahead does not maintain its slot "slow" well. @gtg740x Can you check the log of ` status.assert_consumed()` ?

[2020-06-17 03:17] seraphzl opened #1933 "Weight normalization in LAMB optimizer"
Hi,

Is it necessary to clamp the weight norm in the LAMB optimizer to 0-10?

[2020-06-17 08:27] AntPeixe opened #1934 "Unable to restore model using crf_decode"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Cataline 10.15.3
- TensorFlow version and how it was installed (source or binary): 2.2.0 (from pypi)
- TensorFlow-Addons version and how it was installed (source or binary): 0.7.0 (from pypi)
- Python version: 3.7.4
- Is GPU used? (yes/no): no

**Describe the bug**
When trying to load a model with `tf.keras.mod

[2020-06-17 11:12] abhijitmjj opened #1936 "Usage with tf.keras API"
https://github.com/tensorflow/addons/blob/5f618fdb92d9737da059de2a33fa606e97505398/tensorflow_addons/losses/focal_loss.py#L52-L53

The usage in `tf.keras` API example is incorrect. It should be replaced with:

[code]

[2020-06-17 15:31] AakashKumarNain commented on #1936
Thanks @abhijitmjj for pointing this out. Can you create a PR with the correction?

[2020-06-17 15:37] harshithere opened #1937 "Error while using HammingLoss during model training"
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow version: 2.2.0 (pip install so i guess source)
- TensorFlow-Addons version: 0.10.0 (pip install so i guess source)
- Python version: 3.7
- Is GPU used? No

I'm trying to use the Hamming loss as a metric for a multi-label classification problem. I try to include it in the metrics during the model.compile() step but always get the below

[2020-06-17 16:44] bhack commented on #1937
Can you share a very minimal dummy runnable code (just copy and paste) to reproduce this?

[2020-06-18 07:04] laurensnaturalis opened #1938 "An operation has `None` for gradient for triplet_hard_loss"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): 2.1.0 binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1 binary
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Describe the bug**

I get `An operation has `None` for gradient.` when I use `tf

[2020-06-18 12:14] harshithere commented on #1937
@bhack I think this should do it. Thanks for the help

[code]

[2020-06-18 12:18] bhack commented on #1937
Can you try with

[code]

[2020-06-18 12:33] harshithere commented on #1937
Yes it works!! Thanks for the help @bhack
I spent quite a lot of time figuring this out and now feel really stupid :)

[2020-06-18 12:33] harshithere commented on #1937
Yes it works!! Thanks for the help @bhack
I spent quite a lot of time figuring this out and now feel really stupid :)

[2020-06-19 03:04] WindQAQ commented on #1937
Closes the issue as it has been solved. Thank you @bhack! Feel free to reopen it if there is any problem.

[2020-06-19 03:04] #1937 closed

[2020-06-19 04:03] turmeric-blend opened #1939 "feature request for Snake activation function"
**Capable of learning a periodic function from the data better than current standard activation functions such as ReLU and tanh. Also performs as well as ReLU/leaky-ReLU on image task (refer paper)**

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): no
- Is there a relevant academic paper? (if so, where): https://ar

[2020-06-19 04:17] WindQAQ commented on #1938
Hi @laurensnaturalis, could you provide the minimal runnable code snippet so that we could diagnose where the problem is easily? Thank you!

[2020-06-19 05:07] WindQAQ commented on #1934
Hi @AntPeixe, your solution is correct IMO. Feel free to open an PR and request my review. Thank you!

[2020-06-19 06:40] turmeric-blend commented on #1939
not sure if this counts as a contribution but here is my implementation of Snake using layer:

[code]

I based the template off https://datascience.stackexchange.com/questions/58884/how-to-create-custom-activation-functions-in-keras-tensorflow

[2020-06-19 13:51] saahiluppal opened #1940 "Implementation of MultiHeadAttention is incomplete."
while MultiHeadAttention should have to pay attention to two types of attention masks,
1. That masks the padding (called padding mask)
2. That prevents positions from attending (called attention mask)

While current implementation seems to have only one mask i.e. that masks the padding (1st option).

[2020-06-19 14:06] bhack commented on #1940
Please if you want more feature help us to review https://github.com/tensorflow/community/pull/260.

[2020-06-19 16:36] saberkun commented on #1940
@saahiluppal Thank you! Yes, please help us review and discuss in the RFC.
The padding mask, causal_mask mask and segment mask can finally compose an attention mask tensor which is (batch size, ....., target sequence, source sequence). If we put mask composition logic outside the layer and pass the attention mask in, it should be flexible to cover use cases. Please correct me if I am wrong. (Yes,

[2020-06-19 19:28] WindQAQ opened #1942 "Failed GPU optimizer test with mixed precision"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CI
- TensorFlow version and how it was installed (source or binary): CI
- TensorFlow-Addons version and how it was installed (source or binary): CI
- Python version: CI
- Is GPU used? (yes/no): yes

**Describe the bug**
GPU test is broken after https://github.com/tensorflow/addons/commit/bd5bbfc66e750cba94360236e7f85

[2020-06-19 19:28] WindQAQ commented on #1942
cc @bhack

[2020-06-19 19:33] bhack commented on #1942
https://github.com/tensorflow/tensorflow/issues/39775

[2020-06-19 21:08] bhack commented on #1942
In the maintime check if we could bypass with https://github.com/tensorflow/addons/pull/1943

[2020-06-21 04:01] #1936 closed

[2020-06-21 12:21] seanpmorgan commented on #1940
Closing as this discussion should continue in the new RFC. Thanks!

[2020-06-21 12:21] #1940 closed

[2020-06-22 15:11] fsx950223 opened #1945 "Turtorial tensorflow addons version mismatch"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):colab
- TensorFlow version and how it was installed (source or binary):binary
- TensorFlow-Addons version and how it was installed (source or binary):binary
- Python version:3.7
- Is GPU used? (yes/no):yes

**Describe the bug**
Default tensorflow-addons in turtorial is 0.8.3 with tensorflow==2.2.0
A clear and concise

[2020-06-22 15:17] seanpmorgan commented on #1945
Waiting on: https://github.com/googlecolab/colabtools/issues/1243

[2020-06-23 23:42] mihaimaruseac commented on #1894
This is also useful for clangd and Clang Tooling based refactorings.

[2020-06-23 23:55] bhack commented on #1894
@mihaimaruseac are you using the tool or not? :Wink: See https://github.com/tensorflow/addons/pull/1808#issuecomment-636217541

[2020-06-24 00:29] mihaimaruseac commented on #1894
`clang-tidy` is used, but on the imported code.

What I meant above is other tooling (`clang_query` and related) and directly on the open source code

[2020-06-24 02:39] turmeric-blend opened #1946 "how to monitor/print active (decaying) learning rate of RectifiedAdam + Lookahead (Ranger)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): TF 2.1 installed via Conda
- TensorFlow-Addons version and how it was installed (source or binary): TF-addons 0.9 installed via pip
- Python version: Python 3.7
- Is GPU used? (yes/no): Yes

**Describe the bug**

No clear way to monitor/pr

[2020-06-24 17:18] #1934 closed

[2020-06-24 18:08] gunan commented on #1894
From what I can tell, then we would need to update this file every time a new file is added, or a BUILD file is modified?

[2020-06-24 18:10] bhack commented on #1894
@gunan I've already mentioined two bazel bugs:
bazelbuild/bazel#258
bazelbuild/vscode-bazel#179

[2020-06-24 18:18] jadevaibhav opened #1948 "focal loss for categorical (one-hot) encodings"
**Describe the feature and the current behavior/state.**
Currently, sigmoid focal crossentropy provided is implemented for single value labels for binary labels, as it internally uses binary crossentropy for its calculations.

**Relevant information**
- Are you willing to contribute it (yes/no): Yes
- Are you willing to maintain it going forward? (yes/no): Yes
- Is there a relevant academic paper?

[2020-06-24 19:06] mihaimaruseac commented on #1894
I think I might be able to do it, if I really need this for a security analysis I'm running. No promises yet.

[2020-06-24 19:10] AakashKumarNain commented on #1948
@jadevaibhav  Looks good. Can you open a PR? Also, add support for `sparse` labels as well.

[2020-06-24 19:41] bhack commented on #1894
As Bazel team seems It Is not interested to put resources on this at upstream level many projects are using https://github.com/grailbio/bazel-compilation-database

[2020-06-24 21:45] mihaimaruseac commented on #1894
Yes, but I think I have a solution which uses Bazel and a minimal number of additions to the projects `.bazelrc`

[2020-06-24 22:10] bhack commented on #1894
Ok but check to not reinvet the wheel of alternative approaches:
 https://github.com/grailbio/bazel-compilation-database#alternatives

[2020-06-24 22:25] mihaimaruseac commented on #1894
Yes, I'm only trying to get the solution that is most stable and requires fewer changes

[2020-06-25 10:26] AakashKumarNain commented on #1948
@jadevaibhav actually it works for OHE encoded labels as well, though it doesn't support `sparse_labels` as of now. You only need to submit a PR where it works with sparse labels as well when dealing with `multi-class` case. Here is an example:

[code]
Sorry for the lack of clarification in the earlier comment. When the focal loss version was revised, it was made sure that it works for OHE labels

[2020-06-25 12:22] jadevaibhav commented on #1948
@AakashKumarNain the current version uses binary crossentropy internally. I think it was because the paper also defines it in binary imbalanced class setting. Although passing OHE labels to binary crossentropy works, but it does not make sense. Hence I proposed the above implementation.

I haven't extrapolated the idea for multi-class classification,  but I think it would just require per-class we

[2020-06-25 12:57] failure-to-thrive commented on #1939
@turmeric-blend I could incorporate it into TFA and maintain further instead of you, if you really do not want to. However, if you just do not know "how to", there are [Contribution Guidelines](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations) out there.

[2020-06-25 13:12] yuvaramsingh94 opened #1949 "How to use AdamW properly?"
Hi all,
   i have a common question. while using AdamW optimizer from tfa, should i set ``kernel_regularizer`` to something specific in Conv2D layer or it can automatically calculate the weight decay. also i am using pre-trained CNN models. this information will let me know weather i should set it or use the naive pre-trained model.

thanks
yuvaram

[2020-06-26 06:09] AakashKumarNain commented on #1948
I will provide you the details by tomorrow, so that you have a better understanding of what all needs to be done before you submit a PR.

[2020-06-28 09:32] Santosh-Gupta commented on #1267
I'm getting a similar error,

[code]

This is from attempting a custom model

[code]

This is with the AdamW optimizer as well.

[2020-06-28 09:55] bhack commented on #1267
@Santosh-Gupta you need `*kwargs`. Check https://github.com/tensorflow/addons/pull/1924

[2020-06-28 10:09] Santosh-Gupta commented on #1267
@bhack where do the `**kwargs` go? I'm looking at https://github.com/tensorflow/addons/pull/1924 but still not sure. Is it at `_minimize`, so `def _minimize(strategy, tape, optimizer, loss, trainable_variables, **kwargs):`

[2020-06-28 10:23] bhack commented on #1267
For AdamW https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/weight_decay_optimizers.py#L130-L181

[2020-06-28 10:58] Santosh-Gupta commented on #1267
Installing the latest tfa add-ons seemed to fix the issue, though now I'm getting an `AttributeError: Tensor.name is meaningless when eager execution is enabled.` error, which I believe is related to training on TPUs and not the AdamW optimizer.

[2020-06-28 17:59] AakashKumarNain commented on #1948
@jadevaibhav TF model zoo also have a focal loss implementation [here](https://github.com/tensorflow/models/blob/3b13794fdb762517ad7c90361b6a47b4f46acc76/official/vision/detection/modeling/losses.py#L25). It is exactly the same as we have here and the plan is to merge the two in the near future. The only think that TF-addons implementations doesn't support is `sparse_labels` when doing multi-class

[2020-06-28 18:07] bhack commented on #1948
@AakashKumarNain check https://github.com/tensorflow/addons/pull/914#issuecomment-645506982

[2020-06-28 19:22] AakashKumarNain commented on #1948
Thanks @bhack for pointing it out.

[2020-06-29 04:56] turmeric-blend commented on #1939
Thanks @failure-to-thrive . I think its better if you implement it. Also I'm not sure if the code above is 100% accurate to the paper, so you might want to double check.

[2020-06-29 12:20] KacperKubara opened #1953 "Input size for F1 Score"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version and how it was installed (source or binary): binary
- TensorFlow-Addons version and how it was installed (source or binary): binary
- Python version: 3.7
- Is GPU used? (yes/no): no

**Describe the bug**
Hi, I wanted to ask what input shape is allowed for F1 Score metric in the library

[2020-06-29 19:34] montaserFath commented on #1267
I solved it, Just upgrade to new version tfa 0.10.0
`pip install pip install tensorflow_addons==0.10.0`

[2020-06-30 06:00] Elizaaaaa opened #1956 "undefined symbol: _ZN10tensorflow24TfCheckOpHelperOutOfLineB5cxx11ERKNS_6StatusEPKc"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux ubuntu 16.04
- TensorFlow version and how it was installed (source or binary):
2.2.0 binary
- TensorFlow-Addons version and how it was installed (source or binary):
0.10.0 binary
- Python version:
3.7
- Is GPU used? (yes/no):
yes

**Describe the bug**
i'm trying to run the unit test with `bazel test //tensorflo

[2020-06-30 07:09] bhack commented on #1956
Can you try with `bazel clean`?

[2020-06-30 07:23] Elizaaaaa commented on #1956
hi, i did bazel clean everytime before a new bazel test. not helping in my case.

[2020-06-30 09:54] valendin commented on #1087
Here's an example that breaks - if you replace NovoGrad with Adam, everything works.

[code]

[2020-06-30 10:23] seanpmorgan commented on #1956
Hi @Elizaaaaa! Could you help me understand the use case here. Looks like you're pip installing TF2.2 (pre-built with CUDA10.1), alongside TFA 0.10 (prebuilt with CUDA10.1). Then you're cloning the source code and trying to run the unit tests using bazel with CUDA10.2?

If you're running unit tests from source code there is no need to have TFA pre-installed:
https://github.com/tensorflow/addons/bl

[2020-06-30 10:52] bhack commented on #1956
@seanpmorgan Also with this ambiguous setup I can run `bazel test //tensorflow_addons/image/... --verbose_failures --test_output=all --test_timeout=300 --action_env=TF_ADDONS_PY_OPS=1` when we are in our devel image.

[2020-06-30 12:51] bhack commented on #1956
This missing symbol `tensorflow::TfCheckOpHelperOutOfLine(tensorflow::Status const&, char const*)`  ( `_ZN10tensorflow24TfCheckOpHelperOutOfLineB5cxx11ERKNS_6StatusEPKc ') is in the tf_addons pip but it was looking in bazel. Please don't install `tf-addons` from pip if you are working on the `tfaddons` checkout.

[2020-06-30 13:05] bhack commented on #1942
We can close this and just add https://github.com/tensorflow/addons/pull/1951#issuecomment-651004300

[2020-06-30 14:26] gugarosa opened #1957 "Fix typo on contrastive loss"
There is a typo on the contrastive loss wrapper. Not that it will change a lot, but it is nice to keep things straight.

https://github.com/tensorflow/addons/blob/v0.10.0/tensorflow_addons/losses/contrastive.py#L100

Best regards,
Gustavo.

[2020-06-30 16:27] seanpmorgan commented on #1957
Hi @gugarosa nice catch! Would you like to submit a PR to fix it?

[2020-06-30 17:24] Elizaaaaa commented on #1956
Hi @bhack and @seanpmorgan, thanks for your follow up
We have a customized container which has addons installed. What I'm trying to do is make sure the addons can pass its unit test inside our container. And unfortunately our container is cuda10.2 only :(   we also have a tf binary built with cuda10.2 inside the container, but i uninstall it and reinstall tensorflow from pypi to locate where's thi

[2020-06-30 17:42] bhack commented on #1956
The symbol in our devel image is `nm /usr/local/lib/python3.6/dist-packages/tensorflow/libtensorflow_framework.so.2 | grep CheckOpMessageBuilder9NewS` is `_ZN10tensorflow8internal21CheckOpMessageBuilder9NewStringEv`.
What is the llvm version in your image?

[2020-06-30 17:47] gugarosa commented on #1957
Sure, sounds great! Let me clone the repo and submit it.

[2020-06-30 17:50] bhack commented on #1956
Cause from `_ZN10tensorflow8internal21CheckOpMessageBuilder9NewStringB5cxx11Ev` it seems that you are using CXX11_ABI but the tensorflow pip package doesn't use CX11_ABI

[2020-06-30 17:56] Elizaaaaa commented on #1956
hi @bhack , i check the .so, the lib name is the same as yours.
I don't have an llvm installed in my container.
As for CXX11_ABI, i think i set it to false in .bazelrc. could you take a look if it actually disable using CXX11_ABI while bazel test? Thank you
[code]

[2020-06-30 18:10] bhack commented on #1956
Can you try to pass `--cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0`  ?

[2020-06-30 19:09] Elizaaaaa commented on #1956
this solved my issue. Thanks a lot!

[2020-06-30 19:09] #1956 closed

[2020-06-30 23:11] #1957 closed

[2020-07-01 16:01] charlielito opened #1959 "Addons image transforms crashing with CPU only tensorflow"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow version and how it was installed: CPU version 2.2.0, installed inside a conda env with `pip install tensorflow-cpu`
- TensorFlow-Addons version and how it was installed source or binary: version 0.10.0 , installed inside conda env with `pip install tensorflow_addons`
- Python version: 3.6.10
- Is GPU used? (yes/

[2020-07-01 16:32] bhack commented on #1959
Dup of https://github.com/tensorflow/addons/issues/990

[2020-07-01 16:48] #1959 closed

[2020-07-01 18:37] failure-to-thrive commented on #1939
I see nothing wrong with your implementation. If you have any doubts, please do not hesitate to reveal them upfront.

[2020-07-02 01:08] crystina-z opened #1960 "Add Mixout module"
It's an issue switched from tf repo ([here](https://github.com/tensorflow/tensorflow/issues/40983)) and here is [the pending pr](https://github.com/tensorflow/tensorflow/pull/40990) I've sent there. According to the reviewer's suggestion, I probably should add the module to here first.

**Relevant information**
- Are you willing to contribute it: yes
- Are you willing to maintain it going forward?

[2020-07-02 03:45] facaiy commented on #1875
I'll close the issue, and feel free to reopen it :-)

[2020-07-02 03:45] #1875 closed

[2020-07-02 04:14] WindQAQ commented on #1960
Sounds great! Free feel to file an PR. Also, our style is a little bit different from the one of core TF so please take a look at https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md. But no worries, if you find any problem on testing suite or style, just opening an PR first and pinging me. Thank you.

[2020-07-02 04:20] WindQAQ commented on #1953
cc @AakashKumarNain who might understand metrics more.

[2020-07-02 07:31] gcuder opened #1961 "[Seq2Seq] Add build/get_config/from_config and other layer methods."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- TensorFlow version and how it was installed (source or binary): 2.2/binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.10/ binary
- Python version: 3.5.6
- Is GPU used? (yes/no): yes

**Describe the bug**
When a tried to save a model with the BeamSearchDecoder, it complained tha

[2020-07-02 17:15] AakashKumarNain commented on #1953
Thanks @WindQAQ

@KacperKubara It should work in both the cases, i.e. OHE as well as with the `softmax` scores. If something isn't working, please let us know. We will also update the documentation for F1 score in the next version.  Thank you for the inputs

[2020-07-02 21:38] brunodoamaral opened #1962 "CohenKappa raise exception for batch_size=1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7
- TensorFlow version and how it was installed (source or binary): 2.2.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.10.0
- Python version: 3.6.9
- Is GPU used? (yes/no): no

**Describe the bug**

`tfa.metrics.CohenKappa` raise exception when batch_size=1.

**Code to reproduce t

[2020-07-03 08:07] guillaumekln commented on #1961
Could you post a small code examples describing how you tried to save the model?

[2020-07-03 13:28] Furqanf9T opened #1965 "Maxunpooling3d"
**Describe the feature and the current behavior/state.**
Features (perhaps 2 layers, maxpool3d_with_argmax, and maxunpool_3d)
**Relevant information**
- Are you willing to contribute it (yes/no):yes
- Are you willing to maintain it going forward? (yes/no):yes
- Is there a relevant academic paper? (if so, where):
- Is there already an implementation in another framework? (if so, where):pytorch
- Wa

[2020-07-03 13:32] bhack commented on #1965
It is a dup of https://github.com/tensorflow/addons/issues/632. If you want to get this in charge please post a message in that issue.

[2020-07-03 18:10] avnx opened #1968 "Error with mixed precision"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow version and how it was installed (source or binary):  https://github.com/horovod/horovod/blob/master/Dockerfile.gpu (changed TENSORFLOW_VERSION=2.2.0 and NCCL_VERSION=2.5.6-1+cuda10.1)
- TensorFlow-Addons version and how it was installed (source or binary): nightly (0.11.0-dev)
- Pytho

[2020-07-04 09:39] bhack commented on #1825
You can check Gsoc progress at https://github.com/tanzhenyu/image_augmentation

[2020-07-04 12:05] KacperKubara commented on #1953
That's good to know, thanks @AakashKumarNain. I've had some issues with F1 score but it seems that it was because of my misunderstanding. If I will encounter any bugs, I will open another issue.

I am happy to hear that docs will updated for F1 scores. On the sidenote, while the TFA seems to be a great addition to TF, the lack of docs (especially for metrics) refrained me from actually using it an

[2020-07-04 12:05] #1953 closed

[2020-07-04 16:13] AakashKumarNain commented on #1953
@KacperKubara thanks for the feedback. We will take this into account and will try our best to improve the end-user experience. On a side not, if you think that the documentation of particular functionality in TFA isn't proper, please feel free to open an issue and we will look into it.

[2020-07-05 16:21] zhuokaizhao opened #1969 "(None, None, None, None)-shaped variable returned by tfa.image.dense_image_warp"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 20.04
- TensorFlow version and how it was installed (source or binary): 2.1.0, source
- TensorFlow-Addons version and how it was installed (source or binary): latest, source
- Python version: 3.7
- Is GPU used? (yes/no): Yes

**Describe the bug**

When passing a "None"-batch size image with flow, such as a (Non

[2020-07-05 19:30] WindQAQ commented on #1969
It's because you are using functional API of keras. In this case, `image` is a symbolic tensor, and thus, the reshape in [this line](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/dense_image_warp.py#L251) based on `tf.shape` won't provide more info.

One possible fix is that you can use `.set_shape(image.shape)` after the `tfa.image_dense_image_warp(image, flow)`.

[2020-07-05 20:15] zhuokaizhao commented on #1969
Thank you very much for the suggestion. The possible fix solves the issue, although I feel like it could be beneficial to modify the function to adapt to this usage. It is normal to use placeholder input with `None` batch size when compiling a model, and it would be cleaner if we don't have to manually set the output shape.

[2020-07-05 20:40] WindQAQ commented on #1969
Sure, we are more than welcome to have a PR for this. Thanks for the suggesion!

[2020-07-06 06:24] #1939 closed

[2020-07-06 10:57] #1087 closed

[2020-07-06 11:55] #1965 closed

[2020-07-06 12:00] seanpmorgan commented on #1942
Agree, this appears to be solved in upstream for 2.3

[2020-07-06 12:00] #1942 closed

[2020-07-07 03:41] #1962 closed

[2020-07-07 04:12] WindQAQ commented on #1783
Hi @Fabian-Leon, can you provide the code to reproduce the issue? I try to follow your code snippet but it works. (let the nan loss alone because images are the same)

https://colab.research.google.com/drive/13khyT64lIYiZx_SJIT9GPOiFfJuwXgWT?usp=sharing

[2020-07-07 04:50] WindQAQ commented on #1783
@Fabian-Leon I've updated the link :-)

[2020-07-07 17:30] Fabian-Leon commented on #1783
OMG! yes it works with my data! I've spent too much time on this, but I don't understand why if I use your same code but import libraries differently, it doesn't work, this is my code.

https://colab.research.google.com/drive/1TXtan1x7ZmaSwcKfZggbRYavlhfUqX-Q?usp=sharing

[2020-07-07 18:16] bhack commented on #1783
@Fabian-Leon https://github.com/keras-team/keras/releases/tag/2.4.0

[2020-07-07 18:56] WindQAQ commented on #1783
Seems that it is version issue. Hopefully, it works. The best practice to use keras in TF is directly using `tf.keras.*`. Feel free to reopen the issue if you have any further problem.

[2020-07-07 18:56] #1783 closed

[2020-07-08 05:38] fsx950223 opened #1977 "MovingAverage num_updates support Variable"
**Describe the feature and the current behavior/state.**
According to https://github.com/tensorflow/addons/blob/a0bfe3f35f310bdfee53078bdee15e10af342f53/tensorflow_addons/optimizers/moving_average.py#L84
average_decay is a tensor.
If I move it to ```_get_decay```, it could be calculated dynamically with num_updates variable, which aligns with tf1.x ema.

**Relevant information**
- Are you willing

[2020-07-08 06:24] facaiy commented on #1960
+1, it would be better if we create a new subclass for it, eg: [Dropout](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dropout?hl=en)

[2020-07-08 08:08] facaiy commented on #1977
Could you explain the cons and pros for the change?

[2020-07-08 08:20] fsx950223 commented on #1977
SGD with step decay
[code]

[2020-07-08 08:30] AakashKumarNain commented on #1960
Same thought. It would be much better if this is implemented as a layer.

[2020-07-08 10:14] crystina-z commented on #1960
Hey thanks for the suggestions, I'm working on the [layer version](https://github.com/crystina-z/addons/blob/feature/mixout_layer/tensorflow_addons/layers/mixout.py) but then realize it's actually hard since `Mixout` requires to manipulate the weight in the "previous" layers ([these lines](https://github.com/bloodwass/mixout/blob/master/module.py#L44-L46) may make it clearer). I'm thinking if ther

[2020-07-08 16:02] harshithere opened #1979 "Tutorial for Hamming loss"
I recently used Hamming loss from tfa for my thesis project. If it sounds useful, I'd like to add a tutorial on how to use the metric and probably other metrics in general. It took me some time to get around it so maybe this could save some time for others. Do let me know if this sounds like a worthwhile addition

- Are you willing to contribute it: Yes
- Are you willing to maintain it going forwa

[2020-07-08 16:09] bhack commented on #1979
You are welcome. Take an overview on https://github.com/tensorflow/addons/tree/master/docs/tutorials

[2020-07-08 16:09] AakashKumarNain commented on #1979
Hi @harshithere , sounds good to me. To start with, please check out the `contributing` guidelines [here](https://github.com/tensorflow/addons#contributing). We add tutorials in the form of `notebooks`. Check out these [guidelines](https://github.com/tensorflow/addons/blob/master/docs/tutorials/README.md) for the same.

[2020-07-08 16:13] #1908 closed

[2020-07-08 16:40] WindQAQ commented on #1960
Haven't taken a deeper look into the implementation, but we can subclass `tf.keras.layers.Wrapper` to access the weight of wrapped layer.

https://www.tensorflow.org/api_docs/python/tf/keras/layers/Wrapper

[2020-07-08 17:07] bhack commented on #1968
The first issue is that we are forcing `float32` at https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/attention_wrapper.py#L559-L560.

Then we have a similar issue at https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/sampler.py#L394-L400

[2020-07-08 17:48] guillaumekln commented on #1968
Yes, we should fix this. The seq2seq layers were designed before the new dtype policy.

While working on a fix, I find it a bit unexpected that `tf.keras.layers.Embedding` does not return `float16` here.

[2020-07-08 20:50] karanbirchahal-bc commented on #241
I get it too, I am using tf version 1.14.1. Is there any workaround for this ?

[2020-07-08 23:13] georgesterpu commented on #241
@karanbirchahal-bc I think that you do not need `tensorflow_addons` in Tensorflow 1.14. This repo started as a port of several `tf.contrib` modules due to maintainability issues, see [here](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md).
Not sure about `tensorflow_addons==0.1`, but everything starting from `0.2` was built to work with Tensorflow 2.

Do you req

[2020-07-08 23:31] karanbirchahal-bc commented on #241
Ah yes thank you ! I was able to fix this by downgrading onnx_tf to to a tf 1.x compatible branch. I have more more question before I close this issue. Does conversion with onnx between pytorch and tensrflow models guarantee the same exact output numerically between both models ?

[2020-07-09 04:10] WindQAQ commented on #844
One can also follow this https://github.com/tensorflow/addons/pull/1974 to make `AdamW` support scheduler. Feel free to open an PR and request my review if anyone is interested in it. Thanks.

[2020-07-09 07:49] harshithere commented on #1979
Perfect!!
I had a look at the tutorials earlier. I'll get started soon and let you know if I need any help. Thanks @bhack and @AakashKumarNain

[2020-07-09 18:16] MI-LA01 opened #1982 "Jetson AGX/TX2/Nano - Build release from pip3 install"
**Describe the feature and the current behavior/state.**
Doing a `pip3 install tensorflow-addons` from an Nvidia TX2 produce `No matching distribution found for tensorflow-addons.` My current TensorFlow is 2.1.0 from Jetpack 4.3.

[2020-07-09 18:59] bnriiitb opened #1983 "F1 Score (macro) is Zero for all the epochs"
**System information**
- OS Platform and Distribution : **Mac OS**
- TensorFlow version and how it was installed (source or binary): **2.2.0 and binary**
- TensorFlow-Addons version and how it was installed (source or binary): **0.11.0-dev and binary**
- Python version: **3.6**
- Is GPU used? (yes/no): **no**

**Describe the bug**

I am building a model to perform multi class classification. The n

[2020-07-09 19:39] bhack commented on #1982
The main issue Is that we need https://github.com/tensorflow/build/issues/9

[2020-07-10 03:20] crystina-z commented on #1960
awesome will look into that! Great thanks!

[2020-07-10 03:25] WindQAQ commented on #1983
Hi @bnriiitb, please include minimal runnable code snippet so that we could diagonal where the problem is. Thank you.

[2020-07-10 06:54] fsx950223 commented on #1977
My mistake, I could use dynamic decay.

[2020-07-10 06:54] #1977 closed

[2020-07-10 12:43] MathisFederico opened #1984 "tfa.image.rotate and tfa.image.transform crashes colaboratory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colaboratory so i don't really know
- TensorFlow version and how it was installed (source or binary): Colaboratory so i don't really know
- TensorFlow-Addons version and how it was installed (source or binary): Colaboratory so i don't really know
- Python version: Colaboratory so i don't really know
- Is GPU used? (y

[2020-07-10 12:51] bhack commented on #1984
It is https://github.com/googlecolab/colabtools/issues/1243

[2020-07-10 13:28] MathisFederico commented on #1984
Nice to know ! Thank you ! So downgrading to TF2.1 would work ?

[2020-07-10 13:54] bhack commented on #1984
You can add `!pip install tensorflow-addons == 0.10.0` line before imports.

[2020-07-10 13:55] bhack commented on #1984
Oh and of course upvote https://github.com/googlecolab/colabtools/issues/1243 :wink:

[2020-07-10 14:09] seanpmorgan commented on #1984
Yeah would recommend this instead of downgrading TF. Sorry for the confusion we're working on getting these updated.

[2020-07-10 14:09] #1984 closed

[2020-07-11 05:25] #1968 closed

[2020-07-11 14:44] alecda573 opened #1987 "Import error not compatible with tensorflow v 2.0"
**System information**
- Windows 10
- Tf v 2.0 downloaded with conda
- Trying to use pip install tensorflow_addons
- python 3.7
- GPU support:

Trying to download tensorflow_addons with
pip install tensorflow_addons
which works but when I try to import tensorflow_addons

import tensorflow as tf
import tensorflow_addons as tfa

I get the following error:
UserWarning: Tensorflow Addons supports usin

[2020-07-11 14:58] bhack commented on #1987
Ceck python and c++ compatibility matrix at https://github.com/tensorflow/addons#python-op-compatility

[2020-07-11 15:04] alecda573 commented on #1987
@bhack v 2.0 is compatible so I do not see the issue.

[2020-07-11 15:25] bhack commented on #1987
You wrote:

From the compatibility matrix that you want with the old Tensorflow 2.0.0 I see:
`pip install tensorflow_addons == 0.6.0`

[2020-07-11 15:28] alecda573 commented on #1987
@bhack yea I had tried that but I just get this error in my command prompt
pip install tensorflow_addons == 0.6.0
ERROR: Invalid requirement: '=='

[2020-07-11 15:34] bhack commented on #1987
`pip install tensorflow_addons==0.6.0`

[2020-07-11 15:36] alecda573 commented on #1987
ERROR: Could not find a version that satisfies the requirement tensorflow_addons==0.6.0 (from versions: 0.7.0, 0.7.1, 0.8.1, 0.8.2, 0.8.3, 0.9.0, 0.9.1, 0.10.0)
ERROR: No matching distribution found for tensorflow_addons==0.6.0

[2020-07-11 15:38] bhack commented on #1987
Can you past:
`pip --version`

[2020-07-11 15:39] alecda573 commented on #1987
pip 20.0.2 from C:\Users\alecd\Anaconda3\envs\tensorflow\lib\site-packages\pip (python 3.7)

[2020-07-11 15:39] bhack commented on #1987
Ok it is good: `pip install tensorflow-addons==0.6.0`

[2020-07-11 15:40] alecda573 commented on #1987
Yep still getting the same error about no matching distribution:

ERROR: Could not find a version that satisfies the requirement tensorflow-addons==0.6.0 (from versions: 0.7.0, 0.7.1, 0.8.1, 0.8.2, 0.8.3, 0.9.0, 0.9.1, 0.10.0)
ERROR: No matching distribution found for tensorflow-addons==0.6.0

[2020-07-11 15:46] bhack commented on #1987
The package is available as you can see in https://pypi.org/project/tensorflow-addons/0.6.0/#files.
Probably it is your conda setup cause we don't support conda currently as you can see from https://github.com/tensorflow/addons/issues/201.

[2020-07-11 15:48] alecda573 commented on #1987
Ok thanks. I will set up no environment using pip and hopefully that will  work. Thanks for your help!

[2020-07-11 15:50] bhack commented on #1987
Let us know if it works in the env pip so that we can close this.
You could also subscribe to the conda ticket but I don't expect too much updates soon on that thread.

[2020-07-12 09:33] #591 closed

[2020-07-12 09:52] mayou36 commented on #201
Hi all, what's the status of this?

[2020-07-12 16:07] WindQAQ commented on #1825
Reopen this as the `data_format` will be dropped in Addons 0.12.

[2020-07-12 20:37] MI-LA01 commented on #1982
I tried to build from src the `r0.8.3` ; However, I'm not able to build w/ bazel. Pb from the build to find cuda libs ; then pb w/ `crosstool:toolchain' does not contain a toolchain for cpu 'aarch64` My question ; How you guys compile `tfa` on tx2 with jetpack 4.3 (TF-2.1 / Cuda 10.0 / Cudnn 7) ?

[2020-07-12 20:53] bhack commented on #1982
Currently we don't release/build `tfa` on arm64.
As I told you we need to have Tensorflow build infra on that arch available. Check again https://github.com/tensorflow/build/issues/9.

[2020-07-13 06:05] WindQAQ commented on #1933
I'm going to close this as it is a question about tuning parameter rather than bug/performance. Thank you.

[2020-07-13 06:05] #1933 closed

[2020-07-13 11:22] MI-LA01 commented on #1982
Thanks @bhack :
I read twice your message and [tensorflow/build#9](https://github.com/tensorflow/build/issues/9) with limited knowledge on this field thus ; limited understanding on my side. I'm just surprised to see that I can compile for the CPU ; but not able to make it work for the  GPU. I understand you are not providing release nor build ;

Can you confirm w/o [tensorflow/build#9](https://gi

[2020-07-13 11:58] bhack commented on #1982
What I mean is that as in `tfa` we have custom-ops we need [custom-ops infra](https://github.com/tensorflow/custom-op) for arm64.
Nvidia packages like the one you are using from https://developer.download.nvidia.com/compute/redist/jp/v44/tensorflow/ are supported by Nvidia and not officially supported by Tensorflow/SIGs.

So if you want to go ahead with Nvidia packages I suggest you to post in htt

[2020-07-13 12:08] MI-LA01 commented on #1982
Ok make total sense.
I finally make it works on the GPU by editing the `external/local_config_cuda/crosstool/BUILD` file and  defining `"aarch64": ":cc-compiler-local"` under `cc_toolchain_suite > toolchains {` I've tested and everything is ok.

[2020-07-13 12:08] #1982 closed

[2020-07-13 12:20] bhack commented on #1982
@MI-LA01 If you have solved on your local setup you can talk with @bzhaoopenstack to see if you could add a `zuul job` for `tfa` at https://github.com/theopenlab/openlab-zuul-jobs other then Tensorflow.

[2020-07-13 12:55] MI-LA01 commented on #1982
Sure, pls note my version of Jetpack was 4.3 so Ii was only able to compile the tag <= `v0.9.1`

[2020-07-13 14:24] MichaelJanz opened #1995 "Making Encoder-Decoder work with Attention -> OperatorNotAllowedInGraphError"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10
- TensorFlow version and how it was installed (source or binary): 2.2 binary (both nightly and stable tested)
- TensorFlow-Addons version and how it was installed (source or binary): pip, binary
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

Hi, I have the following network architectu

[2020-07-13 14:33] bhack commented on #1995
/cc @guillaumekln

[2020-07-13 14:47] guillaumekln commented on #1995
See #1898. There are compatibility issues when using the Keras functional API and `tfa.seq2seq` in eager mode. Disabling eager mode is a possible workaround:

[code]

Let me close this issue as a duplicate.

Unforunatly, the documentation did not state how to do that. So I searched this repo for solutions and came to these line:

You should not need to do that. The state returned by the decoder al

[2020-07-13 14:47] #1995 closed

[2020-07-13 16:18] MichaelJanz commented on #1995
@guillaumekln
Thanks for your fast reply!

I followed the advices on the [docs](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/seq2seq), which state that the encoder_state is defined as:

[code]

and used as:

[code]

Can you give me more details, what I can do there?

Also I changed
[code]
to
[code]

Which gives me the error: `AttributeError: 'NoneType' object has no attribute

[2020-07-13 16:34] guillaumekln commented on #1995
The README is actually wrong. We will fix that.

Can you try passing `initial_state` instead of `attention_init_state`?

[2020-07-13 19:14] MichaelJanz commented on #1995
I tried, but I ran into another shape error.
I think I will wait until the README is updated, my skills are not sufficient enough to dive that deep into the topic. Is there already an issue for updating the README? Else I can create it

[2020-07-13 21:27] ben-arnao opened #1996 "Make lookahead, weight decay, and stochastic weight averaging incompatible."
I was playing around with different architectures and training techniques and i noticed some odd behavior.

It seems like when we create a SGDW optimizer, and then try to wrap it with either lookahead or SWA, no error is thrown, the weigh_decay is simply truncated from the optimizer.

If you try to wrap a SWA optimizer with lookahead or visa versa, you'll get an explicit error.

In retrospect it m

[2020-07-14 04:23] WindQAQ commented on #1996
Hi @ben-arnao, it's more than welcome to open an PR for better documentation and error handling! Also, can you provide the minimal runnable code snippet to reproduce what you say? Thank you for the input.

[2020-07-14 12:50] seanpmorgan opened #1997 "Align Typing with Exported TF Types"
As these become more available we should use the publically exported TF types:
https://github.com/tensorflow/community/blob/master/rfcs/20200211-tf-types.md
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/types/core.py

This is more for standardization than anything so I have no issue waiting until these are mature and we can work through any discrepancies we may have in our

[2020-07-14 12:53] seanpmorgan opened #1998 "Split RNN Cell Module"
Our RNN Cell module contains several different implementations and it makes it difficult for us to correctly assign owners to each cell:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/rnn/cell.py
https://github.com/tensorflow/addons/blob/master/.github/CODEOWNERS#L166-L167

We should instead split them into their own modules along with their test cases.

[2020-07-14 12:57] seanpmorgan commented on #201
This is quite a bit more difficult than we originally suspected. A more complete investigation can be found for SIG IO who has the same goal:
https://github.com/tensorflow/io/issues/676

A more immediate fix would be the completion of https://github.com/tensorflow/community/pull/133 so that you can have a conda installed TF and a pip install TFA.

[2020-07-14 13:00] seanpmorgan commented on #1987
It looks as though TFA 0.6 was not published for Windows which is why you're not finding a pip package.

I do want to clarify that users can `pip install tensorflow-addons` inside of a conda environment, however the tensorflow installed in that environment must have also been installed through pip.

Sorry there is nothing we can do to support Windows on v0.6. My advice would be to upgrade to at le

[2020-07-14 13:00] #1987 closed

[2020-07-14 14:05] bhack commented on #1987
Good. I didn't know that we had no Win support in the old days :smile:

[2020-07-14 14:42] mayou36 commented on #201
Okey I see, many thanks. The problem is rather that we're having a downstream package [zfit](https://github.com/zfit/zfit) which we also like to publish on conda-forge (or rather, which we do, but adding TFA as a dependency breaks this)

[2020-07-14 15:13] ben-arnao commented on #1996
@WindQAQ I think this should work.

[code]

[2020-07-15 02:12] WindQAQ commented on #1996
Sorry that I rushed to review this yesterday. What do you mean that the `weigh_decay` is simply truncated from the optimizer?

[2020-07-15 02:34] ben-arnao commented on #1996
Lookahead (and SWA) will silently remove the attribute `weight_decay` from the optimizer as snippet above shows. This makes sense i guess, because they all operate on weights and we can't do weight decay while also doing lookahead/SWA.

The issue i had was that there is no sort of warning or error thrown if you try to wrap an optimizer that has weight decay (SGDW for example), with lookahead/SWA.

[2020-07-15 02:47] WindQAQ commented on #1996
Ohoh, sorry for misunderstand your meaning. For the optimizer wrapper like lookahead, it is not truncated, you can still access it like
[code]
https://colab.research.google.com/drive/1b-8JSEMx0Ruqfue9L092sCQxq7-KJaZW?usp=sharing

[2020-07-15 04:52] jaeyoo opened #2003 "Add Colab about how to convert TFLite compatible seq2seq model"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): no
- Is there already an implementation in another framework? (if so, where): don't know
- Was it part of tf.contrib? (if so, where): no

**Which API ty

[2020-07-15 09:13] bhack commented on #1775
More generally about custom ops take a look at https://github.com/tensorflow/community/pull/266#issuecomment-658556596

[2020-07-15 17:16] AakashKumarNain opened #2004 "Focal loss migration"
@tanzhenyu moving the discussion regarding focal loss from #914  to here. Here is a working colab for the cases you asked.

https://colab.research.google.com/drive/1JIaUVOHC0rTsBWKK-oTBv5qZJ5zLJzTQ?usp=sharing

[2020-07-16 00:43] seanpmorgan opened #2005 "Deprecate GELU"
Per https://github.com/tensorflow/community/pull/252, oonce  https://github.com/tensorflow/tensorflow/pull/41178 merges we'll need to deprecate our GELU for versions of TensorFlow that include it within core.

[2020-07-16 01:16] seanpmorgan commented on #1064
Closing as the python implementation is the only available mish activation for the time being. An RFC is incoming to propose custom-ops alongside composite ops

[2020-07-16 01:16] #1064 closed

[2020-07-16 01:17] seanpmorgan commented on #1949
Hi,

Closing as this is a duplicate of https://github.com/tensorflow/addons/issues/844

[2020-07-16 01:17] #1949 closed

[2020-07-16 01:19] seanpmorgan commented on #1089
Closing as this is duplicated in https://github.com/tensorflow/addons/issues/1089 which had a bit more info

[2020-07-16 01:19] #1089 closed

[2020-07-16 01:49] ConnorBarnhill opened #2006 "Keras model save using WeightedKappaLoss errors, not json serializable"
**Describe the bug**

Keras model compiled with WeightedKappaLoss errors when saving, "TypeError: ('Not JSON Serializable:', tf.float32)"

**Code to reproduce the issue**

[code]

[2020-07-16 02:26] seanpmorgan commented on #1873
Closing due to lack of information. Please let us know if you have a reproducible code sample and we'll look into it.

[2020-07-16 02:26] #1873 closed

[2020-07-16 03:21] seanpmorgan commented on #550
Closing as this will be finished up in #2005

[2020-07-16 03:21] #550 closed

[2020-07-16 06:03] WindQAQ commented on #2006
Thanks for reporting this! It's because `tf.dtypes.DType` cannot be serializable. IMO, we should not set this as attribute. I'll submit a PR for this. Thank you again for the input.

[2020-07-16 15:01] dathudeptrai commented on #2003
this is really helpful, i'm working on Seq2Seq based-on tf-addon and i want tf_addons has official tutorial about convert TFLite for seq2seq module. Pls take a look @guillaumekln @seanpmorgan

[2020-07-17 13:37] bhack commented on #430
Is this still "in progress"? Need we an RFC in the community repo?

[2020-07-17 15:22] PhilipMay commented on #430
I think there is no progress.

[2020-07-17 17:14] #1724 closed

[2020-07-17 17:24] AakashKumarNain commented on #430
@bhack @PhilipMay We will revisit every metric and make sure that it covers all the basic use cases listed [here](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/metrics/README.md).

[2020-07-19 05:25] ElliotVilhelm commented on #1554
This seems to still be an issue when loading with the keras API, `tf.keras.models.load_model`. I worked around this error by saving only the weights of the model.

[2020-07-19 15:08] #2006 closed

[2020-07-19 16:35] Santosh-Gupta opened #2017 "ModuleNotFoundError: No module named 'tensorflow_addons' after pip install in GCP VM"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google cloud VM, n1-standard-2

- TensorFlow version and how it was installed (source or binary): Tensorflow 2.2, on startup when creating a VM with `ctpu up --zone=europe-west4-a  --tf-version=2.2 --name=tpu-quickstart --tpu-size=v3-8 --machine-type=n1-standard-2 disk-size-gb=15`

- TensorFlow-Addons version and how

[2020-07-19 17:36] bhack commented on #2017
Can you try with pip3?

[2020-07-20 00:08] Santosh-Gupta commented on #2017
This and a combination of using `python3` solved the original issue. I wasn't aware of environments with multiple python versions (I'm mostly a colab user).

[2020-07-20 00:08] #2017 closed

[2020-07-20 01:33] johnbensnyder opened #2018 "Add decay_var_list as init option to DecoupledWeightDecayExtension"
**Describe the feature and the current behavior/state.**

Currently, the decay_var_list can be passed to an optimizer built with DecoupledWeightDecayExtension. However, this option disappears when the optimizer is passed to tf.keras.mixed_precision.experimental.LossScaleOptimizer. This prevents the optimizer from applying weight decay to only a subset of variables.

Instead, could there be an opti

[2020-07-20 01:48] marload opened #2019 "Add GeometricMean"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no): YES
- Are you willing to maintain it going forward? (yes/no): YES
- Is there a relevant academic paper? (if so, where): NO
- Is there already an implementation in another framework? (if so, where): Pytorch Ignite Metrics
- Was it part of tf.contrib? (if so, where): NO

**

[2020-07-20 04:26] ConnorBarnhill commented on #2006
@WindQAQ Thanks for fixing this! What is the release cycle like for this repo? I can use from master from now but would be useful to know when the next release would likely get tagged

[2020-07-20 04:57] marload commented on #2005
May I do this?

[2020-07-20 05:55] WindQAQ commented on #2006
Hi @ConnorBarnhill, we might pin tensorflow-addons 0.11 to tensorFlow 2.3. If you want to try the new stuff on master branch, you can use our daily build via `pip install tfa-nightly`. Thank you again for reporting the issue. We really appreciate it!

[2020-07-20 05:59] WindQAQ commented on #2018
LGTM. Feel free to open an issue and request my review! Thank you.

[2020-07-20 07:46] marload commented on #265
May I implement Positive Likelihood and Negative Likelihood?

[2020-07-20 10:07] dhakrasp commented on #817
Can anyone guide me as to how I could go about modifying the current implementation of CRF loss so as to include class weights?

[2020-07-20 15:24] seanpmorgan commented on #2005
Sure! Still need GELU to merge into core and determine which version of TF it will be included in.

[2020-07-20 16:05] bhack commented on #817
/cc @jaspersjsun

[2020-07-20 18:08] seanpmorgan commented on #2019
Hi @marload! This seems like a good addition and should be easy to support. Please submit a PR when you have time.

[2020-07-20 18:30] seanpmorgan commented on #265
Sure!

[2020-07-20 21:35] willbattel commented on #1064
Hey @seanpmorgan can you link that RFC when it's available?

Also, just for absolute clarity: what you're saying is that Mish is not yet available for usage with Keras. Is that correct?

Thanks.

[2020-07-20 23:45] WindQAQ commented on #1064
Hi @willbattel, no, it is still available but the implementation is going to be pure python ops (probably in Addons 0.12).

[2020-07-21 01:14] marload commented on #2019
Thank You!

[2020-07-21 12:20] jaspersjsun commented on #817
@bhack Thanks for cc me. I'm not sure whether it is necessary to add it to the official losses. Do we have further papers, materials or discussions to make this more convincing?

Since only changing the emission scores (`tfa.text.crf.crf_unary_score`) could be problematic, [Gael de Lannoy et al.](https://perso.uclouvain.be/michel.verleysen/papers/ieeetbe12gdl.pdf) proposed an implementation for we

[2020-07-21 12:49] bhack commented on #1894
@mihaimaruseac Do you think that we could track this issue in the build SIG repo?

[2020-07-21 14:43] ramsane opened #2028 "metrics causes error while restoring model from checkpoints which are saved using keras callbacks."
**System information**
- Linux ( Google colab)
- TensorFlow version 2.2.0
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version:
- Is GPU used? yes

**Describe the bug**

I have used callbacks for model checkpointing, And for the metrics, I have used f1-score from tfaddons. It is giving error while loading the checkpoints

[code]

**Code to reproduce the issue**

[2020-07-21 14:52] bhack commented on #2028
Could you share a very dummy but complete example to reproduce this? It is easier for us to quickly copy, run and debug with less overheads.

Thanks

[2020-07-21 16:22] mihaimaruseac commented on #1894
Yes, let's do that there. Can you open an issue for me please?

I got preempted from working on this, apologies for the delay

[2020-07-21 16:28] bhack commented on #1894
Sorry I have no superpower to migrate this issue.

[2020-07-21 16:30] mihaimaruseac commented on #1894
Oh, I meant creating a new one and then we can either close this or just mention this in the other

[2020-07-21 20:25] MHStadler commented on #844
@hugoych While, your selected solution works for the schedule, it doesn't allow the optimizier to be serialized anymore, due to this line:

https://github.com/tensorflow/addons/blob/5f618fdb92d9737da059de2a33fa606e97505398/tensorflow_addons/optimizers/weight_decay_optimizers.py#L95

With your solution, the parameter is a callable, but it returns a tensor - following the function self. _serialize_h

[2020-07-22 03:37] mathemakitten commented on #522
Hi! Checking in as to whether anyone has updates on getting Adafactor into a TF release (or in add-ons). I've been using a version adapted from the original Tensor2Tensor repo but it's a bit quirky and doesn't play well with tf.keras LR schedules (I know Adafactor has an internal adaptive LR and the paper says you shouldn't need an external LR schedule, but empirical evidence seems to suggest it w

[2020-07-22 08:06] xuxingya opened #2030 "float16 support for text/crf"
text/crf.py doesn't support float16 training or TF Lite converter.
According to the error information, the type of  masks In line 256 and line 294 is tf.float32:
[code]
which raises error when doling multiply op, like in line 259:
```unary_scores = tf.reduce_sum(unary_scores * masks, 1)```

**Which API type would this fall under (layer, metric, optimizer, etc.)**
text
![image](https://user-images.

[2020-07-22 10:51] #1815 closed

[2020-07-22 11:17] bhack commented on #2030
Can you share a very minimal but runnable dummy example to reproduce this?

[2020-07-22 11:26] bhack commented on #258
Is this still valid?

[2020-07-22 15:53] MHStadler opened #2032 "Feature Request : Stochastic Depth/ResDrop"
**Describe the feature and the current behavior/state.**
Stochastic depth is a regularization technique to train very deep residual networks (the authors for example train ResNets of up to 1202 layers). Particularly, it allows training of, on average, more shallow networks, that retain their full depth at inference time.

Previous attempts (https://github.com/tensorflow/addons/issues/626) seem to

[2020-07-22 16:42] #844 closed

[2020-07-22 16:42] #865 closed

[2020-07-22 18:40] bhack commented on #1997
See also https://github.com/tensorflow/community/pull/269

[2020-07-22 22:56] bhack commented on #1911
/cc @cyberzhg

[2020-07-22 23:26] WindQAQ commented on #2032
Sounds good to me. Feel free to open an PR and request my review 😄 Also, welcome to ping me if you have any problem about testing suite and styles. Thank you.

[2020-07-23 10:59] ramsane commented on #2028
Sorry for the delay. I've taken a sample notebook from the TensorFlow documentation and modified few things.

https://colab.research.google.com/drive/1A86gxNw-GibMj5Ochi-imZG1ZCRdVkL-?usp=sharing

With this, you should be able to reproduce the error.

[2020-07-23 20:04] bhack commented on #2028
Have you tried with:

`model = tf.keras.models.load_model(latest_checkpoint, custom_objects={'F1Score': macro_f1_score})`

[2020-07-23 21:36] MHStadler commented on #2032
@WindQAQ I have two implementations that work - one is a wrapper, that wraps the addition layer, before the residual branch is merged with the main network

The other is simply a layer that either replaces the Addition itself, or alternatively could just be placed last in the residual branch, scaling the branch before the normal add

They seem to be equally as performant, and both have the same re

[2020-07-23 22:34] #2019 closed

[2020-07-23 23:32] bhack commented on #281
We have contrast and autocontrast in https://github.com/tanzhenyu/image_augmentation /cc @tanzhenyu

[2020-07-23 23:32] #281 closed

[2020-07-24 01:39] marload opened #2035 "Add `tfa.metrics.HarmonicMean`"
**Describe the feature and the current behavior/state.**
Computes HarmonicMean

**Relevant information**
- Are you willing to contribute it (yes/no): YES
- Are you willing to maintain it going forward? (yes/no): YES
- Is there a relevant academic paper? (if so, where): NO
- Is there already an implementation in another framework? (if so, where): python stdlib statistics
- Was it part of tf.contrib

[2020-07-24 05:33] raqueldias commented on #746
Thanks for the suggestion! But that workaround wouldn't work for macro or weighted F1-scores, isn't it?

[2020-07-24 07:48] xuxingya commented on #2030
I have implemented the example below. The "tf2crf" is a small package that I wrote for using CRF layer with tf 2.0 keras. It just called tfa.text.crf_decode and tfa.text.crf_log_likelihood for computing crf scores and loss.
[code]
When run the code, I got this error:
[code]
The error raised when called tfa.text.crf_decode in the CRF layer

[2020-07-24 08:35] ramsane commented on #2028
It worked. Thanks.

I have tried with  custom_objects={'macro_f1_score'': macro_f1_score} and  custom_objects={'f1_score': macro_f1_score}.

When I searched for it, They mentioned that we have to provide the function name. But here are initializing F1Score and and calling on top of it.

Is there any documentation on what name to use in custom_objects OR would you let us know so that it will be hel

[2020-07-24 09:50] bhack commented on #2028
https://www.tensorflow.org/api_docs/python/tf/keras/models/load_model

It already tell you to use class or function string name. In this case Is a class

[2020-07-24 10:44] bhack commented on #2028
Please open a Documentation issue or a Documentation PR directly if you think that It could be improved.

[2020-07-24 10:44] #2028 closed

[2020-07-24 13:23] grofte opened #2037 "Guide for Model Averaging is incorrect for Stocastic Weight Averaging"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Colaboratory**
- TensorFlow version and how it was installed (source or binary): **2.2.0** I think you use binaries?
- TensorFlow-Addons version and how it was installed (source or binary): **0.8.3** I think you use binaries?
- Python version: **3.6.9 (default, Apr 18 2020, 01:56:04) [GCC 8.4.0]**
- Is GPU used? (y

[2020-07-24 13:32] bhack commented on #2037
/cc @shreyashpatodia

[2020-07-24 14:41] bhack commented on #2030
/cc @Squadrick

[2020-07-24 17:33] WindQAQ commented on #2032
Nice survey! Vote for `Layer` subclass.

[2020-07-25 01:45] rogercw opened #2038 "Training error with model included dense_image_warp"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.3
- TensorFlow version and how it was installed (source or binary): 2.0.0 / 2.2.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0 / 0.10.0, pip
- Python version: 3.6.9
- Is GPU used? (yes/no): yes

**Describe the bug**

When the flow input to the `dense_image_warp` is

[2020-07-25 04:16] WindQAQ commented on #2038
Hi @rogercw, thanks for reporting. Could you share the runnable minimal code snippet?  The code you provided seems incomplete.

Anyway, I think it is differentiable.
https://colab.research.google.com/drive/11xtneQH4DVK0ZwCIGmErRSYviyFpXybL?usp=sharing

[2020-07-25 13:27] MHStadler commented on #1903
I think this should be quite easy to implement. follwing the example in LAMB

However, looking at the current DecoupledWeightDecayExtension I'm confused by the additional optional parameter in optimize, that seems to serve exactly this purpose:

`def minimize(self, loss, var_list, grad_loss=None, name=None, decay_var_list=None)`

Looking at the base minimize, I'm struggling to see how decay_var_li

[2020-07-26 08:56] pas opened #2041 "AttentionWrapper throws TypeError when passing multiple attention mechanisms"
**System information**
OS Platform and Distribution: **Ubuntu 18.04**
TensorFlow version and how it was installed: **TF 2.1.0 (binary)** / **TF 2.2.0 (binary)**
TensorFlow-Addons version and how it was installed (source or binary): **0.9.1 (binary)**, **0.10.0 (binary)**
Python version: **3.6.9**
Is GPU used? (yes/no): **no**

**Bug description**
AttentionWrapper constructor throws a TypeError whe

[2020-07-26 09:58] bhack commented on #2041
Please use an updated version of TF addons instead of 0.9.1.
As you can see we support a list:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/attention_wrapper.py#L1594

[2020-07-26 11:05] pas commented on #2041
This seems not to be released on the newest version available for pip https://pypi.org/project/tensorflow-addons/#history even though the r10 branch is holding the change https://github.com/tensorflow/addons/commit/94ea1fe0d86ce115c36b59fe3d541ed76cf755ef#diff-3a8f0828390ee9bafeddb0d3c96257da . Is there a release plan for a version 0.10.1? What's the best way to handle this currently?

[2020-07-26 11:30] bhack commented on #2041
Yes It Is just two months old https://github.com/tensorflow/addons/pull/1872.

/cc @seanpmorgan if he want to make a comment about a new minor release.

[2020-07-26 11:30] #2041 closed

[2020-07-26 11:54] gitlabspy opened #2042 "layers.WeightNormalization does not support custom keras layer?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): 2.3
- TensorFlow-Addons version and how it was installed (source or binary): 0.10
- Python version: 3.7
- Is GPU used? (yes/no): no

**Describe the bug**
[code]
Rescale is a custom keras layer
**Code to reproduce the issue**
[code]

[2020-07-26 14:29] bhack commented on #2042
[code]

[2020-07-26 16:16] JakeTheWise opened #2043 "Builds fail due to tensorflow pip installation issue"
Across multiple PRs, it looks like various builds in the `addons-release` Github Actions workflow fail when trying to `pip install tensorflow==2.2.0`. It seems to happen for MacOS, Ubuntu, and Windows builds. After a cursory investigation, I found this potentially insightful [stack overflow post](https://stackoverflow.com/questions/40183108/python-packages-hash-not-matching-whilst-installing-using

[2020-07-26 22:06] bhack commented on #2043
Probably we need to check again the analsys done at https://github.com/tensorflow/addons/pull/1857 /cc @seanpmorgan

[2020-07-27 01:43] marload opened #2045 "Add "ReLU6, HardSwish, KAF, ELiSH, HardELiSH""
**Describe the feature and the current behavior/state.**

These activation functions are required by communities and are commonly used by up-to-date architectures.

- ReLU6
- HardSwish
- KAF
- ELiSH
- HardELiSH

**Relevant information**
- Are you willing to contribute it (yes/no): YES
- Are you willing to maintain it going forward? (yes/no): YES
- Is there a relevant academic paper? (if so, where)

[2020-07-27 01:46] #2042 closed

[2020-07-27 01:46] gitlabspy commented on #2042
Thx! That works!

[2020-07-27 06:01] AakashKumarNain commented on #2045
`relu6` and `swish` are already  in TF core. I haven't heard any of the others. Can you point out any papers using them?

[2020-07-27 07:27] harshithere commented on #1979
https://github.com/tensorflow/addons/pull/2044
@bhack , @AakashKumarNain  I submitted a pull request for the same. Looking forward to your reviews

[2020-07-27 08:17] marload commented on #2045
As far as I know, HardSwish is not in Core. I think the link I attached will help you explain other Activation Function.

Thank You!

[2020-07-27 09:04] bhack commented on #2045
HardSwish Is in Tensorflow lite

[2020-07-27 12:44] AakashKumarNain commented on #2045
Thanks for the info. IMO, it is okay to add new activation functions but we also need to check the coverage, like how many times the paper for a corresponding activation has been cited. If the coverage for a any functionality is very low, it doesn't add much value to the ecosystem but rather increase the burden of maintenance.

Anyways, that's just my opinion. Let's hear what other maintainers hav

[2020-07-27 12:48] bhack commented on #2045
@AakashKumarNain we was thinking something similar in https://github.com/tensorflow/community/pull/241/files#diff-24cf1a9d17b0988437751c2472f2c296R13 but it is still not expanded.
Probably we could expand on that and just lower the barrier for TFA.

[2020-07-27 12:55] AakashKumarNain commented on #2045
@bhack I agree that the barrier for TFA should be low as compared to core TF. But we need to decide that factor IMO to make it more clear for the contributors

[2020-07-27 12:58] bhack commented on #2045
Yes what I meant is that if we could clear up this in the upstreaming process it could be easier to define for TFA (or the other way around).

[2020-07-27 16:16] seanpmorgan commented on #2043
Thanks for bringing this up @JakeTheWise! It appears to have been an intermittent network issue of downloading incomplete whl files so the hash didn't match. All PRs are now passing builds so I'll close for now but if this happens again we'll need to contact GitHub support.

[2020-07-27 16:16] #2043 closed

[2020-07-27 18:17] WindQAQ commented on #2030
I think we can change these two dtypes from `tf.float32` to `unary_scores.dtype` and `binary_scores.dtype` respectively.
@xuxingya Can you try it or even issue an PR for it? Thanks!

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/text/crf.py#L256
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/text/crf.py#L294

[2020-07-27 18:28] bhack commented on #2030
@WindQAQ no we need something else.

[2020-07-27 20:21] swghosh opened #2049 "SGDW with weight decay schedule fails to run on GPU"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Deep Learning Linux VM (Debian Stretch) GCE Image`
- TensorFlow version and how it was installed (source or binary): `Binary TF_v2.3.0rc2`
- TensorFlow-Addons version and how it was installed (source or binary): `Binary tfa-nightly_v0.11.0.dev20200723223438`
- Python version: `3.7.6`
- Is GPU used? (yes/no): `yes`

[2020-07-27 21:24] bhack commented on #2049
/cc @MHStadler

[2020-07-27 22:29] zara44 commented on #2030
I am facing the same issue. Are there any plans to fixing this. I'm happy to help out!

[2020-07-27 22:44] WindQAQ commented on #2030
I'll investigate it later, could you provide runnable minimal code snippet to reproduce the issue? seems that the code above requires some customized model. Thanks.

[2020-07-27 23:01] zara44 commented on #2030
Here's an example code that uses the recently added CRF layer as well as the error produced.

[code]

Error:
[code]

[2020-07-27 23:57] WindQAQ commented on #2030
I'm not so familiar with CRF, but can it really be used to compute cross entropy with targets? Seems that it's output is sparse integer.

[2020-07-28 04:57] #1998 closed

[2020-07-28 08:53] MHStadler commented on #2049
@tanzhenyu @swghosh This does not seem to be an issue related to this recent fix - it is related to DecoupledWeightDecayExtension and PiecewiseConstantDecay
Other schedules work fine, but with PiecewiseConstantDecay it also fails if wd is kept constant, while lr is scheduled via PiecewiseConstantDecay. AdamW behaves equally, while normal tf.SGD works fine with this schedule.

See this colab: https

[2020-07-28 09:57] MHStadler commented on #2049
Okay, I managed to get a fix, looking at SGD (see FixedSGWD in the linked gist above)

The problem is that _resource_apply_dense and _resource_apply_sparse were missing the apply_state parameter - I will prepare a PR

I'm not yet sure why this only occurs for PiecewiseConstantDecay, I suspect it is related to how tf.case is executed on the GPU

[2020-07-28 10:39] pinedbean opened #2052 "Any example to use CRF on custom training"
I'm googling a lot of example of BiLSTM-CRF

but can't find an example one to do BiLSTM-CRF on tensorflow 2.2+

I also try to import
from tensorflow_addons.layers import CRF

but it can't find CRF

[2020-07-28 10:45] bhack commented on #2052
Have you looked at https://stackoverflow.com/questions/59019290/how-to-add-crf-layer-in-a-tensorflow-sequential-model?

[2020-07-28 10:46] bhack commented on #2052
This could be also a duplicate of:
https://github.com/tensorflow/addons/issues/337
https://github.com/tensorflow/addons/issues/1769

[2020-07-28 10:51] bhack commented on #1946
You need to use something like https://www.tensorflow.org/guide/keras/custom_callback#learning_rate_scheduling

[2020-07-28 10:53] pinedbean commented on #2052
Yes, I'm looking on that one already

Here is what I try to implement

CRF
[code]

And  decode as
[code]

But the result seem incorrect (all possibility go from 'O' -> 'O' when decode (try to do NER)

I'm not sure that I implement it correct or not

[2020-07-28 11:11] bhack commented on #2052
There are already two tickets about CRF example/documentation request. Please post there.

[2020-07-28 11:11] #2052 closed

[2020-07-28 16:50] #2049 closed

[2020-07-28 17:24] swghosh commented on #2049
Thanks @MHStadler for addressing the issue and fixing it.
Much help.

[2020-07-28 19:12] Smankusors opened #2054 "About cos sin at tfa.image.transform_ops.angles_to_projective_transforms"
Sorry, it's just my personal opinion, but if you look at this code :
https://github.com/tensorflow/addons/blob/5639b712c81e81ef2ec93d592c0ea704074a3c67/tensorflow_addons/image/transform_ops.py#L213-L268

`tf.math.cos` and `tf.math.sin` is called several times with same argument. Why not.... save this into new variables instead of calling it again and again? Something like this below :

[code]

I t

[2020-07-28 21:29] bhack commented on #2054
You can open a small PR. Thanks

[2020-07-29 08:30] fsx950223 opened #2055 "Code style"
**Describe the feature and the current behavior/state.**
Some ops don't satisfy [Tensorflow Code Style](https://www.tensorflow.org/community/contribute/code_style)
e.g:
```tfa.activation.mish``` breaks ```Each Python operation should have a name_scope. As seen below, pass the name of the op as a string.``` rule.
**Relevant information**
- Are you willing to contribute it (yes/no):yes
- Are you wil

[2020-07-29 15:24] ravi0912 commented on #1769
@SeanLee97 Hey, I tried your code and it works fine for me. But after saving the model while loading it again I'm facing the problem.
`tf.keras.models.load_model("tf_ner_model/tf_ner_2020_7_29.h5", custom_objects={"CRF": CRF})`
I'm getting the below error:
`TypeError: __init__() missing 1 required positional argument: 'num_classes'`
Am I loading the model correctly?

[2020-07-29 17:55] #2054 closed

[2020-07-30 01:54] SeanLee97 commented on #1769
@ravi0912
It seems like that the parameter names in `get_config()` is not corresponding to the `__init__()` which leads to failure to initialization. I have uniformed the parameter names. You can try again with the new version [CRF](#issuecomment-631920137)

[2020-07-30 02:26] howl-anderson commented on #1769
@SeanLee97 I and other developers discuss this type of implementation a few months ago. Unfortunately,

You can find the docs I write in the file "design_docs/crf.md" of #377

[2020-07-30 09:08] sedol1339 opened #2057 "tfa.image.rotate does not work on TPU"
**System information**
- OS, Python version: Google colab
- TensorFlow version and how it was installed (source or binary): v2.2.0-0-g2b96f3662b
- TensorFlow-Addons version and how it was installed (source or binary): 0.10.0, installed with pip
- Is GPU used? (yes/no): TPU used

I do the following:
[code]

And get an exception:

[code]

[2020-07-30 09:31] rogercw commented on #2038
Hi @WindQAQ, thanks for your quick response. Please find the example code below.
[code]

[2020-07-30 09:54] sedol1339 commented on #2057
The same error happens with tfa.image.shear_x(). It sometimes happens and sometimes not, I don't get it.

[2020-07-30 09:59] sedol1339 commented on #2057
Seems to be fixed in tfa-nightly with tfa.register_all()

[2020-07-30 09:59] #2057 closed

[2020-07-30 11:51] ravi0912 commented on #1769
@SeanLee97 I tried again and faced the same problem,
Just building the model and loading the weights worked for me.

[2020-07-30 12:50] #2055 closed

[2020-07-30 17:18] PedroCardoso opened #2059 "FScore with best threshold calculation"
**Describe the feature and the current behavior/state.**
A F1Score metric that allowed us to define N threshold splits. We would calculate values to each threshold, and onn result we would return the best F Score.
This could be an update to the existing FBetaScore or a new class. On the existing class, we would have a num_thresholds argument to __init__ . result() would work as now, returning the

[2020-07-30 17:27] bhack commented on #2059
/cc @ssaishruthi @marload

[2020-07-30 17:35] bhack commented on #1912
Have you tried with https://github.com/run-ai/runai/?

[2020-07-31 01:30] WindQAQ commented on #2038
I suspect it's the bug of `tf.keras` (with symbolic tensor). If I use custom model with `tf.GradientTape`, it works well (at least no errors).

https://colab.research.google.com/drive/1oWUZLzt2pTRVV0awUf7WfDnrx1z9GaH8?usp=sharing

[2020-07-31 04:38] marload commented on #2059
This feature seems useful to me. Personally, it seems better to create a new class than to update FBetaScore. :smile:

[2020-08-01 01:16] rogercw commented on #2038
Thanks @WindQAQ for helping debugging the issue. Inspired by your implementation, I notice that the error is gone when I run in eager execution mode. Also, I cannot run your code when the eager execution is disabled as well. Does that just mean `dense_image_warp` does not support non-eager execution? Or, do you still think it is `tf.keras` issue, and I should report it to TensorFlow's repo? Thanks

[2020-08-01 04:01] WindQAQ commented on #2038
I need to further investigate the issue, but any reason that you want to disable eager mode?

[2020-08-01 11:01] khsee opened #2060 "Cannot build tensorflow-addons-0.10.0 with bazel3.4.1"
- OS: Ubuntu 20.04-arm64
- TensorFlow 2.2.0 - installed via wheel
- TensorFlow-Addons version and how it was installed (source or binary): attempting to build from source
- Python version: 3.8.2
- Is GPU used? (yes/no): no

When attempting "python3 ./configure.py", I have got errors for lines 131, 93 & 64. The error for line 64 (return tf.sysconfig.get_link_flags()[0][2:] "IndexError: list indexou

[2020-08-01 11:17] bhack commented on #2060
Check https://github.com/tensorflow/addons/issues/1982#issuecomment-657273649

[2020-08-01 16:35] sandorvasas commented on #1227
Isn't model.fit's class_weight the same as FocalLoss?

[2020-08-02 21:03] PedroCardoso commented on #2059
I can take a go, but would be happy to have proposals for Class names

[2020-08-03 01:48] seanpmorgan commented on #2041
We should have a 0.11 release by the end of the week latest.

[2020-08-03 01:49] #2005 closed

[2020-08-03 08:23] #2060 closed

[2020-08-03 18:50] rehanguha opened #2064 "Adding COntinuos COin Betting (COCOB) Backprop optimizer"
**Describe the feature and the current behaviour/state.**
Already a PR is raised against this issue: https://github.com/tensorflow/addons/pull/2063

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): https://arxiv.org/pdf/1705.07795.pdf
- Is there already an im

[2020-08-03 20:03] bhack commented on #2064
I think that we need to start to handle some of topics emerged in https://github.com/tensorflow/addons/issues/2045.

@tensorflow/sig-addons-maintainers

[2020-08-03 20:14] rehanguha commented on #2064
I have submitted the PR for this code already (65%-70% is complete) and it resides here https://github.com/tensorflow/addons/pull/2063
It will be less effort for me to push this first then pick something up from the list you provided. Meanwhile, I will go through them.

[2020-08-03 20:16] bhack commented on #2064
Never stop at title :wink:.
Start from https://github.com/tensorflow/addons/issues/2045#issuecomment-664373626

[2020-08-03 20:20] FalsoMoralista opened #2065 "NotFoundError - _image_ops.so - When using tfa.image.rotate"
System Information:
Platform: Google Colab GPU Hosted Runtime.
Tensorflow versions tried:
Tensorflow 2.1 working clean.
Tensorflow 2.2 - Restarting environment unexpectedly without further information.
Tensorflow 2.3 - NotFoundError.

Code:
[code]
As mentioned before I have tried the code above with the three tensorflow versions and only was able to succeed by using tensorflow 2.1.

### Stack Trac

[2020-08-03 20:26] bhack commented on #2065
https://github.com/tensorflow/addons/issues/1984

[2020-08-03 20:28] bhack commented on #2065
Also for Tensorflow 2.3 we support only tfa-nightly packages. Check our Readme.

[2020-08-03 20:28] #2065 closed

[2020-08-03 20:33] FalsoMoralista commented on #2065
i appreciate it.

[2020-08-03 20:51] rogercw commented on #2038
Hi @WindQAQ, the original codebase was migrated from TF1, and I tried to add additional functionalities using TFA. If it will take too much effort to investigate the issue, I could try to revise the codebase and enable eager execution. Thanks again for your time and help.

[2020-08-03 20:54] WindQAQ commented on #2038
No worries. As I expect our codes work on both graph and eager modes, I'll mark this issue as bug. BTW, in most of cases, enable eager mode and decorate with `tf.function` won't cause performance degradation, and it's much easier to use. So it would be good that you can try it!

[2020-08-04 01:49] #582 closed

[2020-08-04 01:51] WindQAQ opened #2066 "Testable docstrings"
https://github.com/tensorflow/addons/pull/677 is merged, so we are happy to introduce doctest on the docstring. This feature is awesome that can avoid wrong example usage.

Because the change might be small, please submit one sub-module, for example, activations, per PR. For more details, please refer to https://www.tensorflow.org/community/contribute/docs_ref.

Note that available namespace in ou

[2020-08-04 03:48] WindQAQ commented on #2066
Seems that it wasn't integrated in our CI in #677 yet. I will do it in #2067.

[2020-08-04 15:51] davideboschetto commented on #746
I have this problem too.
I needed weighted F1 score, so the suggestion in from ffraaz is not helpful in my case.

[2020-08-05 10:14] jaeyoo commented on #2003
https://github.com/tensorflow/addons/pull/1964

[2020-08-05 12:43] MHStadler commented on #2032
Okay - I guess Layer it is

Shouldn't take too long to finish it up

[2020-08-06 08:21] swimmiing opened #2075 "ensure_tf_install"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 20.04
- TensorFlow version and how it was installed (source or binary): 2.3.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.0
- Python version: 3.8
- Is GPU used? (yes/no): yes

**Describe the bug**
Now tfa supports TF 2.3.0
But UserWarning message still exists. (in ensure_tf_install.p

[2020-08-06 08:36] bhack commented on #2075
Can you send a small PR to fix this? I think that the new policy could be `<=` changing the `strictly below` text in the warning.
I think It Is easier to maintain.

[2020-08-06 14:36] seanpmorgan commented on #2075
Thanks for bringing this up! Looks like we'll need to patch 0.11.1 and update the release procedure to include this:
https://github.com/tensorflow/community/blob/master/sigs/addons/RELEASE.md

[2020-08-06 15:50] guillaumekln commented on #522
@mathemakitten Hi! It does not seem anyone is working on this at moment. It mostly means the community is not interested that much in this optimizer. Are you interested in making a PR?

[2020-08-07 02:50] seanpmorgan commented on #2075
Version 0.11.1 patch was released that should solve this. Thanks again!

[2020-08-07 02:50] #2075 closed

[2020-08-07 15:09] sarioz opened #2083 "tfa.image operations fail to run on colab"
**System information**

colab defaults
https://colab.research.google.com/github/tensorflow/addons/blob/master/docs/tutorials/image_ops.ipynb
viewed today and yesterday

(reachable from https://www.tensorflow.org/addons/tutorials/image_ops by clicking the colab link)

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ?
- TensorFlow version and how it was installed (source or binary): ?
- T

[2020-08-07 21:24] bhack commented on #2083
Can you  install a more recent Tensorflow Addons release in Colab?

Please upvote also https://github.com/googlecolab/colabtools/issues/1243

[2020-08-07 21:33] bkkaggle commented on #522
I have a TF Adafactor implementation that I had to modify to work well with keras's lr schedulers and I know that it works well on TPUs. It probably needs to be cleaned up, but the code is here if anyone's interested:

- Adafactor and warmup + linear decay scheduler: https://github.com/bkkaggle/lm-training-research-project/blob/master/optimizers_tf.py#L11-L452
- example of how I'm using it: https:

[2020-08-08 06:24] #2030 closed

[2020-08-08 09:48] sarioz commented on #2083
Thanks, adding
[code]
before imports fixed the issue for now. Upvoted https://github.com/googlecolab/colabtools/issues/1243.

[2020-08-08 09:48] #2083 closed

[2020-08-09 05:19] seungjaeryanlee opened #2085 "Markdown parsing error in NovoGrad documentation page"
The documentation page of NovoGrad has a broken Markdown link shown below:

![novograd](https://user-images.githubusercontent.com/6107926/89725432-69760a00-da4a-11ea-9c8c-1495ecf9ec69.png)

I suspect this is because only the first line of the docstring is used for the first line of the documentation page. In the docstring (shown below), the link spans multiple lines.

https://github.com/tensorflow