[2016-04-29 14:19] ziky90 opened #632 "Unpooling layer in tensorflow"
It would be nice to have in TensorFlow also the unpooling layer as it is described in the paper on deconvolution networks: http://cvlab.postech.ac.kr/research/deconvnet/

I was googling a bit and I found that the added unpooling layer would be handful also for others:
http://stackoverflow.com/questions/36548736/tensorflow-unpooling

[2017-02-20 22:05] carlthome opened #625 "Feature request: add parametric ELU (PELU) activation function"
# Proposal
The exponential linear unit (ELU) is already in TensorFlow as `tf.nn.elu` which is great. The new parametric version (called PELU) shows very promising experimental results so I wonder if it could be added in to TensorFlow too in order to encourage more widespread experimentation with it by the deep learning community. One problem with it though is that it's stateful (e.g. `tf.Variable`

[2017-04-02 22:02] AshishBora opened #633 "Feature Request : PathNorm and PathSGD"
PathSGD was introduced in [this](https://arxiv.org/abs/1506.02617) paper. Is there existing support for this? If not, this is a feature request for:
- PathNorm computation (Equation 5 in the paper)
- PathSGD using the PathNorm

For the first part, the interface can be to provide a function `path_norm(a, b, p=2)` where `a` and `b` are tensors, `p` is a scalar. The function returns the p-PathNorm fo

[2017-04-05 22:39] alexanderalang opened #626 "Feature Request : Stochastic Depth"
Stochastic Depth (aka layer dropout) has been shown to speed up and improve training in ResNets, as well as overall accuracy on testing sets. Essentially, every training step a random subset of residual layers are entirely removed from the network, and training proceeds on the remaining layers. Direct connections are made between the missing layers.

It is described in this paper: https://arxiv.or

[2017-05-06 03:10] ruanxt opened #629 "Resize image for nd"
Is there a functionality of resize image for n-d where n > 2? It seems currently tensorflow only support resize images for 2d images (4D tensor). Could you add the functionality?

[2017-05-26 11:33] ipoletaev opened #628 "Feature request: Keras CRF layer"
It will be great if in the `contrib.keras` in the nearest future [linear CRF layer](https://github.com/phipleg/keras/blob/crf/keras/layers/crf.py) (inside the Keras wrapper) will be added.

I think a lot of people will find this very [useful](https://github.com/fchollet/keras/issues/4090).

[2017-06-15 17:08] cancan101 opened #627 "[feature] tf.contrib.image.invert"
/CC @ringw

Along the lines of the other utility functions in [`tf.contrib.image`](https://www.tensorflow.org/api_docs/python/tf/contrib/image), would be great to have a `tf.contrib.image.invert` that takes a transform and returns the inverse transform.

[2017-07-03 08:44] Ahmad-Masood opened #660 "Dendrite morphological neural networks"
Can you guys also provide an implementation for Dendrite morphological neural networks in tensorflow.

http://www.sciencedirect.com/science/article/pii/S0925231213010916

[2017-07-05 12:59] nicaogr opened #630 "Feature request : Add more Scipy Optimizer"
Hi,

Could it be possible to wrap the [scipy.optimize.basinhopping](https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.optimize.basinhopping.html) and [scipy.optimize.anneal](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.optimize.anneal.html) the same way the [tf.contrib.opt.ScipyOptimizerInterface](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/co

[2018-08-21 16:02] josegcpa opened #631 "Request for function that randomly augments sets of images"
Several operations for image data augmentation have been implemented in `tensorflow`, however most of these work in single examples.

As such, to achieve the same rotation between an input image and a set of different-sized masks (as in a feature pyramid network for region proposal, for example) you have to go through a process of conditionals (through `tf.cond`).

I have tried to do this to no av

[2019-01-09 17:50] seanpmorgan opened #3 "Implement External Optimizers"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [external optimizers](https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/contrib/opt/python/training/external_optimizer.py) from contrib to addons:

This will involve inheriting from base Keras optimizer, modifying the code to match tho

[2019-01-09 17:51] seanpmorgan opened #4 "Implement LazyAdamOptimizer"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [LazyAdamOptimizer](https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/contrib/opt/python/training/lazy_adam_optimizer.py) from contrib to addons:

This will involve inheriting from base Keras optimizer, modifying the code to match thos

[2019-01-09 17:52] seanpmorgan opened #5 "Implement MovingAverageOptimizer"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [MovingAverageOptimizer](https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/contrib/opt/python/training/moving_average_optimizer.py) from contrib to addons:

This will involve inheriting from base Keras optimizer, modifying the code to

[2019-01-09 17:57] seanpmorgan opened #6 "Implement GroupNorm, LayerNorm & InstanceNorm"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [layer_norm](https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/contrib/layers/python/layers/layers.py#L2198) from contrib to addons:

This will involve restructuring in an OO format by inheriting from base Keras Layer, modifying the co

[2019-01-10 23:09] facaiy commented on #4
@seanpmorgan I'd like to take a try :-) I implemented AdaMaxOptimizer before.

[2019-01-12 20:16] seanpmorgan opened #7 "Implement InstanceNorm"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [instance_norm](https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/contrib/layers/python/layers/normalization.py#L42) from contrib to addons:

This will involve restructuring in an OO format by inheriting from base Keras Layer, modifyin

[2019-01-12 20:30] seanpmorgan opened #8 "Implement DenseToSparse"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [dense_to_sparse](https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/contrib/layers/python/layers/layers.py#L1537) from contrib to addons:

This will involve restructuring in an OO format by inheriting from base Keras Layer, modifying t

[2019-01-12 20:31] seanpmorgan commented on #8
tensorflow/tensorflow#23754 is a relevant discussion regarding a more efficient way to do this using cusparse

[2019-01-12 20:36] seanpmorgan opened #9 "Implement Maxout Layer"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [maxout](https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/contrib/layers/python/layers/layers.py#L3097) from contrib to addons:

This will involve restructuring in an OO format by inheriting from base Keras Layer, modifying the code t

[2019-01-12 20:44] seanpmorgan opened #10 "Implement PoincareNormalize"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [poincare_normalize](https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/contrib/layers/python/layers/layers.py#L3143) from contrib to addons:

This will involve restructuring in an OO format by inheriting from base Keras Layer, modifyin

[2019-01-13 12:34] lgeiger commented on #6
What do you think about implementing this together with #7 using a [`GroupNormalization` Layer](https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/layers/normalization.py#L415) which is a generalized case of layer normalization and instance normalization?

[2019-01-13 16:08] seanpmorgan commented on #6
@lgeiger Thanks for the suggestion! This would be much more succinct.

I would vote to have interfaces named LayerNorm and InstanceNorm which are GroupNorm with 1 group and input_dim# groups respectively.

[2019-01-13 16:09] seanpmorgan commented on #7
This will be consolidated in #6

[2019-01-13 16:09] #7 closed

[2019-01-13 22:12] Smokrow commented on #6
I will give this a try

[2019-01-14 17:53] seanpmorgan opened #12 "[Bug] skip_gram_sample assert rank is 1"
While converting the tests for skip_gram_ops, I noticed a test that was failing in TF2 eager execution, but I'm not sure why.

This [test](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/text/python/skip_gram_ops_test.py#L244):
[code]

Should raise an error because of [this check in the op definition](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/text/cc/ops

[2019-01-14 18:03] seanpmorgan opened #13 "[Discussion] When to utilize tf.function"
Are there any best practices for when to decorate functions with tf.function? The [TF2 documentation](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/function) has a nice example where a keras Model is decorating the `call` method.

@karmel  @martinwicke Should we use this extensively in our repo anytime there is a method without python side-effects? Is it safer to only utilize it when

[2019-01-14 18:38] martinwicke commented on #13
I think as a general rule, we should use it wherever possible unless there's a clear reason not to.

[2019-01-14 18:45] karmel commented on #12
@jaingaurav - Is this something you have seen? Can you take a look? (Note that this is for the Addons repo, which is migrating functionality currently in contrib.)

[2019-01-14 18:57] karmel commented on #13
Some reasons not to, off the top of my head:
* Variables need to be created each time the function is called.
* You want dynamic Python control flow inside of the function (ie, that should change each time you call the function based on criteria not passed to the function as args/kwargs)

Barring those, function-ify away. And, try to avoid the above scenarios if possible. (For example, in Keras, w

[2019-01-14 19:08] karmel commented on #13
(To clarify the second point there, Python control flow in general is fine, but there are certain edge cases where, once we trace the tf.function, it will stop being dynamic each time you call the function. For example, if you made a decision based on time or some Python object outside the function and not passed into the function. In those cases, the function would great a bit-of-graph based on t

[2019-01-14 22:16] jaingaurav commented on #12
`@test_util.run_deprecated_v1` will cause the test to run in graph mode hence the check fires during graph construction. In Eager, you should see a [slightly different assertion](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/text/kernels/skip_gram_kernels.cc#L50) pop up due to a runtime check. This results in an `InvalidArgumentError` exception. The test need to be modifi

[2019-01-14 22:30] seanpmorgan commented on #12
@jaingaurav Thank you very much for looking into this. So if I remove [this comment and the assertion context](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/text/python/skip_gram_ops_test.py#L271)  then I still see the test as passing and no Error at all being raised.

Seems like I would need to add a new OP_REQUIRES in the Compute method that verifies tensor rank?

[2019-01-14 22:33] jaingaurav commented on #12
@seanpmorgan: Yes, that would be advisable to ensure better safety in eager mode.

[2019-01-15 02:56] seanpmorgan opened #16 "Standardize formatting"
Would like to standardize repository style using a code formatter. @facaiy suggested https://github.com/google/yapf which looks like it would work very nicely.

In the future this should be tied in with our CI testing

[2019-01-15 03:04] seanpmorgan opened #17 "Build out examples with working colab notebooks"
Would be nice to mirror the TF2 doc style of colab notebooks being first-class tutorials.

I think it's also a good idea to require colab notebooks for new contributions in order to showcase their benefits and best practices. Certainly won't be possible/necessary for everything.

[2019-01-15 04:20] facaiy commented on #16
yapf cannot handle document correctly, I once used docformatter tools: https://pypi.org/project/docformatter/
- currently automatically formats docstrings to follow a subset of the PEP 257 conventions.

[2019-01-15 04:38] armando-fandango commented on #17
Let us refactor this issue with separate issue for each specific example that we propose to build. That way it would be easier to know and close out when the issue the done.

[2019-01-15 05:40] facaiy commented on #12
@jaingaurav So, will shape inference be supported for eager mode later? Otherwise, duplicate codes exist in both graph constructing and kernel computing.

[2019-01-15 19:36] Smokrow commented on #17
Should we showcase the benefit of the implementations with some kind of before/after comparison and some kind of explanation? Or more like a basic usage?

[2019-01-16 01:43] seanpmorgan commented on #17
I think anytime we can compare it to some control that'd be great. For example optimizers could be compared to SGD on some demo mnist model.

This won't always be appropriate though, and basic usage is definitely useful to have examples for.

[2019-01-16 01:57] #12 closed

[2019-01-17 15:35] seanpmorgan opened #21 "Implement Sparsemax Activation and Loss"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [sparsemax](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/sparsemax) from contrib to addons:

- [X] Moving sparsemax to addons/activations and modifying test cases to run in TF2.
- [X] Restructuring sparsemax_loss in an OO f

[2019-01-18 01:53] seanpmorgan opened #22 "Implement Conditional Random Field"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [CRF](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/crf) from contrib to addons:

This will involve moving the code and modifying test cases to run in TF2.

[2019-01-18 01:59] seanpmorgan opened #23 "Build out contributing guidelines"
In an effort to encourage involvement, and standardize contributions we should make a concerted effort to build thorough docs on how to contribute for each sub-package (layers, crf, etc.)

For example:
Building from #19 dicussion. We should create standards for adding custom keras Layers. Some things to include:

- Testing with the [Keras layer test](https://github.com/tensorflow/tensorflow/blob/m

[2019-01-18 02:03] seanpmorgan opened #24 "Implement Weight Decay Optimizers"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [Weight Decay Optimizers](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/opt/python/training/weight_decay_optimizers.py) from contrib to addons:

- [ ] DecoupledWeightDecayExtension
- [ ] AdamWOptimizer
- [ ] MomentumWOptimiz

[2019-01-18 02:11] seanpmorgan opened #25 "Implement Image functions"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we will be moving several of the [image modules](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/image
) from contrib to addons:

- [ ] dense_image_warp
- [ ] random_hsv_in_yiq
- [ ] adjust_hsv_in_yiq
- [ ] rotate
- [ ] translate
- [ ] angle_

[2019-01-18 02:13] seanpmorgan opened #26 "Implement Metric Losses"
Per the [RFC](https://github.com/tensorflow/community/blob/393dfc9e03dd4150a839de6357a26e0259aa97d6/rfcs/20181214-move-to-addons.md), we need to move [metric_losses](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/losses/python/metric_learning) from contrib to addons:

- [x] pairwise_distance
- [x] contrastive_loss
- [x] triplet_semihard_loss
- [x] npairs_loss
- [ ] npairs_

[2019-01-18 11:40] lgeiger commented on #16
One other very popular code formatter to consider would be https://github.com/ambv/black

[2019-01-18 11:46] seanpmorgan commented on #16
Thanks, I've used black extensively on other projects and love it. I didn't mention it because I didn't want to argue for its departures from PEP8, but it's certainly an option.

[2019-01-21 07:03] martinwicke commented on #23
We should maybe think about a package-spanning registration mechanism. I think that would require a design, and feedback from the Keras community. I can certainly imagine this working via directories, or via calling some registration function on import.

Until then, I think passing the objects is a reasonable fallback.

[2019-01-26 22:08] #10 closed

[2019-01-26 22:10] #9 closed

[2019-02-04 16:57] seanpmorgan commented on #24
@PhilJd That'd be great... we'd very much appreciate the help!

We're still very early on with setting up contribution guidelines (tests, docs, etc.) so bare with us during review. Also regarding ShampooW, we had not slated the Shampoo optimizer to be moved so that's why the weight decay version is not tracked in this issue.

[2019-02-06 15:22] facaiy commented on #26
@tabshaikh Welcome, Tabish! I think, in all those functions, triplet_semihard_loss and lifted_struct_loss are easy to be implemented. I am in the process of moving triplet_semihard_loss (nearly finished), and I'll create a PR tomorrow if everything goes well (I'm on holiday).

I think lifted_struct_loss is a good starter issue, would you like to take a try?

[2019-02-07 07:34] tabshaikh commented on #26
@facaiy sure I would like to give lifted_struct_loss a try

[2019-02-09 14:35] seanpmorgan opened #34 "Set up tests scripts for integration with CI"
Need to add scripts so that we have control over CI testing jobs

As an example... something similar to this:
https://github.com/tensorflow/tensorflow/blob/9590c4c32dd4346ea5c35673336f5912c6072bf2/tensorflow/tools/ci_build/linux/gpu/run_cc_core.sh

[2019-02-14 03:22] facaiy commented on #21
@AndreasMadsen Hi, Andreas. As the author of [sparsemax](https://github.com/tensorflow/tensorflow/commits?author=AndreasMadsen), would you like to migrate it from contrib to addons? That would be greatly helpful :-)

[2019-02-14 12:53] AndreasMadsen commented on #21
Yep. I will give it a go. Perhaps next week.

[2019-02-15 04:12] facaiy commented on #21
Great!

[2019-02-19 14:20] tabshaikh commented on #25
Cool i will began with this then :)

[2019-02-20 01:27] #34 closed

[2019-02-21 02:25] seanpmorgan opened #44 "Create Issue Templates"
It would be beneficial to the repo's maintianability if we had some templates for common issues. Possible templates

- [ ] Issue to request new addition to addons (option for migration from tf.contrib)
- [ ] Bug report

[2019-02-21 03:23] seanpmorgan commented on #23
Initial pass of this is complete. We'll continue to iterate on the docs though.

[2019-02-21 03:23] #23 closed

[2019-02-21 06:02] facaiy commented on #25
@tabshaikh Thanks, Tabish. Don't put all in one PR. You can solve those functions one by one, say, `rotate` at first.

[2019-02-21 07:06] tabshaikh commented on #25
Okay sure

[2019-02-21 09:45] seanpmorgan opened #45 "Add contribution guideline for moving from tf.contrib"
@dynamicwebpaige wisely suggested in #38 that we put together a guideline on moving from tf.contrib to addons. A majority of our code is currently ported from tf.contrib and there are many open issues for bringing over the rest of our addons RFC.

Some things to include in the guideline:
- [TF2.0 symbols mapping](https://docs.google.com/spreadsheets/d/1FLFJLzg7WNP6JHODX5q8BDgptKafq_slHpnHVbJIteQ/e

[2019-02-21 21:17] dynamicwebpaige commented on #45
cc: @karmel for visibility.

[2019-02-22 02:18] seanpmorgan opened #46 "Generate API docs"
As our repository matures it's important to have api docs to improve user experience. As discussed in #38 we will also be able to remove the table of contents off the main README.

Should we host on https://readthedocs.org/ or is there something else recommended @ewilderj @dynamicwebpaige @karmel ?

[2019-02-22 04:11] armando-fandango commented on #46
- TensorFlow API docs are here: https://www.tensorflow.org/api_docs
- Go TensorFlow API docs are here: https://godoc.org/github.com/tensorflow/tensorflow/tensorflow/go
- Haskell TensorFlow docs are here: https://github.com/tensorflow/haskell and here https://tensorflow.github.io/haskell/haddock/
- There are 4 more different links for community supported docs for Julia, Ruby, Rust, Scala

Would it

[2019-02-22 06:38] facaiy commented on #46
Agree with @armando-fandango, I prefer to host it on tensorflow.org as well.

cc @martinwicke

[2019-02-22 13:10] facaiy commented on #16
@karmel Hi, Karmel. Do you have any suggestion?

[2019-02-22 17:10] karmel commented on #46
@markdaoust and @lamberta - is this feasible? Having these in the community docs on TF.org would be nice.

[2019-02-22 17:11] ewilderj commented on #46
Yes, it would be desirable to figure out a way to do this on the main site, as there are ever more satellite repos // cc Billy @lamberta

[2019-02-22 17:20] karmel commented on #16
There are two pieces here-- autoformatting, and linting when we run tests to block merges with lint errors.

I think you should pick the tool you all prefer, though it's complicated by the fact that TF adheres to the [Google Python style guide](http://google.github.io/styleguide/pyguide.html), which deviates slightly from PEP8 (ie, two-space tabs). Ideally, then, a formatter that is configurable w

[2019-02-22 18:22] lamberta commented on #46
@markdaoust knows more about API doc gen, but our doc gen tools are here: https://github.com/tensorflow/docs/tree/master/tools/tensorflow_docs

As far as publishing guides and tutorials on tensorflow.org, yes, this is possible from a technical standpoint and we're already set up for it :)
We use "subsites" for some projects not in *TensorFlow core*, for example, here's the [subsite directory](http

[2019-02-22 18:41] MarkDaoust commented on #46
For `api_docs` this is simplest if these projects generate api docs into their `docs/` directory here on github.

And we can pull the docs/ into the site.

The best example of how to use the doc generator is here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docs/generate2.py#L88+

For most packages the script can be simplified somewhat (delete most flags, delete TfExport

[2019-02-22 21:46] armando-fandango commented on #46
Summary of above discussion:
- In principle it would be a better user-experience to keep the docs in a way that it is easier for engineer/reader/user to navigate between core TensorFlow and 'satellite site' docs easily.
- Label the docs not part of core as "Contributed" or "Community Docs"
- Generate the docs in /docs folder, example: https://github.com/tensorflow/tensorflow/blob/master/tensorflow

[2019-02-23 22:39] karmel commented on #46
That matches my understanding; @lamberta / @MarkDaoust can you confirm?

Thanks, Addons team, for making sure this is done thoroughly and correctly for the users.

[2019-02-23 22:45] lamberta commented on #46
👍 The more I think about it the more I like it, especially as a blueprint for other SIGs :)

Feel free to post to this the [docs list](https://groups.google.com/a/tensorflow.org/forum/#!forum/docs) and maybe we can get some more input.

[2019-02-23 23:56] facaiy commented on #16
@karmel Thank your for the input. I think it's better to stick with PEP 0008, which is supported by nearly all python toolchains (IDE, text editor, etc).

Yes, both yapf and pylint are configurable. I'll submit a shell script later for the issue.

[2019-02-24 04:51] dynamicwebpaige commented on #46
We'll also want to make sure to include this as part of the TensorFlow Contributor Guide. Thank you for formalizing this process and for creating standards! We appreciate it. :slightly_smiling_face:

[2019-02-24 10:22] AndreasMadsen opened #50 "Remove use of internal tensorflow API"
The current implementations use the internal `tensorflow.python` interface. I know this was how it was done in `tf.contrib`. However, since `addons` are not an integrated part of `tensorflow` but rather decoupled from the main `tensorflow` module, using that internal API seams highly wrong.

[2019-02-24 12:44] seanpmorgan commented on #50
Thanks Andreas! This is a good call out. We initially discussed this in the below thread, and the reason I had preferred the internal API was that it made many things easier to do in an IDE (Verify subclasses match their parent methods, etc.).  The TF export is not understood... and is to me a hindrance while developing with TF.

That said... the way we're doing it is incorrect and unstable so we

[2019-02-24 13:35] AndreasMadsen commented on #50
Yeah, I think you can be sure that developers will look to `addons` as an example on how to develop add-ons. So I think it is important to set a good example.

[2019-02-25 03:51] WindQAQ commented on #26
Hello @seanpmorgan and @facaiy, I think I can take a look at the remaining losses. Is there anyone already responsible for these? If not, I'd like to give it a try. Thank you!

[2019-02-25 06:33] facaiy commented on #25
@tabshaikh Hi, Tabish. Which op is you working on?

[2019-02-25 06:35] facaiy commented on #26
Welcome, @WindQAQ . I don't know anyone is working on them, so yes, just go head.

By the way, I think #25 is easier for new contributor. Perhaps you are interested on it as well. Anyway, thanks for your help. Just ping us (or join https://gitter.im/tensorflow/sig-addons) if you need any help :-)

[2019-02-25 06:41] tabshaikh commented on #25
I have started with rotate

[2019-02-25 06:53] WindQAQ commented on #26
Okay. It's also free for me to deal with image functions first. Thanks for your quick reply :smiley:

[2019-02-25 07:08] WindQAQ commented on #25
Hi @tabshaikh, I'm going to work on `dense_image_warp` and I hope that you have not started on this one.

[2019-02-26 00:58] seanpmorgan opened #56 "Release first version of tensorflow-addons"
As we discussed in the February monthly meeting... we are targeting our first release by early next week. I wanted to get this issue up so we can discuss versioning and outline what else needs to get done.

## Versioning
I think there are two workable methods here:

1. Release on our own cadence and mention in the release which TF version it was tested against.
    - This is how it's done for [ten

[2019-02-26 00:59] seanpmorgan commented on #56
cc @karmel @martinwicke

[2019-02-26 05:28] armando-fandango commented on #56
In my opinion both approaches are fine but second approach of releasing in-step with TensorFlow is more preferable as it is more intuitive. I believe addons would be used more frequently with the core as compared to probability.

[2019-02-26 05:37] facaiy commented on #56
I'm not quite sure what's the relation between addons and core:
1. addons depends on core?
2. core depends on addons?
3. they depend on each other?

[2019-02-26 05:50] armando-fandango commented on #56
Number 1 : addons depends on core.

[2019-02-26 07:58] martinwicke commented on #56
I think it's preferable to go with Option 1. Since we're only using public APIs (not something which has traditionally been true for TensorBoard) we shouldn't have to coordinate with TF releases (except for major releases).

The less tied addons is to TF releases the better. The backwards compatibility guarantees in TF should make sure that addons doesn't break by a new TF release, so have a depen

[2019-02-26 09:46] lc0 commented on #56
Option 1 sounds also better for me, as I would imagine `tf/addons`'s frequency of releases might be different than the one from TensorFlow. So better move faster and let people integrate their contributions without additional alignment.

You can still test against a couple of last versions of TF or new RCs

[2019-02-26 09:53] dynamicwebpaige commented on #56
I'm also in support of Option 1. Addons releases should not be dependent on
the TensorFlow release cycle.

On Tue, Feb 26, 2019, 1:46 AM Sergii Khomenko <notifications@github.com>
wrote:

[2019-02-26 09:57] facaiy commented on #56
I'm a little worried about the unclear overlap in scope between SIG/addons and `keras.*.experimental` API, as shown in PR https://github.com/tensorflow/addons/pull/14:
+ Will `keras.*.experimental` API depends on some latest features of addons in the future? cc @karmel

[2019-02-26 15:56] martinwicke commented on #56
I think we should ideally limit keras.experimental to things that require
integration inside keras. This should be pretty rare. Or, things that we
know will end up in Keras proper withing one or maybe two releases. I think
this is the case here.

[2019-02-26 17:53] karmel commented on #56
@facaiy -- we can't have Keras depend on Addons, but instead would move the overlapping features to one or the other, and direct users accordingly. In the case of #14 , we will remove the implementation from experimental and instead use Addons once we have unblocked some things internally.

Re the question at the top: one strategy we tried with TF models was to cut a release with each major TF rel

[2019-02-26 18:14] beangoben opened #58 "Do you accept tf.keras.callbacks?"
Seeing as keras is going to become a first citizen inside of tensorflow, are you also accepting submission for callbacks? Are there guidelines for this (writing tests/docs)?.

[2019-02-26 20:07] seanpmorgan commented on #58
My first thought is that it seems like it would be in scope as there is a pre-defined structure. I'll add it to the [monthly meeting this Friday](https://docs.google.com/document/d/1kxg5xIHWLY7EMdOJCdSGgaPu27a9YKpupUz2VTXqTJg/edit#) where we can discuss adding this as a new standardized API.

I'll update this issue after the meeting... but can you give some example callbacks you'd like to see adde

[2019-02-26 21:34] seanpmorgan commented on #58
Also, just a reminder... the monthly meeting is at 1pm PST (join our [google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/addons) and you'll get calendar invites)  and we encourage all to come!

[2019-02-26 21:34] facaiy commented on #56
Thank you for your clarification, @martinwicke @karmel

+1

+1, I prefer option 1 as well.

@av8ramit Hi, Amit, what do you think? By the way, the new process of tf-nightly has set up? And what's the release strategy of tf-2.0-preview?
+ https://github.com/tensorflow/community/pull/31
+ https://github.com/tensorflow/community/pull/30

[2019-02-26 21:50] beangoben commented on #58
Would have to check, but potentially some callbacks would be:
* LearningRateScheduler compatible functions like SGDR (https://www.tensorflow.org/api_docs/python/tf/train/cosine_decay_restarts).
* In-memory best weights restore (like ModelCheckpoint but in-memory).
* Evaluation of metrics (r^22,auroc,f1,etc.) on external datasets (test set) each epoch, batch.
* Saving 'snapshots' of your embeddings

[2019-02-26 22:00] seanpmorgan commented on #56
Looks like we're leaning for option one so I just wanted to cc @csuter to see if you had any comments on how it's been working out for tf_probability

[2019-02-26 22:10] csuter commented on #56
I think we are glad we are not strictly coupled to TF releases, although in practice we generally prepare a new release only when TF does. A crucial counterexample is that we will in the next few days be attempting to prepare a release that straddles compatibility with 1.13 and 2.0-preview. If we had tied ourselves strictly to TF (e.g., by numbering our versions in lockstep) this would be tricky.

[2019-02-26 22:11] csuter commented on #56
Ah, I guess I incorrectly inferred that most on this thread were Googlers. It'll be difficult to meaningfully share the aforementioned internal docs externally.

[2019-02-26 22:18] seanpmorgan commented on #56
No worries. We have a SIG meeting at 4pm EST this Friday if you can make it to that we could probably get you in and out in 10-15min if that helps. Otherwise we can just echo your sentiments.

[2019-02-26 22:32] csuter commented on #56
Sure, send me an invite? (my google email is on my profile)

[2019-02-27 05:56] facaiy commented on #58
Do you mean to implement them as subclass of [tf.keras.callbacks.Callback](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback)?

[2019-02-27 09:34] beangoben commented on #58
Yes, with tests..but that all depends on the guidelines that will be recommended/set.

[2019-02-28 07:20] a6802739 commented on #22
@seanpmorgan, may I give some help on this?

[2019-02-28 14:14] seanpmorgan commented on #22
Absolutely! Please let us know if you run into any issues. As noted in the other issue, one thing to note is that the RNN cells are unified under [Keras RNN](https://github.com/tensorflow/community/blob/master/rfcs/20180920-unify-rnn-interface.md) in TF2.

[2019-02-28 17:07] #50 closed

[2019-03-02 02:07] hksonngan commented on #25
Is anyone working on connected_components? If not I will start with it?

[2019-03-02 09:51] facaiy commented on #25
@hksonngan Great, go head! All contributions are welcome, thanks :-)

[2019-03-02 14:18] #44 closed

[2019-03-02 17:50] seanpmorgan opened #61 "Add new API type: Keras Callback"
Per #58 and our monthly discussion in March, Keras Callbacks seem like they are within scope for TF Addons. This new addition will require:

- Adding a new directory in `tensorflow_addons` which will hold keras callbacks
- Some initial contribution guidelines for adding new callbacks
    - e.g. sub-class the abstract base class
-  Addition to the projects central BUILD file
- Updating the README/C

[2019-03-02 17:52] seanpmorgan commented on #58
Short answer to this issue is Yes. See #61

[2019-03-02 17:52] #58 closed

[2019-03-03 17:15] seanpmorgan commented on #17
Closing this as we'll create specific example requests in the coming days.

[2019-03-03 17:15] #17 closed

[2019-03-04 05:14] #16 closed

[2019-03-04 07:43] facaiy opened #68 "Add sanity check for addons"
Since #63 has introduced sanity check for addons, can we add it for CI?
cc @av8ramit @karmel @seanpmorgan

command:
[code]

[2019-03-04 07:46] facaiy commented on #68
sanity check should always pass after #64 is merged into master.

[2019-03-04 17:49] #21 closed

[2019-03-04 18:40] karmel commented on #68
This should be possible.

[2019-03-04 18:45] karmel commented on #68
Ah, wait, modulo viewing results. @av8ramit -- for results to be public, does everything have to be run through Bazel currently? That is, we can't run arbitrary scripts like this directly?

[2019-03-04 19:08] av8ramit commented on #68
I'll try and see if we can just invoke a script and just see the results that way.

[2019-03-06 03:50] seanpmorgan opened #75 "Package Addons for python3.7"
Using the current docker image, we're unable to install / build TensorFlow in python3.7 with the following error:
[code]

It seems like we need to compile using Ubuntu 16.04 libs, which will require a bump in the custom-op docker image. @yifeif would it be possible to bump the base image in the container? If so we can rebuild our release as 0.1.1 and include py37.

Alternatively, we could create a

[2019-03-06 03:53] seanpmorgan opened #76 "Automate Build Process"
Currently we have no automated process for building Addons across python version and operating systems. Going forward we'll want this process to be automated.. but it may be challenging for us to start builds without access to the Google internal tooling.

We could conceivably use Travis... but if we can keep consistent CI that would be ideal.

[2019-03-06 03:59] seanpmorgan opened #77 "Build Addons for MacOS"
Currently our template for custom-ops is designed for linux builds. We'll need to adapt our build setup to build for all operating systems.

https://github.com/tensorflow/custom-op

@yifeif @karmel When time allows after the summit, could we discuss the steps needed.

[2019-03-06 06:11] hksonngan commented on #77
in Windows in tf.sysconfig.get_link_flags() return empty
and truncate if my username have space at line [38](https://github.com/tensorflow/custom-op/blob/6cacf3adfcb9b42c46619e221a85899fdb8bfaac/configure.sh#L35)
I think we should check  compile flags by build_ext

[2019-03-06 12:42] #56 closed

[2019-03-06 13:02] facaiy opened #78 "CI: output log of each test target"
There seems only one target `tensorflow_addons/ubuntu/py2/presubmit` in the detail page, check out:
https://source.cloud.google.com/results/invocations/bcda13af-4a13-41c6-a7db-76ff8e3ec504/targets/tensorflow_addons%2Fubuntu%2Fpy2%2Fpresubmit/log

@av8ramit
Could we give all the details for each test target, like tensorflow/tensorflow? That would be greatly helpful for review.

[2019-03-06 13:28] seanpmorgan commented on #56
@dynamicwebpaige Can you mark this as Done in the TF2.0 tracker :D

[2019-03-08 18:04] av8ramit commented on #78
Hi @facaiy unfortunately for reasons decided unbeknownst to me, the way the system internally is set up is that you can only run predefined bazel targets if you want the targets to be split up. I think this is for security reasons. Since the script is modified a lot externally, I've made the internal invocation a simple shell script call. We're discussing on what the best way to move forward is.

[2019-03-08 19:06] av8ramit commented on #68
Okay, so internally we now just invoke the script. So now you can modify and add whatever you'd like to the [script](https://github.com/tensorflow/addons/blob/master/tools/ci_testing/addons_cpu.sh) and it will run in presubmit and continuous.

[2019-03-08 19:55] tabshaikh commented on #25
@seanpmorgan i was just checking random_hsv_in_yiq does not have any tests in contrib https://github.com/tensorflow/tensorflow/search?q=random_hsv_in_yiq&unscoped_q=random_hsv_in_yiq ?

[2019-03-09 01:18] facaiy commented on #78
@av8ramit Thank you for the detailed reply, Amit. I start to understand why we have only one presubmit target here. It has been good enough for me. Thanks again, we wouldn't have gotten here without your work. Please update the issue when new information becomes available :-)

[2019-03-09 01:55] facaiy commented on #68
Yeah, it works well, but I prefer to keep them (sanity-check and unit-test) independent. What do you think?

[2019-03-09 19:59] #6 closed

[2019-03-09 23:10] seanpmorgan commented on #68
Agree that it's significantly easier to review if we have a separate script ran for linting type errors. @av8ramit do you think it would be possible to run one additional script like `addons_style.sh`. We can then probably fit most other things we want ran into one of our existing shell scripts.

[2019-03-10 02:15] facaiy opened #83 "Remove numpy implementation in test case?"
I find, in most of test cases of Addons / tf.contrib, we are used to write a duplicated numpy function to verify the correction of our implementations. It's straightforward, but the drawbacks are:
1. both tf and numpy implications could be incorrect;
2. numpy might have a bug, or will introduce a bug in the future;
3. difficult to maintain test cases, and might also too complex to understand it.

[2019-03-10 02:21] facaiy commented on #83
By the way, do we need to post those `discussion needed` issues to mailing list? Perhaps we could gain more attention, and collect more feedback there.

[2019-03-10 02:28] facaiy commented on #25
@tabshaikh  Yeah, Tabish, that's a problem. I think @WindQAQ are working on `random_hsv_in_yiq` in #67.

At the first glance, it seems that `test_adjust_random_value_in_yi` are used for both `random_hsv_in_yiq` and `adjust_hsv_in_yiq` implicitly:
https://github.com/tensorflow/addons/pull/67/files#diff-9e079d46248934679daeb7fd5f3a5835R71

I create an issue #83 to discuss about unit test. I think we

[2019-03-10 16:12] seanpmorgan commented on #83
Some initial thoughts...

* If possible I would prefer our unit tests not include another library
* [TF Keras testing](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/normalization_test.py) does extensively use it, doesn't mean we have to but worth considering
* I do think the likelihood of a bug in such fundamental pieces of numpy is probably low
* Without havi

[2019-03-10 17:58] seanpmorgan commented on #76
Good example that we could adapt. Still need to determine how we can trigger a release build.
https://github.com/apache/arrow/blob/master/python/manylinux1/build_arrow.sh

[2019-03-11 07:24] Smokrow commented on #83
I think the chances of hitting such a bug are quite low. (Of course as long as you stay with the „standard“ function and don’t do something crazy)

Implementing something wrong twice might happen. But it’s still better then implementing it once, since you have to express the algo in two different apis.

Also the amount of Tests you can create without numpy might be quite limited.

Of course the de

[2019-03-11 11:22] a6802739 commented on #22
@seanpmorgan, thanks for your help, I will ping you if I met some issues.

[2019-03-11 11:24] facaiy commented on #83
If an input X is given, then its output Y has been determinate. We should explicitly claim what we want, and what the result should be.

Say, Y = f(X) =  X + 1, then Y is always 6 when X is 5. It looks strange that you create another function Z = g(X) = X + 1, then assert f(X) == g(X) when X = 5. Worse still, we have to maintain two functions here: f(X) and g(X).

Comparing [keras.MeanSquaredError

[2019-03-11 12:18] facaiy commented on #83
Let's make it clear: take `triplet_loss` as an example, we implement it with tf ops. And **numpy implementation** means`triplet_loss_np` function we created by ourselves in its test python file.

Here the word "numpy implementation" used is for those functions created by addons, rather than for native tensorflow / numpy ops (like tf.exp and np.exp).

[2019-03-11 12:51] Smokrow commented on #83
@facaiy
Hey Yan.
I think it is okay to use a function like that as long as you make sure that every subpart of the function is already tested.
For example if you have some transformation followed by a multiplication:
You could write tests for both parts (Multiplication and transformation) and make sure each part works correctly.

Afterwards I combine these parts into one separate numpy function to

[2019-03-11 12:52] Smokrow commented on #83
But i get your point. It does not make sense to implement everything 2 times since both implementations could be wrong

[2019-03-11 16:55] av8ramit commented on #68
Do you want a separate job for the linting script? Or do you want that to run as part of CPU tests with Python2/3?

[2019-03-11 17:22] karmel commented on #83
The "correct" answer here may depend on context. In general, we tend towards just putting in numbers to avoid the tests getting cluttered. That said, that only works if the numbers are principled/understood in some way. That is, a classic bad habit is for a dev to run the code once, use the output as the test, and never validate that the produced output is actually the technically correct output.

[2019-03-11 19:00] tabshaikh commented on #24
@PhilJd Are you still working on this issue?

[2019-03-11 20:24] PhilJd commented on #24
@tabshaikh I've postponed this for a while as I wanted to wait until the CI is up and running. I'll take a look at it tomorrow ;)

[2019-03-12 04:02] facaiy commented on #68
+1, yes. If possible, run it in the python 3 Linux CPU environment.

[2019-03-12 06:16] andresusanopinto opened #86 "ImageProjectiveTransform should be named ImageProjectiveTransformV2"
**Describe the bug**
- It looks like ImageProjectiveTransform is based on ImageProjectiveTransformV2 present in tf.contrib in TF-1.x.

**Describe the expected behavior**
- Op names should not colide between 1.x and 2.x environments or saved models won't be shareable across them.

[2019-03-12 06:26] andresusanopinto commented on #86
Links to ops:

* [tf.contrib.image](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/image/ops/image_ops.cc#L110)
* [tensorflow_addons.image](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/image/cc/ops/image_ops.cc#L95)

Looking at code it really seems that the op "ImageProjectiveTransformV2" from tf.contrib.image was renamed to "ImageProjectiv

[2019-03-12 16:58] seanpmorgan commented on #86
Thanks @andresusanopinto. I think you are correct that this is a problem even though we don't support 1.x because of saved models.

@karmel @martinwicke Should we maintain all V2 op naming just to be safe?

[2019-03-12 17:02] karmel commented on #86
Yes-- we continue to support v1 graphdef/ops in v2, so maintaining separate namespaces will help avoid collisions. Eventually, we will be able to prefix op names with appropriate namespaces (ie, tensorflow_addons:OP_NAME), but we don't do that yet.

[2019-03-12 17:05] seanpmorgan commented on #86
Thanks! Adding help wanted, and this bug fix would require reviewing all Ops that we've moved over.

[2019-03-12 17:13] seanpmorgan commented on #83
@facaiy Does it seem reasonable to replace numpy calls when it the expected values are understood (e.g. simpel matrix math), but to continue to use numpy when it is a pre-requiste to getting an answer? (e.g. large matrix math or as an input to a model evaluation)

[2019-03-13 03:26] WindQAQ commented on #26
Hey guys, some API design issues here:

Since `fn`, which is passed into [LossFunctionWrapper](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/losses.py#L127), should be with two positional arguments, however, `contrastive_loss`, `npairs_loss` and `npairs_loss_multilabel` implemented in [contrib](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/l

[2019-03-13 16:15] jharmsen commented on #86
Looks like there are only three ops in addon so far.

Two match:
- AdjustHsvInYiq [[contrib](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/image/ops/distort_image_ops.cc) | [addon](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/image/cc/ops/distort_image_ops.cc)]
- SkipGramGenerateCandidates [[contrib](https://github.com/tensorflow/tensorflo

[2019-03-13 18:12] jharmsen commented on #86
Going forward is the right thing to rename addon ImageProjectiveTransform to ImageProjectiveTransformV2?

[2019-03-13 19:11] martinwicke commented on #86
I think for now, yes -- that'll make sure that people can use the existing
SavedModels, etc.

For the future, we need to figure out proper namespacing.

[2019-03-14 09:03] facaiy commented on #83
Thanks for the great input, @Smokrow @karmel .

@Smokrow Yes, random data/variable is a good example, because its result is non-deterministic, so we have to write python function to calculate the result dynamically. Make sense for me, thank you!

@karmel

Similarly, another bad habit here is that, developer writes a tf implementation and a corresponding numpy implementation, and then just check wh

[2019-03-14 09:50] facaiy commented on #83
What I think is not a good habit is, to use a numpy custom implementation with random data to verify the correctness of tf implementation, for example, [TripletSemiHardLossTest](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/losses/python/triplet_test.p). Those tests are what I propose to revise.

And I agree with @karmel @seanpmorgan @Smokrow: it depends on context. And the cr

[2019-03-14 13:17] #86 closed

[2019-03-14 16:07] Smokrow commented on #83
I don't know if this is overkill, but the test-numpy function could be implemented by a different developer. In that case we would have 2 different opinions of the same paper. The test implementation would be written first and afterwards somebody else implements the paper in Tensorflow. (Maybe even without looking at the test case)

Of course the drawback would be a lot of extra work. (both on org

[2019-03-15 01:06] facaiy commented on #83
We have to take into account maintainability. If the numpy implementation is so good, I'm afraid it would be better to contribute it to numpy community.

[2019-03-15 02:51] fchollet commented on #26
The `Loss` class fundamentally assumes that a signature with 3 tensor arguments, `y_true`, `y_pred`, and `sample_weight`. We can't go around it.

I think the right pattern here isn't a `Loss` subclass but a `Layer` subclass. [Here's how it would work](https://colab.sandbox.google.com/drive/1mz1vtC-iVAkgMQLRZGNBSDTUqTowgSNK).

[code]

Then to use it, you just insert it in your model as you would do

[2019-03-15 08:25] Smokrow commented on #83
True 😄

[2019-03-15 13:49] seanpmorgan commented on #77
@yifeif bumping for your feedback, now that the summit is over and GPU op is in place on the custom-op repo. I noticed there is a crosstool build for nvcc on windows so I figured there's been some thought on this.

Without having dug too deeply on tensorflow/tensorflow BUILD, my first question is [how does it work to lookup .so files](https://github.com/tensorflow/tensorflow/blob/master/tensorflow

[2019-03-16 00:13] facaiy commented on #75
@dynamicwebpaige Paige, tf-2.0-preview has supported python 3.7 in https://github.com/tensorflow/tensorflow/issues/25429 . Could you tell us how did you do it?

[2019-03-16 18:06] kyleabeauchamp commented on #25
I have a random question.  It seems that `tf.keras.preprocessing.image.random_rotation()` is not deprecated but `tf.contrib.image.rotate()` is being deprecated?  It seems strange that a specific case ("a random rotation of a Numpy image tensor") is maintained but a useful but slightly more general tensor function is being pushed into addons.  I guess the only thing to do is implement `rotate()` he

[2019-03-18 01:16] kyleabeauchamp opened #94 "Entity could not be transformed"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-dev20190317 (gpu nightly)
- TensorFlow Addons installed from (source, PyPi): source
- TensorFlow A

[2019-03-18 01:23] seanpmorgan commented on #94
Hi Kyle, without looking too closely I see you're running py37 and said you installed from binary. As seen in #75 we don't have a [working py37 build yet](https://pypi.org/project/tensorflow-addons/0.1.1/#files).

Are you sure you're in the right environment?

[2019-03-18 01:28] seanpmorgan commented on #94
Oh, it seems you're running the test from the source code. The binaries found in `tensorflow_addons/custom_ops` are not built until you compile. For that reason it's probably recommended you use a pip install (or conda in the future). Alternatively [you could build and test using bazel](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md)

[2019-03-18 01:28] kyleabeauchamp commented on #94
I pip-installed TF from the wheel and compiled tf-addons from source using the following:

[code]

[2019-03-18 01:30] kyleabeauchamp commented on #94
I should also note that I had to make some bazel config changes to get the build working on my system (namely, setting `D_GLIBCXX_USE_CXX11_ABI=1` throughout).

[2019-03-18 01:37] kyleabeauchamp commented on #94
Last note: I've seen the same warning in very basic non-test calculations, but I figured executing the test script manually is a pretty good way to reproduce the issue initially.

[2019-03-18 02:21] WindQAQ commented on #26
Thanks for the suggestion! I do think this pattern is more flexible and beneficial to future extension.
@seanpmorgan and @facaiy, do you think addons can adopt this kind of design pattern instead of inheritance from `LossFunctionWrapper` as a unified interface. Or we can inherit from `LossFunctionWrapper` when it's possible but inherit from `Layer` when it comes to `ContrastiveLoss` case. Many tha

[2019-03-18 08:41] facaiy commented on #26
I'm fine with inheriting from `Layer`, but I'm not sure which module is appropriate for this kind of loss, `tfa.layer` or `tfa.loss`. @WindQAQ Could you pick one loss, say ContrastiveLossLayer, and write an example to show us how to use it with keras model?

[2019-03-18 09:48] WindQAQ commented on #26
It should be something like siamese network. `ContrastiveLossLayer` can return other values such as euclidean distance between two embeddings instead of loss. (Just a rough script here).
[code]

[2019-03-18 11:23] facaiy commented on #26
@fchollet Thanks for your advice! I note that [add_loss](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/Layer?hl=en#add_loss)

Is there a plan to support eager mode in the near future?

@WindQAQ Thank you, Tzu-Wei. I'm kind of curious if the solution (use `layer.add_loss` and `model.compile(loss=None)` will works as we expected. Hence it could be much helpful if we could

[2019-03-18 11:27] facaiy commented on #26
@seanpmorgan Sean, at the first glance at example provided by @WindQAQ , it seems that we should put `ContrastiveLossLayer` in the `tfa.layer` module. What do you think?

[2019-03-18 17:37] Squadrick commented on #5
@seanpmorgan Hey, can I implement this?

[2019-03-19 03:33] WindQAQ commented on #26
@facaiy Scripts are [here](https://gist.github.com/WindQAQ/70626d353145115b6c0e9977984e9938). I use MNIST and `sparse_categorical_crossentropy` as an example. Also, while I was implementing the scripts, I figured out some drawbacks if it's inherited from `Layer`

1. The labels should be treated as one of the inputs. You can find this in both @fchollet and my script. I think this is not so good whe

[2019-03-19 04:08] facaiy commented on #26
Nich work, Tzu-Wei, and thank you very much!

Yes, that's the drawback what I thought in the morning. It looks kind of counter-intuitive for user.

I have a question after skimming [the paper](http://yann.lecun.com/exdb/publis/pdf/hadsell-chopra-lecun-06.pdf
) .  Can we split `ContrastiveLoss` to two parts: 1, a layer to calculate `distance` between embeddings; 2, a loss `contrastive_loss(labels,

[2019-03-19 05:00] WindQAQ commented on #26
I think this is probably the implementation in [keras example](https://github.com/keras-team/keras/blob/master/examples/mnist_siamese.py). In this case, `ContrastiveLoss` can exactly take two signature arguments after `embeddings_anchor` and `embeddings_positive` are pre-computed as distances. Not sure if this will meet requirements for addons' community.

[2019-03-19 05:06] facaiy commented on #26
Great, looks good to me. @seanpmorgan Sean, what do you think?

[2019-03-19 05:13] facaiy commented on #94
@kyleabeauchamp Thanks for reporting this problem, Kyle! Would you like to fix it? I'm kind of busy this week, so I might have time to look into the issue next week.

[2019-03-19 05:15] kyleabeauchamp commented on #94
I'll certainly open a PR if I end up figuring out the solution, but it's not obvious that I'll figure it out before you, as I only recently started ramping up on 2.0.

[2019-03-19 05:16] facaiy commented on #94
@alextp Alexandre, do you know what the warning means?

[2019-03-19 05:22] facaiy commented on #94
@seanpmorgan @jharmsen Hi, is it related to #90?

[2019-03-19 05:24] facaiy commented on #68
Friendly ping @av8ramit

[2019-03-19 06:20] WindQAQ commented on #26
Similarly, in the cases of `npairs_loss` and `npairs_loss_multilabel`, I suppose that if leaving [L2 regularization terms](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/losses/python/metric_learning/metric_loss_ops.py#L276) behind, we can split into two functions, say

1. `compute_similarity_matrix(embeddings_anchor, embeddings_positive)`
2. and `npairs_loss(labels, simil

[2019-03-19 09:17] jharmsen commented on #94
I tried a `git revert f36d04f5f65573f1c88c5b7110cf939b1f654e99` and the issue was still present.
I can poke around a little more.

[2019-03-19 12:57] seanpmorgan commented on #94
A lot of the test coverage we moved over from contrib is incomplete and I think this bug is an example of something that should be caught (It's on the agenda to review the tests of the ported code). If I were to guess it seems like it's related to decorating the function with autograph, but I haven't dug in past that stack trace. Also a little busy, but I can take a look in a day or two if the err

[2019-03-19 13:18] seanpmorgan commented on #5
@Squadrick Absolutely, thanks for your effort!

[2019-03-19 13:29] seanpmorgan commented on #13
So re-opening this issue for a bit just to continue the discussion. Scott has mentioned that hes hesitant to decorate some seq2seq stuff with tf.function for fear of debug-ability loss (See #72 review) .

 We have noticed a possible issue in #94 that may be related to the liberal decorating, but I wanted to discuss our strategy a bit. It's certainly possible that in #94 we're seeing just a bug or

[2019-03-19 13:32] seanpmorgan commented on #75
cc @gunan. Is ubuntu 14.04 being used for the build or some other docker image?

[2019-03-19 13:39] karmel commented on #68
I am working on this now; sorry for the delay. Should have it ready in the next couple of days.

[2019-03-19 14:45] martinwicke commented on #13
@alextp FYI

Debugging alone shouldn't be grounds for not decoratign. for debugging etc. you can use `tf.config.experimental_run_functions_eagerly` (which temporarily disables running functions as functions).

[2019-03-19 17:19] qlzh727 commented on #13
As the API author, my take on this is that we shouldn't annotation python function with tf.functions by default, instead, we should let user annotation their function and call ours. With that our function will proper inherit the context (eager/graph) based on user's current context.

@alextp, is there any reason to enable tf.function by default from API perspective?

[2019-03-19 17:41] gunan commented on #75
For python 3.7, we had to base our builders off of ubuntu 16.04.
Everything else uses ubuntu 14.04

[2019-03-19 17:45] yifeif commented on #75
We will definitely need a new image for python3.7.

[2019-03-19 18:03] alextp commented on #94
@mdanatg I think the warnings from autograph need to be a little clearer. Can you comment here?

[2019-03-19 18:18] alextp commented on #13
@qlzh727 I think using tf.function in an API implementation, if safe, is a good way to help people get performance by default (both for graph building, as graphs with functions are smaller and quicker to build, and for eager execution).

[2019-03-19 19:43] mdanatg commented on #94
Yes, we're reviewing the warning messages, and planning to adjust this one as well. But I'm encouraged that the instructions in the warning allowed you to re-run the code with the diagnostic flag - that helps a lot.

To be clear, this is just a warning and probably doesn't affect the functionality of your code. So we probably want to include a flag that suppresses it for now.

Digging deeper for t

[2019-03-19 21:24] karmel commented on #68
These are now running, though failing: https://source.cloud.google.com/results/invocations/1b2b8286-1722-4c51-a05e-274bad80607b/targets/tensorflow_addons%2Fubuntu%2Fcpu%2Fsanity%2Fpresubmit/log

Looks like a unicode issue; @facaiy / @seanpmorgan can you take a look, and let me know if it's in the test or something we should fix in the test env?

[2019-03-19 22:06] facaiy commented on #68
Thanks, Karmel, I'll take a look later. By the way, it seems python 3.4?

[2019-03-19 22:43] qlzh727 commented on #13
Ack, one of side effect I am thinking of is that for any mathematical computation related python function, user kind of losses the ability to debug the tensor value if the function is wrapped by tf.function by default.

[2019-03-19 23:45] alextp commented on #13
Which is why we have the execute_functions_eagerly thing.

On Tue, Mar 19, 2019 at 3:43 PM Qianli Scott Zhu <notifications@github.com>
wrote:

--
 - Alex

[2019-03-20 12:25] facaiy commented on #68
@karmel I cannot reproduce it in the tensorflow/tensorflow:nightly-custom-op image:

[code]

Could you print the path before opening it?

https://github.com/tensorflow/addons/blob/3bf1b5fde8a2ba8b95f746ba01e8e14206a5bbfc/tools/test/check_futures_test.py#L51

[2019-03-20 14:03] seanpmorgan commented on #94
So just a recap:

- Regarding what I said about test coverage catching this... probably unlikely because its difficult to assert no warnings when addons depends on TF which depends on many other packages. I apologize for reading through the issue too quickly and not seeing the error came after the AUTOGRAPH env variable. That said we still need to re-evaluate the coverage for tf.contrib ports.
- @

[2019-03-20 15:24] alextp commented on #13
tf.config.experimental_run_functions_eagerly

On Wed, Mar 20, 2019 at 7:26 AM Qianli Scott Zhu <notifications@github.com>
wrote:

--
 - Alex

[2019-03-20 15:27] qlzh727 commented on #13
Ack, then I think its fine to annotation all the public method that handles tensor/variables with tf.function.

[2019-03-20 19:55] mdanatg commented on #94
Will do! Feel free to add me to the Assignees list but we linked an internal bog to the issue.

[2019-03-21 02:17] kyleabeauchamp commented on #3
This is partially related, but it might also be good to have a docstring or notebook somewhere that just showcases the most idiomatic way to minimize a `tf.function` in 2.0.  In particular, now that we have a function-first API, it may make sense to showcase some simple "low-level" scipy.optimize use cases.  Obviously this is somewhat orthogonal to implementing a Keras-compliant optimizer, but sti

[2019-03-21 05:21] facaiy commented on #13
+1 . And I'm wondering how to deal with those private methods? We once discussed it in https://github.com/tensorflow/addons/pull/35 without conclusion.

[2019-03-21 05:27] #83 closed

[2019-03-21 09:02] #78 closed

[2019-03-21 14:44] qlzh727 commented on #13
Good question. My take on this is from performance perspective.

Lets say we have func a, b, c and a -> b -> c (-> here means invoke). If all of them are wrapped with individual tf.function, then all of them will generate its own func_def on the graph level. On the other hand, if only a has tf.function, then a, b and c will be wrapped in one single func_def. Performance wise, I think there is a sm

[2019-03-21 17:00] alextp commented on #13
@qlzh727 No, actually. Using nested tf.functions actually helps graph building time if a function is called more than once in your graph.

Plus at execution time we can in principle (and in practice) inline all function calls and not pay any dispatch overhead.

So I'd rather have a graph with functions in it as it's smaller (and hence faster to build, serialize, etc) and more semantically meaningf

[2019-03-21 18:01] av8ramit commented on #78
No problem @facaiy glad I was able to help!

[2019-03-21 18:10] qlzh727 commented on #13
Ah, I see, thanks Alex. Apparently grappler function_optimizer does all the heavy lifting for inlining the functions, which means my argument of a -> b -> c above is not valid. I think then it is quite safe to annotate all the functions with tf.function if they handle tensor/variable.

@facaiy, You can take a look for https://github.com/tensorflow/tensorflow/blob/e41c382ffc16ed26d10e775e4facd0c641

[2019-03-21 21:47] #13 closed

[2019-03-22 02:15] facaiy commented on #13
Thank you for the input, @qlzh727 @alextp :-)

[2019-03-22 13:39] facaiy commented on #68
Gently ping @karmel @av8ramit

[2019-03-22 13:48] karmel commented on #68
Sorry— I’m OOO, but will be able to take a look next week.

On Fri, Mar 22, 2019 at 6:39 AM Yan Facai (颜发才) <notifications@github.com>
wrote:

[2019-03-22 22:13] facaiy commented on #68
That's fine, please update the issue when new information becomes available :-)

[2019-03-24 14:12] shreyashub commented on #25
Is anybody working on "translations_to_projective_transforms"? If not, can I get some pointers on how to start?

[2019-03-25 18:02] av8ramit commented on #68
Here is what I get. Do you want me to update to Python3.5?

[code]

[2019-03-25 21:19] Smokrow commented on #25
@shreyashub is looks like "translate" is connected to this as well. I think it is easy to do this in one go :)

[2019-03-26 03:36] facaiy commented on #68
No, Amit, I don't think py3.5 can fix the problem. We expect that [check_futures_test.py)](https://github.com/tensorflow/addons/blob/master/tools/test/check_futures_test.py) only checks those python files of addons. It looks amazing that tf/bin/activate_this.py is in the addons directory?

[2019-03-26 03:39] facaiy commented on #68
Amit, do you know what is the location of the tf/lib directory? Is it in the tensorflow_addons?

[2019-03-26 14:15] guillaumekln opened #104 "Rename LazyAdamOptimizer to LazyAdam"
All core optimizers in TensorFlow 2.0 dropped the "Optimizer" suffix: "Adam", "Adadelta", etc. (see the [module overview](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/optimizers)). For consistency, optimizers defined in tensorflow/addons should probably follow the same naming convention.

So I propose to rename `LazyAdamOptimizer` to `LazyAdam`.

[2019-03-26 18:04] av8ramit commented on #68
@facaiy yeah I think that's it. I moved the virtualenv outside of the addons directory and [it works now](https://source.cloud.google.com/results/invocations/9997a63d-d0a3-4e55-b93c-3354878be2d7/targets).

[2019-03-26 19:28] seanpmorgan commented on #68
Thanks for the help!

[2019-03-26 20:23] seanpmorgan commented on #68
@av8ramit Is there an issue with displaying the logs?

For example see this report:
https://source.cloud.google.com/results/invocations/bb8ac7a3-2ef6-487d-a221-e639f83cf410bmit/log

Coming from this PR:
https://github.com/tensorflow/addons/pull/102

[2019-03-26 20:33] square-1111 commented on #104
Hi @guillaumekln
Can I work on the issue?
Thank You

[2019-03-26 21:11] av8ramit commented on #68
I didn't change anything. Might have just taken a few minutes.

[2019-03-26 21:18] #68 closed

[2019-03-27 03:16] dynamicwebpaige commented on #104
+1! Would prefer to keep the terminology consistent between TensorFlow Core and addons.

[2019-03-28 03:49] facaiy opened #106 "Replace ops.name_scope by tf.name_scope"
Examples:

https://github.com/tensorflow/addons/blob/8dad6d2f9b8a7d8a6c103249e960185d1f573488/tensorflow_addons/image/distort_image_ops.py#L134

https://github.com/tensorflow/addons/blob/8dad6d2f9b8a7d8a6c103249e960185d1f573488/tensorflow_addons/image/transform_ops.py#L74

We should use tf public API `tf.name_scope`.

[2019-03-28 03:52] facaiy commented on #106
ops.convert_to_tensor is also need to be replaced by tf.convert_to_tensor

[2019-03-28 03:53] facaiy commented on #106
By the way, it's easy to find all files by running `git grep --name-only 'ops.name_scope'`

[2019-03-28 04:45] kyleabeauchamp commented on #106
The suggestion made above `(tf.name_scope(name))` does not work and leads to an exception due to the possibility of `name=None`:

[code]

One possible workaround would be to do ` with tf.name_scope(name):` and cast None -> string.

[2019-03-28 05:25] facaiy commented on #106
Good question. We can give it a default value by `with tf.name_scope(name or default_name)` :-)

[2019-03-28 17:51] shreyashub commented on #104
if nobody is working on it, can I work on it? @seanpmorgan

[2019-03-28 18:15] shreyashub commented on #106
@facaiy I would like to work on it

[2019-03-29 00:34] armando-fandango commented on #104
@shreyashub Seems like squadrick's pull request closed this issue.

[2019-03-29 02:04] shreyashub commented on #106
Sure, I'll work on it. Any tips on how to start?

[2019-03-29 03:05] armando-fandango commented on #106
@shreyashub You can begin by cloning the code, running in the docker container as explained on the home page, and once the code works as is, then create your branch, search for all the files with the help of grep command suggested by @facaiy, change the code, and then test it again. Let us know if that helps you start.

[2019-03-29 03:11] armando-fandango commented on #77
Doesn't autconf or ./configure figure out the dll/dylib/so dependencies ?

[2019-03-29 03:17] armando-fandango commented on #77
pip install tf-nightly-2.0-preview fails on mac with the following error:
Could not find a version that satisfies the requirement tf-nightly-2.0-preview (from versions: )
No matching distribution found for tf-nightly-2.0-preview

[2019-03-29 04:14] facaiy commented on #106
Welcome, Shreyas :-)
And you might want to read our guide for contributor as well: https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md

[2019-03-29 07:12] a6802739 commented on #22
@seanpmorgan, Sorry for late interaction. So what I should do now is  `move CRF from contrib to the directory addons/tensorflow_addons`,  and change the corresponding  test in tensorflow, right?

[2019-03-29 07:41] shreyashub commented on #106
@armando-fandango @facaiy Thank you for such a kind and warm welcome.
 I'll proceed as advised and let you know if anything comes up.

[2019-03-29 13:04] seanpmorgan commented on #22
Hmmm move the code and change the tests/code in addons to match the TF2 syntax would be how I would word that.

[2019-03-29 13:13] #104 closed

[2019-03-29 13:14] seanpmorgan commented on #104
Yes, but we'll be adding several more good first issues in the near term :)

[2019-03-29 19:41] seanpmorgan opened #112 "Packaged Addons don't run on tf-nightly-2.0"
While packaging 0.2.0 release of addons, I realized that if the pip package was built against `tensorflow==2.0.0-alpha0` the installed package would not correctly work on the tf2-nightly install.

The error is:
[code]

Digging in further I thought that something may have gone awry in the build for this version, but when I checked a previous version (0.1.1) I noticed it also failed to load on the c

[2019-03-29 19:43] seanpmorgan commented on #75
Addons 0.2.0 has a py37 available on pypi

[2019-03-29 20:09] armando-fandango opened #113 "Rename transform_test.py to transform_ops_test.py for consistency"
In the folder https://github.com/tensorflow/addons/tree/master/tensorflow_addons/image, rename transform_test.py to transform_ops_test.py to be consistent with naming of test files.

[2019-03-29 20:20] seanpmorgan opened #114 "Add project description to package and pypi"
As is done here: https://github.com/tensorflow/tensorflow/blob/cfbbbe3b2e034438437cf5c9fa46756ae4d0b2d5/tensorflow/tools/pip_package/setup.py#L248

We should include the description found in the README

[2019-03-30 01:12] seanpmorgan opened #116 "Add a bot to email mailing list"
We currently have an issue tag `Discussion Needed`. As @facaiy suggested, it would be great if those tags were sent to the mailing list addons@tensorflow.org .

If we could create a bot which searched for these tags and emailed the listserv when they are created, I think that'd be a very helpful addition to our repo. A starting point could be here: https://github.com/probot/probot

[2019-03-30 01:17] seanpmorgan opened #117 "Confirm user wishes to install tf2 in build script"
Currently if a user decides to build from source we instruct them to run `configure.sh`. During this script we pip install tf2-nightly, though this may not be understood to the user before running. We should add a `yes/no` prompt so this potentially problematic command is understood by the user

https://github.com/tensorflow/addons/blob/master/configure.sh#L38

[2019-03-30 01:25] seanpmorgan opened #118 "Implement GPU kernels"
Currently we've omitted the gpu kernels from addons while we got everything setup. Now that CI testing is setup for GPU we should begin adding these to addons. There's a lot of things required so I wanted to start this issue so we can track / discuss.

Some of the TODO:
- [x] Add gpu kernels and compile them as shown in the [custom_op template](https://github.com/tensorflow/custom-op) which now in

[2019-03-30 01:30] seanpmorgan opened #119 "Make whls manylinux2010 compatible"
Currently our manylinux1 packages are breaking spec. This is the same issue for TensorFlow core and many other pip packages with C++ linking. Creating this issue to track the problem and we'll make the switch once the new BUILD toolchain is finalized.

Tracking:
https://groups.google.com/a/tensorflow.org/forum/#!topic/build/Xo190xAPyW8

[2019-03-30 04:18] facaiy commented on #112
seems related to InferenceContext? Not found?

https://github.com/tensorflow/addons/blob/1ce8a5b4518e16901d4cf2659ad030c8774fc316/tensorflow_addons/custom_ops/image/cc/ops/distort_image_ops.cc#L22

[2019-03-30 04:24] shreyashub commented on #106
https://github.com/tensorflow/tensorflow/blob/8886c844249703a0dcd79eba53a40bfbd5c11b9f/tensorflow/python/framework/ops.py#L6444
As far as I can see in the tf.name_scope(), it no longer takes default_name and values as arguments.
To resolve default name we can use `tf.name_scope(name or default_name)` , but I'm confused as to how we can resolve the values part.

[2019-03-30 10:01] #113 closed

[2019-03-31 03:07] a6802739 commented on #22
@seanpmorgan, Thank you for you help, and could you please give me some PR reference that I could follow?

[2019-04-01 12:11] guillaumekln opened #124 "Cleanup seq2seq API symbols"
The `seq2seq` module simply exports each of its implementation file. It should export selected symbols instead for the README examples to work.

[2019-04-01 12:21] guillaumekln opened #125 "Segmentation fault with tfa.seq2seq.gather_tree"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: 2.0.0a0
- TensorFlow Addons installed from: PyPi
- TensorFlow Addons version: 0.2.0
- Python version and type: 2.7.12 (stock)
- Is GPU used? No

**Describe the bug**

The `gather_tree` function from the `seq2seq` module fails with a *Segmen

[2019-04-01 12:26] seanpmorgan commented on #125
@qlzh727 Mind taking a look when time allows? Possible this could be related to the packaging, but we'll see.

[2019-04-01 14:18] qlzh727 commented on #124
Ack, I will do some cleanup, probably later this week.

[2019-04-01 14:28] qlzh727 commented on #125
Humm, the gather_tree will eventually use a c op, which might be the cause here. Is there any log before it throw the error?

@seanpmorgan, we do have a unit test for gather_tree in https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/beam_search_ops_test.py. I am wondering is there any similar issue raised from user about using c ops after the recent reorg of the ops?

[2019-04-01 17:02] seanpmorgan commented on #125
Not that I've seen... for example here is a call to the c ops in image
https://colab.research.google.com/drive/1_RFgu_glO5bJ1PRcxsMtiBR708fjsW7a

When I tried to run the snippet from above though... I got a kernel restart so will need to run locally in order to see what the crash says. Hopefully will have time to look into this a bit in the next day or so

[2019-04-02 01:18] karmel commented on #112
@yifeif @goldiegadde -- any clues here?

[2019-04-02 06:22] AakashKumarNain opened #126 "Add new metrics for tf.keras"
Can we please add `metrics` as well to the `tensorflow_addons` directory? There are many metrics that are used on a daily basis by many Data Scientists/ML engineers but they are still not available in `tf.keras`. Some of them are:
* Cohen's Kappa
* IOU for bounding boxes
* f1/f-beta score

[2019-04-02 07:57] huan opened #127 "Add "Project Description" when publishing to PyPI"
If we goto PyPI module page https://pypi.org/project/tensorflow-addons/, we will not see any document about this module: It's empty.

We should add a project description to this page so that the developer could be able to understand what this module is easier.

[2019-04-02 12:19] seanpmorgan commented on #127
Thanks @huan! Just created this a few days ago though so duplicate of #114

[2019-04-02 12:19] #127 closed

[2019-04-02 12:24] guillaumekln opened #128 "Make tfa.seq2seq.AttentionWrapper 2.0 compatible"
The `AttentionWrapper` class is currently not compatible with TF2.0:

* it extends `tf.compat.v1.nn.rnn_cell.RNNCell` instead of `tf.keras.layers.AbstractRNNCell`
* it uses `tf.compat.v1.layers.Dense` instead of `tf.keras.layers.Dense`
* attention layers are saved in a `tuple` instead of a `list` which prevent them to be tracked

I can contribute to this change, unless this is a WIP by @qlzh727.

[2019-04-02 12:59] Gokkulnath commented on #114
@seanpmorgan  I would like to fix this issue. Do you want me to follow the same approach as the link referenced ?

[2019-04-02 13:02] Gokkulnath commented on #114
@seanpmorgan  I would like to fix this issue. Do you want me to follow the same approach as the link referenced ? How can i verify whether the description is getting updated without pushing the changes? Any way to verify Locally would be very helpful. Thanks in advance

[2019-04-02 13:05] seanpmorgan commented on #114
@Gokkulnath Thanks! I would say that the way it's done in tensorflow is an acceptable way, but not required.

Testing the description on PyPi is a little tough. You could create a package on pypt-test to make sure it works, but I think just a review by a maintainer should be enough. Great idea though,  test everything should be the general rule!

[2019-04-02 13:59] seanpmorgan commented on #112
I don't think this is related to #130 but thought but thought id mention it so we can keep track of issues we're having linking with tf2-nightly

[2019-04-02 14:18] qlzh727 commented on #128
Ah, sure. Contribution are welcome :)

[2019-04-02 14:29] seanpmorgan commented on #77
Had some time to look at the tensorflow build wrappers. Seems like we'll need to do something along these lines for the multi OS build

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorflow.bzl#L599

[2019-04-02 14:44] seanpmorgan commented on #125
So I'm unable to replicate this on my local PC, but do get a crash on colab with no error message to work with. Because this works on local PC and passes tests which run this I'm heavily leaning on this being related to #119

An example of core dump due to improper packaging can be seen here
https://github.com/apache/arrow/issues/1450

@guillaumekln were

[2019-04-02 14:46] seanpmorgan commented on #125
On second thought no totally sold its related to the packaging, because the same sequence of imports on different computers should both crash (if I totally follow the packaging issue).

[2019-04-02 14:50] guillaumekln commented on #125
No, it was a plain *Segmentation fault*. Will try to dig deeper.

[2019-04-02 15:34] seanpmorgan commented on #125
Thanks, here is another (probably) related issue. I bumped to gcc5 so we could build a py37 whl but that was probably not worth it. I'll get feedback from the SIG BUILD meeting today and push a 0.2.1 soon

https://github.com/tensorflow/tensorflow/issues/27067

[2019-04-02 15:38] seanpmorgan commented on #112
Pretty sure this is related to:
https://github.com/tensorflow/tensorflow/issues/27067

[2019-04-02 16:01] seanpmorgan commented on #112
Marking this as blocked because tf2-nightly and tf2-alpha have different shared library names so our builds wouldn't work on both of them regardless.

[2019-04-02 16:20] huan commented on #127
@seanpmorgan Great! sorry for having not noticed that old one.

[2019-04-02 16:42] seanpmorgan commented on #125
@guillaumekln This should be fixed in 0.2.1 can you please confirm?
Looks good on the [colab notebook](https://colab.research.google.com/drive/16oMlt88q1vM2TS1RCyd6ZiDcKGHnh4B4)

[2019-04-02 16:49] seanpmorgan commented on #75
Bumping to ubuntu16+GCC5 caused issues issues as seen here in the most recent builds of TF:
https://github.com/tensorflow/tensorflow/issues/27067

This will remain unsoved until the manylinux2010 toolchain is finalized. See #119

[2019-04-02 18:37] seanpmorgan commented on #77
Good point. Yeah the `readlink` or whatever we build with should discover the `libtensorflow_framework`, but the C++ ops we compile ourselves are currently hardcoded as `.so` files.

[2019-04-02 18:48] guillaumekln commented on #125
Yes, looks like it is working now. Thanks!

[2019-04-02 18:48] #125 closed

[2019-04-03 01:43] seanpmorgan commented on #22
Hi @a6802739

Yes that is correct.

This is where I'm confused.  You'll need to move the code from contrib, but then modify it to use the unifed RNN class in TF2. This will come with some changes to the code so that it runs correctly. To be honest, this is not the most straightforward of all the issues we need help with. It might be easier to move something that already has an example PR we can po

[2019-04-03 04:44] armando-fandango commented on #126
Some of the other metrics/loss functions that could be added are for example pinball loss and SMAPE loss, both from the field of time-series.

[2019-04-03 11:51] guillaumekln commented on #124
I can also work on that if you accept contributions on this point.

[2019-04-03 12:21] guillaumekln opened #134 "Use TensorFlow public APIs in seq2seq module"
As mentioned in #72, the seq2seq module should use TensorFlow public APIs. This issue is to track progress on this task.

* [ ] attention_wrapper.py
* [ ] attention_wrapper_test.py
* [ ] basic_decoder.py
* [ ] basic_decoder_test.py
* [ ] beam_search_decoder.py
* [ ] beam_search_decoder_test.py
* [ ] beam_search_ops_test.py
* [ ] decoder.py
* [ ] decoder_test.py
* [x] loss.py
* [x] loss_test.py
* [

[2019-04-03 13:41] alew3 commented on #112
Is there any workaround to get tensorflow addons working with tf-nightly?

[2019-04-03 13:44] seanpmorgan commented on #112
[Build from source](https://github.com/tensorflow/addons/blob/master/README.md#installing-from-source) would be the only way for now. As soon as we can get a tf2-beta version that includes the new so versioning then it'll be compatible with both again.

Just a note though: there was a breaking change last night which will be fixed once #135 gets merged

[2019-04-03 13:46] seanpmorgan commented on #112
Alternatively we could setup a nightly addons package which would work. But that requires #76 to be finished

[2019-04-03 14:39] qlzh727 commented on #124
That will be great. Thanks for all the contribution.

[2019-04-03 17:18] a6802739 commented on #22
@seanpmorgan , Thanks for you kind help, I will have a try then. Could you please point me the example PR and the ongoing issue about optimizer.

[2019-04-03 17:30] alew3 commented on #112
@seanpmorgan I was trying to build from sources with the dockerfile, but it is using Python v2.7, how do I change this to Python 3.6? I started editing files, but it was so many changes I think I was doing it wrong.

[2019-04-03 17:32] Gokkulnath commented on #61
@seanpmorgan  I would like work on this.. I am creating a branch in my fork to work on it.. do you want the single PR or multiple incremental ones ? Is there any Callback feature you are looking for ? i am thinking of implementing OneCycleLR Policy as an example. Thanks in advance

[2019-04-03 17:44] seanpmorgan commented on #112
Ah yeah, apologies we have no automated build script yet for you to see an example (should soon though).

You can [install python3.6](https://askubuntu.com/questions/865554/how-do-i-install-python-3-6-using-apt-get) and set your paths appropriately before building. Alternatively you can just install Miniconda and create a new env. By switching with `conda activate` it'll set the paths correctly an

[2019-04-03 17:47] #124 closed

[2019-04-03 19:29] #128 closed

[2019-04-03 19:47] #114 closed

[2019-04-03 20:07] seanpmorgan opened #138 "Dense Image Warp tests are flaky"
Recently we've seen that #53 is causing flaky failures in the CI. See:
https://source.cloud.google.com/results/invocations/8f31faef-505a-440e-b75f-e6edf1071269/targets/tensorflow_addons%2Fubuntu%2Fgpu%2Fpy3%2Fpresubmit/log

Do you mind taking a look when time allows @WindQAQ ?

[2019-04-03 20:12] alew3 commented on #112
@seanpmorgan  I thought this was going to be simpler, but after trying many things I'm now stuck :-(. This is what I did. It is building, but I get an error: "tensorflow.python.framework.errors_impl.NotFoundError: libtensorflow_framework.so.2: cannot open shared object file: No such file or directory"

$ git clone https://github.com/tensorflow/addons.git
$ cd addons

$ docker run --rm -it -v ${PWD

[2019-04-03 20:23] seanpmorgan commented on #25
@kyleabeauchamp This is a fair comment. We have not yet worked out the process of things moving from addons to core -- though this may be a good candidate when we do.

[2019-04-03 20:35] seanpmorgan commented on #112
@alew3 sorry for the troublesome experience, we're making some daily breaking changes against nightly. Can you check the daily version of the tf2-alpha you install? yesterday the framework was named so.1

[2019-04-03 20:39] alew3 commented on #112
@seanpmorgan thanks for your help!
I just installed the latest tf-nightly and now it doesn't even load tensorflow, so I guess  things are a bit turbulent at the moment .. :-) I'm going to revert to an older version.

[2019-04-04 01:36] WindQAQ commented on #138
Seems that it is the behavior of `tf.debugging.assert*` that we investigated in #53 results in the error.
But I'm not so sure why the test fails even if it runs in eager mode only.

[2019-04-04 01:40] WindQAQ commented on #138
Okay, I find that the following script also fails in tf 2.0.0-dev20190403. CC @tomerk for visibility.
[code]

[2019-04-04 19:23] Mainak431 opened #141 "@test_utils.run_all_in_graph_and_eager_modes creates bug while testing with eager mode enabled"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0
- TensorFlow Addons installed from (source, PyPi): pypi
- TensorFlow Addons version: 1.12
- Python version

[2019-04-04 19:24] Mainak431 commented on #141
@seanpmorgan Please fix this issue.

[2019-04-04 22:56] seanpmorgan commented on #141
@Mainak431 this error is telling you that you're attempting to call `.numpy()` on a Tensor in graph mode. This fails and is why we run with that decorator on our tests. All addons need to be able to run in either graph or eager. Eager by default does not mean eager only.

If there are questions please ask in your PR #111

[2019-04-04 22:56] #141 closed

[2019-04-05 02:17] Yudonggeun opened #142 "pip install tensorflow-addon with mac"
Error executing pipe install sensorflow-addons on the Mac.

Error:
"""
  Could not find a version that satisfies the requirement tensorflow_addons (from versions: )
No matching distribution found for tensorflow_addons
"""

[2019-04-05 02:23] seanpmorgan commented on #142
Hi, currently we're only uploading linux pypi packages, but we're hoping to have that solved in the near future. Please see #77

In the meantime you can [build the package from source if you'd like](https://github.com/tensorflow/addons#installing-from-source) but note that you'll need to run against `tf-nightly-2.0-preview`

[2019-04-05 02:23] #142 closed

[2019-04-05 04:56] armando-fandango opened #143 "./configure.sh fails on mac with conda python 3.7"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OSX 10.14.3
- TensorFlow installed from (source or binary): none
- TensorFlow version (use command below): none
- TensorFlow Addons installed from (source, PyPi): source
- TensorFlow Addons version: latest master

[2019-04-05 05:14] armando-fandango commented on #143
Depends on fixing of https://github.com/tensorflow/tensorflow/issues/27470

[2019-04-05 12:35] seanpmorgan commented on #143
We currently have no way of providing python 3.7 whl's and are waiting for the new BUILD toolchain (see #119 )

Once the toolchain is complete... tf-nightly will begin publishing 3.7 wheels and our configure script will work again. Closing as there is nothing we can do here and as of today we do not support python3.7

[2019-04-05 12:35] #143 closed

[2019-04-05 12:54] seanpmorgan commented on #138
@WindQAQ So while this does look like a bug... is there any reason we need to be using `tf.debugger` for the checks in dense_image_warp? I believe the uses can all be checked using the python interpreter?

[2019-04-05 13:19] WindQAQ commented on #138
The checks are all about shape inference. If `tf.function` can handle the task of `None` shape or this is even not a problem in TF 2.0, I think the checks can definitely use simple `assert`, `if` and `raise` instead.

[2019-04-05 13:25] seanpmorgan commented on #138
Could we try a PR that uses just `if` and `raise` and then make sure there is a test case that will fail if it doesn't properly trap shape issue?

[2019-04-05 13:43] WindQAQ commented on #138
Sure, I'll create a PR in one or two days :-)

[2019-04-07 13:56] armando-fandango commented on #134
@seanpmorgan started working on yesterday since it seems little more complicated to be good first issue.

[2019-04-07 14:08] seanpmorgan commented on #134
Thanks @armando-fandango see this PR as an example:
https://github.com/tensorflow/addons/pull/55

[2019-04-07 14:14] armando-fandango commented on #134
@guillaumekln @qlzh727 In https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/decoder_test.py on line 65 and 142, my_decoder object is being called, but it doesn't look like the base class hierarchy is made callable, though there is a call() function with almost same signature as in line 65/142.. so was that function supposed to be __call__ ? Thought of asking before I dig d

[2019-04-07 14:44] armando-fandango commented on #134
I remember there was a discussion on this before... did we finally agree to use distributions from tfp ?

[2019-04-07 15:13] seanpmorgan commented on #134
No we do not plan on depending on tfp. Which imports are you referring to?

[2019-04-07 15:20] guillaumekln commented on #134
It is callable: `BasicDecoder` extends `BaseDecoder` which extends `keras.layers.Layer` which itself implements `__call__`.

See also the recommended way to subclass `Layer`:

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/Layer

[2019-04-07 16:45] armando-fandango commented on #134
pylint keeps throwing these errors.

`tensorflow_addons/seq2seq/decoder_test.py:63: [E1102(not-callable), DecodeRNNTest._testDecodeRNN] my_decoder is not callable

tensorflow_addons/seq2seq/decoder_test.py:140: [E1102(not-callable), DecodeRNNTest._testDynamicDecodeRNNWithTrainingHelperMatchesDynamicRNN] my_decoder is not callable`

submitting pull request.

[2019-04-07 19:54] seanpmorgan commented on #126
Per our discussion in the monthly meeting this seems like it would be a good subpackage. To start we could begin by defining the API structure for the subpackage and an example metric. f1 score should be pretty easy to implement, seeing as precision and recall are already built in to tf.keras.metrics

[2019-04-07 23:02] armando-fandango commented on #134
Sorry my bad, I was looking at some other code in parallel that was using distributions.

[2019-04-08 04:04] WindQAQ commented on #138
In the latest docker image (tf==2.0.0-dev20190405), I find that the error is caused by `test_zero_flows`. The workaround is to disable test in graph mode. Still working on replacing `tf.debugging` with pure `if` and `raise` statement.

[2019-04-08 13:20] lgeiger commented on #24
Looks like CI is up and running now. @PhilJd are you still working on this issue?

[2019-04-08 14:10] armando-fandango commented on #24
@lgeiger @PhilJd Best way is to create an issue and assign to yourself, and if you are not working on it anymore then un-assign yourself :-) That way we can resolve who is working on what in a distributed way :-)

[2019-04-08 16:48] armando-fandango commented on #138
@WindQAQ One more is failing that is blocking us to continue building or testing with master:
[code]

[2019-04-08 18:22] seanpmorgan commented on #118
@gunan @martinwicke Is there anyway we can see how https://github.com/tensorflow/community/pull/2 is progressing?

We've been discussing how we would like to package an Addons that includes GPU kernels and I believe we'll be depending on this in order to have a single pip package that loads either gpu or non gpu kernels. Is that correct? Publishing an `addons-gpu` does not seem like a good idea if

[2019-04-08 18:27] gunan commented on #118
@yifeif and I are working towards this
We are hoping to deliver this in Q2

[2019-04-08 22:01] seanpmorgan opened #151 "Global ignore pylint not-callable"
We've had several issues with pylint throwing object not callable errors. I suspect that this is all due to the tf export paradigm described in this thread:
https://groups.google.com/a/tensorflow.org/forum/#!topic/addons/-QEXKmznCdA

I believe pylint is unable to follow the inheritance on the public API and it will fail because of that. I worry that contributors will get discouraged with the style

[2019-04-08 22:05] kyleabeauchamp commented on #151
Seems reasonable to me as a temporary bandaid.  I think streamlining the review process is worthwhile so that new contributors can better separate signal from noise.

[2019-04-08 22:29] armando-fandango commented on #138
@WindQAQ one more is failing now, sorry it was not failing earlier:

[code]

[2019-04-08 23:27] armando-fandango commented on #151
Totally agree @seanpmorgan  Better to add global ignore in our make/build/pylint config instead of adding `#disable: non-callable`.in the code everywhere. That way some day when pylint starts working with tf public API exports, we can remove the global ignore easily, but searching and removing from all of our code files would a bit of work.

[2019-04-09 03:13] WindQAQ commented on #138
@armando-fandango I cannot reproduce this error now. Is this on the CI build or your local machine? Thanks!

@seanpmorgan Hi Sean, I'd suppose it is not easy due to `tf.function`'s state. Seems that the following code snippet will not result in multiple distinct graphs being traced, and thus, `ValueError` is also raised when `shape=[3, 3, 3]`. Sorry that I am not familiar with `tf.function` and no

[2019-04-09 15:35] PhilJd commented on #24
Sorry, the last few weeks have been extremely busy and to make matters worse  my machine broke. Now I'm set up again, I've adapted the optimizer, only tests are still missing. I'll be able to finish and open the pull request tomorrow, finally :)
Sorry again!

[2019-04-09 16:01] armando-fandango commented on #138
This is on latest custom-ops container with master branch. I have two macbooks, and it fails only on one of them.

[2019-04-09 16:23] armando-fandango commented on #138
Do we need to add make clean in case something is getting cached ?

[2019-04-10 01:34] facaiy commented on #126
@AakashKumarNain Hi, Aakash, would you like to make a contribution? By the way, thank you for mentioning Cohen's Kappa, which was implemented by me, haha :-)

[2019-04-10 01:49] facaiy commented on #151
Yeah, agree, and I create a PR to fix it.

[2019-04-10 02:24] WindQAQ opened #156 "Unify styles of custom operations"
Currently, custom operations in addons have no unified styles. For example
the `name` argument in
https://github.com/tensorflow/addons/blob/463112e6e7c8d3623d3d97e6b1f365d1c403f2c4/tensorflow_addons/image/dense_image_warp.py#L161
and
https://github.com/tensorflow/addons/blob/463112e6e7c8d3623d3d97e6b1f365d1c403f2c4/tensorflow_addons/image/transform_ops.py#L38-L42
are not consistent.

As per [codin

[2019-04-10 02:54] facaiy commented on #156
Good catch, I think `None` is better for default value, because it's easy to maintain compatibility.

[2019-04-10 02:56] WindQAQ commented on #138
It's weird. Seems that the behavior varies from machine to machine. I think another workaround is not to use `tf.function` on this temporarily, but this might not meet the requirements for addons. Or we can just wait for `tf.debugging.assert*` working as expected...

[2019-04-10 03:00] facaiy commented on #106
@shreyashub Sorry for the delay, I afraid we don't need `values` attribute any more in tf 2.0.
cc @karmel  Karmel, please correct me if I'm wrong.

[2019-04-10 03:44] WindQAQ commented on #156
Got it, I'll create a PR for image ops first.

[2019-04-10 05:40] AakashKumarNain commented on #126
@facaiy Sure. Actually, before I was aware of `addons`, I submitted a PR to TF repo. Check this https://github.com/tensorflow/tensorflow/pull/25051#event-2258495550

[2019-04-10 11:53] seanpmorgan commented on #138
Yeah so I believe it'll fail on every machine with enough runs. I'm fine with a removal of tf.function for the time being... but we should look into a removal of tf.debugging as a long term fix

[2019-04-10 12:14] #151 closed

[2019-04-10 16:12] PhilJd commented on #24
I'm still fighting import errors of the built addons (`_image_ops.so` not found), so this might be delayed until tomorrow :(

[2019-04-10 16:35] seanpmorgan commented on #24
@PhilJd so that occurs when trying to import tfa (e.g. running a test) using just the repository source code. You'll need to compile the C++ code ahead of time so those .so files can be found. We do this by testing with bazel. Check out the [contributing readme](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md) to see the recommended way to run tests.

[2019-04-10 16:38] AakashKumarNain commented on #126
@facaiy We need to import `class Metric(Layer)` in `keras_utils.py` so that we can directly import it in the `metrics` subpackage without defining the class explicitly. It will be similar to how `LossFunctionWrapper` class has been imported. What do you say?

[2019-04-10 17:18] karmel commented on #106
@facaiy that is my understanding as well.

[2019-04-11 09:20] facaiy opened #163 "Remove `__init__.py` in custom_ops directory"
When reviewing #140, I find we forget to remove init python file in tensorflow_addons/custom_ops?
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/__init__.py

cc @seanpmorgan Sean, what do you think?

[2019-04-11 10:33] facaiy commented on #126
I would say that it sounds reasonable. cc @seanpmorgan Sean, what do you think?

[2019-04-11 11:00] seanpmorgan commented on #163
Yes no need for this file. As you mention its leftover from the custom op re-org

[2019-04-11 11:25] seanpmorgan commented on #126
Yes, but it should also be included in our API issue sent to core. I'll be sure to include it and send the issue this week (was just waiting until we had a complete list... but that may never happen)

[2019-04-11 13:22] armando-fandango opened #165 "Build fails on tf-nightly due to new protobuf"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): custom-op container
- TensorFlow installed from (source or binary):  custom-op container
- TensorFlow version (use command below):  custom-op container
- TensorFlow Addons installed from (source, PyPi):  custom-op con

[2019-04-11 13:25] armando-fandango commented on #165
Caused due to this: https://github.com/tensorflow/tensorflow/issues/27697

[2019-04-11 13:29] seanpmorgan commented on #165
Not related to custom_op container. This is a bug in tensorflow nightly

[2019-04-11 14:17] armando-fandango commented on #165
I saw someone put the fix in the TF issue but not pull request, would it be considered code-piracy if I take that code snippet and submit a pull request for TF so we can move on faster :-)

[2019-04-11 14:24] seanpmorgan commented on #165
The code snippet in that issue is pointing to the problem, but it does not include a fix. Once a PR is merged we'll need to wait until the following nightly is published.

[2019-04-11 18:12] armando-fandango commented on #165
Yes, I misspoke, I meant if I take that hint. :-)

[2019-04-12 02:43] seanpmorgan opened #168 "Add example information to contribution guidelines"
I wanted to start an issue to discuss our examples. I think it's probably best that we upload a slightly modified [template](https://github.com/tensorflow/docs/blob/master/tools/templates/notebook.ipynb) which includes whatever changes we'd like for TFA.

Some notable changes:
* Personally I think images should be allowed in the saved outputs. Git diffs are tough, but with reviewNB I think it's fi

[2019-04-12 14:24] seanpmorgan opened #171 "Bug: WeightNorm variable aggregation"
**Describe the bug**

Since https://github.com/tensorflow/tensorflow/commit/68c4b5234f2c722031f4386f31b8e48a4ec31b2b our nightly test is failing with the error: `ValueError: Invalid variable aggregation mode: VariableAggregationV2.MEAN for variable: g`

@allenlavoie would you be able to explain this error a little more? The call in addons is:
https://github.com/tensorflow/addons/blob/master/tensor

[2019-04-12 16:20] allenlavoie commented on #171
Yep, that's annoying. Guess we need a hacky isinstance check there.

[2019-04-12 18:27] allenlavoie commented on #171
Should be fixed by https://github.com/tensorflow/tensorflow/commit/138bbd7f318cc557230183434320d387c57633ff. Thanks for the report.

[2019-04-12 23:34] yhliang2018 opened #172 "Graduate LayerNormalization layer to TF core."
**System information**
- TensorFlow version (you are using):
- TensorFlow Addons version:
- Is it in the tf.contrib (if so, where):
- Are you willing to contribute it (yes/no):
- Are you willing to maintain it going forward? (yes/no):

**Describe the feature and the current behavior/state.**
LayerBatchNormalization has been moved to core here: https://github.com/tensorflow/tensorflow/blob/43a255d4

[2019-04-13 05:11] #171 closed

[2019-04-13 11:55] seanpmorgan commented on #172
Per the discussions here https://github.com/tensorflow/addons/pull/14 . We're going to request that LayerNormalization be removed from core. Although now it looks like the experimental tag has been removed from core? cc @karmel as this was not the roadmap we discussed.

If it does stay in core, I'd recommend that we use a more general implemenetation of LayernNorm that includes GroupNorm and Insta

[2019-04-13 12:05] #163 closed

[2019-04-13 13:06] seanpmorgan commented on #156
I think this is complete? Are there any other ops that need modifying?

[2019-04-14 10:46] ageron commented on #77
Tried installing from source on my Mac, as instructed on [home page](https://github.com/tensorflow/addons#installing-from-source), but it failed, first because the .so names are hardcoded. I renamed them to dylib. But then I ran into another issue:

[code]

So I guess there's no way to install TensorFlow Addons on Mac or Windows for now, it's Linux only.

Side note for @armando-fandango: perhaps y

[2019-04-15 01:33] armando-fandango commented on #77
@ageron thanks and Yes, I realized it sometime back and switched all of my dev venvs to to 3.6.8 for now.

[2019-04-15 02:04] seanpmorgan commented on #77
@ageron Thank you for reporting this and sorry for the trouble. I'll be working on a macos build and release this week and hopefully we'll have published whls ~within a week.

[2019-04-15 02:05] seanpmorgan opened #173 "Build Addons for Windows"
Splitting this as a separate issue from #77. MacOS should be an achievable goal prior to the 0.3 release. Windows will take a bit longer.

[2019-04-15 03:40] WindQAQ commented on #156
Just find we miss some:
https://github.com/tensorflow/addons/blob/c2faddd818280815bd5e47b81742efdfc90e7aaf/tensorflow_addons/image/distance_transform.py#L34-L36
https://github.com/tensorflow/addons/blob/c2faddd818280815bd5e47b81742efdfc90e7aaf/tensorflow_addons/image/transform_ops.py#L320

Some ops like `compose_transforms` in [transform_ops.py](https://github.com/tensorflow/addons/blob/master/ten

[2019-04-15 08:22] mfojtak opened #174 "ABI settings in BUILD files causing issues"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf-nightly-2.0-preview==2.0.0.dev20190405
- TensorFlow Addons installed from (source, PyPi): source
- TensorFlow Addons version: latest
-

[2019-04-15 08:26] facaiy commented on #156
1. For `rotate` op, we should replace `str(name)` by `(name or 'rotate')`.
2. There exists an known annoying issue about `name`:  if we want to add new attribute, we have to append it after `name` for ensuring backward compatibility.  And all new attributes are forced to be optional. But I agree to conform tensorflow convention: add `name` for all public API in image module.
 cc @martinwicke Hi, M

[2019-04-15 13:29] seanpmorgan commented on #174
Hi Michal,

Thanks for bringing this up. So the build process is a bit hacky while we wait for a build toolchain which is manylinux2010 compatible (Should be by the end of the month). Since TF is compiled with gcc 4.8 we need these ABI flags to maintain compatibility in case addons is compiled with gcc>=5. As described:
https://github.com/calid/docs/blob/master/site/en/extend/adding_an_op.md#build

[2019-04-15 13:31] seanpmorgan commented on #174
Some more info:
https://github.com/tensorflow/tensorflow/issues/27067

[2019-04-15 16:23] kyleabeauchamp commented on #174
FYI I've been able to (~2 weeks ago, around the time of my last commit) use py37 (conda-forge miniconda) by flipping the CXX11_ABI flag in all relevant places in the bazel files.

[2019-04-15 16:26] kyleabeauchamp commented on #174
It would also be great for us to make sure that the build chain plays nicely with miniconda/conda-forge python versions.  Even if don't want to officially support the conda-forge packages (which I've helped out with a bit in my spare time), however, I think we do want to make sure that users with a conda-forge/miniconda environment can easily build from source when necessary.

[2019-04-15 16:38] martinwicke commented on #156
The name arg problem is annoying.

We're not quite ready to remove the name args. At this point, they're exclusively used for visualization in TensorBoard. We have some ideas about visualizing summarized stack traces instead of manually set names, and once that works well, we can think about soft deprecating all name args.

For now, I'd keep the name args.

[2019-04-15 16:52] karmel commented on #172
@seanpmorgan After some discussion, it seemed best to graduate the implementation from addons to core, as we were seeing increased requests and usage. The Addons implementations of Group and InstanceNorm would then remain, and could build off the core implementation of LayerNorm. We figured this would be a win for all, as it is the first example of moving from Addons to core, and the more speciali

[2019-04-15 17:08] seanpmorgan commented on #172
@karmel thanks for the follow up... yes that works for us. My only hesitation would be the comparisons in the GN paper that show LN to be a bit less flexible than GN and worse performing. Perhaps LN is being used because of legacy examples... but that's not really our battle to fight.

in [3]. GN is less restricted than LN, because each group of channels (instead of all of them) are assumed to sub

[2019-04-15 17:15] yhliang2018 commented on #172
@seanpmorgan Thanks! One noticeable difference between core LN and Addons LN is the default value of epsilon. TF core uses 1e-3 to keep it consistent with that of Keras BN; While I see Addons implementation uses 1e-5.

[2019-04-15 17:47] seanpmorgan commented on #76
@karmel @av8ramit I've start working on this as well as #77 and wanted to see if we could discuss our options.

1. Will we be able to use Google infra to build our releases?
2. Would that be something the Addons release team could trigger? Or will it need to be an internal team member.
2. Are there OSX instances we can use?

[2019-04-15 18:24] Smokrow commented on #172
@seanpmorgan I will open a PR tomorrow morning.

@karmel if I can help out with anything during the move please let me know.

[2019-04-15 18:46] karmel commented on #76
1. We could in theory set up scripts/builds for release building as well as testing.
2. Remind me-- are you able to trigger the testing builds? If so, presumably the same would work for release builds as well. ( @av8ramit to correct me if I'm wrong)
3. Oof. They are really hard to come by-- @av8ramit , do you know the feasibility of doing mac osx builds for addons?

If we can make this work with T

[2019-04-15 20:36] av8ramit commented on #76
@seanpmorgan and @karmel

2. You are correct. If you can trigger them via GitHub labels it should work.
3. You can do Mac OSX builds for addons via the internal infrastructure we are using for presubmits and ci testing. Someone internally will have to maintain that though.

[2019-04-15 23:47] seanpmorgan commented on #174
Certainly agree. I would like to revisit the issue you saw once we've finalized the build toolchain.

FWIW pip packaging is really not ideal, and conda is a much preferable way to install performant packages. @kyleabeauchamp would you be interested in helping us setup our conda-forge package? Probably will wait until we've finalized our build process but it's certainly on our TODO.

[2019-04-16 00:20] kyleabeauchamp commented on #174
Yep, if there's interest I can start opening PRs for the TF 2.0 packages.

[2019-04-16 00:21] kyleabeauchamp commented on #174
It will take some work getting the pre-requisites built.  The DAG for TF and tensorboard are pretty confusing IMHO, with the split of estimator etc.

[2019-04-16 00:58] seanpmorgan opened #177 "Euclidean distance op doesn't compile on Mac OS X"
It appears that the Euclidian distance op fails to compile on OSX using clang. Throwing this error:

[code]

The possible types are:
[code]

My hunch is that clang wants some explicit conversion, while gcc was okay to just ignore. This would have been caught by our CI, but we do not have it setup to run on OSX.

@Squadrick do you mind taking a look? I have a [branch setup](https://github.com/seanp

[2019-04-16 01:24] seanpmorgan commented on #174
Closing this issue for now, but feel free to re-open if we don't get this solved in the coming weeks.

[2019-04-16 01:24] #174 closed

[2019-04-16 01:27] seanpmorgan commented on #168
So thinking about this a bit more, I think we can probably get away with some detailed information in the CONTRIBUTING guide and forgo an extra template.

[2019-04-16 02:10] kyleabeauchamp commented on #174
Will we need cuda to build add-ons?  That will be a license issue for conda
forge and Travis.

On Mon, Apr 15, 2019, 6:24 PM Sean Morgan <notifications@github.com> wrote:

[2019-04-16 07:06] facaiy commented on #156
Thank @martinwicke for the input.

@WindQAQ Tzu-Wei, let's add `name` argument for all public operators.

[2019-04-16 07:27] Smokrow commented on #172
@karmel Layer Normalization is a more specialized case of group normalization.
I can just remove this special case but this would of course kinda break the inheritance. Maybe it would make more sense to move all 3 layers in one go since the specialization is just 7 lines of code.

For example the current implementation of LayerNorm looks like this:

[code]

[2019-04-16 12:21] rootkitchao opened #179 "Deformable Convolutional Op Support"
**System information**
- TensorFlow version (you are using):2.0 alpha
- TensorFlow Addons version:0,21
- Is it in the tf.contrib (if so, where):no
- Are you willing to contribute it (yes/no):yes,if i know how to do that
- Are you willing to maintain it going forward? (yes/no):yes

**Describe the feature and the current behavior/state.**
Deformable Convolutional Network(https://arxiv.org/pdf/1703.0

[2019-04-16 12:29] seanpmorgan commented on #172
@Smokrow I think the most pressing thing to do is to align our api's and remove LayerNormalization. Also @yhliang2018 suggestion to use 1e-3 is better implemented sooner rather than later before we acquire too many users.

I do agree with you, but I imagine the process of adding two new layers will take a while and I'd prefer not to have duplicate functionality now that LayerNormalization is not e

[2019-04-16 18:14] #172 closed

[2019-04-16 19:46] seanpmorgan commented on #138
Hmmm tests appear to be passing repeatedly. Possible there has been an upstream fix... such is life building against an alpha release.

Closing, but happy to re-open if we see issues again.

[2019-04-17 12:10] seanpmorgan commented on #138
Welp... too quick on calling that (nightly fail). We should either remove tf.debugging or remove the tf.funcion decorator

[2019-04-17 20:25] #117 closed

[2019-04-18 12:20] #138 closed

[2019-04-18 12:29] #106 closed

[2019-04-19 12:37] #177 closed

[2019-04-19 12:54] seanpmorgan commented on #112
Closing this issue as there is a lot of info that is not relevant anymore. Will re-make shortly.

[2019-04-19 12:54] #112 closed

[2019-04-19 13:09] seanpmorgan opened #193 "Packaged Addons can't run on TF2-nightly if built against TF2-alpha"
We're in the process of getting ready to release a 0.3 version, but there are several breaking changes in the tf2-nightly vs. tf2-alpha (as there should be).

To start the shared libraries are now named with versions and OS syntax. We can get around this by using the link flag that has now been added to tf.sysconfig though.

API changes are harder to work around. For example:  https://github.com/t

[2019-04-19 20:52] drewszurko opened #194 "macOS build from source fails"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macOS Mojave 10.14.4**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **tf-nightly-2.0-preview==2.0.0.dev20190419**
- TensorFlow Addons installed from (source, PyPi

[2019-04-20 10:55] seanpmorgan commented on #194
Hi @drewszurko thanks for reporting this.. we are very close to having working macOS builds and I apologize for the inconvenience.

For the first issue I have a branch cut that will lookup the tensorflow shared library name:
https://github.com/seanpmorgan/addons/commit/0fe21efd8a5b52b70fd2e997f0d85b8d8f5b2074

Just waiting on a fix in tensorflow core for your second issue:
https://github.com/tenso

[2019-04-22 03:59] WindQAQ opened #199 "Bugs in filters_test.py"
In `image/filters_test.py`, there are some buggy test cases:

1. There are some patterns like
https://github.com/tensorflow/addons/blob/6bb0d4bfb814df9d9e6d5b200128f25120e09e21/tensorflow_addons/image/filters_test.py#L60-L63
However, this is not safe because each context manager will catch only one exception, and then exit. That it, the following code snippet will pass the test:
[code]
2. One test

[2019-04-22 14:12] facaiy commented on #199
Tzu-Wei, would you like to fix them?

[2019-04-22 15:39] martinwicke commented on #193
We did make some tf.image name changes to eliminate duplicate "image"s.

In theory you could use a try block to ensure the code works for alpha and
nightly, which could be eliminated once the 2.0 is in RC (or beta) and
people stop caring about alpha0.

How much trouble would that be?

On Fri, Apr 19, 2019 at 6:09 AM Sean Morgan <notifications@github.com>
wrote:

[2019-04-23 00:04] seanpmorgan commented on #76
Thanks for the followup. Yeah we currently trigger tests using the korkoro label which works great, but labels seem a bit clunky for builds/releases.

I've started a branch using travis which will build nightly packages and allow us to trigger releases.

[2019-04-23 00:09] seanpmorgan opened #201 "Package Addons on conda-forge"
This will likely come after we finalize our build automation and toolchain,  but wanted to start an issue for visibility. When the time comes we will enable anaconda installs using [conda-forge](https://conda-forge.org/#about).

cc @kyleabeauchamp

[2019-04-23 13:05] seanpmorgan opened #203 "WeightNormalization test are failing without symbolic tensors in build"
Since https://github.com/tensorflow/tensorflow/commit/9df99aafc3480638cd8d2bf6a0caeab111b68302 our keras_layer test is failing on weightnorm.

This is the block that fails from the [test uti](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/testing_utils.py#L207)l:
[code]
So our model config isn't properly serializing the data.

@omalleyt12 could you take a look and pro

[2019-04-23 17:25] seanpmorgan commented on #203
I submitted a PR which sets `keras_style` to false and then tests pass. From my understanding of keras_style though I don't think this is the correct thing to do? We are not utilizing any legacy tf.layers or tf.rnn

[2019-04-23 19:22] #199 closed

[2019-04-24 05:44] kyleabeauchamp commented on #201
As a starting point, I made a WIP PR to get a conda package for TF2 nightly: https://github.com/conda-forge/tensorflow-feedstock/pull/68

[2019-04-25 10:58] AakashKumarNain commented on #126
@seanpmorgan @facaiy any updates on this?

[2019-04-25 12:51] seanpmorgan commented on #126
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/metrics.py#L65 I believe its public now? Sorry I've built the list of exports we need, but I have to keep updating it as new APIs are released / want to make sure there are not alternatives

[2019-04-25 19:24] ychervonyi opened #209 "Multiclass AUC"
**System information**
- TensorFlow version (you are using): 1.13
- TensorFlow Addons version: -
- Is it in the tf.contrib (if so, where): No.
- Are you willing to contribute it (yes/no): Yes.
- Are you willing to maintain it going forward? (yes/no): Yes

**Describe the feature and the current behavior/state.**
Multi-class AUC is a measure to examine the performance of multi-class classifiers. It

[2019-04-25 19:34] seanpmorgan commented on #209
Thanks for the issue. Based on citations and general applicability I think this would be a nice addition. Related is #126

[2019-04-25 19:55] #203 closed

[2019-04-25 20:14] ychervonyi commented on #209
Thank you for the quick reply. I have a working implementation and can prepare a PR. By the way moved from [here](https://github.com/tensorflow/tensorflow/issues/27473).

[2019-04-26 10:35] QQ2737499951 opened #212 "Can it support in Windows10?"
Can it support in Windows10?

[2019-04-26 10:39] seanpmorgan commented on #212
Not yet, but it is on the roadmap. See #173

[2019-04-26 10:39] #212 closed

[2019-04-26 22:01] ychervonyi commented on #209
@seanpmorgan In my PR should I create a new directory `tensorflow_addons/metrics/`?

[2019-04-27 01:39] kyleabeauchamp commented on #165
Can we re-open this issue?  I'm getting the same error on the 4/26 GPU nightly.  The problem goes away if I revert to 4/24 GPU or to the CPU nightly.

[code]

The following `requirements.txt` diff is the latest GPU version that works for me:

[code]

[2019-04-27 01:44] facaiy commented on #165
Yesterday Sean mentioned that:

Sure, let's reopen it now

[2019-04-27 13:08] seanpmorgan commented on #165
Looks fixed :D

[2019-04-27 13:08] #165 closed

[2019-04-27 13:36] seanpmorgan commented on #209
Yes, it'll require a few different things (added to global __init__ and BUILD) but if you just start a WIP pull request we can advise on the details

[2019-04-27 14:21] seanpmorgan commented on #194
Both issues are now resolved. Addons can be built from source using OSX without the need to modify the source code or download coreutils.

We will hopefully have a packaged 0.3 macos whl in the next couple days.

cc @drewszurko @ageron

[2019-04-27 14:21] #194 closed

[2019-04-27 14:22] seanpmorgan commented on #77
Issues have now been resolved. Expect a macos whl with the 0.3 release

[2019-04-27 14:29] seanpmorgan commented on #209
You might want to coordinate with @AakashKumarNain who was planning on starting the subpackage as well.

[2019-04-27 15:45] kyleabeauchamp commented on #165
confirmed

[2019-04-27 17:55] AakashKumarNain commented on #126
Haha I haven't checked it yet @seanpmorgan but I will do it by tomorrow. Btw `1.14` cut was scheduled on 15th. So whatever is in that release, it should be public, right?

[2019-04-29 03:37] facaiy commented on #126
Hi, Aakash. tf_addons depends on tf 2.0 nightly version, rather than 1.x version, so I think it safe to assume that the API is public :-)

[2019-04-29 15:36] seanpmorgan opened #216 "WeightNormalization fails after update"
Yesterday I cut a 0.3 release on pypi test, but as a sanity check on the weightnorm changes #208 I ran a quick regression check:

https://colab.research.google.com/drive/1RQlVR9X7vj8q3W3sJC6YA3Cq45XTXrau

The new layer is failing with loss of nan. Looking at the test coverage for this layer I'm struggling how to best catch this without running a full model. The losses for our toy test cases do not

[2019-04-29 15:55] #5 closed

[2019-04-29 23:43] olesalscheider opened #218 "Add recompute_grad decorator"
**System information**
- TensorFlow version (you are using): 2.0 alpha
- TensorFlow Addons version: 1.2.1
- Is it in the tf.contrib (if so, where): Yes, tf.contrib.layers.recompute_grad
- Are you willing to contribute it (yes/no): Yes
- Are you willing to maintain it going forward? (yes/no): No

**Describe the feature and the current behavior/state.**
The tf.contrib.layers.recompute_grad decorator

[2019-04-30 00:01] seanpmorgan commented on #218
Hi @olesalscheider welcome and thanks for bringing this up. I agree this is a useful thing to have, but I do want to make sure we're not duplicating functionality.

I haven't looked tpo closely at the details, but is the same capability provided by:
https://github.com/openai/gradient-checkpointing

It looks like it's set for tf1.x, but perhaps upgrading that repo is another option.

[2019-04-30 03:43] facaiy opened #221 "Move examples directory out of source directory"
0. push `addons/tensorflow_addons/examples` up to root project `addons/examples`.
1. update the github paths in the colab notebooks of `examples`.
2. update the hyperlink in README.md and CONTRIBUTING.md.

[2019-04-30 06:14] Mainak431 opened #222 "pip install tensorflow-addons fails on windows machine Python 3.6.4"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.0.0-a.0
- TensorFlow Addons installed from (source, PyPi):
- TensorFlow Addons version:
- Python version and type (eg. Anaconda

[2019-04-30 06:54] shashvatshahi1998 commented on #221
@facaiy I will love to give it a try.

[2019-04-30 07:13] AakashKumarNain commented on #126
Hey @facaiy Thanks for the info. I am quite busy since last week working on a competition whose deadline is approaching fast. I will look into it on the weekend. Sorry for the delay

[2019-04-30 10:40] seanpmorgan commented on #222
This is on the roadmap, but is not yet available. See https://github.com/tensorflow/addons/issues/173

[2019-04-30 10:40] #222 closed

[2019-04-30 12:37] seanpmorgan commented on #126
Yes, that would be the fix but seeing as we're probably not too far from some sort of  tf2 release candidate I can just add it to the list of API rollbacks we'll be doing on the release branches while we wait

[2019-04-30 15:27] #24 closed

[2019-04-30 15:54] #216 closed

[2019-04-30 15:55] #46 closed

[2019-04-30 20:22] seanpmorgan commented on #3
@facaiy @WindQAQ This is a proposed contrib move that I've been questioning. Its not that I don't find it useful... but to me it seems like it could almost be a separate repository. I think its hard to say that this will fit into a well established API pattern, and it requires us to bring in a new dependancy... but I wanted to get your thoughts.

[2019-04-30 22:32] seanpmorgan commented on #77
MacOS whls are now available on pypi

[2019-04-30 22:32] #77 closed

[2019-05-01 02:08] #221 closed

[2019-05-01 02:16] seanpmorgan opened #226 "Link API docs with with tensorflow.org"
Given the discussion in this comment: https://github.com/tensorflow/addons/pull/140#discussion_r276059512

And the API docs generated for release 0.3:
https://github.com/tensorflow/addons/tree/r0.3/docs/api_docs/python

I believe we're almost ready to link our docs with the tensorflow.org website? [Looks like we need some landing page files and a few configs?](https://github.com/tensorflow/probabi

[2019-05-01 02:49] facaiy commented on #3
At least to me, I don't think it's useful, too. I'd like to implement it in the future if requested by enough users.

[2019-05-01 06:08] WindQAQ commented on #3
I find some references in tensorflow probability. TFP has offered some widely used optimization methods like bfgs, lbfgs and differential evolution, which also lies in scipy.optimize. In this case, I do not think we still have to bridge the scipy interface.
https://www.tensorflow.org/probability/api_docs/python/tfp/optimizer

[2019-05-01 12:07] seanpmorgan commented on #3
Closing this issue unless there is a convincing argument otherwise

[2019-05-01 12:07] #3 closed

[2019-05-01 19:46] amanp592 commented on #168
Hey! @seanpmorgan can i help you with this!?

[2019-05-02 01:23] seanpmorgan commented on #168
Hi @amanp592

Sure, you're more than welcome to submit a PR for this! The directions for adding an example are a little tricky seeing as there's some colab notebook work which is not extremely intuitive, but you can follow the information in the template linked above and we can iterate on the PR.

Welcome to Addons!

[2019-05-02 02:17] seanpmorgan commented on #94
@mdanatg Just wondering if you could give an update on this issue? I checked today's nightly and looks like the issue is still there. With TF2 release candidate somewhere on the horizon I thought it's worth revisiting.

[2019-05-02 04:27] lamberta commented on #226
Hi Sean,
Glad the API gen is working! I have a WIP internal config that will import the API docs to publish on tensorflow.org, but we still need to figure out how to surface it. Probably under https://www.tensorflow.org/api_docs/python/tf/addons but unclear how the versoning will work. The root docs reflect stable (currently r1.13) but TFA (0.3) isn't tied to this.
Eventually we want to surface al

[2019-05-02 06:34] amanp592 commented on #168
@seanpmorgan Thankyou Sir, will soon update you with my progress!

[2019-05-02 07:36] amanp592 commented on #168
@seanpmorgan what i am assuming here to be done is to give a detailed information in `CONTRIBUTION` guide and update the `Colab links` of the present notebooks(for the ones it shows not found).

Current `CONTRIBUTION` guide does not have anything on `reviewNB`,  `Colab` notebook links. I think we should mention them too so that the new contributions will have no problem.

Please correct if i am wr

[2019-05-02 12:48] mdanatg commented on #94
It seems that the issue did not update automatically, probably because this is a separate repository. The issue should be resolved at head, but if it still appears then we need to look a bit closely.

Unfortunately I wasn't able to build addons from source. This is the error I'm getting when running `python tensorflow_addons/image/transform_ops_test.py`:

[code]

Alternately, if you run the script

[2019-05-02 13:19] seanpmorgan commented on #94
Ah, sorry thats an ugly error that comes from compiling with gcc >=5. We're waiting on a new build toolchain that will fix this see #119 .

A temporary fix should be to build in this docker container which will make it compatible with the tensorflow pip package:
https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#development-environment

[2019-05-02 13:40] Mainak431 opened #230 "Batch Processing for Tensorflow_addons.image filters functionalities"
Batch processing is very much required for all the image functionalities. Batch processing will enable direct use of these features with layers like conv2d. Hence no preprocessing steps will be required for CNN applications. Currently, this is required. Directly, the user can create the network and feed the images for training. I wish to implement the batch processing for median_filter2d and mean_

[2019-05-02 13:40] Mainak431 commented on #230
@seanpmorgan CC.

[2019-05-02 15:28] yrutis opened #231 "Copy / Pointer Mechanism in Seq2Seq"
**System information**
- TensorFlow version (you are using): 1.15 - 2.0
- TensorFlow Addons version:
- Is it in the tf.contrib (if so, where):
- Are you willing to contribute it (yes/no):
- Are you willing to maintain it going forward? (yes/no):

**Describe the feature and the current behavior/state.**
I am looking for a copying / pointer Seq2Seq. (Pointer-Generator model, CopyNet model)

**Who wi

[2019-05-02 17:36] seanpmorgan commented on #226
Thanks for the clarification Billy! I agree the APIs might want to wait for TF2 seeing as we're not compatible with the current TF release.

We'll look to add some narative docs on our master branch to make the directory more friendly, but in the mean time could we add Addons to that extensions page? Or should that wait for TF2 release as well?

[2019-05-02 17:42] seanpmorgan commented on #168
Yes updating the CONTRIBUTING file should be what we need to do. Please let us know if any of the colab links in the current notebooks do not work.

The tricky thing is that the links have to be written so that they'll be in their correct spot on the master branch once they're merged in. While they're in PR they'll be broken links.

For example in the PR the user should link to:
`https://colab.res

[2019-05-02 18:24] lamberta commented on #226
SG. I filed b/131839445 to add TF Addons to the Resources page.

[2019-05-02 19:09] shashvatshahi1998 commented on #226
@seanpmorgan can I contribute in it ?

[2019-05-02 19:09] mdanatg commented on #94
Thanks, the docker container worked, and I found the culprit as well. It seems that our own op loader generates some dynamic code using exec, which discards source code information. I'll have a fix shortly to handle those properly.

The warning is otherwise absolutely benign, but sorry for the annoyance it created!

[2019-05-02 19:16] seanpmorgan commented on #94
Thanks for looking into this! No real annoyance... most of our users at the moment understand we're still working out some stuff. After TF2 release I'd imagine this be more problematic.

[2019-05-02 19:21] amanp592 commented on #168
The `CONTRIBUTION` guide will be according to the [template]('https://github.com/tensorflow/docs/blob/master/tools/templates/notebook.ipynb') you provided.

I'll work on it now and soon send a PR regarding this.

[2019-05-02 19:52] shashvatshahi1998 opened #232 "F1_score with multilabel classfiers(micro,macro) should be added"
**System information**
- TensorFlow version (you are using): 1.13
- TensorFlow Addons version:
- Is it in the tf.contrib (if so, where):No
- Are you willing to contribute it (yes/no):yes
- Are you willing to maintain it going forward? (yes/no):yes

**Describe the feature and the current behavior/state.**
Basically there was an issue regarding computing f1 score for multilabel classifier(#27171) on

[2019-05-02 23:23] WindQAQ opened #234 "Speed up mean_filter2d with depthwise convolution"
**System information**
- TensorFlow version (you are using): **tf-nightly-2.0-preview**
- TensorFlow Addons version: **source**
- Is it in the tf.contrib (if so, where): **no**
- Are you willing to contribute it (yes/no): **yes**
- Are you willing to maintain it going forward? (yes/no): **yes**

**Describe the feature and the current behavior/state.**

Currently, `tfa.image.mean_filter2d` is imple

[2019-05-02 23:24] WindQAQ commented on #234
Maybe related to #230. Gentle ping to @Mainak431.

[2019-05-03 04:40] Mainak431 commented on #234
Hmm. As this is faster, implementation can be changed with depthwise conv2d. Returning image to original dtype and range can be cool. But, it will loss the uniformity in output. Most of the functions implemented keeps uniformity of dtype in returned data. You are proposing a single function for single image and batch processing both.What if the first dimension or the batch dimension shape is None

[2019-05-03 05:59] WindQAQ commented on #234
1. It can handle None shape
[code]

2. Yes, it will loss the uniformity in output, this is only for `mean_filter2d` though. While this also occurs in scipy, the mean value is computed in float, and recovery it back to the original dtype if needed.
For median operation, we do not have to cast back to the original dtype since all operations can be done without explicit casting.

[2019-05-03 06:10] Mainak431 commented on #234
Ok.  Nice.  Can you please post the output with real image files.  I mean show the converted images.  One image pixel value range should be in the range 0 to 255, and another from 0.0 to 1.0. Both kind of images are available in the internet.  That will be really helpful.  Also posting two converted images in batch processing will ensure the functionality.

[2019-05-03 06:51] WindQAQ commented on #234
Here it is :-)
https://colab.research.google.com/drive/11sz17RCW_L_gJ2kYwCs3f0bR9si3n8PJ

[2019-05-03 06:58] Mainak431 commented on #234
Nice. Would you like to implement it? it will also by default solve #230.

[2019-05-03 07:15] shashvatshahi1998 commented on #232
@seanpmorgan  I wiill love to contribute but I think i have to first add metrics fiile in addons then f1 score. Can you please guide me regarding this?

[2019-05-03 15:21] mdanatg commented on #94
I just checked the test with the nightly and the warnings should go away now - can you confirm?

[2019-05-03 15:44] seanpmorgan commented on #94
Confirmed. Thank you for your help!

[2019-05-03 15:44] #94 closed

[2019-05-03 21:19] ychervonyi commented on #209
It seems like it is non-trivial to rewrite my implementation in TF 2.0. I posted several questions on Stackoverflow. Apparently, even standard metrics from `tf.metrics` don't work in eager mode (see [here])(https://stackoverflow.com/questions/55928569/tf-metrics-x-is-not-supported-when-eager-execution-is-enabled-tensorflow-2-0). I think once at least one metric from `tf.metrics` will be rewritten

[2019-05-04 07:54] AakashKumarNain commented on #126
@seanpmorgan @facaiy I still don't see the `Metric` import in the `utils` file which I was talking about. Anyways, I made some changes in my metric implementation and I am getting a bunch of errors. Specifically, variable assignments aren't allowed and I have to find a way to add a variable in my constructor using `add_weight` method. The problem is that the variable would be used in `update_state

[2019-05-04 08:36] Squadrick commented on #179
Here's a [python](https://github.com/DHZS/tf-deformable-conv-layer/blob/master/nets/deformable_conv_layer.py) only implementation of v1 for Keras which can be ported to TF-Keras. [This repository](https://github.com/msracver/Deformable-ConvNets) is the official implementation with CUDA code; it's written using MXNet but it can be ported over to TensorFlow.

Here are the papers:
1. [Deformable Conv

[2019-05-04 10:18] rootkitchao commented on #179
Thanks for reply.And here is a [Mask RCNN implemented by Tensorflow](https://github.com/tensorflow/tpu/tree/master/models/official/mask_rcnn) that may help test.

[2019-05-05 01:35] facaiy commented on #126
Could you create an PR ? Then we can take a look and check if there's something wrong there.

[2019-05-06 05:57] AakashKumarNain commented on #126
Sure @facaiy. I will do that. Thank you

[2019-05-06 08:25] AakashKumarNain commented on #126
@facaiy before I create a PR, can you please take a look at this notebook? https://colab.research.google.com/drive/1Dd97zdfJhGIrMTpzSKdR6rxnbDGuSBV0

Some of the ops aren't executed in `eager` mode which is strange. Though if I don't use `Metric` inheritance, the functions works well

[2019-05-06 12:38] seanpmorgan opened #236 "Create TFA OSS Usage Analyzer"
We've been using the TF contrib analyzer provided by @kingspp in order to triage components of tf.contrib to be moved to Addons:
https://tf-contrib-analyzer.herokuapp.com/
https://github.com/kingspp/tf-contrib-analyzer

Per our charter... we'll need to analyze the usage of Addons as part of our periodic review process. As part of a fork we may want to add some changes to improve the accuracy and p

[2019-05-06 13:51] seanpmorgan commented on #231
Hi @yrutis I think this type of request may be outside the scope of Addons. There are repositories showing [CopyNet TF 1.x models](https://github.com/lspvic/CopyNet) that use seq2seq and there shouldn't be an overwhelming amount of work needed to adapt to the eager style.

I think requests for simple blocks using seq2seq are acceptable requests for this repo, but we do have to manage our scope.

c

[2019-05-06 15:50] qlzh727 commented on #231
I am not aware of any TF repo that has CopyNet.

[2019-05-06 17:45] #231 closed

[2019-05-07 10:20] kingspp commented on #236
Let me know if you guys need any help.

[2019-05-08 00:32] seanpmorgan opened #237 "Nightly Tests have stopped or are lagging"
Checking the nightly tests is looks as though the last test ran on May 5th. When I run locally there are several failing tests and getting this information the day of makes troubleshooting problematic commits from TF core a lot easier.

https://source.cloud.google.com/results/invocations/7f864214-a363-4ccd-9887-28f752d0e4a4/targets/tensorflow_addons%2Fubuntu%2Fcpu%2Fpy2%2Fcontinuous/log

Could you

[2019-05-08 00:41] seanpmorgan commented on #237
FYI it looks like today's fail is from missing SelectV2 gradient and it got rolledback so build should pass tomorrow.
https://github.com/tensorflow/tensorflow/pull/15982

[2019-05-09 18:24] olesalscheider commented on #218
The implementation that you linked to existed before the decorator. It replaces tf.gradients and actually offers more than the decorator in TensorFlow: It also comes with some heuristics to decide without manual annotation which activation maps can be recomputed.
I think TF has something like that in grappler's memory optimizer nowadays but it will only recompute very cheap operations: https://git

[2019-05-10 18:05] karmel commented on #237
@qlzh727 -- is this related to the changes you made to the build frequency?

[2019-05-10 18:13] qlzh727 commented on #237
Humm, the change I made for changing the project type is submitted on Apr 30, and I still can see new build is triggered after May 5, eg https://source.cloud.google.com/results/invocations/ee86873d-b266-40e6-8ebd-64e8a8273cd1/targets.

[2019-05-10 18:15] qlzh727 commented on #237
Btw, the tests are triggered now by change commit to the master branch on tfa, so that any change that is breaking tfa can be quickly picked up. That said, if there isn't any change, then it will not run.

[2019-05-10 18:19] karmel commented on #237
Hmm, yes, it looks like tests are running again? Was it just the SelectV2 that was the problem, @seanpmorgan ?

[2019-05-10 18:42] seanpmorgan commented on #237
Yeah there is no issue with the build at the moment. So if I understand correctly tests will only be ran daily if there are changes to our master branch? I'm not sure that's sufficient as a large portion of our code breaks have been because of the daily changes to TF core master branch.

[2019-05-10 20:29] qlzh727 commented on #237
I changed it to only run after any change in the tfa repo, and skip the nightly run. Let me update it to run with in both CI fashion and with nightly trigger.

[2019-05-10 23:50] qlzh727 commented on #237
Should be fixed now.

[2019-05-10 23:50] #237 closed

[2019-05-11 12:42] seanpmorgan commented on #237
Thanks!

[2019-05-11 16:06] georgesterpu commented on #94
Hello
I am trying to get started with tensorflow-addons, and currently receiving the following error message:

[code]

Packages installed from pip

[code]
Same story with other calls to
`tf.load_op_library(
    get_path_to_datafile("custom_ops/ [...] ))`

Any advice @seanpmorgan @mdanatg ?
Thank you

[2019-05-11 19:28] seanpmorgan commented on #94
Hi! Could you create a separate issue for this? I believe it is related to an ABI version mistmatch but we'll need some more information. Such as was addons and tensorflow both installed from pip? It'll be easier to troubleshoot in a separate thread because this isn't related.

[2019-05-11 19:34] georgesterpu commented on #94
Sure, creating a separate issue right now.

[2019-05-11 19:55] georgesterpu opened #241 "error when importing tensorflow_addons"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `Yes`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Manjaro Linux - testing`
- TensorFlow installed from (source or binary): `binary, PyPi`
- TensorFlow version (use command below): `2.0.0-dev20190511`
- TensorFlow Addons installed from (source, PyPi): `binary, PyP

[2019-05-11 20:01] seanpmorgan commented on #241
Hi! So at the moment the addons that is on pypi is not compatible with tf-nightly... see https://github.com/tensorflow/addons/issues/193

You'll need to either run it with tensorflow==2.0.0.a0 or  compile the master branch of this repo from source. Apologies for this mismatch and it should be solved soon when we get a TF2 release candidate.

Example:
https://colab.research.google.com/drive/19-ZjcI

[2019-05-11 20:18] georgesterpu commented on #241
Thanks, @seanpmorgan
So far it works fine with `tensorflow==2.0.0.a0`.

[2019-05-11 20:18] #241 closed

[2019-05-13 13:47] seanpmorgan commented on #230
Closing this as it'll be address with #234

[2019-05-13 13:47] #230 closed

[2019-05-13 13:48] alew3 opened #242 "tfa.image.rotate crashing jupyter notebook kernel"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): tf-nightly-gpu-2.0-preview
- TensorFlow Addons installed from (source, PyPi): source
- TensorFlow Addons ve

[2019-05-13 13:53] seanpmorgan commented on #242
Hi @alew3 ! Sorry about this we have a mismatch between our released package on pypi and the tf2-nightly. Could you try running against tensorflow==2.0.0.a0 ?

If you want to run addons against tf2-nightly you'll need to compile from source. See https://github.com/tensorflow/addons/issues/193

This should go away very soon once we get a TF2 release candidate.

[2019-05-13 13:54] seanpmorgan commented on #242
Also, will work on getting some examples up for tfa image

[2019-05-13 13:54] alew3 commented on #242
@seanpmorgan , I'm using the compiled version from sources.

[2019-05-13 13:57] alew3 commented on #242
That would be awesome, I'm especially interested in Rotate / Warping / Zoom / Crop.  I'm not an expert in using matrix transforms, so some samples would be very much appreciated! Or in the future, if some helper functions could be created.

[2019-05-13 14:03] seanpmorgan commented on #242
Ah, I see. Thanks. I created a quick example using TF2-alpha and it looks like it's working correctly:
https://colab.research.google.com/drive/1ZDhnGrorvSf04wzS-0utztZ6Nnzusvl7

I will test out whats going on with the nightly later. Kernel crashing though usually means a mismatch in ABI or something along those lines, so my first guess would be to edit https://github.com/tensorflow/addons/blob/mas

[2019-05-13 14:08] alew3 commented on #242
wow! thanks for your help! Already switched back here to alpha and can confirm it works with tensorflow-gpu alpha.

[2019-05-13 15:01] alew3 commented on #242
The example above is working fine with the alpha tensorflow, but when I try to use it dynamically with a map function for tf.data I get the error: "TypeError: image_or_images rank must be statically known"

the following was added to the example above
path_ds = tf.data.Dataset.from_tensor_slices(all_image_paths) # list of images
image_ds = path_ds.map(load_and_preprocess_image ,num_parallel_calls

[2019-05-13 15:55] #134 closed

[2019-05-13 16:23] seanpmorgan opened #243 "Make image transforms compatible with TF Dataset"
From #242 we found that the tfa.image transforms are not compatible with dataset mapping. This is a very likely usecase for tfa.image so we need to address this. Here is a minimal example showing the differences in tfa.rotate(pi/2) and tf.image.rot90:
https://colab.research.google.com/drive/1ZDhnGrorvSf04wzS-0utztZ6Nnzusvl7

Problems seem to occur because Dataset mapping runs in graph mode and thi

[2019-05-13 16:30] kyleabeauchamp commented on #243
Will think about this more tonight

[2019-05-13 16:35] seanpmorgan commented on #242
I tested compiled against nightly and it seems its working okay. For now could you use TF2-alpha + PyPi or change that ABI flag otherwise.

I've created a new issue for the dataset issue... thanks for pointing that out! Please continue to submit issues as you see them.

[2019-05-13 16:35] #242 closed

[2019-05-13 20:18] omalleyt12 commented on #203
Thanks for the issue! Could you provide a minimal repro?

[2019-05-13 23:54] alew3 commented on #243
Acording to https://github.com/tensorflow/tensorflow/issues/27811, TF2 transforms Data mappings to subgraphs for better performance.

Here is a workaround to force Eager Mode and use tfa.image until there is a solution:
image_ds = path_ds.map(lambda path: tf.py_function(func=load_and_preprocess_image,inp=[path],Tout=tf.float32))

(supposing the output is tf.float32)

[2019-05-14 00:55] seanpmorgan commented on #243
Thanks for the temporary workaround! Yeah gpu kernels are on the way #118

[2019-05-14 05:58] kyleabeauchamp commented on #243
Two thoughts:

1.  I opened #244 to have a (failing) test case for this issue
2.  The requirement of fixed and static image rank is not only in rotate, but upstream in `transform`: https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/transform_ops.py#L76  Is there a strong technical reason why this restriction exists?

[2019-05-14 06:03] kyleabeauchamp commented on #243
3.  The `rot90()` code seems to assume that if no shape information is available, one can assume that the rank is 3.  Do we think that's safe for our transformations as well?

[2019-05-14 08:30] WindQAQ commented on #243
Thank you, @kyleabeauchamp!

I think it is because the cpp implementation [here](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.cc#L75) requires a static rank of 4 and each dimension will be fetched out for later computation.

Well, I do not think it is very safe though. I'd suppose it is designed for `tf.dataset`. (Not

[2019-05-14 17:23] seanpmorgan commented on #118
Small update: dynamic kernels are now implemented on the tensorflow master branch so we can begin work on this.

[2019-05-15 16:03] AakashKumarNain commented on #126
@facaiy did you get a chance to look at the problem?

[2019-05-15 20:37] karmel commented on #86
cc @tomerk

[2019-05-16 01:52] geometrikal commented on #173
Any progress?

[2019-05-16 05:13] facaiy commented on #243
@WindQAQ Thanks for ping me, Tzu-Wei.

Yeah, it's not safe, and we can relax the restriction if we document it clearly: data must be 4-D.

@mrry Hi, Derek, could you take a look? The rank of tensor seems unknown even in eager mode.

[2019-05-16 05:26] facaiy commented on #126
@AakashKumarNain Sorry for the delay, Aakash, I've been busy and forgot to reply.  I'll take a look this weekend.

By the way, would you mind creating an empty `metric` subpackage directory at first? I just find that the two issues pending depends on the work :-)
+ https://github.com/tensorflow/addons/issues/209
+ https://github.com/tensorflow/addons/issues/232

[2019-05-16 05:29] facaiy commented on #126
@shashvatshahi1998 Welcome, Shashvat. Perhaps you'll like to discuss F1 socre implementation with @AakashKumarNain  https://github.com/tensorflow/addons/issues/232

[2019-05-16 05:34] facaiy commented on #179
@rootkitchao Welcome, William. I think you can go first because you seems willing to contribute the codes, right?

[2019-05-16 15:01] WindQAQ opened #246 "Build fails because of optimizers"
Some tests for optimizers fail because of this commit https://github.com/tensorflow/tensorflow/commit/2cb745ef1e0b4082a618c81274fca39be0cb4fc6. It can be fixed by replacing `self._get_hyper('epsilon')` with `self.epsilon` when trying to access the value of epsilon. For more details, please refer to https://github.com/tensorflow/tensorflow/commit/2cb745ef1e0b4082a618c81274fca39be0cb4fc6.

[2019-05-16 15:32] AakashKumarNain commented on #126
Sorry for the delay @facaiy I was busy in a competition. I have create a PR for the metrics module now

[2019-05-16 23:57] geometrikal commented on #173
To explain why this is important for Windows users:

If you want to do rotation augmentation, options are either a python library (e.g. numpy) or image rotate from tensorflow addons. Multiprocessing doesn't really work for Windows, e.g. using keras fit_generator with multiprocessing enable will throw an error, so they best (and fastest) way has been to use tf.data.Dataset with mapping via tf.contr

[2019-05-17 10:28] #246 closed

[2019-05-17 15:22] seanpmorgan opened #249 "Alert CI mailing list on nightly failures"
Edd was kind enough to set us up a google group for recieving alerts on failing nightlies. The past couple of days we've had failures though so I'm not sure that the email address is linked to the CI server.

@karmel @av8ramit  Is it possible to alert addons-testing@tensorflow.org on fails?

[2019-05-17 15:26] seanpmorgan opened #250 "New SelectV2 is causing nightly failures"
Since https://github.com/tensorflow/tensorflow/commit/01207a94c627a1bc02e85ab260fcd16c78a0e8da we're seeing failures across a few modules for things that are not broadcastable.

I will dive in a little deeper, but I was wondering @yongtang if you could advise us to see if there is something obvious that needs to be changed?

https://source.cloud.google.com/results/invocations/3e5ada79-f40b-4033-be

[2019-05-17 15:37] yongtang commented on #250
@seanpmorgan The new where follows the same broadcast rule as numpy (and other ops in tensorflow):
[code]

The following will work:
[code]

[2019-05-17 15:58] karmel commented on #249
You are correct-- we had not set the email up yet. Sent out a fix; will update when it goes through. Thanks for noticing.

[2019-05-17 17:07] dynamicwebpaige commented on #25
Can we also add [`sparse_image_warp`](https://www.tensorflow.org/api_docs/python/tf/contrib/image/sparse_image_warp) to this list? It has been requested by one of the engineering teams internally, as well as several folks externally. :slightly_smiling_face:

[2019-05-17 17:16] seanpmorgan commented on #25
Added. It was excluded for no OSS usage not for any compatibility issues so if there's a demand then it works well in the subpackage.

[2019-05-17 17:18] dynamicwebpaige commented on #25
Awesome! Thanks, Sean. :+1:

[2019-05-18 02:15] seanpmorgan commented on #173
Hi @geometrikal! Thanks for bumping this and explaining the need. There is no progress that I am aware of though the issue is tagged `help wanted` so perhaps someone else could expedite it.

After we finish the nightly builds I can start working on this issue but it may not be for another month or so. It will certainly be added though as this is high priority per our monthly newsletter.

[2019-05-18 02:21] #250 closed

[2019-05-19 23:30] seanpmorgan opened #253 "Update sparsemax to use tf.where V2"
As described in #250 and temporarily patched in #251 sparsemax has one instance of tf.where that needs the broadcasting dimensions changed to match numpy and TF2 style.

[2019-05-19 23:30] seanpmorgan commented on #253
cc @AndreasMadsen

[2019-05-19 23:32] seanpmorgan opened #254 "Update seq2seq to use tf.where V2"
As described in #250 and temporarily patched in #251 seq2seq has three instances of tf.where that need the broadcasting dimensions changed to match numpy and TF2 style.

cc @qlzh727

[2019-05-19 23:34] seanpmorgan commented on #254
Also, curious if anyone knows wheather this will be caught using the tf2_upgrade script? Probably worth catching broadcasted tf.where cc @martinwicke

[2019-05-19 23:43] martinwicke commented on #254
The upgrade script will translate tf.where to tf.compat.v1.where to preserve the behavior.

[2019-05-20 05:48] facaiy commented on #126
@ychervonyi @shashvatshahi1998 Hi, #247 (thank @AakashKumarNain) metric module has been created in the master branch, so I think we can start the related work from here. Please contact us if any help is needed :-)

[2019-05-20 15:24] qlzh727 commented on #250
Thanks for the quick fix. I was OOO last Friday, will take a look for the tf.where issue for seq2seq.

[2019-05-20 19:43] seanpmorgan commented on #218
Hi @olesalscheider so we think this is certainly a valuable contribution. Would you be willing to create a WIP pull request so we can decide where it can be housed? Perhaps a decorators submodule within tfa.layers?

Looking at the contrib code it looks like it utilizes variable scope which no longer exists in TF2. It will need to be slightly modified to analyze the variables of a python object.

[2019-05-21 01:34] olesalscheider commented on #218
I started to port the code. You can see the progress here:
https://github.com/tensorflow/addons/pull/256

[2019-05-21 19:18] seanpmorgan opened #258 "Fork Keras Layer Test"
Per https://github.com/tensorflow/tensorflow/issues/28601 it has been recommended that we fork and expose `keras.layer_test` for this project and others to utilize.

Any thoughts where we should put test utilities? I think for this one it makes sense somewhere under tfa.layers, but we might want the central tfa.utils location for all test utilities?

[2019-05-21 19:19] seanpmorgan opened #259 "Refactor losses to inherit from base keras.Loss"
Per recommendation in https://github.com/tensorflow/tensorflow/issues/28601 we should aim to inherit from base `Loss`. I believe this only requires a minor refactoring so replicate the results of `LossWrapper`

[2019-05-22 06:19] WindQAQ opened #260 "Raise exceptions based on tensor's properties"
The build just failed yesterday due to some shape checking fragments in C++ code.
https://source.cloud.google.com/results/invocations/f48f6f28-c9a4-4912-b8c5-336f17167183

Currently, there are three approaches that can check tensor's properties and raise exceptions to block the following computation in addons (migrating from core TF):

1. Pure `if-else` and `raise` statement
https://github.com/ten

[2019-05-22 06:20] WindQAQ commented on #260
cc @seanpmorgan and @facaiy

[2019-05-22 12:43] facaiy commented on #260
@alextp Alexandre, could you take a look?

[2019-05-22 14:03] facaiy commented on #258
My initial thought is tfa.utils. What's your opinion, Sean, Tzu-Wei? cc @WindQAQ

[2019-05-22 14:16] facaiy commented on #260
I think
+  both 1) and 3) are static shape check: 3) is called when constructing graph (graph mode), 1) is in python runtime (graph/eager mode).
+ And 2) is dynamic shape check. It's called in python runtime (eager mode), while in tf runtime (with tf.function, graph/eager mode)

Please correct me if I'm wrong :-)

[2019-05-22 14:21] WindQAQ commented on #258
I would go for tfa.utils.

[2019-05-22 15:39] alextp commented on #260
@facaiy is correct. TF supports both graph-build-time shape checks and graph-run-time shape checks. In tf.function both types of checks might be useful, though tf.function graphs tend to have more static shapes than most manually built tf graphs, so you get more mileage out of the static checks.

Looking at the bugs I see a few false / confused statements being made, so I'd like to understand bett

[2019-05-22 16:41] WindQAQ commented on #260
@alextp, hi Alex, I have some explanations here:

1. I misunderstood the reason of failed build this time, so the C++ is now OK for me. Sorry about that.
2. For `tf.debugging.*` part, I am very wondering how to use it inside `tf.function`:

[code]

The test case above will fail because the statement of `y = x[2]` will raise `ValueError`, indicating that `tf.debugging.*` could not block the followi

[2019-05-22 16:54] alextp commented on #260
What's happening in your two cases is that the ValueError is being raised at graph building time not graph run time, because in tf.function x has a static shape so we know that slicing it is invalid, but tf.shape returns a symbolic tensor and the assert is only evaluated at graph run time.

So to catch the x[2] during graph building time you need a static shape check as well as a dynamic shape che

[2019-05-22 16:56] alextp commented on #260
And you might wonder "what is the assert_greater_equal buying me, then", it buys you the case for which the shape is not known at graph build time. So for example this makes it fail:

[code]

[2019-05-22 17:14] WindQAQ commented on #260
Thank you for the information! I suppose the `tf.function` will convert it initially, but it seems that It's quite a huge work to do shape checking inside `tf.function`... So to conclude, we should always check both static and dynamic shape, right?

[2019-05-22 17:50] alextp commented on #260
I think ideally both static and dynamic shape checks should be there, yes.

On Wed, May 22, 2019 at 10:21 AM Tzu-Wei Sung <notifications@github.com>
wrote:

--
 - Alex

[2019-05-22 17:56] seanpmorgan commented on #260
Thanks very much for the help Alexandre and Tzu-Wei thanks for writing out the distinct examples. I think we should include this information in our subpackage contribution guides or somewhere else convenient.

[2019-05-22 22:56] #168 closed

[2019-05-22 23:28] syedalamabbas commented on #142
Even in windows its the same problem
`C:\Program Files (x86)\Microsoft Visual Studio\2019\Community>pip install tensorflow-addons
Collecting tensorflow-addons
  ERROR: Could not find a version that satisfies the requirement tensorflow-addons (from versions: none)
ERROR: No matching distribution found for tensorflow-addons
`

[2019-05-23 07:37] facaiy commented on #126
@AakashKumarNain Aakash, I think you're right after I read tf-2.0 code: the update_state of cusom metric is decorated by tf.function automatically, that's why you find those code runs in graph mode. see:

https://github.com/tensorflow/tensorflow/blob/2c2d508aa2947ede05cfa195139b176d6cdc9056/tensorflow/python/keras/metrics.py#L149-L152

But we shouldn't worry it too much, because tf.function will t

[2019-05-23 08:56] facaiy commented on #243
@karmel Karmel, do you know who could answer those questions about tf.data and tf.image? Thank you.

[2019-05-23 10:44] AakashKumarNain commented on #126
@facaiy Thanks for this information. I am on vacation till next Thursday. Once I am back, I will look into it and will correct it.

[2019-05-23 11:17] seanpmorgan commented on #142
Hi @syedalamabbas! Addons will be packaged for Windows, but it is not currently. You can track the progress in #173

[2019-05-23 12:27] facaiy commented on #126
No worries, you're welcome :-)

[2019-05-23 16:44] karmel commented on #243
@jsimsa -- can you advise?

[2019-05-25 06:17] sayoojbk commented on #25
I would like working on the image translate ops if anyone is not working on it. If anyone is not working I would like to get started.

[2019-05-25 08:21] WindQAQ commented on #25
@shreyashub, hi Shreyas, are you working on translations_to_projective_transforms? If you haven't start with translate ops, could you let @sayoojbk take it over? Thank you!

[2019-05-25 13:51] shreyashub commented on #25
I was under the impression @Smokrow was doing it. I'm sorry if it appeared if I would take on the job. Please @sayoojbk, feel free to start working on it.

[2019-05-25 14:15] flobotics opened #263 "Using tfa.layers.InstanceNormalization()(x) in @tf.function decorated function fails"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): tensorflow-gpu==2.0.0-alpha0 colab
- TensorFlow version (use command below): tensorflow-gpu==2.0.0-alpha0
- TensorFlow Addons installed from (source, PyPi):
- TensorFlow Ad

[2019-05-25 20:31] Smokrow commented on #263
Hey there.
Thank you for the feedback. I will take a look at this

[2019-05-26 08:18] flobotics commented on #263
i wrote the code for the dcgan example:

[code]

[code]

but it works, it gets more than one training epoch done?  But in my code, there is only this tfa.layers.InstanceNormalization()(x) and it fails, if i out-comment this one statement, the code works ?

My code is here (github has now jupyter notebook view support, you can directly watch it there)
https://github.com/flobotics/colab/blob/master/

[2019-05-26 08:44] flobotics commented on #263
thats it, if its used as activation function it fails, here is the code for the dcgan example

[code]

[code]

thats the error output:

[code]

[2019-05-29 07:14] Squadrick commented on #179
@rootkitchao Any update? I can work on this if you aren't.

[2019-05-29 17:28] #254 closed

[2019-05-30 00:10] SSaishruthi opened #265 "Support for new metrics under tf.metric"
**Describe the feature and the current behavior/state.**

Reference issue: https://github.com/tensorflow/tensorflow/issues/28972#event-2376713783
Reviewer asked me to create a PR in addons.

Support for following metrics

- [X] Cohen's Kappa
- [X] R-Square
- [x] F1 (micro/macro/weighted)
- [x] F-Beta
- [x] Multilabel confusion matrix.
- [x] Hamming score
- [ ] Jaccard score
- [ ] Positive likeliho

[2019-05-30 08:23] AakashKumarNain commented on #126
@facaiy I fixed it. I have also included a simple function to test the implementation with `sklearn` implementation. Please take a look again and see if if it is fine

[2019-05-31 05:39] facaiy commented on #126
@AakashKumarNain Good news! Could you create a PR, Aakash?

[2019-05-31 05:42] facaiy commented on #263
@Smokrow Any update, Moritz? Or could anyone provide a minimal example, so we both can reproduce it and look into the issue :-) Thank you.

[2019-05-31 05:58] facaiy commented on #209
@ychervonyi Hi, Yuri. As discussed in https://github.com/tensorflow/addons/issues/126#issuecomment-495103599, I think keras can make sure that tf.metric runs in the graph mode automatically, so we don't have to wait for the time when tf.metrics supports eager mode. What do you think?

[2019-05-31 05:58] facaiy commented on #232
@shashvatshahi1998 Hi, Shashvat, do you have any update for us?

[2019-05-31 06:03] facaiy commented on #265
Thank you, SSaishruthi.

Yeah, both @AakashKumarNain and @shashvatshahi1998 have made a request for F1 score https://github.com/tensorflow/addons/issues/232 . It looks necessary for our community.

related issue:
+ https://github.com/tensorflow/addons/issues/232
+ https://github.com/tensorflow/addons/issues/209
+ https://github.com/tensorflow/addons/issues/126

[2019-05-31 06:08] SSaishruthi commented on #265
Thanks @facaiy
I will put a hold on F1-Beta to see if anyone is already working on that.
I will start working on other metrics if that is fine.

[2019-05-31 06:14] facaiy commented on #265
Great! Feel free to reach us if any help is needed.

[2019-05-31 06:21] #234 closed

[2019-05-31 07:42] ychervonyi commented on #209
@facaiy Hi Yan. Thank you for bringing my attention to your [comment](https://github.com/tensorflow/addons/issues/126#issuecomment-495103599). Looks like you are right. I will take a closer look at the Keras metrics early next week and see whether I can port my code. Do you think tf.metrics will be abandoned in favor of Keras metrics?

[2019-05-31 10:11] AakashKumarNain commented on #126
@facaiy I am almost done. I am stuck at the test case though. I am getting some errors. Can you please look into it again?
https://colab.research.google.com/drive/1Dd97zdfJhGIrMTpzSKdR6rxnbDGuSBV0

Towards the end you will find the `Test Case` section. Thank you

[2019-05-31 12:04] seanpmorgan commented on #265
Thanks for creating this! Just a note we do already have Focal Loss:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/losses/focal_loss.py

[2019-05-31 13:45] flobotics commented on #263
hi @facaiy ,
code to reproduce is here: https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/r2/tutorials/generative/dcgan.ipynb#scrollTo=6bpTcDqoLWjY

you just need to replace the def make_generator_model(): as in the above posting is described

[2019-05-31 16:59] Smokrow commented on #263
Sorry for the late reply. I had quite a busy week :grimacing:

Looks like this is a problem with the state of the layer. tf.function throws an error when a function inside the decorator tries to create new state after the second call.  the whole thing is discussed here:
https://github.com/tensorflow/community/blob/master/rfcs/20180918-functions-not-sessions-20.md#functions-that-create-state

@sean

[2019-05-31 17:07] SSaishruthi commented on #265
@seanpmorgan Sure.
I have a question before starting. Should this be created under `tf.keras` or `tf.metric`?
@facaiy

[2019-05-31 18:07] WindQAQ commented on #126
Hi, @AakashKumarNain I think you are looking for
[code]
or
[code]
Thanks for the contribution btw 😄

[2019-06-01 04:38] AakashKumarNain commented on #126
Thanks @WindQAQ for the info. Actually I tried both of them and even they are throwing errors.

1) `self.assertAllClose(score1, 0.68932)`
[code]

2) `self.assertAlmostEqual(self.evaluate(score1), 0.68932, 5)`
[code]

[2019-06-01 08:17] WindQAQ commented on #126
Hi, after a rough test and digging into keras implementation, I found `update_state` is forced to execute in graph mode.

https://github.com/tensorflow/tensorflow/blob/a6e5f879e5e36cb33efaed25597cc254ed71bae5/tensorflow/python/keras/metrics.py#L212

And thus, it would be correct to return the update_op in `update_state`, that is, `self.kappa_score.assign(kp)`.

And do tests like the following:

[c

[2019-06-01 10:27] AakashKumarNain commented on #126
Perfect. Thanks @WindQAQ

[2019-06-01 16:07] seanpmorgan opened #269 "MovingAverage optimizer fails in graph mode"
Per today's failing nightly:
`ValueError: Inconsistent values for attr 'Tin' [DT_FLOAT, DT_FLOAT] vs. [DT_RESOURCE, DT_FLOAT] while building NodeDef 'cond_dense/kernel/ExponentialMovingAverage' using Op<name=If; signature=cond:Tcond, input: -> output:; attr=Tcond:type; attr=Tin:list(type),min=0; attr=Tout:list(type),min=0; attr=then_branch:func; attr=else_branch:func; attr=output_shapes:list(shape

[2019-06-01 17:25] #259 closed

[2019-06-03 06:06] Squadrick commented on #269
@facaiy If you want I can take a look at this. I authored `MovingAverage` optimizer.

[2019-06-03 15:24] flobotics commented on #263
is it such a bíg error ? What is e.g. tf.keras.layers.ReLU()(x) doing what tfa.layers.InstanceNormalization()(x) does not?

[2019-06-03 15:43] WindQAQ commented on #265
Hi, @SSaishruthi. Welcome to addons community!

I was thinking about adding under tf.metric. Some of the linked current works are under tf.keras though.

Do you mean if we should inherit from either `tf.metrics.Metric` or `tf.keras.metrics.Metric`? If so, they are just the alias in TF2.0.

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/metrics

[2019-06-03 18:44] SSaishruthi commented on #265
Thank you @WindQAQ

[2019-06-03 23:53] seanpmorgan commented on #243
@jsimsa thank you for the answer and apologies for the slow reply back. I confirmed that switching to `decode_png` does corrrectly infer the shape which is great. One lingering question though:

1) It's true that the addons logic got tripped up by the None shape coming out of `decode_image`... but in `tf.image.rot90` None shape is handled by defaulting to a 3D shape. Is there a reason this is safe

[2019-06-04 01:05] seanpmorgan commented on #263
Hi @flobotics sorry for the delay in looking into this. So I think there might be some confusion. `tfa.layers.InstanceNormalization()` is a normalization method meant to improve training, which is quite different than a ReLU layer which is an activation layer that enables non-linear mappings.

In your example it would make sense to replace BatchNormalization with InstanceNormalization which have t

[2019-06-04 01:24] seanpmorgan commented on #263
Eh, sorry so I read through your report a little closer and it looks like you're trying to create a custom activation function and feed it as a parameter to Conv2DTranspose? I'm not sure I'm following why your activation function would include a normalization step and I believe they should be two separate layers?

[2019-06-04 02:28] jsimsa commented on #243
I tried digging through git history to find the person who might have the answer for you and as far as I could tell is should be @aselle.

[2019-06-04 11:44] Squadrick commented on #118
@seanpmorgan Finally got myself an nvidia GPU. I can work on this.

[2019-06-04 13:01] seanpmorgan commented on #269
Hmmm tests against 2.0.0.dev20190604-cp27-cp27mu-manylinux1 are passing. Looks like it's been fixed on TF core. If anyone is able to find the commit I'd be interested.

[2019-06-04 13:01] #269 closed

[2019-06-04 13:36] WindQAQ commented on #218
Hi, @olesalscheider, I just found https://github.com/tensorflow/tensorflow/commit/f958df6b557176f6858742fabd97ade4f71bf212 in core TF (June 4th). Does this have the same functionality with the one in tf.contrib?

[2019-06-04 14:03] seanpmorgan commented on #218
Good find @WindQAQ. I've made a note in our monthly meeting to discuss a better way for us to be informed of contrib moves/changes within TF core.  Apologies for the extra work @olesalscheider (assuming this covers all the functionality you were looking for)

[2019-06-04 16:08] flobotics commented on #263
@seanpmorgan  yeah, if i use the layers separate instead as in a activation function it works. dumb that i didnt thought about that, thanks alot

[2019-06-04 16:08] #263 closed

[2019-06-04 16:13] seanpmorgan commented on #263
@flobotics Anytime! The error you ran into is what @Smokrow was describing, but I didn't think you needed to run into that stateful tf.function problem... glad you're up and running.

[2019-06-04 17:12] olesalscheider commented on #218
Yes, it looks like this would work for me. I can test it later.

[2019-06-04 23:11] SSaishruthi commented on #265
@WindQAQ @facaiy @seanpmorgan
I have R-square first version ready
https://colab.research.google.com/drive/1qteFJCiJlN3ougAoZM-QtnrZeeHlXHB3

Also, I have F1 - Micro/Macro/ weighted first version too if you are fine with that.

[2019-06-05 13:15] #253 closed

[2019-06-05 17:11] WindQAQ commented on #265
@SSaishruthi, well done! As the same question in https://github.com/tensorflow/addons/pull/267#pullrequestreview-244953599, is there any reason that we could only compute the metric on a single batch instead of accumulating states and computing overall R-square?

[2019-06-05 18:52] SSaishruthi commented on #265
Hi @WindQAQ
That's a great point. I was looking at that as well.
1. One option for user is to use `Callback`
https://keras.io/callbacks/#create-a-callback?

2. We need to save values in a list as we progress and do the calculation at the end.

[2019-06-06 02:23] WindQAQ commented on #265
Hi @SSaishruthi, I have to clarify my example:
[code]
Metrics inherited from `tf.keras.metrics.Mean` or `MeanMetricWrapper` **take the average over batches** instead of over samples. So the the second result above is computed by (0.8 + 1) / 2 rather than (4 + 4) / (5 + 4). In this scenario, I think it is much easier to accumulate states (maintain two variables `total` and `count` and result is equ

[2019-06-06 07:35] facaiy commented on #265
@WindQAQ Which metric to inherit from Mean, Tzu-Wei?

[2019-06-06 07:50] facaiy commented on #209
Hi, Yuri, tf.metrics is an alias for [tf.keras.metrics](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/metrics) in tf 2.0.

[2019-06-06 07:51] facaiy commented on #209
Yes, you're right, the old tf.metric will be abandoned totally.

[2019-06-06 12:28] WindQAQ commented on #265
Not so sure about that... Some metrics in `tf.keras.metrics` like `BinaryAccuracy` average over each batches' measurement, while others like `Precision` average over samples. You may understand what I say in this [notebook](https://colab.research.google.com/drive/1uqKSW9dgbdjAeKg7wUZuA4og0TR24qHC). So if metrics follow `BinaryAccuracy`'s pattern, one could easily implement it when inheriting from

[2019-06-06 17:31] SSaishruthi commented on #265
I will wait till we decide on this. Meanwhile, I have F1 (micro, macro and weighted) draft ready. Facing some issue when wrapping inside the class. Works when written as a function.
https://colab.research.google.com/drive/1TqY1zyjEjJY2YVVy_I_TtST4RVs3cS6c
will keep working on this and other.
Thanks @WindQAQ @facaiy

[2019-06-07 13:57] seanpmorgan commented on #218
Sounds good! Happy to re-open this if there is some functionality missing (though it might make more sense as a PR to TF core)

[2019-06-07 13:57] #218 closed

[2019-06-07 17:19] #76 closed

[2019-06-09 05:45] facaiy commented on #265
@WindQAQ Good question, Tzu-Wei. It's indeed confusing. I think all subclasses of MeanMetricWrapper expect 2-dim `y_pred` and `y_true` after I read their [test cases](https://github.com/tensorflow/tensorflow/blob/f59745a38177bbc6f52a84af3a8a6d5c323d6db0/tensorflow/python/keras/metrics_test.py#L399-L408).

[code]

[2019-06-09 05:52] WindQAQ commented on #265
@facai Got it! Thanks for the clarification here!

[2019-06-09 05:56] SSaishruthi commented on #265
@WindQAQ @facaiy
Thanks for the pointers. How are we going to proceed with metrics here?

[2019-06-09 06:08] facaiy commented on #265
@SSaishruthi Hi, would you mind taking a look at @AakashKumarNain 's PR #267 for kappa? His [new idea](https://colab.research.google.com/drive/10CNyrnq10RUTHssUcfSdtIyYdGnC5bGD) might be useful for you: always update confuse_matrix, and calculate results when needed.

[2019-06-09 06:16] facaiy commented on #265
Per [tf.keras.metrics.Metric](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/metrics/Metric):

I think we should create variables for intermediate state, rather than final result. Those state variables are updated when invoking `update_state`. And metric computes the final result only until user calls `result` method.

[2019-06-09 06:22] SSaishruthi commented on #265
Thanks @facaiy
I will keep you posted about the update.

[2019-06-09 07:17] Anton-Velikodnyy opened #274 "Where would I get the flow parameter to feed into dense_image_warp?"
Not sure how to utilize Dense warp flow operation.
I know there is a Dual_TVL1 function in cv, but is there something similar in tensorflow that I can utilize?

Thank you @WindQAQ

[2019-06-09 07:56] WindQAQ commented on #274
Hi, the short answer is no. There is no function that could generate optical flow between two frames like DUAL_TVL1 at least in addons. But I think you could generate flows with other packages (e.g. opencv) and feed them into `dense_image_warp`. That will also work fine. It's also welcome to contribute such functionality to addons! Thank you for asking.

[2019-06-10 02:18] seanpmorgan opened #275 "Create mapping of all tf.contrib ports"
Per a request in this month's monthly meeting. If we can help put together a document of all tf.contrib functions/classes that were moved to addons then the tensorflow core team will have the converter script point to the addons equivalents. Ideally we can have this done by the end of the week.

I've started a public google sheet here:
https://docs.google.com/spreadsheets/d/1a22wKHcmt7Ad6BW8tFjX76

[2019-06-10 09:59] flobotics opened #277 "import tensorflow_addons as tfa fails with tensorflow-gpu==2.0.0-beta0"
**System information**
- TensorFlow installed from (source or binary): colab
- TensorFlow version (use command below): !pip install tensorflow-gpu==2.0.0-beta0
- TensorFlow Addons installed from (source, PyPi): colab
- TensorFlow Addons version:!pip install tensorflow-addons

- Is GPU used? (yes/no):yes
- GPU model (if used): colab

**Describe the bug**

when i run the following code , it crashes

[2019-06-10 10:51] seanpmorgan commented on #277
Thanks for tracking this @flobotics! We're waiting for this issue and a few others to get patched:
https://github.com/tensorflow/tensorflow/issues/29540

We were told there should be a beta1 release in the next few days. Once that happens we'll quickly release a 0.4 which should be compatible with tf2-beta (and most likely the nightlies as well)

[2019-06-10 13:29] Anton-Velikodnyy commented on #274
Maybe my lack of familiarity with optical flow. Then what would be the input to the flow parameter of the dense_warp_flow function? Or is it output from cv.Dual_TVL1, cv.calcOpticalFlowPyrLK, calcOpticalFlowFarneback. if so which of these is best to use? also I would just be throwing this into a py_function.

Also found this, side note:
https://github.com/tensorflow/tensorflow/blob/master/tensorfl

[2019-06-10 13:44] WindQAQ commented on #274
Hmm, I'm not familiar with optical flow either... But the `flow` argument for `dense_image_warp` is a vector field indicating the direction that each pixel should follow. I should have some time to make an example for this after the importing issue is fixed... Maybe that could help you and the community understand how to use it.

[2019-06-10 18:21] SSaishruthi commented on #265
Hi @facaiy @WindQAQ
I have updated R-Square metric. Looks like I am getting minute difference in the calculation.
Can you please let me know if this is fine?
https://colab.research.google.com/drive/1_s1bFZvFw6WhRoufuTw0Ucd_dtKExMTA

[2019-06-11 04:56] WindQAQ commented on #265
Hi @SSaishruthi, that's because the total variance is not equal to the summation of each batches' variance. Here is the revised [notebook](https://colab.research.google.com/drive/1NWkrP3ORb3uF8AHj9li1ZCM34C0hfcHv). Maintain additional variables like `\sum y^2`, `\sum y` and `n` so that we could compute the total sum of squares correctly. Still need more tests though :-)

[2019-06-11 05:08] SSaishruthi commented on #265
Thanks @WindQAQ
I will add more test cases. Also,
What should be my next step wrt to r2 ?
I am also modifying F1 based on this.

[2019-06-11 05:15] WindQAQ commented on #265
Please file the PR after test cases are done (one PR for one metric). For F1 score part, Instead of maintaining a whole n by n confusion matrix, I think a more lightweight method is to maintain true_positives, false_positives and false_negatives. Like the implementation for `Precision`
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/metrics.py#L1089

[2019-06-11 05:22] SSaishruthi commented on #265
Sure. Will do
Thanks a lot @WindQAQ

[2019-06-11 07:05] NLP-ZY commented on #22
How is it going on about this issue? I want to use tf.keras(2.0), but there is no CRF Layer, so that I can only use keras & keras_contrib.

[2019-06-11 15:42] flobotics commented on #277
ok, thx

[2019-06-11 15:46] seanpmorgan commented on #277
We can leave this open until it's fixed. Other's may have the same question :grin:

[2019-06-11 15:50] flobotics commented on #277
ok

[2019-06-11 16:24] seanpmorgan commented on #22
Hi @NLP-ZY thanks for bumping this. CRF is a highly requested feature and we'll make sure it's implemented prior to a TF2 release.

Relevant issue: https://github.com/tensorflow/tensorflow/issues/26167

[2019-06-11 16:27] Squadrick commented on #22
@seanpmorgan I'll work on this.

[2019-06-11 16:36] seanpmorgan opened #279 "Move python3 CI testing to python3.6"
Recently there has not been any [py34 tf2-nightlies published](https://pypi.org/project/tf-nightly-2.0-preview/#files). I've asked SIG-Build if this is a permanent change seeing as py34 is EOL, but regardless I think it's wise to move our CI testing to python3.6

Can this be easily done? @karmel @av8ramit

[2019-06-11 16:36] seanpmorgan commented on #279
As a discussion topic: should we stop supporting python3.4 now that it's EOL?

[2019-06-11 16:43] howl-anderson commented on #22
If need help, I familiar with CRF and I can help with the coding and testing.

[2019-06-11 16:55] kyleabeauchamp commented on #279
I agree with deprecating 34.

On Tue, Jun 11, 2019, 9:37 AM Sean Morgan <notifications@github.com> wrote:

[2019-06-11 16:58] av8ramit commented on #279
If the official agreement is to do this with Python3.6 we can look into this. I'll let @karmel make the final decision.

[2019-06-11 16:59] seanpmorgan commented on #243
Hi @aselle Do you happen to have any comment on why its safe to default to 3D rotate when shape is `None`?
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_impl.py#L511

[2019-06-11 17:20] aselle commented on #243
It probably is just so that if you don't know anything about the shape you can still proceed.  None of ndims means the rank is not known. so it's just a fallback.

[2019-06-11 17:27] parth-p opened #281 "Contrast Enhancement Methods"
**System information**
- TensorFlow version: 2.0
- TensorFlow Addons version: 0.3
- Is it in the tf.contrib:  Not present untill now
- Are you willing to contribute it: Yes
- Are you willing to maintain it going forward?: Yes

**Describe the feature and the current behavior/state.**
I am proposing to add histogram equalization and adaptive histogram equalization methods.

**Who will benefit with t

[2019-06-11 18:03] seanpmorgan commented on #22
IMO this should go under tfa.text. Any objections to that?

[2019-06-11 18:09] Squadrick commented on #22
Yup, I was thinking the same.

[2019-06-11 23:19] facaiy commented on #243
So we should handle unknown rank, because it's valid in graph mode. And it seems that there are at least two solutions:
1. use dynamic shape if possible;
2. fallback to 3D data (perhaps unsafe).

[2019-06-12 02:43] NLP-ZY commented on #22
@seanpmorgan Thanks for your reply!

[2019-06-12 03:00] SSaishruthi commented on #265
@WindQAQ
How do we provide shape for true_positives, false_positives, and false_negatives? Is there any recommended procedure?  I came across this wondering if this is something I need to look into

https://github.com/tensorflow/tensorflow/blob/b8b7f916f79dce0f6d7c65aabf7f6b0c8092574a/tensorflow/python/keras/metrics.py#L1157

[2019-06-12 04:20] SSaishruthi commented on #265
Hi @WindQAQ @facaiy

I have created F1 Macro score version 1

https://colab.research.google.com/drive/1LJ1yb8cUgisNP3ETfMLRYPQEyJivzDv-

Please let me know if this fine. Meanwhile, I will start working in R2 PR

[2019-06-12 06:27] Squadrick commented on #265
@SSaishruthi Took a look at the F1 macro draft, it looks good but needs a few changes. Could you open a PR for F1 macro and we can review it there directly.

[2019-06-12 06:59] Squadrick commented on #179
Using native CUDA for deform conv is dependant on #118 .

[2019-06-12 09:57] WindQAQ commented on #281
Hi Parth, thanks for the contribution! I have some thoughts on this:

1. Could you compare the result and the speed of your approach with existing framework (e.g. opencv)?
2. I think these lines
[code]
can be replaced with
[code]
With native tensor operation, it could speed up a lot. Still need more tests though.
https://colab.research.google.com/drive/1gjflcAigXXhUbMzXWkFAvi4niOJyDPkQ

[2019-06-12 15:37] shreyashub opened #282 "Suggestions for tfa.text features"
Hi all,
If anyone has any suggestions for what can be added in TF Addons - Text, please feel free to share them here.
I am rather new to NLP but seeing as TF Text is also a rather new library, I'm hoping there are various basic modules/ features that can be added and in which others and I can contribute.
@seanpmorgan  @facaiy If you have any ideas and/or suggestions please do share.

[2019-06-12 15:56] Squadrick commented on #282
How are we planning on accepting contributions to tfa.text now that [tensorflow/text](https://github.com/tensorflow/text) is a thing?

[2019-06-12 16:01] Squadrick commented on #282
We could accept contributions to tfa.text and graduate highly used and tested modules to tensorflow/text.

[2019-06-12 16:08] seanpmorgan commented on #282
So my first thought was this because the barrier to entry for someone willing to maintain code in addons is lower than tensorflow/text (I assume but maybe incorrectly). Certainly worth a discussion though thanks for bringing this up!

cc @ewilderj @dynamicwebpaige @karmel for thoughts

[2019-06-12 16:13] karmel commented on #282
CC @edloper for thoughts.

[2019-06-12 16:15] Squadrick commented on #118
@gunan Hey, do you have some sample code on how this is supposed to be used?

In the RFC, you mention a new API: `tf.load_kernel_library`, but I can't seem to find in the `master` branch of TensorFlow, I did find `tf.load_library` though.

[2019-06-12 16:23] gunan commented on #118
During implementation, we decided to make it more general and name it "load_library" instead.
Please use that function instead.

[2019-06-12 16:34] seanpmorgan commented on #126
Good to close this? Seems like we have a few separate metric's issues with some overlap?

[2019-06-12 16:37] Squadrick commented on #126
Yup, we can track metrics under #265.

[2019-06-12 16:37] #126 closed

[2019-06-12 16:37] AakashKumarNain commented on #126
Yeap. Good to close.

[2019-06-12 16:43] Squadrick commented on #61
@Gokkulnath Any update on this?

[2019-06-12 16:44] seanpmorgan commented on #232
Tracking in #265

[2019-06-12 16:44] #232 closed

[2019-06-12 16:47] seanpmorgan commented on #265
@SSaishruthi I edited your initial post for to track these a little easier since this will be our metrics tracking issue. Hope you don't mind.

[2019-06-12 16:50] Squadrick commented on #209
Tracking in #265

[2019-06-12 16:50] #209 closed

[2019-06-12 16:50] seanpmorgan commented on #281
Great suggestion for benchmarking. Though we do need to consider how it works in practice as a tf.dataset (opencv would require numpy arrays instead of tensors... I would think that slows it down in a pyfunc?)

[2019-06-12 17:20] SSaishruthi commented on #265
Thanks, @Squadrick for the review. Will create a PR.

[2019-06-12 20:26] SSaishruthi commented on #265
@seanpmorgan @WindQAQ @Squadrick

Hello,

I have a solution for F1-micro as well. Should I combine it with F1-macro or we can have it separately?

[2019-06-12 21:54] developeralgo8888 commented on #277
i have the same issue

[2019-06-13 05:03] Squadrick commented on #265
Put them in the same module, but make them separate classes.

[2019-06-13 13:14] Squadrick commented on #22
@howl-anderson Some of my tests are failing because they're off from the actual values. I have my code [here](https://github.com/Squadrick/addons/tree/crf/tensorflow_addons/text). I'll take a look at it later today, but if you want you could take a crack at it.

[2019-06-13 13:51] seanpmorgan commented on #193
Now that we have [nightlies being published](https://pypi.org/project/tfa-nightly/#files), the recommended way to run against `tf-nightly-2.0-preview` is to use `tfa-nightly`

[code]

Once we publish 0.4 we'll do our best to keep it compatible with tf2-nightly but that is not something we can guarantee.

[2019-06-13 13:51] #193 closed

[2019-06-13 14:28] seanpmorgan commented on #279
**Update:**
It has been confirmed as a bug and tf2-nightlies for py34 have started being published again. They did mention that tf-core will indeed remove py34 support in the future -- so I think addons should just align with tensorflow core in doing this. For now this issue can be closed but we'll need to re-open this in the future it seems.

[2019-06-13 15:21] WindQAQ commented on #281
Yes, it might be slower for pyfunc. Just want to clarify if while and for loops hurt the performance a lot though...

[2019-06-13 17:06] Gokkulnath commented on #61
@Squadrick Thanks for reminding me. I am new to opensource contribution so was not sure how to proceed further. I have the folder structure ready. I need help on how the callbacks need to be implemented?  Should i inherit from tf.keras.callbacks.Callback and create custom callback ?
P.S: Shall i proceed with OneCycleLR or do you have an simpler Callback in mind ?
Can we add more details to contrib

[2019-06-13 18:01] Squadrick commented on #61
@Gokkulnath Took a look at your folder structure, it's just what we need. One small nit, you need to set your name and email for your commits by using `git config` like [this](https://confluence.atlassian.com/bitbucket/configure-your-dvcs-username-for-commits-950301867.html#ConfigureyourDVCSusernameforcommits-ConfigureyourGitusername/email).

As for the implementation, you'll need to inherit from

[2019-06-13 19:02] parth-p commented on #281
Following are the results that I observed :
For histogram equalization:
![pic1](https://user-images.githubusercontent.com/28673760/59459879-7b0a5480-8e3b-11e9-87f5-60b5ec10eeba.png)

For Adaptive histogram equalization:
![pic2](https://user-images.githubusercontent.com/28673760/59459926-8bbaca80-8e3b-11e9-9488-e5c482b2ff4b.png)

[2019-06-13 22:22] SSaishruthi commented on #265
Hello @facaiy @seanpmorgan @WindQAQ @Squadrick

I have two PRs.

1. F1 micro/macro/weighted
2. R-square

Colab notebooks:

F1 scores
https://colab.research.google.com/drive/1qSq0SsYkPqjdKUgM1RM4kKM67X75ocFj

R-Square
https://colab.research.google.com/drive/1Qh3zYhpoB_Ln6O2d6YSBqviYsuw0W9VS

Working on test cases now.

[2019-06-14 05:04] Squadrick commented on #265
@SSaishruthi The variable names are fine, it's clear enough. Yup, you can use `Cohen's Kappa` test scripts as an example.

[2019-06-14 16:29] spartian commented on #265
Has anyone implemented hamming score in tensorflow? I am doing multilabel classification of news articles in keras. The test accuracy is 96% which I don't think is a proper measure. Hamming score has been of great interest in multilabel classification. Please add this to the list as well and if anyone has come up with a solution...please share it....:) Thank you

[2019-06-14 16:37] SSaishruthi commented on #265
Hi @spartian
I have proposed this before and will be working on that as well. Looks like we have updated the issue and missed this metric. Thanks for bringing this up.

[2019-06-14 16:40] spartian commented on #265
Hey @SSaishruthi,

Could you give a rough idea about the implementation? I am kindaa lost here.....

[2019-06-14 18:20] sjmielke opened #289 "Beam search decoder _check_static_batch_beam_maybe check correct?"
**System information**
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0=alpha
- TensorFlow Addons installed from (source, PyPi): PyPi
- TensorFlow Addons version: 0.3.1
- Python version and type (eg. Anaconda Python, Stock Python as in Mac, or homebrew installed Python etc): Google Colab Python
- Is GPU used? (yes/no): yes
- GPU model (if used)

[2019-06-14 20:33] Squadrick commented on #289
cc: @qlzh727

[2019-06-14 22:41] SSaishruthi commented on #265
Hello again,

Tried a set of hamming metrics.

1. Hamming distance
2. Hamming loss (multiclass/multilabel)

https://colab.research.google.com/drive/1Msuv5xUu7lu5wDH1ei-VOPB-UnBolDfB

If it looks good, I can start wrapping inside metric.

[2019-06-15 05:27] spartian commented on #265
Thank you @SSaishruthi

[2019-06-15 05:47] spartian commented on #265
One more thing...look at this thread
https://stats.stackexchange.com/questions/233275/multilabel-classification-metrics-on-scikit/234354#234354

It says here something about hamming_score. Is hamming_score and hamming distance same?

[2019-06-15 07:08] howl-anderson commented on #22
@Squadrick Sure

[2019-06-15 10:38] WindQAQ commented on #281
@parth-p Parth, seems that adaptive histogram equalization renders different results. Is it possible to make them the same?

[2019-06-15 10:42] #260 closed

[2019-06-16 10:48] flobotics commented on #277
just info, tensorflow-gpu==2.0.0-beta1 is available

[2019-06-16 16:28] Squadrick commented on #265
@SSaishruthi The code in the colab notebook looks alright, but it currently converts to `np` which isn't desirable. You can open the PR once it uses only `tf`.

[2019-06-16 16:47] seanpmorgan commented on #277
Verison 0.4 built against tf2-beta is now released!

https://github.com/tensorflow/addons/releases/tag/v0.4.0
https://pypi.org/project/tensorflow-addons/0.4.0/#files

[2019-06-16 16:47] #277 closed

[2019-06-17 03:05] facaiy commented on #118
@av8ramit Hi, Amit. Can you check the GPU test failures in #294? Which docker image do we use for gpu test? Is it tensorflow/tensorflow:custom-op-gpu image required by https://github.com/tensorflow/custom-op? Thank you.

[2019-06-17 04:25] attaullah opened #295 "Unable to compile model using triplet loss"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tensoflow-gpu2beat1
- TensorFlow Addons installed from (source, PyPi): pip 0.4
- TensorFlow Addon

[2019-06-17 04:56] fnauman opened #296 "installation issues with tensorflow==2.0.0-beta1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): PyPi (pip install tensorflow==2.0.0-beta1)
- TensorFlow version (use command below): tensorflow==2.0.0-beta1
- TensorFlow Addons installed from (sourc

[2019-06-17 05:33] SSaishruthi commented on #265
@Squadrick Thanks for the review. I have updated to use only tf
https://colab.research.google.com/drive/1Msuv5xUu7lu5wDH1ei-VOPB-UnBolDfB

Will create PR for the same.

[2019-06-17 06:11] WindQAQ commented on #295
Hi @attaullah, thanks for pointing that. The problem is caused by [thie line](https://github.com/tensorflow/addons/blob/31ec2ec76b368e5d1bcb5a3beb75e81d95bb9ea1/tensorflow_addons/losses/triplet.py#L78). I think you could simply remove it or follow #298.

[2019-06-17 06:15] WindQAQ commented on #296
Hi @fnauman, could you provide your python version? Seems that it works fine on colab.
https://colab.research.google.com/drive/1wQ5iPG3FlvQF8b6DPQwbkOIu8veVroJv

[2019-06-17 08:51] facaiy commented on #296
one more question, do you use any mirror site for pip?

Can you run `pip install tensorflow-addons==`? It will list all available versions, for example:

[code]

[2019-06-17 09:48] fnauman commented on #296
Ahh sorry. I had not paid attention to the fact that python 3.7 is not supported.

I just created a fresh conda environment with python==3.6. Then did:
`pip install tensorflow==2.0.0-beta1`
`pip install tensorflow-addons==0.4.0`

and tensorflow-addons installed and is now importing fine.

When I tried:
`pip install tensorflow-addons==?`

it returned this output:

but like I said above with `tensor

[2019-06-17 09:48] #296 closed

[2019-06-17 12:11] seanpmorgan commented on #296
Sorry about that... we're working to get python3.7 supported ASAP: #75 . Once we get a compatible build environment we do not expect to lag behind python releases again.

[2019-06-17 13:02] #295 closed

[2019-06-17 14:02] Mazecreator opened #301 "Convert? - Any interest in single_image_random_dot_stereograms"
Hi,

I am the original Author of the **single_image_random_dot_stereograms** "contrib" in TensorFlow 1.X.  Is there any interests to move this image technology into the AddOn's?  I know there are a few users out there but understand it isn't an imperative to keep in TensorFlow.  Great way to view 3D without hidden lines (like the older waterfall plots).

"Single Image Random Dot Stereogram for Ten

[2019-06-17 15:05] guillaumekln commented on #289
I'm the original author of this function as part of https://github.com/tensorflow/tensorflow/commit/838a8f54f92452a15e3bb62a23ad5cd67e86933f and indeed the check is incorrect.

The check is simply: when the batch size and beam size are known statically, the leading dimensions should either be [batch_size*beam_size, ...] or [batch_size, beam_size, ...]. There is probably a cleaner way to do this.

[2019-06-17 16:17] sjmielke commented on #289
Alright, cool! I'll try to submit a PR to fix make it do just that one of these days then :)

[2019-06-17 16:35] qlzh727 commented on #289
Ack, I can reproduce the error. @sjmielke feel free to send a PR, or you can assign to me if don't have time to fix it.

[2019-06-17 17:03] seanpmorgan commented on #275
@tomerk is the spreadsheet above sufficient? After trying to detail the exact parameter changes I think I lean toward this being not a great idea if you're trying to refactor code in the upgrade script. A lot of these had to substantially change their inputs to fit the keras style etc.

IMO it's probably best to just point them to the counterpart in addons but not automatically replace the paramet

[2019-06-17 17:29] tomerk commented on #275
I see. Okay, we can make the conversion script just output specific warnings saying which add-ons symbol they map to.

@dynamicwebpaige any thoughts?

[2019-06-17 17:47] SSaishruthi commented on #265
@Squadrick @facaiy @seanpmorgan @WindQAQ
I am working on hamming metrics PR. Is it ok if I discuss hamming loss in this issue or create a separate one?

Do we need to hold state information for hamming loss?

[2019-06-17 18:25] seanpmorgan commented on #265
@SSaishruthi please open a separate issue... thanks for all your work!

[2019-06-17 18:38] SSaishruthi opened #305 "Add hamming loss for both multiclass and multilabel"
**System information**
- TensorFlow version (you are using): 1.13
- TensorFlow Addons version:
- Is it in the tf.contrib (if so, where):
- Are you willing to contribute it (yes/no): Yes
- Are you willing to maintain it going forward? (yes/no): Yes

**Describe the feature and the current behavior/state.**
Hamming score is of great interest in multilabel classification.

**Will this change the curre

[2019-06-17 18:39] SSaishruthi commented on #265
Thanks @seanpmorgan
I have created a new issue and can post my updates there.

[2019-06-17 18:40] SSaishruthi commented on #305
Clarification:
Do we need to hold state information for this?