[2020-02-19 10:44] veqtor commented on #1099
@failure-to-thrive sure would, but I don't know if I can build tfa incl cuda deps etc

[2020-02-19 14:49] nbowon opened #1108 "0.8.2, 0.8.1 version is not compatible with Mac OS version < 10.15"
**Describe the feature and the current behavior/state.**
I'm using Mac OS 10.14.6 version and I cannot install 0.8.2 or 0.8.1 version with pip
Seems 0.8.2 is only compatible with Mac OS version 10.15.x
Could you make 0.8.2 version of tensorflow-addons compatible with Mac OS 10.14.x?

**Relevant information**
- Are you willing to contribute it (yes/no): no
- Are you willing to maintain it going for

[2020-02-19 15:50] seanpmorgan commented on #1108
Thanks for the issue! So the reason for this is when we switched builds to GitHub actions we didn't notice that the MacOS environment was running 10.15. Previously we had built for 10.13.

Simple fix just need to copy TF-IO's stratefgy:
https://github.com/tensorflow/io/blob/master/.github/workflows/build.yml#L81-L82

[2020-02-19 16:13] georgesterpu opened #1109 "BeamSearchDecoder segmentation fault (on GPU)"
**System information**
- OS Platform and Distribution: Manjaro Linux testing
- TensorFlow version: pypi tf-nightly 2.2.0.dev20200218
- TensorFlow-Addons version: pypi tfa-nightly 0.9.0.dev20200219
- Python version: 3.7.6
- Is GPU used? (yes/no): yes, Nvidia Titan XP

**Describe the bug**

Calling a BeamSearchDecoder results in a _Segmentation fault (core dumped)_.

**Code to reproduce the issue**

[2020-02-19 16:27] guillaumekln commented on #1109
Does it also segfault when using the tagged releases Addons 0.8.2 and TensorFlow 2.1.0?

[2020-02-19 16:44] georgesterpu commented on #1109
@guillaumekln This example works (almost) with:
[code]
However the snippet above returns a TypeError
[code]
and can be made to work by having a positonal `None` as the first argument, instead of `embedding`. @qlzh727 could you please help with some clarifications on this topic ?

My internal project (soon to be publicly released) doesn't seem to work on tf 2.1, triggering the following error in tr

[2020-02-19 18:20] failure-to-thrive commented on #1099
This complicates the things. I have to find out how to build a _.whl_ for your OS. Perhaps the same way as packages for PyPI the maintainers do.
@seanpmorgan what do you think about it?

[2020-02-19 18:44] failure-to-thrive commented on #1109
Actually, it can be related. Curretnly TFA utilizes **two** CUDA runtimes at the same time: one which is statically linked and one dynamic which is leaked throw Tensorflow exports. This definitely can cause crashes, UB and so on.

[2020-02-19 19:47] veqtor commented on #1099
Perhaps writing tests for the 2nd order grads is better?
Should be quite easy to verify that the autograph version is the same as the cuda implementation

[2020-02-20 01:01] georgesterpu commented on #1095
@qlzh727 thanks for looking into this.
Although I don't need a non-default case, unfortunately the call to RNN with `initial_state=None` still returns the same error.

[2020-02-20 01:02] georgesterpu commented on #1095
@qlzh727 thanks for looking into this.
Although I don't need a non-default initial state, unfortunately the call to RNN with `initial_state=None` still returns the same error.

[2020-02-20 01:31] seanpmorgan commented on #1104
Thanks for the find @abhichou4 !
It looks as though the reason TFA is in the environment is because of TF federated which is pinned to ~0.6.0

I'll raise an issue on TFF to see if they can pin to >= versions.

[2020-02-20 01:45] seanpmorgan commented on #1108
@nbowon Could you please try to install `tfa-nightly` and see if it works. The pip package is still labeled as 10.15 but I'm not sure if pip prevented you from installing it or if the package crashed on older versions.

Re-opening this until it's confirmed to be fixed. Once it is we will create a 0.8.3 patch release.

[2020-02-20 03:07] nbowon commented on #1108
I can install tfa-nightly,
when I try

is installed.
I still cannot install 0.8.2 version

[2020-02-20 03:13] seanpmorgan commented on #1108
As a short term option you can build Addons from source:
https://github.com/tensorflow/addons#installing-from-source

We'll continue to work to get the packages fixed though. Please follow along with this issue.

@yongtang just FYI it appears that TF-IO packages are being built against 10.15 as well since moving to GitHub actions:
https://pypi.org/project/tensorflow-io-nightly/#files

[2020-02-20 03:24] yongtang commented on #1108
@seanpmorgan Thanks! I think the issue happens in setup tools. As `python setup.py...` creates the package with `macosx_10_15` shown up in the filename of `whl` created. May need to look into setuptools package to see if there is a ways to pass the expected name instead. Otherwise the build may have to happen on macOS 10.13.

[2020-02-20 03:39] yongtang commented on #1108
Looks like there is a `--plat-name` in setup tools that could be used to specify a different platform:

[code]

[2020-02-20 04:42] yongtang commented on #1108
@seanpmorgan I created a PR #797 for tensorflow/io. Think it might work on add-on as well.

Still need to find out a way to sanity check to make sure the generated binary works on 10.13.

[2020-02-20 06:21] nbowon commented on #1108
@nbowon seanpmorgan Thanks. I'm trying to use it by building from source.
I hope it will resolve soon.

[2020-02-20 07:46] failure-to-thrive commented on #1099
Of course, unittests is a first-line defense against bugs. :beetle: :beetle: :beetle:  But, what if some of them sneak anyway? :beetle:  Pushing changes through the main TFA repo is not a good idea. Although, it is too early to think about it.
OK. Could you please suggest what to implement first, math papers and some test values to test against?

[2020-02-20 11:07] gabrieldemarmiesse opened #1114 "Adding a pure python implementation corresponding to simple C++/Cuda ops."
**Describe the feature and the current behavior/state.**

For custom ops, we have two implementations: C++ and Cuda.
I propose that __for simple ops__ , meaning less than 10 python lines, we implement a pure Python version too. I see several use cases:

* We can more easily test the correctness of the C++ and Cuda implementation. In the test suite, we generate random tensors and check that the res

[2020-02-20 12:31] veqtor commented on #1099
I can try to build TFA for my platform.

Maybe start with Mish:

definition:
y = x * tanh(softplus(x))

https://www.wolframalpha.com/input/?i=x+*+tanh%28log%281+%2B+exp%28x%29%29%29

First order derivative:
https://www.wolframalpha.com/input/?i=%28e%5Ex+%284+e%5E%282+x%29+%2B+e%5E%283+x%29+%2B+4+%281+%2B+x%29+%2B+e%5Ex+%286+%2B+4+x%29%29%29%2F%282+%2B+2+e%5Ex+%2B+e%5E%282+x%29%29%5E2&assumption=%2

[2020-02-20 14:01] failure-to-thrive commented on #1114
Frankly, it's not clear for me why TFA activations/... need C++ code. All those functions can be expressed with regular Tensorflow ops, gaining the same benefits such as a GPU placement. What did I miss?

[2020-02-20 14:03] gabrieldemarmiesse commented on #1114
https://github.com/tensorflow/addons/pull/913 can give some background and discussion that we had concerning this.

[2020-02-20 16:59] gabrieldemarmiesse opened #1116 "Stop using tensorflow-testing docker images and start using hub.docker.com/tensorflow images"
The master branch is broken because the docker image used to test on gpus is the one used to test the tensorflow source code itself. This can be considered private API.

Instead, to build our manylinux2010 wheels and test our code, we should use the official way recommended by tensorflow (the same way external users do it).

Here is the official guide: https://github.com/tensorflow/custom-op
The d

[2020-02-20 17:57] seanpmorgan commented on #1114
I really like the idea of this and it's ability to test python vs custom-op implementations is much needed. I'm a little squeemish regarding the flag to do this though. Do you imagine it would be a flag in for example the activation API or some global setting?

[2020-02-20 18:02] seanpmorgan commented on #1116
Thanks for the issue! I agree using a `nosla` docker image is not the way we should be doing this.

So couple of things:
1) I'm not convinced of the reason GPU builds are breaking today. Almost looks like a pip networking issue. Not sure why this has just started today. The error:
[code]

2) We used to use `tensorflow/tensorflow:custom-op-ubuntu16` but the images are rarely updated (something we c

[2020-02-20 18:04] seanpmorgan commented on #1116
@av8ramit Do you happen to know why our GPU tests are failing for the above error? I'm not sure why (as of today) it's unable to locate a TF 2.1.0 from pypi

[2020-02-20 18:08] gabrieldemarmiesse commented on #1116
I've tested it locally and it's not a network error :(

[2020-02-20 18:13] gabrieldemarmiesse commented on #1114
I've no idea what kind of flage we should use for the public API. Ideas welcome :)

[2020-02-20 18:17] seanpmorgan commented on #1116
Looks like it's because python3.8 was added to the container.

[2020-02-20 18:18] qlzh727 commented on #1095
Indeed, it seems that there are more assumptions in the keras backend RNN code that it will convert the state into tuples and pass it to the cell.call(). Changing that might require a lot of work, and could potentially break others. Let me see if we can reconstruct the AttentionWrapperState with the value from tuple.

[2020-02-20 18:22] gabrieldemarmiesse commented on #1116
Nice find @seanmorgan! I still think we should switch images before they do more drastic changes, if they change the cuda version, the build will break again.

[2020-02-20 18:26] seanpmorgan commented on #1116
Yeah #1117 is hanging on by a thread since python3 could change symlink to py38 and then our configure script will break as well as the docker build.

[2020-02-20 18:29] seanpmorgan commented on #1116
Heads up @yongtang . I know TF IO uses the same image as us for builds and not entirely sure your pipeline but if you're using pip3 -> py38 ; python3 -> python3.6

[2020-02-20 18:55] yongtang commented on #1108
@seanpmorgan adding the following line will resolve the issue on addon:
[code]

[2020-02-20 19:26] gabrieldemarmiesse commented on #1116
We would need a simple first pull request as proof of concept. In https://github.com/tensorflow/addons/blob/master/tools/docker/gpu_tests.Dockerfile we should use `tensorflow/tensorflow:2.1.0-custom-op-gpu-ubuntu16` as the base image (after the FROM).

@failure-to-thrive would that be something you'd be interested to work on since you seem familiar with the build system?

[2020-02-20 20:23] av8ramit commented on #1116
I'll take a look and fix the image. In the meantime is there any chance you can specify `pip3.6`. We did recently add python3.8 to the image.

[2020-02-20 20:33] seanpmorgan commented on #1116
Yeah we're good on our side for the moment. Going forward I think we'll move away from the `nosla` tensorflow testing image so you won't need to worry about us

[2020-02-20 20:36] av8ramit commented on #1116
Yes I highly recommend that since we offer no support for that. That's our own internal image.

[2020-02-21 06:38] failure-to-thrive commented on #1116
Sorry, no. I'm mostly C++ and Python. Other things are casual.

[2020-02-21 07:36] gabrieldemarmiesse commented on #1116
@failure-to-thrive no worries, I'll do it :)

[2020-02-21 08:20] DanielWicz commented on #844
Anything moved regarding the bug with GPU ?

[2020-02-21 08:44] #1095 closed

[2020-02-21 15:25] gabrieldemarmiesse opened #1122 "Test the release process and wheels at each commit."
It's difficult to modify the release code because it's not run in the CI at each commit. We also sometimes have bugs that appear only in the wheel. My plan for fast feedback without making the tests too long:

at PR and commits on master:
* test for py35 on linux, macos, windows, test py37 for linux only (forward compatibility)
* produce the wheels after the tests (the cache is there, so ~10s)
* w

[2020-02-21 15:29] gabrieldemarmiesse opened #1123 "Group the pinned version numbers together"
For our tools, we pin the version numbers (tensorflow, tensorflow-cpu, black, soon isort, bazel, typeguard...).

Those version numbers are often duplicated across the project, in various dockerfiles, yamls, requirements files... we should have them only in one single place place, at least the goal is to make it easy to bump version numbers.

[2020-02-21 15:31] #1108 closed

[2020-02-22 06:11] smallsunsun1 commented on #179
already open a PR  https://github.com/tensorflow/addons/pull/1129, support DeformableConv2d ，DeformablepsROIalign and EquiConv

[2020-02-22 09:36] veqtor commented on #1099
I looked a bit at the code for mish grads and the 2nd order derivatives, maybe it can help:
https://gist.github.com/veqtor/794434261abcbb51d67678d5a73caa1d

[2020-02-22 13:01] seanpmorgan commented on #1108
@nbowon When you get a chance could you try pip installing `tfa-nightly` and seeing how it works now. Packages look to support 10.13 now:
https://pypi.org/project/tfa-nightly/#files

[2020-02-22 14:11] nbowon commented on #1108
@seanpmorgan I can install tea-nightly-0.9.0.dev20200222 version and it is labeled with machos_10_13
looks like it worked.
Thank you

[2020-02-22 14:42] nscotto opened #1132 "transform: undefined symbol: _ZNK10tensorflow15shape_inference16InferenceContext11DebugStringEv"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 31
- TensorFlow version and how it was installed (source or binary): 2.1 (anaconda)
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.2 (pip)
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**
I get an error when applying a transform using `tfa.image.trans

[2020-02-22 14:53] seanpmorgan commented on #1132
Hi @nscotto! So this is a re-occuring issue we have. Please see this issue for more details:
https://github.com/tensorflow/addons/issues/987

The short of it is that until we can get ABI stable kernels (in development) you'll need to pair TF Addons with a pip installed TensorFlow.

Closing but feel free to continue this discussion if there are questions.

[2020-02-22 14:53] #1132 closed

[2020-02-22 15:04] seanpmorgan commented on #1122
Good to close?

[2020-02-22 15:05] seanpmorgan commented on #1104
Just FYI 0.8.2 is now pre-installed on Colab. Going forward lets just try to use the pre-installed TFA if possible.

[2020-02-22 15:06] gabrieldemarmiesse commented on #1122
It's missing a small step:

Also run a very short sanity check where a simple tensor is created and passed through a single activation function (test that a single .so is loaded correctly).

[2020-02-22 17:49] seanpmorgan commented on #1122
:smile:  arguably the most important part

[2020-02-22 18:34] gabrieldemarmiesse opened #1134 "Make the developer's experience better on Windows"
**Describe the feature and the current behavior/state.**

Currently, the developement on windows is quite painful. There is no guide or explanations on how to install the tools and start contributing. But there are many many windows devs out there, who would surely like to contribute to tf.addons but can't get the setup right. We might even have someone who will make the custom ops work on windows

[2020-02-23 19:18] gabrieldemarmiesse opened #1143 "Make the tests faster"
**Describe the bug**

Currently, the tests take around 600s. But only a few tests take the majority of this time. The short term solution is to make those specific tests shorter, the long term solution is to put a specific solution in place to monitor the changes in test time and have automatic report of new long tests/tests which became much longer after a change.

Here are the current number fro

[2020-02-23 21:59] gabrieldemarmiesse opened #1144 "Proposal: Upload the nightlies at each commit on the master branch"
We already build the wheels already anyway. It's just missing the push to pypi. Yes/No?

[2020-02-24 01:13] seanpmorgan commented on #1144
Good question. It would only require a minor change to our nightly versioning to add timestamps:
https://github.com/tensorflow/addons/blob/master/setup.py#L55

Seeing as our package is only ~1MB in size I'm not overly concerned with the space it takes up on pypi. It is something to think about though if down the line we find a need to increase package size substantially.

Given that info, I think

[2020-02-24 01:18] seanpmorgan opened #1145 "Find a way to label PRs with the relevant code owners."
Currently we assign maintainers for incoming PRs with [CODEOWNERS](https://github.com/tensorflow/addons/blob/master/.github/CODEOWNERS). However, we're limited to tagging users with write access.

Seeing as a majority of our maintainers are submodule and not repository maintainers, it would be nice to devise a strategy for tagging submodule maintainers (even if it's just an @). Possibly would need

[2020-02-24 03:19] 372046933 opened #1147 "tensorflow-addons 0.6.0 have hard dependency on tensorflow-gpu 2.0.0"
Can tensorflow-addons 0.6.0 depend on tensorflow-gpu 2.0.1?

[2020-02-24 07:49] gabrieldemarmiesse commented on #1145
We had a similaire issue in keras-contrib. Maybe we can port some of the code from there: https://github.com/keras-team/keras-contrib/issues/416

[2020-02-24 13:45] seanpmorgan commented on #1147
Hi @372046933! This is a fair question and I would like to say yes (well 0.6.1), however we've significantly revamped our build since that release. It's still do-able but we need to re-activate travis.

While we consider doing this.. try running without dependencies to unblock yourself:
[code]

[2020-02-24 14:26] gabrieldemarmiesse commented on #1123
Can be closed now.

[2020-02-24 14:26] #1123 closed

[2020-02-24 14:39] gabrieldemarmiesse commented on #1144
Next to tensorflow and their 500MB uploaded to PyPI every day, we have some margin :laughing:

[2020-02-24 15:01] seanpmorgan opened #1148 "Enable SSE4.2 and AVX support during build"
So the pip installed TF does not support these instruction sets by default, but modern-ish CPUs do. (Roughly CPUs after 2012).

We could try this and see if there are any improvements in test times and weight the benefits.  If nothing else we can add it as a flag for building from source. Currently TF-IO does this by default:
https://github.com/tensorflow/io/blob/master/.github/workflows/build.yml

[2020-02-24 16:57] Squadrick commented on #825
@PhilipMay I've been busy and couldn't sync up with this thread in a while. I'm following the discussion. Thanks for taking the time to do this.

[2020-02-24 16:59] Squadrick commented on #740
@veqtor Didn't find the time to get around to solving this, I'll try to get it done soon.

[2020-02-24 17:03] Squadrick commented on #1143
Most of the offenders tend to be from `optimizers` since we run a training loop to check for convergence. The fix in #1142 is fairly straightforward to extend to other optimizer tests.

[2020-02-24 17:12] Squadrick commented on #265
Metrics seem to have some gaping problems right now. Didn't get the time to go through each, I'll do it soon and post a fix, or at least a warning message for multi-class data. Sorry about the delay.

[2020-02-24 18:50] Squadrick commented on #949
Fixed by #1115

[2020-02-24 22:23] digantamisra98 commented on #1064
@WindQAQ

[2020-02-25 01:45] 372046933 commented on #1147
Great! Thanks a million.

[2020-02-25 10:23] guillaumekln opened #1151 "Public API to force load custom ops"
Currently, it is inconvenient to load in Python a SavedModel that includes Addons custom ops. Consider the example below:

* `save.py`

[code]

* `load.py`

[code]

The load will fail because Addons custom ops are not registered to the TensorFlow runtime. This is expected as we first have to invoke `tf.load_op_library` on the custom ops.

However, with the new work on lazy loading #855 it got hard

[2020-02-25 14:48] hugoych commented on #844
Hey guys,
While facing the similar issue, until there is a PR, here is a workaround I found that works for either `.fit()` (classic keras usage) or in a custom use of the `AdamW` object.
I first create the `AdamW` object as `opt` then assign a `lambda` function returning the value of `wd_schedule(opt.iterations)` as `weight_decay` attribute. This allows to update the weight decay value commonly wi

[2020-02-25 15:58] ulf1 opened #1153 "decoder_cell.get_initial_state fails in eager mode"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Online, colab
- TensorFlow version and how it was installed (source or binary): 2.1.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.1
- Python version: 3.6
- Is GPU used? (yes/no): both throw an exception

**Describe the bug**

`decoder_cell.get_initial_state` throws an exception when c

[2020-02-25 17:03] failure-to-thrive commented on #1099
So here it is! https://github.com/failure-to-thrive/addons/tree/2nd-order-gradients-for-activations
Clone and checkout that branch. The rest is the same.
I was unable to find a unittests infrastructure for testing 2nd order derivatives, so here is a small test program:
[code]
The output is almost identical:
[code]

[2020-02-25 17:24] gabrieldemarmiesse commented on #1151
That's definitely a big problem.

We can try to load all the SO at import time and then throw a warning if something goes wrong? With a mechanism similar to #1137 . But then we should have a way of disabling the warnings if some users don't care about custom ops.

[2020-02-26 06:29] ulf1 commented on #1153
@guillaumekln Do you know if it's a known problem?

When I run the full code without eager mode, it ends up in another error

[code]

New error

[code]

[2020-02-26 13:17] guillaumekln commented on #1153
The initial error is the same issue as #673, but it was closed without a complete resolution. It is because you set the `BATCH_SIZE` to a Python value, while it should depend on your input, e.g. `tf.shape(enc_embed_layer)[0]`.

But after this change, there is another error (as reported in #673). As a non Keras expert, I'm still trying to figure this out. When running Keras in eager mode there is a

[2020-02-26 15:29] georgesterpu commented on #1114
@gabrieldemarmiesse what do you think of porting the Beam search decoder from
tensorflow / models / official / nlp / transformer / beam_search.py
to addons as a python alternative ?

[2020-02-26 16:06] gabrieldemarmiesse opened #1156 "Benchmark activations using different implementations."
See https://github.com/tensorflow/addons/pull/1137#discussion_r384586158

We now have multiple implementations for activations on CPU and GPU, It might be worth benchmarking them because it's not obvious which ones are faster. On CPU, for big tensors, pure python in eager mode seems to be faster than custom C++ ops.

See https://colab.research.google.com/drive/1LTx3vMpA1fLCESKl-_WrLIp0Fq1zYZL0
for

[2020-02-26 16:09] seanpmorgan commented on #1156
Just a note I'll be bringing this up at the monthly meeting to see if TF core team has a standard process for this. As previously mentioned calling `.numpy()` will transfer results from GPU to CPU so we need a way to test without that. See:
https://colab.research.google.com/drive/12ende9xXMSywP2lOKWrFJBwaDDHbkYXh

[2020-02-26 16:12] #988 closed

[2020-02-26 16:45] gabrieldemarmiesse commented on #1156
core team has a standard process for this.

Is this possible to join this meeting? At least as observer?

El mié., 26 feb. 2020 17:09, Sean Morgan <notifications@github.com>
escribió:

[2020-02-26 16:53] seanpmorgan commented on #1156
Of course! Makes me think we're not properly advertisting this meeting.. its open to all though you need to be subscribed to the mailing list in order to join.
https://github.com/tensorflow/addons#community
https://groups.google.com/a/tensorflow.org/forum/#!forum/addons
https://docs.google.com/document/d/1kxg5xIHWLY7EMdOJCdSGgaPu27a9YKpupUz2VTXqTJg/edit

[2020-02-26 18:13] failure-to-thrive commented on #1156
Keep in mind, the power of the GPU execution - batches. Iterating over 1000 items will definitely be slower. Those 1000 should be submitted at once.

[2020-02-26 18:53] feihugis commented on #1156
TensorFlow-core has some benchmarking as well (e.g. https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/data/benchmarks/list_files_benchmark.py). Maybe we can build a similar module to provide the benchmarking utilities for the operations/kernels/functions in tf-addons.

[2020-02-27 01:34] lcsfrey opened #1158 "Cyclical learning rates broken in TFA 0.8.2"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10.0.16299 Build 16299
- TensorFlow version and how it was installed (source or binary):
2.1.0 installed via pip
- TensorFlow-Addons version and how it was installed (source or binary):
0.8.2 installed via pip
- Python version:
3.6.8
- Is GPU used? (yes/no):
no

**Code to reproduce the issue**

[code]

**Othe

[2020-02-27 01:43] seanpmorgan commented on #1158
Hi @lcsfrey! Thanks for the catch. Would you be interested in opening a PR to fix these for the subclasses which had this argument added by mistake?

[2020-02-27 01:45] seanpmorgan commented on #1147
I'm going to close this seeing as the hard dependency has since been removed and if there are user issues installing (e.g. with tensorflow-cpu) I would recommend they use the `--no-deps` option.

Please feel free to ask to re-open if you think this isn't sufficient.

[2020-02-27 01:45] #1147 closed

[2020-02-27 02:41] lcsfrey commented on #1158
Yeah I can do that.

[2020-02-27 05:24] lcsfrey commented on #1158
Added PR #1160

[2020-02-27 06:32] failure-to-thrive commented on #1114
Also please keep mind that that you should add python implementations of gradients, as C++ do. Autodeduction of them is quite suboptimal and should be hand-crafted.

[2020-02-27 17:54] seanpmorgan opened #1168 "Update CODEOWNERS to match documentation"
Once #1167 merges, we'll finally have an automatic system for notifying submodule maintainers.
We can remove the maintainers from each subpackage README so as not to duplicate work on PRs. Will also want to modify the contribution instructions.

[2020-02-27 17:58] abhichou4 commented on #1156
How about we test the 2nd order gradients of activations while we're at it? Refers #1099
Again, no pull requests. But it might help in figuring out which ones require custom gradients.

[2020-02-27 18:39] Squadrick commented on #1143
List of the slower tests (>20s):

- [ ] //tensorflow_addons/image:dense_image_warp_test: 40.9s
- [ ] //tensorflow_addons/image:filters_test: 56.8s
- [ ] //tensorflow_addons/image:transform_ops_test: 66.1s
- [ ] //tensorflow_addons/layers:layers_wrappers_test: 37.3s
- [ ] //tensorflow_addons/layers:normalizations_test: 24.0s
- [ ] //tensorflow_addons/layers:optical_flow_test: 27.0s
- [ ] //tensorfl

[2020-02-27 19:16] Squadrick opened #1171 "test_utils.run_distributed fails on GPU"
The error is:

[code]
This happens since number of physical GPUs != number of virtual GPUs.

The line which throws the error is here: [`gpu_device.cc`](https://github.com/tensorflow/tensorflow/blob/feacb9f25458882d1f15aec153848017ccb5c162/tensorflow/core/common_runtime/gpu/gpu_device.cc#L782).

The [documentation for `tf.config.set_logical_device_configuration`](https://www.tensorflow.org/api_docs

[2020-02-27 19:48] #927 closed

[2020-02-27 20:42] gabrieldemarmiesse commented on #1114
@georgesterpu it seems a bit too complex. I'm afraid it would actually become a maintainance burden instead of helping us. It might be better to not copy the implementation here.

[2020-02-27 21:00] hyang0129 commented on #1171
@Squadrick I'm willing to take a look at this one. #969 needs to run distributed tests.

[2020-02-27 21:29] Squadrick commented on #1143
`filters_test` can't be made faster, it runs two massive test suites where each function takes ~1s to run, but it stacks up due to the sheer number of them. Making them faster would require some effort.

[2020-02-27 21:42] autoih commented on #1143
I replace divide op with constant, it improves 15s.

[2020-02-27 21:54] gabrieldemarmiesse opened #1177 "Use pytest as our test runner"
See   #1174.

We have multiple approches to this change and I believe it would be beneficial to discuss it before implementing anything.

@Squadrick would you be able when you have the time to make a summary of how you see the migration? I may not have fully undertood your plan. I'll also make a summary of how I see a possible pytest adoption afterwards so I can highlight the differences and the p

[2020-02-27 22:47] #1145 closed

[2020-02-27 23:30] #1168 closed

[2020-02-28 01:40] seanpmorgan opened #1179 "Make release_linux.sh configurable for python version"
Currently our release for linux works quite differently than MacOS / Windows. All python versions are built serially within a docker container:
https://github.com/tensorflow/addons/blob/master/tools/ci_build/builds/release_linux.sh#L36

We should instead pass in an argument for which python version to build with. This would make it so our CI tests can build a single wheel file during the build che

[2020-02-28 09:10] Morasiu opened #1182 "Bug in Seq2Seq tutorial"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10
- TensorFlow version and how it was installed (source or binary): '2.1.0', Just pip install
- TensorFlow-Addons version and how it was installed (source or binary): '0.8.2', Just pip install
- Python version: 3.7
- Is GPU used? (yes/no): Yes

**Describe the bug**

I just straight up copied all the code from the

[2020-02-28 09:14] gabrieldemarmiesse commented on #1182
Maybe we should run the notebooks in our CI to make sure this kind of problem doesn't happen again?

[2020-02-28 09:17] guillaumekln commented on #1151
From the user perspective, loading everything at import time sounds like the less surprising behavior. In the example above,

[code]

adding the Addons import would seem a natural fix for the SavedModel loading issue:

[code]

IIRC, the custom op errors we faced was mostly segmentation faults on import, right? In that case, it would be difficult to catch the error. We could fork the process and lo

[2020-02-28 10:21] gabrieldemarmiesse commented on #1151
When loading a .so, if there are any kind of issue, it throws a `tensorflow.errors.NotFoundError`, not a segfault. So it's easy to give a warning and just continue if there is a problem at import time.

I believe we need to discuss more this statement:

If we take the "load the .so files at import time" approach:

[code]

If the user is using pycharm, it's going to tell the user: `tensorflow_addon

[2020-02-28 14:04] #1116 closed

[2020-02-28 16:18] gabrieldemarmiesse commented on #1158
Can this issue be closed?

[2020-02-29 02:18] #1158 closed

[2020-02-29 16:08] #1179 closed

[2020-02-29 16:08] seanpmorgan commented on #1179
New linux build times: ~12m

[2020-03-01 15:47] gabrieldemarmiesse commented on #1177
I have a bit of time, so I'll make a proposal here. Currently, we use bazel for 3 things:

* Compiling custom ops
* Testing
* Building the wheels

My plan would be to do:

* Compiling custom ops -> bazel
* Testing -> pytest, without any bazel involvement
* Building the wheels -> bazel

To do that, we need to have TF addons working in editable mode. This is required by python test runners (not only

[2020-03-01 18:31] failure-to-thrive commented on #1153
@ulf1, please find the correct code below. It still has to be executed in the Graph mode because of some misappropriate graph tensors management in the Eager mode deep inside Tensorflow core.
[code]

[2020-03-01 20:05] gabrieldemarmiesse commented on #1156
Looks like we're block by https://github.com/googlecolab/colabtools/issues/1034

[2020-03-02 00:26] georgesterpu opened #1194 "Error when using a mask in RNN + AttentionWrapper cell"
**System information**
- OS Platform and Distribution:  manjaro linux testing
- TensorFlow version: pypi tf-nightly 2.2.0.dev20200228
- TensorFlow-Addons version: pypi tfa-nightly 0.9.0.dev20200228
- Python version: 3.7.6
- Is GPU used?: no

**Describe the bug**

A ValueError is raised when using a mask in a RNN layer taking a RNN cell wrapped with an AttentionWrapper.

**Code to reproduce the iss

[2020-03-02 09:57] #1104 closed

[2020-03-02 10:07] perfinion commented on #1148
As far as i recall, the default wheel on pypi supports all the way up to AVX2 by default. It might only be AVX and not AVX2, but im completely sure it builds with both SSE4.2 and AVX for many versions already. AVX/2 will likely have a pretty large difference. The only one to stay away from is AVX512, that is only on the newest server xeons and not common at all.

[2020-03-02 11:58] fsx950223 commented on #1168
@failure-to-thrive Are you interested in maintaining some modules?

[2020-03-02 12:19] failure-to-thrive commented on #1168
Sure!

[2020-03-02 12:27] fsx950223 commented on #1168
Good! I have two modules for you.

[2020-03-02 12:29] fsx950223 commented on #1168
```maxout``` and ```optical_flow```. You could submit a pull request.

[2020-03-02 13:01] failure-to-thrive commented on #1168
Without any doubt, I'm very happy to submit pull requests! :smile:  However, as of this particular case, I'm not quite sure what and where I should modify. I think the project maintainers know the best. I'm ready to provide required info on their request.

[2020-03-02 13:07] fsx950223 commented on #1168
Yeah, I mean that you could submit a pull request to transfer the maintainership.
As I'm lack of time and energy. I could transfer it to you.

[2020-03-02 13:18] gabrieldemarmiesse opened #1197 "Activations_tests.py is not run at all with bazel."
To reproduce: see #1196

**Describe the bug**

This file is not run by bazel, I hit this error when I was trying to make a proof of concept with pytest, and I couldn't get those tests to work. Even when executing them line by line in a new python script. At first I though bazel did some black magic with serialization, but actually those tests are not run at all.

**Code to reproduce the issue**

s

[2020-03-02 14:13] gabrieldemarmiesse opened #1200 "hamming_test.py is not run at all with bazel"
See #1199

**Describe the bug**

The file is not run with bazel. When run with another test runner, it fails.

**Code to reproduce the issue**

See #1199

**Other info / logs**

[code]

@ssaishruthi could you take a look? Thanks!

[2020-03-02 14:19] guillaumekln commented on #1194
This is because the Keras RNN assumes that each tensor in the state has a batch dimension. However, the `time` field in `AttentionWrapperState` is just a scalar tensor.

I think we could work around not having this time field. @georgesterpu Do you want to look into that?

[2020-03-02 14:37] gabrieldemarmiesse opened #1202 "quantile_test.py is not run at all with bazel"
See #1201

**Describe the bug**

One of the test doesn't work, but we couldn't see it because bazel didn't run it.

**Code to reproduce the issue**

See #1201

**Other info / logs**

Logs when actually running the tests in the file:

[code]

[2020-03-02 14:48] gabrieldemarmiesse opened #1203 "cyclical_learning_rate_test.py is not run by bazel"
**Describe the bug**

Like the other ones, the
[code]

was missing. Since pytest doesn't need that, the tests failed with pytest.

**Other info / logs**

The error when actually running the tests:

[code]

@raphaelmeudec could you take a look? Thank you very much!

[2020-03-02 14:58] gabrieldemarmiesse opened #1204 "multilabel_confusion_matrix_test.py is not run by bazel"
I am Tensorflow Addons' worst nightmare! Bringer of bad news!

**Describe the bug**

multilabel_confusion_matrix_test.py is missing:

[code]

A test is failing in this file, but since bazel didn't run it, we never knew.

**Other info / logs**

[code]

@ssaishruthi could you take a look? Thanks!

[2020-03-02 15:36] georgesterpu commented on #1194
Thanks, @guillaumekln.
Assuming that the problem comes from the `time` field - `AttentionWrapper` uses it to write the current alignment slice to a `TensorArray` when the `alignment_history` flag is True. I can see several possibilities, such as:
1) pass the current loop index from outside (the `time` parameter of the `_step` function declared inside `keras.backend.rnn` ?
2) manage the loop counte

[2020-03-02 16:08] failure-to-thrive commented on #1168
I meant the same. Sorry, I'm just unfamiliar with those aspects of GitHub and the project's workflow. Do you want me to update `.github/CODEOWNERS`? That's all?

[2020-03-02 16:15] gabrieldemarmiesse opened #1205 "poincare_test.py is not run by bazel"
**Describe the bug**

This time it's just that it's not declared in the BUILD.

**Code to reproduce the issue**

Provide a reproducible test case that is the bare minimum necessary to generate the problem.

[code]

[code]

**Other info / logs**

When actually running the tests in the file, we get this error:

[code]

 @rahulunair could you take a look? Thanks! :)

[2020-03-02 16:17] gabrieldemarmiesse commented on #1168
There is a bot reading the CODEOWNERS file and dropping messages when someone is opening a pull requests that modifies the files you're responsible of.

[2020-03-02 16:50] guillaumekln commented on #1194
Thanks looking into workarounds. Actually, as `alignment_history` has a dynamic size and we only append to it, we can do something like:

[code]

No worries! Thank you for finding these issues. I can make a PR as I already have a fix locally.

[2020-03-02 17:30] georgesterpu commented on #1194
Also, any chance that
4) the `shape_invariants` parameter of the `while_loop` in keras.backend.rnn could be configured conveniently to work with an `AttentionWrapperState` ?

[2020-03-02 17:40] guillaumekln commented on #1194
If you dive into the `K.rnn` code you'll find that it applies a `tf.where` on each state tensor, including our `time` scalar. This is the issue. See the relevant code here:

https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/keras/backend.py#L4070

compared to the Addons decoder code that ignores scalar tensors:

https://github.com/tensorflow/a

[2020-03-02 18:20] SSaishruthi commented on #1204
Sure will take a look

[2020-03-02 19:46] ulf1 commented on #1153
@failure-to-thrive Thank you

[2020-03-02 19:46] #1153 closed

[2020-03-03 00:09] yashk2810 opened #1210 "Notebooks headings are bold and H1"
Hello,

I was going through this notebook: https://www.tensorflow.org/addons/tutorials/networks_seq2seq_nmt and noticed that all the headings are bold and H1.

Can you please make it not bold and H2 heading?

`# **Setup**` becomes `## Setup`

[2020-03-03 10:24] FrancescaAlf opened #1211 "Tensorflow 2.1: How does the metric 'tf.keras.metrics.PrecisionAtRecall' works with multiclass-classification?"
I am wondering how this metrics works in case of multiclass classification. Does it compute the average between values of precision belonging to each class?

I have a multiclass-classification problem, with three classes. I am interested in calculate the PrecisionAtRecall when the recall value is equal to 0.76, only for a specific class . What I have done was just setting 0.76 in brackets :
'' mod

[2020-03-03 10:50] gabrieldemarmiesse commented on #1211
Thanks for your question. This doesn't not concern tensorflow addons. Tensorflow addons is imported with `import tensorflow_addons`. For matters related to tf.keras, see the tensorflow/tensorflow repository.

[2020-03-03 10:50] #1211 closed

[2020-03-03 11:02] #1197 closed

[2020-03-03 14:15] #1122 closed

[2020-03-03 15:49] gabrieldemarmiesse commented on #1156
I ran some numbers and here are the results: https://colab.research.google.com/drive/1rLb4EuydbFg9PbhboXhCDqopcl6BmphG

I avoided the data copy by just fetching a single scalar at the end. It still forced the computation on the whole tensor.

Those plots were made using colab, if you run the notebook locally, you'll have different results and please post them as they might be interesting.

[2020-03-04 10:17] johnnylin110 opened #1214 "Accuracy on CIFAR_10 by Condition Gradient only 10 %"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows
- TensorFlow version and how it was installed (source or binary):1.15.0
- TensorFlow-Addons version and how it was installed (source or binary):0.9.0.dev0
- Python version:3.7.5
- Is GPU used? (yes/no):no

**Describe the bug**
    I watch this paper https://arxiv.org/pdf/1803.06453.pdf and I want to implement

[2020-03-04 14:13] seanpmorgan commented on #1214
CC @pkan2

[2020-03-04 16:11] us commented on #332
Is there any pending to be added or this issue can be closed?

[2020-03-04 16:16] us commented on #731
#766 was merged so I think this issue can be closed.

[2020-03-04 16:20] #731 closed

[2020-03-04 22:49] us commented on #1182
In this part of the code `tf` or `tfa` are not used.
I ran this notebook on colab and I didn't encounter any problem. This is colab env packages and their versions.
[code]
If the problem is not about packages, it might have something to do with Windows.

[2020-03-05 01:19] seanpmorgan opened #1220 "Resolve discrepancy in python and custom op gelu implementations"
Per #1172 we have only been able to get the precision within 1e-5. Need to determine why this is and if it can be lowered

[2020-03-05 01:50] dynamicwebpaige commented on #522
Checking in on this issue; it looks like [something that would be useful for the external community](https://twitter.com/timothy_lkh_/status/1234799593251950593). Has there been any progress on adding Adafactor as an optimizer?

[2020-03-05 05:29] failure-to-thrive commented on #1220
That is expected because C++ grad implementation is hand-crafted and [most likely] analytically simplified so it doesn't accumulate round-off errors. That is why `tf.custom_gradient` was introduced:
https://www.tensorflow.org/api_docs/python/tf/custom_gradient

But... Why 1e-6? I see a lot of 1e-4 out there. Isn't that enough?

[2020-03-05 09:32] guillaumekln commented on #522
@Smokrow I remember you were not far from completing the development. Are you still interested in opening a PR with this optimizer?

[2020-03-05 12:09] #1144 closed

[2020-03-05 12:25] Ir1d opened #1221 "404 in Left Sidebar of zh-cn doc"
https://www.tensorflow.org/addons/api_docs/python/tfa/layers/InstanceNormalization
Check the `GELU` changed into `GeLU` if you change the language from en to zh-CN
![image](https://user-images.githubusercontent.com/10709657/75981291-2f469080-5f1f-11ea-9662-9e8145dfdb5a.png)

![image](https://user-images.githubusercontent.com/10709657/75981278-281f8280-5f1f-11ea-80a1-614aa309e3f6.png)

Because the

[2020-03-05 14:32] veqtor commented on #1099
lgtm only I haven't tried it except small experiments

[2020-03-05 15:57] dynamicwebpaige opened #1226 "Migrate AutoAugment and RandAugment to TensorFlow Addons."
**Describe the feature and the current behavior/state.**
RandAugment and AutoAugment are both policies for enhanced image preprocessing that are included in EfficientNet, but are still using `tf.contrib`.

https://github.com/tensorflow/tpu/blob/master/models/official/efficientnet/autoaugment.py

The only `tf.contrib` image operations that they use, however, are [rotate](https://www.tensorflow.org/

[2020-03-05 18:17] bhack commented on #1226
For the Gsoc probably we need to think more generally about preprocessing.
We have still numpy based operations in https://keras.io/preprocessing/image/.
Also It needs to be investigated if there will be any integration between AutoAugment/Autokeras.

[2020-03-05 18:25] steph-en-m commented on #1226
@bhack can you please elaborate more on what you mean by this. Thanks

[2020-03-05 18:43] bhack commented on #1226
Many images operations in Keras are still not in addons or in `tf.image` but numpy implemented:
https://github.com/keras-team/keras-preprocessing/tree/master/keras_preprocessing/image
Other image operations are going in [TF.IO](https://github.com/tensorflow/io/issues/825) or TF.graphics?
I think that we need to unify image processing so that eventually ops could benefit from the compiler stack soo

[2020-03-05 18:46] bhack commented on #1226
Also about AutoKeras can the policy be handled by Autokeras so that autoaugment could be used more generally in other projects/experiment with Autokeras+keras_preprocessing instead of being embedded in Efficientnet?

[2020-03-05 20:00] Smokrow commented on #522
Hey there. It is basically finished. I got stuck on the testing part since I am not quite sure what is a valid way to test this thing. Sorry for the delay. Work got a little bit busier in the last few months :grimacing:

[2020-03-05 21:41] abhichou4 commented on #1226
I don't think `AutoKeras` handles policies as such. And if policies are just a series of operations, we could store them, maybe as a named tuple. A parser (for the lack of a better word) could then return a `ImageAugmentation` object using a policy. The methods of this class could use Keras preprocessing, `tf.image` etc. Seems messy. Is this better than porting already implemented image ops in tfa

[2020-03-05 22:00] bhack commented on #1226
`AutoKeras` was "recently" already integrated with keras preprocessing https://github.com/keras-team/autokeras/pull/922/files.
I agree that probably we can investigate what is needed to expand over Autoaugment (or other kind of) policies.
But I think that in AutoAugmentation it is also important to have ops that could benefit maximum performance (also in scheduling) cause you will not do these ope

[2020-03-05 22:39] us opened #1227 "SigmoidFocalCrossEntropy gives ValueError"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version and how it was installed (source or binary): '2.1.0' - colab default idk
- TensorFlow-Addons version and how it was installed (source or binary): '0.8.2' - colab default idk
- Python version: 3.6.9
- Is GPU used? (yes/no): yes

**Code to reproduce the issue**
[code]

**Other info / logs**
[

[2020-03-06 01:46] fsx950223 commented on #1226
I'm interested in it and I have benefited a lot from ```AutoAugment```.

[2020-03-06 02:16] breadbread1984 opened #1228 "GELU causes segment fault"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04 LTS
- TensorFlow version and how it was installed (source or binary): 2.2.0.dev20200304
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.0.dev202020303
- Python version: 3.6.7
- Is GPU used? (yes/no): no

**Describe the bug**

any call to GELU causes segment fault.

**Code to

[2020-03-06 03:17] lotest opened #1229 "RSquare TypeError: tf__update_state() got an unexpected keyword argument 'sample_weight'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.1.0  binary (conda)
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.3 binary(pip)
- Python version:  3.7.6
- Is GPU used? (yes/no): yes

**Describe the bug**

The code goes wrong when I add "tfa.metrics.RSqu

[2020-03-06 05:55] AakashKumarNain commented on #1227
There are two problems here:
1. You are passing your ground truth `(y_train, y_test)` as `integer`. Those should be casted to `float32`, first thing you should do is this:

[code]

2. `sparse labels` aren't supported as of now. I agree that we should provide this information in a better way, either in docs or in the code usage.

Here is a sample colab I created for your reference.
https://colab.re

[2020-03-06 06:43] failure-to-thrive commented on #1220
Another interesting finding - it fails only on CPU and float32.

[2020-03-06 09:23] guillaumekln commented on #1228
Possibly related to #1109.

[2020-03-06 09:24] #1194 closed

[2020-03-06 09:39] gabrieldemarmiesse commented on #1228
It seems that you're using TF nightly with TF Addons. TF Addons is not compatible with the nightly version of TF. It's only compatible with the stable version. Since the ABI is not the same, maybe that's the cause for the segmentation fault?

[2020-03-06 10:09] ra312 commented on #948
I found out that using methofd take and skip from tf.data.TFRecordDataset, I can achieve the same functionlaity.
full_dataset = tf.data.TFRecordDataset(input_file)
full_dataset = full_dataset.shuffle()
train_dataset = full_dataset.take(train_size)
test_dataset = full_dataset.skip(train_size)
val_dataset = test_dataset.skip(test_size)
test_dataset = test_dataset.take(test_size)

[2020-03-06 10:18] gabrieldemarmiesse commented on #1229
@lotest #564 was not merged, that's why you don't see `sample_weight` being available. The problem here is that some of the metrics in TFA do not take a `sample_weight` argument because they don't use it. It's a problem though because Keras will automatically pass sample weights when the user declare them.  A good fix would be to add `sample_weights` in all metrics and enforce that the argument is

[2020-03-06 11:28] johnnylin110 commented on #1214
do you mean paste the code instead of picture? I replace it
I still can't train it
Hope there is a answer .Thanks

[2020-03-06 11:45] breadbread1984 commented on #1228
thx for you replies. The stable version of tensorflow works fine with addons.

[2020-03-06 11:45] #1228 closed

[2020-03-06 17:17] failure-to-thrive commented on #1220
So, my preliminary conclusion after hours of research (I can be wrong): it's quite natural to observe such a discrepancy. float32 is 7 decimal digits of precision. Accumulated round-off errors can climb into 1e-6 with easy.

[2020-03-06 17:26] georgesterpu commented on #1194
@guillaumekln thanks a lot !
There is a corner case where this doesn't work: when setting `alignment_history=True` in the `AttentionWrapper` constructor. `AttributeError: 'TensorArray' object has no attribute 'shape'`. Crashing under both eager and graph modes.

[2020-03-06 17:28] georgesterpu commented on #1194
[code]

[2020-03-06 17:43] guillaumekln commented on #1194
It seems the Keras RNN backend does not accept TensorArray in the inputs. @qlzh727 Is there any plans for Keras to support TensorArray in cell states?

[2020-03-06 19:31] tomerk opened #1235 "Addons Sparsemax gets different results than Contrib sparsemax"
**System information**
- TensorFlow version and how it was installed (source or binary): Nightly
- TensorFlow-Addons version and how it was installed (source or binary): git commit 8bacf4d434974b8821a598aa4d1c9534a6581a5e

**Describe the bug**
We've gotten a google-internal bug report that sparsemax implementation in tensorflow addons:
https://github.com/tensorflow/addons/blob/8bacf4d434974b8821a5

[2020-03-06 19:41] seanpmorgan commented on #1235
Hi @tomerk

Hmmm that's surprising. We have a numpy implementation that is checked against for contrib & addons that is identical:

https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/contrib/sparsemax/python/kernel_tests/sparsemax_test.py#L35-L56

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/activations/sparsemax_test.py#L25-L46

Same goes for the loss testing. Is

[2020-03-06 19:43] us commented on #1227
Hey @AakashKumarNain, thanks for answer!
If just accept the float32, why shouldn't add the basic type casting before the function? Doesn't this give the user more comfort?

[2020-03-06 21:53] ben-arnao opened #1236 "Make reduce LR on plateau weight-decay compatible for decoupled optimizers"
**Describe the feature and the current behavior/state.**

It has been shown that decoupling weight decay from the learning rate can simply hyper parameter search and leads to better performance.

https://arxiv.org/abs/1711.05101

Tensorflow has implementations for Adam and SGD.

https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/SGDW

However the docs mention that when we decay the l

[2020-03-06 22:32] us commented on #1210
Related pr #1216 is merged, so it can be closed.

[2020-03-06 22:34] gabrieldemarmiesse commented on #1210
Thanks a lot @us !

[2020-03-06 22:34] #1210 closed

[2020-03-06 22:45] SSaishruthi commented on #1229
@gabrieldemarmiesse  will take a look at it

[2020-03-07 00:33] tomerk commented on #1235
I've passed along the request for a reproducible example, will follow up if they manage to make one.

[2020-03-07 02:42] AakashKumarNain commented on #1227
It can use any `float` data type. Also, it takes care of automatic conversion but I need to look why it failed at that point

[2020-03-07 13:06] #1151 closed

[2020-03-07 13:30] #1134 closed

[2020-03-07 15:05] bhack commented on #550
@seanpmorgan

Also probably there is an impact with evolving MLIR compiler stack ecosystem about the codegen path vs c++ implemented in custom ops.

[2020-03-07 19:27] seanpmorgan commented on #949
This should be fixed on nightly. Please let us know if it is not.

[2020-03-07 19:27] #949 closed

[2020-03-07 21:26] seanpmorgan commented on #830
Closed by https://github.com/tensorflow/addons/pull/1190

[2020-03-07 21:26] #830 closed

[2020-03-07 21:51] gabrieldemarmiesse commented on #1177
Final and clean pull request: #1243

[2020-03-08 04:57] ra312 commented on #948
So I would like to close this issue as resolved.

[2020-03-08 04:57] #948 closed

[2020-03-08 10:09] #1205 closed

[2020-03-08 14:26] gabrieldemarmiesse commented on #1114
I made pull requests to expose the implementations publicly:
#1137
#1250
#1251
#1252
#1253

[2020-03-08 16:39] #1229 closed

[2020-03-09 02:43] seanpmorgan commented on #1236
Hi @ben-arnao! DoesWeightDecayOptimizer base class sufficiently implement this for you?
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/weight_decay_optimizers.py#L24

As an example implementation SGDW:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/weight_decay_optimizers.py#L261

[2020-03-09 02:46] seanpmorgan commented on #1221
Hi @Ir1d thanks for the issue! I'm not quite following why this hyperlink would be different for the CN version. I tried changing my language and the link looks correct?

![image](https://user-images.githubusercontent.com/18154355/76178697-9f0e8280-618e-11ea-833b-f4cd7a601330.png)

++ @MarkDaoust @lamberta to see if this makes sense to them

[2020-03-09 02:47] seanpmorgan commented on #1214
Sorry the I just meant to add the codeowner to take a look. @pkan2 do these result look as expected?

[2020-03-09 02:48] Ir1d commented on #1221
I believe this is somehow fixed? I can't reproduce either.

[2020-03-09 02:48] #1221 closed

[2020-03-09 02:49] seanpmorgan commented on #1143
Can this be closed as the highest test times have been reduced? For the long term fix of reporting high test times in PRs perhaps we create a new issue?

[2020-03-09 02:55] lamberta commented on #1221
I sent off a translation job for the _book.yaml files (nav) that just came back the other day. Usually translations can lag behind a bit. Should be up-to-date now.

[2020-03-09 05:18] johnnylin110 commented on #1214
Well, I found that when the learning rate set to 0.99999 can produce high accuracy.
but in the paper [https://arxiv.org/pdf/1803.06453.pdf],the learning rate is set to 0.0001,0.000001,0.000001. but if I use those learning rate it become worse just like I mention above
And I go to the optimizer\condition_gradient.py the update function is
![image](https://user-images.githubusercontent.com/32289010/

[2020-03-09 09:52] gabrieldemarmiesse commented on #1143
Yes, let me open another issue concerning the monitoring of test times before closing this one.

[2020-03-09 11:58] ben-arnao commented on #1236
Hi, thanks for the reply but I think you may have misunderstood my
question. Sorry if I was not clear. In the documentation for SGDW it is
recommend that you reduce the weight decay itself with any LR schedulers
you may have. Because of this, if I use the reduce LR on plateau callback.
I need to add custom code to use both reduce LR on plateau with SGDW. I am
wondering if it might be a good idea t

[2020-03-09 14:08] AakashKumarNain opened #1261 "Focal loss: aggregation of values throws errors"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- TensorFlow version and how it was installed (source or binary): 2.1
- TensorFlow-Addons version and how it was installed (source or binary): binary
- Python version: 3.7
- Is GPU used? (yes/no): yes

Colab link: https://colab.research.google.com/drive/16VCbN8Bhbi9W17aBPXpzRDEKQQXFSBA5

### Bug1

[code]

[code

[2020-03-09 16:25] #1177 closed

[2020-03-09 16:32] eoinoreilly30 opened #1267 "Missing argument in apply_gradients() in AdamW optimizer"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): tf-nightly 2.2.0-dev20200309 (pip install)
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.3 (pip install)
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Describe the bug**

When running model.compile()

[2020-03-09 17:19] gabrieldemarmiesse commented on #1267
You code works with tensorflow==2.1.0 and tfa-nightly.

We currently target the stable version of tensorflow (2.1.0) to, as you can see, keep the sanity of our devs. So we don't expect everything to work with tf-nightly.

But what you are reporting is concerning. Either :

* the bug comes from tensorflow and they're not being backward compatible there
* We use some undocumented/private API in Adam

[2020-03-10 01:25] seanpmorgan commented on #1226
So while looking at how AutoKeras is handling hyperparameter containers, at first glance it seems like a suitable replacement for Hparams:
https://github.com/keras-team/keras-tuner/blob/master/kerastuner/engine/hyperparameters.py#L464

We initially decided not to move HParams when we left tf.contrib (even though its convient and works very well) since we didn't want to diverge from officially supp

[2020-03-10 01:42] seanpmorgan commented on #1236
Ah apologies, I understand now. Do you imagine this new callback being a subclass of ReduceLROnPlateau with the modified `on_epoch_end`? Any thoughts about the name of the new callback?

As just a proof of concept would it be possible to run this in a Colab notebook to show the weight-decay-decay as a useful addition? Ideally showing improved loss convergence on some dataset.

++ @Squadrick who is

[2020-03-10 02:15] MokkeMeguru opened #1276 "Weight Normalization for multi-gpu"
**Describe the feature and the current behavior/state.**
[code]
to
[code]

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): no
- Is there already an implementation in another framework? (if so, where): no
- Was it part of tf.contrib? (if so, where): no

**Whi

[2020-03-10 04:28] ben-arnao commented on #1236
Maybe something like ReduceLRonPlateauWithWeightDecay would be most
descriptive, that is getting rather wordy though.

However all scenarios in which we are reducing lr we should really be
reducing wd too. Because of this it would make most sense to me for this
functionality to be built into the main callback. Although I understand
this library doesn't deal with modifications to the main tf librar

[2020-03-10 06:53] pidajay commented on #218
@olesalscheider Did you ever get to test this recompute_grad function that got ported to TF core? I can wrap my model in it and perform a training loop (in eager mode). But I am not sure it is producing the desired memory savings.

[2020-03-10 09:43] failure-to-thrive commented on #1153
So they claim they fixed it: https://github.com/tensorflow/tensorflow/issues/37264#issuecomment-596834233

[2020-03-10 12:02] bw0248 opened #1277 "Segmentation fault when using tfa.rotate in tf-nightly"
**System information**
- OS Platform: Linux Ubuntu 18.04.3 LTS
- TensorFlow version: tf-nightly (2.2.0-dev20200310) installed with pip
- TensorFlow-Addons version: 0.8.3 (pip) and tfa-nightly (0.9.0-dev; pip)
- Python version: 3.6.9
- Is GPU used?: yes

**Describe the bug**
I currently have to use tf-nightly because of a separate issue. When I use tfa.rotate I get a segmentation fault. Behavior is

[2020-03-10 13:51] gabrieldemarmiesse commented on #1277
Segfaults are normal when using tfa with tensorflow nightly. Tensorflow Addons is built against tensorflow 2.1.0 stable. Since the ABI is not stable from version from version to version, people get segfaults when using it with other tensorflow versions than the 2.1.0.

Can you install tensorflow 2.1.0 and tell us if the error still occurs?

[2020-03-10 14:04] gabrieldemarmiesse opened #1279 "Add tests to ensure that we don't use experimental/private/deprecated tensorflow APIs"
**Describe the feature and the current behavior/state.**

Everything is in the title. It's hard to monitor this. Having a test in the CI would help us make sure we don't start using private/experimental APIs. The more we use them, the harder it's going to be when we bump tensorflow versions. It's also a requirements if we want to be able to support multiple versions of tensorflow at the same time

[2020-03-10 14:18] bw0248 commented on #1277
Ah ok, thanks for your quick reply.
I can confirm that it works without issues with tensorflow 2.1.0.

[2020-03-10 14:25] gabrieldemarmiesse commented on #1277
I understand that the fact that we're targeting TF stable is not obvious, you're not the first person raising an issue like that. So there is a  problem on our side.

We need to do a better job at checking the tensorflow version and tell users that something is wrong.

Just leaving them with a segmentation is not good enough. I'll open a pull request for that. Sorry about the trouble.

[2020-03-10 15:24] beeb opened #1282 "ValueError for RSquare metric - requested dtype float32 for Tensor with dtype float64"
Hey there!

I was trying to use the latest version of `RSquare` that fixes the missing `sample_weight` argument, but there is another error when I try to use it. It seems the conversion to float32 fails or something.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version and how it was installed (source or binary): `2.1.0` from pip
- Tens

[2020-03-10 16:51] harahu opened #1283 "Cannot run cpu tests"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 19.10
- Is GPU used? (yes/no): No

**Describe the bug**

I was following the contributors guide and was trying to run the cpu tests on the master branch at commit `fee4710fe7a93e6e92b3e3610b60f2ebad10cf49`. Got the following error:
[code]

It seems the file `tools/install_deps/bazel.sh` is missing.

**Co

[2020-03-10 16:53] gabrieldemarmiesse commented on #1283
I'll fix it. Give me an hour or two. Sorry about that, we were in the middle of a big refactoring

[2020-03-11 00:01] spidyDev opened #1285 "Handling resource inputs of a custom optimizer op for add_ons"
Hi ,
I am working on writing a custom optimizer to be added to add_ons. I have a custom kernel for this optimizer.
Since this op takes resource type  as one of its inputs , similar to ResourceApplyAdam op, I am trying to use "GetInputTensorFromVariable" function. But the header file "training_ops_helpers.h" in  tensorflow/core/kernels is not public.

Is there a reason this file was not made public

[2020-03-11 01:16] #1283 closed

[2020-03-11 04:05] AakashKumarNain commented on #1282
Thanks foe reporting this. Looks like the same issue as in #1261

[2020-03-11 06:13] beeb commented on #1282
@AakashKumarNain the error does not happen in the same file. The exception is roughly the same but the cause is probably different. I would say "not a duplicate"

[2020-03-11 09:12] beeb commented on #1282
After upgrading to `tf-nightly` 2.2.0 it seems the problem is gone. So the issue might be upstream on tf 2.1.0...

[2020-03-11 12:01] AakashKumarNain commented on #1282
`tf.convert_to_tensor()` takes `dtype` as an argument, so that shouldn't be a problem. `self.dtye` makes it possible to use with any type of `float`

[2020-03-11 12:01] #1282 closed

[2020-03-11 17:56] gabrieldemarmiesse commented on #1279
See #1288

[2020-03-11 19:08] bhack commented on #1226
We still have also AutoAugmentation variant policy in https://github.com/google-research/remixmatch

[2020-03-11 19:46] abhichou4 commented on #1226
Should these augmentations be added as part of a submodule in addons?

[2020-03-11 19:54] bhack commented on #1226
I don't know. Probably.. It had its own sub "library" for augmentation :smile:  https://github.com/google-research/remixmatch/tree/master/libml
It is quite standard to find fragmentation under google-research repos.

[2020-03-11 20:06] bhack commented on #1226
/cc @carlini

[2020-03-11 20:20] carlini commented on #1226
The remixmatch repository is intended to faithfully reproduce the the experiments of the corresponding ICLR'20 paper. We do intend for this repository to be the source of truth for any particular implementation.

[2020-03-11 21:44] lokhande-vishnu commented on #1214
@johnnylin110 @pkan2  It is a typo in the paper.
It should be (1-\eta) \in {0.0001,0.000001,0.000001} in Fig 1. of https://arxiv.org/pdf/1803.06453.pdf

You can also check the code associated with the paper which is available here https://github.com/lokhande-vishnu/deepcg/tree/master/resnet-in-tensorflow

[2020-03-12 08:37] #1214 closed

[2020-03-12 11:21] johnnylin110 opened #1293 "The question in tutorial optimizers_conditionalgradient frobenius_norm graph and pytorch version of me"
I am looking for the tutorial [https://github.com/tensorflow/addons/blob/master/docs/tutorials/optimizers_conditionalgradient.ipynb](url)
And the graph about frobenius norm calculate in this way

[code]
and which is obtain by
[code]
And I want to ask is that
   1.when in the network update , we calculate the frobenius norm by gt(gradient value) ,  is the "model.trainable_weights" equal to gradient

[2020-03-12 11:36] johnnylin110 commented on #1293
I want to ask this because I implement Frobenius norm constranit in pytorch which has the different calculate way as this  and this is my implement way
![image](https://user-images.githubusercontent.com/32289010/76517706-c15b1580-6498-11ea-84f9-1e04e121e584.png)

[2020-03-12 11:36] seanpmorgan commented on #1293
++ @pkan2 codeowner.

[2020-03-12 13:09] YasarL commented on #651
i have a similar question: do tf.keras.metrics.Precision() and tf.keras.metrics.Recall() support mutliclass classification?  I do pixelwise semantic segmentation, so I was wondering if the values would be averaged pixelwise or categorywise ?

Or do tf.keras.metrics.Precision() / tf.keras.metrics.Recall() only support binary classification? If so, which class is the one that is used for calculating

[2020-03-12 13:12] #1277 closed

[2020-03-12 13:29] gabrieldemarmiesse opened #1294 "Add a public testing module"
**Describe the feature and the current behavior/state.**

Currently, tensorflow offers some low level functions and classes for testing: https://www.tensorflow.org/api_docs/python/tf/test

But overall, we show in the test suite that we lack tests that we could apply to any keras objects as seen in #992

My proposal is to take #992 and that we expose publicly some of the functions created. I can be

[2020-03-12 14:02] pkan2 commented on #1293
The "model.trainable_weights" equals to the parameters value rather than gradient. And the Frobenius norm function you pointed out is used to present the frobenius norm of the parameter after each epoch's training. It has nothing to do with training process but to present the regularization effect of this epoch's training.

[2020-03-12 15:20] johnnylin110 commented on #1293
Got it , And i want to ask that my frobenius norm of gradient in each layer is always between 0 to  1
is this a common value?

[2020-03-13 09:46] guillaumekln commented on #1109
Let's close this issue as TensorFlow Addons is built against TensorFlow stable. In consequence, TensorFlow nightlies are not supported.

#1281 added explicit runtime checks on the required TensorFlow version.

[2020-03-13 09:46] #1109 closed

[2020-03-13 12:27] #1204 closed

[2020-03-13 14:49] MarkDaoust opened #1298 "`image.rotate` Segfault with TensorFlow 2.2.0rc0 and tf-nightly"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):

  * Colab
  * MacOs 10.15.3

- TensorFlow version and how it was installed (source or binary):

  * !pip install tensorflow==2.2.0rc0
  * !pip install tf-nightly==*                           # All nightlies I can see are affectd.

- TensorFlow-Addons version and how it was installed (source or binary):

  * pip inst

[2020-03-13 14:49] MarkDaoust commented on #1298
We're working on the 2.2 release right now, so it would be good to determine if this is a problem in tensorflow, or a problem in tfa.

[2020-03-13 14:59] seanpmorgan commented on #1298
Thanks @MarkDaoust we've also seen issue with users running tf-nightly. I'll have some time to look into this on the weekend.

@yifeif @gunan @perfinion Does anything come to mind that would break compaitbility. TFA links against libtesorflow of TF2.1 but I believe we'll still be shipping manylinux2010 whls built with dt7 for 2.2? Not sure why we would be getting segfaults.

[2020-03-13 15:47] gabrieldemarmiesse commented on #1298
@seanpmorgan Since the ABI is not compatible from TF 2.1.0 to 2.2.0, isn't that completely normal that we get segfaults? We compile the nightly against 2.1, so it won't work with 2.2.  We just need to recompile right? Or I am missing something here?

[2020-03-13 16:00] seanpmorgan commented on #1298
So to my knowledge TF2.2 and TF2.1 should be compiled in the same way (devtoolset7/manylinux2010 compliant). Linking to the same ops shouldn't raise a segfault. We would like our package to be compatible with multiple versions of TF so that for example: our build matrix 0.8.3 can be compatible with `tensorflow>=2.1`.

For the moment the version check is the best way to prevent a poor user experien

[2020-03-13 16:06] gabrieldemarmiesse commented on #1298
I see, I though that even if the same toolchain was used, there was no garantee that the ABI would stay compatible if the C++ code in tensorflow changed. Thanks for the explanation.

[2020-03-13 16:17] seanpmorgan commented on #1298
Yeah no ABI compatibility between compiler toolchains. When someone uses TFA with conda compiled TF we get a symbol mismatch because the ops are mangled differently.

If the C++ code in tensorflow is changed it could break if not backwards compatible, but the ops should all be public and stable between minor versions.

[2020-03-13 17:04] AakashKumarNain commented on #1298
Another reason why there should be a standard way going forward so that we don't run into such issues

[2020-03-13 17:10] seanpmorgan commented on #1298
Agree https://github.com/tensorflow/community/pull/133 is the fix for that but haven't heard any updates in a while

[2020-03-13 22:54] tomerk commented on #1235
I don't think we've been able to get a reproducible example, so I'll close this issue for now. Will reopen if we get an example.

[2020-03-13 22:54] #1235 closed

[2020-03-13 23:01] bkkaggle commented on #522
Can we get a feature in the adafactor implementation to turn off weight decay for certain types of parameters (e.g. bias and layer_norm) since this is often used when finetuning language models?

In Pytorch this would be done like this:

[code]

[2020-03-14 13:11] gabrieldemarmiesse commented on #1298
So if that helps:

I tried with tensorflow-cpu to see if we could get the segfault.

[code]

But recompiling works:

[code]

I opened a pull request to allow us to transition gracefully to 2.2.0 without having to make an enormous pull request at once: #1303

I hope this help, my knowledge of C++/compiling is limited.

[2020-03-14 14:04] bhack opened #1305 "Developer environment Dockerfile for ide"
I want to add a Vscode devcontainer entry for tensorflow/addons in https://github.com/microsoft/vscode-dev-containers/issues/14.
Something like the already existing [Tensorflow-examples repo](https://github.com/microsoft/vscode-dev-containers/tree/master/repository-containers/github.com/aymericdamien/TensorFlow-Examples/.devcontainer).

But it is not clear to me what to put in a complete developer

[2020-03-14 14:18] gabrieldemarmiesse commented on #1305
I believe that gpu_tests.Dockerfile has all the necessary tools for developement. It's what we actually tell people to use in the CONTRIBUTING.md to compile interactively. For the code format, no need to have the tools installed locally. `bash tools/pre-commit.sh` works in pretty much all situations, even on Windows.

[2020-03-14 14:52] bhack commented on #1305
I suppose that we need IDE python and cpp extensions for the addons right?

[2020-03-14 14:55] gabrieldemarmiesse commented on #1305
I'm not sure I understand your question. Could you expand on this?

[2020-03-14 15:00] seanpmorgan commented on #1298
Thanks very helpful! If I'm unable to find a resolution to this we'll likely need to backport the strict version check to 0.8 prior to a 0.9 release pinned to 2.2

[2020-03-14 15:01] bhack commented on #1305
I meant developer need to have both python and cpp support in the IDE right?
Also have you arleady a published `gpu_tests.Dockerfile` image on Dockerhub where I can start `FROM`?
If not i need to copy `tools/install_deps/tensorflow.txt` `tools/install_deps/tensorflow.txt` and `tools/install_deps/finish_bazel_install.sh` to replicate the same image build.

[2020-03-14 15:16] seanpmorgan commented on #1305
@bhack per your comment on the Discord issue, would you like to join our gitter if you think thats a better discussion forum?
https://gitter.im/tensorflow/sig-addons

We've avoided pushing docker images to hub since we have no access to the `tensorflow` account and creating more accounts which we have to share across a community SIG has challenges. Not to say it can't be done we could use GitHub s

[2020-03-14 15:57] bhack commented on #1305
An initial stub is at https://github.com/microsoft/vscode-dev-containers/pull/258.
Probably we want some other kind of stuffs in the container cause the formatting is in the IDE but the LSP (languge server protocol) daemon run in the (local/remote) container.

[2020-03-14 17:19] seanpmorgan commented on #1298
So I tested using gdb for an image op and activation op and they both are crash on the same call. Unsure if this is just the first call or the only cause (both are ABSL string calls):

[code]

[code]

[code]
yields:
[code]

In order to confirm that that linking to `libtensorflow_framework.so.2` should work regardless of which version it was compiled against I installed TFA==0.6.0 (compiled on TF2.

[2020-03-14 17:24] seanpmorgan commented on #1298
FWIW I checked the activation ops compiled against TF2.0  and they work successfully with TF2.0 or TF2.1 but fail on TF2.2rc0. At this point I'm pretty confident there was a breaking change in the 2.2 libtensorflow

[2020-03-14 17:34] mihaimaruseac commented on #1298
Afaik we don't have compatibility guarantees for libtensorflow. So we cannot link against libtensorflow built at a different version.

[2020-03-14 17:38] seanpmorgan commented on #1298
Thanks! That's rather unfortunate because it means users who want new features from Addons will be required to upgrade their TF core version which is a tough ask for many users. I'll make a post on developers group discussion to describe this issue and see what we can do going forward.

[2020-03-14 17:38] gabrieldemarmiesse commented on #1298
@mihaimaruseac if I understand correctly, tensorflow won't give any backward compatibilities garantees about the ABI until https://github.com/tensorflow/community/pull/133 is implemented, is that right? Is that the case too when the minor version in increased? If we compile against TF 2.1.0, will it work with 2.1.1?

[2020-03-14 17:40] mihaimaruseac commented on #1298
@gabrieldemarmiesse patch number increase should be compatible

There are multiple RFCs for modularization and to add ABI guarantees. For example, I'm working on https://github.com/tensorflow/community/pull/101 and the general ideas are in https://github.com/tensorflow/community/pull/77

[2020-03-14 17:42] seanpmorgan commented on #1298
Just to be clear, if there are breaking changes to libtensorflow as minor versions increase then ABI stable kernels (https://github.com/tensorflow/community/pull/133) will still crash right?

[2020-03-14 19:05] bhack commented on #1305
I moved the PR here cause it is directly ready for devs with Vscode at checkout https://github.com/tensorflow/addons/issues/1305

[2020-03-14 19:05] #1305 closed

[2020-03-14 19:42] AakashKumarNain commented on #1298
Agreed, especially if the user have compiled TF from source

[2020-03-15 15:07] failure-to-thrive commented on #1298
They could change something in their public API, too. For example, TFA creates a helper object declared in the "outdated" TF 2.1 headers but TF 2.2 doesn't expect it of course. C++ name mangling does not handle it.

[2020-03-15 20:49] gabrieldemarmiesse commented on #825
Ok so I took a closer look at the script demonstrating the bug. I believe there are two small mistakes:

1) The code snippet uses multi-backend keras instead of tf.keras. TF addons classes were never intended to be used with multi-backend keras. TF addons subclasses a `tf.keras.metrics.Metric` object, but keras expects a `keras.metrics.Metric` object. Overall, I don't even know how this doesn't ac

[2020-03-15 20:49] #825 closed

[2020-03-15 20:57] gabrieldemarmiesse commented on #1143
A small note, all our tests are decorated with tf.function (because of the `run_all_in_graph_and_eager_mode`) and tracing is very expensive in our test suite.

By making the graphs of only the functions being tested we can save a lot. I believe that #1288 will make our tests much faster .I did some early speed tests and some of our most time consuming tests are 10x faster in eager mode, which prov

[2020-03-15 21:08] gabrieldemarmiesse opened #1316 "Monitoring the speed of the tests."
**Describe the feature and the current behavior/state.**

The CI should fail when the tests are not fast enough to prevent merging tests that are too time consuming.

Technically, with pytest it's easy, there are even pugins to add timeouts. But we cannot take this implementation.

The problem is that test times are not deterministic. They vary from one run to another. So merging a pull request wi

[2020-03-15 21:10] gabrieldemarmiesse commented on #1143
Closing as our tests are already very fast and #1288 will make them even faster. Moving to #1316 for the long term monitoring.

[2020-03-15 21:11] #1143 closed

[2020-03-15 21:16] gabrieldemarmiesse commented on #1220
Thanks a lot @failure-to-thrive for your investigation. Using 10e-6 was @Squadrick 's suggestion there https://github.com/tensorflow/addons/pull/1137#issuecomment-592125603 . @Squadrick , if you agree with @failure-to-thrive , should we close this issue?

[2020-03-16 10:18] gabrieldemarmiesse commented on #1226
@seanpmorgan I don't think that we should depend on Keras-Tuner, except when implementing papers where the end result is a hyperparameter search algorithm.

For papers that use a search algorithm to produce a result, like AutoAugment and RandAugment, we should hardcode the final numbers [here](https://github.com/tensorflow/tpu/blob/d6f2ef3edfeb4b1c2039b81014dc5271a7753832/models/official/efficient

[2020-03-16 11:24] bhack commented on #1226
@gabrieldemarmiesse What do you think about Remixmatch AutoAugment variant that learns the policy on training?
https://github.com/google-research/remixmatch/blob/master/libml/augment.py

[2020-03-16 11:46] gabrieldemarmiesse commented on #1226
@bhack could you expand? I'm not sure I understand your question.

[2020-03-16 12:49] bhack commented on #1226
@gabrieldemarmiesse I meant how we could generally organize policies as I think that with just a first AutoAugment variant I think we would organize polices a little bit.

[2020-03-16 13:59] gabrieldemarmiesse commented on #1298
I'm going to close this issue as the bug was adressed and we can't do anything about it. I'm going to open another one about how to make a better UX for the users affected by the unstability of the ABI.

[2020-03-16 13:59] #1298 closed

[2020-03-16 14:05] gabrieldemarmiesse opened #1317 "Make a better UX around the issue of tensorflow ABI instability."
**Describe the feature and the current behavior/state.**

See #1298

Currently, if we compile Tensorflow Addons against tensorflow 2.1.0, we have no garantees that it's going to work with another version of tensorflow. We don't even have a garantee that it will work with the same version if tensorflow has been compiled from source. As such, we should try to find ways of making this as painless as

[2020-03-16 15:27] failure-to-thrive commented on #1317
Make a [black]list of builds/hashes of `.so`/`.dll`that are seems to be good / proven to be bad. Print out appropriate warnings.

[2020-03-16 16:52] carlini commented on #1226
ReMixMatch's augment policy (CTA) is slightly different from standard augmentation policies because it requires to integrate it with the training loop. At every minibatch step, the policy needs to be "trained" with a second minibatch of examples so that it can determine the magnitude of perturbations that are allowed.

cc @david-berthelot

[2020-03-16 17:19] bhack commented on #1226
Yes we need to consider also https://github.com/google-research/fixmatch but it seems to me it doesn't introduce new augmentation policies.

[2020-03-16 18:33] MarkDaoust commented on #1317
If you have a different version installed, `tfa-nightly` does warn that it was built for TensorFlow 2.1 and may not work.  So steps have already been taken towards @failure-to-thrive's suggestion. It's just not included in the 0.8 package.

[2020-03-16 20:08] gabrieldemarmiesse commented on #1317
#1307 was merged. We just need to make a new release. @seanpmorgan , you may want to add this to your todo list.

I propose that we make a 0.9 release, compiled against TF 2.1, and at the same time, we make a 0.10  release, compile against TF 2.2, both with an appropriate warning message similar to the one we had before. We'll need to backport all the bugfixes twice, but with the bot in place it's

[2020-03-16 20:32] srilman opened #1318 "tfa.image.rotate Different Fill Modes"
**Describe the feature and the current behavior/state.**
Currently, when an image is rotated using the `tfa.image.rotate()` function, the outer regions of the image are filled with 0's, resulting in an image with black corners usually. This is usually not preferred, especially when the user is trying to create new images via data augmentation. Images with black corners are usually not a good repre

[2020-03-16 22:09] gabrieldemarmiesse commented on #1318
It's widely used, already present in keras with numpy, I just hope it won't be too hard to implement. Contributions welcome!

[2020-03-17 01:27] seanpmorgan opened #1320 "Fix Addons compatibility with TF2.2"
**System information**
- TensorFlow version and how it was installed (source or binary): TF2.2

**Describe the bug**
As we prepare for the upcoming TF2.2 release we need to fix a number of bugs that have surfaced when linking with the new version. It may be better to break these out into individual issues, but wanted to make a placeholder issue in the mean time.

See https://github.com/tensorflow/

[2020-03-17 01:53] seanpmorgan commented on #1298
Just for reference:
https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/gdnFNTJbJFM

[2020-03-17 04:06] fsx950223 opened #1324 "Make LossFunctionWrapper public"
**Describe the feature and the current behavior/state.**
We just wrapper loss function by ourselves and public ```LossFunctionWrapper``` will unify the behavior.
**Relevant information**
- Are you willing to contribute it (yes/no): Yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where):
- Is there already an implementation in another

[2020-03-17 06:59] ididhmc opened #1325 "tensorflow2.0 can't use this module"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  window10
- TensorFlow version and how it was installed (source or binary):  2.0.0
- TensorFlow-Addons version and how it was installed (source or binary): get it by github
- Python version:  3.6
- Is GPU used? (yes/no):   no

**Describe the bug**
when i use addons in my program ,it tell me that i only use this modul

[2020-03-17 09:09] olesalscheider commented on #218
I think I tried it back then. But in the end the memory savings were not large enough and I ended up splitting the model across multiple GPUs.

[2020-03-17 09:39] gabrieldemarmiesse commented on #1324
I believe that's a good idea. Contributions welcome. It seems our implementation is different from the TF one. It might be worth looking into the difference.

[2020-03-17 09:42] gabrieldemarmiesse commented on #1325
I believe we need to add a section in the readme describing the incompatibility problems. But I'll try to at least answer shortly your question here.

Can you expand a bit more on this? The version installed will affect how I answer :)

[2020-03-17 09:46] gabrieldemarmiesse commented on #1317
I believe we also need a section in our readme describing the ins and outs of the problem so that users really understand what is going on and why our compatibility with TF is so uncommon. We can put a link to this section in our warning message.

[2020-03-17 14:47] AakashKumarNain commented on #1325
Agreed. We really need to make it explicit so that people don't run these issues

[2020-03-17 15:09] seanpmorgan commented on #1325
Totally agree with better documentation. In the interim you can try `tensorflow-addons==0.6.0` which is built against TF2.0.... but it may not have the functionality you're looking for.

[2020-03-17 15:28] gabrieldemarmiesse commented on #1317
We have two types of incompatibilities:
1) Python incompatibilities
2) ABI incompatibility.

It's possible for a user to use the python-only features and be completely fine. So I think we should have two warning messages, one at import time, for python incompatibility, and one when loading the first SO, to warn about ABI incompatibility. We except more compatibility in the python world than in the

[2020-03-17 17:24] YanzheL commented on #112
Same runtime issue when build from source on `v1.15.2` tag with no custom op.
gcc 7.5.0
[code]

[2020-03-17 17:33] seanpmorgan commented on #112
Hi @YanzheL. TF-Addons is only compatible with TF2.X and so building against 1.15.2 is unsupported.  It looks as though you're getting this symbol mismatch on tf.contrib so you may want to raise this issue on the tensorflow/tensorflow repo. Which part of addons were you trying to use?

[2020-03-17 17:38] bhack commented on #1226
AutoAugment is also (is it just a copy?) in today released EfficientDet https://github.com/google/automl/blob/master/efficientdet/aug/autoaugment.py.
We really need a place, like this one, to handle an official AutoAugment extendible API. :smile:

[2020-03-18 05:38] carlini commented on #1226
Fixmatch uses the same augmentations as ReMixMatch.

[2020-03-18 10:31] gabrieldemarmiesse opened #1328 "[Easy and help welcome] Migrating all tests from run_all_in_graph_and_eager_mode to the new pytest fixture."
This issue is to track the progression. Help is welcome, we have a lot of work to do but it's fairly easy. You can take example on the pull requests made before.

The idea is that before, using the `@run_all_in_graph_and_eager_mode` meant that we needed to make the tests with the tensorflow 1.x style, with  things like `tf.compat.v1.initialize_global_variables`, `self.evaluate`and other scary func

[2020-03-18 10:46] bhack commented on #1226
Thank you for the FixMatch confirmation. Instead I see that @mingxingtan in EfficientDet added some extra AutoAugmentations

[2020-03-18 12:52] vinayvr11 commented on #1318
Can shall we use the same method used in keras.

[2020-03-18 13:45] gabrieldemarmiesse commented on #1318
I don't have a preference on the method as long as it's fast and the gradients and the results are correct.

[2020-03-18 13:54] vinayvr11 commented on #1226
Hello i want to work on this i am applying for this year GSOC. So did all of the operations are present in Tensorflow Addons. Or we need to create them from scratch.

[2020-03-18 14:17] vinayvr11 commented on #1318
Ok so we need to make it from scratch.

[2020-03-18 14:33] bhack commented on #1226
@vinayvr11 There is an inital PR at https://github.com/tensorflow/addons/pull/1275.
If you can start contribute some ops with PR before be evalauted for GSOC It is better.
Please open a ticket and mention @abhichou4  to not overlap with him before you start.

[2020-03-18 15:52] abhichou4 commented on #1226
I'll make an issue regarding this, listing all image ops to add. We can also discuss how they can be handled more generally in `tfa.image`.

[2020-03-18 16:37] abhichou4 opened #1333 "[1/2] Add Image Ops for Data Augmentation"
Part 2: https://github.com/tensorflow/addons/issues/1353

As part of #1226, relevant image ops need to be added to `tfa.image`. List of ops tracked in this issue (tick the op only once the corresponding PR is *merged*):

- [x] Blend
- [x] CutOut
- [ ] Identity
- [x] Translate X, Y
- [x] Shear X, Y
- [ ] Solarize Ops
- [ ] Posterize
- [ ] AutoContrast
- [x] Equalize
- [ ] Invert
- [ ] Color
- [ ] B

[2020-03-18 17:06] vinayvr11 commented on #1333
Ok So these unchecked options are remaining. But what is PIL does it stands for Pillow or something else. And i have to implement these in autoaugment.py am i right.

[2020-03-18 17:17] abhichou4 commented on #1333
That's right. The appropriate namescapes and where to place these operations is something that can be discussed here or on your PR.
/cc @bhack @gabrieldemarmiesse

[2020-03-18 17:21] vinayvr11 commented on #1333
Ok so for now i just need to make a script for these operations and after that we decide that where to put them all. So all these operations are have to be integrated in one script or i have to make a different scripts for all of them.
Thank you

[2020-03-18 17:21] gabrieldemarmiesse commented on #1333
Yeah, as long as the public API stays the same and is decided first, it's not critical how you name your files.

[2020-03-18 17:35] vinayvr11 commented on #1333
@gabrieldemarmiesse : I have some doubts so we have to use the tensorflow for doing these operations or we are free to use any module.
And all these methods have to be made in different files. Please correct me if i am wrong.

[2020-03-18 17:42] gabrieldemarmiesse commented on #1333
You should always use tensorflow to make those ops (so they can run on tpu/cpu/cuda/ROCm and can be exported in a graph and have gradients and many other things... ) and where you put the ops is not critical (meaning we care more about the pull request being merged than about the name of the file, as it can be changed later without impacting the API). You can group ops together in the same file if

[2020-03-18 17:44] vinayvr11 commented on #1333
Ok and what about Tensorflow version shall i need to take care about the version also or i can use any version of Tensorflow.

[2020-03-18 17:54] gabrieldemarmiesse commented on #1333
We currently test with tensorflow 2.1.0 and 2.2.0

[2020-03-18 17:54] vinayvr11 commented on #1333
ok thank you

[2020-03-18 19:02] vinayvr11 commented on #1333
@gabrieldemarmiesse : Do we have a pre defined gaussian filter in tensorflow or any similar to this or i just need to make a filter in order to blur the images.

[2020-03-18 19:06] bhack commented on #1333
Just to compare to this ops checkbox list with RemixMatch/FixMatch https://github.com/google-research/remixmatch/blob/master/libml/augment.py#L36-L41

[2020-03-18 19:10] bhack commented on #1333
Here the EfficientDet Autoaugment ops list https://github.com/google/automl/blob/master/efficientdet/aug/autoaugment.py#L43-L153

[2020-03-18 19:16] vinayvr11 commented on #1333
@bhack
So do we have to make a new list of these ops or leave them out?

[2020-03-18 19:21] bhack commented on #1333
@vinayvr11 I think it could be interesting to make a new list expecially for BBox ops in EfficentDet in a new ticket and instead extend the list here for image ops. But you need to double check the overlapped ops for these lists.

[2020-03-18 19:23] vinayvr11 commented on #1333
Thank you @bhack i want to know one thing can i use numpy for making some ops.

[2020-03-18 19:24] bhack commented on #1333
@vinayvr11 I think the same as https://github.com/tensorflow/addons/issues/1333#issuecomment-600770490

[2020-03-18 19:26] vinayvr11 commented on #1333
ok so do we have any filter operation in tensorflow_addons or i have to add that from scratch.

[2020-03-18 19:32] abhichou4 commented on #1333
I don't think tf has a gaussian filter impl to use. Add a gaussian filter to `filter.py` and use it in the gaussian blur op seems like the way to go about it.

[2020-03-18 19:32] gabrieldemarmiesse commented on #1333
No idea. You can look in the source code, I don't know all the functions by heart haha

[2020-03-18 19:32] bhack commented on #1333
@vinayvr11 We had a median filter already integrated. See also https://github.com/tensorflow/addons/issues/358

[2020-03-18 19:34] bhack commented on #1333
/cc @parth-p

[2020-03-18 19:37] bhack commented on #358
We are making a catalog of some useful image ops for AutoAugmentation policies at https://github.com/tensorflow/addons/issues/1333. Probably some ops could be useful also in post-processing tasks as i.e. Mediapipe heavly use Opencv operation in postprocessing calculators. See https://github.com/google/mediapipe/issues/515

[2020-03-18 19:38] vinayvr11 commented on #1333
Thank you

[2020-03-18 19:52] bhack commented on #1333
As Google is a little bit evolutionary fragmented.. :stuck_out_tongue_winking_eye: We have other recent interesting augmentation to be double checked for overlaps in https://github.com/google-research/simclr/blob/master/data_util.py.

There you can find also Tensorflow  impl. of Gaussian Blur. /cc @chentingpc

[2020-03-18 19:55] vinayvr11 commented on #1333
So shall i stop working on this blur ops because i just made a script for blurring using mean_filter.

[2020-03-18 19:59] abhichou4 commented on #1333
Use that impl as a reference to add Gaussian Blur.

[2020-03-18 20:00] vinayvr11 commented on #1333
sure thanks

[2020-03-18 20:07] abhichou4 commented on #1333
I'll be working on merging ops that can be found [here](https://colab.research.google.com/drive/1KjAFBG7uPMJQmmpXWj4BFpMgjuIVQ_p8). They're pretty straight forward and I've tested them on images.

[2020-03-18 20:10] bhack commented on #1333
Can we complete at least the `unique` ops list in checkbox list for image ops in all these source?
Then we could have another new ticket to list all bbox/crop operations.

[2020-03-18 20:11] vinayvr11 commented on #1333
Thank you for that @abhichou4 i made a gaussian blur script for Tensorflow addons can i send the PR of that.

[2020-03-18 20:19] bhack commented on #1333
@abhichou4 Can you edit the ticket to expand the list?

RemixMatch/FixMatch:

* Identity
* AutoContrast
* Equalize
* Rotate
* Solarize
* Color
* Contrast
* Brightness
* Sharpness
* ShearX
* TranslateX
* TranslateY
* Posterize
* ShearY

Then SimCLR..

[2020-03-18 20:20] vinayvr11 commented on #1333
@bhack : We already have rotate ops in tensorflow_addons -https://www.tensorflow.org/addons/api_docs/python/tfa/image/rotate

[2020-03-18 20:23] bhack commented on #1333
Yes I meant to expand over an "unique" list.. If you see we had in the last post also ops already in the original list of the ticket..

[2020-03-18 20:25] vinayvr11 commented on #1333
Yes so first we need to update the list with unique ops.

[2020-03-19 06:41] vinayvr11 commented on #1333
I just send an PR for solarize could you please review it.

[2020-03-19 07:04] vinayvr11 commented on #1333
Hello @abhichou4 i am trying to import the method augment_ops that you added in Addons but it won't show in the files could you please help me to figure this out.
Thank you

[2020-03-19 07:06] abhichou4 commented on #1333
Not merged yet.

[2020-03-19 07:43] vinayvr11 commented on #1333
Ok so i need this for color can i just assume this and send a PR or wait for merge.

[2020-03-19 08:22] vinayvr11 commented on #1333
@abhichou4 : Can i use the random image like you generated in your test script or the repository test_data image.

[2020-03-19 08:43] abhichou4 commented on #1333
`test_data` seems like a better option. My only concern is dumping all these images with long names.
/cc @fsx950223

[2020-03-19 08:45] fsx950223 commented on #1333
I believe ```test_data``` is a better option because it could check the actual result.

[2020-03-19 08:55] vinayvr11 commented on #1333
Yes, same here but i only test the operation on one image Yellow_smiley_face.png as this is the smallest one.

[2020-03-19 09:16] vinayvr11 commented on #1333
I have added the test file as well please check that.

[2020-03-19 14:29] bhack commented on #951
@cgarciae Just cause your are interested in the topic, take a look at https://github.com/Nandan91/ULSAM

[2020-03-19 16:46] avnx commented on #1109
When are you going to fix this?
Do you have understanding when we can see working version of BeamSearchDecoder?

[2020-03-19 16:58] guillaumekln commented on #1109
The issue only affects the non stable versions of TensorFlow. Can you try with TensorFlow 2.1 instead?

[2020-03-19 17:30] avnx commented on #1109
@guillaumekln

As @georgesterpu mentioned earlier BeamSearchDecoder with @tf.function doesn't work with TF2.2 nightly neither with TF 2.1.
The only difference is that in the first case error is
`Aborted (core dumped)`

In second case:
[code]

I have encountered exactly the same problem as @georgesterpu have.

Now the only way to run BeamSearchDecoder as I see is to move to the TF 1, but I don't th

[2020-03-20 01:58] fsx950223 commented on #1328
I suggest use ```tf.autograph.to_graph``` instead of ```tf.funciotn``` when working with complex functions. There are two reasons:
1.The function will raise errors when I set ```autograph=False```
2.Subgraph will use more resources

[2020-03-20 05:24] vinayvr11 commented on #1333
@abhichou4 : posterize is also done please check that.

[2020-03-20 06:41] vinayvr11 commented on #1333
Could you please merge my commits they have passed all tests.

[2020-03-20 08:57] guillaumekln commented on #1109
Ok, I thought you were referring to the *Segmentation fault* issue. Do you mind opening a separate issue for the *Insufficient elements* error along with a code snippet to reproduce it?

[2020-03-20 09:09] vinayvr11 commented on #1226
Hello @bhack i have added three more operations to Addons now i want to know that do we have more image operations that are not mention in the list or the list have all the operations.

[2020-03-20 10:43] bhack commented on #1226
@vinayvr11 Can you post here the ops that are still not in list?

[2020-03-20 10:59] gabrieldemarmiesse commented on #1328
@fsx950223 you're right we need more discussion about when and how to use tf.function. We may sometimes have complexe signatures (when multiple dtypes are accepted for exemple) and it's hard to express with `tf.function` and `tf.autograph.to_graph`. We still need to test the graph mode though (not all the time). So we need to find a solution.

[2020-03-20 11:25] vinayvr11 commented on #1226
@bhack : These are the  operations which are remaining-
to_grayscale
color_jitter
color_jitter_nonrand
color_jitter_rand
compute_crop_shape
center_crop
distorted_bounding_box_crop
crop_and_resize
gaussian_blur
random_crop_with_resize
random_color_jitter
random_blur
batch_random_blur
Shall i also add the bbox operations

[2020-03-20 11:31] bhack commented on #1226
You can open a new ticket and mention It here after you have checked that osp are not already listed in https://github.com/tensorflow/addons/issues/1333.
I suggest you to collect a bbox operations separate issue and mention It here.
Double check all the source that be have mentioned if there is any other missing ops.

[2020-03-20 11:50] vinayvr11 commented on #1226
Sure

[2020-03-20 11:51] vinayvr11 commented on #1226
Some ops are not checked in https://github.com/tensorflow/addons/issues/1333 so can i add them also in new ticket.

[2020-03-20 12:33] vinayvr11 opened #1353 "[2/2] Add Image Ops for Data Augmentation"
Part 1: https://github.com/tensorflow/addons/issues/1333

As part of #1226, relevant image ops need to be added to `tfa.image`. List of ops tracked in this issue (tick the op only once the corresponding PR is *merged*):
- [x] to grayscale
- [ ] color jitter
- [ ] color jitter nonrand
- [ ] color jitter rand
- [ ] compute crop shape
- [ ] center crop
- [ ] distorted bounding box crop
- [ ] crop and

[2020-03-20 12:34] abhichou4 commented on #1226
I'll make sure the rest of the color operations get merged. It would be neat to have another ticket for just bounding box and crop operations.

[2020-03-20 12:36] vinayvr11 commented on #1226
I just created a new ticket for image processing and crop operations.

[2020-03-20 12:45] vinayvr11 opened #1354 "Add Bounding Box Ops"
As part of #1226, relevant image bounding box operations need to be added to `tfa.image`. List of ops tracked in this issue (tick the op only once the corresponding PR is *merged*):
- [ ] TranslateX BBox
- [ ] TranslateY Only BBoxes
- [ ] ShearX BBox
- [ ] Rotate BBox
- [ ] Cutout Only BBoxes
- [ ] ShearY BBox
- [ ] ShearY Only BBoxes

Reference: https://github.com/google-research/simclr/blob/mast

[2020-03-20 12:46] vinayvr11 commented on #1226
All the tickets are created @bhack.

[2020-03-20 13:57] vinayvr11 commented on #1226
@bhack i want to know something if we added all these images operations now then what we have left for GSOC.

[2020-03-20 14:14] seanpmorgan commented on #951
This was merged. Closing but feel free to keep discussion going in this issue.

[2020-03-20 14:14] #951 closed

[2020-03-20 14:24] bhack commented on #1226
I suppose it will be hard to merge all these ops before the application date end but Mentors could use the PR activities to best evaluate candidates.
Also there Is still all the activity about the policy and hyperparam API design for so we could have a pluggable system that It could be valid also for policies that interact with the train loop etc..
If the todo will be not enough for a proposal you

[2020-03-20 14:27] vinayvr11 commented on #1226
Ok Thank you i will check it and can i also take some operations from pillow or opencv.

[2020-03-20 15:09] bhack commented on #1226
@seanpmorgan @gabrieldemarmiesse We need  still if think if colorspace conversions are inside addon or io namaspace. See https://github.com/tensorflow/io/issues/825

[2020-03-20 17:12] vinayvr11 commented on #1226
@bhack : i have created the tickets but i don't know that who will merge them to the repository could you help me this.
Thank you

[2020-03-20 19:11] bhack commented on #1226
@vinayvr11 Don't worry cause all non Google employees are volunteers here. As soon as there is a free slot we will go ahead with the reviews.

[2020-03-20 19:16] vinayvr11 commented on #1226
Ok thank you @bhack.

[2020-03-21 07:25] vinayvr11 commented on #1226
Hello @bhack could you please help me to find out some more issues in Tensorflow Addons or tf.image() so that i can mention them in GSOC.
Thank you

[2020-03-21 09:29] tillmo commented on #825
@gabrieldemarmiesse, thanks for the explanation. I was not aware of the difference between multi-backend keras and tf.keras, and the fact that the former is deprecated. Now your link provides some explanation, but only discusses a reorganisation of Keras in relation to Tensorflow. The end of the multi-backend nature is not discussed. Probably it is an implicit consequence? (A quite severe one...)

[2020-03-21 09:48] gabrieldemarmiesse commented on #825
You can get a bit more info about it at https://keras.io/

The major reason was this: it is not realistic for the keras maintainers to continue to maintain backends which represent only 2% of the users. Furthermore CNTK and Theano are both deprecated.

[2020-03-21 12:41] bhack commented on #1226
@vinayvr11 these are general hints for every studen.
I suppose that all the image ops and bboxs ops the we have listed from the sparse repositoriees plus the design of an augmentation policy API to porting the policies of the relative repositories that we have mentioned  could be enough for a proposal.
There are also some colorspace conversions that I mentioned if you want to expand the ops covera

[2020-03-21 12:51] vinayvr11 commented on #1226
Thank you very much for this @bhack. Actually i also found some loss functions and optimizers that are listed in tf.contrib but not in Tensorflow 2.x so can i also mention them in proposal.

[2020-03-21 15:31] vinayvr11 commented on #1226
@bhack : could you please review my proposal this will be a great help for me https://docs.google.com/document/d/1mv32xoGI08JP1wcMiugTyVBzCee7dsyYK_5Uf6SjxEE/edit?usp=sharing

[2020-03-21 18:02] bhack commented on #1226
@vinayvr11 See @dynamicwebpaige [Best Practice](https://docs.google.com/document/d/1zT57PFMGZ04A4CvHxAKVpMTgXjsO92_oKeSKwZMc0Gs/edit) on how to collect a feedback.

[2020-03-22 13:24] bhack commented on #1226
@dynamicwebpaige I don't know how many slots we could have on similar tasks at GSOC but another related "proxy task" could be image text augmentation like CVPR 2020 https://github.com/Canjie-Luo/Text-Image-Augmentation/

[2020-03-22 13:42] gabrieldemarmiesse commented on #1226
@bhack @vinayvr11 please keep this thread focused on autoaugment and randaugment. Feel free to use direct messages or to open new issues if you think the topic changed. Having an issue with 40+ messages make the life of the maintainers quite hard.

[2020-03-22 14:06] bhack commented on #1226
@gabrieldemarmiesse probably was better to open a Gitter channel deicsted to Gsoc other than Gitter addons for this kind of threads to not force ISSUES to go off-topic. Google doesn't official support any realtime chat channel and If you see the Google Summer of code Tensorflow page still points to https://github.com/tensorflow/community (you find also off-topic Gsoc issue there).
Also that repo i

[2020-03-22 16:35] vinayvr11 commented on #1353
@gabrieldemarmiesse, @dynamicwebpaige does this issue is meaningfull for Tensorlfow.

[2020-03-22 16:42] bhack opened #1364 "Spatial Soft-argmax (+optional scale adaptive)"
**Describe the feature and the current behavior/state.**
Recover Spatial Soft-argmax from contrib + scale adaptive extension

**Relevant information**
- Are you willing to contribute it (yes/no): no
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): https://arxiv.org/abs/2003.07543 (for the scale adaptive version)
- Is there already

[2020-03-22 22:39] bhack commented on #1364
/cc @ericjang  for https://github.com/google-research/tensor2robot/blob/master/layers/spatial_softmax.py#L19

[2020-03-23 10:10] mgmverburg commented on #746
I am running into this issue currently as well, trying to see if I can find any workaround in my own situation, or whether I will have to abandon using F1 score and just make my own function or manually calculate it whenever I need it (which are all very suboptimal logicall)

[2020-03-23 14:15] srilman commented on #1318
I currently have a solution built in Python using high level Tensorflow ops for the following extensions:

* Extending the closest pixel outwards (the second picture)
* Copying the entire image along all directions (the last picture)

 I'm not sure if it would be fast enough as hoped for, especially if its used in an input-bound data pipeline, but it was quick to implement and test. I can make a P

[2020-03-23 14:21] gabrieldemarmiesse commented on #1318
It's better to have an implementation that's correct with the right API than to have a fast one. We can always do speed optimizations afterwards. So feel free to open a pull request. If you can, first do a pull request for the simplest mode, then once the first pull request is merged, do another pull request for the other mode you have.

Having small pull request allow us to make fast review/chang

[2020-03-23 16:49] bhack opened #1366 "Keypoints class/ops"
**Describe the feature and the current behavior/state.**
Add keypoint class utils
**Relevant information**
- Are you willing to contribute it (yes/no):
no
- Are you willing to maintain it going forward? (yes/no):
probably
- Is there a relevant academic paper? (if so, where):
Yes but it is a too popular topic to point any specific paper.
- Is there already an implementation in another framework? (i

[2020-03-23 16:51] bhack commented on #1366
Just an addition reference ticket: https://github.com/tensorflow/models/issues/2366

[2020-03-23 16:59] bhack commented on #1366
/cc @jqtang

[2020-03-23 18:35] Squadrick commented on #1285
See https://github.com/tensorflow/tensorflow/issues/27899

[2020-03-23 18:36] #1285 closed

[2020-03-23 22:00] bhack commented on #1366
/cc @jiuqiant

[2020-03-24 11:57] GaranceRichard opened #1373 "Lookahead bug when loading saved model"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow version and how it was installed (source or binary): TF 2.1 from pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.3
- Python version: python 3.7
- Is GPU used? (yes/no): yes cuda 10.1

**Describe the bug**

My model uses TFA: Lookahead with Radam (ranger)
Trained it: ok
Saved it: ok
Impos

[2020-03-24 12:40] Squadrick commented on #1373
cc @cyberzhg

[2020-03-24 13:05] steph-en-m commented on #1328
@fsx950223  I tried recreating this error and the problem arose at the arguments passed to the function(s). Once `autograph` is set to false in `@tf.function`and `tf.config.experimental_run_functions_eagerly(False) `, functions expect actual float values rather than tensors.
hence this error:
`OperatorNotAllowedInGraphError: using a `tf.Tensor` as a Python `bool` is not allowed: AutoGraph is disab

[2020-03-24 13:08] fsx950223 commented on #1328
Yeah, it's a problem.

[2020-03-24 13:26] steph-en-m commented on #1328
Why would you disable autograph in `tf.function` only for you to use it with `tf.autograph.to_graph`?? Am confused.

[2020-03-24 14:19] gabrieldemarmiesse commented on #1373
I opened a pull request to fix the bug. The fix will be backported to the 0.8 branch. @GaranceRichard when this is merged, you'll be able to load your model using tfa-nightly. When the backport is merged and a release is done, you'll be able to load your model with tensorflow-addons 0.8.4.

[2020-03-24 14:26] bersbersbers opened #1376 "Support Python 3.8 (as does TF 2.2)"
**Describe the bug**

Since TensorFlow 2.2 will support Python 3.8 (https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-599102810), I feel that `tensorflow_addons` should do the same, especially in the light of https://github.com/tensorflow/addons/issues/1320.

[2020-03-24 14:52] GaranceRichard commented on #1373
found a solution to load it :

load without compilation, import optimizers, compile with optimizers...

it works but it could be better...

[2020-03-24 16:17] gabrieldemarmiesse commented on #1376
Our codebase is already compatible with python 3.8. So we don't need to do anything (if you take https://github.com/tensorflow/addons/blob/master/tools/docker/cpu_tests.Dockerfile and change the python version to 3.8, you'll see the tests are passing). Maybe what you're referring to is to have a wheel on pypi that supports python 3.8. We'll do that once we release the wheels on pypi with support t

[2020-03-24 16:17] #1376 closed

[2020-03-24 19:10] #1373 closed

[2020-03-24 19:13] gabrieldemarmiesse opened #1380 "Remove the possibility to use a float as total_steps in rectified Adam"
See #1375

blocked until we release the 0.10.

[2020-03-24 19:14] Squadrick opened #1381 "Deprecate float `total_steps` in RectifiedAdam"
As per [this warning](https://github.com/tensorflow/addons/blob/7aac34c52fc8fa90a2581d3bfb086ee73ef5f61e/tensorflow_addons/optimizers/rectified_adam.py#L132).

[2020-03-24 19:14] Squadrick commented on #1381
Duplicate #1380

[2020-03-24 19:14] #1381 closed

[2020-03-24 19:15] Squadrick commented on #1380
[Link to deprecation warning.](https://github.com/tensorflow/addons/blob/7aac34c52fc8fa90a2581d3bfb086ee73ef5f61e/tensorflow_addons/optimizers/rectified_adam.py#L132)

[2020-03-25 13:50] bhack commented on #1333
Just for the note... there are many other interesting augmentations operations that could be inspired by https://github.com/aleju/imgaug (It works also 1on other datatypes like heatmaps, keypoints etc..).
The problem there it is that often it is hard to achieve good perfomance[1][2][3] and it is why we are trying to solve here with TF ops so that we could rely on the TensorFlow compiler/optimizati

[2020-03-25 17:09] #1220 closed

[2020-03-25 17:13] Squadrick commented on #1293
Closing this as the issue is resolved. You can continue the discussion here.

[2020-03-25 17:13] #1293 closed

[2020-03-25 17:27] Squadrick commented on #358
Closing this issue due to lack of activity. Discuss on #1333, that seems to have grown into the mega-thread for all things image proc.

[2020-03-25 17:27] #358 closed

[2020-03-25 17:59] Squadrick commented on #1333
@abhichou4 @vinayvr11 @bhack The checklist above should only be ticked once the PR has been merged. I've unselected all the open PRs.

Also, please open a single PR for each image op, even if it's a simple op. It makes it super tough to review when 4/5 ops are combined into a single PR.

@abhichou4 I'm closing #1352 since it's WIP, and implements multiple ops. Create separate issues.

[2020-03-25 18:00] us commented on #1227
@AakashKumarNain please check it. What is the problem?
[code]

**Output is:**
[code]

[2020-03-25 18:02] bhack commented on #1333
@Squadrick Thanks but I have not the privilege level to tick the checklist :wink:

[2020-03-25 18:02] Squadrick commented on #1353
@vinayvr11 Closing #1342, create separate PRs for each op.

[2020-03-25 18:29] Squadrick commented on #1354
Similar to #1333, #1353

[2020-03-25 18:45] #1105 closed

[2020-03-25 19:55] Hosein47 commented on #265
I also have the same problem. adding the hamming score and multi-class AUC would be nice.

[2020-03-25 20:22] AakashKumarNain commented on #1227
There are some bugs. Check #1261 I will look into it but can't do it immediately

[2020-03-25 20:52] #1227 closed

[2020-03-26 01:36] seanpmorgan opened #1414 "Publish developer docker containers on dockerhub"
See #1309

[2020-03-26 09:00] gabrieldemarmiesse commented on #1414
In the long term, we should push the build cache in dockerhub (or some other registry) in the master branch, and then we would be able to reuse the cache in other build or even locally. This is enabled by the docker buildx option  [--cache-from and --cache-to](https://github.com/docker/buildx#--cache-fromnametypetypekeyvalue).

Buildx should be included in docker at some point ( see https://github

[2020-03-26 10:52] gabrieldemarmiesse opened #1417 "Discussion: When to do checks of user inputs?"
**Describe the feature and the current behavior/state.**

Currently, we don't have a policy specifying when to do checks on numerical values (user input checks). Sometimes, it's done in eager mode only, sometimes in eager and graph mode...

For example: https://github.com/tensorflow/addons/pull/1338#discussion_r398463749

To have maximum speed, it would be better if the checks are not running, but

[2020-03-26 13:40] vinayvr11 commented on #1353
Sure @Squadrick i will make seperate PR for all operations.

[2020-03-26 18:34] Squadrick opened #1441 "Add support for more shapes in FilterResponseNormalization"
#765 added FRN to TFA.

Currently, `tfa.layers.FilterResponseNormalization` only support 4D tensors of order `NHWC`. We need to add support for arbitrary tensors and let the user specify the axis/axes to normalize over. (axes currently is forced to be `[1, 2]`).

See the TODO in `tensorflow_addons/layers/normalizations.py`.

BLOCKED: Till #765 is merged.

[2020-03-26 21:16] r-wheeler opened #1443 "Masking behavior is not working with crf"
**System information**
- debian
- 2.1, pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0
- Python version: 3.6.8
- Is GPU used? (yes/no): no

**Describe the bug**

crf is not correctly masking the predicted decode_tags with respect to sequence_lengths as compared to the previous implementation in tensorflow contrib.

**Code to reproduce the issue**

## In tensorflo

[2020-03-26 21:38] tc-wolf commented on #1443
I think that the difference is that in 1.15, [dynamic_rnn](https://github.com/tensorflow/tensorflow/blob/5d80e1e8e6ee999be7db39461e0e79c90403a2e4/tensorflow/contrib/crf/python/ops/crf.py#L208) was used in the `_multi_seq_fn`.  This zeros its outputs past sequence length by default [according to docs](https://github.com/tensorflow/tensorflow/blob/5d80e1e8e6ee999be7db39461e0e79c90403a2e4/tensorflow/

[2020-03-26 21:45] gabrieldemarmiesse commented on #1443
Maybe @squadrick can weight in on that?

[2020-03-26 23:20] bhack commented on #1366
We have some Google heatmap/keypoints operations also in https://github.com/google-research/google-research/blob/master/video_structure/ops.py
/cc @mjlm

[2020-03-27 10:37] gabrieldemarmiesse commented on #1320
All the bugs are fixed! We're now compatible with TF 2.2. What's left now is to change our CI to build on all OS against tf 2.1 and 2.2.

[2020-03-27 10:44] gabrieldemarmiesse opened #1458 "Make our CI build wheels against TF 2.1 and 2.2"
**Describe the feature and the current behavior/state.**

Currently in the CI, we test against tf 2.2 only on linux with python 3.5 and without releasing the wheels.

We should build wheels against 2.1 and 2.2, and push the wheels for tf 2.1 to pypi, then when 2.2 is stable, we should start pushing the wheels for tf 2.2 to pypi.

**Relevant information**
- Are you willing to contribute it (yes/no)

[2020-03-27 10:45] #1320 closed

[2020-03-27 10:51] UndeadBlow commented on #179
March of 2020 year, much of networks uses Deform, but TF still ignores it.

[2020-03-27 10:56] gabrieldemarmiesse opened #1459 "SequenceLoss shoudn't override the __call__ of tf.keras.losses.Loss"
Everything is in the title. `__call__` is considered a private API of keras. For TF 2.2 we had to change our code which shows that we shoudn't rely on the behavior of `__call__`.

Follow-up on https://github.com/tensorflow/addons/pull/1371#issuecomment-604883254

@guillaumekln @pavithrasv  @qlzh727  are the persons who might be concerned by this issue.

[2020-03-27 12:14] bersbersbers commented on #1376
Thanks, that was super helpful to get it up and running for testing.

[2020-03-27 12:20] mbp28 commented on #844
You specify 100 decay steps in the code, but in the plot decay continues for the entire plot range (more than 2000 steps). Can you clarify this discrepancy or update the code, please?

[2020-03-27 12:51] hugoych commented on #844
Hi,
This is inherent to the way `tf.optimizers.schedules.ExponentialDecay` is built .
Indeed if you look at the documentation (https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/schedules/ExponentialDecay), how `decay_steps` work is not very clear.

Though what it does is that the `decay_steps` correspond to how many step it takes to to get from a learning rate `lr` to a learning rate

[2020-03-27 13:24] seanpmorgan commented on #1458
Hmmm would like to carfefully think about how we version this? 0.8.x pinned to TF2.1 and 0.9.x pinned to TF2.2? How long do we support older TF versions?

[2020-03-27 13:48] mbp28 commented on #844
Many thanks!

[2020-03-27 14:05] gabrieldemarmiesse commented on #1458
That may be a topic to add to the meeting next week. The way I see it:

We have two things here. Python API compatibility and ABI compatibility.

* The ABI is compatible with a single wheel not even a full tensorflow version because when building tf from source or when using a nightly, it's not garanteed that it works. Even TF increasing the minor version can potentially break the ABI. We can see

[2020-03-27 14:34] seanpmorgan commented on #1458
Agree, it's a substantial decision that dictates how we run the repo going forward.

Agree, and we have removed the install dependency for any specific tf version because of this. If we keep a single TF version for custom-ops that doesn't prevent python users from upgrading TFA while using an older TF core version.

If we go this route then I like this method for dropping support but don't love it

[2020-03-27 15:31] gabrieldemarmiesse commented on #1458
So I had a quick call we @seanpmorgan  and we agree on what to do, but it's just that we wasn't clear enough in our messages. I'll try to sum up what we discussed here. @seanpmorgan feel free to edit my message if you think it improves clarity.

## Warnings

Since the compatibility with TF is not managed at the pip level, we need to add warnings ourselves about what we support. There will be two w

[2020-03-29 07:29] fsx950223 commented on #1417
It sounds good.

[2020-03-29 17:15] Opletts commented on #1441
@Squadrick I'll take this up.

[2020-03-30 01:47] shreyashpatodia commented on #1364
I can take a look at this in the weekend if you guys still need help?

[2020-03-30 10:12] ogreyesp commented on #265
@ROAbb

I solved this problem by mean of creating a custom class that computes these metrics, and then passing it as callback when fitting a model.

[code]

I hope that this solution can help you. Best

[2020-03-30 13:02] bjtho08 opened #1495 "TQDMProgressBar not working in TF-2.2.0rc1"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): TF-2.2.0rc1 (wheel compiled from source)
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.3 installed via pip
- Python version: 3.7.6
- Is GPU used? (yes/no): Yes

**Describe the bug**

Executing `model.fit()` with the `TQDMProgress

[2020-03-30 13:05] AakashKumarNain commented on #1261
@gabrieldemarmiesse @us with tf `2.2` and tfa `0.8.3`, both the problems are resolved. Can you give a try and let me know if you face any issues?

[2020-03-30 13:10] gabrieldemarmiesse commented on #1495
I believe that it's going to be fixed with #1365 . We lack tests for those, which explains why they break unexpectedly.

[2020-03-30 13:29] bjtho08 commented on #1495
@gabrieldemarmiesse I can confirm that the patch you mentioned fixed my issue 👍

[2020-03-30 15:09] gabrieldemarmiesse commented on #1495
Yeah we definitly lack some proper testing for the callbacks in Addons.

[2020-03-30 15:15] bhack commented on #1364
@shreyashpatodia How do you want to organize the scale parameter API? With the scale adaptable extension the spatial soft argmax ops need to work inside ROI windows in every channel.

[2020-03-30 16:12] bhack commented on #1364
It partially relate on how we want to design basic keypoints<->heatmap ops. See https://github.com/tensorflow/addons/issues/1366

[2020-03-30 16:21] bhack commented on #1364
I think that something like [`tf.image.crop_to_bounding_box`](https://www.tensorflow.org/api_docs/python/tf/image/crop_to_bounding_box) but that works with a batch of offsets it is needed as parameter to work with Scales.

[2020-03-30 17:00] bhack commented on #1364
Probably the ROIs could be formulated like `boxes` in [`tf.image.crop_to_bounding_box`](https://www.tensorflow.org/api_docs/python/tf/image/draw_bounding_boxes?version=nightly)

[2020-03-30 17:17] shivam2298 commented on #508
@kaushikb258 how did you fix it, could you please share.

[2020-03-30 17:44] gabrieldemarmiesse opened #1500 "TQDMProgressBar is untested"
It's currently untested. We have no way of knowing if this class works or not.

See also #1495

[2020-03-30 17:46] gabrieldemarmiesse opened #1501 "TimeStopping callback is untested."
We have no way of knowing if it works or not. Some minimal tests would be greatly appreciated.

See #964

[2020-03-30 17:49] gabrieldemarmiesse opened #1502 "AverageModelCheckpoint is untested"
We have no way of knowing if it's working or not. Some tests would ensure no bugs are introduced.

[2020-03-30 21:29] gabrieldemarmiesse commented on #1325
Closing this issue since we got no answer from the author. Tracking the docs part in #1317

[2020-03-30 21:29] #1325 closed

[2020-03-31 11:36] bhack commented on #236
@seanpmorgan  It is not the contrib project resurrection but I have a quick script to make a rought count of tensorflow_addons repos on github:
https://gist.github.com/bhack/885b79e57a6c4a59f1b1e5e12df74884

We have `used by` Github counter that check only `requirements.txt` that is at 191 now.
The script code search instead count a `Total Repos: 363` (without filters like addons repo itself etc..

[2020-03-31 11:38] gabrieldemarmiesse commented on #1458
What is currently missing is the docker image to build the manylinux wheels for 2.2.0. It's likely that this docker image will be available after the stable release.

[2020-03-31 13:56] bhack commented on #236
I've another stub for an histogram sampling in the first 100 repositories:
 https://gist.github.com/bhack/f2a2e81e556545ce888b1b7631e9e06d .

![plot](https://user-images.githubusercontent.com/1710528/78034230-bd1f6b00-7367-11ea-8537-5f26929b8cb0.png)

[2020-03-31 14:38] failure-to-thrive commented on #1501
Currently all the Callbacks are not covered with tests. And they should be uniform. Any ideas how it should look like?

[2020-03-31 14:41] gabrieldemarmiesse commented on #1501
We should just have a `fit()` call and then we check that the callback is doing what we expect it to do. For the `TimeStopping` callback, we can check the running time of the `fit` call for example.

[2020-03-31 16:51] #1261 closed

[2020-03-31 20:28] bhack commented on #361
@seanpmorgan It could be also nice f the Tensorflow google team will start to contribute a little bit in Tensorflow addons repo instead of accumulate single person/small team code snippets in the new just announced Model Garden or in the Google research repos.
See i.e. https://github.com/tensorflow/models/blob/master/official/vision/detection/modeling/losses.py#L25.
I don't know if we could open a

[2020-04-01 21:39] jarednielsen opened #1530 "LAMB optimizer parses regex patterns improperly"
The [LAMB optimizer](https://github.com/tensorflow/addons/blob/r0.8/tensorflow_addons/optimizers/lamb.py#L45) declares that its `exclude_from_weight_decay` argument should take in a comma-separated string of regex patterns. However, [the code expects a list of regex patterns](https://github.com/tensorflow/addons/blob/r0.8/tensorflow_addons/optimizers/lamb.py#L234) and instead iterates through each

[2020-04-02 01:01] seanpmorgan opened #1534 "Update the CI badges on central README"
Currently these badges point to workflows that we no longer run:
https://github.com/tensorflow/addons/actions?query=workflow%3Amanylinux-nightly

We can't update it to point toward our primary CI workflow though since this runs on PRs that are created as well as those that have been merged. Any good ideas jump out to anyone?

[2020-04-02 01:30] seanpmorgan commented on #236
Awesome thanks @bhack this is very useful. We're also interested in what addons have no usage as well to help us determine if there are bugs/implementation problems, duplicated code on different repos, etc.

Thanks a bit trickier to do but certainly useful

[2020-04-02 01:37] bhack commented on #236
What do you mean?

[2020-04-02 01:50] seanpmorgan commented on #236
As in which specific addons modules are / are not being used.

[2020-04-02 02:20] bhack commented on #236
Yes no usage it is quite hard to define for pattern matching. For this subtopic I am mainly interested in the Google brain/TF perimeters as you know we could to achieve an important policy enforcing goal. It is hard in these days to find refence impl of non Google papers in Tensorflow so at least  having Google Research/Brain/TF team itself contributing in addon could help on the points that you h

[2020-04-02 02:57] seanpmorgan commented on #838
This appears to be fixed. Waiting for master to switch to >= 2.2 and then this can be closed.

[2020-04-02 08:20] gabrieldemarmiesse commented on #1534
I think that github actions already takes care of this.

https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#adding-a-workflow-status-badge-to-your-repository

[2020-04-02 08:32] failure-to-thrive commented on #1501
So here is a concept. It is so small that I put it here:
[code]
If you need time checks, please point me to an module to use. However, since the execution time is a non-determinant entity and we do not rely on any external watchdog, the test might become flaky.

[2020-04-02 08:43] gabrieldemarmiesse commented on #1501
Thanks a lot for this proof of concept :)

That's true. Maybe we can hack things. What about keeping your model and adding  layer with `dynamic=True` to force eager execution and put a `time.sleep(1)` inside the `call`? We can then measure the time for let's say 2 epochs and ensure `2<= t <=3`. What do you think?

[2020-04-02 09:09] failure-to-thrive commented on #1501
Sounds feasible but looks too complicated. :smile:  What if to stay with a simple timing and see how it goes? Chances are, we are unreasonable pessimistic on non-determinant. :smile:

[2020-04-02 09:15] gabrieldemarmiesse commented on #1501
I'll try to do a PR based on your code with a wait layer and I'll let you review. If that's too complicated we'll drop the idea.

[2020-04-02 09:35] failure-to-thrive commented on #1501
OK. But please keep in mind that there is a program code flow outside of layers. Also, what if the OS thread scheduler suspends the test's thread? Timing in a multitasking environment is a tricky job...

[2020-04-02 09:36] gabrieldemarmiesse commented on #1501
Thanks for all the pointers! That's definitly tricky.

[2020-04-03 07:37] fsx950223 opened #1553 "Custom ops in Addons don't work on tpu"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary):
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version:
- Is GPU used? (yes/no):

**Describe the bug**
Addons only register kernel on client device, TPU server will raise an error.
A clear and concise description of w

[2020-04-03 09:13] pikaliov opened #1554 "Use tf.saved_model with tfa.activations.mish produce error: "Op type not registered 'Addons>Mish' in binary running""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.1.0 (binary)
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.3 (binary)
- Python version: 3.7
- Is GPU used? (yes/no): yes

Issue description:

I trained model using tfa.activations.mish for activation func o

[2020-04-03 09:45] gabrieldemarmiesse commented on #1554
Could you try `tfa.register_all()`?

[2020-04-03 11:02] samuel-lunii opened #1556 "Bug when using tfa.seq2seq.AttentionWrapper as input to tf.keras.layers.Dense"
**System information**
- OS Platform and Distribution : Debian 4.9.168-1+deb9u5 (2019-08-11) x86_64
- TensorFlow version and how it was installed (source or binary): pip install tensorflow == 2.1.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.3, pip install tensorflow_addons
- Python version: 3.5.3
- Is GPU used? (yes/no): no

**Describe the bug**

I use tfa.seq2seq

[2020-04-03 11:28] guillaumekln commented on #1556
What are you trying to achieve exactly? There are 2 issues with your code:

* `attention_cell` is an RNN cell and should first be called with an input and a state
* the `inputs` your are passing to the attention mechanism should have the shape `[batch, time, depth]`

[2020-04-03 13:16] pikaliov commented on #1554
Thank you, it works.

[2020-04-03 13:16] #1554 closed

[2020-04-03 13:52] samuel-lunii commented on #1556
Thanks for quick reply !

I'm trying to migrate a code from TF1.14 to TF2.1.

I wrote the line `tf.keras.layers.Dense(256)(attention_cell)` because I tried to replace `tf.contrib.rnn.OutputProjectionWrapper(attention_cell, 256)` from the original code.

I read [here](https://github.com/ageron/handson-ml/issues/429) that the `OutputProjectionWrapper` could be replaced with a `Dense` layer. But now

[2020-04-03 15:31] gabrieldemarmiesse commented on #1267
@philjd could you look into it? It would be nice to fix it before the 0.9 release.

[2020-04-03 15:44] PhilJd commented on #1267
Thanks for flagging this. I just checked, the signature of the apply_gradients function has changed indeed. PR #1181 was an attempt to fix this but broke backward compatibility. I'll prepare a PR in a minute.

[2020-04-03 15:50] gabrieldemarmiesse commented on #1267
Thanks a lot. One thing I don't understand is that if when doing the subclassing, we used only public APIs, the breakage shouldn't happend right?

https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer#write_a_customized_optimizer_2

We shouldn't override `apply_gradients`.

[2020-04-03 16:05] gabrieldemarmiesse commented on #1530
This has been fixed and ported to the 0.8.x branch.

[2020-04-03 16:05] #1530 closed

[2020-04-03 16:07] PhilJd commented on #1267
The problem is that we need to pass a list with the variables to decay. I put this into apply_gradients and not into e.g. constructor as the variables to decay are also passed there.

Atm I don't see a backward compatible way of getting rid of overwriting the apply_gradients function.
I think it's easier to add **kwargs to the function signature, allowing us to be backward compatible.

[2020-04-03 16:09] gabrieldemarmiesse commented on #1267
Yep you're right. For now, let's fix the compatibility with TF 2.2.x. Then we can look into how to use only public API to reimplement it. If we don't do it at some point, we'll have to update this file at every TF release haha

[2020-04-03 16:21] PhilJd commented on #1267
Hm, technically we're just wrapping a public API, which seems perfectly valid to me.
I'd argue that the problem is on the Keras side, with an optimizer wrapping the public API in an incompatible way, requiring special treatment in the training loop [here](https://github.com/tensorflow/tensorflow/blob/v2.2.0-rc1/tensorflow/python/keras/engine/training.py#L1735).

[2020-04-03 16:33] gabrieldemarmiesse commented on #1267
We shouldn't override methods which are public and not meant to be overwritten. For example, if method x is public and not meant to be overwritten, and we overwrite it anyway, adding a new argument y, it's working for the moment. Then, since x is a public API, the TF team can also add a new argument z. Then we're in conflict on the API level with what does tensorflow.

But yeah the piece of code y

[2020-04-03 16:41] AakashKumarNain commented on #1267
We should discuss this one for sure.

[2020-04-03 21:32] gabrieldemarmiesse commented on #1267
Yep, so we discussed this at the SIG keras and SIG addons meeting, the decision was that we do quick fixes and keep backward compatibility until the new RFC for keras optimizers is created and implemented. Once it's implemented, we'll refactor everything, possibly do backward incompatible changes and make everything compliant with the new API.

[2020-04-03 21:45] gabrieldemarmiesse opened #1567 "Register keras objects in the function `register_all`, not at import time"
Currently, it's possible to do
[code]

which is not readable and will throw an error with all main linting tools (import unused).
Being explicit and readable come first in python, and similarely to how we do it with custom ops, `register_all()` should be called before loading a model.

See background #1151

[2020-04-04 11:16] bhack commented on #1553
I've also request to extend the official custom Op guide repository to cover TPU https://github.com/tensorflow/custom-op/issues/53

[2020-04-04 11:38] bhack commented on #1226
/cc @tanzhenyu as from Git blame is working on the image_preprocessing ops in Keras.

[2020-04-04 13:15] tanzhenyu commented on #1226
image preprocessing ops only contain basic operations like rotate and translate, it doesn't have all the 'advanced' ops like blend, bbox, or augment.
That said, it might be good to have a standalone repo like keras-image with useful layers / utils that relies on tfa.image?

[2020-04-04 13:36] bhack commented on #1226
I think we need to de-duplicate code as possible not just cause It Is a waste of time but also cause It Is confusing for newcomers (users and candidate contributors).
I.e. If we collect image ops here in TFA i suppose that the natural upstream Is tf.image as in our migration to core process documentation.
What about the mentioned policies in this thread? Are these in the addons perimeter? Or in th

[2020-04-04 13:42] tanzhenyu commented on #1226
Why upstream? Sounds like tfa.image is a complimentary suite of tf.image?

[2020-04-04 13:56] bhack commented on #1226
I meant as TF Addons Is historically the fusion of Tensor contrib comunity and keras-contrib comunity we have two official upstream promotion paths as you can see [in point 3](https://github.com/tensorflow/addons/blob/master/MIGRATION_TO_CORE.md).
So if we all agree to add new image operation in tfa this mean that the natural promotion path Is tf.image not Keras.
Then there Is the second point tha

[2020-04-04 14:54] tanzhenyu commented on #1226
I agree with @gabrieldemarmiesse, tfa shouldn't rely on Keras-tuner and include learnable policies. It could just be hard-coded. For autoaugmentation policies API it seems a keras-image repo (which will rely on both tfa.image and Keras-tuner, and AutoKeras can rely on that) would be better fit IMHO.

[2020-04-04 15:38] bhack commented on #1226
I think that we need to discuss this a little bit cause we need to clarify also what Is the difference contributing in keras.experimental and in TF Addons also to route Gsoc students, contributors etc and to not sparsify implementations on multiple repos also cause currently It Is hard to have a [monthly overview across the Tensorflow/Keras ecosystems](https://github.com/tensorflow/community/issue

[2020-04-04 17:17] tanzhenyu commented on #1226
Yep we definitely need this to be modular and architectural. I will attend the next meeting

[2020-04-04 17:34] #1267 closed

[2020-04-04 17:35] gabrieldemarmiesse commented on #1267
@PhilJd  As said during the sig  keras meeting, there is going to be an RFC concerning the new API for optimizers in https://github.com/tensorflow/community/pulls . When it's implemented, we'll likely refactor the weight decay using this API, could you take a look and get involved in this RFC when it's out?

[2020-04-04 18:23] #1500 closed

[2020-04-04 19:03] bhack commented on #1226
We need to involve somebody from the google-research repo to be sure that Google's internal polices will not create a problem for that team to contribute and feed a policy API under `Keras` org. As you can see in this thread many of the mentioned auto-augmentations and ops are coming from the google-research repos.
See also the already mentioned https://github.com/tensorflow/community/issues/223

[2020-04-04 20:20] PhilJd commented on #1267
Sure, feel free to ping me if I happen to miss the announcement :)

[2020-04-05 02:50] #1501 closed

[2020-04-05 08:16] #1317 closed

[2020-04-06 17:50] #1495 closed

[2020-04-06 23:37] whatdhack commented on #987
I am seeing the undefined symbol problem with a custom built TF 1.14 python whl.  What  bazel build option should I use beside  --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"  ? How do I specify compatibility with manylinux2010 compatible with GCC 7.3.1

[2020-04-07 01:24] seanpmorgan commented on #987
TensorFlow Addons only supports TF2.x. We have an issue for build from source compatibility but it would still only support TF2+ https://github.com/tensorflow/addons/issues/770

[2020-04-07 01:25] #1279 closed

[2020-04-07 02:26] whatdhack commented on #987
Addons are similar to CustomOps in 1.x , right ?  So has the same issue.

[2020-04-07 10:08] #1202 closed

[2020-04-08 19:36] bhack commented on #332
`sparse_image_warp` was not merged. So check https://github.com/tensorflow/io/issues/839#issuecomment-607362644

[2020-04-08 21:41] shun-lin opened #1612 "Adding/Consolidating Tutorial (Colab) for Metric Learning Losses"
There are many metric learning losses implemented here in TFA (focal loss, contrastive loss, lifted loss, npairs loss, triplet loss) and many potential ones that may be implemented in the future (Quad loss, multi-similarity loss, etc). It would be great to have a tutorial on this :)

**Relevant information**
- Are you willing to contribute it (yes/no): Yes
- Are you willing to maintain it going fo

[2020-04-09 09:37] bhack commented on #1364
@shreyashpatodia Do you plan to make a PR?

[2020-04-09 10:02] zaccharieramzi opened #1620 "Have TQDMProgressBar work in evaluate mode as well"
**Describe the feature and the current behavior/state.**

Right now, the `TQDMProgressBar` callback can only be used when training a model.
When evaluating nothing happens. And even if I try to "cheat" by manually setting the `on_test_batch_(begin|end)` methods, it fails with an error about `mode`.

**Relevant information**
- Are you willing to contribute it (yes/no): don't know
- Are you willing

[2020-04-09 11:09] gabrieldemarmiesse commented on #1620
I don't think it would be hard to do because keras exposes methods for that: e.g. https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback#on_test_batch_begin . Contributions welcome!

[2020-04-09 12:44] Alessiobrini commented on #422
Is available an official implementation now?

[2020-04-09 13:12] tridemax commented on #422
@Alessiobrini
https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/RectifiedAdam

[2020-04-09 16:03] #1534 closed

[2020-04-10 19:49] seanpmorgan commented on #1305
@karmel as discussed in our monthly meeting we would like to be able to publish our own development docker image for this issue and other reasons. #1309 may have more details on this particular request.

Would you be able to get us in touch with someone who would know if it's possible to publish under tensorflow namespace on DockerHub. That would be preferable to how we're currently publishing ima

[2020-04-10 20:05] gabrieldemarmiesse opened #1641 "Make a forum for TF addons"
**Describe the feature and the current behavior/state.**

Currently, when people have questions about using a feature of TF addons, they either go to issues, go to stackoverflow or the mailing list. Neither of them have the UX of the pytorch forums for example. As such I believe that we should have a proper forum. It would also be a nice proof of concept for the TF org as other project could later

[2020-04-10 20:11] AakashKumarNain commented on #1641
Yes, yes yes! @gabrieldemarmiesse not only PyTorch but `mxnet` and `fastai` also have dedicated forums. Also, being a Kaggler, I am pretty sure that forums are very very useful for discussions regarding features, asking questions, aggregating discussions on a particular topic, etc.

[2020-04-10 20:58] bhack commented on #1641
I like it but honestly I will prefer to have a common space for all the SIGs cause it will really help to minimize accounts and help  cross-mentions on threads.
See https://github.com/tensorflow/community/issues/204

Can you check if google is in the condition to decide about this?

If the response is negative we could start alone.

[2020-04-10 21:04] gabrieldemarmiesse commented on #1641
That'd be the best.

Sadly I believe that at this point in time, if we wait for an official answer from google (even negative), it can take several months.

That'd be the best. I believe that google will follow-up on what we do if it works well. Should they decide to embrace it later, they have the manpower to transfer the discussions to a new organized forum.

Right now we need to act as a POC an

[2020-04-10 21:10] bhack commented on #1641
Sadly... I mentioned some tools in tensorflow/community#204

[2020-04-10 21:13] gabrieldemarmiesse commented on #1641
I believe we should start with one tool first to avoid having too much work to set it up. Should we start with discord or discourse?

[2020-04-10 21:18] bhack commented on #1641
Ok for discourse.

Instead for discord, yes It Is quite popular like slack etc.. but If we prefer an opensource ecosystem I will go in the Mozilla direction with Riot/Matrix

[2020-04-10 21:24] gabrieldemarmiesse commented on #1641
@bhack would you be willing to follow-up on this and setup the discourse forum? If you need anything, you can ask the addons maintainers in this issue of course. I have no experience with discourse but if you need some stuff like hosting, we'll try to make it work.

[2020-04-10 21:26] bhack commented on #1641
Is the Opensource free hosting enough for our traffic?

https://blog.discourse.org/2018/11/free-hosting-for-open-source-v2/

[2020-04-10 21:30] gabrieldemarmiesse commented on #1641
I think so, if we need to upgrade, then it means we're successful and we can ask google to help us there :)

[2020-04-10 21:31] bhack commented on #1641
Can you submit the request at https://free.discourse.group/?

[2020-04-10 21:33] gabrieldemarmiesse commented on #1641
Could you do it? You can be one of the staff members of course, that will definitly help :)

[2020-04-10 21:33] bhack commented on #1641
Ok

[2020-04-10 21:34] gabrieldemarmiesse commented on #1641
Thanks a lot!

[2020-04-10 21:42] bhack commented on #1641
Done. We need to wait 2 business days to know if we are approved.

[2020-04-10 21:43] gabrieldemarmiesse commented on #1641
That's awesome, thanks!

[2020-04-10 21:45] bhack commented on #1364
@gabrieldemarmiesse @seanpmorgan Do you remember why we lost the `tf.contrib` version in the migration? In the [table](https://github.com/tensorflow/community/blob/master/rfcs/20181214-move-to-addons.md) I see:

[2020-04-10 22:36] bhack commented on #1641
In the meantime we have a realtime room on matrix at https://riot.im/app/#/room/#tensorflow/sig-addons:matrix.org.
We could bridge with the current Gitter `tensorflow-sig-addons` if you like.

[2020-04-10 22:41] bhack commented on #1641
@gabrieldemarmiesse @seanpmorgan If you like it I will give you the co-maitainership when you will join..

[2020-04-10 23:07] gabrieldemarmiesse commented on #1641
@bhack could you deactivate the gitter bot so that we can try riot without worrying about  posting messages on gitter?

[2020-04-10 23:07] bhack commented on #1641
Yes

[2020-04-10 23:07] gabrieldemarmiesse commented on #1641
Nice thanks!

[2020-04-11 00:18] bhack commented on #1641
Done, Is disconnected now.

[2020-04-11 04:47] ashutosh1919 commented on #1620
@gabrieldemarmiesse , please review PR [#38447](https://github.com/tensorflow/tensorflow/pull/38447)

[2020-04-11 11:08] gabrieldemarmiesse commented on #1620
As a small note, I believe the TQDM callback should have a cleanup as we removed the "samples" mode and a refactoring would be welcome before a PR to add this feature. There is definitly some dead code/renaming to do.

[2020-04-11 11:09] ashutosh1919 commented on #1620
Yep. Got it. Let me do that too.

[2020-04-11 11:11] sehamra commented on #1267
we still face the issue with TensorFlow version and how it was installed (source or binary): tf-nightly 2.2.0-dev20200408 (pip install) and stable version 2.1

[2020-04-11 11:20] PhilJd commented on #1267
Which tensorflow-addons version are you using? I guess it's in tfa-nightly only so far.

[2020-04-11 11:21] gabrieldemarmiesse commented on #1267
Should work with tensorflow addons 0.9.x too

[2020-04-11 11:32] sehamra opened #1645 "apply_gradients() return error using official.nlp.optimization"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
TensorFlow version and how it was installed (source or binary): tf-nightly 2.2.0-dev20200408 (pip install) and 2.1 stable version
TensorFlow-Addons version and how it was installed (source or binary):
Python version:
Is GPU used? (yes/no): TPU
**Describe the bug**

A clear and concise description of what t

[2020-04-11 12:41] ashutosh1919 opened #1646 "Need of flexible loss function GeneralLoss which can change behavior based on params"
**Describe the feature and the current behavior/state.**
Need of flexible loss function GeneralLoss which can change behavior based on params `alpha` and `scale`. Please take a look at [this paper](https://arxiv.org/pdf/1701.03077.pdf).

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant acad

[2020-04-11 18:49] gabrieldemarmiesse commented on #1645
Thanks for the report, what is the version of tensorflow-addons that you are using?
You can do `tfa.__version__` or `!pip freeze` for that.

[2020-04-11 20:10] bhack commented on #1641
@ewilderj as i see in the [community logos](https://github.com/tensorflow/community/blob/master/sigs/logos/README.md) folder can you add in the repository an [ICON version](https://www.tensorflow.org/extras/tensorflow_brand_guidelines.pdf) of the logo for this SIG (probably could be useful also for other SIGs)? Thanks

[2020-04-11 21:52] prasad4fun commented on #1645
Facing the same issue in **tf-nightly  2.2.0-dev20200411**

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
Python version:3.6.9
tensorflow-addons==0.8.3
Is GPU used? (yes/no): TPU

[2020-04-12 04:46] ashutosh1919 commented on #1620
@gabrieldemarmiesse , I have created PR for adding methods `on_test_batch_begin()` and `on_test_batch_end()`. I have also looked at removing unused code related to `samples` mode. I have found one clue [here](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/callbacks/tqdm_progress_bar.py#L161). But since, I am not aware about past implementation and changes, I couldn't do on my o

[2020-04-12 05:42] shun-lin commented on #1620
ops, sorry I have forgot about evaluate() when I wrote it and thanks @ashutosh1919 so much for the contribution!

[2020-04-12 09:09] gabrieldemarmiesse commented on #1645
Could you try with tensorflow-addons 0.9.x? (the latest version).

[2020-04-12 11:15] prasad4fun commented on #1645
Same issue even after upgrading to tensorflow-addons 0.9.0

Signature: optimizer.apply_gradients(self,grads_and_vars,name=None,all_reduce_sum_gradients=True):

[code]

Signature: tf.keras.optimizers.Adam.apply_gradients(grads_and_vars, name=None, experimental_aggregate_gradients=True)

[code]

keyword argument 'all_reduce_sum_gradients' likely replaced with 'experimental_aggregate_gradients'

[2020-04-12 18:34] keshan commented on #1645
You are right. 'all_reduce_sum_gradients' have been renamed to 'experimental_aggregate_gradients'
https://github.com/tensorflow/tensorflow/pull/37908

[2020-04-13 01:53] seanpmorgan commented on #1364
Just means there wasn't enough OSS usage to justify moving it. During the RFC period all candidates to be dropped were welcome to be picked up if there was community support, but no one did for `spatial_softmax`. Happy to review a PR for it, but the tf.contrib version used variable scoping etc. so there are some changes to be made.

[2020-04-13 06:46] ashutosh1919 commented on #1620
@zaccharieramzi and @gabrieldemarmiesse , please review PR. Creates as below.
![tqdm_pbar_demo - Colaboratory](https://user-images.githubusercontent.com/20843596/79098888-8b070380-7d80-11ea-9043-117eb406426a.gif)

[2020-04-13 10:51] gabrieldemarmiesse opened #1655 "Make our CI faster"
Currently our CI take ~30 min to run. After some analysis, here is the critical path and the big steps:

* Building the wheel on linux: 25m
  * pull the docker image: 3m
  * install TF and dependencies: 2m
  * build CPU and GPU ops: 8m (building CPU ops only takes 2m in another build, so we can assume 6m for building the GPU ops)
  * Run all tests: 6m, I should re-enable pytest-xdist here.
  * Reb

[2020-04-13 11:36] bhack commented on #1641
It Is ready. https://tfaddons.discourse.group
We can personalize graphics, theme and text.

When we are ready to announce these new tools in mailing lists and PR in Readme we could close this ticket

[2020-04-13 11:40] gabrieldemarmiesse commented on #1641
That's awesome, thanks @bhack ! We have to decide then what to do with the channels we already have: mailing list and gitter. Should we drop them?

[2020-04-13 11:51] bhack commented on #1641
I think that Is ok. When we are satisfued with the layout settings we could put the old channels in readonly mode e.g. one week after the announcement.

[2020-04-13 11:54] bhack commented on #1364
What do you think about the Google version that I mentioned early in this ticket?

[2020-04-13 12:43] bhack opened #1656 "Minimal examples in Contribution policy"
Can we request to contribute an example or to point to third party repo with samples in the [Contributing Policy](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md)?

[2020-04-13 14:00] gabrieldemarmiesse commented on #1656
What do you mean exactly? That each new features should have detailed examples?

[2020-04-13 14:12] bhack commented on #1656
Yes, in some case it could be something simple like forked from the test itself. In other cases could be like a notebook tutorial or a py example.

[2020-04-13 14:13] bhack commented on #1656
In many cases I think that this example could be expanded when the contribution is in the same sub-namespace.

[2020-04-13 15:14] gabrieldemarmiesse commented on #1656
Sure, if there is an example, I believe the best place for that would be the docstring since we have control over it. Feel free to open a pull request to edit the contributing guidelines, I'll review it.

[2020-04-13 15:30] bhack commented on #1656
https://github.com/tensorflow/addons/pull/1659

[2020-04-13 15:49] #1656 closed

[2020-04-13 16:04] bhack commented on #1655
Can you point on the CI scripts sources?
Can we take any speed-up with https://github.com/actions/cache?

[2020-04-13 16:08] bhack commented on #1655
See also this thread https://github.community/t5/GitHub-Actions/Cache-docker-images/td-p/44978

[2020-04-13 16:26] gabrieldemarmiesse commented on #1655
Caching may help, but it may also make things slower. It's usually hard to know until we try.

[2020-04-13 16:58] ewilderj commented on #1641
Whoa folks. Firstly I'm really glad that you want to move on this, but going from issue to creation in 3 days without wider consultation is a bit hasty. As demonstrated by the icon ping, you definitely know how to get a hold of me and chat anytime :) Also, SIG Addons has official Google contacts you can talk with.

We have some real constraints about forums and project-wide desires about how to ma

[2020-04-13 17:00] bhack commented on #1655
I've not built the linux wheel Dockerfile with the [progress option](https://docs.docker.com/develop/develop-images/build_enhancements/) but I suppose that in `25m` the main problem is that this is [`/root/.cache/bazel`](https://github.com/tensorflow/addons/blob/master/tools/docker/build_wheel.Dockerfile#L39) is an empty volume when you run the Action vs local build right?

[2020-04-13 17:14] gabrieldemarmiesse commented on #1641
@ewilderj , could we follow-up in this issue? I believe that the community would benefit from this discussion as it would allow anyone to understand the decisions behind the tools we use in Addons.

[2020-04-13 17:19] bhack commented on #1641
@ewilderj My original opinion was expressed in this ticket at https://github.com/tensorflow/addons/issues/1641#issuecomment-612213964.
Instead the original community issue, that I've mentioned in that comment, was stalled by more then two months as many other community issues.

Personally I understand that internally you need months of discussions, I know this and it is not a problem. I don't wont

[2020-04-13 17:33] ewilderj commented on #1641
Thanks, and I appreciate the difficulty of this. TensorFlow is a unique and tricky project in many ways, and this is also one of them :)  The general problem is that each SIG is one of many, and all share the TensorFlow name, so we want to ensure users get a consistent and non-confusing approach.

We can definitely do better than months of apparent silence while internal threads go on, and we woul

[2020-04-13 17:51] bhack commented on #1641
@ewilderj It could be unique and tricky as you want but transparency it about your policy as Org and anything else. If there is no organizational and corporate policy effort to enforce these "positive" behaviors not much can be done as we are not a foundation backing an opensource project.

I honestly appreciate more, sometimes contradictory discussions, on [MLIR's channels](https://mlir.llvm.org/

[2020-04-13 18:05] bhack commented on #1641
I was manly interested in Addons but as I agree with this part of your point of view I've tried to go months ago through https://github.com/tensorflow/community/issues/204 also after many not positive experience on using the "community repo routing".

Also this is an ideal theoretic goal but as you see you have not enforced this cause we have approved PRs like https://github.com/tensorflow/communi

[2020-04-13 18:18] bhack commented on #1641
My bad on https://github.com/tensorflow/community/pull/41 cause was not merged. But on Keras was correct also if it is probably not a SIG anymore.

[2020-04-13 20:04] theadactyl commented on #1641
@bhack @seanpmorgan

Multiple thoughts here. One is that /community admins need to triage issues more regularly. :) But please feel free to @ me in the future into any issue in this repo you're not seeing a timely response on.

Another is that we may need to have a clearer process around creating new community processes, as this shouldn't be done on the fly to make sure our communications channels

[2020-04-13 20:38] bhack commented on #1641
@theadactyl Thank you for the update. Can that thread be transparent and so a public topic for the SIG communities or it is an internal one related the Company internal implications about adopting these channels?

Cause LLVM-MLIR, Pytorch, Mxnet etc.. are on discourse. Why Tensorflow it so special?
And if it is so special can we discuss in public why this is always the case (just to mention again

[2020-04-13 20:46] gabrieldemarmiesse commented on #1641
@theadactyl thanks a lot for your help and insights! That's definitely good to have a point of contact when community members outside google would like to propose changes to tools.

For the sake of community visibility and information,

* what is the rational behind creating a custom forum when open sources options are available?
* What is the timeframe concerning the availability this cutom made

[2020-04-13 21:32] theadactyl commented on #1641
@bhack @gabrieldemarmiesse

This is an involved discussion that we can't have publicly. What we can do is provide more transparency on where we are with the process. Right now we are exploring multiple options, including existing OSS forums. Event then, there are implementation details that are important to get right and that take time to consider.

This thread itself was very helpful in confirmin

[2020-04-13 21:50] bhack commented on #1641
@gabrieldemarmiesse @seanpmorgan I've closed Discourse and Matrix channel resources since these things are evaluated through an internal Google process where we have no visibility.

I suggest also to close this ticket because we is no-sense to deal with non-public topics on a public github repo.

[2020-04-13 22:03] theadactyl commented on #1641
To be clear, there's no need to shut down any chats platforms that are
already being used for SIGs.

On Mon, Apr 13, 2020 at 2:50 PM bhack <notifications@github.com> wrote:

[2020-04-13 22:11] bhack commented on #1641
@theadactyl Yes we just closed the new ones of this issue.

[2020-04-14 09:07] ashutosh1919 commented on #1567
@gabrieldemarmiesse , I tried calling `register_all()` in `resource_loader.py` but I think it is not the file which is executed at time of loading model. Instead, it is executed when `tfa` is imported. Is there any code in `tfa` which is executed when `tf` loads model.

[2020-04-14 15:18] gabrieldemarmiesse commented on #1567
@ashutosh1919 , thanks for giving a hand. I don't believe it's the right approach. The right one would be to call `register_keras_object` in the register all and not at import time (currently done with decorators). That requires an important refactoring with multiple steps because this is linked to many pieces. Notably the biggest piece we need to do before is to make our own `layer_test`. Current

[2020-04-14 15:33] #1620 closed

[2020-04-15 11:15] ashutosh1919 commented on #1567
@gabrieldemarmiesse , I have taken a good look at `layer_test` code [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/testing_utils.py#L77). Can you please explain in 1-2 lines, what part of it I should focus on understanding for cleaning.

[2020-04-15 14:02] cecabert commented on #877
I add the exact same error while trying to build for older cuda version (i.e. 9.2). I solve the issue by replacing `cuda_config.cuda_major_version` to `cuda_config.cuda_version` on the lines `573, 580, 587, 594` in the `build_deps/toolchains/gpu/cuda_configure.bzl` file, because the cuda library are named <_libname_>.so.<_Major_>.<_Minor_> and not <_libname_>.so.<_Major_>.

[2020-04-15 18:10] srilman opened #1676 "TripletSemiHardLoss Returns NaN With Large Number of Classes"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version and how it was installed (source or binary): 2.2.0-r2
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Describe the bug**
Whenever I try using TripletSemiHardLoss in face-related applications (as it was orig

[2020-04-15 18:58] gabrieldemarmiesse commented on #1676
@lc0 could you take a look whenever you have the time? Thank you very much!

[2020-04-15 18:59] gabrieldemarmiesse commented on #1641
Closing as we cannot do much about it.

[2020-04-15 18:59] #1641 closed

[2020-04-15 20:36] srilman commented on #1676
After a quick test playing with some of the params, I noticed that increasing the batch size decreases the likelihood of going to NaN. I think the problem is that with small batch sizes, it's very likely that some elements will have unique classes in the batch. Since triplet loss requires both positive and negative examples, there might be some kind of computation problem.

For example, using a ba

[2020-04-15 22:14] bhack commented on #1655
I've asked if we there is ware cache in action/cache the mount of buildkit `RUN --mount=type=cache` at https://github.com/actions/cache/issues/260.

[2020-04-15 23:34] Alessiobrini commented on #422
Thank you! Anyway, if I set warmup proportion and total steps, the optimizer doesn't seem to do the proper learning rate warmup. I don't know if I'm doing something wrong, but the doc says that is only sufficient to specify parameters to have the warmup schedule.

[2020-04-16 07:00] ashutosh1919 commented on #1017
@shun-lin and @seanpmorgan, please review PR #1679

[2020-04-16 08:53] gabrieldemarmiesse commented on #1567
Yes, notably, we need to adapt it to addons. This function should look for bugs in addons (the layer implementation), not tensorflow.

For example, I see that layer_test runs the layer once in a sequential model and once in a functional model. We shouldn't do that. We shouldn't even need to put it in a model to check that it works correctly. We can do `my_layer(...)` and check that this works. If

[2020-04-16 12:42] bhack commented on #1655
In the meantime I think that
[code]
could work if we have a registry to push. See https://medium.com/titansoft-engineering/docker-build-cache-sharing-on-multi-hosts-with-buildkit-and-buildx-eb8f7005918e

[2020-04-16 16:17] gabrieldemarmiesse commented on #1655
I did that a while ago, didn't seem very fast to me at the time. If someone wants to try again, a pull request is welcome: https://github.com/tensorflow/addons/pull/1043

[2020-04-16 16:56] gabrieldemarmiesse opened #1682 "Enable multiprocessing when testing with GPU and support distributed strategies in the tests."
**Describe the feature and the current behavior/state.**

Here I'm not going to discuss the bazel case as it's much more complicated to handle, and we currently advertize using pytest anyway to run the tests. We can of course make sure everything is compatible though.

This revamping of gpu testing has multiple objectives:

* The tests should behave the same weither the contributor has a gpu or no

[2020-04-16 18:53] #1502 closed

[2020-04-16 18:55] gabrieldemarmiesse commented on #1171
Closing this as it's going to be tracked in #1682

[2020-04-16 18:55] #1171 closed

[2020-04-16 22:01] HauserA commented on #1676
Triplet loss needs triplets to work (anchor image, positive image, negative image).
You need to make sure to always get enough triplets when you sample your batches.
If you sample randomly from your dataset, the number of triplets you get depends mostly on your batch_size and num_classes.

For batch_size=16 and num_classes=100 your expected value for the number of triplets is around 2.
For dataset

[2020-04-16 22:49] srilman commented on #1676
@HauserA That would make sense. I had started to realize that myself. Do you mind sharing how you calculated the expected number of triplets?

In any case I think it might help if the Triplet Loss example was modified so that this problem was a bit more apparent (maybe by selectively choosing elements for the batches as @HauserA describes).

[2020-04-17 12:30] HauserA commented on #1676
@srilman Yes, I made a colab notebook:
https://colab.research.google.com/drive/1qPjOIu5Dr9ADQmVfn7SXo-MPGSt8WT9x

I calculated the expected number with probability theory and just to be sure also with Montecarlo.

I also think it an example that shows how to selectively choose the elements with tf.data would be helpful. I split my dataset in hundreds of datasets for every class_id and use choose_f

[2020-04-17 17:14] sourcecode369 opened #1697 "Tqdm Callback Fails to run with tf.data API"
Using:
TensorFlow 2.1.0
TensorFlow Addons 0.9.1

**Describe the bug**

Tqdm Callback fails to run with tf.data API

**Code to reproduce the issue**

[code]

Error:
[code]

[2020-04-17 19:29] #1200 closed

[2020-04-17 19:50] gabrieldemarmiesse commented on #1697
@shun-lin

[2020-04-17 19:55] shun-lin commented on #1697
I will take a look thanks @sourcecode369

[2020-04-17 21:27] ben-arnao opened #1700 "code does not match doc for extending optimizer with weight decay"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): n/a
- TensorFlow version and how it was installed (source or binary): current in github
- TensorFlow-Addons version and how it was installed (source or binary): n/a
- Python version: n/a
- Is GPU used? (yes/no): n/a

**Describe the bug**

The docs for decoupling weight decay extension do not match the library.

**Cod

[2020-04-17 22:56] sourcecode369 commented on #1697
Yes. @shun-lin please if possible, I will request you to fix this soon.

[2020-04-17 23:01] gabrieldemarmiesse commented on #1697
@sourcecode369 please be careful with your phrasing as it sound a bit like an order (which I know it isn't of course). Something like "I need it for my current project, it would be great if we could find a fix soon" would sound much better :)

[2020-04-17 23:12] shun-lin commented on #1697
Hi @sourcecode369, can you update your tensorflow package to 2.2.0-rc3? This issue is fixed in 2.2.0-rc3, I just checked in colab it should work without any error.

[2020-04-17 23:31] sourcecode369 commented on #1697
Hi @shun-lin , thanks for your quick response. Updating to tf 2.2.0-rc3 fixed the issue for me.

[2020-04-17 23:32] shun-lin commented on #1697
sounds good, will close the issue then :)

[2020-04-17 23:32] #1697 closed

[2020-04-18 05:19] ashutosh1919 opened #1701 "save_freq is not accepting integer value in AverageModelCheckpoint"
It is observed that `AverageModelCheckpoint` is derived from `ModelCheckpoint`. `ModelCheckpoint` accepts `save_freq` param as both `epoch` string and integer. But it is not the case with `AverageModelCheckpoint`. The problem is because of the typing annotations. `save_freq` is given only `str` annotation, which should be `Union[str, int]`.

[2020-04-18 10:32] sourcecode369 commented on #740
I am facing the same issue. **I am using TensorFlow 2.2.0-rc3 and TensorFlow Addons 0.9.1**.
**Below is my code to reproduce this,**

[code]
**Error:**
[code]

[2020-04-18 10:33] sourcecode369 opened #1703 "weight normalization layers throws error with TPU Strategy"
Environment : Google Colab
Hardware Accelerator: TPU
TensorFlow version: 2.2.0-rc3
TensorFlow Addons: 0.9.1

**Describe the bug**

Weight Normalization layer (tfa.layers.WeightNormalization) throws error when running in TPU

**Code to reproduce the issue**

[code]

**Other info / logs**
[code]

[2020-04-18 10:36] sourcecode369 commented on #1703
It throws error for distribution strategy of GPU as well. You can check here -  [#740 ](https://github.com/tensorflow/addons/issues/740)

[2020-04-18 14:04] mbonaker commented on #471
Well, the problem does persist as I get `undefined symbol: _ZNK10tensorflow15shape_inference16InferenceContext11DebugStringEv` if I try using `tfa.image.rotate` with tfa 0.9.1 and tf-rocm 2.1.1 – same result with tfa-nightly 0.10.0. Was this originally closed because it was thought to be solved or because the responsibility lies with the `tensorflow-rocm` project? In case of the latter just ignore

[2020-04-18 19:56] neilteng opened #1704 "Does the “total_steps” parameter mean The step within one epoch or across the one fitting session call?"
I just have some confusion about the parameter “total_steps”.

Does the “total_steps” parameter mean The step within one epoch or across the one fitting session call?

If it is the first case, what if the training step in one epoch is less than the “total_steps” parameter?
If it is the second case, what if it excesses the “total_steps”?

BTW, do you think with RAdam, whether we still need a learni

[2020-04-20 10:19] WurmD opened #1710 "Finish migration of keras_contrib to here"
**"Keras-contrib is deprecated. Use TensorFlow Addons."**

But https://github.com/keras-team/keras-contrib/tree/master/keras_contrib/applications is not here yet.

In particular it includes https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/applications/resnet.py#L437 ResNet18's network definition that is not included anywhere else

**Relevant information**
- Are you willing to

[2020-04-20 19:07] gabrieldemarmiesse commented on #1710
Models like resnet18 are supposed to go to TF garden if I'm not mistaken. @seanpmorgan do you have any insight here?

[2020-04-20 19:40] seanpmorgan commented on #1710
Hi @WurmD . So much of keras-contrib fits within the Addons scope, but full models was deemed out of scope. TF model garden is likely the best place for them, but there may be room for discussion regarding a more community driven repository. Perhaps keras-team/keras repository (after it gets moved out of TF core) could be the landing place for some architectures?

Sorry for the not super helpful r

[2020-04-20 19:40] #1710 closed

[2020-04-21 01:03] j3pic commented on #821
I'm having the same problem, except tensorflow-addons only exists on MacOS now, and doesn't exist on Linux.

[2020-04-21 01:08] seanpmorgan commented on #821
Hi @j3pic TFA is available for all three OS (python 3.5-3.7):
https://pypi.org/project/tensorflow-addons/0.9.1/#files

Perhaps you need to update your pip version?

[2020-04-21 10:53] bhack commented on #1553
We have some updates about custom c++ ops and TPU at https://github.com/tensorflow/custom-op/issues/53#issuecomment-617100900

[2020-04-21 17:55] #1316 closed

[2020-04-21 23:17] seanpmorgan commented on #1676
Thanks for this helpful discussion! I'm going to close this, but if there is a concrete proposal to change the loss please feel free to open another issue. Would also be open to expanded tutorial

[2020-04-21 23:17] #1676 closed

[2020-04-22 01:02] seanpmorgan commented on #1458
We're currently building and testing TF 2.1 and 2.2 wheels. The switch to publishing wheels built from 2.2 will happen once we get a stable release.

Regarding the 2.2-custom-op docker image. We'll want to use this when available, but we've currently updated our minimal docker image to support py38 and it's working as intended. Closing.

[2020-04-22 01:02] #1458 closed

[2020-04-22 04:16] #1324 closed

[2020-04-22 21:11] nnigania opened #1716 "TF addons compatibility with TF nightly / TF2.2"
I am using a tf addons library function (Gelu) with TF2.2 nightly. It currently complains about compatibility issue below. The aim of this bug to cleanup this warning.

"
/usr/local/lib/python3.6/dist-packages/tensorflow_addons/utils/resource_loader.py:95: UserWarning: You are currently using TensorFlow 2.2.0-dev20200421 and trying to load a custom op (custom_ops/activations/_activation_ops.so).
T

[2020-04-22 21:13] nnigania commented on #1716
@tomerk
@dynamicwebpaige

[2020-04-22 21:27] seanpmorgan commented on #1716
Hi @nnigania is there information you find unclear in this warning?  Or something you would like changed to make it more clear?

For context we build C++ custom-ops against a specific version of TF (in this case TF2.1). TensorFlow does not supply stability guarantees for linking to libtensorflow_framework. You can find more information and troubleshooting on this in this thread or in our central R

[2020-04-22 22:08] tomerk commented on #1716
Hi @seanpmorgan, just to clarify here:
We're trying to do some internal performance testing that I believe requires using a custom op.

So, @nnigania tried used tf nightly with tensorflow addons. If the custom ops are not compatible, does that mean the experiments need to build addons at head rather than pip installing addons?

Or, is there a way to try supressing the warning while still trying to

[2020-04-22 22:20] seanpmorgan commented on #1716
Interesting, got it. So the "correct" solution here is probably to compile TFA against TF2.2. Information to do that can be found here:
https://github.com/tensorflow/addons#cpugpu-custom-ops

As a workaround you could try installing `tensorflow-addons==0.8.3`. This version was built against TF2.1 and did not have the python fallback & warning message. The custom-op implementation is the same, but

[2020-04-22 22:24] seanpmorgan commented on #1716
Unfortunately it crashes:
https://colab.research.google.com/drive/1Ea70IA0GxhiwoeLOYrjbHBOxk2_AMN1C

If **really** don't want to build from source you could use a wheel from our CI artifacts (built against 2.2rc3):
https://github.com/tensorflow/addons/suites/616960586/artifacts/4811368

[2020-04-22 22:26] seanpmorgan commented on #1716
Closing this issue because this is outside of what we support for general usage. TFA 0.10 will be released shortly after TF2.2 for general purpose usage.

Feel free to continue discussion in this thread though regarding your benchmarking and we'll try to help as best we can.

[2020-04-22 22:26] #1716 closed

[2020-04-23 00:56] nnigania commented on #1716
thanks for your response. Since I am not building from source, I will use the artifact you shared for the time being. Will update incase I still hit any issues and look out for TFA0.1.

[2020-04-23 04:38] WindQAQ commented on #1700
I believe doc is wrong so you are more than welcome to issue a pull request to fix it :-) Thanks for pointing out!

[2020-04-23 04:51] WindQAQ commented on #1704
1. The second case. Actually, it is used to measure how many warmup steps the optimizer needs so it won't cause anything dangerous if current steps (`self.iterations`) is larger than `total_steps`.

2. It depends. We cannot answer this kind of question.

Feel free to reopen the issue if you have further question. Thank you!

[2020-04-23 04:51] #1704 closed

[2020-04-23 21:21] chaene opened #1720 "Description of GroupNormalization vs. LayerNormalization on tensorflow.org/addons is incorrect"
The tutorial

https://www.tensorflow.org/addons/tutorials/layers_normalizations

mentions that the LayerNormalization layer from core tensorflow is equivalent to GroupNormalization from tensorflow addons using groups=1. However this is not the case for CNNs due to the specific implementation that was chosen in the LayerNormalization layer.

The way how to check this is as follows:

[code]

The rea

[2020-04-24 05:34] AakashKumarNain commented on #1720
Thanks for reporting this. @smokrow can you look into this?

[2020-04-24 06:23] WindQAQ opened #1722 "Optimize performance on CPU"
We previously had the [benchmark](https://colab.research.google.com/drive/1rLb4EuydbFg9PbhboXhCDqopcl6BmphG) on activation custom ops against C++/CUDA kernel, pure python, pure python with `tf.function`, and pure python with XLA.

The results that C++ kernel on CPU is much slower than others are quite surprising to me. However, seems that we can achieve some optimization by compiler flags. While c

[2020-04-24 08:51] WindQAQ commented on #1722
Probably related to #1148.

[2020-04-24 12:06] bhack commented on #1722
I think that we will have performance improvements on CPU if we use MKL (Intel CPU),  OPENBLAS (Multiarch).
See:
https://github.com/xianyi/OpenBLAS/issues/2133#issuecomment-492200909
https://github.com/tensorflow/tensorflow/issues/18457

[2020-04-24 12:49] #1328 closed

[2020-04-24 12:56] bhack commented on #1722
Results with [`intel-tensorflow==2.1.0`](https://colab.research.google.com/drive/13oGR0PZympzjR8JUgW2pO9PgXZ-rSLUF)

[2020-04-24 12:56] gabrieldemarmiesse commented on #1328
Thanks @autoih for all the help!

[2020-04-24 13:02] seanpmorgan commented on #1328
@gabrieldemarmiesse @autoih Much thanks to both of you for all of your work in accomplishing this! The new test suite is significantly easier to work with and more understandable from a graph vs. eager perspective.

[2020-04-24 13:03] bhack commented on #1722
I have some doubt about what this package is using:
From the official comment at https://github.com/oneapi-src/oneDNN/issues/652#issuecomment-587589870 seems that it is just MKL-DNN and not Eigan with MKL.

[2020-04-24 15:41] AakashKumarNain commented on #1722
@WindQAQ we had a discussion some time ago that the custom cuda kernels can be tricky when it comes to TPU. So, should we have a switch corresponding to the device on which the op is going to run or should we just stick with pure python + XLA because we know that it would work everywhere?

cc: @seanpmorgan @gabrieldemarmiesse

[2020-04-24 15:56] gabrieldemarmiesse commented on #1722
I'd be in favor of running benchmarks on real world models (training loop with model.fit), like vgg16, reset50, mobilenet replacing all relu activations by one of our activations.

If we see that the speed increase of custom ops, cuda and c++ with --march=native is less than 5% compared to pure python, I'd be in favor of setting the flag `TF_ADDONS_PY_OPS` to `True` by default on all OS and possib

[2020-04-24 16:13] WindQAQ commented on #1722
Well, I am not going to say that C++ kernel is superior to python ops. Just want to point out we have some other optimization that we can do at least in current build. The numeric results are not used to convince the community that we should or we must use C++ kernels over python ops, but are used to show we miss the important compiler flags that can improve the performance a lot :-)

I am very fr

[2020-04-24 16:19] gabrieldemarmiesse commented on #1722
Sure, I was referring to drop custom ops of activations, I phased badly what I wanted to say. For sure we're not going to drop anything without giving our users a better alternative.

[2020-04-24 17:27] WindQAQ opened #1724 "Logic behind shear_* and translate_*"
Currently, `shear_*` and `translate_*` do `wrap` before transformation and `unwrap` after transformation. I am confused why we have to do these. Usually, when talking about shearing and translation, it is just a kind of affine transformation without doing these things.

I suppose that we previously implemented in that way is because our `transform` cannot select the extend mode/filling value. So w

[2020-04-24 18:07] AakashKumarNain commented on #1722
@WindQAQ sorry if that sounded in bad way. Actually this was pointed out in a discussion with the model garden team. Just wanted to point that out

[2020-04-24 18:09] WindQAQ commented on #1087
Hi @valendin, could you provide the code snippet of your model and training script? Thank you.

[2020-04-24 19:01] WindQAQ commented on #1276
This is a fair change :-) Feel free to open a PR for it. Thanks.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/normalization_v2.py#L32

[2020-04-25 05:09] ashutosh1919 commented on #1459
@gabrieldemarmiesse , `__call__` is passing some class variables to `sequence_loss()` function. What is the right way to remove `__call__`? Can we include method `build()` to store these class variables in `SequenceLoss` class and remove `__call__` and call `sequence_loss` in `call()` method ?

[2020-04-25 12:37] ashutosh1919 commented on #1203
@gabrieldemarmiesse , please review #1729.

[2020-04-25 19:32] bhack commented on #1722
@WindQAQ My GELU forward is very different with Tensorf 2.2.0RC3 with `tf.config.experimental.enable_mlir_bridge()`:
![immagine](https://user-images.githubusercontent.com/1710528/80289019-23679580-873c-11ea-83a7-c90de8aa74bb.png)

[2020-04-25 19:41] bhack commented on #1722
Also `thanshrink` forward:
![immagine](https://user-images.githubusercontent.com/1710528/80289217-81e14380-873d-11ea-83f4-01fe71f35851.png)

[2020-04-25 19:43] bhack commented on #1722
![immagine](https://user-images.githubusercontent.com/1710528/80289256-c836a280-873d-11ea-8746-167840c1b4e0.png)

[2020-04-25 20:02] WindQAQ commented on #1722
@bhack Sounds great! XLA + MLIR seems to be the best combination for easily fused ops!

[2020-04-25 20:03] bhack commented on #1722
Mhhh I don't know if `tf.config.experimental.enable_mlir_bridge()` has any effect on CPU. I see that API is documented only for `TPU`.

[2020-04-25 21:34] bhack commented on #1722
With `tf-nightly` also backward is improved:

![immagine](https://user-images.githubusercontent.com/1710528/80291374-40f12b00-874d-11ea-8dcf-6e3a39ae8bdc.png)

[2020-04-25 21:42] bhack commented on #1722
![immagine](https://user-images.githubusercontent.com/1710528/80291517-629ee200-874e-11ea-924b-b4f0d31838cd.png)

[2020-04-25 21:44] bhack commented on #1722
![immagine](https://user-images.githubusercontent.com/1710528/80291546-aabe0480-874e-11ea-89e3-90e3a5fab7bc.png)

[2020-04-25 21:47] bhack commented on #1722
![immagine](https://user-images.githubusercontent.com/1710528/80291593-228c2f00-874f-11ea-9dd6-541a73a96e2e.png)

[2020-04-25 22:08] bhack commented on #1722
Sorry there was something strange in the colab run. This is `tf-nightly`:
![immagine](https://user-images.githubusercontent.com/1710528/80291900-f7570f00-8751-11ea-8bf6-adcd8dc733e8.png)

[2020-04-25 22:15] bhack commented on #1722
@WindQAQ Are you sure the you test is ok with `backward`? Cause with `ŧf.nightly` all the XLA forward are faster and just one on par with `custom op` but seems to that there is instead a large gap with `backwards`.

[2020-04-25 22:28] WindQAQ commented on #1722
@bhack I guess it's because of tensorflow==2.1.0. Your benchmark is right with `tf-nightly`.

[2020-04-25 22:30] bhack commented on #1722
Yes but why all the XLA forwards are Faster then custom_ops and instead backwards are performing so bad?

[2020-04-25 22:39] WindQAQ commented on #1722
The script is borrowed from the previous issue, and I think it's correct. IMO, this is because kernel fusion on the backward part is more complicated. Think about the simplest chain rule
[code]
Autodiff will compute gradient following this kind of rule, so the backward part will be decomposed into multiple ops g(x) f'(x) g'(x) for the simple composition of functions.

If one of the component is no

[2020-04-26 10:18] ashutosh1919 commented on #1612
<img width="171" alt="contrastive_img" src="https://user-images.githubusercontent.com/20843596/80303529-6eca8400-87ce-11ea-89cf-36e07ceff412.PNG">

<img width="221" alt="contrastive_formula" src="https://user-images.githubusercontent.com/20843596/80303725-8f470e00-87cf-11ea-9e61-0eb226a6568e.PNG">

<img width="245" alt="focal_img" src="https://user-images.githubusercontent.com/20843596/80304296-87

[2020-04-26 11:59] gabrieldemarmiesse opened #1734 "Dropping support for tensorflow < 2.2."
We have three pull requests that need TF 2.2 and above: #1733 #1726 #905

They are blocked until we drop support, since Addons 0.9 was released with support for both tf 2.1 and 2.2, I don't think it's going to be a very big inconvenience for users if we drop support for 2.1 now. They have a good fallback.

[2020-04-26 13:37] gabrieldemarmiesse opened #1735 "Remove all elements from allowlists in source_code_test.py"
We enforce some rules in [source_code_test.py](https://github.com/tensorflow/addons/blob/master/tools/testing/source_code_test.py) about what API we can't use in addons. (no private api, no tf.compat.v1, and no experimental API in user-facing code).

We didn't enforce it in some files because they didn't respect the rules before the check was put into place. Replacing the problematic code takes so

[2020-04-26 14:18] AakashKumarNain commented on #1722
Yeah, I think `fusion` can be one of the reasons. JAX relies on XLA for almost everything. Should we run a benchmark with JAX as well to see if it's really XLA or something else?

[2020-04-26 14:52] bhack commented on #1722
I was looking at the composite ops accepted RFC https://github.com/tensorflow/community/blob/master/rfcs/20190610-standardizing-composite_ops.md.
In the Appendix I see:

[2020-04-26 14:54] bhack commented on #1722
/cc @marksandler2

[2020-04-26 16:59] ruiguo-bio opened #1737 "addons 0.9 for osx 10.12"
I cannot install addon 0.9 by pip on osx 10.12. I think it requires 10.13, if I would like to install it on 10.12, is there any way to do it?

[2020-04-26 17:03] seanpmorgan commented on #1737
Hi @ruiguo-bio, unfortunately 10.13 is the oldest macOS we built the wheels for. However, you should be able to install it from source:
https://github.com/tensorflow/addons#cpu-only-custom-ops

You'll need to install bazel locally though (can be installed from brew)

[2020-04-26 17:03] #1737 closed

[2020-04-26 17:04] #1203 closed

[2020-04-26 17:07] seanpmorgan commented on #1734
Agree. Going to mark those PRs as blocked until we swap our CI to only test 2.2

[2020-04-26 18:26] seanpmorgan commented on #1645
So I believe this is an issue with the version of `tensorflow/models` you're using. The official BERT nlp implementation has an option of two optimizers (`AdamWeightDecay` and `LAMB`).
https://github.com/tensorflow/models/blob/master/official/nlp/optimization.py#L87-L96

LAMB is the optimizer in TFA:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/lamb.py#L30

But `Ad

[2020-04-26 18:26] #1645 closed

[2020-04-26 18:47] #1734 closed

[2020-04-26 19:43] #838 closed

[2020-04-26 19:54] bhack commented on #1414
In Tensorflow see also https://github.com/tensorflow/tensorflow/pull/38755

[2020-04-26 20:06] gaceladri commented on #367
Any update on this?

[2020-04-26 20:08] seanpmorgan opened #1744 "Automatically build and verify the tutorials table of contents"
Currently we have to manually update the tutorial TOC:
https://github.com/tensorflow/addons/blob/master/docs/tutorials/_toc.yaml

This is error prone and we would like to to build and test this in our CI if possible. Currently PR #1653 is out to determine the best way to do this.

[2020-04-26 21:07] bhack commented on #1722
@seanpmorgan What do you have extracted from https://github.com/tensorflow/tensorflow/pull/33945#issuecomment-617832325 an next comments? We will need to ask to contributors to write `MLIR legalization passes` for every compositional op?

[2020-04-26 21:59] sayoojbk commented on #367
Sorry I was busy with some projects and could not finish the work on this. If you are looking to contribute to this go forward, it would be really helpful :D . If not I might try to pull out some time and look back to implementing it.

[2020-04-27 09:10] ruiguo-bio commented on #1737
Hi, I tried use bazel to build addons from github source code, but it outputs a file tensorflow_addons-0.10.0.dev0-cp36-cp36m-macosx_10_13_x86_64.whl, which still cannot be used on my 10.12 platform. Any idea to solve that?

[2020-04-27 09:26] ruiguo-bio commented on #1737
I modified the build_pip_pkg.sh file the line with 10_13 to 10_12, that works now!

[2020-04-27 10:16] bhack commented on #1364
I was looking at `pytorch.vision` [API signature for max pooling](https://pytorch.org/docs/stable/torchvision/ops.html#torchvision.ops.roi_pool) and I think that we could have a quite similar API interface for roi spatial soft-max.

[2020-04-27 10:50] bhack commented on #1364
Also `boxes` and `box_indices` params design in [crop_and_resize] Tensorflow API (https://www.tensorflow.org/api_docs/python/tf/image/crop_and_resize) could be ok.

[2020-04-27 13:12] seanpmorgan opened #1747 "Standardize all optimizer serialization checks"
Part of #992. We need to crate a common serialization check for optimizers similar to `check_metrics_serialization`:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/testing/serialization.py#L10

Ideally this will extend the base `check_config` method, but we noticed in #1728 that there are some issues that need to be adressed.

After this is complete we can move on to serializat

[2020-04-27 17:38] relaxation82 opened #1748 "TQDM Progress Bar does not work correctly when initial_epoch is nonzero"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OS X 10.15.4
- TensorFlow version and how it was installed (source or binary): 2.2.0-rc3, binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.9.1
- Python version: 3.7.7
- Is GPU used? (yes/no): no

**Describe the bug**

Progress bar of the whole training process over multiple epochs nev

[2020-04-27 17:58] nnigania commented on #1716
I tried using the artifact, but since I am using the TF nightly, it seems tf addons is incompatible with TF nightly. What would be a suggested solution to make it work with tf nightly?

[2020-04-27 21:58] bionicles commented on #367
Likewise, I can’t do this now, but it would be cool!

[2020-04-27 23:01] foxik opened #1749 "Incorrect type of maximum_iterations argument in tfa.seq2seq.decoder causes runtime error."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian Stable
- TensorFlow version and how it was installed (source or binary): 2.1 binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.1 binary
- Python version: 3.7
- Is GPU used? (yes/no): no

**Describe the bug**

Calling `tfa.seq2seq.decoder.BaseDecoder` with a `tf.Tensor` f

[2020-04-27 23:14] foxik commented on #1749
Note that while `tfa.seq2seq.decoder.BaseDecoder.__init__` is marked with `@typechecked`, `tfa.seq2seq.decoder.dynamic_decode` is not.

[2020-04-28 02:24] henry-eigen opened #1750 "Add angular distance option to triplet loss"
I would like the option to base triplet loss on cosine similarity in addition to euclidean distance.

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): [Metric Learning for Adversarial Robustness](https://arxiv.org/pdf/1909.00900.pdf)

**Which API type would t

[2020-04-28 02:25] henry-eigen commented on #1750
[PR](https://github.com/tensorflow/addons/pull/1730) here

[2020-04-28 09:46] guillaumekln commented on #1556
Let me close this issue. Feel free to reopen it or create another one if you find something else.

[2020-04-28 09:46] #1556 closed

[2020-04-28 10:00] guillaumekln commented on #1749
Thanks for reporting! The PR above should fix this one.

[2020-04-28 12:00] gabrieldemarmiesse opened #1752 "Dropping the custom ops for activation functions"
Here are the benchmarks that I ran using mobilenet and resnet50, replacing all activation function by the ones we have in addons: https://colab.research.google.com/drive/1tYciozBWDkctdiUcyTyi-3hY4ATMHArf

This is all on gpu. After all, if we're talking about performance, CPU is not the first thing users will go for.
Here are the results:

[code]

Some activation functions may appear faster than ot

[2020-04-28 12:20] AakashKumarNain commented on #1752
cc: @WindQAQ

Thanks for putting it together @gabrieldemarmiesse . The eager mode is pretty slow

[2020-04-28 16:40] seanpmorgan commented on #1414
Friendly bump @karmel on this issue brought up here:
https://github.com/tensorflow/addons/issues/1305#issuecomment-612189891

Would it be possible for us to push a developer image to the `tensorflow/` namespace on dockerhub?

[2020-04-28 16:43] seanpmorgan commented on #770
This should be significantly easier to manage if we can use an exported TF method for finding CUDA. This looks possible if https://github.com/tensorflow/tensorflow/pull/38964 merges

[2020-04-28 17:19] karmel commented on #1414
Ah, sorry for the delay. It sounds like this is technically possible, but we need a policy and someone to review the pushes. @ewilderj @theadactyl -- are you able to help here?

[2020-04-28 19:49] bhack commented on #1752
I would have a clarification about this topic https://github.com/tensorflow/addons/issues/1722#issuecomment-619625091

[2020-04-28 21:19] bhack commented on #1752
Also It Is quite strange that we removed e.g. `tf.function` from activation like Gelu at https://github.com/tensorflow/addons/pull/823 and TF team push for `tf.function` with Gelu at https://github.com/tensorflow/tensorflow/pull/37937#issuecomment-604550222.

[2020-04-29 00:54] fsx950223 commented on #1752
```tf.function``` will create different ```Funcgraph``` with different input shapes. Users could decorate top-level function with ```tf.function``` if they want to speed up performance.

[2020-04-29 01:24] bhack commented on #1752
I think that the use case Is the same. So why they are suggesting to use  `tf.function` XLA (experimental_compile)?
Also from https://www.tensorflow.org/guide/concrete_function

[2020-04-29 01:37] fsx950223 commented on #1752
I agree with you. But it's not now. If keras use ```tf.function``` as default, it's time to transfer to ```tf.function```.
https://github.com/tensorflow/tensorflow/blob/8c9a4d6bf2beecdd80a4412f9f527f386e97ed7e/tensorflow/python/keras/engine/base_layer.py#L930

[2020-04-29 03:56] jraman opened #1753 "Multi-class Precision and Recall"
**Describe the feature and the current behavior/state.**
Please add multi-class precision and recall metrics, much like that in `sklearn.metrics`.

Currently, `tf.metrics.Precision` and `tf.metrics.Recall` only support binary labels.

`sklearn.metrics` supports averages of types binary, micro (global average), macro (average of metric per label), weighted (macro, but weighted), and samples.

**Rel

[2020-04-29 06:37] gabrieldemarmiesse commented on #1752
@bhack, please keep the discussion about dropping activation functions custom ops. Let's try not to move away from the main topic.

[2020-04-29 06:44] Cospel commented on #770
Thanks for the great news! Let's hope that it will be merged soon 👍

[2020-04-29 08:34] sayakpaul opened #1754 "Clarification regarding the TripletSemiHardLoss"
Hi,

I am referring to this tutorial: https://www.tensorflow.org/addons/tutorials/losses_triplet. It uses the `TripletSemiHardLoss`. The network architecture used in the tutorial is as follows:

[code]

From `model.summary()` I get -

[code]

I see the output is a 256-d vector. At this point, I am confused as to how `TripletSemiHardLoss` is actually calculating the loss because while calling `fit`

[2020-04-29 09:12] bhack commented on #1752
So why you have posted eager results if you think It Is off topic?
Talking about removing custom ops, also if currently limited to activations, where we have many python eager cases in your benchmark  slower than custom ops in eager mode and we cannot talk about that.
Seems to me also the the first comment on your issue was about eager mode performance and was not mine.

So e.g. if having 37 vs 52

[2020-04-29 09:35] bhack commented on #1752
/cc @alextp as he Is reviewing both our and Amd effort to upstream GELU so we could have a more clear view on how we need to handle activations if we remove c++ code https://github.com/tensorflow/tensorflow/pull/37937
https://github.com/tensorflow/tensorflow/pull/33945

[2020-04-29 10:22] jharmsen commented on #467
Hi, are there any concrete plans to implement sample_weight for FBetaScore/F1Score?

Thanks!

[2020-04-29 16:29] alextp commented on #1752
I wonder if this is easier to resolve in a SIG meeting?

From where I sit, having hand-written kernels in TF is turning into a maintenance problem. Hand-written kernels for ops need hand-written gradient registrations (and potentially hand-written gradient kernels which also need gradients and the other things in this list), tf2xla bridges, tflite converter rules, pfor converters (for tf.vectorize

[2020-04-29 16:37] bhack commented on #1752
Thanks Alex. I don't know if you or someone else in your team could join on the next SIG meeting it would be very useful.

In the current status can you tell us something more about using

`experimental_relax_shapes=True`? Could it be a good compromise for smaller functions?

I head something about this in the MLIR channels traffic.

[2020-04-29 16:41] alextp commented on #1752
On Wed, Apr 29, 2020 at 9:37 AM bhack <notifications@github.com> wrote:

I'm asking around internally to be invited to the SIG meeting.

experimental_relax_shapes=True will help remove overhead of function
retracing, but not currently of xla compilation.

--
 - Alex