[2021-01-30 09:50] breadbread1984 opened #2371 "please support ragged tensor as memory for AttentionMechanism"
**Describe the feature and the current behavior/state.**

AttentionMechanism doesn't support ragged tensor for memory. the output hidden sequences of tf.keras.layers.RNN already support ragged tensor. if AttensionMechanism support ragged tensor it would be very convenient.

**Relevant information**
- Are you willing to contribute it (yes/no): no
- Are you willing to maintain it going forward? (yes

[2021-01-30 10:43] breadbread1984 opened #2372 "BasicDecoder used in tf.keras functional model in inference mode causes autograph error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 20.04
- TensorFlow version and how it was installed (source or binary): 2.4.1
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2
- Python version: 3.8.5
- Is GPU used? (yes/no): yes

**Describe the bug**

when building a tf.keras.Model in functional style. the BasicDecoder working in infe

[2021-01-30 14:01] seanpmorgan commented on #2360
Hi @StarWang could you please try this again with TFA 0.12.1 and TF 2.4.1?

[2021-01-31 02:19] StarWang commented on #2360
Hi @seanpmorgan it does not work either with TFA 0.12.1 + TF 2.4.1

[2021-02-01 14:39] ksunw0209 commented on #844
@MHStadler Can we use weight_decay  scheduling now? How can I check it's working?
I just printed like below from Callback's on_batch_end function
`tf.print('wd: ', self.model.optimizer.weight_decay)`
and it just gave out the object unlike when I printed learning rate, like below.
`lr:  0.0265268739
wd:  <tensorflow.python.keras.optimizer_v2.learning_rate_schedule.CosineDecayRestarts object at 0x7f

[2021-02-01 15:17] guillaumekln commented on #2371
Thanks for the feature request. It makes sense to support ragged tensors but they should ideally be supported in all modules that accept variable length inputs, and not just the attention memory.

Are you willing to contribute?

[2021-02-01 15:22] guillaumekln commented on #2372
This is similar to previous issues related to Keras (see e.g. https://github.com/tensorflow/addons/issues/1898).

As far as I know the main culprits are the `tf.debugging` functions that don't accept Keras tensors. This is apparently by design (see https://github.com/tensorflow/tensorflow/issues/41627). The workaround is probably to wrap these calls under a `Lambda` layer when used in a Keras cont

[2021-02-02 03:22] Ouwen opened #2379 "Ideally the bins in histogram equalization is variable rather than limited to 256"
https://github.com/tensorflow/addons/blob/d26e2ed5f68092aed57016a7005ce534b1be3dce/tensorflow_addons/image/color_ops.py#L36

[2021-02-03 02:15] #2181 closed

[2021-02-03 02:15] seanpmorgan commented on #2181
PR merged thanks for brining this up!

[2021-02-03 13:37] breadbread1984 commented on #2371
I would like to, but I am not competent to complish this task.

[2021-02-03 14:54] ZeynepP commented on #2339
I debug the tfa.mcc and sklearn mcc. As @jonpsy mentioned the formula implemented in the actual version is not correct. I updated it following to wiki and sklearn code :

[code]

I am getting the same result as sklean with this implementation.

FYI.
Bests

[2021-02-03 15:37] jonpsy commented on #2339
I was meaning to implement this myself but since nobody was replying  I reconsidered if I was permitted to do it. Regardless, I'm happy to see your question answered :)

[2021-02-03 16:45] ZeynepP commented on #2339
I just tested it on my local installation. To run it on server with docker etc. I need to be able to install the correct version with pip so there is a need to update the master branch. If you have rights, please do that.

[2021-02-04 05:25] WindQAQ commented on #2339
Hi all, I am sorry I have noticed this thread. It's more than welcome to submit a PR for it! Thanks!

[2021-02-04 12:12] bhack commented on #2379
It could be but some other APIs don't expose this. E.g. Opencv https://docs.opencv.org/4.5.1/d6/dc7/group__imgproc__hist.html#ga7e54091f0c937d49bf84152a16f76d6e

[2021-02-04 14:44] Ouwen commented on #2379
I can appreciate that the original goal of histeq is to use all the dynamic range for human eyes. The main benefit of adopting 2^12 or 2^16 bins is for where a larger dynamic range worth of signal is available to be standardized for model training purposes. Medical imaging would be where this use case is most commonly used.

[2021-02-04 14:58] bhack commented on #2379
You could try to propose a PR so we could see if the new API could be ok.

[2021-02-06 15:34] Noobzik opened #2380 "CyclicalLearningRate: TypeError: argument "scale_fn" must be a callable"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): kaggle
- TensorFlow version and how it was installed (source or binary): 2.4 (kaggle)
- TensorFlow-Addons version and how it was installed (source or binary): (imported from kaggle)
- Python version: 3.7
- Is GPU used? (yes/no): yes

Loading a model that uses CyclicalLearningRate as a learning scheduler for AdamW dos

[2021-02-07 02:26] WindQAQ commented on #2360
This should be CUDA issue. Probably driver or CUDA version is mismatched on colab. I see colab is used CUDA 10.1 but our wheel is built with 11.0.

[2021-02-07 03:26] #2361 closed

[2021-02-07 16:47] bhack commented on #2360
Yes probably they have a custom build for colab with Cuda 10

The CUDA 11 ticket was at https://github.com/googlecolab/colabtools/issues/1574

[2021-02-07 22:16] whatwilliam commented on #2379
@bhack @Ouwen https://github.com/tensorflow/addons/issues/2379 Could you review this PR

[2021-02-08 18:21] Ouwen commented on #2379
@whatwilliam seems reasonable to me, @bhack would this API work?

[2021-02-08 18:51] bhack commented on #2379
It could be ok but tests are failing

[2021-02-09 17:33] bhack commented on #2380
Can you share a minimal complete example?

[2021-02-10 07:52] fzehracetin opened #2383 "BasicDecoder: TypeError: __call__() got an unexpected keyword argument 'training'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colaboratory
- TensorFlow version and how it was installed (source or binary): 2.4.1
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.3
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Problem**

I am trying to migrate a spell checker model that uses Seq2Seq Encoder-Decoder fro

[2021-02-10 08:54] BinyanHu opened #2384 "Wrong Implementation for 'random_cutout'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): All
- TensorFlow version and how it was installed (source or binary): 0.12.1 from source
- TensorFlow-Addons version and how it was installed (source or binary): 2.4.1 from source
- Python version: 3.8
- Is GPU used? (yes/no): yes

**Describe the bug**
The current implementation of 'tfa.image.random_cutout' is wrong.

[2021-02-10 09:07] guillaumekln commented on #2383
How is `dec_cell` defined in this example?

[2021-02-10 09:24] KangGrandesty opened #2385 "Cannot build tensorflow-addons-0.12.1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): source 2.4.0
- TensorFlow-Addons version and how it was installed (source or binary): source
- Python version: 3.7.9
- Is GPU used? (yes/no): yes

**Describe the bug**

A clear and concise description of what the bug is.

build scrip

[2021-02-10 10:32] fzehracetin commented on #2383
In Tf 1.1, it defined like this:
[code]
I converted to version 2.4 like this:
[code]

I disabled eager execution because this code uses placeholders etc. Could it be a problem for this situation?

[2021-02-10 10:39] guillaumekln commented on #2383
What is the RNN cell class that you are passing to `AttentionWrapper`?

[2021-02-10 10:45] fzehracetin commented on #2383
Sorry, I did not see the dec_cell parameter.

version 2.4
[code]

[2021-02-10 10:48] bhack commented on #2384
Can you check with one of the other cutout implementation that we have in the ecosystem https://github.com/tensorflow/models/blob/master/official/vision/beta/ops/augment.py#L264-L311

/cc @tomerk @seanpmorgan @WindQAQ We need to verify what we want to do with some of this duplicated images ops in the ecosystem

[2021-02-10 10:50] guillaumekln commented on #2383
See this comment: https://github.com/tensorflow/addons/issues/647#issuecomment-547838754

[2021-02-10 10:51] bhack commented on #2385
Can you try with TF 2.4.1?

[2021-02-10 11:06] fzehracetin commented on #2383
Thanks for your help 👍

[2021-02-10 20:33] tabakg opened #2387 "Adding sparse solvers for linear systems"
**Describe the feature and the current behavior/state.**
Tensorflow doesn't have a direct way to solve sparse linear systems of equations. Specifically: solving Ax=b for x where A is a sparse matrix. In addition, we should be able to propagate gradients, similarly to tf.linalg.solve.

I would like to add a sparse solver (BiCGSTAB for now, we can consider others as well). Initially I was planning o

[2021-02-10 23:33] bhack commented on #2387
Can you check if it is a duplicate of https://github.com/tensorflow/tensorflow/issues/27380 ?

[2021-02-11 00:04] tabakg commented on #2387
Thanks for checking! This is closely related -- as to whether it is a duplicate I think depends on some details. It seems to me in that issue they are implicitly assuming a GPU implementation, and currently I have a CPU implementation only. Also, there are multiple possible algorithms for computing the inverse which have different requirements and behavior, and some work better for specific applic

[2021-02-11 15:44] #2383 closed

[2021-02-11 16:36] FabianMoenkeberg commented on #982
Same problem here...

[2021-02-11 16:58] AakashKumarNain commented on #2194
This has been mentioned in a lot of PRs. Let's take a decision and close it in the next meeting

[2021-02-11 17:34] Harsh188 commented on #2194
I believe in the previous meeting we decided to keep 50 citations as a suggested requirement with the ability for any maintainer to override the requirement. I'm currently working on updating the `CONTRIBUTION.md` with the newly recommended guidelines for new feature requests.

I still think there's a lot of room for more suggestions to narrow down the quality of the requests.

[2021-02-12 12:56] ghost opened #2388 "Kronecker-Factored Approximate Curvature (K-Fac) optimizer"
**Describe the feature and the current behavior/state.**

The paper for this feature is [here](https://arxiv.org/abs/1503.05671). It's an improvement to the regular SGD algorithm used by most optimizers. There is an implementation [here](https://github.com/tensorflow/kfac) that is only tensorflow 1.x compatible and I have not found other versions that are compatible with 2.x. I need to know your s

[2021-02-12 14:46] BinyanHu commented on #2384
Thanks for reminding. The method in official works fine.

But as `tfa.image.cutout` is different from the paper and actually not the commonly used one, shall we add some warnings or instructions in its documentation?

[2021-02-12 15:55] AakashKumarNain commented on #2194
I will take a look at that. Thank you @Harsh188

[2021-02-12 19:59] james-martens commented on #2388
It's great that someone is interested in doing this. I won't be able to directly contribute much myself, however I'm happy to provide advice. For example, there are extensive parts of the existing TF1 code that can be ported over with only minimal changes. (Certain other parts meanwhile will require more substantial changes.) Let me know if you'd like to meet to discuss.

[2021-02-12 20:02] bhack commented on #2388
@james-martens If it will pass the ecosystem review check can you help us to review the PR?

[2021-02-12 20:12] james-martens commented on #2388
Yeah, I can probably help. Note however that I don't know much about TF2 (or Github for that matter).

[2021-02-12 22:34] n18abdel opened #2389 "Cannot load SavedModel with RSquare metric"
**System information**
- macOS 11.2.1
- TensorFlow 2.4.1 , via pip install tensorflow
- TensorFlow-Addons 0.12.1 , via pip install tensorflow_addons
- Python version: 3.7.7
- Is GPU used? no

**Describe the bug**

I have a saved keras model.
If the model uses the RSquare metric, I am not able to load it back.
But with the exact same model defined without the RSquare metric, I do not have any issue

[2021-02-12 23:28] emadboctorx commented on #2388
@james-martens Sure I'm interested, how can we discuss further?

[2021-02-13 00:41] james-martens commented on #2388
Email me at jamesmartens@google.com and we can set up a video meeting.

[2021-02-13 17:11] #2389 closed

[2021-02-13 17:11] seanpmorgan commented on #2389
Thanks @n18abdel for reporting. Should be fixed in latest nightly

[2021-02-13 17:17] bangonkali commented on #2380
Hi @Noobzik ,

Try,

[code]

or

[code]

[2021-02-14 05:48] WindQAQ commented on #2380
You have to pass custom objects into `load_model`  to resolve such symbol. Feel free to reopen the issue if if the problem still persists.

https://colab.research.google.com/drive/1KEZu-wgAGToKanmRtQMSsp8bZ-d1xmV0?usp=sharing

[2021-02-14 05:48] #2380 closed

[2021-02-15 05:35] WindQAQ commented on #2349
Sorry for the late reply. You have to use `tfa.losses.SigmoidFocalCrossEntropy(reduction=tf.keras.losses.Reduction.AUTO)` to reduce the loss to scalar. I'm not sure why we make it default to `NONE`. @AakashKumarNain Could you confirm that it's an issue or not?

[2021-02-15 05:36] WindQAQ commented on #2331
@jonpsy Please do!

[2021-02-15 10:33] bhack commented on #2349
We have a little bit of Doc here on the reductuion parameter:
 https://github.com/tensorflow/models/blob/master/official/vision/keras_cv/losses/focal_loss.py#L37

[2021-02-15 12:22] AakashKumarNain commented on #2349
@WindQAQ Yes, that needs to be changed to `AUTO` and we need to make a few other changes as well. But I won't be able to fix it before next week.

[2021-02-15 12:57] bhack commented on #2349
I put this in the ecosystem review in the meantime cause I want to check how we want to handle this duplicated but not strictly aligned implementations.

[2021-02-15 13:25] AakashKumarNain commented on #2349
Agreed

[2021-02-15 15:55] Opletts commented on #1441
Sorry guys, I completely forgot about this issue! I have #1496 open and I'll finish it this week.

[2021-02-15 18:18] seanpmorgan commented on #2384
Hi @BinyanHu thanks for reporting, we should at a minimum add warnings or instructions.

Regarding duplication in the ecosystem. I for one am exhausted at this discussion. We've spoken to the models repo several times asking them to use a modular software design and re-use code in Addons. You can not pip install the "official" augmentations in that repo. They should contribute to this repo and uti

[2021-02-15 18:19] seanpmorgan commented on #2384
@WindQAQ any good reason for this change or issue with reverting?

[2021-02-15 18:26] WindQAQ commented on #2384
Can you provide the commit I'd that introduces regression?

/cc @fsx950223

[2021-02-15 20:50] bhack commented on #2384
I agree with you that we need to unify these ops to not double handle tickets and PR on the same stuffs in multiple repos. But in this case you can `pip install` those ops and layers with https://pypi.org/project/tf-models-nightly.

[2021-02-15 21:19] seanpmorgan commented on #2384
News to me that they are releasing a python package. There's no mention of it on their repo, and the augment ops are not available for tf-models-official only nightly but the dates don't match up for it not being in their 2.4 release. I will not bother trying to coordinate with their repo anymore after our previous attempts.

[2021-02-15 21:26] bhack commented on #2384
If we cannot do better than this we could accept  copy a paste PR from users when the duplicated code in the ecosystem has the correct implementation.
So in this case I suppose that we could align our implementation with https://github.com/tensorflow/models/blob/master/official/vision/beta/ops/augment.py#L264-L311.
Or fix it "clean room". But I think "clear room" implementation/fix don't make sens

[2021-02-15 21:30] seanpmorgan commented on #2384
Agree.. I've reached out to see if we can get an internal position on this tf-model package. If there is no resolution, we should match their implementation and decide on either deprecating ours or adding them as a dependency. This is quite unfortunate. The Models repo has no public facing CI, and 1000 issue related to model details. Throwing in reusable components to that repo and packaging it al

[2021-02-16 01:17] fsx950223 commented on #2384
https://github.com/tensorflow/addons/pull/2285

[2021-02-16 09:22] jonpsy commented on #2331
Alright, made the PR let's discuss there :)

[2021-02-17 05:38] AakashKumarNain commented on #2194
I really like this package. @seanpmorgan @bhack @WindQAQ thoughts?
https://github.com/scholarly-python-package/scholarly

[2021-02-17 18:22] bhack commented on #2194
Nice it could be useful for an interactive Github bot

[2021-02-17 18:40] AakashKumarNain commented on #2194
Yup.

[2021-02-17 23:09] milmor opened #2398 "SpectralNormalization not working with mixed precision"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 19
- TensorFlow version and how it was installed (source or binary): pip Tensorflow 2.4
- TensorFlow-Addons version and how it was installed (source or binary): pip 0.12.1
- Python version: 3.7.9
- Is GPU used? (yes/no): RTX 2060 Super

**Describe the bug**

A clear and concise description of what the bug

[2021-02-17 23:15] tomerk commented on #2387
Ecosystem review notes: We think addons would be a better home for this than tf core. It also does not conflict with plans for core tf.

[2021-02-18 00:47] bhack commented on #2398
I suppose it depends on https://github.com/tensorflow/tensorflow/issues/34332 but in any case /cc @charlielito as he is the codeowner cause we need to add a "run_with_mixed_precision_policy" test.

[2021-02-18 09:12] KangGrandesty commented on #2385
It seems no bugs with tf 2.4.1, thank you!

[2021-02-18 09:12] #2385 closed

[2021-02-18 11:48] shkarupa-alex opened #2399 "euclidean_dist_transform 11441 times slower on CPU and 4 times slower on GPU vs cv2.distanceTransform on CPU"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): default for Google Colab
- TensorFlow-Addons version and how it was installed (source or binary): 0.12.1, binary
- Python version: default for Google Colab
- Is GPU used? (yes/no): all cases

**Describe the bug**
I need to use euclidean_di

[2021-02-18 12:02] bhack commented on #2399
On Gpu on your colab I see:
[code]
On CPU can you test also skimage impl?

[code]

[2021-02-18 13:06] shkarupa-alex commented on #2399
Updated code to reproduce:

# GPU
CV2 0.136826753616333
SCP 0.3186626434326172 // scipy
TFA 0.03255462646484375

# CPU
CV2 0.05006909370422363
SCP 0.400362491607666 // scipy
TFA 565.4394438266754

# Result
TFA-GPU vs CV2-CPU near the same performance (from 4 times slower to 3 times faster)
TFA-CPU ~11441-11293 times slower vs CV2-CPU

[2021-02-18 13:15] bhack commented on #2399
/cc @Squadrick

[2021-02-18 21:16] tomerk commented on #2388
Notes from ecosystem review:
The addons optimizers seem like a reasonable home for this for now. There are no current plans to add this to tf core as far as we're aware. If it becomes widely used we could consider eventually bringing it from addons into core.

[2021-02-18 23:33] stefanmeili commented on #2387
@tabakg I could see GPU support for this feature being attractive in coupling a numerical simulation to a machine learning model. Being able to train and run an efficient grey box model end to end in tensorflow on GPU would be amazing.

[2021-02-18 23:52] tabakg commented on #2387
Agreed!

As a side note, I should also mention another option for these iterative algorithms is to use a Python implementation (that's what I did initially) for the solver. This way you can get GPU automatically (based on the matrix-vector multiplication) -- however I found in my use case the overhead was high and opted for the custom kernel instead. In other cases the overhead might be negligible

[2021-02-19 00:12] bhack commented on #2387
As a side note there was a status update about the sparse status in the MLIR compiler stack  https://llvm.discourse.group/t/mlir-support-for-sparse-tensors/2020/16

[2021-02-19 03:46] oO0oO0oO0o0o00 commented on #2349
Thanks it works.
QAQ

[2021-02-19 04:56] #2379 closed

[2021-02-19 09:59] bhack commented on #2387
P.s. slides and video recording are available at https://llvm.discourse.group/t/mlir-support-for-sparse-tensors/2020/17

[2021-02-20 02:34] WindQAQ commented on #2399
Our implementation is expected to be very slow. We implement it with naive approach. For each pixel we scan the whole plane to find the minimal distance, so the complexity is O(H^2 W^2) for single thread (default). There should be a single-threaded linear time dynamic programming two pass algorithm for better speed. I'll mark this help wanted to see if someone want to implement it.

[2021-02-20 11:50] fsx950223 commented on #2399
Interesting

[2021-02-20 12:12] bhack commented on #2399
I think Meijster's approach It Is still quite competitive:

https://stackoverflow.com/questions/53678520/speed-up-computation-for-distance-transform-on-image-in-python

[2021-02-20 12:23] bhack commented on #2399
Just a side note, I hope that at some point in time we could write this kind of "Classic" cv ops in python.
There was a thread related to distance transform in the old npcomp repo https://github.com/google/mlir-npcomp/issues/1

/cc @stellaraccident

[2021-02-22 12:56] tdrvlad opened #2401 "Dynamic Margin"
**Dynamic Margin for Triplet Loss** would allow for the embedding space distances to be weighted by the data instances categorical relationships (in the case of nested categories).

Example: *Dog / Cat classifier with breeds*
DOG_Shepherd vs DOG_Husky has different margin than DOG_Shepherd vs CAT_Persian

- I am willing to contribute
- Relevant academic paper:

https://www.researchgate.net/figure/

[2021-02-23 12:47] bhack commented on #2401
We are evaluating to add a paper threshold. See https://github.com/tensorflow/addons/pull/2370

[2021-02-24 09:32] fsx950223 commented on #2399
I test my implementation on my CPU, I got:
CV2 0.023948192596435547
TFA 0.1315934658050537

[2021-02-24 10:04] bhack commented on #2399
I think the benchmark could be plausibile as Opencv has some specialized kernels (e.g. 3x3 5x5) https://www.github.com/opencv/opencv/tree/master/modules%2Fimgproc%2Fsrc%2Fdistransform.cpp

[2021-02-24 11:05] rroseandrieux opened #2403 "Lookahead fails with mixed precision and `ReduceLROnPlateau`"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 20.04
- TensorFlow version and how it was installed (source or binary): pip install tensorflow==2.4.1
- TensorFlow-Addons version and how it was installed (source or binary): pip install tensorflow-addons==0.12.1
- Python version: 3.8.5
- Is GPU used? (yes/no): no

**Describe the bug**

Lookahead is not compatible wi

[2021-02-24 11:32] bhack commented on #2403
It seems similar to https://github.com/tensorflow/addons/issues/2332#issuecomment-754999736

[2021-02-24 11:34] bhack commented on #2403
/cc @reedwm

[2021-02-24 13:27] rroseandrieux commented on #2403
@bhack You're right it is similar but with the Lookahead optimizer..

[2021-02-25 13:25] #2350 closed

[2021-02-25 15:03] jonpsy commented on #2339
@WindQAQ  I was wondering, how about we keep them both? That is, Matthew correlation in one vs all method & the actual method using a boolean switch?

[2021-02-25 15:19] jonpsy commented on #2403
I'd like to take a stab at this :)

[2021-02-25 16:09] bhack commented on #2403
There was a @fsx950223 stub for the same issue to the other mentioned optimizer at https://github.com/fsx950223/addons/commit/137de6b07365093758d0ce00754352625c691013

[2021-02-26 09:53] WindQAQ commented on #2399
The results look great! Can you try to compile TFA with -O3, which enables auto vectorization?

[2021-02-26 10:11] fsx950223 commented on #2399
CV2 0.023186317997897277
TFA 0.10534513300081016

[2021-02-26 13:58] jonpsy commented on #2403
@bhack  Instead of using ```ReduceLROnPlateau``` I used ```LearningRateSchecduler``` and I got this error

[code]

Notice that I got the error in ```epoch_begin``` itself, which already checks if the ```self.model.optimizer```(LossScaleOptimizer) has ```lr```. I wonder how did ```ReduceLROnPlateau``` got past this since it got the error in ```epoch_end()```

Here's the check

[code]

[2021-02-26 14:19] jonpsy commented on #2403
Turns out the ```epoch_begin``` of ```ReduceLRonPlateau``` is noop, which is why it **skipped** the ```lr``` check at the beginning.

[2021-02-26 19:02] jonpsy commented on #2403
Okay, I'm ready for a naive PR :)

[2021-02-27 07:06] fsx950223 commented on #2399
I got ```
CV2 0.01852703094482422
SCP 0.2986025810241699
TFA 0.07228779792785645
[code]

[2021-02-27 17:11] bhack commented on #2399
Can you benckmark it with comparable args? I suppose with the default ones in opencv there Is a different impl.

[2021-03-02 22:13] paulobaptista opened #2407 "Information on compiling addons on IBM PPC system, under Conda"
I wanted to shared the steps to compile addons with a Conda environment that loads TF, CUDA, CUDNN

Cuda Driver and Hardware
Driver Version: 440.33.01
CUDA Version: 10.2
GPU: Tesla V100
Conda Environment
tensorflow                2.1.3
tensorflow-gpu            2.1.3
cudatoolkit               10.2.89
cudatoolkit-dev           10.2.89
cudnn                     7.6.5_10.2
bazel                     0

[2021-03-03 07:10] sayakpaul opened #2408 "NaN value for TripletSemiHardLoss when used with TPUs"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version and how it was installed (source or binary): Binary
- TensorFlow-Addons version and how it was installed (source or binary): Binary
- Python version: 3.7
- Is GPU used? (yes/no): No

**Describe the bug**

I am using `TripletSemiHardLoss` for a project. When I use it with CPUs and GPUs thing

[2021-03-03 08:44] #2399 closed

[2021-03-03 08:46] WindQAQ commented on #2399
Hi @shkarupa-alex, would you mind building addons from source and benchmark again? The optimization is landed on master branch. Let us know if the performance is good enough. Thank you.

[2021-03-03 09:57] bhack commented on #2360
Now CUDA 11 Is available on Colab.
Can you test again?

[2021-03-03 16:29] AakashKumarNain commented on #2408
Thanks @sayakpaul for reporting this but we need a minimal code example to check the issue. Can you provide a toy example?

[2021-03-04 01:52] sayakpaul commented on #2408
@AakashKumarNain sure but that will take me at least next week to put it together. I am okay to close it for now and reopen it when I have the toy example. What do you suggest?

[2021-03-04 05:46] WindQAQ commented on #2408
It's likely to be the known issue of XLA. XLA usually adopts different implementation or even emits different IR on different device for performance issues. This would result in some numeric differences. For example, on tf-nightly, relu with Eigen C++ kernel will propagate NaN while XLA will clip NaN to 0.

https://colab.research.google.com/drive/1b6hTCpudn8m03nQDcXluzHM7ury9Hy2X?usp=sharing

[2021-03-04 05:48] sayakpaul commented on #2408
That is what I had suspected. Thanks for sharing!

[2021-03-04 10:31] bhack commented on #2401
This seems to have a number of citations under the threshold. Please reopen this if it will accumulate more citations.

[2021-03-04 10:32] #2401 closed

[2021-03-04 23:01] innat commented on #2260
IMO, this feature is not needed as we can implement gradient accumulation in the custom training in `tf 2`.  [Link](https://stackoverflow.com/a/62683800/9215780).

[2021-03-04 23:15] innat opened #2409 "Adding tfa.models support - state-of-the-art models."
**Describe the feature and the current behavior/state.**

There are many new deep learning models that are not yet part of the `tf.keras.application`. So, it would be great if there is `tfa.models` support.

That includes new state-of-the-art models with their last optimized weights such as `ResNeSt`, `GPU-Efficient-Networks`, `SENet`, `NFNet` etc. Additionally including more promising modeling id

[2021-03-04 23:21] bhack commented on #2409
We are evaluating how to better coordinate Addons with our model ecosystem.
In the meant time I suggest you to start to contribute your model in https://github.com/tensorflow/models

/cc @tomerk

[2021-03-04 23:21] #2409 closed

[2021-03-05 02:04] dathudeptrai commented on #2260
@innat we need it in case we want to use tf.keras model fit function :))).

[2021-03-05 04:06] innat commented on #2260
That should also possible to achieve by overriding the `train_step` method, customizing the `.fit` function.

[2021-03-05 05:23] dathudeptrai commented on #2260
overriding `train_step` can be considered as `custom_training_loop`.  We need `plug and play` module and it should be apply for all model without custom `train_step`.

[2021-03-05 05:25] innat commented on #2260
If you want to plug and play, then try this. https://github.com/CyberZHG/keras-gradient-accumulation

[2021-03-05 05:33] innat commented on #2260
Overriding the `train_step` doesn't necessarily refer to a custom training loop, [link](https://keras.io/guides/customizing_what_happens_in_fit/). This is the leverage we get from new `tf.keras`, it should be adopted. Being too much plug-and-play stuff can bring lots of breakdown with mid or high-level packages update.

[2021-03-05 05:42] dathudeptrai commented on #2260
@innat i know `train_step` function in tf.keras. I also implement `gradient accumulate` in my framework (https://github.com/TensorSpeech/TensorFlowTTS). I'm not talking about how to implement it, I'm talking about that we need this module in this repo (ez maintain and stable).

[2021-03-05 06:07] innat commented on #2260
@dathudeptrai understood. It sounds great then. However, I'm facing some issues with implementing GA by customizing the `.fit`. In case you're interested, please have a look here https://github.com/tensorflow/tensorflow/issues/47578.

[2021-03-05 08:50] WindQAQ commented on #2360
I can confirm it's now okay with tf 2.4.1 and tfa 0.12.1. Feel free to reopen if the problem still exists.

[2021-03-05 08:50] #2360 closed

[2021-03-10 05:42] innat opened #2413 "LamdaLayer and Bottlenect-TransformerLayer"
**Describe the feature and the current behavior/state.**

**LamdaNetwork**: [LambdaNetworks: Modeling long-range Interactions without Attention](https://openreview.net/forum?id=xTJEN-ggl1b)
**BotNet**: [Bottleneck Transformers for Visual Recognition](https://arxiv.org/abs/2101.11605)

For `Lamdanetwork` there are (AFAIK) some open source implementation such: https://github.com/lucidrains/lambda-ne

[2021-03-10 14:42] bhack commented on #2413
I think that we still don't have enough citations for these.
Please see https://github.com/tensorflow/addons/pull/2370

[2021-03-10 15:24] bhack commented on #2312
@seanpmorgan @WindQAQ this doesn't have enough citations but it will not change the API. What do you think?

[2021-03-10 16:24] seanpmorgan commented on #2312
If API is unchanged and it's a small PR then I'm good with it

[2021-03-10 16:27] seanpmorgan commented on #2407
There was an early hope to package on conda forge:
https://github.com/tensorflow/addons/issues/201

The rest of the tf ecosystem hasn't done it either (except TF core which is managed by Anaconda). I'm interested but concerned for the amount of work

[2021-03-10 18:59] bhack commented on #2407
Esri has an Addons conda package. Is It still maintained?
https://anaconda.org/esri/tensorflow-addons

[2021-03-10 19:49] bhack commented on #2407
Some other conda packages https://anaconda.org/search?q=Addons+tensorflow

[2021-03-11 00:04] reedwm commented on #2403
Talking with @omalleyt12 and @fchollet, we decided the best approach is for LossScaleOptimizer to uncondtionally delegate the `learning_rate` attribute. I have not seen issues with nested optimizer wrappers and hyperaparmeters other than for `learning_rate`, so I think it's best not to add another API but instead special-case `learning_rate` to get uses cases such as this one to work properly. I w

[2021-03-11 09:32] allhailjustice opened #2414 "SpectralNorm implementation"
I am reading the source code of the spectral normalization's implementation. I think it is not consistent with its original paper's algorithm. I am not an expert on tensorflow so please point out if I am wrong.

The paper's algorithm indicates updating w according to df(w/sigma)/dw. However, the tfa's implementation directly assigns w/sigma to w (as w') and then updates w' according to df(w')/dw'.

[2021-03-11 09:34] bhack commented on #2414
There is a WIP refactoring can you take a look at  https://github.com/tensorflow/addons/pull/2411?

[2021-03-12 21:31] korneelvdbroek commented on #2414
I agree with @allhailjustice
Here is the unit test for the differentiation which fails for the current implementation https://colab.research.google.com/drive/137attP3CTBiojPvCdgZotzEwZ1qhnwmp?usp=sharing

[2021-03-12 21:36] #2403 closed

[2021-03-13 18:20] #2194 closed

[2021-03-15 05:18] fsx950223 commented on #2399
I test the gpu kernel via following example:
``` pip install tfa-nightly```
[code]

then I got
[code]

[2021-03-16 15:53] ammarchalifah opened #2417 "CohenKappa compatibility with tf.Dataset"
Hello TF Addons Community!

I need to use CohenKappa as the main metric in my research. However I can't use CohenKappa directly because my model is a regression model, so first I need to clip and round the prediction result. I tried to make customized metric with super function.

[code]
Then, I tried to test this implementation by using this simple test, and it works fine!
[code]
that has the outp

[2021-03-16 17:08] ammarchalifah commented on #2417
I've found the solution, i.e. re-implement it with minor change. Here's the practical solution:
[code]
Feel free to point out if there's something wrong with this implementation. Thanks

[2021-03-17 07:06] AakashKumarNain commented on #2417
Thanks @ammarchalifah for pointing it out. Can you submit a PR for adding support for `tf.data` to the existing codebase?

[2021-03-17 09:19] ammarchalifah commented on #2417
Sure, I'll work on it.

[2021-03-18 01:17] jkquijas commented on #1898
Has this been resolved?

[2021-03-18 13:02] WingsOfPanda commented on #218
hi @olesalscheider this question might be irrelevant, but I don't have other place to ask you around. I am trying to train a DL model with large input (not a large model), say a super-resolution image, and I can't fit my model training into one GPU. I tried to split my model across multiple GPUs but I end up with no luck. Could u share me some reference/ideas that how u did it? Thx!

[2021-03-18 16:05] NEGU93 commented on #632
Here it is my implementation also posted [stackoverflow](https://stackoverflow.com/a/66694687/5931672). You should apply the max-pooling using [tf.nn.max_pool_with_argmax](https://www.tensorflow.org/api_docs/python/tf/nn/max_pool_with_argmax) and then pass the `argmax` result of `tf.nn.max_pool_with_argmax`

[code]

This has a small bug/feature that is that if argmax has a repeated value it will p

[2021-03-19 08:57] koren-v opened #2418 "Can I use normalized "trellis" as probability distribution over classes for each sequence element?"
Hi, I use your [piece of code](https://github.com/tensorflow/addons/blob/v0.12.0/tensorflow_addons/text/crf.py#L374) in my model, but instead of hard labels, I need to know the probability of each class for each timestamp. So can I use normalized `trellis` as these distributions?

[2021-03-19 12:25] aminzabardast commented on #2339
Hi, Everyone. Since we have this fix in the merge queue, I was wondering if the stable version's (`0.12.1`) MCC for Multiclass is implemented correctly or not. Shall I refrain from using it?

[2021-03-19 13:24] #1701 closed

[2021-03-20 03:09] ykpercy opened #2419 "the dtype of total_steps is not compatible with float32 in the checkpoint when i apply the mixd precision with Radam"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab (Linux)
- TensorFlow version and how it was installed (source or binary): 2.4.1
- TensorFlow-Addons version and how it was installed (source or binary): 0.12.1
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

when i apply the mix precision with Radam, the variable total_steps dtype is i

[2021-03-20 08:26] bhack commented on #2419
Check https://github.com/tensorflow/addons/pull/2369

[2021-03-20 08:48] olesalscheider commented on #218
In your case, the activations of your network will probably consume a lot of memory. These have to be kept around for the backward pass.
Unfortunately, tensorflow currently executes the backward pass on just one device, even if you split your model. That's why you will can run into memory problems even if you split your training.

I tried to fix this here: https://github.com/tensorflow/tensorflow/

[2021-03-20 12:09] WingsOfPanda commented on #218
yep sir. I tried sth myself to split model training into multi-gpus. What I did is sth like follows:

1. split the forward pass into two parts, let's say 'f0' and 'f1'. Then I place 'f0' and 'f1' on gpu0 and gpu1, respectively.
2. record 'tf.GradientTape(persistent=True)' for 'f1' and watch the input of 'f1', and obtain the gradient of output of 'f1' with respect to the input of 'f1', say it be 'g

[2021-03-20 18:13] jonpsy commented on #2339
It's not wrong per sé, it gets the coefficients for each of the class, so in a sense it is "multi-class".

In a general sense though, the implementation is "wrong". Personally, I'd refrain from using it.

[2021-03-21 08:47] aminzabardast commented on #2339
@jonpsy Thanks.

[2021-03-22 12:36] aoeu1234 opened #2421 "Triplet loss causes NotImplementedError"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 32
- TensorFlow version and how it was installed (source or binary): 2.4.1 (from pip)
- TensorFlow-Addons version and how it was installed (source or binary): 0.12.1 (from pip)
- Python version: Python 3.8.7
- Is GPU used? (yes/no): no

**Describe the bug**
Using any triplet loss causes `NotImplementedError` e

[2021-03-23 07:24] ammarchalifah commented on #2417
Quick update: after I tried to explore the code and trying to look on what to fix, I found out that if we pass `True` to sparse_labels argument in CohenKappa, then it can be directly used on `tf.data` API. The point is, my initial issue was invalid.

[2021-03-23 15:38] seanpmorgan opened #2424 "Verify CUDA 11.2 and cuDNN 8.1 compatibility for TF2.5rc"
Should be fine, but want to test:
https://groups.google.com/a/tensorflow.org/g/developers/c/N8RfCiqnXFk

[2021-03-23 17:57] bhack commented on #2419
Please reopen if it was not solved in that PR.

[2021-03-23 17:57] #2419 closed

[2021-03-23 21:16] innat opened #2427 "'Profiler Report' - like PyTorch-Lighting in TF.Keras interface."
**Describe the feature and the current behavior/state.**

I found the [profiler report](https://pytorch-lightning.readthedocs.io/en/0.7.1/profiler.html) produced in the pytorch-lighting (`pt`) model training is very convenient to debug training. AFAIK, `tf` has also a profiler which can be viewed via `tensor board`. In `pt`, it has

[code]

Numbers are random of course. We can easily accomplish `o

[2021-03-24 01:56] ykpercy opened #2428 "Radam variable dtype : total_steps is int or float ?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab (Linux)
- TensorFlow version and how it was installed (source or binary): 2.4.1
- TensorFlow-Addons version and how it was installed (source or binary): 0.12.1
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

when i apply the mixd precision with Radam, the variable total_steps dtype in

[2021-03-24 06:34] Tao2301230 commented on #1769
try 'load_weights', instead of 'load_model' helps

[2021-03-24 11:26] juliangilbey opened #2429 "Webpage build instructions incorrect: CUDA_HOME should be CUDA_TOOLKIT_PATH"
On the installation webpage, https://www.tensorflow.org/addons/overview#installing_from_source the instructions say that the CUDA directory can be specified with an exported `CUDA_HOME`.  However, in the current `configure.py`, this has been replaced with `CUDA_TOOLKIT_PATH`.

[2021-03-24 11:38] bhack commented on #2429
Can you send a small PR?

[2021-03-24 11:39] bhack commented on #2428
You need to test with Addons nightly.

[2021-03-24 11:42] bhack commented on #2413
I need to close this please comment this again when It will have more citations.

[2021-03-24 11:42] #2413 closed

[2021-03-24 11:57] juliangilbey commented on #2429
I don't know where the web page sources are.

[2021-03-24 12:02] bhack commented on #2429
We are trying to improve this cause we don't have a direct link to the Github source for Markdown files in the Website.

In the meantime, for the PR, you can find the source of that page at https://github.com/tensorflow/addons/blob/master/docs/overview.md

/cc @theadactyl

[2021-03-24 12:04] juliangilbey commented on #2429
OK, thanks!

[2021-03-24 12:55] gcuder commented on #680
@guillaumekln @seanpmorgan Are there any updates on this?
I managed to make it work with a `StackedRNNCells` containing only one cell (see code)

[code]
This code above works but if I want to use `BasicDecoder` or `BeamSearchDecoder` it fails.
I think this is because the `StackedRNNCells` returns the states of all the RNN layers within.

Can this be avoided somehow?

[2021-03-24 13:12] guillaumekln commented on #680
This thread mentions different error messages. Which one are you facing? Can you post a small code snippet using a `Decoder` to make sure we all talk about the same issue?

[2021-03-24 14:13] jeongukjae opened #2431 "Few things to improve `tfa.losses.sigmoidal_focal_loss`"
**Describe the feature and the current behavior/state.**

1. Loss scales of `sigmoidal_focal_loss` and `tf.keras.losses.binary_crossentropy` are differ.

    `tfa.losses.sigmoidal_focal_loss` uses `binary_crossentropy` implemented in the TensorFlow, so I think it is reasonable to expect that focal loss and binary crossentropy will return the same values and actually they have same equation when `a

[2021-03-24 14:30] #2429 closed

[2021-03-24 14:37] gcuder commented on #680
@guillaumekln I was able to fix the issue. Apparently with `tf-2.4.1` building a stacked decoder with Attention is not an issue anymore.

[code]

[2021-03-24 15:46] bhack commented on #2431
Can you check the focal loss we have at https://github.com/tensorflow/models/blob/master/official/vision/keras_cv/losses/focal_loss.py?

[2021-03-25 10:49] shkarupa-alex commented on #2399
I've tried new kernel and found that most of the time GPU implementation is about 80 times slower then CPU one.
Here is a test: https://colab.research.google.com/drive/1y_lMWt3idEwtJou1F6owDXafpVl0wZcM?usp=sharing#scrollTo=d4EeCVbs426t

I don't understand why, but only in first of 10 tests (each makes 10 executions) GPU is faster then CPU.

[2021-03-25 11:28] fsx950223 commented on #2399
Here is my test case:https://colab.research.google.com/drive/1y_lMWt3idEwtJou1F6owDXafpVl0wZcM?usp=sharing#scrollTo=gou4qJU63soT
I got
[code]

[2021-03-25 12:16] shkarupa-alex commented on #2399
Could someone else try provided code?
I've tried it on colab:
[code]
and on kaggle
[code]

[2021-03-25 12:18] fsx950223 commented on #2399
Do you try my test case?

[2021-03-25 12:26] shkarupa-alex commented on #2399
Your link is the same as mine

[2021-03-25 12:29] fsx950223 commented on #2399
Test with the link https://drive.google.com/file/d/1XcVKtiNBWa5iu032W8bZcu8YCB4t7JyM/view?usp=sharing.

[2021-03-25 12:34] shkarupa-alex commented on #2399
Ok, my mistake.
With warmup GPU kernel is much faster.

[2021-03-25 14:16] ykpercy commented on #2428
it works!
thank you so much!

[2021-03-25 14:26] #2428 closed

[2021-03-25 15:15] klaimans opened #2432 "Saving models with a BasicDecoder Layer?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.4.1
- TensorFlow-Addons version and how it was installed (source or binary): 0.11.2/0.12.1
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Describe the bug**

when trying to save a subclassed model with a BasicDecoder layer, one ca

[2021-03-25 20:13] bhack commented on #2432
Check https://stackoverflow.com/questions/60930158/tensorflow-saving-subclass-model-which-has-multiple-arguments-to-call-method

[2021-03-25 23:04] vignesh0710 opened #2433 "Requesting documentation or examples for using CRF layer"
Has any new documentation or examples been released for using the ```CRF``` layer?

[2021-03-26 10:54] klaimans commented on #2432
Hi @bhack , Thank you very much for the very quick reply. Indeed that gets us past that error but if you try the same for the decoder rather than the encoder (which is what we are trying to do) it still fails. It is also unclear how to send the signature for the AttenstionWrapperState input to the decoder which is a NamedTuple and not a simple list.

I would appreciate any additional suggestions y

[2021-03-28 08:14] gdavid57 opened #2434 "3D Non Max Suppression feature request"
Following the [first thread](https://github.com/tensorflow/tensorflow/issues/48070) in tensorflow/tensorflow.

**Describe the feature and the current behavior/state.**

TensorFlow already incorporates a native Non Max Suppression algorithm for 2D bounding boxes. It is used for instance for objet detection tasks, usually after a anchor box generation step as it is observed in YOLO. Another remarkab

[2021-03-28 10:00] bhack commented on #2434
Can you check the function we have in [Tensorflow 3d](https://github.com/google-research/google-research/blob/master/tf3d/object_detection/box_utils/box_ops.py)?

Probably they could be interested to have a high performance implementation of this op.

It was presented one months ago: https://ai.googleblog.com/2021/02/3d-scene-understanding-with-tensorflow.html

[2021-03-29 04:24] seanpmorgan commented on #2407
I didn't know of those packaging channels that support Addons. Given our availability I think it's best we let the community handle Conda builds (same thing TF core does, but Anaconda does it). Closing this as we have no way to test CI for a power PC build.

Thanks for posting this though I'm sure it'll be helpful for others. I wouldn't be opposed to a PR which adds this either since it can't real

[2021-03-29 04:24] #2407 closed

[2021-03-29 04:24] seanpmorgan commented on #201
Given our availability, we have decided to let the community package Addons on Conda. There are several channels:
https://anaconda.org/search?q=Addons+tensorflow

[2021-03-29 04:34] seanpmorgan opened #2435 "Addons 1.x Roadmap"
Opening this to start discussion on what core issues we need to address before considering bumping the major version of Addons to 1.x. There is no requirement to do this within any timeline, and if we feel that the repository is not ready then it is my strong belief that it's better to stay as a 0.x given the implied semantics of a semver increase.

## Requirements:

- [ ] Remove all private TF AP

[2021-03-29 18:25] tgaddair opened #2436 "Enable Python 3.9 support"
TensorFlow now publishes nightly wheels for Python 3.9 (see: https://github.com/tensorflow/tensorflow/issues/44485#issuecomment-797037619). However, looks like TensorFlow Addons does not.

For parity, TensorFlow Addons should also move to support Python 3.9 for the upcoming TF release (targeted for end of April).

[2021-03-29 18:29] seanpmorgan commented on #2436
Duplicate https://github.com/tensorflow/addons/issues/2188. Thanks for reminding us though we'll definitely build 3.9 when we target TF2.5

We used to build against nightlies in tfa-nightly but it was a maintenance burden. We now pin tfa-nightly and tensorflow-addons to latest stable release.

[2021-03-29 18:29] #2436 closed

[2021-03-29 18:29] seanpmorgan commented on #2188
Unblocking but this needs to wait for TF2.5 release candidates

[2021-04-01 12:53] npanpaliya opened #2439 "Build failure on Linux ppc"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux RHEL7
- TensorFlow version and how it was installed (source or binary): TF 2.4.1 installed via conda
- TensorFlow-Addons version and how it was installed (source or binary): Built from source v0.12.1 tag
- Python version: 3.7
- Is GPU used? (yes/no): no

**Describe the bug**

TF addons build from source fails o

[2021-04-02 09:23] #2439 closed

[2021-04-04 09:52] kamalkraj opened #2440 "Standard Transformer Encoder/Decoder Layer"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no):yes
*If you wish to contribute, then read the requirements for new contributions in [`CONTRIBUTING.md`](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#requirements-for-new-contributions-to-the-repository)*
- Are you willing to maintain it going forward? (

[2021-04-04 21:40] pedrogalher commented on #632
My question seems pretty basic considering the level of this conversation.
How did you get to these expresions to extract the values for "x" and "y"?:

- y = argmax // (output_shape[2] * output_shape[3])

- x = argmax % (output_shape[2] * output_shape[3]) // output_shape[3]

What's the maths behind them?

Thank you
Pedro

[2021-04-05 18:23] bersbersbers commented on #2188
Here we go - this installs fine on 3.9.4:
https://github.com/tensorflow/tensorflow/releases/tag/v2.5.0-rc0

[2021-04-06 05:01] jeongukjae commented on #2431
@bhack Sorry for the late reply. I will check that soon.

[2021-04-06 11:55] fsx950223 commented on #2440
It's implemented in https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/transformer_encoder_block.py

[2021-04-06 14:15] #2440 closed

[2021-04-07 13:16] SysuJayce commented on #1261
bug2 exists in tf 2.4.1 + tfa 2.11.1

`ValueError: Tensor conversion requested dtype float32 for Tensor with dtype int64: <tf.Tensor 'y_true:0' shape=(None, 1) dtype=int64>`

[2021-04-08 00:30] Shiro-LK opened #2442 "seq2seq tf addons mixed precision InvalidArgumentError: cannot compute ConcatV2 as input #1(zero-based) was expected to be a bfloat16 tensor but is a float tensor"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary): tf 2.4.1
- TensorFlow-Addons version and how it was installed (source or binary):  tfa_nightly-0.13.0.dev20210402092435
- Python version: 3.7
- Is GPU used? (yes/no):no TPU

**Describe the bug**

[code]

**Code to reproduce the issue**

[code]

from th

[2021-04-08 00:37] Shiro-LK commented on #2442
pb solved, sorry I just need to cast :
`initial_state = decoder.build_initial_state(BATCH_SIZE, [sample_h, sample_c], tf.float32) `
into

`initial_state = decoder.build_initial_state(BATCH_SIZE, [sample_h, sample_c], tf.bfloat16)`

[2021-04-08 00:37] #2442 closed

[2021-04-08 09:42] jeongukjae commented on #2431
@bhack I think that is a good implementation. It does not reduce losses like focal loss does in tfa, but the `alpha` parameter cannot be ignored. (However, ignoring alpha is a subtle problem because as the paper(https://arxiv.org/pdf/1708.02002.pdf) mentioned, alpha-balanced focal loss performs slightly better.)

[2021-04-09 03:22] phillipshaong opened #2444 "Can't Install Tensorflow-Addons=0.11.2 with Python=3.6.9 and Tensorflow=2.3: Compatibility Issues."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 ARM Architecture Running on NVIDIA Jetson Xavier
- TensorFlow version and how it was installed (source or binary): 2.3 (From NVIDIA Docker Image)
- TensorFlow-Addons version and how it was installed (source or binary): >=0.11.1
- Python version: 3.6.9
- Is GPU used? (yes):

**Describe the bug**

I

[2021-04-09 08:29] fanfanfeng opened #2446 "used MultiOptimizer as optimizer ,after model.fit (),can't saved tensorflow-Addons=0.12.21 with Python=3.8 and Tensorflow=2.3.1"
**System information**
-  Ubuntu 18.04
- TensorFlow version : tensorflow-gpu         2.3.1      installed by binary
- TensorFlow-Addons :tensorflow-addons      0.12.1 installed by binary
- Python version:3.8
- Is GPU used? : no

**Describe the bug**
i'm using MultiOptimizer  as my model optimizer,but after model.fit()  training my own data,  then i run model.save() to save the model to local , rai

[2021-04-09 10:55] bhack commented on #2446
Can you test with Addons nightly?

[2021-04-09 11:43] tdrvlad opened #2447 "NaN Loss bug and a step-by-step code analysis"
Following on problems I had while training with Triplet Loss, I went through the backend code and gathered some personal / visual explanations. Feel free to use my resources.

https://tudorvladstefan.medium.com/de-mystifying-tensorflows-triplet-loss-deca00ca9479

[2021-04-09 12:02] fanfanfeng commented on #2446
yes,i try it out ,and got the same error .
i have debug myself ,and fixed it in my way:
when you run MultiOptimizer.apply_gradients(), becase the variable self.optimizer_specs is a list of  dict,  the graident_value tensor has store into the dict like spec['gv''].
 when call model.save()  ,the MultiOptimizer.get_config() try to serialize the self.optimizer_specs variable, becase the Tensor in  sel

[2021-04-09 12:39] bhack commented on #2446
/cc @hyang0129

[2021-04-09 14:42] hyang0129 commented on #2446
hmm I think this is my fault for using dictionaries to store tensors. I remember encountering similar issues with serializing tensors stored in dictionaries.

The easy fix is listed by @fanfanfeng, which is to remove the grads and vars element when grabbing the config. This makes the most sense because deserializing an optimizer to resume training generally never restores gradients and vars. Howev

[2021-04-09 14:49] hyang0129 commented on #2446
The most lazy option is to simply not support model.save(include_optimizer=True) and only support model.save(include_optimizer=False). Add the note to the documentation and on get config, print a warning that this optimizer cannot be serialized using the normal process and you should use include_optimizer=False.

[2021-04-10 06:17] sayakpaul opened #2448 "The right way to apply `tfa.image.cutout`"
Hi folks.

I am trying to use `tfa.image.cutout()` for an experiment. However, I am unable to figure out how I should apply it.

So far I have done the following:

[code]

I am getting an all blacked out image:

![image](https://user-images.githubusercontent.com/22957388/114260427-76406880-99f2-11eb-9c93-9748626050ed.png)

Here's a [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/

[2021-04-10 10:29] bhack commented on #2448
Can you compare in your notebook with https://github.com/tensorflow/addons/issues/2384#issuecomment-776621306 ?

[2021-04-10 11:42] sayakpaul commented on #2448
Same phenomenon: https://colab.research.google.com/gist/sayakpaul/1fdeca61f6e7c10b0d47a2d13a867113/scratchpad.ipynb.

[2021-04-10 11:43] sayakpaul commented on #2384
@BinyanHu do you mind taking a look at https://github.com/tensorflow/addons/issues/2448?

[2021-04-10 11:56] bhack commented on #2448
So probably do you want something like `int(math.sqrt(TOTAL_AREA*0.05)` (or `floor/ceil`) right?

[2021-04-10 12:01] sayakpaul commented on #2448
My apologies. I should have noted the documentation:

[code]

On a related note, in `tfa` it's different I believe. It expects the mask size. A unification would have been really nice.

[2021-04-10 12:50] fsx950223 commented on #2448
https://colab.research.google.com/drive/1m-3EKvK9Th9rRTDPytlv59TUgPYipxlr?usp=sharing

[2021-04-10 13:49] #2448 closed

[2021-04-12 05:31] fsx950223 commented on #2384
So should I revert #2285 or wait for sync?

[2021-04-14 21:02] Sicily-F commented on #1753
Perhaps I am misunderstanding, but I have been running a multiclass classification model and using the following precision and recall metrics:

`model.compile(loss='categorical_crossentropy', optimizer=opt, metrics=['acc',tf.keras.metrics.Precision(),tf.keras.metrics.Recall()])`

One thing I am having trouble with is multiclass classification reports from sklearn - any pointers, other good issue t

[2021-04-18 18:03] DarshanDeshpande opened #2452 "Addition of FAIR's MADGRAD Optimizer"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no): yes
*If you wish to contribute, then read the requirements for new contributions in [`CONTRIBUTING.md`](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#requirements-for-new-contributions-to-the-repository)*
- Are you willing to maintain it going forward?

[2021-04-20 05:33] MasterJEET commented on #746
Indeed, for a binary classification task I'm using `num_classes=1` and only `average='micro'` works.

[2021-04-21 11:55] xexiyong opened #2454 "tensorflow_addons.text.crf_log_likelihood could not work on gpu thread"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):     Linux centOS
- TensorFlow version and how it was installed (source or binary):     2.4.1  pip install binary
- TensorFlow-Addons version and how it was installed (source or binary):      0.12.0  pip install binary
- Python version:    3.7.3
- Is GPU used? (yes/no):  yes

**Describe the bug**

to upgrade the tf 1.

[2021-04-21 12:22] xexiyong commented on #2454
and the tfa-nightly does not solve this problem

[2021-04-22 08:02] YangHan-Morningstar opened #2455 "Type Error in normal training"
Hi, I have use the tfa.layers.CRF in my BiLSTM_CRF, it could be compiled but I got an Error which says: "TypeError Expected int32 got 0.0 of type 'float' instead "

My target is [batch_size, seq_len] which type is "int32" and I use the first outputs of the CRF layer, which [batch_size, seq_len]. Now I'm confused about it, could you help me? Thanks a lot!

Here is my code :

![image](https://user-i

[2021-04-22 20:09] tomerk commented on #2452
Ecosystem review check: This is the sort of recent specific optimizer implementation that we don't usually add to core tensorflow/keras. If this is sufficiently widely used for addon's citations threshold then addons would be a better fit.

[2021-04-23 02:11] DarshanDeshpande commented on #2452
@tomerk I understand completely. I just thought that Tensorflow should have this implementation since JAX and PyTorch already do. If you want me to close this issue then please let me know :)

[2021-04-24 12:02] raima-zachariah opened #2456 "[Security] Potential Secret Leak"
It has been noticed that while using Gaurav0/backport@d69fd1d2469762a7b4007f671857e4f94deed0af your bot_token 1353d990cdb8b8ceb1b73d301dce83cc0da3db29 is present in plaintext. Please ensure that secrets are encrypted or not passed as plain text in github workflows.

[2021-04-24 12:02] raima-zachariah opened #2457 "[Security] Potential Secret Leak"
It has been noticed that while using Gaurav0/backport@d69fd1d2469762a7b4007f671857e4f94deed0af your bot_token_key a1b2c3d47311f8e29e204f85a81b4df4a44e252c is present in plaintext. Please ensure that secrets are encrypted or not passed as plain text in github workflows.

[2021-04-24 13:37] bhack commented on #2457
@seanpmorgan https://github.com/tensorflow/addons/pull/2133

[2021-04-24 13:38] bhack commented on #2456
@seanpmorgan https://github.com/tensorflow/addons/pull/2133

[2021-04-25 10:10] xexiyong commented on #2454
I found the tf.cond op which in crf_log_likelihood function is working on cpu thread, it causes this, delete it, training speed is better!

[2021-04-25 10:11] xexiyong commented on #2454
@bhack is this a bug in tf? the tf.cond in tf 1.4 is working in gpu thread, is it possible to recover this property?

[2021-04-26 13:29] bhack commented on #2454
Can you point to the specific line in the repository?

[2021-04-26 16:03] lnicola opened #2458 "Metrics don't work with categorical / one-hot outputs"
Apologies, this might actually be my egregious lack of experience in this domain.

I've set up a little network to play with:

[code]

This works if I only use `accuracy` as a metric, but if I add `CohenKappa` I get:

[code]

I suppose the problem is that `CohenKappa` doesn't work with one-hot vectors (`Accuracy` somehow detects them and calls `CategoricalAccuracy`), doesn't it?

[2021-04-26 16:18] AakashKumarNain commented on #2458
`I suppose the problem is that CohenKappa doesn't work with one-hot vectors `

It actually does. The only case where the current codebase doesn't work with OHE is when you convert OHE in case of a binary classification problem. Can you please confirm the number of labels in your data?

[2021-04-26 16:21] lnicola commented on #2458
I have 49 labels.

[2021-04-26 16:34] lnicola commented on #2458
Here's an example you can run:

[code]

[2021-04-26 20:48] Shiro-LK opened #2459 "Beam Search decoding step by step"
Hello,

I have followed the tutorial from tensorflow documentation https://www.tensorflow.org/addons/tutorials/networks_seq2seq_nmt and it works quite well. (the only difference is I am using 3 decoders instead of one)
However I wanted to decode step by step during the decoding part, instead of letting the seq2seq module doing everything during the inference. In particular, this approach could be

[2021-04-28 03:33] sayakpaul opened #2461 "Regarding adding an example in tfa.optimizers.CyclicalLearningRate"
Hi folks.

I wanted to add a usage example in [CyclicalLearningRate](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/CyclicalLearningRate) to make it easier for people to use this.

I searched through [addons/docs](https://github.com/tensorflow/addons/tree/master/docs) but could not find the right place to determine where I could add it and submit a PR.

Help?

[2021-04-28 04:00] seanpmorgan commented on #2461
Hi @sayakpaul tutorials should be PR'd to this directory:
https://github.com/tensorflow/addons/tree/master/docs/tutorials

Let us know if you encounter any issues with the Colab PR process (See README). Thanks!

[2021-04-28 04:04] sayakpaul commented on #2461
I actually want to submit a PR modifying the docs of [CyclicalLearningRate](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/CyclicalLearningRate). The modification would include an example usage. That's it.

[2021-04-28 04:11] seanpmorgan commented on #2461
They're auto generated from the module:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/cyclical_learning_rate.py

As an example you'll see the doc string from conditional gradient being generated for the web:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/conditional_gradient.py
https://www.tensorflow.org/addons/api_docs/python/tfa/opti

[2021-04-28 04:12] sayakpaul commented on #2461
Makes sense. Thanks, Sean.

[2021-04-28 04:12] #2461 closed

[2021-04-28 05:19] sayakpaul commented on #2461
@seanpmorgan apologies for the reiteration. Would you rather prefer a small tutorial demoing CLR?

[2021-04-28 16:44] seanpmorgan commented on #2461
Hmmm, If you think it's fundamental to usage it should go in docstring, but if it's more than that then the tutorials are also placed on the website:
https://www.tensorflow.org/addons/tutorials/optimizers_conditionalgradient

Perhaps both if it's not too much to ask? Thank you very much for your help.

[2021-04-28 16:53] sayakpaul commented on #2461
Sure thing. I will try to come up with a draft within a few days.

[2021-04-29 06:49] DragonPG2000 commented on #2458
I tried the code example and it works albeit with Cohen Kappa score as 0.

[2021-04-29 06:52] lnicola commented on #2458
Maybe I'm running a different version? `tensorflow-addons 0.13.0.dev0` from `pip`.

[2021-04-29 07:52] xexiyong commented on #2454
https://github.com/tensorflow/addons/blob/53ef58f3aac9f3e1c36fca3bccaec73f67cd491c/tensorflow_addons/text/crf.py#L104
https://github.com/tensorflow/addons/blob/53ef58f3aac9f3e1c36fca3bccaec73f67cd491c/tensorflow_addons/text/crf.py#L201

[2021-04-29 17:10] bhack commented on #2454
Can you log the device placement? https://www.tensorflow.org/guide/gpu#logging_device_placement

[2021-05-01 04:32] mankar1257 opened #2464 "issues with @tf.function while training , saving and loading the encoder-decoder model"
**System information**
- OS Platform and Distribution :colab Linux
- TensorFlow version:2.4.1
- TensorFlow-Addons version:0.12.1
- Python version:3.7.10
- Is GPU used? (yes/no): yes

I have used the specific versions of TensorFlow, TensorFlow-Addons, and Python as mentioned here :
https://github.com/tensorflow/addons#python-op-compatibility-matrix

**Describe the bug**
I am working on developing a

[2021-05-04 15:55] 0x0badc0de opened #2465 "NovoGrad optimizer doesn't work with float64 backend setting"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10 Buster
- TensorFlow version and how it was installed (source or binary): 2.4.1 (pip install tensorflow)
- TensorFlow-Addons version and how it was installed (source or binary): 0.12.1 (pip install)
- Python version: 3.8.9
- Is GPU used? (yes/no): no

**Describe the bug**

NovoGrad optimizer doesn't work whe

[2021-05-04 16:59] bhack commented on #2465
Can you prepare a PR?

[2021-05-04 17:57] neozwu opened #2466 "skip_gram_op fails when batch_size is provided"
The python code for skip_gram_op calls "tf.train.batch", which doesn't exist for TF2 (https://github.com/tensorflow/addons/blob/master/tensorflow_addons/text/skip_gram_ops.py#L204). Note that the current tests don't test the batch_size argument, so is missing this scenario.

[2021-05-04 18:32] bhack commented on #2466
Thanks, Can you send a small PR?

[2021-05-04 18:44] neozwu commented on #2466
Looks like it would be slightly more involved than simply changing the symbol. I'm not super familiar with the testing framework, but it seems the tests are set up in eager mode (https://github.com/tensorflow/addons/blob/master/tensorflow_addons/text/tests/skip_gram_ops_test.py). If the code wants to support batch_size (ie. tf.compat.v1.train.batch), it seems the tests need to be rewritten in grap

[2021-05-05 09:57] Jordy-VL opened #2469 "Custom Tensorflow optimizer cSGLD (Stochastic Langevin Dynamics) in TF2: correct update ops?"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): v2.2
Python version: 3.6.9
CUDA/cuDNN version: v10.2
GPU model and memory: GeForce GTX 1070 - 8117MiB

Describe

[2021-05-05 15:36] jeongukjae opened #2470 "`tfa.text.crf.crf_log_likelihood` function has a type error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary):
- TensorFlow-Addons version and how it was installed (source or binary): master branch
- Python version:
- Is GPU used? (yes/no):

**Describe the bug**

https://github.com/tensorflow/addons/blob/53ef58f3aac9f3e1c36fca3bccaec73f67cd491c/tensorflow_addon

[2021-05-05 18:11] #2465 closed

[2021-05-05 18:29] #2470 closed

[2021-05-05 18:32] UrszulaCzerwinska commented on #1769
Hi,
I just tested this solution with my Sequence classification model in keras but crf lowers my scores from 0.88 accuracy without crf to 0.84 with crf

I also tried [ luozhouyang/keras-crf ](https://github.com/luozhouyang/keras-crf) but I am getting an error that is reported in issues with no answer.

[2021-05-05 18:48] RandinAk opened #2472 "layer"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no)[](yes)
*If you wish to contribute, then read the requirements for new contributions in [`CONTRIBUTING.md`](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#requirements-for-new-contributions-to-the-repository)*
- Are you willing to maintain it going forward

[2021-05-05 19:09] bhack commented on #2472
I don't understand this ticket I has no detail. Please open a new one.

[2021-05-05 19:09] #2472 closed

[2021-05-06 05:48] thepurpleowl opened #2473 "Save from checkpoint won't work if evaluate is done in another script"
If we run the evaluation as a different script, then loading from checkpoint doesn't set all the weights to all layers. Only AttentionMechanism memory_layer is being set.

After  ` checkpoint.restore(tf.train.latest_checkpoint(checkpoint_dir))`

running `decoder.variables` does give only the following
[code]

Normal save() or save_model() doesn't help too.
Is this something to do with tile_batch?

[2021-05-07 08:50] xexiyong commented on #2454
this seems useless..

[2021-05-12 09:07] soerenetler opened #2474 "BasicDecoderOutput with None lengths in networks_seq2seq_nmt example"
# URL(s) with the issue:
https://www.tensorflow.org/addons/tutorials/networks_seq2seq_nmt

# Description of issue:
It is not clear what the output of the BasicDecoder is. The output variable is is from type BasicDecoderOutput and has two attributes: rnn_output and sample_id. The output should be (in my opinion) of shape (batch_size, target_leghts, vocab_size) and (batch_size, target_leghts) respec

[2021-05-13 11:36] ashutosh1919 commented on #2363
@afi1289 , can this be closed as part of #1999 ?

[2021-05-13 19:48] #2064 closed

[2021-05-13 23:50] seanpmorgan opened #2476 "CRF decode saved model fails to load in TF2.5+"
**System information**
- TensorFlow version and how it was installed (source or binary): TF2.5+
- TensorFlow-Addons version and how it was installed (source or binary): TFA 0.13
- Python version: Any

**Describe the bug**
CRF Decode fails serialization in TF2.5+

Possibly related:
https://github.com/tensorflow/tensorflow/pull/45534

**Code to reproduce the issue**
Remove pytest skip in `test_crf_d

[2021-05-14 06:48] GuillemGSubies commented on #2188
TF 2.5.0 is out. Any plans on supporting python3.9?

[2021-05-14 07:09] bersbersbers commented on #2188
@GuillemGSubies see #2441 linked just before your comment.

[2021-05-14 16:01] thecodacus commented on #194
facing similar issue in building macOS11 m1 arm
## System information
* TensorFlow Addons version: 0.12.1
* TensorFlow version: 2.4.0
* Python version 3.8.5

after `bazel build build_pip_pkg` for the below error

`ERROR: /Users/anirbankar/Repos/addons/tensorflow_addons/custom_ops/seq2seq/BUILD:7:18: Compiling tensorflow_addons/custom_ops/seq2seq/cc/ops/beam_search_ops.cc failed: (Exit 1): wrapped_

[2021-05-14 17:28] #2188 closed

[2021-05-14 17:52] seanpmorgan commented on #194
Hmmm I don't have an M1 mac / ARM  to troubleshoot with but it should be possible to build. That error doesn't look specific to your architecture.

Apple does provide a compiled version of TF Addons:
https://github.com/apple/tensorflow_macos

[2021-05-17 16:40] seanpmorgan opened #2484 "Re-build TFA Docs for 0.13 Release"
Hi @MarkDaoust @lamberta when time allows could we please schedule a re-building of the docs now that we have released TFA 0.13 built against TF2.5?

[2021-05-17 16:51] seanpmorgan opened #2485 "Fix Kokoro GPU Testing"
Hi @av8ramit, as of late last week we began getting failing Kokoro jobs with the error:
`[03:23:09][ERROR] Config validation failed!`

Example:
https://source.cloud.google.com/results/invocations/fe13d541-682a-4341-b512-c5be00905338/targets/tensorflow_addons%2Fubuntu%2Fgpu%2Fpy3%2Fcontinuous/log

I looked around and another repo had a similar issue a few weeks ago that they said was resolved on th

[2021-05-17 18:29] lamberta commented on #2484
This should be published now

[2021-05-17 19:45] seanpmorgan commented on #2484
Thanks Billy!

[2021-05-17 19:45] #2484 closed

[2021-05-17 23:44] av8ramit commented on #2485
Hello @seanpmorgan I've taken a look and I believe I've fixed the root cause. The [latest run is green](https://source.cloud.google.com/results/invocations/90a6943a-dcca-4b65-996d-6b1b6d313102/targets).

[2021-05-17 23:45] #2485 closed

[2021-05-17 23:47] seanpmorgan commented on #2485
Thanks so much @av8ramit !

[2021-05-19 17:21] bhack commented on #1641
Finally we have an official TF forum for the whole ecosystem on Discourse https://discuss.tensorflow.org/

[2021-05-19 23:21] ewilderj commented on #1641
I'm so glad that we do, and thanks everyone for the patience and engagement! The machinery involved in ensuring we do this well for an entire project that has this many stakeholders, and taking trust, safety and moderation into account, has been pretty immense. Kudos to @theadactyl and @joanafilipa for leading this project through.

[2021-05-21 13:03] NEGU93 opened #2489 "NotImplementedError: Cannot convert a symbolic Tensor using mean_filter2d"
I am getting the error message:
`NotImplementedError: Cannot convert a symbolic Tensor (mean_filter2d/strided_slice_1:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not supported`
when calling the function like:
`filtered_T = tfa.image.mean_filter2d(one_channel_T, 3) `
where `one_channel_T` is:
[code]

I am running the code on Ubuntu on a

[2021-05-24 10:14] bhack commented on #2489
Can you share the minimal lines to run and reproduce this? I suppose that you can reproduce this also adding a random input line.

[2021-05-25 13:39] guillaumekln commented on #2474
It just means that the shape is not known when building the graph. Can you try using [`tf.print`](https://www.tensorflow.org/api_docs/python/tf/print) instead and see if the actual value is printed?

[2021-05-25 13:52] guillaumekln commented on #1898
No, the issue is still open.

[2021-05-25 14:09] guillaumekln commented on #2459
Did you solve this error? I think the tensor `next_inputs1` is missing the beam dimension. I believe it should have shape `[256,10,512]`.

[2021-05-25 14:23] guillaumekln commented on #2432
Did you manage to solve the issue? Did you try saving the decoder in a [checkpoint](https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint) instead?

If you need to save a self-contained graph, I think you should define a separate `tf.function` wrapping the decoder with a simpler signature. Then you could export this function with [`tf.saved_model.save`](https://www.tensorflow.org/api_docs

[2021-05-27 09:45] m-zheng commented on #2431
@jeongukjae Hi, do you think the focal loss function implemented here is applicable to multi-classification? I think it's only for binary classification.

[2021-05-31 13:49] RandinAk opened #2491 "Open to ideas, I think they are greyed out to indicate you can't use them"
Open to ideas, I think they are greyed out to indicate you can't use them

On Sat, Aug 8, 2020, at 1:41 PM, Mohsen Azimi wrote:

__Originally posted by @orta in https://github.com/orta/playground-transformer-timeline/issues/3#issuecomment-670981190__

[2021-06-01 12:54] sayakpaul opened #2492 "About the SWA tutorial"
Given that SWA needs to have access to a particular LR schedule, I think it might be a good idea to actually update the [tutorial](https://www.tensorflow.org/addons/tutorials/average_optimizers_callback) with a minimal example of incorporating such schedules.

In my experience (as well as what the original authors assert), in order for someone to reap the benefits of SWA, the schedule is important

[2021-06-01 14:04] markustoivonen opened #2493 "Invalid method name in metrics classes"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X 11.2.3.
- TensorFlow version and how it was installed (source or binary): 2.5.0, binary (pip)
- TensorFlow-Addons version and how it was installed (source or binary): 0.13.0, binary (pip)
- Python version: 3.7.
- Is GPU used? (yes/no): no

**Describe the bug**

Not a bug but, a warning is raised when using t

[2021-06-01 17:07] bhack commented on #2492
Do you want to contribute a PR?

[2021-06-01 17:40] sayakpaul commented on #2492
I would rather ask the original author of the tutorial to do it as they would have a better idea.

[2021-06-01 21:12] bhack commented on #2492
I don't think that @abhichou4 is still active in the project.

[2021-06-02 06:00] markustoivonen commented on #2493
Oh, there was an open PR about this. Sorry about that.

[2021-06-02 06:00] #2493 closed

[2021-06-03 00:24] jonpsy commented on #2492
I can give it a shot.

[2021-06-03 12:26] mayou36 commented on #201
Can we maybe reopen this? The problem with all these channels is that they are not in conda-forge. In practice, many people have conda-forge added to the default. Packages in conda-forge cannot just depend on other channels. So to have a downstream package in conda-forge, in reality, the upstream package is also needed in conda forge.

Since there are many channels, it would be good to let the com

[2021-06-05 07:45] jonpsy commented on #2492
Thanks for opening this issue, it looks like there are a few errors in the implementation aside from the things you mentioned. I'll address them all in PR.

[2021-06-05 11:34] diepala opened #2498 "Smoothing metrics during training for EarlyStopping and ReduceLROnPlateau callbacks"
**Describe the feature and the current behavior/state.**

Callbacks such as` EarlyStopping` and `ReduceLROnPlateau` monitor a specified metric (usually the validation loss) to activate their functionality. However, many times the metric value across the training epochs is quite noisy, specially with small datasets or models with stochastic layers (such as models with dropout, variational autoencod

[2021-06-07 02:52] Vanpesy commented on #2193
Hi Guillaume,
What should I use in Tensorflow 1.x?
Thanks.

[2021-06-07 19:06] bhack commented on #2193
Tensorflow 1.x is End Of Life

[2021-06-09 14:39] klaimans commented on #2432
Hi @guillaumekln , sorry for the belated reply. Unfortunately we are still struggling with this. Using a checkpoint works without a problem and as I mentioned we can even create a concrete function which works perfectly. However, sending the model to tf.save_model.save still fails. We have tried different signatures also overriding some of the builtin signatures in tfa.Sampler and tfa.BaseDecoder

[2021-06-11 00:09] stephen-systemfriend opened #2500 "Weight Normalization layer doesn't work with mixed precision"
copied from https://github.com/tensorflow/tensorflow/issues/46001

System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Minimal
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): 'v2.4.0-rc4-71-g582c8d236cb'
Python version: 3.8

[2021-06-14 22:46] seanpmorgan opened #2502 "Embedding Bag Fails GPU Testing"
It looks like our new layer is failing for GPU tests.

https://github.com/tensorflow/addons/pull/2501

https://source.cloud.google.com/results/invocations/42c93476-b0f7-4192-9da5-0dac23c4c92b/targets/tensorflow_addons%2Fubuntu%2Fgpu%2Fpy3%2Fpresubmit/log

@Rocketknight1 when time allows could you please take a look? We can trigger GPU testing on any PR you submit.

e.g.
[code]

[2021-06-15 00:58] atn832 opened #2503 "tensorflow-addons doesn't work with tensorflow-macos"
**Describe the feature and the current behavior/state.**
On my Mac with M1, on which [TensorFlow 2.5 for Mac](https://developer.apple.com/metal/tensorflow-plugin/) is installed, `pip install tensorflow-addons` fails with this error:

[code]

Here's the output of `pip list`:
[code]

**Relevant information**
- Are you willing to contribute it (yes/no): maybe
*If you wish to contribute, then read the

[2021-06-15 01:12] Rocketknight1 commented on #2502
This is very odd - I included the tests with the PR and they passed at the time. I'll try to figure out what's going on when I get a chance this week.

[2021-06-15 05:34] seanpmorgan commented on #2503
Can you use this compilation?
https://github.com/apple/tensorflow_macos

[2021-06-15 16:31] Liu-Da commented on #2503
same issue

[2021-06-15 19:26] Rocketknight1 commented on #2502
This bug seems to only be triggered when the combiner mode is set to 'mean' - that narrows it down a lot, and means the CUDA is probably fine. I'm investigating further but hopefully it's just a small issue. I just don't know how it made it through the checks when I first merged it!

[2021-06-15 19:29] seanpmorgan commented on #2502
Thanks @Rocketknight1 for the investigation! The way it made it through checks is our fault. In order to run GPU tests we have to attach a label which triggers Google to test with a GPU instance. There's no GPU instances available for Github CI so this is much appreciated but it does cause some things to slip through the cracks occassionally.

[2021-06-15 19:39] bhack commented on #2502
We used the kokoro label on the PR but probably not on the latest commit in the PR.

[2021-06-16 06:53] tetsuyasu commented on #2503
The attached patch enables source build on M1 Mac.
I hope that this fix will be reflected in the original source code.

[addons.patch.txt](https://github.com/tensorflow/addons/files/6660806/addons.patch.txt)

[2021-06-17 00:55] tetsuyasu commented on #2503
Please review the pull request.

https://github.com/tensorflow/addons/pull/2504

[2021-06-17 00:58] bhack commented on #2503
@Liu-Da Can you test that PR on your M1?

[2021-06-17 01:37] tetsuyasu commented on #2503
Yes, I did. The steps are as follows.

# install tensorflow
pip install tensorflow-macos
pip install tensorflow-metal

# install bazel 3.7.2
xcode-select --install || echo OK
export BAZEL_VERSION=3.7.2
curl -fLO "https://github.com/bazelbuild/bazel/releases/download/${BAZEL_VERSION}/bazel-${BAZEL_VERSION}-installer-darwin-x86_64.sh"
chmod +x "bazel-${BAZEL_VERSION}-installer-darwin-x86_64.sh"
./ba

[2021-06-17 05:17] tetsuyasu commented on #2503
This is a sample build for Python3.9.

[tensorflow_addons-0.14.0.dev0-cp39-cp39-macosx_11_0_arm64.zip](https://github.com/tensorflow/addons/files/6667551/tensorflow_addons-0.14.0.dev0-cp39-cp39-macosx_11_0_arm64.zip)

[2021-06-17 09:59] bhack commented on #2500
/cc @smokrow (As he is the codeowner)

@stephen-systemfriend I don't think that the codeowner (@smokrow) is still available.
Can you try to send a PR with an extend mixed precision test?

[2021-06-19 16:19] Rocketknight1 commented on #2502
@bhack @seanpmorgan I filed a two-line PR that should resolve things

[2021-06-20 15:17] will-rice commented on #641
This issue is pretty old, but since it is still open does that mean I could work on an implementation? I work on ASR and would benefit from an implementation with TensorFlow ops. From what I can tell, everyone is still using the warp-transducer version, and the build process adds additional complexity to projects.

[2021-06-21 04:25] RandinAk opened #2506 "```suggestion"
[code]

__Originally posted by @RandinAk in https://github.com/microsoft/dtslint/pull/325#discussion_r642599492__

__Originally posted by @RandinAk in https://github.com/RandinAk/hello-world/issues/

[2021-06-21 18:18] ShwetaTiwariRepo opened #2507 "No matching distribution found for tensorflow-addons"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): M1 Chip
- TensorFlow version and how it was installed (source or binary): tensorflow-macos       version 2.5.0
- TensorFlow-Addons version and how it was installed (source or binary): not able to install
- Python version: 3.9.4
- Is GPU used? (yes/no):

**Describe the bug**
i am trying to install tensorflow addons us

[2021-06-21 18:36] bhack commented on #2507
It is a duplicate of https://github.com/tensorflow/addons/issues/2503

[2021-06-21 18:36] #2507 closed

[2021-06-21 20:10] qlzh727 commented on #641
Sure, any contribution is welcome.

[2021-06-22 07:36] ntakouris opened #2508 "Time2Vec: Learning a Vector Representation of Time"
**Relevant information**
- Are you willing to contribute it (yes/no): **yes**
- Are you willing to maintain it going forward? (yes/no): **yes**
- Is there a relevant academic paper? (if so, where): [Time2Vec: Learning a Vector Representation of Time](https://arxiv.org/abs/1907.05321)
- Does the relavent academic paper exceed 50 citations? (yes/no): **no** (google scholar counts 15)
- Is there alre

[2021-06-22 07:47] AakashKumarNain commented on #2508
Thanks for the relevant information and the sample but there aren't enough citations. We will wait for some more time to check if the number of citation grows over time. If it does, you can reopen the issue and submit a PR.

[2021-06-22 07:47] #2508 closed

[2021-06-22 13:11] #2506 closed

[2021-06-22 16:37] iamjanvijay commented on #641
@will-rice I have an implementation of RNNT ([link to the repository](https://github.com/iamjanvijay/rnnt)) using TensorFlow ops.  We can work on this together, if you are interested?

[2021-06-22 16:57] will-rice commented on #641
@iamjanvijay sounds good!

[2021-06-23 11:39] RomainBrault opened #2509 "FNet Layer"
**Describe the feature and the current behavior/state.**

I propose to add a new layer, for seq2seq models: FNet. The paper, by google, is rather new but already has a great popularity due to its low memory footprint for large sequences, good performances, and the fact that it is trivial to implement. I can do the implementation and I already contributed to tensorflow_addons (quantiles.pinball).

[2021-06-23 15:44] bhack commented on #2509
We have a tutorial at https://keras.io/examples/vision/mlp_image_classification/

I think that the citation threshold for this paper Is lower then 50. So we need to wait a little bit.

[2021-06-24 07:30] RomainBrault commented on #2509
I can start working on the MR as I'm pretty confident it'll reach the number soon :)

[2021-06-25 00:50] will-rice commented on #641
@iamjanvijay do you want me to just port your ops to the addons loss format and tag you in the PR?

[2021-06-25 10:10] hongyan19890126 opened #2510 "ResourceVariable object has no attribute update_op"
It looks like it can't compute gradients when I using tfra.dynamic_embedding.embedding_lookup,

Errors below:

Traceback (most recent call last):
  File "./main.py", line 224, in <module>
    max_eval_steps=5)
  File "./main.py", line 111, in train_eval
    tf.estimator.train_and_evaluate(estimator, train_spec, eval_spec)
  File "/opt/conda/lib/python3.6/site-packages/tensorflow_estimator/python/e

[2021-06-25 15:44] rafikg opened #2511 "consistency problem of Tensorflow metrics and tensorflow-addons metric"
https://github.com/tensorflow/addons/blob/96136187b14d6508d42bacbf4c619e789ae04078/tensorflow_addons/metrics/f_scores.py#L212-L284

[code]

[2021-06-25 16:28] iamjanvijay commented on #641
@will-rice Yes. That can be a good way to start then we can do iterations over it. What do you suggest?

[2021-06-25 18:15] will-rice commented on #641
that works. I'll put it together and then tag you.

[2021-06-29 10:54] samiarja opened #2512 "Is tensorflow multi-head attention layer autoregressive? e.g. “tfa.layers.MultiHeadAttention”"
I looked at the difference between an autoregressive vs non-autoregressive in transformer architecture. but I am wondering whether the attention layer in TensorFlow is actually autoregressive? or do I need to implement the autoregressive mechanism?

I don't see any option for causal (e.g. causal=true/false) or whether "tfa.layers.MultiHeadAttention" is autoregressive or not

Any thoughts on that w

[2021-06-29 14:23] amjass12 opened #2513 "Clarity in tfa for F1 score"
Hi,

I am integrating the F1 score from tensorflow addons for a multi-label classification problem and there is a part of the documentation tat confuses me. Just to be completely clear, this is a snippet of code demonstrating the gist of the task..

[code]
Each sample contains 2 **known** labels based on 2 bigger classes within sample set (i.e. shape and color).

I am monitoring F1 and will also u

[2021-06-29 14:48] bhack commented on #2512
Check https://keras.io/api/layers/attention_layers/multi_head_attention/

You can use now the Keras version directly as we are going to deprecate our one quite soon.

Use our forum https://discuss.tensorflow.org/ for any question.

[2021-06-29 14:48] #2512 closed

[2021-06-30 06:22] Maja-GH opened #2514 "addons"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no):
*If you wish to contribute, then read the requirements for new contributions in [`CONTRIBUTING.md`](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#requirements-for-new-contributions-to-the-repository)*
- Are you willing to maintain it going forward? (yes

[2021-06-30 08:30] #2514 closed

[2021-07-01 03:47] #2502 closed

[2021-07-01 19:28] bwolfson97 commented on #844
Rather than have to schedule weight decay manually, why don't we just multiply weight decay by the learning rate? This would scale weight decay automatically. This is what they do in PyTorch and in the Fast.ai library.

[Here's](https://github.com/tensorflow/addons/blob/96136187b14d6508d42bacbf4c619e789ae04078/tensorflow_addons/optimizers/weight_decay_optimizers.py#L182) how TFA currently implemen

[2021-07-02 02:10] MHStadler commented on #844
If you read the original AdamW paper, a large part of the motivation behind this weight decay was to decouple the applied weight decay from the learning rate
Scaling the decay by the learning rate is a common error that defeats the purpose of the originally proposed algorithm

[2021-07-05 11:47] fsx950223 commented on #2510
Open it in https://github.com/tensorflow/recommenders-addons

[2021-07-05 11:47] #2510 closed

[2021-07-05 11:50] #2424 closed

[2021-07-05 11:51] #258 closed

[2021-07-05 17:58] bhack commented on #2476
@luozhouyang Are you still interested in CRF? We are looking for a CRF codeowner. We have 9 open tickets related to CRF https://github.com/tensorflow/addons/labels/crf.

[2021-07-06 14:09] Lif3line commented on #1373
This bug appears to still exist in `0.13` at least when saving/loading a model via MLFlow.

[2021-07-06 16:32] bhack commented on #1373
If you have a minimal code snippet to reproduce this with 0.13 please open a new ticket

[2021-07-07 09:13] ziliwang opened #2519 "CRF layers raise InvalidArgumentError in TPU"
I tried training a CRF model in TPUStrategy, but it raised InvalidArgumentError. detail please see: https://colab.research.google.com/drive/1cRm0dd12TIPQbsl9pmI1KdiFtubB0ZIZ?usp=sharing

[2021-07-07 10:33] #2503 closed

[2021-07-07 12:16] Lif3line commented on #1373
The issue disappears in a minimal example I mocked up. The problem likely comes from the distributed setup I'm using, I'm guessing from inadvertently saving in `0.12` followed by extracting in `0.13`. I'll raise separately if it's an issue that can be reproduced using only `0.13`.

[2021-07-07 17:12] bhack commented on #2519
Thanks, we are looking for a CRF codeowner. See https://github.com/tensorflow/addons/issues/2476#issuecomment-874261227

[2021-07-08 10:38] bonlime commented on #844
@MHStadler
You are wrong. The motivation in AdamW was to decouple the wd from gradients. Before, the weights with larger gradients were decayed less (due to larger denominator) which is an undesired behaviour. After the fix all weights are decayed equally.
But another problem arises. As you decrease your LR, the regularisation strength of WD increases because model needs orders of magnitude larger

[2021-07-08 11:59] MHStadler commented on #844
I quote from an email I got from the authors of the paper:

"i) Please verify that AdamW that you are using is consistent with the algorithm given in the paper. Some implementations only decouple
the adaptive gradient update from the weight decay update but still keep the learning rate and weight decay coupled, e.g.,
somewhere in the code lr (scheduled or not) is multiplied by w"

[2021-07-08 12:27] PhilJd commented on #844
Hey, just to give some context: As @MHStadler mentioned, weight decay is intentionally decoupled from the learning rate.
In the paper, both, weight decay and learning rate, are multiplied by a/the *schedule*. So multiplying by the learning rate would be just a proxy for that with the side effect that changing the learning rate (e.g. during hyper parameter search) also changes the regularization st

[2021-07-08 12:38] FeiCoding opened #2520 "tfa.metrics.RSquare: ValueError: Shapes (1,) and () are incompatible"
tensorflow 2.2
keras 2.3.0-tf
tfa 0.10.0
python 3.6

use code:

metrics = [
            tfa.metrics.RSquare(name='RSquare', dtype=tf.float32, y_shape=(1,))
    ]

run multiple epochs, it went well for the first epoch, but return error information for the first epoch.

Error Info:

history = model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=10, callbacks = callbacks)

~/environme

[2021-07-08 12:42] MHStadler commented on #844
@PhilJd I think that sounds like a reasonable compromise, though I still think that this decoupling is vital to get the best out of AdamW (as shown by section 4.2 of the original paper)

[2021-07-08 13:26] bonlime commented on #844
While you are right that in theory one could use different schedules for LR and weight decay, on practice it almost never happens and the schedule is the same, so it's convenient to implement same scheduling by multiplying weight decay by LR. In my head they are still `decoupled`, but user have to be aware about such behaviour and do the math themselves. While it's possible to remember initial lr

[2021-07-08 13:38] MHStadler commented on #844
The point of the separation is not only to potentially have different schedules, but to create "a more separable hyperparameter space". This is what ultimately allowed hyper parameter combinations that enabled AdamW to outperform SGD with momentum

If you check Figure 2 in the paper, you can see the difference between the coupled and decoupled version for the same hyper parameters. Multiplying the

[2021-07-08 13:41] MHStadler commented on #844
@PhilJd If the intention is to include the scaling by LR factor if the flag is set to true (effectively decoupling the LR from the WD, but allowing the same schedule), then I think you should consider having the default set to True instead of False

[2021-07-08 20:49] bonlime commented on #844
This is what i call "user can do the math". If you want real weight decay of 1e-5 and train with lr=1e-3, then the value of wd passed to the optimizer should be 1e-2. While this requires some additional thinking while choosing hyper-parameters, lr and wd are not `coupled` in the same terms they are `coupled` on figure 2 in the original paper.

My understanding was that setting the proposed flag to

[2021-07-10 04:27] adolfogc commented on #2520
Hi, can you try this change:

[code]

[2021-07-10 14:04] ifmaq1 opened #2521 "How can I call adaptive average pooling function for 4D tensor"
**1-)** I have a .pth image features' file with 4D tensor **[batch,dimension,height,width]**. I can see this class **(AdaptiveAveragePooling2D(AdaptivePooling2D):**

Could you please tell me how can I Pass my .pth file tensor to this class in order to get the pooled features as output?

**2-)** How to use this function

**tfa.layers.AdaptiveAveragePooling2D(
    output_size: Union[int, Iterable[in

[2021-07-11 05:31] dsantiago commented on #844
AdamW still not serializable, can't save my Model with `model.save()`

[2021-07-14 12:11] ajakoby commented on #2260
The above gradient accumulation implementation doesn;t work with TF2.5 with multi GPU distribution strategy
strategy = tf.distribute.MultiWorkerMirroredStrategy()

[2021-07-14 13:21] pedrogalher opened #2523 "Matthew Correlation Coefficient not showin value per class in multi-class classification after update"
**System information**
- Windows 10:
- TensorFlow version and how it was installed (source or binary): TF 2.5.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.13.0
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Describe the bug**

In the multi-class classification, using tfa 0.12.1 generates the MCC for each of the classes (as I expected and similar to the result

[2021-07-14 20:08] pedrogalher commented on #2339
@jonpsy
Hi, I think it would be great to both methods: MCC per class and the MCC for the model. I work as a scientist and I find it useful to have the segmentation performance of a model with respect to the classes I want to segment rather than the overall model performance.

[2021-07-15 02:06] fsx950223 commented on #2260
[code]
Here is my implementation

[2021-07-15 02:20] dathudeptrai commented on #2260
@fsx950223 Many thanks. If it's stable, could you make a pull request to support this feature for `tensorflow_addon` ?

[2021-07-15 02:21] fsx950223 commented on #2260
I'm not sure, maybe you could test it.

[2021-07-15 06:08] ajakoby commented on #2260
When running this code on TF2.5 keras (run_eagerly=False) with MultiWorkerMirroredStrategy on 8 GPUs the time to train is ~2 times  slower than running w/o gradient accumulation ( using the Class when accum_step=1).  Do you know what is the reason for this x2 slowdown , the time to train should have stayed at the same.

[2021-07-15 06:19] fsx950223 commented on #2260
Could provide tensorflow profiles?

[2021-07-15 06:29] fsx950223 commented on #2260
I found the default setting is faster than ```accum_steps=1``` on a single device.

[2021-07-15 09:38] fsx950223 commented on #2260
You could test the code on my PR which I have fixed several bugs.

[2021-07-16 09:08] hasansalimkanmaz opened #2526 "F1Score can't be used due to TypeError for Greater operation"
**System information**
- MacOS
- tf version 2.2.1 via pip
- TensorFlow-Addons version 0.11.2 via pip
- Python version: 3.8
- Is GPU used? (yes/no): No

**Describe the bug**

I can't use `tfa.metrics.F1Score`due to the following error.

[code]

**Code to reproduce the issue**

[code]

**Other info / logs**

I think this error results from `tensorflow_addons/metrics/f_scores.py` line 129 ⬇️ from the

[2021-07-16 09:50] bhack commented on #2526
Can you share a minimal gist/Colab with a dummy input to reproduce this?

[2021-07-16 09:54] hasansalimkanmaz commented on #2526
I have solved my issue by the time. Sorry for not being so patient even if I opened this issue working on it for a few hours. I realized that I was feeding labels instead of predicted probabilities to `f1Score` (It is FRIDAY). After changing the input, it worked. Thank you for your very fast response.

[2021-07-16 09:54] #2526 closed

[2021-07-20 13:37] bwegge commented on #2339
Maybe both variants (per class or multiclass) can be supported by a switch in `__init__`, e.g. `multiclass=True` or `False`?

[2021-07-22 12:17] philipwang97 opened #2528 "UserWarning regarding the RSquare metric when used in Keras model"
\Anaconda3\lib\site-packages\tensorflow\python\keras\metrics.py:254: UserWarning: Metric RSquare implements a `reset_states()` method; rename it to `reset_state()` (without the final "s"). The name `reset_states()` has been deprecated to improve API consistency.
  warnings.warn('Metric %s implements a `reset_states()` method; rename it '

Tensorflow 2.5.0
Keras 2.5.0
tensorflow_addos 0.13.0

[2021-07-22 21:07] nicolas-gervais opened #2529 "tfa.rotate() doesn't work in tf.data.Dataset.map()"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version and how it was installed (source or binary): 2.3 binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.13.0 binary
- Python version: 3.8.1
- Is GPU used? (yes/no): yes

**Describe the bug**

`tfa.image.rotate()` doesn't work in `tf.data.Dataset.map()`

**Cod

[2021-07-23 20:55] bhack commented on #2529
Can you try with this:

https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/python/keras/layers/preprocessing/benchmarks/image_preproc_benchmark.py#L42

[2021-07-23 23:24] bhack commented on #2529
/cc @yarri-oss @theadactyl At some point we could handle these duplicates in the ecosystem.

[2021-07-24 00:13] yarri-oss commented on #2529
+1 for putting a process together to catch such duplication issues. I know
Sean wanted to discuss this. I wonder if we could create a pre-submit test
for this somehow?

On Fri, Jul 23, 2021 at 4:24 PM bhack ***@***.***> wrote:

[2021-07-24 14:16] DanielWicz opened #2532 "Online normalization layer"
**Describe the feature and the current behavior/state.**
Online normalization layer allows for a normalization in the case, when input distribution changes significantly over time (RNN, online learning, GANs), and thus techniques like batch normalization hurt more than help.

**Relevant information**
- Are you willing to contribute it (yes/no):
*If you wish to contribute, then read the requirement

[2021-07-24 18:06] AakashKumarNain commented on #2532
At present, we are only accepting contributions that pass a minimum threshold. Please feel free to open this again once it meets the criteria

[2021-07-24 18:06] #2532 closed

[2021-07-28 00:49] bhack commented on #2529
`!pip install -U tf-models-official`

[code]

[2021-07-28 09:56] RayGuo-C opened #2534 "Problems about SpectralNormalization"
Dear,

When I use ```tfa.layers.SpectralNormalization``` in discriminator network by training the DCGAN. But it shows following warning:
[code]

Looking forward to your reply.

Best Regards

[2021-07-28 15:03] andrevitorelli opened #2535 "Gradients of the resampler do not match finite differences on a integer-pixel grid."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **CentOS Linux release 8.3.2011**
- TensorFlow version and how it was installed (source or binary): **binary**
- TensorFlow-Addons version and how it was installed (source or binary): **binary**
- Python version: **3.8.3**
- Is GPU used? (yes/no): **yes** (but results are the same if not using)

**Describe the bug**

[2021-07-28 17:19] bhack commented on #2535
I don't think that the codeowner of this is still available /cc @autoih. If you want to send a PR you are welcome.

[2021-07-28 20:34] andrevitorelli commented on #2535
We will try to do so asap, thanks!

[2021-07-29 13:06] zzw922cn opened #2536 "Bug in WeightNormalization for Bidirectional RNN"
** code **
tf.keras.layers.Bidirectional(tfa.layers.WeightNormalization(tf.keras.layers.GRU(units_gru, return_sequences=True)), merge_mode='concat')

** problem **
In Weight Normalization, there is no "go_backwards" argument, but Bidirectional needs such argument, so this line code met errors as following:
[code]

[2021-07-29 14:55] Kojo7 commented on #2464
I am having similar issues, please any help would be very great.

[2021-07-29 15:57] guillaumekln commented on #2432
Here's an example that exports a `BasicDecoder` to a SavedModel:

[code]

[2021-07-29 19:36] #2528 closed

[2021-08-02 05:52] rosas-github opened #2537 "tensorflow_addons tutorial"
**System information**
- macOS 11.5.1 (Big Sur) Macbook Air M1 2020

Hi! Would you help with a tutorial for installing Tensorflow and tensorflow_addons in this system?

[2021-08-03 02:03] luozhouyang commented on #2455
The SparseCategoricalCrossnentropy expect logits as prediction outputs, whose dtype should be a float, but `crf_decode_outputs` is a sequence of int. You should use `potentials` to compute the loss .

Here is an example of how to build a CRFModel: https://github.com/luozhouyang/transformers-keras/blob/0751e6c3bf48ceb8773a5bf957149fcc93f3537b/transformers_keras/token_classification/crf_models.py#L1

[2021-08-03 17:11] HeatfanJohn opened #2539 "Build from source - Raspberry Pi - 64-bit OS aarch64: configure.py returns IndexError: list index out of range"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian aarch64 "Debian GNU/Linux 10 (buster)"
- TensorFlow version and how it was installed (source or binary): binary
- TensorFlow-Addons version and how it was installed (source or binary): source
- Python version: 3.7.3
- Is GPU used? (yes/no): no

**Describe the bug**
While trying to build addons from source, r

[2021-08-03 17:47] bhack commented on #2539
Can you send a PR?

[2021-08-04 10:37] #2539 closed

[2021-08-04 10:59] MayStepanyan opened #2541 "reset_state/reset_states methods in F-metrics"
**System information**
Doesn't matter

**Describe the issue**

I'm training a model using tfa.metrics.F1Score, and after every epoch I'm getting the same message:

`/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/metrics.py:257: UserWarning: Metric F1Score implements a `reset_states()` method; rename it to `reset_state()` (without the final "s"). The name `reset_states()` has been d

[2021-08-04 11:18] bhack commented on #2541
It was a https://github.com/tensorflow/addons/issues/2528 dub and it was already fixed on master/nightly https://github.com/tensorflow/addons/pull/2533

[2021-08-17 05:03] triper1022 opened #2542 "Callbacks of RectifiedAdam's learning rate"
**Describe the feature and the current behavior/state.**
I am trying use your sample code to track the RectifiedAdam's learning rate.
But I used the default setting and I can't get the results.
Would you tell how to get it work? Thanks a lot.

[code]

[2021-08-17 16:03] #2542 closed

[2021-08-18 00:07] yifeipet opened #2543 "Do not Support Tensorflow 2.6.0 while Colab has already set Tensorflow 2.6.0 as the default."
Tensorflow addon does not support Tensorflow 2.6.0 but Google Colab has already upgraded Tensorflow to version 2.6.0. I downgraded Tensorflow to 2.5.0 but Colab does not have GPU support for Tensorflow 2.5.0.
Please add something so to make Tensorflow addon also supports Tensorflow 2.6.0. Thank you!

[2021-08-18 00:11] bhack commented on #2543
Thanks, you can subscribe to https://github.com/tensorflow/addons/pull/2516

[2021-08-18 00:11] #2543 closed

[2021-08-19 11:57] shkarupa-alex opened #2544 "EmbeddingBag for ragged indices"
**Describe the feature and the current behavior/state.**
Currently EmbeddingBag  and underlying op works only with dense tensors.
But a lot of nlp ops/tasks in modern require to use RaggedTensors. Converting them to Dense will cause performance downgrade.

For example, let's take FastText ngram method.
We have a batch of words [BATCH]. We want to split them into ngrams [BATCH, NGRAMS].
Then we loo

[2021-08-19 14:07] bhack commented on #2544
We have discussed a little bit about the sparsity at:

https://github.com/tensorflow/addons/pull/2352#issuecomment-763042721

/cc @tanguycdls @aartbik

[2021-08-23 07:01] tanguycdls commented on #2544
Hello ! +1 for that issue, We migrated from Torch to Tensorflow and we're also missing the EmbeddingBag op  https://pytorch.org/docs/stable/generated/torch.nn.EmbeddingBag.html that takes as input a ragged input instead of a dense one.
We started by using safe_embedding_lookup_sparse but since we were only using the sum aggregator we recently moved to using a sparse dense matmul instead to reduce

[2021-08-25 05:45] shkarupa-alex opened #2549 "EDT + FP16 instability"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version and how it was installed (source or binary): 2.6.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.14.0
- Python version: 3
- Is GPU used? (yes/no): no

**Describe the bug**
When set output dtype to float16 in some cases result contains Inf values

**Code to repro

[2021-08-25 07:13] shkarupa-alex opened #2550 "GroupNorm + FP16 instability"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version and how it was installed (source or binary): 2.6.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.14.0
- Python version: 3
- Is GPU used? (yes/no): no

**Describe the bug**
In some cases GroupNormalization layer generates Inf/Nan values with mixed_fp16 policy.

*

[2021-08-25 15:37] MR-T77 commented on #2503
(sorry if this is not the space for this question) How can I use this solution to install tensorFlow-addons into a Conda environment under macOS M1?

[2021-08-28 07:00] howl-anderson commented on #2455
Hi @YangHan-Morningstar I just submit a  **WIP** tutorial for CRF layer at #2552 . It will show you how to use CRF layer. If you still have any questions about how to use CRF layer after read the tutorial, please let me know it.

[2021-08-28 07:13] howl-anderson commented on #2519
Hi @ziliwang, for keep you updated. I am working on this issue.

[2021-08-28 08:52] howl-anderson commented on #2454
@bhack Please also label this issue with `crf`. So, we can find it by `crf` in label filter.

[2021-08-28 09:12] howl-anderson commented on #2115
Hi @xuxingya , your model building is incorrect. replace `output = crf(output)[0]` with `output = crf(output)` will fix your problem. You can check double it at https://colab.research.google.com/drive/1T5VMO3Q2GCN27tqRpSkrO1a8-SyhBnmG?usp=sharing.

[2021-08-28 09:13] howl-anderson commented on #2115
@bhack This issue is CRF related, so please label it with `crf`.

[2021-08-28 09:21] howl-anderson commented on #2115
@xuxingya Also, you may find this PR #2552 helps. It uses Custom Training Loop programming style instead of Custom Training Step. Both methods can work.

[2021-08-28 15:33] howl-anderson commented on #2519
Hi @ziliwang , after investigation, I am pretty sure it is a bug of Keras. If you change your code from:

[code]

add one line of code:

[code]
 It will fix the error. it is a weird behavior. Maybe is a bug of functional Keras API. You can double check by running code at https://colab.research.google.com/drive/1ryCgLJxPbIcTe6xgN4EH6hDDLLSrpHQW?usp=sharing

And I have found that this behavior only

[2021-08-28 15:56] howl-anderson commented on #2418
Hi @koren-v , that probability you mentioned is the emission probability?
if so, I think you can use `tfa.layers.CRF` to get the potentials (as logits).

In following sample code:
[code]
`potentials` is the thing you want.

----

I did not understand your question, can you rephrase it in detail?

[2021-08-28 16:17] howl-anderson commented on #2363
I am the author of this repo, and I happy to bring back the CRF accuracy feature to TFA. I will submit a PR for it when it is ready.

`constraints` in the AllenNLP (https://docs.allennlp.org/main/api/modules/conditional_random_field/) is awesome feature too. It also exits in my repo (in a different branch). I hope I can bring it to the TFA in the future.

[2021-08-28 16:27] howl-anderson commented on #2088
Regarding to `returns the probabilities for every tag for each token in sequence`.  Do you means you want the emission probability of each words?

if so, I think you can use `tfa.layers.CRF` to get the potentials (as logits).

In following sample code:

[code]

`potentials` is the thing you want.

[2021-08-29 11:00] bhack commented on #2519
/cc @qlzh727 What do you think?

[2021-08-29 20:34] qlzh727 commented on #2519
@yuefengzhou from distribution strategy team.

From https://colab.sandbox.google.com/drive/1ryCgLJxPbIcTe6xgN4EH6hDDLLSrpHQW?usp=sharing#scrollTo=tpLYkZyVIoV6, the output of model.weights[0] is a TPUDistributedVariable, which is intended, but I am not sure why the chain_kernel:0 has numpy unavailable. The rest of the replica has the same value. Maybe it is a variable read issue when get_value is c

[2021-08-29 20:55] evanatyourservice commented on #1703
For what it's worth, I was able to get it to work with data_init=False, because the problem in your error code, `self._naked_clone_layer.set_weights(self.layer.get_weights())`, is only called if data_init=True.

[2021-08-29 20:57] evanatyourservice commented on #1703
I actually thought this might be a problem before I even tried tfa weightnorm on TPU... The real question for this issue is, how to do weightnorm paper's data-dependent weight init in a tf distributed strategy?

[2021-08-30 21:03] qlzh727 commented on #2519
@yuefengz

[2021-08-31 06:53] DLPerf opened #2553 "Performance issue in the definition of test_crf_log_likelihood, tensorflow_addons/text/tests/crf_test.py(P1)"
Hello, I found a performance issue in the definition of `test_crf_log_likelihood`, tensorflow_addons/text/tests/crf_test.py, [tf.expand_dims](https://github.com/tensorflow/addons/blob/a69c12a26e129d9fb388114fa65fc3ddac16a977/tensorflow_addons/text/tests/crf_test.py#L313) will be called repeatedly during program execution, resulting in reduced efficiency. I think it should be created before the loo

[2021-09-02 06:11] jeongukjae commented on #2529
I found this while searching how to use `tfa.image.rotate`. I tried this using `tensorflow==2.6.0` and `tensorflow-addons==0.14.0` but I cannot reproduce this issue.

colab link: https://colab.research.google.com/drive/1MsywxouFx2Ikfh0nO-svjgeYgePdBarB?usp=sharing

[2021-09-03 13:39] DLPerf commented on #2553
@eli-osherovich Hi, my friend, could you consider my issue asap?

[2021-09-03 14:23] bhack commented on #2553
/cc @howl-anderson

[2021-09-03 14:34] howl-anderson commented on #2553
@DLPerf Thank you for your reporting. I will take a closer look on it and I will keep you posted.

[2021-09-04 05:27] howl-anderson commented on #2553
@bhack @DLPerf Since this issue only affect testing not the CRF function itself and we have some high priority tasks for CRF (critical bugfix #2476 / refactor #2271 / tutorial #2552 / model wrapper #2555) need be done. So, I mark this issue as low priority. But don't worry, this issue is tracked and on my radar.

[2021-09-08 08:49] MohamedAliRashad opened #2561 "Add SigmoidF1 & UnboundedF1 Loss functions"
One of the latest loss functions proposed last month for MultiLabel Classification was in this [paper](https://arxiv.org/pdf/2108.10566v1.pdf), where the authors developed a differentiable confusion matrix to make the F1 Score not only an evaluation matrix but also a loss funciton.

[2021-09-10 09:52] ziliwang commented on #2519
@howl-anderson Thanks for the replies. I tried to replace the CRF layer with a Keras dense layer, and it has shown everything is ok. I guess the CRF layer is in-compatibility with functional API when in the TPU strategy. I'm a newbie in Keras and TPU, and my target is to use the CRF in TPU strategy, the Sequential API really solved my issue. Thanks again for your help.

[2021-09-10 10:53] howl-anderson commented on #2519
Hi @ziliwang, it's great to see that my code can help you. Since your issue is solved by using sequential API. So, could you close this issue for me? And I will keep trying to find the root cause why CRF layer failed with the TPU strategy. I will keep you updated  in this thread.

[2021-09-13 02:27] #2519 closed

[2021-09-13 09:41] lgeiger commented on #2537
The newest `tfa-nightly` release ships with prebuilt Python 3.8 and 3.9 wheels for M1 Macs. So the next stable release should have full support. @bhack Do you think it would be good to trigger a 0.13.1 release? For 0.14.1 I guess it makes sense to wait until `tensorflow-macos` 2.6.0 is released.

[2021-09-13 09:46] bhack commented on #2537
Ok /cc @seanpmorgan what do you think?

[2021-09-14 02:18] seanpmorgan commented on #2537
Generally in support of 0.13.1 release on tensorflow-macos 2.5 but will hold off a day or two to see if we can settle our strategy on this:
https://github.com/tensorflow/addons/pull/2559#issuecomment-918738096

[2021-09-15 00:07] rosas-github commented on #2537
Sorry, but I still didn't quite understand how to install tensorflow and tensorflow-addons on M1 macos big sur 11+.

[2021-09-18 02:07] howl-anderson commented on #2271
Hi @WindQAQ, thank you for your detailed report. Since this issue was written about 10 months ago, is there any update about those Pros and Cons of both choices? Could you update those statements to make it updated? I am happy to refactor the crf_decode_forward if I get the enough estimate info up to date.

[2021-09-18 02:19] howl-anderson commented on #1923
@invencode Could you provide code for reproduce this issue? Or if your problem is solved by using new TFLite, please close this issue. Thank you very much.

[2021-09-18 12:01] keotic opened #2569 "Add Connected Components from zero / one adjacency matrix"
**Describe the feature and the current behavior/state.**
Add function to extract the Connected Components of an adjacency matrix of an undirected graph.

API:
num_components, components_indexes = extreact_connected_components(adjacency matrix)

adjacency matrix: Tensor[batch, num nodes, num nodes]
num_components: Tensor[batch]
components_indexes: Tensor[batch, num nodes] - each node component inde

[2021-09-18 12:18] #2549 closed

[2021-09-19 19:43] fliptrail opened #2571 "Documentation for Snake activation function is incorrect"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): NA
- TensorFlow version and how it was installed (source or binary): NA
- TensorFlow-Addons version and how it was installed (source or binary): NA
- Python version: NA
- Is GPU used? (yes/no): NA

**Describe the bug**

Documentation for Snake activation function is incorrect. The current documentation says this:
![i

[2021-09-19 21:16] #2571 closed

[2021-09-20 00:21] #1923 closed

[2021-09-20 00:23] invencode commented on #1923
I think it is solved by using new TFLite.

[2021-09-20 09:15] bhack commented on #2569
Thank you for the request but probably It Is better If you will try to propose this in:

https://github.com/aimat-lab/gcnn_keras

Or

https://github.com/danielegrattarola/spektral

[2021-09-20 09:16] #2569 closed

[2021-09-20 10:50] bhack commented on #2271
@howl-anderson I don't think that he is still active in the project.

[2021-09-22 06:58] howl-anderson commented on #2271
@bhack Thank you! I will try to do this by myself.

[2021-09-22 07:09] howl-anderson commented on #2455
Hi @YangHan-Morningstar if my tutorial in the previous comment works for you, please close this PR for me. If it does not work for you or if you have any other question about your code, please submit in the comment so we have the chance to solve it. Thank you!

[2021-09-23 15:31] bhack commented on #2550
/cc @smokrow

[2021-09-24 09:35] NEGU93 opened #2574 "NotImplementedError on tfa.image.mean_filter2d"
**System information**
- Ubuntu 20.04
- tf version '2.4.1'
- tfa version '0.14.0' installed with pip
- Python version: Python 3.8.8
- Is GPU used? (yes/no): yes

**Describe the bug**

The line `tfa.image.mean_filter2d(tf.ones((123, 123, 3)))` gives the error message:

[code]

The error seems to suggest that using a numpy array should work but even when using the `.numpy()` method to the input I ge

[2021-09-24 10:51] NEGU93 commented on #2574
I updated to tf version 2.6.0 and it works Ok.

[2021-09-24 10:51] #2574 closed

[2021-09-26 09:17] MegaCreater opened #2575 "WARNING : tensorflow:5 out of the last 5 calls to <function SpectralNormalization.normalize_weights at 0x7f24f9702160> triggered tf.function retracing."
I am using `tfa.layers.SpectralNormalization` to normalise `tensorflow.keras.layers.Conv2D` weights. I had made the functional model api in which multiple conv2d (or SpectralNormalization) layer repeats, so i have used loop to do that. For example
`
inputs=tf.keras.layers.Input()
x=inputs
for x in range(5):
    x=SpectralNormalization(Conv2D())(x)
    x=ReLU(x)
`

Which give me multiple times, thi

[2021-09-26 09:29] MegaCreater commented on #2534
look #2575. Same problem here (with me) also.
It due to repeated call of @tf.function in [Line - 106](https://github.com/tensorflow/addons/blob/v0.14.0/tensorflow_addons/layers/spectral_normalization.py#L106) of `tfa.layers.SpectralNormalization`.
If we make own api by just copy and pasting source code of  tfa.layers.SpectralNormalization (form [here](https://github.com/tensorflow/addons/blob/v0.1

[2021-09-26 09:31] bhack commented on #2575
You can try to use a x as tensor

See:

https://stackoverflow.com/questions/58972225/tensorflow2-warning-using-tffunction

[2021-09-26 09:39] MegaCreater commented on #2575
@bhack x is already input tensor. As it passed using input layer ->

[code]

and what I am passing that too is also tensor
[code]

[2021-09-26 09:42] bhack commented on #2575
I meant in:

`for x in range(5):`

[2021-09-26 09:47] MegaCreater commented on #2575
@bhack ops! sorry for using same variable name. Its like ->
[code]

[2021-09-26 10:54] fsx950223 commented on #2575
I didn't meet the bug when I run following code:
[code]

[2021-09-26 11:11] bhack commented on #2575
Yes, you cannot reproduce there cause the shape is the defined with the arg

[2021-09-26 19:16] MegaCreater commented on #2575
@bhack very true sir. This doesn't. Because class `tfa.layers.SpectralNormalization` doest call `@tf.function(def normalize_weights(self))` while model\layer build. It is called only when model is trained. Pass sample inputs like ->
[code]
Look this colab file, which I made 4 you -> https://colab.research.google.com/drive/12WiRS_tS94X8H2KLrN22fTNzVIVjSo9r?usp=sharing

[2021-09-26 22:58] bhack commented on #2575
I think that the issue with you loop is that you are changing the input shape for every layer iteration. These are the first ten iteration:

[code]

[2021-09-26 23:01] bhack commented on #2575
/cc @charlielito are you still available as codeowner?

[2021-09-27 00:08] fsx950223 commented on #2575
The reason is that we create ```tf.function```  in a loop:
[code]
I removed internal ```tf.function``` in order to fix the bug.

[2021-09-27 01:14] bhack commented on #2575
Probably the issue Is in the

Check the difference:

[code]
import tensorflow as tf

@tf.function
def add():
    print("Trace ")
    return 1

for i in range(15):
    print(add())
``

[code]

[2021-09-27 01:17] MegaCreater commented on #2575
@fsx950223 thanks. But that is already know that this is due to **repeated call of @tf.function inside loop**  ([in spectral_normalization.py at L106](https://github.com/tensorflow/addons/blob/v0.14.0/tensorflow_addons/layers/spectral_normalization.py#L106)).
**I want to know removing this may/may effect my model performance?**

[2021-09-27 01:21] MegaCreater commented on #2575
@bhack thank a lot. But this should be removed from `class tfa.spectral_normalization.py` - [Line 106](https://github.com/tensorflow/addons/blob/v0.14.0/tensorflow_addons/layers/spectral_normalization.py#L106) will it effect ro slow down model training speed?

[2021-09-27 01:22] bhack commented on #2575
Also I've some general doubt about `normalize_weights` design with `self` only arg for the retracing monitoring as the 2d point in this comment:

https://github.com/tensorflow/tensorflow/issues/40631#issuecomment-649140316

[2021-09-27 01:29] bhack commented on #2575
I don't know as we don't run real end2end benchmark in the CI so I cannot estimate the impact of this on some "real world" models.
You can try to benchmark yourself with few layer.

The orginal review was at:
https://github.com/tensorflow/addons/pull/1244

[2021-09-27 03:33] #2489 closed

[2021-09-27 03:37] #2456 closed

[2021-09-27 17:27] gdavid57 commented on #2434
@bhack I've implemented 3D versions of Non Max Suppression and Crop And Resize algorithms, run basic tests with them, and used them successfully within a deep network. Before following the Contributing guidelines, I believe it is still up to you to decide if these algorithms should be included in tensorflow-addons as this thread is still marked as "ecosystem-review". Do you think it is relevant fo

[2021-09-27 21:58] MR-T77 opened #2578 "module 'tensorflow_addons' has no attribute 'optimizers' (tfa-nightly)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOs M1 (12.0 Beta Monterey)
- TensorFlow version and how it was installed (source or binary): 2.5.0 (pip)
- TensorFlow-Addons version and how it was installed (source or binary): tfa-nightly 0.15.0 (pip)
- Python version: 3.8
- Is GPU used? (yes/no): NA

**Describe the bug**

After installing from nightly version,

[2021-09-27 22:33] bhack commented on #2578
/cc @szutenberg

[2021-09-28 10:26] MR-T77 opened #2579 "Can't build wheel for MacOs M1"
System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOs M1 (12.0 Beta Monterey)
TensorFlow version and how it was installed (source or binary): 2.5.0 (pip)
TensorFlow-Addons version and how it was installed (source or binary): source, following instructions in https://github.com/tensorflow/addons/issues/2503
Python version: 3.9.6
Is GPU used? (yes/no): NA
Describe the bu

[2021-09-28 10:42] bhack commented on #2579
/cc @lgeiger

[2021-09-28 11:03] bhack commented on #2534
Please try to benchmark with and without the `tf.function` (https://github.com/tensorflow/addons/issues/2575#issuecomment-927434490).

In the case you will not see too much performances penalties please open a PR to remove it.

[2021-09-28 11:03] #2534 closed

[2021-09-28 19:13] szutenberg commented on #2578
Hi @MR-T77

I tried to reproduce it:
- tensorflow-cpu          2.5.0
- tfa-nightly             0.15.0.dev20210922190150
- Ubuntu 20.04.1 LTS

Everything seems to be ok.

Please check if you can run the following code:
[code]
What does it return?

If you're still getting an error then please attach the output from `pip freeze`.

[2021-09-28 19:33] bhack commented on #2476
I suppose it is fixed now

[2021-09-28 19:33] #2476 closed

[2021-09-28 20:09] #2398 closed

[2021-09-28 20:56] bhack commented on #2434
I am monitoring your last comment at https://github.com/google-research/google-research/issues/660

[2021-09-28 20:57] bhack commented on #2434
It could be interesting to have a learnable 3d nms like:

https://github.com/abhi1kumar/groomed_nms/blob/main/lib/groomed_nms.py

[2021-09-29 11:50] MR-T77 commented on #2578
Hi @szutenberg!
It seems something was broken with my conda environment (I tried so many things...). I uninstalled tensorflow-addons (0.14) and reinstalled tfa-nightly, and now I can import tfa without error. Just to be sure: whenever I update something on a conda environment, I immediately run code on top of it, I don't restart terminal or vscode (I'm not sure this is the best process or if I sho

[2021-09-29 12:06] bhack commented on #2578
/cc @lgeiger  Can you replicate this on your M1?

[2021-09-30 05:48] szutenberg commented on #2578
@MR-T77 It looks that there are no issues with TFA but there are missing GPU kernels which breaks collocation.

You need to check what types do you use with Equal, Mul and FloorDiv. You can dump graphs (TF_DUMP_GRAPH_PREFIX + turn on vlog) and check it in pbtxt file.

[2021-09-30 10:05] MR-T77 commented on #2578
@szutenberg I'm a newbie on this type of things, sorry. Could you please point me to more detailed description of what I need to do? Thanks in advance

[2021-09-30 10:34] MR-T77 commented on #2578
Also, I'm not using any custom code here. It's a simple BLSTM (3-layer keras Bidirectional(simpleRNN) with a dense output)

[2021-09-30 15:56] #2466 closed

[2021-09-30 19:29] szutenberg commented on #2578
@MR-T77 maybe the easiest would be to provide the code so that we can reproduce it locally.

İf you want to debug it on your own then set TF_CPP_MAX_VLOG_LEVEL to 10, and TF_DUMP_GRAPH_PREFİX=tmp. You should see tmp dir after running the script. Reading placer_input.pbtxt will answer to my question (simply grep -A 20 -rn FloorDiv). You'll see dtypes.

Anyway I'm traveling now so I'm not able to he

[2021-09-30 20:15] MR-T77 commented on #2578
@szutenberg thank you so much for your availability to help! I'll try to understand what's wrong until 12th October. If I'm unsuccessful, I'll contact again.

[2021-09-30 20:40] bhack commented on #2578
Have you already tried with https://www.tensorflow.org/api_docs/python/tf/config/set_soft_device_placement ?

[2021-09-30 20:44] bhack commented on #2578
@szutenberg Could it be a side effect of your introduced `var.device`?

[2021-09-30 20:53] MR-T77 commented on #2578
Yes, it's there in the code: "tf.config.set_soft_device_placement(True)"

[2021-09-30 20:55] bhack commented on #2578
@MR-T77 Yes sorry I missed, is that your code is not well formatted.

[2021-10-01 13:50] #347 closed

[2021-10-01 13:54] bhack commented on #2332
@reedwm Can you take a look at https://github.com/tensorflow/addons/pull/2333 ?

[2021-10-04 22:26] reedwm commented on #2332
I think this issue was fixed by https://github.com/tensorflow/tensorflow/commit/31d58c65625592453cb9456e9cf663d891de599e.

[2021-10-04 22:59] #2332 closed

[2021-10-12 09:14] colynhn opened #2586 "whether the return value of crf in the call function needs to be the same In the stage of train and valid ？"
hello, @howl-anderson :

May i ask you some questions? Details are as follows：

file path: https://github.com/howl-anderson/addons/blob/feature/crf_layer_on_stable_release/tensorflow_addons/layers/crf.py:
code: def call(self, inputs, mask=None, text=None, **kwargs):

the call func return value is always decoded_sequence in the train and valid phase， but in the keras-contrib (keras-contrib/keras_co

[2021-10-12 20:22] old-school-kid commented on #2561
Hi @bhack
Can you please look into the PR #2587

[2021-10-13 07:10] old-school-kid commented on #2561
Oh oww
So will it considered once the citation threshold is crossed?

[2021-10-14 02:17] howl-anderson commented on #2586
Thank you @bhack for mention me. H, @colynhn thank you for your question, I will do some investigation on this (due to the outdated codebase), and feedback here when it's done.

[2021-10-14 22:54] aalizadeh opened #2589 "ModuleNotFoundError: No module named 'tensorflow_addons'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 (using vscode and jupyter virtual env)
- TensorFlow version and how it was installed (source or binary): 2.3.0, pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.14.0 (pip)
- Python version: 3.8.8
- Is GPU used? (yes/no): no

**Describe the bug**

A clear and concise descriptio

[2021-10-15 01:00] aalizadeh commented on #2589
I tried it doesn't let me to upgrade pip:

ImportError: cannot import name 'InvalidSchemeCombination' from 'pip._internal.exceptions' (C:\Users\Azar Alizadeh\newversion\anaconda3\lib\site-packages\pip\_internal\exceptions.py)

[2021-10-16 20:33] fernandoferreira-me opened #2590 "TypeError: __array__() takes 1 positional argument but 2 were given on using F1Score"
Trying to use F1 Score Metric

[code]

https://github.com/tensorflow/addons/blob/334cd7ca8fb944aab38164a13d7d2203d7c39605/tensorflow_addons/metrics/f_scores.py#L208

  File "/Users/fguimara/.pyenv/versions/3.8.5/envs/pleural_2021/lib/python3.8/site-packages/keras/engine/training_v1.py", line 985, in reset_metrics
    m.reset_state()
  File "/Users/fguimara/.pyenv/versions/3.8.5/envs/pleural_2021/l

[2021-10-17 11:37] szutenberg commented on #2578
Hi @MR-T77 ,

I'm sorry but it seems that one more file is missing: definitions.py
``
Traceback (most recent call last):
  File "problem_TCN.py", line 183, in <module>
    simple_TCN(dataset)
  File "problem_TCN.py", line 135, in simple_TCN
    train_db = pickle.load(open('%s.pkl' % (dataset), 'rb'))
ModuleNotFoundError: No module named 'definitions'
``

Could you make sure that it reproduces on g

[2021-10-18 10:13] MR-T77 commented on #2578
Hi @szutenberg,
I'm so sorry for that, the pickle file was saved in a module definitions.py, that's why it is requesting that file, although it does not need it.
I re-saved the pickle in "_main_", and I attach it as well as a more complete _problem_TCN.py_.
[traintest_smallsmc.pkl.zip](https://github.com/tensorflow/addons/files/7363832/traintest_smallsmc.pkl.zip
[problem_TCN.py.zip](https://github

[2021-10-18 18:43] szutenberg commented on #2578
Hi @MR-T77 ,

Unfortunately now I have another error: `AttributeError: Can't get attribute 'Dataset' on <module '__main__' from 'problem_TCN.py'>`

Could you please prepare google colab which demonstrates your problem? Note that you don't need to provide real data - dummy training data is enough: you just need to make sure that shapes match.

Thanks!

[2021-10-18 19:00] szutenberg commented on #2590
Hi @fguimara ,

I didn't get exactly the same error message (full code is not attached) but I think that something is wrong with your code snippet. Output shape should match `num_classes` so I expect that you'd have `model.add(keras.layers.Dense(2, activation=activation))` for `num_classes=2`.

Does it help?

[2021-10-19 18:29] #2589 closed

[2021-10-19 18:30] bhack commented on #2590
Can you share a small google Colab to reproduce this?

[2021-10-20 15:49] jschuetzke opened #2592 "Output current learning rate for RAdam and similar Optimizers"
Maybe I'm missing something here but I'm using RAdam with warmup for a dataset and want to save the concurrent learning rate for each step (to generate some plots, lr vs. loss etc.). According to the documentation, one can set `total_steps` to activate warmup and the model changes the learning rate while training automatically (according to arguments `warmup_proportion` etc.).

Usually I can acces

[2021-10-30 12:11] sun1638650145 commented on #2579
This method is really useful

[2021-10-31 06:34] varun-parthasarathy opened #2593 "Triangular2 cyclical learning rate does not work when logging with Tensorboard"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux CentOS 8/Windows 11
- TensorFlow version and how it was installed (source or binary): 2.6.0 binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.14.0 binary
- Python version: 3.8.6 (Linux)/3.9.7 (Windows)
- Is GPU used? (yes/no): yes

**Describe the bug**

When trying to train a mod

[2021-11-01 07:13] Damcy commented on #2519
@howl-anderson  I meet the same problem when using crf_log_likelihood in TPU. Can CRF be used in TPU now?  Thank you!

[2021-11-02 13:28] MohamedAliRashad opened #2595 "Which optimizer to use for large training projects ?"
I will be training a large model from scratch with a large dataset and i wanted the training process to be as good as possible. what optimizer is advised in such situations ?

[2021-11-04 07:15] jeffersonrodriguezc opened #2596 "tfa.seq2seq: Error in AttentionWrapperState when the Decoder has Stacked RNN cells."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 20
- TensorFlow version and how it was installed (source or binary): Source - 2.6.0
- TensorFlow-Addons version and how it was installed (source or binary): Source - 0.14.0
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

I want to build a seq2seq model with a Decoder with multi

[2021-11-04 09:18] guillaumekln commented on #2596
I think the code expects the encoder and decoder to have the same number of RNN layers (and so the same state structure). You should either use the same number of cells in the encoder, or update the code that initializes the decoder state from the encoder state.

[2021-11-05 21:51] jeffersonrodriguezc commented on #2596
Thank you very much, you are right.

For the encoder model:
![imagen](https://user-images.githubusercontent.com/18648306/140582502-bc2617ef-7d31-43a9-9e15-cbcd19afa9c3.png)

And for the Decoder states initialization:

![imagen](https://user-images.githubusercontent.com/18648306/140582586-dcf336e5-aeff-4f3a-af43-7b67a3737a9b.png)

[2021-11-05 21:51] #2596 closed

[2021-11-10 22:09] keshavbhandari commented on #2543
Tensorflow addons does not support Tensorflow 2.7.0 now. Colab has updated its TF version to 2.7.0.

[2021-11-10 22:30] seanpmorgan commented on #2543
TFA 0.15 was just released.

[2021-11-11 05:07] h-vetinari commented on #201
For those interested, I opened a PR to add this to conda-forge: https://github.com/conda-forge/staged-recipes/pull/16888

[2021-11-12 06:08] h-vetinari commented on #201
Hey all

I managed to get this to build and run the test suite, there's only a handful of tests that fail with some off-by-one errors. I'd really appreciate some input from the maintainers about these (and you'd be very welcome to co-maintain the conda-forge package! 😊)

[code]

Here's a [CI run](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=409878&view=logs&j=6f142865-

[2021-11-12 14:31] jonas-eschle commented on #201
@seanpmorgan can we re-open this issue maybe?

[2021-11-16 01:55] bhack commented on #2595
This a topic for the official [TF forum](https://discuss.tensorflow.org/). Please post a thread there

[2021-11-16 01:55] #2595 closed

[2021-11-19 15:03] fmorenovr commented on #651
I have the similar behavior using AUC metric.
Also, do you know how to load_model when you trained using AUC metrc?? I cannot do that.

[2021-11-19 16:36] ksachdeva opened #2610 "LAMB Optimizer - rename weight_decay_rate to weight_decay"
**Describe the bug**

Unlike the rest of the optimizers API, in LAMB the name of the argument for `weight_decay` is `weight_decay_rate`

In my experiments where I try various different optimizers, this makes me add a special condition for LAMB because of this different name of the argument.

**Code to reproduce the issue**

https://github.com/tensorflow/addons/blob/8cec33fcaaf1cf90aec7bdd55a0fcdbb

[2021-11-19 17:07] ksachdeva commented on #2610
Thanks. I will send the pull request.

[2021-11-20 07:39] girgink opened #2612 "Jetson AGX Xavier 0.15.0 build requires std=c++14 in the crosstool chain configuration"
**System information**
- Jetson AGX Xavier (ARMv8) custom L4T based on Ubuntu 20.04
- TensorFlow 2.7.0 (source)
- TensorFlow-Addons 0.15.0 (source)
- Python 3.8
- Is GPU used? Yes

**Describe the bug**
Because Jetson AGX Xavier has CUDA 10.2, the system includes `build_deps/toolchains/gpu/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl`, which only defines rules for C++11. However TF 2

[2021-11-20 12:49] bhack commented on #2612
Have you checked https://github.com/tensorflow/addons/pull/2605 ?

[2021-11-20 15:16] #2610 closed

[2021-11-21 20:55] girgink commented on #2612
I didn't see that, thanks.

[2021-11-21 21:17] bhack commented on #2612
Let me know if we could close this

[2021-11-25 06:03] fsx950223 opened #2613 "dev_container"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary):
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version:
- Is GPU used? (yes/no):
no
**Describe the bug**
Why tfaddons/dev_container:latest-cpu is so big(6.3GB) and has some CUDA layers and lots of apt-update layers wh

[2021-11-25 11:57] bhack commented on #2613
Yes with free/eval Codespaces the disk space Is limited but the main issues are:

https://github.com/tensorflow/addons/pull/2598#issuecomment-969821170

And
https://github.com/tensorflow/addons/pull/2515

https://discuss.tensorflow.org/t/adopting-open-source-dockerfiles-for-official-tf-nightly-ci/6050/4

/cc @seanpmorgan

[2021-11-25 12:11] fsx950223 commented on #2613
IMO, codespace container should use a different image instead of devops image.

[2021-11-25 12:11] fsx950223 commented on #2613
Why we need multipython in codespace?

[2021-11-25 12:52] bhack commented on #2613
The point is to have the same developer container as the one we are using in the CI so that we are almost on the same page when we develop TF Addons and when we automatically validate it with the CI without having too much risks to be out of sync between the two envs as It Is seems that this type of drift happens quite often, soon or later, when you have two independent envs.

But now we don't hav

[2021-11-25 13:32] fsx950223 commented on #2613
Could we specific different ```.devcontainer``` for different envs? We could separate latest-cpu and latest-gpu docker image.

[2021-11-25 14:52] bhack commented on #2613
We could separate latest-cpu and latest-gpu docker images. If you see the image type was already an arg controlled by `.devcontainer`:

https://github.com/tensorflow/addons/blob/41eaa27d49025c02bfe9520d5e63e1f01a782ddf/.devcontainer/Dockerfile#L1

The problem is that the image on our (Addons) DockerHUB registry is de-facto a GPU one after https://github.com/tensorflow/addons/pull/2598#issuecomment

[2021-11-28 10:12] girgink commented on #2612
Sorry for the delay. Yes #2605 is about the same issue, please feel free to close this.

[2021-11-28 11:29] #2612 closed

[2021-11-29 08:13] SysuJayce commented on #605
tf 2.4.4, tfa 0.14.0

With mirrored strategy, tfa.ema and tfa.swa will raise InvalidArgError. But without mirrored strategy, `model.fit` runs fine
[code]

[2021-11-29 21:02] bhack commented on #2613
TF doesn't want to accept the contribution of an intermediate CPU target based with a small refactoring of their own new receipt https://github.com/tensorflow/build/pull/47#issuecomment-981990104.

So when we are going to merge @seanpmorgan (and mine) https://github.com/tensorflow/addons/pull/2515 we still have all the CUDA layer overhead.

I will accept any suggestion but on my side I don't want

[2021-11-30 16:18] vulkomilev commented on #2593
Okay I can reproduce the bug .I will look at it .

[2021-11-30 16:49] vulkomilev commented on #2593
Okay I have fixed it. I just need to merge the solution

[2021-12-01 17:35] dreavjr commented on #605
I'm facing a similar InvalidArgError, with MovingAverage on tf 2.6.2 and tfa 0.14.0, if I enable XLA with MirroredStrategy. If I disable XLA, it works:
[code]

[2021-12-01 22:58] yarri-oss opened #2616 "Support for macOS Monterey"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Monterey 12.0
- TensorFlow version and how it was installed (source or binary): TF 2.6 binary
- TensorFlow-Addons version and how it was installed (source or binary): TFA v0.15.0
- Python version: 3.8
- Is GPU used? (yes/no): yes - M1

**Describe the bug**

Building from source on macOS Monterey 12.0 causes two

[2021-12-01 23:25] bhack commented on #2616
TF bazel version update was reverted some a few hours ago again:

https://github.com/tensorflow/tensorflow/commit/1f19aea3230acc158538951f4c510d98df3a99ee

[2021-12-01 23:31] bhack commented on #2613
/cc @yarri-oss

[2021-12-03 01:47] charles92 opened #2617 "tfa.image.gaussian_filter2d doesn't support tensor inputs for "filter_shape" and "sigma" args"
# Issue

The `tfa.image.gaussian_filter2d` function doesn't seem to support tensors for its `filter_shape` and `sigma` arguments. Instead it only accepts `int`s and `float`s respectively, severely limiting the use case.

https://github.com/tensorflow/addons/blob/8cec33fcaaf1cf90aec7bdd55a0fcdbb251ce5c2/tensorflow_addons/image/filters.py#L221-L222

In graph mode, when you pass a `tf.Tensor`-typed `

[2021-12-03 09:52] plooney opened #2618 "tfa.optimizers.MovingAverage and default strategy"
I have two machines one with multiple GPUs and one with a single GPU.

I do something like

strategy = tf.distribute.MirroredStrategy() if multi_gpu else tf.distribute.get_strategy()

then in training I do

with strategy.scope():
            optimizer.swap_weights()

This works fine on the multi_gpu machine but on the single GPU machine it produces the error

ValueError: Swapping weights must occu

[2021-12-03 14:13] fsx950223 commented on #2618
MirroredStrategy support single GPU too.

[2021-12-07 22:32] jonas-eschle commented on #201
@kyleabeauchamp could you maybe re-open this issue since there is progress by @h-vetinari?

[2021-12-13 22:06] ninoch opened #2622 "module 'tensorflow_addons.optimizers' has no attribute 'MultiOptimizer'"
I followed the API [documentation](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers), and I cannot use **MultiOptimizer** optimizer. I'm getting the following error when I try to import it (`tfa.optimizers.MultiOptimizer`):

`AttributeError: module 'tensorflow_addons.optimizers' has no attribute 'MultiOptimizer'`

I can import all the other optimizers (`ProximalAdagrad`, `LazyAdam`

[2021-12-13 22:18] bhack commented on #2622
What Is you TF and Addons version?

[2021-12-13 22:19] ninoch commented on #2622
tf is '2.3.2'
tfa is '0.11.2'

[2021-12-13 22:30] bhack commented on #2622
Can you try with an updated version?

[2021-12-15 16:06] paktiger opened #2628 "ValueError: Dimensions must be equal, but are 75 and 8 for"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version and how it was installed (source or binary): Version: 2.7.0
- TensorFlow-Addons version and how it was installed (source or binary):  0.15.0
- Python version: 3.8
- Is GPU used? (yes/no): no

**Describe the bug**
I am using a text dataset on BiLSTM-CRF and I am using Keras for BiLSTM a

[2021-12-16 19:38] seanpmorgan commented on #2613
Discussed this in the grooming meeting. It's certainly something we want supported for Addons, but we're not willing to build our own containers given that custom-op image is no longer supported. Lets bring this up at the next SIG build meeting to see if we can get any traction.

[2021-12-16 19:43] seanpmorgan commented on #2622
MultiOptimizer was added in TensorFlow Addons v0.12.0. Please update to use this feature. Thanks!

[2021-12-16 19:43] #2622 closed

[2021-12-16 19:48] seanpmorgan commented on #201
Hi @h-vetinari thank you very much for your work on this. I've re-opened this issue seeing the progress you've made on the conda forge PR. Given our bandwidth for maintainers on this repo we'll be unable to support this ourselves but we're happy to onboard someone who would like to own this feature. We know this is a commonly requested feature. Please keep us updated on this progress.

[2021-12-20 13:44] chekoduadarsh commented on #1907
@seanpmorgan

Hey, I would like to implement this feature. (This is my first time contributing to Tensorflow) Could you assign this to me?

[2021-12-20 17:55] varun-parthasarathy commented on #2593
@vulkomilev can I ask - why was this occurring, and how did you fix it?

[2021-12-20 18:50] bhack commented on #1865
If you are still interested you need to open a doc PR on the [Keras repository](https://github.com/keras-team/keras).

[2021-12-20 18:50] #1865 closed

[2021-12-21 08:24] colynhn commented on #2586
H, @howl-anderson Is there any conclusion to this question? thank you.

[2021-12-21 20:53] tabmoo opened #2629 "Does F1Score support MirroredStrategy for training and validation?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow version and how it was installed (source or binary): 2.4.0, binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.14.0, binary
- Python version: 3.8
- Is GPU used? (yes/no): yes, DGX-2 = up to 16 V100.

**Describe the bug**

I'm trying to use F1Score as a metric f

[2021-12-21 22:02] bhack commented on #2629
Please share a very minimal standalone example (dummy minimal model with dummy minimal input data). A self contained Colab is better.

For a custom loop and the loss:

https://www.tensorflow.org/tutorials/distribute/custom_training#define_the_loss_function

I suppose you need something similar for the metrics.

[2021-12-22 18:10] tabmoo commented on #2629
Here is the code. Note, that if gpus=1, F1 score is less than 1 after the first epoch (about 0,8).
If we use gpus=2, F1 score almost doubles to impossible value while the official MeanIoU metric stays almost the same.

[code]

[2021-12-22 18:48] bhack commented on #2629
/cc @ssaishruthi @marload are you still available as F1 codeowners?

[2021-12-22 23:14] seanpmorgan opened #2631 "MacOS Arm64 support for stable TF-Addons Releases"
Previously, we've added support for M1 ARM64 wheels and added them to our nightly publishing:
https://github.com/tensorflow/addons/pull/2559

We've excluded this from the stable releases since we're gaited on the release of tensorflow-macos, and we didn't want this to slow down our release process with an unknown SLA:
https://github.com/tensorflow/addons/pull/2600

We've received word of a 1 week

[2021-12-22 23:26] seanpmorgan opened #2632 "Fix backport bot"
Currently, our backport bot is broken. Need to do some investigation to see what the issue is. Help wanted, and ping @gabrieldemarmiesse to see if he can take a look. The error from this PR seemed like there was an issue with git on the bot runner:
https://github.com/tensorflow/addons/pull/2355

[2021-12-22 23:28] seanpmorgan opened #2633 "Utilize the SIG Build images for our release process"
Discussion here:
https://discuss.tensorflow.org/t/adopting-open-source-dockerfiles-for-official-tf-nightly-ci/6050

Will work on this in:
https://github.com/tensorflow/addons/pull/2515

[2021-12-23 09:35] sleter opened #2636 "tensorflow-addons doesn't work with M1 Mac"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 12.0.1
- TensorFlow version and how it was installed (source or binary): tensorflow-macos==2.7.0
- TensorFlow-Addons version and how it was installed (source or binary): tensorflow-addons==latest
- Python version: 3.8
- Is GPU used? (yes/no): yes - M1

**Describe the bug**

There is no library distribution for

[2021-12-23 09:41] sleter commented on #2636
Actually, I just read that: https://github.com/tensorflow/addons/issues/2631 and installed nightly version. I am closing the issue.

[2021-12-23 09:41] #2636 closed

[2021-12-23 10:42] gabrieldemarmiesse commented on #2632
Sup Sean!, I wonder if the bot token is expired. I'll take a look :)

[2021-12-23 21:47] martingoodson opened #2637 "Loss calculated incorrectly in networks_seq2seq_nmt.ipynb"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): N/A
- TensorFlow version and how it was installed (source or binary): N/A
- TensorFlow-Addons version and how it was installed (source or binary): N/A
- Python version: N/A
- Is GPU used? (yes/no): N/A

**Describe the bug**
This bug is in https://colab.research.google.com/github/tensorflow/addons/blob/master/docs/tut

[2021-12-24 09:36] tabmoo commented on #2629
All right, it seems it was fixed in 2.7.0: [https://github.com/keras-team/keras/commit/7d4c5572fa3a9fc2542a1314d06c555f67575cb0#diff-289f0d17443e356650ff03ad977980aa1a77a048a192d9f25415bdd186aabc98](url)

I can confirm that the value is correct now.

[2021-12-24 09:56] #2629 closed

[2021-12-28 05:18] #2633 closed

[2021-12-28 08:34] guillaumekln commented on #2637
Yes, the loss is not correctly reduced. Could you send a PR with your change?

[2021-12-29 20:09] tgsmith61591 opened #2639 "crf_decode_forward misses key RNN kwarg"
In the `crf_decode_forward` method, the `RNN` constructor is missing the `zero_output_for_mask=True` kwarg.

https://github.com/tensorflow/addons/blob/f82a4a6f1d39e440cc028131b478056f3a55a5d7/tensorflow_addons/text/crf.py#L493

Without this argument, the provided `mask` will not zero out masked timesteps. Here is the [relevant documentation](https://www.tensorflow.org/api_docs/python/tf/keras/laye

[2021-12-29 20:13] bhack commented on #2639
/cc @howl-anderson

[2021-12-30 09:12] ravinderkhatri commented on #2349
I am facing the same issue, however, using tfa.losses.SigmoidFocalCrossEntropy(reduction=tf.keras.losses.Reduction.AUTO) worked like a charm.

This link is not working. Can you please share the updated link?

[2021-12-30 12:49] bhack commented on #2349
@ravinderkhatri Keras-cv Is under refactoring.

We have a PR at https://github.com/tensorflow/addons/pull/2422

[2021-12-30 17:56] tgsmith61591 commented on #2639
Add a PR for this here: https://github.com/tensorflow/addons/pull/2642

[2022-01-02 14:11] darkBuddha commented on #2579
great tip, thank you!

[2022-01-03 16:36] bhack commented on #1903
@seanpmorgan Can we close this?

[2022-01-03 16:36] bhack commented on #2018
@seanpmorgan Can we close this?

[2022-01-03 16:40] #1903 closed

[2022-01-03 16:40] #2018 closed

[2022-01-05 05:22] deathrc opened #2643 "MultiOptimizer: Could not interpret optimizer identifier"
**System information**
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow version and how it was installed (source or binary): tensorflow-gpu via conda
- TensorFlow-Addons version and how it was installed (source or binary): via conda
- Python version:3.6.5
- Is GPU used? (yes/no): yes

**Describe the bug**
When I tried to use finetune from a existing model, set different learning rate for

[2022-01-05 10:43] bhack commented on #2643
I cannot reproduce this on colab using `from tensorflow.keras.optimizers import Adam`

[2022-01-05 19:10] f4at opened #2644 "Gradient checkpointing"
**Describe the feature and the current behavior/state.**
By checkpointing nodes in the computation graph defined by your model, and recomputing the parts of the graph in-between those nodes during backpropagation, it is possible to calculate this gradient at reduced memory cost, without sacrificing a lot of performance. It's a lot better than using gradient accumulation.

**Relevant information**

[2022-01-06 03:56] #2644 closed

[2022-01-06 22:59] guillaumelorre28 opened #2647 "Cannot install tensorflow-addons with python 3.10"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): pip install
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version: 3.10
- Is GPU used? (yes/no):

**Describe the bug**
Tensorflow-addons cannot be installed with python 3.10.

**Code to reproduce the iss

[2022-01-06 23:23] bhack commented on #2647
https://discuss.tensorflow.org/t/support-python-3-10/

[2022-01-08 15:01] ShamilaNasreen opened #2648 "ValueError: Dimensions must be equal, but are 100 and 19 for '{{node cond/add_1}} = AddV2[T=DT_INT32](cond/add, cond/add_1/Cast)' with input shapes: [?,100], [?,100,19]."
System information

OS Platform: Windows 10
TensorFlow version and how it was installed (source or binary): Version: 2.7.0
TensorFlow-Addons version and how it was installed (source or binary): 0.15.0
Python version: 3.7

I am trying to build a bi_LSTM-CRF model to predict sequence of tags using tensorflow keras and tensorflow addones while training the model it generates the following error.

Val

[2022-01-08 15:22] bhack commented on #2648
/cc @howl-anderson

[2022-01-08 15:53] howl-anderson commented on #2648
Thank you @bhack, I will handle this issue later.

[2022-01-08 22:59] #2643 closed

[2022-01-11 22:58] bhack commented on #2613
We discussed this in today meeting SIG BUILD meeting but It seems that https://github.com/tensorflow/build/pull/47#issuecomment-981990104 review could not go ahead.

[2022-01-13 16:56] khatchad commented on #138
You should be able to use `tf.debugging.assert_equal()` with `tf.function` if you [follow it up with a control dependency](https://www.tensorflow.org/api_docs/python/tf/debugging/assert_equal#returns).

[2022-01-13 17:00] khatchad commented on #138
I don't think you need `tf.debugging.assert_equal()` in eager mode. It should [return `None` in eager mode](https://www.tensorflow.org/api_docs/python/tf/debugging/assert_equal#eager-compatibility). I believe you should be able to use the normal `assert()` functions in eager mode as there is no graph involved.

[2022-01-17 20:47] yacinemrabet1 commented on #2447
`    triplet_loss = tf.math.truediv(
        tf.math.reduce_sum(
            tf.math.maximum(tf.math.multiply(loss_mat, mask_positives), 0.0)
        ),
        num_positives,
    )`

I think they should test if num_positives is equal to zero or not.

[2022-01-18 06:30] poinwater commented on #2631
Hi, I want to ask a few questions about the mac arm support.
1. What is SLA and why you need to get it for supporting tensorflow-macos?
2. Is getting SLA a requirement for supporting m1 platform?
2. Will the TFA 0.16 release support tensorflow 2.5.0 - 2.7.0 on mac Arm64? It seems like the new release is against tensorflow 2.8.0.

If you could answer my questions, I really appreciate it.

[2022-01-18 10:42] tdrvlad commented on #2447
Hi, yes, indeed, the nan error results from there being not tough positives
in the batch (one has to take this into account, especially when dealing
with small batches) I took the time to elaborate in an article:
https://tudorvladstefan.medium.com/de-mystifying-tensorflows-triplet-loss-deca00ca9479
Cheers!

On Mon, 17 Jan 2022 at 22:48, Yacine MRABET ***@***.***>
wrote:

[2022-01-18 22:09] Sandy4321 commented on #586
do you have  full example for multivariate quantile regressing with using
model = tf.keras.Model()
model.compile('sgd', loss=tfa.losses.PinballLoss(tau=.1))

from
https://www.tensorflow.org/addons/api_docs/python/tfa/losses/PinballLoss

[2022-01-19 08:23] markub3327 opened #2650 "Exclude parameters from AdamW's weight decaying"
Hello,

   I'm working with Transformer and I need to exclude its `pos_embed` parameters defined in my custom Layer from weight decaying and the remaining parameters will be used during weight decaying (all of them are trainable parameters). This behaviour is implemented [here](https://github.com/microsoft/unilm/blob/cb36605436c4c364fd6c4fa7735754d87b551982/beit/modeling_pretrain.py#L100).

Thanks

[2022-01-21 01:25] #2639 closed

[2022-01-21 08:17] howl-anderson commented on #2648
Hi @ShamilaNasreen, can you provide a runnable Google Colab notebook, so I can reproduce this bug.

[2022-01-21 14:31] tanguycdls commented on #2544
@bhack @shkarupa-alex are you still interested by this ? if it's the case we can open a pr and discuss if it should be a new op or an improvement over the Embedding Bag merged here: https://github.com/tensorflow/addons/pull/2352

[2022-01-22 12:22] old-school-kid commented on #1960
Hi @crystina-z
Sorry to bother, but is there any update regarding this? Would be of a great help for my current project. Thank you in advance.

[2022-01-24 00:08] singularperturbation opened #2652 "Proposed feature: Multi-Head Attention with O(sqrt(N)) memory"
The recent paper by Rabe, Staats, et. al on the Google Research team ["Self-attention Does Not Need O(n2) Memory"](https://arxiv.org/abs/2112.05682) provides a numerically stable implementation of multi-headed attention that requires O(√n) memory to compute by not storing the full self-attention matrix in memory.  There are some tricks using chunked computation (rather than all individually) to ma

[2022-01-24 00:13] bhack commented on #2652
Generally we require a little bit of stabilization in research papers so generally we wait for >50 citations.

[2022-01-24 00:14] bhack commented on #2652
You could also try to check if they are interested at https://github.com/keras-team/keras-nlp

[2022-01-24 03:59] singularperturbation commented on #2652
Understandable, thanks!  It looks like early days for keras-nlp so I think I'll just keep this on my branch for now, but I'll check back in on them later (and here again when/if the paper gets more citations).

[2022-01-27 08:27] igor-susic commented on #1753
If anyone searches for this, maybe this will help. I created new metric to get multi class confusion matrix, I know we already have one in addons, but it wasn't helping my cause.

So the metric looks like this:
[code]

This way you basically get matrix at the end for example evaluation, after you do `model.evaluate()` where you could easily calculate Precision, Recall, F1 score (Micro or Macro) ju

[2022-01-28 05:58] MrinalTyagi commented on #2637
@guillaumekln I would like to contribute to this if no one is working on it.

[2022-01-28 08:47] martingoodson commented on #2637
I will submit this pull request shortly. I've been on holiday.

--
Martin Goodson
@martingoodson

   -

   -

On Fri, Jan 28, 2022 at 5:58 AM MrinalTyagi ***@***.***>
wrote:

[2022-01-28 09:15] MrinalTyagi commented on #2637
sorry. thought it was available for contribution

[2022-01-29 12:12] markub3327 opened #2653 "F1Score is not working with sparse labels"
Hello,

   I tried to use F1Score metrics instead of accuracy during training. I get an error with incompatible shapes because I used sparse_categorical_crossentropy and my labels are sparsely defined.

Please can I or you implement a sparse version of F1Score?

Thanks.
Have a nice day.

[2022-01-29 14:32] markub3327 commented on #2650
Sorry, it's solved here #2624.

[2022-01-29 14:32] #2650 closed

[2022-01-31 06:56] shkarupa-alex commented on #2544
Yes, still interested

[2022-02-01 20:42] intervolga-school opened #2658 "EDT performance in real app: gpu-version is ~24 slower then cpu one"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): default colab version
- TensorFlow-Addons version and how it was installed (source or binary): binary, 0.15.0
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**
Last 6 month i used tensorflow-addons EDT in different m

[2022-02-01 21:41] bhack commented on #2658
Last time it was optimized by @fsx950223 with https://github.com/tensorflow/addons/pull/2402

[2022-02-02 08:57] fengyang0317 opened #2659 "No gradients to transforms in tfa.image.transform"
**Describe the feature and the current behavior/state.**
back prop the gradient to transforms.

**Relevant information**
- Are you willing to contribute it (yes/no): no
- Are you willing to maintain it going forward? (yes/no): no
- Is there a relevant academic paper? (if so, where): no
- Does the relavent academic paper exceed 50 citations? (yes/no): no
- Is there already an implementation in anot

[2022-02-02 08:58] fengyang0317 commented on #2659
A test code
[code]

[2022-02-02 12:46] #2201 closed

[2022-02-02 19:03] khatchad commented on #13
But, how would users (developers) know to turn that option on? Developers would be burdened with having to know something about the internal API implementation details.

[2022-02-03 12:50] christian-steinmeyer commented on #2647
With Tensorflow 2.8 released, python 3.10 now is supported on that end

[2022-02-03 12:53] christian-steinmeyer opened #2660 "Support Tensorflow 2.8 (and python 3.10)"
**Describe the feature and the current behavior/state.**
In a virtual environment with python 3.10 and tensorflow 2.8.0 installed, running `pip install tensorflow-addons` yields:
[code]
**Relevant information**
- Tensorflow 2.8 [was released yesterday](https://github.com/tensorflow/tensorflow/releases/tag/v2.8.0)

**Who will benefit with this feature?**
all users that want to use python 3.10

[2022-02-03 13:01] bhack commented on #2660
The PR is WIP https://github.com/tensorflow/addons/pull/2635

[2022-02-03 13:38] christian-steinmeyer commented on #2660
Nice! Thanks! Searched for a couple of terms in the issues, but didn't come across this PR.

[2022-02-05 18:25] StephanElter opened #2661 "Building a wheel for Mac M1 is getting an error"
Hello all,
I tried to build a wheel for Mac M1 for the last Addons. I did it like described in #2503.
I get the following error. Does someone know what the problem is?
Because i use Tensorflow 2.7. (Python 3.9.5) I couldn't use the wheel from #2503
if someone can provide a build wheel for Addons >= tensorflow-addons-0.15.0.  it would also help.

Thanks a lot !

Starting local Bazel server and conn

[2022-02-08 07:45] YinSun0 opened #2662 "Nadam with MovingAverage or SWA throws error "no attribute '_m_cache_read'""
**System information**
- Linux Ubuntu 18.04
- TensorFlow version 2.7.0 (with pip install)
- TensorFlow-Addons version 0.15.0
- Python version 3.6 + Ipython version 7.22
- Is GPU used? No.

**Describe the bug**

In any and every regular Neural Network I try (that is, I did not try CNNs, GNNs or RNNs) to use MovingAverage or SWA with the Nadam optimizer, I get an error.

**Code to reproduce the issu

[2022-02-11 06:43] sky2code commented on #2662
me too, the same problem

[2022-02-11 06:45] sky2code commented on #2662
the  tensorflow 2.8.0 has release, when tensorflow-addons 0.16.0 release?

[2022-02-12 13:18] m0nzderr commented on #2387
Looking forward to that, especially available as a GPU kernel so that tensors should not travel from CPU to GPU back and forth. @tabakg I'm still thinking of a high-level implementation, just to give it a try for my case. What kind of matrices did you solve (size, sparsity)? Did you optimize for bandwidth?

[2022-02-14 00:32] JiashuGuo opened #2664 "What's the equivalence of tf.contrib.legacy_seq2seq.attention_decoder in tensorflow2?"
**Describe the feature and the current behavior/state.**

I have to get a model that was built with tf1 to run with tf2 but didn't find the equivalence of the function `tf.contrib.legacy_seq2seq.attention_decoder` in the `tf_addons seq2seq API`, for example, how do you upgrade this functions in tf2? Is there any function that does the same work as `attention_decoder` or do I need to write an atten

[2022-02-14 09:18] guillaumekln commented on #2664
There is no direct replacement for this function but there are modules that achieve the same thing.

* You can extend your RNN cell with an attention mechanism using [`tfa.seq2seq.AttentionWrapper`](https://www.tensorflow.org/addons/api_docs/python/tfa/seq2seq/AttentionWrapper)
* You can create a decoder with the RNN cell using [`tfa.seq2seq.BasicDecoder`](https://www.tensorflow.org/addons/api_doc

[2022-02-14 17:01] JiashuGuo commented on #2664
Thanks for the reply, do you know any examples of implementing that?

[2022-02-14 23:31] BlueskyFR opened #2665 "y_true not cast to one_hot if needed in f1_score metric"
Hi!

As per [this line](https://github.com/tensorflow/addons/blob/8cec33fcaaf1cf90aec7bdd55a0fcdbb251ce5c2/tensorflow_addons/metrics/f_scores.py#L167), if `y_true` is not under the `one_hot` form (i.e. an integer), the call will fail, so it must be converted to `one_hot` encoding if needed before.

[2022-02-14 23:55] JiashuGuo commented on #2664
Thanks for the reply, do you know any other more detailed examples or docs? I didn't find the Returns in the document.

[2022-02-15 05:19] Aditya-Jha2002 commented on #2665
Hey maintainers. Can this issue be assigned to me.
I am thinking of adding a check here to see if the y_true in one_hot encoded. If not then it will convert to one_hot encoding.

[2022-02-15 15:33] seanpmorgan opened #2666 "Fix Sklearn and Skimage Testing Dependencies"
The build for TF2.8 and specifically python 3.10 requires us to increment the version of sklearn and skimage.  Unfortunately this causes conflicts with the lowest version of NumPy we need to support for our TensorFlow compatibility matrix.

As each TF release occurs, we should check to see if we can return the 5 tests that were skipped as part of:
https://github.com/tensorflow/addons/pull/2635

Al

[2022-02-15 15:53] michelkok commented on #1236
What's the status on this? It seems straightforward enough to modify the `on_epoch_end` and modify the weight decay parameter in the same fashion as the learning rate (as indicated by the [docs](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/AdamW)), but I'd rather have a public implementation of it.

[2022-02-15 16:40] #2647 closed

[2022-02-15 16:40] #2660 closed

[2022-02-15 18:09] seanpmorgan opened #2667 "Pin TF2.8 Build Container to r0.16 Branch"
After https://github.com/tensorflow/build/issues/79 is solved.

[2022-02-15 18:12] bhack commented on #2667
Do we need to pin one container x branch and nightly for master?

[2022-02-15 18:54] seanpmorgan commented on #2631
https://pypi.org/project/tensorflow-addons/0.16.1/#files

[2022-02-15 18:54] #2631 closed

[2022-02-15 18:54] seanpmorgan commented on #2631
1. Service level agreement, it means they will aim to release tensorflow-macos 1 week after tf releases.

[2022-02-16 01:38] bhack commented on #2666
Please check https://github.com/tensorflow/addons/pull/2671#issuecomment-1041002480

[2022-02-16 01:52] sky2code opened #2672 "captures graph tensor AutoCastDistributedVariable"
**System information**
- OS Platform and Distribution (e.g., win11):
- TensorFlow version and how it was installed (tf==2.8):
- TensorFlow-Addons version and how it was installed (tfa==0.16.1):
- Python version:(3.9.7)
- Is GPU used? (yes):

**Describe the bug**
PS D:\stock\source> python .\main_retrain.py
Number of devices: 1
Epoch 1: val_loss improved from inf to 199.99988, saving model to ..\re

[2022-02-16 12:55] bhack commented on #2666
I think that it is safe starting from TF 2.7 so with our next TFA release (TF 2.7, 2.8, 2.9) https://github.com/tensorflow/tensorflow/issues/50204#issuecomment-1007075682
We don't have any issue now with the TF 2.6 API surface that we are testing with our tests here but it is not totally safe.

If you want you close this as generally we are to merging too much features between one release and anot

[2022-02-17 10:11] Zhaopudark opened #2674 "Need more specific padding behavior for convolution layers"
**Describe the feature and the current behavior/state.**

Convolution layer in keras API only support "same", "valid", "causal" and "full" padding.
However, these padding methods is different in shape-wise but same in numerical-wise, i.e., they are all zero-padding.
If we need "reflect" padding, or "symmetric" padding, just like 'tf.pad()', it will be very inconvenient.

So，I  want to make a wrapp

[2022-02-18 09:40] guillaumekln commented on #2664
You can also find an example in the module README which compares implementations with TensorFlow 1 and TensorFlow 2: https://github.com/tensorflow/addons/tree/master/tensorflow_addons/seq2seq#sample-code-and-migration-guide-from-tf-1x

[2022-02-21 06:08] yang-stressfree opened #2675 "model.save failed when use tfa.seq2seq.BahdanauAttention and tfa.seq2seq.AttentionWrapper"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **test on macOS 12.2 and Ubuntu 18.04.6 LTS**
- TensorFlow version and how it was installed (source or binary): **2.7.0 binary(conda pip)**
- TensorFlow-Addons version and how it was installed (source or binary): **0.15.0 binary(conda pip)**
- Python version: **3.8**
- Is GPU used? (yes/no): **test with GPU and witho

[2022-02-21 06:17] yang-stressfree commented on #2672
I got similar error, details and code to reproduce here https://github.com/tensorflow/addons/issues/2675

[2022-02-21 06:18] yang-stressfree commented on #2675
Similar issue https://github.com/tensorflow/addons/issues/2672

[2022-02-21 07:28] yang-stressfree commented on #2675
Test with:
[code]
get the same error 😢

[2022-02-22 07:24] Zhaopudark opened #2677 "`compute_output_shape` behavior in normalization layers need to fix"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 11
- TensorFlow version and how it was installed (source or binary): binary
- TensorFlow-Addons version and how it was installed (source or binary): binary
- Python version: 3.9.7
- Is GPU used? (yes/no): yes

**Describe the bug**
When calling function `compute_output_shape`  of `tfa.layers.GroupNormalization`

[2022-02-23 03:33] albert239825 opened #2679 "No module named 'keras' when importing tensorflow-addons"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows
- TensorFlow version and how it was installed (source or binary): installed with conda
- TensorFlow-Addons version and how it was installed (source or binary): pip installed
- Python version: 3.9.7
- Is GPU used? (yes/no): yes

**Describe the bug**

When I tried to import tensorflow-addons after installing wi

[2022-02-24 05:14] #2677 closed

[2022-02-28 13:59] yang-stressfree commented on #2675
I figure out why this error occur when try to save the model with `tf.saved_model.save` or `model.save`:
[code]
actually the error explain itself:

Because `tf.saved_model.save` try to convert `batch_seq_encoded` which is a dynamic value as memory of attention mechanism to a static value.

For anyone want to export model by `tf.saved_model.save`, **DO NOT** implement attention mechanism with `tfa.

[2022-03-01 12:30] Jichen66 commented on #1755
I just came across this issue, and have no idea how to solve it at the moment. Have you solved it and could you give me some hints? Many thx in advance!

[2022-03-04 09:11] fsx950223 commented on #2658
Performance issue from other ops, you could test it via follow example:
[code]

[2022-03-04 12:34] fsx950223 commented on #2658
I made a mistake, I should trace it by nvprof and the kernel is really slow.

[2022-03-04 12:47] bhack commented on #2658
We had another proposed impl in:

https://github.com/tensorflow/tensorflow/issues/24410#issuecomment-811358508

[2022-03-07 13:12] innat commented on #2427
@AakashKumarNain what do you think? Will it be useful?

[2022-03-07 22:09] markub3327 opened #2681 "exclude_from_weight_decay in RectifiedAdam()"
**Describe the feature and the current behavior/state.**

Can `RectifiedAdam` have same parameter `exclude_from_weight_decay` as `AdamW`?  We must exclude some parameters of the model from weight decay.

**Relevant information**
- Are you willing to contribute it (yes/no): yes
*If you wish to contribute, then read the requirements for new contributions in [`CONTRIBUTING.md`](https://github.com/ten

[2022-03-08 16:23] bhack commented on #2679
Keras dependency is derived from TF dependency.

[2022-03-08 16:49] cleebp commented on #2679
I see that keras is bundled in tf now but I don't think that allows you to `from keras import...` you still need `from tf.keras...` right?

[2022-03-08 16:51] cleebp commented on #2679
I'm trying to find a way to patch [this line in the utils/types.py](https://github.com/tensorflow/addons/blob/18c8367945cca3897281f4c2eb6e8bf2fccf2d48/tensorflow_addons/utils/types.py#L24) to see if `from tf.keras.engine...` fixes this issue to match the other keras imports around tflow_addons, I'll update this comment if that fixes anything.

[2022-03-08 18:38] bhack commented on #2681
Probably this component it is orphan.
Gently ping @szutenberg

@markub3327 Can you check with a ticket on https://github.com/keras-team/keras if they are interested if you port this in Keras with your `exclude_from_weight_decay` extension?

[2022-03-08 19:37] markub3327 commented on #2681
@bhack  The ticket is done.

[2022-03-08 20:17] bhack commented on #2681
Thank you as `AdamW` was just duplicated [there 25 days ago](https://github.com/keras-team/keras/commit/3b87e6c50be9cd8618aab5b154a72c20a6b97f9b) probably you could add a comment there also for `exclude_from_weight_decay` for `AdamW`

[2022-03-09 06:50] markub3327 commented on #2681
@bhack I have done it.

Please look [here](https://github.com/keras-team/keras/issues/16201).

[2022-03-10 09:24] #987 closed

[2022-03-11 08:55] #2427 closed

[2022-03-11 18:48] bhack commented on #2617
If you are interested  there is another gaussian blur api under review at https://github.com/keras-team/keras-cv/pull/143

[2022-03-15 11:26] Mohabey12 commented on #2464
I am facing similar issue, can anyone let me know how you have solved it.

[2022-03-21 14:47] albertz opened #2683 "AdamW / DecoupledWeightDecayExtension have a race condition"
The current implementation does:
[code]
This means that the optimizer (Adam) update using the gradient will be done after the weight decay.

When calculating the forward + backprop (`grad`), it is arbitrary and non-deterministic whether this will use the original `var` or the weight-decayed `var`.

Is this intended?

A solution would be to add a control dependency for the `_decay_weights_op` itsel

[2022-03-21 18:19] bhack commented on #2683
AdamW is Keras now. Can you check their implementaton:
https://github.com/keras-team/keras/blob/master/keras/optimizers/optimizer_experimental/adamw.py

As It is in Keras we will probably route PRs there.

[2022-03-21 18:47] albertz commented on #2683
I already checked but I'm unsure. This Keras AdamW uses eager mode execution, and has this code:
[code]
I'm not really sure how control dependencies are handled in eager mode. Specifically, will this always be executed after `gradient` in that function is already computed? Or will it not have a control dependency on `gradient`? I don't know. Depending on this, it has the same problem or not.

[2022-03-22 07:39] albertz commented on #2683
Thanks for the link. But this still does not answer the question for me if those heuristics of `tf.function` would add this control dependency on `gradients` to `variable.assign_sub(variable * (1 - lr * wd))` or not. Does it? Why?

[2022-03-22 10:17] bhack commented on #2683
If you reed the Note box in this link with tf.function/autograph the ops are executed in the respected order:

https://www.tensorflow.org/api_docs/python/tf/control_dependencies

/cc @mdanatg probably could details that claim internals in the Docs if you have more questions.

[2022-03-28 04:54] JASC-droid commented on #2503
I installed it using pip in console but with my environment activated.

[2022-04-03 04:21] long123524 opened #2685 "tensorflow-addons-0.6.0"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no):
*If you wish to contribute, then read the requirements for new contributions in [`CONTRIBUTING.md`](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#requirements-for-new-contributions-to-the-repository)*
- Are you willing to maintain it going forward? (yes

[2022-04-03 23:13] wangbingnan136 opened #2686 "Why can we accumulate the gradients like torch? Just cumsum the training loss?"
I found that when I used a very large model like robert-large,the implementation of gradients accumulation like this
https://gist.github.com/innat/ba6740293e7b7b227829790686f2119c
may be very expensive for the gpu memory because  I need to store an additional copy of the parameters of the entire roberta model
in here
"        self.gradient_accumulation = [tf.Variable(tf.zeros_like(v, dtype=tf.floa

[2022-04-04 09:02] exx8 opened #2687 "very strange result with lamb optimizers"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux 20.04
- TensorFlow version and how it was installed (source or binary): 2.8 pip install
- TensorFlow-Addons version and how it was installed (source or binary): 1.6.1 pip install
- Python version: 3.8.10
- Is GPU used? (yes/no):yes

**Describe the bug**
 I ran vit transformer implementations of google, and I tr

[2022-04-04 19:23] exx8 commented on #2687
actually it's quite surprising, though the first step might be buggy-some, it seems that the optimizer "understands" it and try to shift the weights:
![image](https://user-images.githubusercontent.com/8540180/161616365-f4281b0c-318c-4926-96c7-3c9d7102eb67.png)
![image](https://user-images.githubusercontent.com/8540180/161616436-29b7da6a-9459-47e1-b52d-ee5c376c7a47.png)
![image](https://user-images

[2022-04-04 19:27] bhack commented on #2687
@junjiek Are you still active as the LAMB codeowner?

[2022-04-11 14:05] reyhashemi commented on #2647
I have the exact same issue on Ubuntu 20.04.4 LTS

[2022-04-12 16:20] #2679 closed

[2022-04-25 00:41] seanpmorgan commented on #2685
Try updating pip first as 0.6.0 used manylinux2010 packaging:
[code]

[2022-04-25 00:41] #2685 closed

[2022-05-10 12:49] 372046933 commented on #1285
Seems that this issue is not resolved on TF 2.8

[2022-05-11 12:24] jmontalt opened #2698 "Non-uniform fast Fourier transform (NUFFT)"
**Describe the feature and the current behavior/state.**
I was wondering if TensorFlow Addons might be a good home for a non-uniform fast Fourier transform (NUFFT) operator. This is a special type of fast Fourier transform that can be used for signals that are sampled non-uniformly (i.e. at points not lying in a Cartesian grid).

Although it is much less common than its uniform/Cartesian counterpa

[2022-05-11 12:36] bhack commented on #2698
Thanks you for the proposal but we don't have the bandwidth to maintain the overhead of large custom ops.

I suggest to reopen the same issue in the main TF repo.

[2022-05-11 12:36] #2698 closed

[2022-05-11 12:42] jmontalt commented on #2698
To be clear, I'd be happy to help maintain this!

[2022-05-11 12:50] bhack commented on #2698
I understand, nothing personal, but the  [condeowners stats](https://github.com/tensorflow/addons/pull/2024) are not sponsoring the decision of maintaining large c++/cuda components.
Generally we lost codeowners after few months. So it is ok for relative small components but it is hard for a large codebase with custom ops.

I think this is a problem here but also for the main TF repo /cc @yarri-os

[2022-05-11 16:40] jmontalt commented on #2698
I understand. Sorry to hear you haven't had a better experience with codeowners.

Core TensorFlow has previously shown [limited interest](https://github.com/tensorflow/tensorflow/issues/27193) in the feature, which is understandable since only a small subset of the community would have a use for it.

For now it seems it will need to stay in its own package. For anyone reading this who is intereste

[2022-05-11 17:07] bhack commented on #2698
/cc @seanpmorgan

[2022-05-12 16:16] FjodBorg commented on #2658
Did you solve it?

I'm having the problem described here, but only on one of my computers. Basically a laptop gpu (Quadro T1000) beats our server gpu (Quadro RTX 5000).
On my windows laptop it runs "smoothly" with 4 it/s using python3.10.
On my ubuntu 18 desktop it runs with 0.3 it/s using python3.9.

Both pc's run the same binary tensorflow versions and the exact same training/evaluation code:
te

[2022-05-15 08:59] adhadse opened #2699 "Bazel fails to build tf_addons wheel"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- TensorFlow version and how it was installed (source or binary): tf-nightly 2.10.0.dev20220427, binary
- TensorFlow-Addons version and how it was installed (source or binary): pull/2362/head:clahe, source
- Python version: 3.7.13
- Is GPU used? (yes/no): no

**Describe the bug**
I am trying to ben

[2022-05-15 11:17] fsx950223 commented on #471
@seanpmorgan @bhack I could add rocm support for addons and I have passed custom layer ops tests in my local environment. Could tensorflow team provides a CI/CD environment?

[2022-05-15 15:13] fjzhangcr opened #2701 "your ciou customer op according to the ciou paper seems to have the same mistake the paper have."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary):
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version:
- Is GPU used? (yes/no):
no
**Describe the bug**
your ciou customer op according to the ciou paper seems to have the same mistake the paper have.

A clear and co

[2022-05-15 16:12] bhack commented on #2701
/cc @fsx950223

[2022-05-16 06:14] mw66 opened #2703 "AdamW weight_decay cannot be model.saved() TypeError: Unable to serialize"
TypeError: Unable to serialize 1.0000000656873453e-05 to JSON. Unrecognized type <class 'tensorflow.python.framework.ops.EagerTensor'>.

https://stackoverflow.com/questions/69882263/tf-keras-callbacks-modelcheckpoint-type-error-unable-to-serialize-1-0000000656

`wd` is directly copy-&-pasted from:

https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/AdamW

[code]

On stackoverflow, th

[2022-05-17 13:27] fsx950223 commented on #2701
Maybe you should tell the paper's author about it. I used a custom gradient in order to align with paper.

[2022-05-19 19:36] bhack commented on #471
@fsx950223 My opinion is that we could try to upstream the few custom ops we have in TF as we are not trying to accumulate other custom ops if we don't have a quite clear roadmap on the topic we have opened at:
https://discuss.tensorflow.org/t/deformable-convolution-and-other-custom-ops/1951

If these PRs will be accepted in TF we have already the ROCM CI available there.

[2022-05-23 07:06] ulf1 opened #2710 "Implement LayerNormGRUCell"
**Describe the feature and the current behavior/state.**
- GRU cell (RNNs) with layernorm layers.
- Similar to LayerNormLSTMCell https://github.com/tensorflow/addons/blob/d126b4690e7858b85fdb3c9e9a61143c31e9fddb/tensorflow_addons/rnn/layer_norm_lstm_cell.py

**Relevant information**
- Are you willing to contribute it (yes/no): no (too busy rn, sorry)
- Are you willing to maintain it going forward?

[2022-05-24 19:45] shkarupa-alex opened #2712 "Unable to build from source with GPU support"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow version and how it was installed (source or binary): source
- TensorFlow-Addons version and how it was installed (source or binary): source
- Python version: 3.8.10
- Is GPU used? (yes/no): yes

**Describe the bug**

I've downloaded and built from source TF 2.9.1 with GPU support. No errors.

[2022-05-24 20:11] shkarupa-alex commented on #2712
But if I manually replace crosstool_top value in .bazelrc with "@local_config_cuda//crosstool:toolchain" - build successfull.

[2022-05-24 20:22] shkarupa-alex commented on #2712
But if I manually replace crosstool_top value in .bazelrc with "@local_config_cuda//crosstool:toolchain" - build continues...
And another error occured:
[code]

It can be fixed by removing last ", capability" here https://github.com/tensorflow/addons/blob/master/build_deps/toolchains/gpu/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl#L208

And after that build will be successful.

[2022-05-24 20:30] bhack commented on #2712
Can you try to submit a PR?

[2022-05-24 22:46] bhack commented on #2712
@seanpmorgan Do we still needs these build_deps with the new 2.9 toolchain?

[2022-05-25 07:00] VallabhMahajan1 opened #2713 "Character-level seq2seq model for translation and beam search."
I was trying to implement seq2seq translation model at **character level** along with beam search by referring the tensorflow documentation.
[https://www.tensorflow.org/addons/tutorials/networks_seq2seq_nmt](url)

For this,  I tried to change parameter, 'char_level = True' in tf.keras tokenizer, but it didn't worked.

Can someone please help me to solve this issue.

Thank you in advance

[2022-05-25 08:17] andreped commented on #2260
This seems to work just fine for training, but I have some strange behaviour when loading the trained model using tf.keras.models.load_model with compile=True.

After training, I just load the model like so:
[code]

This results in:
[code]

Probably something silly I am missing here? Any ideas, @fsx950223? I just trained a simple CNN classifier, nothing fancy. Works fine if regular Adam is used. T

[2022-05-25 08:45] andreped commented on #2260
I managed to get it working by doing the following modifications.

Seems like the optimizer argument is missing in the get_config. I rewrote the config variable to:
[code]

and added `self.optimizer = optimizer` to `__init__()`.

Then when feeding the Adam optimizer, I got that:
[code]

I believe that is because of the type hint `optimizer: types.Optimizer` in `__init__()`. If you wish to send the

[2022-05-26 15:43] iseong83 opened #2715 "Request for Python 3.10 Support for Arm64"
`tensorflow-macos` now support Python3.10 for arm64, so could you please help us to add Python 3.10 support for tensorflow-addons for arm64?

[2022-05-27 01:53] sun1638650145 commented on #2715
I have a tutorial [here](https://github.com/sun1638650145/Libraries-and-Extensions-for-TensorFlow-for-Apple-Silicon) that you can build yourself, but you can also download it directly from the [releases](https://github.com/sun1638650145/Libraries-and-Extensions-for-TensorFlow-for-Apple-Silicon/releases/download/v2.9/tensorflow_addons-0.17.0-cp310-cp310-macosx_11_0_arm64.whl). I hope to help you. 😊

[2022-05-27 02:25] iseong83 commented on #2715
Thank you for your reply. This is great!  If you are okay, could you add this release to PyPi so that we can install it using `pip`?

[2022-05-27 02:41] sun1638650145 commented on #2715
First, I'm glad to help you. At the same time, I'm also trying to build the `M1` package of `io` and `decision_forests` recently. If it helps you, welcome your star and fork. As for submitting `pip` I'm sorry, because it's not my repo so I can't do this.

[2022-05-27 14:40] YannPourcenoux opened #2716 "Training fails when using Yogi extended with weight decay as optimizer"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow version and how it was installed (source or binary): TF 2.5.3 from pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.17.0 from pip
- Python version: 3.9
- Is GPU used? (yes/no): yes

**Describe the bug**

I get the following error when training using `model.fit()

[2022-05-27 15:07] bhack commented on #2716
Yes currently it is not handing the `apply_state`. If you want you could prepare a PR and extend the yogi test.

[2022-05-27 15:33] upponup opened #2717 "Cite your project"
Hi, first of all, thanks for that great work!

I just wanted to clarify what is the correct way to reference your repository when writing an article? Do you have any ```CITATION.cff``` or ```BibTex``` file?

[2022-05-27 15:58] bhack commented on #2717
No, we still don't have one with the Zenodo entry as in TF https://github.com/tensorflow/tensorflow/blob/master/CITATION.cff.

[2022-05-27 16:14] iseong83 commented on #2715
Gotcha. Thank you for helping with this. It is very useful. Since we are moving forward to Python 3.10, it would be very helpful if we can get official support.

[2022-05-27 16:52] anshkumar commented on #671
@bhack  I'm not sure how fast nms kernel in Tensorflow Lite will work in normal scenario. Anyway, it's not hard to implement fast-nms.
[code]

[2022-05-27 17:59] MR-T77 commented on #2578
Ok, I'm back to this after a while.
So, I've been getting spurious errors while doing model.fit with the Lookahead optimizer (I'm doing fine-tuning with big datasets, and my code just breaks while fitting to different files, and in a not-reproducible way, i.e. each time I run it it breaks on a different file, and on different operations).
I can see that these errors are undoubtedly related to the

[2022-05-27 18:12] bhack commented on #2578
@MR-T77 Just to be sure that it is reproducible on an environment under control with linux can you test the same with Docker + TFA pip:

https://www.tensorflow.org/install/docker

So that we could exclude that is related only to `tensorflow-macos`.

[2022-05-27 18:28] MR-T77 commented on #2578
I'm afraid I can't really help. Installed Docker and tried to pull latest tensorflow and got this error
`WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested
The TensorFlow library was compiled to use AVX instructions, but these aren't available on your machine.
qemu: uncaught target signal 6 (Aborte

[2022-05-27 19:14] bhack commented on #2578
Yes probably they still not have added avx emulation support in QEMU for m1 or it is a  Docker specific issue on m1 like https://github.com/docker/for-mac/issues/6111.

If you can isolate the case and reproduce your error with a minimal code (e.g. like a test) we could try to run it on linux.

As tensorflow-macos and tensorflow-metal are closed source packages we cannot do anything here in the cas

[2022-05-27 20:20] MR-T77 commented on #2578
Well, I was just trying to provide further details, to see if it would help.
The code I sent in October generates this bug, but it seems it only happens when using Lookahead in M1.

[2022-05-27 20:29] bhack commented on #2578
Ok try to post also on https://developer.apple.com/forums/tags/tensorflow-metal

[2022-05-31 15:15] dathudeptrai commented on #2260
Hi @andreped , I just saw your implementation here (https://github.com/andreped/GradientAccumulator). Great work! and I hope it will work fine with multi-gpu strategy :D .

[2022-05-31 15:30] andreped commented on #2260
@dathudeptrai I figured it was time to make a solution available in TF 2 for myself and others who have been using similar solutions for accumulated gradients in TF1.

My implementation is a derived version from @fsx950223, which again is a modified version from the one mentioned above. Hence, all credit to him and the people who contributed to the PR https://github.com/tensorflow/addons/pull/2525

[2022-05-31 19:29] innat commented on #2260
Is there any known reason why we not asking for this feature directly in tensorflow or keras? It's a very useful and recognized feature to have.

It has been asked [HERE](https://github.com/tensorflow/tensorflow/issues/32176) before but closed without any valid reason.

[2022-05-31 19:41] andreped commented on #2260
@innat Good question. I think they concluded with that Keras is the best place to add it, however, to add it there, it should be working as intended, for all relevant use cases, and stable. I'm not sure that is the case for the current version. AFAIK, for one, it does not work in multi-GPU strategy scenarios.

However, that's why I believe TF-addons is a good alternative. Here one can place somewh

[2022-05-31 21:52] innat commented on #2260
I still believe this technique is a good fit to have in core keras API. It would be nice to create a ticket in keras, [HERE](https://github.com/keras-team/keras/issues/new?assignees=&labels=type%3Afeature&template=10-feature-request.md) and discuss it further.

[2022-06-01 07:17] thegodone commented on #2710
yes that would be cool to have LayerNormGRU version in addons

[2022-06-01 18:30] andreped commented on #2260
@innat I observed that you have been asking a question regarding GA on stack overflow and was given an answer:
https://stackoverflow.com/a/66524901

I just tested this implementation, and I get **identical** results using the proposed overload train_step approach and the GradientAccumulator wrapping approach (which should be a lot easier to use):
https://github.com/andreped/GradientAccumulator/blo

[2022-06-01 21:06] andreped commented on #2260
@innat I have gotten the solution you were given on stack overflow working as expected. It yields expected behaviour compared to the gradient wrapping solution (but might be close to getting that one working as well). I have published a wheel you could try, if GA is still of interest to you. Will continue to expand upon this idea to make it more generic.

See here for more information: https://git

[2022-06-02 00:17] innat commented on #2260
@andreped I will. Thanks. (following)

Let's create a ticket on keras if you want to contribute or provide a starter file for the interested contributor.

[stackoverflow.com/a/66524901](https://stackoverflow.com/a/66524901)

Have you tested it on a multi-gpu setup also? Is it working properly?

cc. @bhack what are your thoughts on this (GA) technique adding to core keras?

[2022-06-02 00:25] bhack commented on #2260
I was looking at some API design at:

https://docs.graphcore.ai/projects/tensorflow-user-guide/en/latest/tensorflow/perf_training.html#gradient-accumulation

[2022-06-02 00:31] bhack commented on #2260
You can navigate the repo at:
https://github.com/graphcore/tensorflow/blob/r2.5/sdk-release-2.5/tensorflow/python/ipu/optimizers/gradient_accumulation_optimizer.py

[2022-06-02 01:42] andreped commented on #2260
The optimizer wrapper solution does not, but I have not gotten to testing the train_step overload approach. Might be. I can report what I find.

Yeah, I think so too. I can open a ticket soon to track this feature request soon.

[2022-06-02 04:52] andreped commented on #2260
I have opened a ticket now: https://github.com/keras-team/keras/issues/16633

Lets move the discussion over there.

[2022-06-03 06:45] andreped commented on #2260
@[dathudeptrai](https://github.com/dathudeptrai) Just saw that you mentioned this, which is exactly what I did [here](https://github.com/andreped/GradientAccumulator/blob/main/GradientAccumulator/GAModelWrapper.py#L14). Did you have any problems with using it? Currently, it seems to work quite fine for my applications, but have not checked very advanced situations and edge cases.

Can also be note

[2022-06-03 14:21] TimotheeWright commented on #2647
He's there a way to install tensorflow with conda using python 3.10 ?

[2022-06-06 10:14] umarov90 opened #2725 "tfa.optimizers.MultiOptimizer exception when mixed_precision is enabled."
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): 2.8.2 pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.17.0 pip
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

tfa.optimizers.MultiOptimizer exception when mixed_precision is enabled. The following code

[2022-06-06 19:57] #2715 closed

[2022-06-08 18:29] syedRumman commented on #2339
Hi I was wondering if this issue was resolved for multiclass?

[2022-06-09 22:36] jonas-eschle commented on #201
@h-vetinari any news on this?

[2022-06-14 02:30] seanpmorgan commented on #2715
TFA 0.17.1 released with support for py3.10 on macos arm64

[2022-06-14 04:28] iseong83 commented on #2715
@seanpmorgan That's great news! Thank you for updating this!

[2022-06-17 09:43] lambda-science opened #2728 "Loading model saved with CyclicalLearningRate fails "TypeError: argument "scale_fn" must be a callable""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): Google Colab installation, tensorflow  2.8.2
- TensorFlow-Addons version and how it was installed (source or binary): tensorflow-addons-0.17.1 with pip

- Python version: Python 3.7.13
- Is GPU used? (yes/no): yes

**Describe the bug**

Wh

[2022-06-17 10:05] lambda-science commented on #2728
Nevermind, duplicate to https://github.com/tensorflow/addons/issues/2380 I'll close for now to test the solution.

[2022-06-19 14:27] aAmohammadrezaaA commented on #179
Hello. I hope you are good. There is no implementation of deformable convolution in tensorflow2. Could someone please help me?
There is a deform conv class where you can use it in tensorflow2 but you can not use it in tensorflow model?
How can I make this class to be usable in models?

[2022-06-20 08:28] Cospel commented on #179
@aAmohammadrezaaA  The state of deformable convolution in tensorflow 2 is tearful. There were several different merge requests with different implementations. I tried in the past some of them and all were quite good and working. However both tensorflow team and tf-addons team have little time to do good PR and integration it to the framework. The best advice right now is to try different framework