[2019-06-18 00:26] av8ramit commented on #118
Hi @facaiy we use an internal GCP image, but it's similar to the Docker image you listed.

[2019-06-18 06:23] Squadrick commented on #305
@SSaishruthi Yes, we'll need a running sum of hamming loss and `count` increment every time `update_state` is called. The `result` can return the average value of hamming loss.

[2019-06-18 06:26] SSaishruthi commented on #305
@Squadrick
Perfect, thanks for the clarification. Will submit a PR soon.

[2019-06-18 06:31] Squadrick commented on #305
@SSaishruthi  Use this: [`MeanMetricWrapper`](https://github.com/tensorflow/tensorflow/blob/93dd14dce2e8751bcaab0a0eb363d55eb0cc5813/tensorflow/python/keras/metrics.py#L612). Keras already has something that's wrap a stateless function and does the aggregate.

[2019-06-18 06:33] Squadrick commented on #305
Define a function `hamming_loss` like [this](https://github.com/tensorflow/tensorflow/blob/93dd14dce2e8751bcaab0a0eb363d55eb0cc5813/tensorflow/python/keras/metrics.py#L1537). Then make a `HammingLoss` metric subclassing `MeanMetricWrapper` like [here](https://github.com/tensorflow/tensorflow/blob/93dd14dce2e8751bcaab0a0eb363d55eb0cc5813/tensorflow/python/keras/metrics.py#L754).

[2019-06-18 06:35] Squadrick commented on #265
For reference, hamming loss discussed here: #305

[2019-06-18 06:44] SSaishruthi commented on #305
@Squadrick
Thanks again for the links. Will keep you posted about the updates.

[2019-06-18 11:53] WindQAQ commented on #301
Hi @Mazecreator, thanks for asking here! Could you update the url of http://www.learningace.com/doc/4331582/b6ab058d1e206d68ab60e4e1ead2fe6e/sirds-paper.
I could not access it.

[2019-06-18 20:16] Mazecreator commented on #301
I will see if there is another copy of that paper, that link does seem to be dead now...

I found one:
https://www.cs.waikato.ac.nz/~ihw/papers/94-HWT-SI-IHW-SIRDS-paper.pdf

[2019-06-18 21:23] SSaishruthi commented on #265
Working on other metrics. Will update soon

[2019-06-19 00:30] SSaishruthi commented on #305
@Squadrick
I tried wrapping hamming metrics. Below are the observations.

1. Maintaining `epoch` count and dividing it by current results did not provide the desired result.

Reference: https://colab.research.google.com/drive/1Msuv5xUu7lu5wDH1ei-VOPB-UnBolDfB#scrollTo=DvlbepsGFZjj&line=4&uniqifier=1

2. Instead, I maintained the `count` variable for holding the number of data points in a particula

[2019-06-19 03:24] SSaishruthi commented on #265
Tried f1-beta score and looks fine for now. Call we call f1-score inside the f-beta class and add a beta parameter to it?

By default, beta value will be 1 and when using f1-beta it can be modified.
@Squadrick

[2019-06-19 05:35] WindQAQ commented on #236
@seanpmorgan Hi Sean, is this still active?

[2019-06-19 05:38] WindQAQ commented on #301
cc @seanpmorgan

[2019-06-19 06:11] Squadrick commented on #265
@SSaishruthi Yup, that sounds good.

[2019-06-19 06:32] mels630 opened #307 "PEP8 or Google TF spacing?"
STYLE_GUIDE.md states that Python code for addons should be PEP8-compliant, but also points here: https://www.tensorflow.org/community/contribute/code_style#tensorflow_conventions_and_special_uses for TF conventions. Further up this page there's a discussion of pylint and Google's tf pylintrc, which deviates from PEP8 in preferring two spaces instead of PEP8's four.

Sorry if I've missed prior dis

[2019-06-19 09:01] Squadrick commented on #305
@seanpmorgan @facaiy @WindQAQ

We can't import `MeanMetricWrapper` using `tf.keras.metrics.MeanMetricWrapper`, but can be imported using `tf.python.keras.metrics.MeanMetricWrapper`. Is the latter fine, or should I open a PR for TF master to `tf_export` the API for `MeanMetricWrapper` ([here](https://github.com/tensorflow/tensorflow/blob/8ec93550847eaf9289ff33403bb19fa78c097334/tensorflow/python/ke

[2019-06-19 09:12] Squadrick commented on #305
Exposing `MeanMetricWrapper` will make the implementation much cleaner.

[code]

[2019-06-19 12:27] seanpmorgan commented on #236
Hey Tzu-Wei. Yeah... still active but not a priority. I don't think we'll be gauging OSS adoption until ~6months after TF2 release.

[2019-06-19 12:33] WindQAQ commented on #236
Sure,  thanks for the clarification  :smiley:

[2019-06-19 12:34] seanpmorgan commented on #307
Hi Matt, yeah Addons is stylized with PEP8 and the link to tensorflow style is meant to refer to the conventions within tensorflow. Would be happy to review a PR which clarifies this.

[2019-06-19 12:34] #307 closed

[2019-06-19 14:22] seanpmorgan commented on #305
@Squadrick so tf.python is not a public API and we should avoid it. You can bring this up in this issue:
https://github.com/tensorflow/tensorflow/issues/28601 to see what  tf-core devs recommend. It may be exposing the API as public or just copying it statically into Addons.

[2019-06-19 16:49] SSaishruthi commented on #305
@seanpmorgan @Squadrick
Should I proceed with `Mean` till we get a response on this?

[2019-06-19 20:38] Squadrick commented on #282
@edloper @karmel Any update on this?

[2019-06-20 05:54] SSaishruthi commented on #265
Thanks @Squadrick
Will create a PR for F1-beta soon. Meanwhile, here is the draft of Multilabel confusion matrix for your reference: https://colab.research.google.com/drive/1fsB4tUo23Ejg0MjrqRl-ND5A1amCiYOj

[2019-06-21 08:03] Squadrick commented on #265
@SSaishruthi Feel free to open a PR for the multilabel confusion matrix.

[2019-06-21 18:20] edloper commented on #282
If any modules within tfa.text become highly used and well-tested, we'd be happy to talk about graduating them into tensorflow/text.

[2019-06-23 22:45] #61 closed

[2019-06-25 00:29] SSaishruthi commented on #265
Created PR for F1-Beta. Will create for confusion matrix soon.

[2019-06-25 00:31] SSaishruthi commented on #305
@seanpmorgan @Squadrick

Are we going have a version of `MeanMetricWrapper` in addons?

[2019-06-25 05:30] facaiy commented on #305
I think so, see https://github.com/tensorflow/tensorflow/issues/28601#issuecomment-505098700

[2019-06-25 07:43] Squadrick opened #317 "Implement OneCycleLR callback"
Creating a separate issue for the discussion [here](https://github.com/tensorflow/addons/issues/61#issuecomment-479585706)

@Gokkulnath If you're still interested, you can open a PR.

[2019-06-25 07:44] Squadrick commented on #305
I'm copied the implementation from core TF to TFA: #316. Once that's merged, @SSaishruthi can proceed with the implementation.

[2019-06-25 11:32] svobora commented on #173
I have the same issue as @geometrikal, as I use `tf.data.Dataset`, `map `for preprocessing, there is no workaround for data augmentation with rotations. Please look into it.

[2019-06-25 12:37] seanpmorgan commented on #301
Hi @Mazecreator apologies for the slow response. So we looked at the [tf.contrib usage](https://tf-contrib-analyzer.herokuapp.com/) and unfortunately we didn't see a lot of use. In the interest of keeping our code base manageable I think we'll have to reject this unless there is an outreach from the community saying they're missing it.

Very sorry -- it's no fun turning down contributions.... but

[2019-06-25 12:37] #301 closed

[2019-06-25 15:44] Mazecreator commented on #301
Understood, no problem.  It is a bit of a corner case for 3D data.

[2019-06-25 20:16] geometrikal commented on #173
@seanpmorgen The see this has the help-wanted tag. What would be the overall steps required to try to get this running on Windows?

[2019-06-26 05:17] SSaishruthi commented on #305
Looks like the PR got merged. I will start working on that.

[2019-06-26 05:24] SSaishruthi commented on #265
Hi @Squadrick
I have wrapped multiclass confusion matrix and here is the colab link (under implementation)
https://colab.research.google.com/drive/1fsB4tUo23Ejg0MjrqRl-ND5A1amCiYOj#scrollTo=AT70Ux6EB6qk

Does it look good? If yes, I will go ahead with PR creation

[2019-06-26 13:02] seanpmorgan commented on #282
Closing this issue as we've set up a possible path from tensorflow/addons to tensorflow/text for the right submodules.

As far as suggestions of what to add to tfa.text I would generally prefer it happen a little more organically (i.e. we'll add them as requests come in). Apologies I don't work heavily with NLP so nothing jumps off the top of my head.

[2019-06-26 13:02] #282 closed

[2019-06-26 13:03] seanpmorgan commented on #173
@geometrikal I've created an issue in custom-op repo to discuss the current issue and see how we can get this done.

[2019-06-26 13:03] seanpmorgan commented on #275
@tomerk Closing this issue, but happy to re-open it if you have any additional requests from us. We'd love to see these pointers in the conversion scripts so please let us know anyway we can help.

[2019-06-26 13:03] #275 closed

[2019-06-27 23:21] facaiy opened #321 "LayerNormLSTMCellTest failed in the latest tf2-nightly version"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):
- TensorFlow Addons installed from (source, PyPi):
- TensorFlow Addons version:
- Python version and type (eg. Anaconda Python, St

[2019-06-28 12:31] seanpmorgan commented on #321
Quite busy this week... but cursory look at the commits on 05-25 seems like this may be the one affecting this cell?
https://github.com/tensorflow/tensorflow/commit/eb2ba2256d1a4d0625f54c55f077c41b1629dfb9

cc @qlzh727

[2019-06-28 14:51] qlzh727 commented on #321
tensorflow/tensorflow@eb2ba22 seems to be harmless since the layer is expected to have built = True after invoking the build. We might have some bug in the original cell implementation.

I am quite busy in this week and next few, will take a look if I have time. I don't want to addon to be pinged on a stale version. Feel free to disable the test with a TODO for now.

[2019-07-01 15:07] seanpmorgan commented on #275
For tracking it looks like this was added:
https://github.com/tensorflow/tensorflow/commit/adf9b3de1d4bdc71c28b9e5eed1efa9811ea2c27#diff-9f2f769bb59fddf61e604ff7ac1b1918

[2019-07-01 16:38] #321 closed

[2019-07-02 13:04] dynamicwebpaige commented on #45
Currently being worked by two Google Summer of Code students: Vishal and Adrian.

[2019-07-02 23:30] SSaishruthi commented on #305
@Squadrick
Getting this error when trying to import tensorflow addons in colab.

Any comment on how to get rid of this?
`NotFoundError: libtensorflow_framework.so.2: cannot open shared object file: No such file or directory`

[2019-07-03 00:13] seanpmorgan commented on #305
Could you link the colab notebook? Be sure to run `!pip install tensorflow==2.0.0-beta1` first. This error likely means that you're running tf2-alpha or tf1.x

[2019-07-03 00:17] SSaishruthi commented on #305
@seanpmorgan

Colab link: https://colab.research.google.com/drive/1Msuv5xUu7lu5wDH1ei-VOPB-UnBolDfB

Using tf2-beta1

[2019-07-03 00:20] seanpmorgan commented on #305
Could you try to reset the runtime and run the cells in order again. I just created a copy and it's working:
https://colab.research.google.com/drive/1wKDdQCirA4LEHdx4bgkQHP1YZZSAT-5I

[2019-07-03 00:24] SSaishruthi commented on #305
@seanpmorgan Thanks

I was just resetting the current runtime. Just tried after resetting all the run times and it worked.

[2019-07-03 00:29] SSaishruthi commented on #305
Also, do we need to add `@keras_utils.register_keras_custom_object` before each class? I am trying to import `MeanMetricWrapper` and not able to. Only `CohenKappa` is available

Please view the same notebook for reference

[2019-07-03 01:24] seanpmorgan commented on #305
`from tensorflow_addons.metrics.utils import MeanMetricWrapper` should work?  If you're talking about in a colab notebook you may have to use `!pip install tfa-nightly` if it was added after 0.4 release

[2019-07-03 21:48] sjmielke opened #329 "tfa.seq2seq.sequence_loss can't average over one dimension (batch or timesteps) while summing over the other one"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0=beta1
- TensorFlow Addons installed from (source, PyPi): PyPi
- TensorFlow Addons version: 0.4.0
- Python version and type (eg. Anaconda Python, Stock Python as in Mac, or homebrew installed Python etc)

[2019-07-05 05:53] facaiy opened #332 "Check which image ops are compatible with tf.data.Dataset"
Follow up https://github.com/tensorflow/addons/issues/243.

Here is a check list:
+ [x] dense_image_warp
+ [ ] sparse_image_warp
+ [x] interpolate_bilinear
+ [x] euclidean_distance_transform
+ [x] adjust_hsv_in_yiq
+ [x] random_hsv_in_yiq
+ [x] mean_filter2d
+ [x] median_filter2d
+ [x] angles_to_projective_transforms
+ [x] matrices_to_flat_transforms
+ [x] rotate
+ [x] transform

Like what we did

[2019-07-06 17:58] seanpmorgan opened #334 "Request for example: Triplet Loss"
I think its worth creating issues for key examples that we want shown in Addons. I plan on working on this one in the next day or so.

[2019-07-06 17:59] seanpmorgan opened #335 "Request for examples: Seq2seq"
I believe there are many seq2seq examples already published, but it makes sense that we at least have one or two in our examples section for user experience.

Related:
https://google.github.io/seq2seq/
https://github.com/tensorflow/addons/blob/master/examples/README.md

[2019-07-06 18:00] seanpmorgan opened #336 "Request for example: Weight Decay Optimizers / Super Convergence"
A valuable set of optimizers that are available in Addons.

Related info:
https://www.fast.ai/2018/07/02/adam-weight-decay/
https://github.com/tensorflow/addons/blob/master/examples/README.md

[2019-07-06 18:03] seanpmorgan opened #337 "Request for example: CRF"
This is pending #22 and #314 but once it's merged we should be sure to add some examples as it's highly requested.

[2019-07-07 04:49] #243 closed

[2019-07-07 07:18] howl-anderson commented on #337
I can do this job when #314 is ready.

[2019-07-07 09:42] sayoojbk commented on #25
is anyone working on  sparse_image_warp implementation? If not would be interested in moving forward with it.

[2019-07-07 16:14] kyleabeauchamp commented on #25
It's already being worked on and is mostly finished: https://github.com/tensorflow/addons/pull/252

[2019-07-07 16:18] sayoojbk commented on #25
Okk cool didn't see anyone take up this issue in this thread should have checked the PR's. My bad :P. Well if anyone is not working on the connected components sub-module would like to give a try on that !

[2019-07-07 16:36] qlzh727 commented on #329
Hi @sjmielke, thanks for the suggestion. I think the error message here makes sense. Feel free to send a PR for this.

[2019-07-07 23:39] seanpmorgan commented on #25
That would be great... thanks @sayoojbk !

[2019-07-09 01:01] SSaishruthi commented on #336
I can take up this one if it is ok. Is it ok if we build this example based on `lazy_adam` example?
@seanpmorgan

[2019-07-09 12:40] seanpmorgan commented on #336
Yeah we can use that as a starting point. I would like to include some info from that Fast AI blog (credit them where appropriate)... and it would be great to show the convergence speed against standard adam optimizer

[2019-07-09 13:09] seanpmorgan commented on #8
After some discussion we'll be closing this issue pending community outreach in support for it. It has no OSS usage as far as we can see and it doesn't neatly fit into our subpackages

[2019-07-09 13:09] #8 closed

[2019-07-10 01:03] SSaishruthi commented on #336
Sure. I will keep you posted about the progress.

[2019-07-10 22:01] SSaishruthi commented on #305
@Squadrick
I am trying to wrap hamming loss using `MeanMetricWrapper` as per the suggestion. I have some clarifications about the same.

Taking `Mean` over the total value was not yielding a proper result and I shifted to updating count every time which holds the total number of data points.

Using the mean method: https://colab.research.google.com/drive/1Msuv5xUu7lu5wDH1ei-VOPB-UnBolDfB#scrollTo=

[2019-07-11 00:15] SSaishruthi commented on #305
Also, for hamming distance metric, I think it is ok to have a function like below just like euclidean. If this is ok, I can create a separate PR for this.

[code]

[2019-07-11 07:01] Squadrick commented on #305
[code]

This works for me. The idea to to have `hamming_loss` calculate loss from each sample in the batch separately, and let `MeanMetricWrapper` do the aggregation.

So:
[code]

[2019-07-11 07:23] SSaishruthi commented on #305
@Squadrick Thanks for the clarification. Got the idea now. Will create a PR

[2019-07-11 07:26] SSaishruthi commented on #305
@Squadrick Also, can we have hamming distance separately as a distance metric?

[2019-07-11 07:32] Squadrick commented on #305
@SSaishruthi You can call the file `hamming.py` or `hamming_metrics.py` and add: `hamming_distance`, `hamming_loss` and `HammingLoss` (as a tf.keras.metrics.Metric).

[2019-07-11 21:00] seanpmorgan commented on #118
@yifeif @gunan We're in the process of setting up our GPU env, but it looks as though `tf-nightly-2.0-preview` returns `False` when running `tf.test.is_gpu_available()`. If we run with `tf-nightly-gpu-2.0-preview` it correctly finds the device. As I understood it dynamic kernels have been merged into master so is this just a bug in `device_lib` or is the standard nightly package not able to run GP

[2019-07-12 04:33] SSaishruthi commented on #265
Status: F-Beta, Multilabel confusion matrix and Hamming metrics are done. PRs are open for the same.
Working on next set

[2019-07-12 23:57] facaiy opened #347 "weight decay optimizers doesn't support tf.half on gpu in eager mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf-nightly-gpu-2.0-preview
- TensorFlow Addons installed from (source, PyPi): source
- TensorFlow Addons version:

[2019-07-13 00:00] facaiy opened #348 "testBadParentValuesOnGPU failed on GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf-nightly-gpu-2.0-preview
- TensorFlow Addons installed from (source, PyPi): source
- TensorFlow Addons version:

[2019-07-13 00:13] facaiy opened #349 "euclidean_distance_transform_op.cc build falied on GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf-nightly-gpu-2.0-preview
- TensorFlow Addons installed from (source, PyPi): source
- TensorFlow Addons version:

[2019-07-13 00:14] facaiy commented on #349
cc @mels630 maintainer of the submodule :-)

[2019-07-13 00:18] facaiy commented on #347
The bug is found when working on https://github.com/tensorflow/addons/pull/294

[2019-07-13 00:19] facaiy commented on #348
The bug is found when working on https://github.com/tensorflow/addons/pull/294

[2019-07-13 00:43] #329 closed

[2019-07-13 06:54] WindQAQ commented on #347
Workaround: not to test `tf.half` on gpu in eager mode. Like
https://github.com/tensorflow/tensorflow/blob/5d4a6cee737a1dc6c20172a1dc15df10def2df72/tensorflow/python/kernel_tests/conv_ops_3d_test.py#L53-L62
but also check if context is in eager mode.

[2019-07-13 16:53] Squadrick commented on #349
@mels630 @facaiy I'll take a look at this.

[2019-07-14 12:30] #289 closed

[2019-07-15 03:41] mels630 commented on #349
thanks @Squadrick -- i haven't been able to get my GPU environment up and running yet :/

[2019-07-15 12:27] seanpmorgan opened #353 "MacOS Nightly is failing"
Since we reworked our build for GPUs our macos nightlies are failing.

[2019-07-15 19:54] seanpmorgan commented on #353
Update: It's not related to the GPU build changes. On 20190712 the sysconfig link_flag was changed from `-l:libtensorflow_framework.2.dylib` to `-ltensorflow_framework.2`

Currently trying to figure out why

[2019-07-17 20:39] parth-p opened #358 "Image Processing Operations"
**System information**
- TensorFlow version: 2.0
- TensorFlow Addons version: 0.3
- Is it in the tf.contrib: No
- Are you willing to contribute it: Yes
- Are you willing to maintain it going forward?: Yes

**Describe the feature and the current behavior/state.**
I am proposing the following image operations:
1. SmoothingFilters: https://colab.research.google.com/drive/1SnSQ-mOsglB9nHNFp1YkCgEk4iR5

[2019-07-18 02:46] gjxcq opened #359 "the crf not find in the pypi version of 0.4.0"
in the crf branch,I can see the crf api in tfa.text,but when I pip install tensorflow-addons, I can't find it, the crf in where, how can I use it?

[2019-07-18 14:02] seanpmorgan commented on #359
CRF is currently in review #314. There's been a little delay in reviewing it -- but it'll be in the 0.5.0 release most likely.

If you have experience using CRF we'd appreciate help in the review process

[2019-07-18 14:02] #359 closed

[2019-07-18 15:52] #353 closed

[2019-07-18 18:49] Squadrick commented on #281
@parth-p Any update on this?

[2019-07-18 20:24] seanpmorgan opened #361 "Request for example: Focal Loss"
It would be nice to have an example for how to use focal loss in an object detection pipeline.

Resources:
https://arxiv.org/pdf/1708.02002.pdf

[2019-07-19 01:55] parth-p commented on #281
@Squadrick @WindQAQ, the adaptive histogram equalization method is not correct. I am currently working on its correct implementation. Sorry for not mentioning it here earlier.

[2019-07-20 09:26] kazemnejad commented on #335
I can pick this up if it is ok.

Some ideas to start the example based on:
- For machine translation:
  - On toy English-to-German dataset (I think German-to-English has better user experience since we can demonstrate the outputs better) from http://opennmt.net/OpenNMT-tf/quickstart.html which contains 10k tokenized sentences.
  - Trivial seq2seq LSTM architecture with Attention Mechanism
  - Use

[2019-07-20 10:19] seanpmorgan commented on #335
That'd be great! Thanks and welcome to Addons!

[2019-07-20 17:56] HanGuo97 opened #364 "[Feature Request] Support setting `training=False` argument in `BeamSearchDecoder`"
**System information**
- TensorFlow version (you are using): 2.0-beta
- TensorFlow Addons version: 0.40
- Is it in the tf.contrib (if so, where): No
- Are you willing to contribute it (yes/no): No
- Are you willing to maintain it going forward? (yes/no): No

**Describe the feature and the current behavior/state.**
Current `BeamSearchDecoder` does not support setting `training=False` argument durin

[2019-07-20 19:11] hartikainen commented on #75
What's the ETA for tf addons python 3.7 support?

[2019-07-22 01:53] #334 closed

[2019-07-22 16:33] seanpmorgan commented on #75
@perfinion is there an updated build environment and date when TF pip packages will be built in it? Just for reference python 3.8 release is soon.

[2019-07-22 20:33] seanpmorgan commented on #364
CC some people more familiar with seq2seq @qlzh727 @guillaumekln

[2019-07-23 13:33] WindQAQ commented on #358
Hi Parth,
1. Averaging filtering has already existed in [addons](https://github.com/tensorflow/addons/blob/2de145646408f74d49e4b6987ba8b220a1a74338/tensorflow_addons/image/filters.py#L55).
2. Other operations look good but I do want to confirm if addons should take them all. @seanpmorgan Sean, how do you feel about these operations?

Thank you!

[2019-07-23 16:54] guillaumekln commented on #364
Yes, it seems a `training` flag should be forwarded from `BaseDecoder.call` to the cell call of concrete decoders (`BasicDecoder` and `BeamSearchDecoder`).

[2019-07-24 06:36] parth-p commented on #358
@WindQAQ, Thanks for notifying me on this one, I'll remove the Averaging filter part from the notebook.

[2019-07-24 07:39] DevKiHyun opened #366 "[Suggest]I would like to suggest code that I have implemented."
There is a custom layer that will benefit people. It is the method proposed by 'Deep Complex Network' and I have already implemented it. What should I do to propose to TFA?

[2019-07-24 14:18] seanpmorgan commented on #366
Hi @DevKiHyun! Welcome. Do you mind linking to the paper and your implementation?

[2019-07-24 19:01] bionicles opened #367 "Please add HashingMemory layer"
**System information**
- TensorFlow version (you are using): 2b1
- TensorFlow Addons version: latest
- Is it in the tf.contrib (if so, where): no
- Are you willing to contribute it (yes/no): maybe
- Are you willing to maintain it going forward? (yes/no): maybe

**Describe the feature and the current behavior/state.**
This paper introduces a structured memory which can be easily integrated into a n

[2019-07-24 21:51] sbarman-mi9 commented on #173
Any update on Windows or Universal binaries for this package? It is much appreciated to target Windows users as well as *NIX systems.

[2019-07-25 00:59] seanpmorgan commented on #358
Hi Parth, do you have any information on some of these being using in a ML pipeline? I'm afraid it's hard to justify all standard image operations becoming part of Addons.

I think we could work in most of these if we had a solid use case (e.g. image preprocessing for pathology). Perhaps if you could update these examples to show how they can be used in a regression problem... how many cells per i

[2019-07-25 01:03] seanpmorgan commented on #22
@invencode @soloice @nlp-zy We're having internal discussion about how we want to expose the CRF functionality in Addons. Would it be sufficient to only expose it as a Keras Layer, or do you have use cases were the lower level op calls would be used?

[2019-07-25 01:14] seanpmorgan commented on #367
Hi @bionicles this looks like a really interesting paper/concept.  It seems like it could be a fit as a TFA Layer.

You mentioned you may be interested in contributing what would that be dependent upon?

[2019-07-25 01:16] seanpmorgan commented on #173
Hi @sbarman-mi9 we're currently blocked by this issue: https://github.com/tensorflow/custom-op/issues/24

There will need to be some changes on core TensorFlow's side. We'll bring it back up again at this month's meeting to see if we can get some progress. CC @perfinion to see if he has any more information from SIG-Build

[2019-07-25 02:51] bionicles commented on #367
Just time, and my ability to understand the paper/code...
This one also looks good: https://arxiv.org/pdf/1907.09720v1.pdf
I’m definitely interested to contribute to TFA! Maybe some simpler stuff we already have working would be better in the short term

[2019-07-25 14:12] NLP-ZY commented on #22
@seanpmorgan The CRF layer in keras is good enough for me in the moment.

[2019-07-25 17:00] howl-anderson commented on #22
The CRF layer of the tf.addons I'm working on is basically ready, but the code still needs more testing to ensure correctness and robustness. Will be submitted in the next one or two weeks.

[2019-07-26 15:58] seanpmorgan commented on #22
@howl-anderson Does your implementation use the code in #314 or is it standalone? Would you mind submitting a WIP PR so we can better plan?

[2019-07-26 17:06] WindQAQ opened #373 "distort_image_ops_test.py fails on tf-nightly-2.0-gpu"
The CI Build for PY2-GPU failed because of `distort_image_ops_test.py`.
https://source.cloud.google.com/results/invocations/7ed10b8d-6cba-47d9-b764-d823365528f4/log

Ideally, the manager should catch the exception raised in CC file
https://github.com/tensorflow/addons/blob/436580c5427af1b0666faf4955cd493f5ccace72/tensorflow_addons/image/distort_image_ops_test.py#L110-L112

https://github.com/tenso

[2019-07-27 08:18] howl-anderson commented on #22
@seanpmorgan The current implementation of my CRF layer use functions from #314 . I will submit it as a WIP PR soon. I will keep you informed.

[2019-07-27 20:48] kazemnejad opened #375 "seq2seq.SequenceLoss is probably incompatible with tf.keras.Model.compile"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0.b1
- TensorFlow Addons installed from (source, PyPi): PyPi
- TensorFlow Addons version: 0.4.0
- Pyth

[2019-07-29 14:11] seanpmorgan commented on #366
Closing for now. Please feel free to re-open and change the title once you have more information

[2019-07-29 14:11] #366 closed

[2019-07-29 19:10] seanpmorgan commented on #75
Looks like this is almost ready:
https://github.com/tensorflow/tensorflow/commit/ec83c8a8292aa881b701928a7ffbe2305cc0e4e5

@av8ramit Could you comment on the above question?

[2019-07-29 19:23] seanpmorgan commented on #373
So more info:
Seems not related to py2 vs py3. There has not been a gpu-py3 released since 20190718 so thats why it's passing.

The error is incredibly creptic when decorated with tf.function... and when I remove that it looks like 2 errors are being raised instead of the one we're catching:

[code]
and
[code]

I have no idea which commit started this and no reasons why it's only happening on the

[2019-07-29 19:25] seanpmorgan commented on #118
@karmel @yifeif @gunan Friendly bump on the above question.

We're currently dealing with a failing test case that is only occuring on python2 `tf-nightly-2.0-gpu`. python3 gpu is passing because there hasn't been a released pip package for py34 gpu in 10 days. This makes is very difficult for us to work around these new errors when tf core nightly builds are failing frequently and we're not sure

[2019-07-29 19:50] av8ramit commented on #75
Ideally worst case within two weeks we will transition over. Waiting on one last issue with GPU custom ops.

[2019-07-29 19:55] av8ramit commented on #118
We have dropped support for Python3.4 packages as it is fairly old. @karmel could this issue be solved with upgrading the python3 version to Python3.5?

[2019-07-29 20:00] seanpmorgan commented on #118
Good to know thanks. So we will upgrade our CI scripts to install py36, but for local testing the custom-op docker image we use only has py34 installed (still waiting on a new custom-op which looks like its soon)

Is there a reason for the `2.0-nightly-gpu` pip package though? We were under the impression there would be a unified pip package now that dynamic kernels are in. We need to know this be

[2019-07-30 00:15] feihugis commented on #373
It can run in the eager mode but failed in the graph mode. I tried to add the GPU kernel but the build failed. Will update it here if I get any progress.

[2019-07-30 03:33] WindQAQ commented on #375
cc @qlzh727 for visibility

[2019-07-30 16:41] #364 closed

[2019-07-30 17:23] seanpmorgan commented on #279
Re-opening this issue. We need to adjust our docker scripts to install py36 and test with that as py34 is no longer being published

[2019-07-30 17:31] seanpmorgan opened #379 "Re-name all C++ Ops to include package name"
Per new RFC:
https://github.com/tensorflow/community/pull/126

[2019-07-31 06:04] howl-anderson commented on #22
@seanpmorgan For keep you informed, WIP PR #377 is for the CRF layer.

[2019-07-31 11:25] guillaumelorre28 opened #381 "Using tensorflow_addons.image.translate results in a SIGSEV."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu16.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): tensorflow2.0-beta
- TensorFlow Addons installed from (source, PyPi): pip install
- TensorFlow Addons versi

[2019-07-31 13:00] seanpmorgan commented on #381
Thanks for reporting! Replicated this and can confirm this crashes. Will need a fix before a 0.5 release or it will have to be removed until the next release.

[2019-07-31 14:57] seanpmorgan commented on #381
cc @sayoojbk

[2019-07-31 16:37] sayoojbk commented on #381
Will check it out.

[2019-07-31 16:40] seanpmorgan commented on #381
Thanks @sayoojbk . So I just tested this running
[code]

And it ran successfully (makes sense as the tests are passing too). Perhaps this has been fixed on tf-core and we just need to wait for the RC. @guillaumelorre28 Is it sufficient for you to run against tf-nightly?

[2019-07-31 20:37] #279 closed

[2019-08-01 01:16] arita37 opened #386 "TensorFlow API breaks management"
Hello,
TensorFlow APi breaks happens a lot , making contribution hard to maintain.

Is it posssible that Google engineer develops some API check breaker tools,
who is parsing by AST the current code and check with existing TF version... ?

One major hurdle of TF is the API breaks... (besides static graph)

[2019-08-01 08:11] guillaumelorre28 commented on #381
Thanks I ran it with tf-nightly instead of tensorflow2.0-beta and it works.
Sorry for the inconvenience.

[2019-08-01 08:11] #381 closed

[2019-08-01 12:58] seanpmorgan commented on #386
Hi!

This repository is not for the core tensorflow framework and so there's nothing that can really be done here. I disagree though, TensorFlow has been extremely structured in their API forward/backwards compatibility guarantees.

If you have specific examples I would recommend you raise an issue at the core repository:
https://github.com/tensorflow/tensorflow/

[2019-08-01 12:58] #386 closed

[2019-08-01 12:59] seanpmorgan commented on #379
Just copying a note I made in the RFC:
This is currently blocked as `>` is an invalid character in an Op Name at the moment

[2019-08-01 13:23] seanpmorgan opened #387 "CI Sanity Check is timing out"
Unsure of why, but our CI sanity check is timing out on #337
Log: https://source.cloud.google.com/results/invocations/c3b5249e-0be6-4e88-bab7-26149fb95918/targets/tensorflow_addons%2Fubuntu%2Fcpu%2Fsanity%2Fpresubmit/log

Probably related to the new py36 install but I'm not getting this on my local machine so not quite sure what the issue is.

[2019-08-01 13:30] seanpmorgan commented on #387
EDIT--- I do get this hang on the CRF branch when I try to run
`bash tools/run_docker.sh -c 'make sanity-check'` so this will make it easier to debug

[2019-08-01 13:55] arita37 commented on #386
There are regular API changes in TF.
Is it possible to generate at each release
the signatures list of all classes/ method/functions into a text format ?

So we can compare existing code with new release.

Now, API break changes is pretty manual
for millions of people...

[2019-08-01 15:22] #22 closed

[2019-08-01 15:26] seanpmorgan commented on #387
Assuming there was something strange with that PR, because other PRs are working and since merging into master sanity check is working on py36. Happy to re-open if this remains a problem.

[2019-08-01 15:26] #387 closed

[2019-08-01 17:23] seanpmorgan commented on #386
For example this?
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/compatibility/all_renames_v2.py

There are script to run these API changes between 1.x and 2.x:
https://www.tensorflow.org/beta/guide/upgrade

If you're talking about within TF 1.x versions please provide an example because there is very little API breakage (if any in recent releases).

[2019-08-01 19:11] seanpmorgan commented on #373
For tracking purposes... a temporary fix was put in #378

[2019-08-01 19:30] Squadrick commented on #25
Hey @sayoojbk. Any update on connected components?

[2019-08-01 19:40] sayoojbk commented on #25
Done with most of the stuff . just need to finish writing the test script. Sorry  was busy for a while will try my best to complete is as soon as possible.

[2019-08-01 21:18] SSaishruthi commented on #361
Would like to work on this

[2019-08-01 21:22] SSaishruthi commented on #336
@seanpmorgan Can you please assign this issue to me? I am working on it

[2019-08-01 22:51] arita37 commented on #386
Hello,

Your 1st file looks good.
But, this is not only function but argument names, all signatures changes that is
User friendly to use ?
(Mapping table , function name, class name ,
argument name...)

Checking manually the new API compatibility at each version, this is very time consuming.

Is it possible that Google Team generate this full mapping table at each release ?
Even for Google team, t

[2019-08-04 16:34] WindQAQ commented on #379
A minor thing related to package name is the ifndef/define in header files. We have to unify this macro too.

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.h#L14
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.h#L16
https://github.com/tensorflow/addons/

[2019-08-06 11:22] PhilipMay opened #396 "FBetaScore is missing sample_weight parameter in update_state function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): see https://gist.github.com/PhilipMay/8897cd3980b4367f22cee7a0f8cb2ee5#file-poc_f1_bug-ipynb
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave
- TensorFlow installed from (source or binary): binary (pypi with pip)
- TensorFlow version (use command below): t

[2019-08-06 11:34] PhilipMay opened #397 "Wrong example in docstring - cohens_kappa.py"
In this example:
https://github.com/tensorflow/addons/blob/dab18121fa4253cf05320d41962bfbf1803e1f1b/tensorflow_addons/metrics/cohens_kappa.py#L46

The string `"quadratic"` is passed to `update_state`. This is wrong because it is passed to `tf.math.confusion_matrix` which does not accept a string as `weights` parameter. See here:  https://www.tensorflow.org/api_docs/python/tf/math/confusion_matrix

[2019-08-07 08:25] WindQAQ commented on #396
cc @SSaishruthi @Squadrick

[2019-08-07 08:26] WindQAQ commented on #397
cc @SSaishruthi @Squadrick

[2019-08-07 08:39] SSaishruthi commented on #396
I have this in my todo list. Will provide an update soon

[2019-08-07 08:51] PhilipMay commented on #396
@SSaishruthi great, thanks.

[2019-08-07 13:50] #373 closed

[2019-08-08 12:29] seanpmorgan commented on #358
@parth-p Could you go ahead and submit a PR for thresholding methods?

[2019-08-08 19:29] #348 closed

[2019-08-09 03:52] rjurney commented on #305
@Squadrick How would this look as a loss function instead of a metric?

[2019-08-09 20:01] rjurney commented on #241
@seanpmorgan Try as I might, I can't get tensorflow_addons to import with any kind of tensorflow 2.0 installation. What is the current method? I've tried every version I can think of from pypi and github.

[2019-08-10 15:04] seanpmorgan commented on #241
Hi @rjurney see this colab example:
https://colab.research.google.com/drive/19qzxyErdjnYIAJWFsdsStUk4eAzwTC4Z

[code]
[code]

Let us know if you're still having issues and send us the error message if so. Thanks!

[2019-08-11 01:26] seanpmorgan opened #407 "Attention wrapper tests fail for float64 dtype"
Since https://github.com/tensorflow/tensorflow/commit/e17b7ca1a8745d63ead4f4097d48ef0891b37f0f the autocast dtype is causing failures. Should be a rather straight forward fix.

[2019-08-11 03:32] ChenYang-ChenYang opened #408 "_maybe_copy_state() logic error in seq2seq/decoder.py"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0b1
- TensorFlow Addons installed from (source, PyPi): Pypi
- TensorFlow Addons version: 0.4.0
- Python version

[2019-08-11 13:34] seanpmorgan commented on #118
Closing this as all kernels are now implemented. I'll create a new issue for discussing how we will package GPU kernels as there is some discussion needed.

For record keeping... here is the notes from SIG Build meeitng regarding the 2 tf-core packages:
[code]

[2019-08-11 13:34] #118 closed

[2019-08-11 13:35] seanpmorgan commented on #408
cc @qlzh727 @guillaumekln

[2019-08-11 13:36] #349 closed

[2019-08-12 11:03] #75 closed

[2019-08-12 14:00] guillaumekln commented on #408
@ChenYang-ChenYang Do you want to send a PR to fix this error?

[2019-08-13 00:35] seanpmorgan opened #411 "How to handle manylinux1 and py3.4 packages on pypi"
Since #389 we've begun publishing our nightly images as manylinux2010 which aligns with the TF core packages now produced in this build environment.

Unfortunately, the user is required to have a relatively new version of pip (v19.x on linux) in order to install a manylinux2010 package. This means that for many (probably most) users, if they try to pip install `tensorflow-addons` they will get an

[2019-08-13 00:38] gunan commented on #411
Yes, we are aware.
We have updated the website to point this out here:
https://www.tensorflow.org/install#download-a-package

[2019-08-13 00:41] martinwicke commented on #411
I think abandoning 3.4 makes sense. It's rather old now and I think all
important distros are on 3.5+.

[2019-08-13 03:28] Fatty-Ricky opened #413 "What is "graduate candidate" for TF Core?"
Sorry to disturb. I'm new here.
I just heard about TF Addons from [official blog](https://medium.com/tensorflow/introducing-tensorflow-addons-6131a50a3dcf). It says maintainers need "Manage graduate candidates for TensorFlow Core". What does it mean? Is there a boot camp or course for TF so that they can graduate?

[2019-08-13 05:48] xuxingya opened #414 "tfa.text.crf_log_likelihood is not compatible with tf2.0-beta1"
When implement CRF with tf2.0-beta1, got `AttributeError: module 'tensorflow' has no attribute 'get_variable'` when using tfa.text.crf_log_likelihood.
`AttributeError: in converted code:
    relative to /home/xingya:

    resume_parser/resume_parser/training/train_ner_bp.py:329 train_step  *
        log_likelihood, _ = tfa.text.crf_log_likelihood(
    .conda/envs/tf2/lib/python3.6/site-packages/te

[2019-08-13 12:42] seanpmorgan commented on #414
Thanks for reporting @xuxingya! Yeah `get_variable` is v1 behavior. Would you like to submit a bug fix PR?

[2019-08-13 13:00] liangzhenlin123 opened #415 "(Speech recognition) hope to get inside sMBR, MWER tensorflow code"
**System information**
- TensorFlow version (you are using): 1.12
- TensorFlow Addons version: Not used yet
- Is it in the tf.contrib (if so, where):No
- Are you willing to contribute it (yes/no):Yes
- Are you willing to maintain it going forward? (yes/no):yes

**Describe the feature and the current behavior/state.**
Smbr and mwer are important loss functions for speech recognition, and google has

[2019-08-13 15:19] ChenYang-ChenYang commented on #408
Yes and thanks.

[2019-08-13 16:48] parth-p commented on #358
In addition to the previous image operations, I have implemented a few more operations:
1. Hough transform Lines: https://colab.research.google.com/drive/1PCvihgwulfcNeDGmqrqAA9pN9oNiWJYd (Detecting straight lines in a given Image)
2. Hough transform Circles: https://colab.research.google.com/drive/1q_Q6isn7l7fgoqWA6FgNw6OegCc0TjbM (Detecting circles in a given Image)

Also, there is an update in

[2019-08-13 18:03] seanpmorgan opened #418 "CuDNN is failing to load in newly updated custom-op image"
Since ~ yesterday we're seeing fails on our GPU tests that say
[code]

A simple reproducible test is:
[code]

I checked and it's not because of any change to the nightly TF package (today's version still works on an older docker image). The only change to the docker images was https://github.com/YINZHI-keji/tensorflow/commit/5f81522c88c38b897e4313c28bf6e6cc7cc1456e but my hunch is that the base do

[2019-08-13 18:13] yifeif commented on #418
Indeed sounds like an cudnn version issue. I don't see the base image being updated recently though https://hub.docker.com/r/nvidia/cuda/tags?page=3

[2019-08-13 18:29] kyleabeauchamp commented on #418
Will look a bit from my GPU desktop when I get home.

[2019-08-13 18:51] seanpmorgan commented on #418
Hmmm looks like `10.0-cudnn7-devel-ubuntu16.04` was updated 14 days ago and I think the `custom-op-gpu-ubuntu16.04` was published 15 days ago? Certainly makes it less likely but I think it's possible?

Thanks! Just to be clear I should have mentioned this is for `custom-op-gpu-ubuntu16.04` I tested this morning on my older docker image of it and everything worked. Then I cleared my image and re-pu

[2019-08-13 19:40] seanpmorgan commented on #418
Quickly pulled the `nightly-gpu-py3` image and it also fails on tf 1.15. Temporarily could install the correct cudnn in the Dockerfile (needs to be tested). We should also raise an issue on tf-core to figure out why that cudnn is failing

[2019-08-14 19:06] seanpmorgan commented on #418
I tried matching cudnn as v7.6  using `apt-get install libcudnn7=7.6.2.24-1+cuda10.0 --allow-change-held-packages`

But this breaks our build since there is no `cudnn.h` in `usr/include` anymore. Curious as to why the pip package was moved up to cudnn 7.6? Was that for cuda10.1?

[2019-08-14 19:15] seanpmorgan commented on #413
Hi @Fatty-Ricky! This is a good question and an aspect of addons that we haven't gotten to yet. As part of our monthly action items we have the following todo:

1. Start an issue for candidate ops to move from addons to core (SIG)

Essentially if an op is extremely useful and has been vetted in addons it should eventually end up in core TensorFlow. To make that distinction though we likely need to

[2019-08-14 19:15] seanpmorgan commented on #413
Examples off the top of my head may be `tfa.losses.focal_loss` and `tfa.image.rotate`

[2019-08-14 19:15] #413 closed

[2019-08-15 10:06] #397 closed

[2019-08-15 14:48] #407 closed

[2019-08-16 14:06] seanpmorgan opened #422 "Implement RAdam optimizer"
**System information**
- Are you willing to contribute it (yes/no): Yes, but would like to see if someone else will
- Are you willing to maintain it going forward? (yes/no): Yes, but would like to see if someone else will

**Describe the feature and the current behavior/state.**
New paper describing RAdam looks like a drop in replacement for Adam optimizer with better results.

https://arxiv.org/a

[2019-08-16 14:07] seanpmorgan opened #423 "MovingAverage Optimizer is broken"
Just creating this for visibility & tracking.

Waiting on a fix for ExponentialMovingAverage:
https://github.com/tensorflow/tensorflow/issues/31582

[2019-08-16 14:42] yassineAlouini commented on #422
That would be awesome indeed.
For the record, here is a Keras implementation (not official): https://github.com/CyberZHG/keras-radam.

[2019-08-17 05:15] rafiqhasan commented on #422
This is going to be a great addon ! For any one who is looking out for another detailed comparison can read through - https://medium.com/@lessw/new-state-of-the-art-ai-optimizer-rectified-adam-radam-5d854730807b

[2019-08-17 16:16] WindQAQ opened #426 "tfa.nn sub-module to keep the implementation of tensor operation"
**System information**
- TensorFlow version (you are using): nightly
- TensorFlow Addons version: source
- Is it in the tf.contrib (if so, where): no
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes

**Describe the feature and the current behavior/state.**

Does anyone have some thoughts on `tfa.nn` sub-module? IMO, it's somewhat weird

[2019-08-17 16:24] kyleabeauchamp commented on #426
Seems reasonable to me.  If we were willing to break with TF tradition, we might call this module `math`, as it actually seems like a core math library.

[2019-08-19 03:25] talipini commented on #422
I vote for this as well. Looking for this!

[2019-08-19 15:34] seanpmorgan commented on #418
@yifeif @av8ramit Would it be possible to trigger another build & push that docker image up? Looks like the new `nvidia/cuda:10.0-cudnn7-devel-ubuntu16.04` has cudnn 7.6 installed correctly

[2019-08-19 16:15] seanpmorgan opened #428 "WeightNormalization data init fails with Keras experimental_run_tf_function"
Recent Keras change has made it so the data dependent initialization fails:
[code]
I'm submitting a hotfix which flags the model compile with `experimental_run_tf_function=False`. Another issue I'm tracking is https://github.com/tensorflow/probability/issues/519 to see how TFP resolves their issue.

[2019-08-19 16:22] SSaishruthi commented on #422
Great addition.
Can I try implementation of this?

[2019-08-19 17:28] seanpmorgan commented on #426
Certainly understand the need for this, but I'm slightly hesitant seeing as it's tough to establish a criteria for what the API of these ops should look like. To be fair `tfa.activations` doesn't really have a well defined API either but at least they all share a common output format. The namespace `nn` isn't perfect IMO because for example someone may want to use a softmax in something other than

[2019-08-19 17:34] seanpmorgan commented on #422
@SSaishruthi Sure! I know @sayoojbk has also shared interest in helping with this so if you could make a WIP PR as soon as you get it started that'd be great so we could have a few eyes on this and push it through.

[2019-08-19 17:49] karmel commented on #426
I would avoid diverging and going to math. NN is, for better or for worse, a TF grab-bag, so I tend to agree that having tfa.activations makes more clear the contract that these ops adhere to. I would suggest leaving as-is. When there are things other than activations that we want to add, we can classify those accordingly. That said, I can see the argument from the other side, too, so I think you'

[2019-08-19 17:59] karmel opened #430 "Migrate F1 score to core"
**System information**
- TensorFlow version (you are using): 2.0
- TensorFlow Addons version: head
- Is it in the tf.contrib (if so, where): N/A
- Are you willing to contribute it (yes/no): @pavithrasv can if there are no community members who are interest
- Are you willing to maintain it going forward? (yes/no): yes

**Describe the feature and the current behavior/state.**
There is interest from

[2019-08-19 20:22] yifeif commented on #418
I just updated `custom-op-gpu-ubuntu16`, could you give it another try?

[2019-08-19 21:00] seanpmorgan commented on #418
Tests are now passing.. thank you!

[2019-08-19 21:00] #418 closed

[2019-08-19 21:39] sayoojbk commented on #367
I would wanna try understanding the paper and try implementing this layer if no one is working on this issue.

[2019-08-20 00:56] seanpmorgan commented on #430
Sounds good to me. I don't think we need to guarantee backwards compatibility, but it could be a good use case to see how we would do it (If parameter order moves I'm okay with that since we're still v0.x). maybe something like `tfa.metrics.graduated` which just aliases the new implementation in core-tf?

cc @SSaishruthi @Squadrick as code owners.

[2019-08-20 07:35] SSaishruthi commented on #430
How are we planning to take this forward? Would like to contribute to the migration as well

[2019-08-20 13:15] richriley opened #432 "Segmentation Fault"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux 9 (stretch)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf-nightly-gpu-2-0-preview 2.0.0.dev20190820
- TensorFlow Addons installed from (source, PyPi): PyPi
- TensorFlow Addons version: tfa-nightly 0.5.0.dev20190624
- Python version and type (eg. A

[2019-08-20 13:46] WindQAQ commented on #432
Hi @richriley, would you mind providing `image.jpeg`?

[2019-08-20 13:57] richriley commented on #432
It will fail with any image. I've just realised that this example doesn't actually make sense. In my real code the image.jpeg is a .tfrec file (hence the parse_preprocessed_image_at_size function parsing a tensor) but I tried to make it simpler for this example. I'm not able to provide the tfrec files as they are too large. Sorry if this makes it difficult to debug.

[2019-08-20 13:57] seanpmorgan commented on #432
Could you try updating the `tfa-nightly` version **tfa-nightly 0.5.0.dev20190624** is manylinux1 compiled and **tf-nightly-gpu-2-0-preview 2.0.0.dev201908** is manylinux2010

[2019-08-20 14:03] richriley commented on #432
@seanpmorgan I seem to get the same segmentation error with tfa-nightly 0.5.0.dev20190624

[2019-08-20 14:06] seanpmorgan commented on #432
Hmmm yeah can you try to install the latest https://pypi.org/project/tfa-nightly/#files. It should be **tfa-nightly 0.5.0.dev20190815**

It requires pip version >19.0 `pip install --upgrade pip`, but that's strange because you should have needed to do that for the TF nightly: https://pypi.org/project/tf-nightly-gpu-2.0-preview/2.0.0.dev20190820/#files

[2019-08-20 14:10] richriley commented on #432
Now I get:

[code]

[2019-08-20 14:14] seanpmorgan commented on #432
K thanks. Sorry about this we're in a transition on how we're packaging our binaries in preparation for TF2 release. I will look into this and try to get a new binary published later this afternoon.

If this is a blocker for you could you try **tfa-nightly 0.5.0.dev20190624** and **tf-nightly-gpu-2-0-preview 2.0.0.dev20190624**

[2019-08-20 14:24] richriley commented on #432
Thanks. Those two nightly versions work as expected. Thanks for the quick solution!

[2019-08-20 16:42] karmel commented on #430
That would be great-- care to submit a PR to the TensorFlow repo, under Keras metrics? https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/metrics.py

@pavithrasv can advise + review as well.

Thanks--

[2019-08-20 16:57] seanpmorgan commented on #119
Re-opening as there is an issue loaded ops that are manylinux2010 repaired. Waiting on this issue:
https://github.com/tensorflow/tensorflow/issues/31807

[2019-08-20 16:59] SSaishruthi commented on #430
Perfect! Will do. Thanks @karmel

[2019-08-20 17:20] WindQAQ commented on #432
Feel free to re-open the issue again if you run into other problems. Thanks!

[2019-08-20 17:20] #432 closed

[2019-08-20 17:27] pavithrasv commented on #430
Thank you @SSaishruthi

[2019-08-21 03:01] WindQAQ commented on #426
Sure. Maybe just wait for some non-activation-like tensor operations added into addons, and we could find some suitable places to classify them accordingly. Many thanks for the suggestions!

[2019-08-21 17:36] #414 closed

[2019-08-22 01:19] #119 closed

[2019-08-22 08:12] WindQAQ commented on #428
This is related to https://github.com/tensorflow/addons/pull/219. If switching back to `.assign()`, then it works. However, it won't converge.

[2019-08-22 16:39] bionicles opened #437 "please add more activation functions"
@jvishnuvardhan @yongtang @seanpmorgan follow-up on the tf issue
**System information**
- TensorFlow version (you are using): 2b1
- TensorFlow Addons version: pip
- Is it in the tf.contrib (if so, where): idk
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes

**Describe the feature and the current behavior/state.**
activations are high-y

[2019-08-22 17:13] markomernick opened #438 "Migrate register_keras_custom_object to core"
TensorFlow version (you are using): All
TensorFlow Addons version: head
Is it in the tf.contrib (if so, where): N/A
Are you willing to contribute it (yes/no): Yes
Are you willing to maintain it going forward? (yes/no): Yes

Describe the feature and the current behavior/state.
The Tensorflow Text team is interested in being able to register custom Keras serializables. This functionality is in addon

[2019-08-22 20:39] seanpmorgan commented on #438
Makes sense to me that this functionality be moved to core. Addons is still very much in beta so modifying the serialized object names is fine with us.

CC Keras team for inputs / see if they agree with this migration
@fchollet @karmel

[2019-08-22 20:43] seanpmorgan commented on #437
Thanks @bionicles! So happy to accept PRs for activations such as swish, lisht, etc. I'm less sold on the value of aliasing `tf.math.sin` and the other built in ops. Is the rationale just that users may not know they can utilize these ops as activations?

[2019-08-22 20:44] kyleabeauchamp commented on #437
I guess one nice behavior is being able to reference activations as strings rather than functions, which is mostly a convenience but still useful for reducing boilerplate when doing hyperparameter tuning.

[2019-08-22 20:49] karmel commented on #438
+1 from the Keras side-- thanks, all--

[2019-08-23 00:44] #426 closed

[2019-08-23 07:40] WindQAQ commented on #423
Fixed in https://github.com/tensorflow/tensorflow/commit/dc3534c6a502d2830634f51e08de507163aac952.

[2019-08-23 07:40] #423 closed

[2019-08-23 17:49] vijaysumaravi commented on #415
How do I +1 to this?

[2019-08-23 23:30] ruanxt opened #443 "Image transform runs in CPU rather than GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0b1
- TensorFlow Addons installed from (source, PyPi): Pypi
- TensorFlow Addons version: 0.4.0
- Python ve

[2019-08-24 13:18] bionicles commented on #437
@seanpmorgan @kyleabeauchamp updated the code. yeah, for our architecture search project it's handy to just use strings, but i guess i could just directly pass those functions

[code]

[2019-08-24 14:47] WindQAQ commented on #443
Hello @ruanxt. It seems that you are using `tensorflow-addons==0.4.0`, in which, we haven't set up GPU kernels. You could try to install from source (master branch) to get the GPU support for `image.transform`.

This commit https://github.com/tensorflow/addons/commit/a7afaa703eb7e62526612867e9b0468dda51344b.

[2019-08-24 22:52] ruanxt commented on #443
Thanks very much!! I will try that.

[2019-08-24 22:52] #443 closed

[2019-08-25 07:56] physicso commented on #422
Looking forward to that!

[2019-08-25 10:22] lukaszgrad opened #445 "Image transform operation is very slow"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.0.0-rc0
- TensorFlow Addons installed from (source, PyPi): Pypi
- TensorFlow Addons version: 0.5.0

[2019-08-25 14:46] MoritzWillig opened #447 "Correlation cost layer is not placed on gpu"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3
- TensorFlow installed from (source or binary): PyPi
- TensorFlow version (use command below): tf-nightly-gpu-2.0-preview 2.0.0.dev20190824
- TensorFlow Addons installed from (source, PyPi): PyPi (also

[2019-08-25 15:03] WindQAQ commented on #445
Hi @lukaszgrad, could you make the colab link shareable? Thanks!

[2019-08-25 15:16] lukaszgrad commented on #445
Should work now, sorry!

[2019-08-25 16:32] WindQAQ commented on #445
Seems that it indeed speeds up a lot on colab with `tfa-nightly`. But when I build from source with `-c opt` flag, two implementations get similar performance (original kernel is a little bit faster in fact on both CPU/GPU).

@seanpmorgan, Sean, what's our compiling flag while build pip package? I see
https://github.com/tensorflow/addons/blob/master/tools/ci_build/builds/release_linux.sh, where we

[2019-08-25 18:04] lukaszgrad commented on #445
@WindQAQ I'm getting some errors when building from source with bazel:

`ERROR: /home/lukasz/kaggle/kaggle-recursion/tfrec/addons/build_deps/toolchains/preconfig/ubuntu16.04/gcc7_manylinux2010-nvcc-cuda10.0/cc_toolchain_config.bzl:1491:17: name 'CcToolchainConfigInfo' is not defined
ERROR: error loading package 'build_deps/toolchains/preconfig/ubuntu16.04/gcc7_manylinux2010-nvcc-cuda10.0': Extensi

[2019-08-26 07:24] lukaszgrad commented on #25
I would like to contribute scale and shear operations, along with the *_to_projective_transforms functions. This way we will cover all common projective transforms used in augmentation pipelines.

It may be worthwhile to also include the all-in-one projective transform, like scale_shift_shear_rotate, that would be based on composition to be more computationally efficient.

Also, maybe we can inclu

[2019-08-26 12:44] guillaumekln commented on #408
Hi @ChenYang-ChenYang, just wanted to check if you made some progress on this PR?

[2019-08-26 17:41] MoritzWillig commented on #447
While GOOGLE_CUDA is defined for the `correlation_cost_op_gpu.cu.cc`, it is missing in `correlation_cost_op.cc`. Therefore the gpu kernel does get compiled but is not registered.

As far as I can see, this comes from the fact, that the "_correlation_cost_ops.so" target is built without "-DGOOGLE_CUDA". However it contains the `correlation_cost_op.cc` file, that performs the kernel registration. Un

[2019-08-27 00:35] seanpmorgan opened #448 "Fix build for MacOS"
Last change to the build broken our MacOS nightlies. Apologies for that it's been a busy of week... Essentially, we need to use the crosstool toolchain only when building in the ubuntu16 env.

https://github.com/tensorflow/addons/blob/master/configure.sh#L81

Will try to test out a fix tonight/tomrorow in preparation for next release.

[2019-08-27 01:00] seanpmorgan opened #449 "Build GPU Kernels in pip package"
As mentioned in #118 we've set up our GPU kernels, but do not currently package them using Travis. We need to test compiling with nvcc on Travis even though there are no GPUs on the servers.

This should work fine, but has yet to be done. One other thing we need to ensure is that dynamic kernels properly load with tf-gpu and don't load cuda ops for tf-cpu

[2019-08-27 01:00] seanpmorgan opened #450 "Package Addons 0.5"
TensorFlow2-RC0 is out. There have been a ton of changes since our 0.4 release so it's time to package and release IMO.

If there are no objections, I think we can make 0.5 pinned to RC0 and we can release minor patches as new release candidates become available.

[2019-08-27 03:24] facaiy commented on #428
Hi, is it still a problem? I think I have some time to look into it.

[2019-08-27 03:57] WindQAQ commented on #428
@facaiy Hi, it's still a problem. It would be great that you could take over it!

[2019-08-27 09:05] facaiy commented on #428
OK, Tzu-Wei, I'll take a try

[2019-08-28 01:46] #448 closed

[2019-08-28 06:12] lukaszgrad commented on #445
Thanks for a quick response, any idea about my bazel compilation error? I have cuda-10.0 installed

[2019-08-28 13:43] seanpmorgan opened #454 "Use package manager to pin TF dependency"
Per https://github.com/tensorflow/community/pull/135 we should be using pip/conda to specify which Addons releases work with which TF versions.

This is blocked until the `tensorflow` and `tensorflow-gpu` consolidation scheduled for 2.1 release

[2019-08-28 13:54] tsrobinson opened #455 "pip installation fails on mac"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  MacOS 10.14.6
- TensorFlow installed from (source or binary): PyPi
- TensorFlow version (use command below): 2.0.0-beta1
- TensorFlow Addons installed from (source, PyPi): PyPi
- TensorFlow Addons version: 0.4.0
- P

[2019-08-28 16:54] tsrobinson commented on #455
Perfect -- thanks so much. Can confirm it works with tfa-nightly and looking forward to 0.5!

[2019-08-28 22:35] #449 closed

[2019-08-28 22:47] #428 closed

[2019-08-28 22:53] seanpmorgan commented on #447
@MoritzWillig Tomorrow's nightly package (and the soon to be released 0.5) will include pre-built GPU kernels.

I've also made a [change to the build docs](https://github.com/tensorflow/addons#installing-from-source) which should enable you to compile yourself if you still want to.

See the results of your script in this pull request: #456

[2019-08-28 22:57] seanpmorgan commented on #249
Currently our Travis CI alerts us of failures. Closing this for now unless we see a need in the future.

[2019-08-28 22:57] #249 closed

[2019-08-28 23:24] MoritzWillig commented on #447
@seanpmorgan thats good to hear. I just had a quick look into the changes (*). If I see it correctly `/tensorflow_addons/custom_ops/layers/BUILD` will still compile the `_correlation_cost_ops.so` without the "-DGOOGLE_CUDA=1" flag. The GPU kernel would be compiled, but the guard in `correlation_cost_op.cc` will prevent it from being registered.

(*) Maybe I also missed the change and it's working

[2019-08-29 00:11] seanpmorgan commented on #447
So the change was setting the env variable `TF_NEED_CUDA` so `/configure.sh` will set the right toolchain.

You're right though this looks incorrect as the flag is used in correlation cost:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc#L334

I'll submit a quick patch... thanks again!

[2019-08-29 00:52] autoih opened #457 "Add new metrics - Matthews correlation coefficient"
Most datasets are unbalanced (different sizes of positive and negative samples); Although F1 score is usually considered as metric; however, it needs to be careful to assign positive samples. If assign in a wrong way, the score will be totally different. One advantage of MMC (Matthews correlation coefficient) can avoid this kind of situation. I'd like to know if it will be considered as an importa

[2019-08-29 01:47] seanpmorgan commented on #447
Welp not as simple as it looked. Registering the op throws a number of errors coming from CUDA cub library:
[code]

Have no time to look into for now -- currently it'll revert to CPU but needs to get fixed

[2019-08-29 10:49] #447 closed

[2019-08-29 13:32] guillaumekln commented on #454
What is the reason to wait for the package consolidation? It seems possible to depend on `tensorflow-gpu` today.

[2019-08-29 13:36] Squadrick commented on #457
@autoih Do you want to contribute to Addons by opening a PR?

Also, in the future, we would prefer if you used the template for feature requests.

[2019-08-29 13:49] seanpmorgan commented on #454
Good question.. one reason would be that TF does not package `tensorflow-gpu` for MacOS:
https://pypi.org/project/tensorflow-gpu/2.0.0rc0/#files

[2019-08-29 14:02] guillaumekln commented on #454
Ah, it makes sense. A possible workaround could be to express the [platform dependencies](https://www.python.org/dev/peps/pep-0508/#environment-markers) in `setup.py`, e.g.:

[code]

Not sure it is something we want though...

[2019-08-29 14:33] autoih commented on #457
Thanks @Squadrick. I'd love to contribute this. Yes, I'll use the template in the future.

[2019-08-29 14:52] Squadrick commented on #457
@autoih Looking forward to the PR.

[2019-08-29 16:28] kyleabeauchamp commented on #454
I recall always having issues when using logic in the setup script.  Might be possible to do something with the new PEP518 approaches (e.g., https://www.python.org/dev/peps/pep-0518/).  Not 100% sure.

[2019-08-29 16:57] guillaumekln opened #461 "Setting a custom attention_layer fails with AttentionMechanism without memory"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: 2.0.0rc0
- TensorFlow Addons installed from: PyPi
- TensorFlow Addons version: 0.5.0.dev20190829
- Python version and type: 3.6

**Describe the bug**

When creating an `AttentionMechanism` without a memory and then creating an `AttentionWra

[2019-08-30 06:03] facaiy commented on #461
@qlzh727 Qianli, could you take a look? Thanks.

[2019-08-30 08:08] WindQAQ commented on #422
Seems that there is an unofficial implementation for TF/Keras.
https://github.com/CyberZHG/keras-radam

[2019-08-30 08:52] physicso commented on #422
I have found one for TF:

[2019-08-30 08:52] physicso commented on #422
I have found one for TF: https://github.com/taki0112/RAdam-Tensorflow

[2019-08-30 10:25] ChenYang-ChenYang commented on #408
@guillaumekln  please check https://github.com/tensorflow/addons/pull/464

[2019-08-30 12:24] guillaumekln commented on #461
This one is a bit tricky. A possible fix is to lazily compute `_attention_layer_size`. However, in the usage introduced by #354, it will not work until `attention_mechanism.setup_memory` is called. We could just raise an exception in that case saying that the user should call this method first.

[2019-08-30 13:07] #396 closed

[2019-08-30 13:20] Squadrick commented on #457
Reference: [Wikipedia](https://en.wikipedia.org/wiki/Matthews_correlation_coefficient)

[2019-08-30 15:05] SSaishruthi opened #467 "Adding sample weight parameter to metrics"
This will be the continuation of the metrics issue. We are planning to add  `sample weight` parameter to the metrics such as F1, R-Square, etc.

**Will this change the current api? How?** Yes. I will add a new parameter

@Squadrick and I will be working on this.

[2019-08-30 15:06] SSaishruthi commented on #467
@seanpmorgan We are taking this parameter addition to a separate issue. Can you please assign this to me?

[2019-08-30 15:52] seanpmorgan commented on #226
Hi @lamberta with 2.0 RC0 being out we were wondering what the status of this issue is?

https://github.com/tensorflow/addons/tree/r0.5/docs/api_docs/python is pinned to the release candidate, but will linking to tensorflow.org need to wait for the full release?

Also gentle ping on b/131839445

[2019-08-30 15:52] seanpmorgan commented on #450
Thanks release @facaiy !

[2019-08-30 15:52] #450 closed

[2019-08-30 17:52] SSaishruthi commented on #422
Thanks for the links. I have marked all the links and planning to kick start with the implementation in 2 days. Will keep posted.

[2019-08-31 20:25] pkan2 opened #468 "Add Conditional Gradient Optimizer"
**System information**
- TensorFlow version (you are using): 2.0.0-beta1
- TensorFlow Addons version:
- Is it in the tf.contrib (if so, where): No
- Are you willing to contribute it (yes/no): Yes
- Are you willing to maintain it going forward? (yes/no): Yes

**Describe the feature and the current behavior/state.**
The implementation of this optimizer is based on the following paper:
https://arxiv.

[2019-09-01 14:25] lw3259111 opened #470 "python3.7 run failed"
ubuntu 18.04,cuda10.0,python3.7.3

[code]
NotFoundError: tensorflow_addons/custom_ops/activations/_activation_ops.so: undefined symbol: _ZN10tensorflow12OpDefBuilder4AttrESs

[2019-09-01 21:20] iszotic opened #471 "Can ROCm be supported?"
**System information**
- TensorFlow version (you are using): tensorflow-rocm 2.0.0b3, 15/07/19
- TensorFlow Addons version: 0.4.0
- Is it in the tf.contrib (if so, where): Not applicable
- Are you willing to contribute it (yes/no): testing, I guess, but No
- Are you willing to maintain it going forward? (yes/no): No, same as above

**Describe the feature and the current behavior/state.**
When I tr

[2019-09-01 22:11] seanpmorgan commented on #470
Hi @lw3259111! What version of TensorFlow and TensorFlow Addons are you running?

[2019-09-02 01:25] lw3259111 commented on #470
tensorflow-gpu==2.0.0-beta1
tensorflow_adds==0.5.0

[2019-09-02 08:33] lukaszgrad commented on #445
Another error, and a quick google search gives no answers :-(

ERROR: /home/lukasz/kaggle/kaggle-recursion/tfrec/addons/tensorflow_addons/custom_ops/activations/BUILD:8:1: C++ compilation of rule '//tensorflow_addons/custom_ops/activations:gelu_op_gpu' failed (Exit 1)
gcc: error: unrecognized command line option '-nvcc_options=relaxed-constexpr'
gcc: error: unrecognized command line option '-nvcc_

[2019-09-02 18:11] seanpmorgan commented on #470
Addons version 0.5 was built against tensorflow 2.0.0rc0. Could you please try that version? Soon we plan to pin our releases using pypi

[2019-09-02 18:11] #470 closed

[2019-09-03 00:33] #26 closed

[2019-09-03 00:34] facaiy commented on #26
We finish it finally, thank all for your support

[2019-09-03 06:14] facaiy commented on #445
Hi, @lukaszgrad could you take a try within the docker image `tensorflow/tensorflow:custom-op-gpu-ubuntu16`?

[2019-09-03 06:27] facaiy commented on #471
Hi, would you mind take give v0.0.5 (the latest release) a try? Thanks for reporting!

[2019-09-03 06:40] facaiy commented on #375
cc @guillaumekln Hi, Guillaume, can you take a look? Thanks!

[2019-09-03 06:44] facaiy commented on #415
@liangzhenlin123 Hi, would you mind listing the original papers? and if possible, its open source reference implementation in other framework (say, pytorch)

[2019-09-03 08:08] guillaumekln commented on #375
@kazemnejad, thanks for the detective work.

For the first error, I think your approach is reasonable: we could delete the `reduction` attribute in the `SequenceLoss` constructor to let Keras know that we are taking care of the loss reduction.

For the second error, this looks like a strange Keras behavior. It creates a placeholder with the same static rank and dtype as the model output but when r

[2019-09-03 08:09] hwenjun18 opened #473 "The implementation of Weight Normalization in Wrapper.py seems wrong"
In Wrapper.py, which implements Weight Normalization, but it seems that the code is not complete, such as line 78
'''
        self.g = self.add_variable()

''

and line 60
'''
        self._track_trackable(layer, name='layer')

'''
**and i do not find the implementation of function _track_trackable and add_variable**  , do i miss something?

[2019-09-03 08:19] kazemnejad commented on #375
Yes, of course. I give it a try by the end of this week.

[2019-09-03 13:00] WindQAQ commented on #473
So we inherit from `Wrapper`

The relationship is
[code]
`->` means inheritance from.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/wrappers.py#L39
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/base_layer.py#L1705-L1708
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/tracking/base.py#L794-L

[2019-09-03 13:49] luminoso commented on #422
@SSaishruthi it looks like RAdam has already an improvement called 'RAdam+lookahead'. One possible implementation of lookahead:
https://github.com/bojone/keras_lookahead

It's called 'Ranger' (the combination of RAdam + lookahead):
Small article about it: https://medium.com/@lessw/new-deep-learning-optimizer-ranger-synergistic-combination-of-radam-lookahead-for-the-best-of-2dc83f79a48d

Paper: htt

[2019-09-03 14:36] iszotic commented on #471
I tried tfa-nightly and the same keeps happening, this is the version
`pip show tfa-nightly
Name: tfa-nightly
Version: 0.5.0.dev20190811
`

[2019-09-03 16:30] seanpmorgan commented on #471
So tensorflow-rocm is still packaged as `manylinux1` meaning it is not built with the same toolchain as TFA or TF2-RC.
https://pypi.org/project/tensorflow-rocm/2.0.0b3/#files
https://pypi.org/project/tensorflow/2.0.0rc0/#files

Notice we now publish as `manylinux2010` spec compliant. Do you happen to know a point of contact who builds/publishes `tensorflow-rocm`?

[2019-09-03 17:10] iszotic commented on #471
Here I guess https://github.com/ROCmSoftwarePlatform/tensorflow-upstream, but a specific person, nop, :(

[2019-09-03 17:43] seanpmorgan commented on #471
@whchung Would you happen to know if there are plans to publish `tensorflow-rocm` as a manylinux2010 package as will be done for TF2?

[2019-09-03 17:56] whchung commented on #471
@seanpmorgan , @sunway513 and @parallelo would provide updates on this.

[2019-09-03 18:31] parallelo commented on #471
We'll take a look into this.

[2019-09-03 18:37] seanpmorgan commented on #471
Great, thanks! Closing this issue... but happy to re-open it if problems persist.

[2019-09-03 21:59] seanpmorgan commented on #473
Thanks @hwenjun18! Please re-open this issue if Tzu-Wei's response didn't cover your concern.

[2019-09-03 21:59] #473 closed

[2019-09-04 01:47] hwenjun18 commented on #473
@seanpmorgan @WindQAQ Thanks for your reply, it covers my concern.

[2019-09-04 05:49] WindQAQ commented on #274
Close this because we already had https://github.com/tensorflow/addons/blob/master/examples/image_ops.ipynb.

[2019-09-04 05:49] #274 closed

[2019-09-04 06:34] makercob commented on #422
@luminoso however, it seems that that repo does not support TensorFlow.

[2019-09-05 20:13] karmel commented on #379
I believe this should be unblocked from the TF side now: https://github.com/tensorflow/tensorflow/commit/3bda03617967d3ff3c9af0e96c8a66b2bdad6ffc

[2019-09-05 20:16] karmel commented on #379
(CC @ewilderj , FYI)

[2019-09-05 22:29] MarkDaoust commented on #226
@adammichaelwood,

While you're looking at tensorflow/agents can you look at tensorflow/addons? It's exactly the same process.

Two quick questions for stake-holders:

1. Is there any reason not to make this a real project-subsite? `tensorflow.org/addons`?

1. Is there any reason not to use [the examples directory](https://github.com/tensorflow/addons/tree/master/examples) as a tutorials/ tab? The

[2019-09-05 22:35] seanpmorgan commented on #226
1. No reason I can think of.. that'd be much appreciated!
2. Sounds great. That'll allow us to easily build out more tutorials on the site.

[2019-09-05 22:57] facaiy commented on #226
Yes, great suggestion, we weren't aware of that

[2019-09-06 03:15] facaiy commented on #226
@MarkDaoust Hi, would you mind introducing how to integrate tutorials with API pages on tensorflow.org? I mean, what need we to do? Create a markdown index file for the example directory manually? Thanks

[2019-09-06 18:33] Anton-Velikodnyy commented on #274
@WindQAQ I haven't look at a way to implement optical flow yet in tensorflow. However, the opencv method you mentioned uses cpu causing a some delay in time. I noticed there is a GPU implementation lurking, however that conflicts with tensorflow. Would definitely be a useful operation to have given its usage in video processing for activities.

[2019-09-06 22:44] MarkDaoust commented on #226
There is this template directory we use as a starting point:

https://github.com/tensorflow/docs/tree/master/tools/templates/subsite

The main idea is to have directory for the docs, including a landing page (_index.yaml), some  metadata (_project.yaml) and the nav description (_book.yaml).

We support notebooks and markdown.

You don't need to have the api_docs checked into github (which was the

[2019-09-07 02:14] fsx950223 commented on #437
It seems [swish](https://www.tensorflow.org/api_docs/python/tf/nn#other_members) has been implemented in tensorflow.nn

[2019-09-08 20:06] PhilipMay opened #485 "Testing Jupyter / Colab Notebooks"
From last SIG Addons community meeting I picked up this task.

We want to discuss and implement a way to test jupyter / colab notebooks.
All discussions and ideas should go to this issue.

Furthermore the protocol sais that:
- TF team is looking at ways to test doc strings (not sure if this should go to an other issue)
- May be able to inline doc string test cases (not sure if this should go to an

[2019-09-08 20:12] PhilipMay commented on #485
I am not even sure which jupyter / colab notebooks should be tested. I guess these here:
https://github.com/tensorflow/addons/tree/master/examples

Is that right?

[2019-09-08 20:13] PhilipMay commented on #485
Should I open a separate issue about docstring testing?

[2019-09-08 20:16] PhilipMay commented on #485
Since these are norml jupyter notebooks we can smoke test them by just running them. This is possible with: `nbconvert --ExecutePreprocessor.timeout=None --to notebook --execute <noteboo_name>.ipynb`

Also see here: https://nbconvert.readthedocs.io/en/latest/execute_api.html#executing-notebooks-from-the-command-line

If this fails because some exception is raised the smoke test does not pass. But

[2019-09-09 01:57] seanpmorgan commented on #485
Thanks for taking this on @PhilipMay. First impression is that either of the two libs looks like it could work for our first pass.

[2019-09-09 08:49] guillaumekln commented on #375
Hi @kazemnejad, did you have a chance to try that?

[2019-09-09 08:55] kazemnejad commented on #375
Hi, Yes actually I’m currently working on it, I think I’ll be able to send the pull request today. Thank you for your patience.
On Shahrivar 18, 1398 AP, 1:19 PM +0430, Guillaume Klein <notifications@github.com>, wrote:

[2019-09-09 14:38] karmel commented on #485
CC @tomerk and @yashk2810 , who worked on this on the TF side.

[2019-09-09 15:38] qlzh727 commented on #375
Sorry for the very late reply. I was on a very long holiday.

For the reduction property, it might have something to do with new distribution strategy if it is used. Please see the docstring for more details.

[code]

[2019-09-09 15:39] qlzh727 commented on #375
@pavithrasv

[2019-09-09 16:05] guillaumekln commented on #375
@qlzh727 Do you suggest changing the `SequenceLoss` constructor to read from `reduction`?

[2019-09-09 16:10] kazemnejad commented on #375
Unfortunately, The mentioned issue occurs when it is used with the built-in training loops such as `compile`. Nonetheless removing the reduction attribute works fine. And according to [training.py#L1673](https://github.com/tensorflow/tensorflow/blob/50e4e13fc1b0e707e09a17bb5c4a5e9e7493fe8e/tensorflow/python/keras/engine/training.py#L1673), it seems this is the only way to force the Keras to call o

[2019-09-09 16:20] qlzh727 commented on #375
Ah, thanks for the reference to the training loop. Then I think removing the "reduction" should be the way to go.

[2019-09-09 17:51] Smokrow commented on #485
I tried running jupyter notebook cells in a docker container a while back, but as far as I remember I failed 😄 . In case something like this is of interested I am happy to help.

[2019-09-09 17:52] Smokrow commented on #201
Can I help with anything?

[2019-09-09 19:34] PhilipMay commented on #430
2 comments from my side:
- there is still a TODO in the file - IMO this should me implemented first
- What about the test? Should that be part of the PR?

[2019-09-09 19:46] kazemnejad commented on #375
@qlzh727 @guillaumekln

There is also another incompatibility. As you know, we need to pass the sample_weight to the `SequenceLoss` class (to eliminate the effect of pad tokens on the loss value). In order to do this in the Keras-fashion, we have to use the following setting:
[code]
where y's shape is `(batch, seq_length)`, weights' shape is `(batch, seq_length)`, and model output shape is `(batch

[2019-09-09 20:05] PhilipMay commented on #485
I which folder should the test be placed? I see 2 possibilities:
- `tensorflow_addons` <- where the other tests are also located
- `examples` <- where the examples are located

[2019-09-09 20:08] yashk2810 commented on #485
@MarkDaoust @lamberta

[2019-09-09 20:13] tomerk commented on #485
CC'ing @MarkDaoust who worked on this as well for tensorflow_docs. We test the tensorflow tutorials using a custom bazel test rule that combines `nbconvert` calls w/ small regex rewrites of the notebook code to make it execute less work.
(e.g. we replace the number of epochs to run w/ `1`, and swap real dataset downloads with mock data).

We can explore open sourcing this rule if you think it woul

[2019-09-09 20:16] lamberta commented on #485
Re: location
Noted in [this comment](https://github.com/tensorflow/addons/pull/486/files/aa6b76c166fe9c660a965f28d90d9ed188556cd8#r322428837), for notebooks that are intended as doc pages on tensorflow.org, they should go in the `docs/tutorials/` directory to be consistent with the rest of the site. (We use "examples" to mean demo apps and other non-narrative samples.)

[2019-09-09 20:32] SSaishruthi commented on #430
@PhilipMay Thanks
We are working on test and todo in the PR

[2019-09-09 21:54] PhilipMay opened #490 "Bug in F1 and FBeta implementation and test"
**Describe the bug**
The tests for FBeta and F1 both use a softmax function with just one output.
- https://github.com/tensorflow/addons/blob/76249547c481ed47bd6f2f8092a99cd64d37fd2f/tensorflow_addons/metrics/fbeta_test.py#L122
- https://github.com/tensorflow/addons/blob/76249547c481ed47bd6f2f8092a99cd64d37fd2f/tensorflow_addons/metrics/f1_test.py#L116

The effect is that the output (prediction) i

[2019-09-09 21:59] PhilipMay commented on #430
IMO there is a serious bug in F1: #490

[2019-09-09 22:20] PhilipMay commented on #490
I guess something like this needs to be added:
https://github.com/tensorflow/tensorflow/blob/2ff39d00faf8f7e433ddcae0aa278f6e573b0c55/tensorflow/python/keras/metrics.py#L2767

[2019-09-09 22:23] SSaishruthi commented on #490
Thanks, @PhilipMay. You are right that result will not be an exact number.
The initial implementation we had do not indicate the probability.

`preds = tf.constant([[0, 0, 1], [1, 1, 0], [1, 1, 1]], dtype=tf.int32) `

In this [0, 0, 1] does not indicate probability. Think we have 3 classes and the predicted is class 3 which is encoded as [0,0,1]

We may need to add argmax to change that in case if

[2019-09-09 22:28] PhilipMay commented on #490
Yes - if we want to be able to add the metric to keras at training time we need that. Mybe you could have a look at the metrics implementations in Tensorflow.

Thanks you very much. :-)

[2019-09-09 22:30] SSaishruthi commented on #490
@seanpmorgan Can you please assign this issue to me?

[2019-09-10 01:02] #461 closed

[2019-09-10 01:16] helinwang opened #492 "Would like to contribute parse time operator into tfa.text"
Hi SIG Addons community,

I would like to contribute parse time operator into tfa.text.

Here is the short description (detailed description in the attachment):

The parse time operator parses a timestamp string with the given format into the Unix time representation, the number of seconds / milliseconds / microseconds / nanoseconds elapsed since January 1, 1970 UTC.
For example, “2019-05-17T23:56

[2019-09-10 08:45] guillaumekln opened #494 "Backport "Fix handling of sequence_length w/ beam search decoder""
**System information**
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow version and how it was installed: binary
- TensorFlow-Addons version and how it was installed: binary
- Python version: 3.6
- Is GPU used? No

**Describe the bug**

For some reasons, patches are still pushed to `tf.contrib.seq2seq`, see:

https://github.com/tensorflow/tensorflow/commit/8bbc0392bc2e843df07de38d8ab66414

[2019-09-10 09:51] KiryanovKD opened #643 "Expected Center Loss"
**System information**

TensorFlow version (you are using): 2 rc
Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Expected Center Loss can help in learning discriminative features in seq training without framewising

**Will this change the current api? How?**
No

**Who will benefit with this feature?**
Anyone who wants to use this loss functio

[2019-09-10 10:54] PhilipMay commented on #490
This here seems to work for me - not sure if it still has bugs in border cases or can be implemented more efficient:
[code]

[2019-09-10 12:23] tsrobinson opened #495 "Guidance on updating to tfa AdamW from contribs AdamW"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- TensorFlow version and how it was installed (source or binary):  2.0.0rc
- TensorFlow-Addons version and how it was installed (source or binary): 0.5
- Python version: 3.7.3
- Is GPU used? (yes/no): No

Hi, please tell me if this is the wrong place to post this issue. I'm in the process of updating my code to

[2019-09-10 12:24] PhilipMay commented on #490
For further tests you can compare your results with those from sklearn:
[code]

[2019-09-10 13:52] SSaishruthi commented on #490
Thanks @PhilipMay
I have a working code now using threshold option. That will help in both multiclass and multilabel. Will create a PR today

[2019-09-10 14:52] seanpmorgan commented on #201
Hi @jjhelmus -- we're starting the process of packaging tensorflow/addons in conda and wanted to ask a few questions to see if you could guide us.

1. Is conda-forge the best channel for us?
1. It looks like there is a conda-forge/tensorflow and anaconda/tensorflow. Which dependency should we build against? (I think the conda-forge docs say to avoid external channel dependencies?)
1. Do you have a

[2019-09-10 15:05] PhilipMay commented on #490
That is great. Thanks. I need that fix for my project. :-)
Maybe you can add a comparison with f1_score from sklearn to the tests.

[2019-09-10 15:10] seanpmorgan commented on #495
Hi @tsrobinson! Without seeing the full code it's a little tough, but in general in TF2 I would recommend you run your code in eager execution or have Keras compile and fit the model.

As you said Keras optimizers need a callable loss to execute:
https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L99
[code]

This example nicely shows you what i

[2019-09-10 16:02] fisakhan opened #496 "AffineTransform"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no):
- Are you willing to maintain it going forward? (yes/no):
- Is there a relevant academic paper? (if so, where):yes
- Is there already an implementation in another framework? (if so, where):https://en.wikipedia.org/wiki/Affine_transformation
- Was it part of tf.contrib? (i

[2019-09-10 16:06] kazemnejad commented on #375
Hi @guillaumekln & @qlzh727, Did you have a chance to look at my comment? Thanks.

[2019-09-10 16:09] guillaumekln commented on #375
Thanks for trying to make this work. Can we support both sparse and one-hot labels in `sequence_loss`? Checking the tensor rank should be enough to make the distinction.

[2019-09-10 16:20] kazemnejad commented on #375
Yes, I think that would work perfectly fine. Actually, I was waiting for your comment. Thanks.

[2019-09-10 16:27] qlzh727 commented on #494
Thanks for the notice, let me take a look for the change in contrib.

As a side note, since addons has been port into google internal yet, eng within google is still using existing contrib version of seq2seq.

[2019-09-10 16:30] qlzh727 commented on #494
I think tensorflow/tensorflow@8bbc039 should be mirrored to addons. let me send a PR quickly

[2019-09-10 17:00] kyleabeauchamp commented on #201
1.  I'm 90% sure the answer is yes, but there will be issues with GPU support given the state of nvidia licensing (doesn't support OSS projects like conda-forge).
2.  We're definitely in a stange place with wanting to support both CPU and GPU work.  I think this is a very good question that we need to resolve.
3.  The lag time for conda-forge is about an hour after the pull request is merged.  How

[2019-09-10 17:05] AakashKumarNain commented on #361
Not exactly object detection but as this one is a binary classification problem, so the same concept applies here. Check this out: https://www.kaggle.com/aakashnain/diving-deep-into-focal-loss

[2019-09-10 17:11] SSaishruthi commented on #361
Thanks @AakashKumarNain

[2019-09-10 17:14] seanpmorgan commented on #422
Hi @SSaishruthi I know you're working on several different things, including the core migration of F1. Would you be okay with @AakashKumarNain taking a look at this one as he has expressed interest. Would love for you to help review any implementation.

[2019-09-10 17:14] AakashKumarNain commented on #361
You are welcome @SSaishruthi . I wanted to add an example when I submitted the `PR` for focal loss but for putting object detection as an example with focal loss requires a little verbose example with many moving parts, so I parked it for later at that point in time

[2019-09-10 17:18] SSaishruthi commented on #422
@seanpmorgan Sure. Will collaborate along so that we keep things going.

[2019-09-10 17:20] SSaishruthi commented on #361
I have a placeholder example PR for this. Will keep experimenting with different use cases. Thanks for the input

[2019-09-10 17:20] AakashKumarNain commented on #422
@seanpmorgan @SSaishruthi To me, the keras implementation as pointed out in the comments LGTM. Also, it is written with `Optimizer_v2` api. Take a look

https://github.com/CyberZHG/keras-radam/blob/master/keras_radam/optimizer_v2.py

[2019-09-10 17:26] seanpmorgan commented on #422
Ping @CyberZHG. Would it be okay to use your implementation as part of Addons? The license you have on it looks good -- but wanted to get your permission/see if you'd like to contribute it yourself?

[2019-09-10 17:29] AakashKumarNain commented on #422
Yeah it is fair if @CyberZHG just adds it here. Most of the work is already done in that.

[2019-09-10 17:32] seanpmorgan commented on #492
Hi @helinwang as mentioned on the mailing list -- I think this would be a nice addition. Could you go ahead with a PR and we can review there.

[2019-09-10 22:50] tomerk commented on #379
I'm putting together a pr to do this.

[2019-09-10 23:38] seanpmorgan opened #498 "Utilize Bazel 1.0 during build"
Bazel 1.0 should be released this month, and with it we'll get guarantees of backwards compatibility (currently the build may fail depending which version of bazel is installed)

https://github.com/bazelbuild/bazel/issues/8573

[2019-09-10 23:48] seanpmorgan commented on #496
Hi @fisakhan! Currently Keras is undergoing a preprocessing redesign:
https://github.com/keras-team/governance/pull/10

As I understand it, all keras preprocessing utils will be made compatible with `tf.data` and so tensorflow ops for all of that functionality will land in TF core.

Please feel free to re-open if this doesn't cover your request.

[2019-09-10 23:48] #496 closed

[2019-09-11 07:49] xhochy commented on #201
As a conda-forge maintainer (not part of core though), I would answer:

1. Yes, it is. This where nearly all community-led conda package development happens except for specialized things like bioconda.
2. For CUDA in conda-forge and the legal problems see https://github.com/conda-forge/conda-forge.github.io/issues/63 and https://github.com/conda-forge/conda-forge.github.io/issues/687
3. Review cyc

[2019-09-11 08:39] #494 closed

[2019-09-11 08:56] PhilipMay commented on #490
@SSaishruthi I do not think that this implementation with threshold fixes this problem. Here is why:

When you have a "single-label categorial classification" where one sample belongs to exactly one class of many possible classes you apply a softmax funcation. Let me give an example:

You habe 3 classes: dog, cat and bike and do a one hot encoding.
[code]

Now when you put a dog into the model you

[2019-09-11 09:01] DawyD opened #501 "image.rotate - non constant angles - error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux x86_64
- TensorFlow version and how it was installed (source or binary): 2.0.0-rc0 (pip)
- TensorFlow-Addons version and how it was installed (source or binary): 0.5.0 (pip)
- Python version: 3.5
- Is GPU used? (yes/no): yes

**Describe the bug**

When using image.rotate in GradientTape() with non-constant angl

[2019-09-11 13:39] SSaishruthi commented on #490
@PhilipMay

I am taking binary accuracy as a reference here: https://github.com/tensorflow/tensorflow/blob/2ff39d00faf8f7e433ddcae0aa278f6e573b0c55/tensorflow/python/keras/metrics.py#L630

In order for this to work you need to provide the threshold value as 0.49 above. I can probably fix the threshold default to be 0.5. I think below 0.5, it may not be considered as a good prediction.

[2019-09-11 15:44] jjhelmus commented on #201
1. conda-forge is the largest community-led packaging community and would make an ideal channel to use and contribute too (note that I am on the conda-forge core team so I might be bias).  Another option is to create your own channel and publish packages there.
Some organizations like `pytorch` and `rapids` find this flexibility useful. Using your own channel will require you to setup the necessar

[2019-09-12 01:03] seanpmorgan opened #504 "Package 0.5.1 against TF2-RC1"
Looks like RC1 was released. We were already planning the next minor release so should probably build against this version.

https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/9kOKxqVsv8Q

cc @facaiy

[2019-09-12 02:04] seanpmorgan commented on #201
Thanks for all the feedback everyone. So to answer one question: Addons does indeed utilize the pre-compiled libtensorflow_framework.so for our C++ op linking.

Just want verify my understanding from the above information is correct:
1) It seems like packaging in conda-forge will be ideal
2) We should link to `defaults` channel's `tensorflow` making sure we match the ABI that TF was compiled again

[2019-09-12 02:39] fsx950223 commented on #437
Please assign rrelu to me and it seems swish has been implemented in tensorflow.nn module.@seanpmorgan

[2019-09-13 05:00] fsx950223 opened #505 "Activation api style"
**Describe the feature and the current behavior/state.**
Let the activation api style follows tensorflow.nn api style.<br>
Advantage:
1. Debugging friendly(name support)
2. More tensor types support

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where):
- Is there

[2019-09-13 17:42] kaushikb258 opened #508 "BasicDecoder input error"
I followed the basic decoder example from the TF addons home page:

sampler = tfa.seq2seq.sampler.TrainingSampler()

decoder_cell = tf.keras.layers.LSTMCell(256)
projection_layer = tf.keras.layers.Dense(num_outputs)
decoder = tfa.seq2seq.BasicDecoder(decoder_cell, sampler, output_layer=projection_layer)

outputs, _, _ = decoder(decoder_emb_inp,  initial_state=encoder_state, sequence_length=decoder

[2019-09-13 18:11] kaushikb258 commented on #508
Sorry, its a silly bug. I fixed it. Please close/delete this issue.

[2019-09-13 18:11] #508 closed

[2019-09-14 10:42] PyExtreme commented on #335
Hi @seanpmorgan @kazemnejad , Is it still an  _Open Issue_?
Asking because I am interested to work on it.

[2019-09-14 11:22] kazemnejad commented on #335
Hi @PyExtreme, Thank you for showing your interest.
Yes, actually I'm currently working on it. I was waiting for the #375 to be fixed and it got fixed 3 days ago in #503. I think I can submit a PR in the next few days. Thus you can work on that PR if you want.

[2019-09-15 00:41] facaiy opened #509 "Add docstring for Correlation cost layer"
1. Hide [correlation_cost](https://github.com/tensorflow/addons/blob/cffee80779e606870ebf2b7fce241eeb870053f5/tensorflow_addons/layers/optical_flow.py#L30) function, and make it private.
2. Add document for [CorrelationCost](https://github.com/tensorflow/addons/blob/cffee80779e606870ebf2b7fce241eeb870053f5/tensorflow_addons/layers/optical_flow.py#L143)

For details please check the discussion in h

[2019-09-15 00:46] facaiy commented on #504
Thanks for reminding me, Sean. Totally agree.

I suggest that we should make correlation_cost private, see https://github.com/tensorflow/addons/issues/509 . I'm happy to release 0.5.1 after finishing it. What do you think?

[2019-09-15 00:47] facaiy commented on #504
+@tensorflow/model-maintainers for visibility

[2019-09-15 00:52] facaiy commented on #467
Hi, @SSaishruthi , just a note that Metric class has supported sample_weight parameter :-)

[2019-09-15 00:59] facaiy commented on #495
Hi, Tom, please check out https://www.tensorflow.org/beta/guide/eager#variables_and_optimizers and let us know if it helps :-)

[2019-09-15 05:15] PyExtreme commented on #509
Hello @facaiy ,

I am new to open source but have good experience in ML. I am interested to contribute to **_addons_**.
Could you please assign it to me?

Thanks

[2019-09-15 06:24] WindQAQ commented on #505
cc @seanpmorgan and @facaiy.

[2019-09-15 11:44] kazemnejad opened #511 "Creating an instance of BasicDecoder fails with AttentionMechanism without memory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): 2.0.0-dev20190914
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0-dev
- Python version: 3.6
- Is GPU used? (yes/no): Yes

**Describe the bug**

When creating a `BasicDecoder` using an `AttentionWrapper` cell

[2019-09-15 13:05] guillaumekln commented on #511
Thanks for the report!

It appears `assert_like_rnncell` reimplements its own `hasattr` in terms of `getattr`: https://github.com/tensorflow/tensorflow/commit/d70e8ee2d8c75d5af830f6f6ebc233fc93a89081. This is certainly to support cells overriding `__getattribute__` but it's unclear how common this use case is.

As it is a private TensorFlow API, I would suggest to implement an alternative that wor

[2019-09-15 17:21] kazemnejad commented on #511
Yes, I think it would work completely fine. However, it would restrict the type of RNNCells that we could potentially accept. So probably we need to document it somewhere in our code to inform the future users.
In addition, Maybe we should warn the user to not use our `.output_size`/`.state_size` before the memory initialization. And even double-check our code to make sure that we wait until the i

[2019-09-15 18:13] kaushikb258 opened #512 "AttentionWrapperZeroState error"
I am trying something similar to Tacotron using tfa.seq2seq wrappers, here is my code below:

encoder = tf.keras.layers.LSTM(num_units, return_state=True)
encoder_outputs, state_h, state_c = encoder(encoder_emb_inp)
encoder_state = [state_h, state_c]

sampler = tfa.seq2seq.sampler.TrainingSampler()
decoder_cell = tf.keras.layers.LSTMCell(num_units)
projection_layer = tf.keras.layers.Dense(num_outp

[2019-09-15 19:51] PhilipMay commented on #485
I have a first prototype solution here:
[code]

The problem is that the path (NBDIR) is hard wired.
Any idears how to improve this?
Where should we place this script? In examples directory or tensorflow_addons/utils ?

[2019-09-16 01:40] facaiy commented on #509
Welcome, @PyExtreme :-)

[2019-09-16 06:12] PyExtreme commented on #509
Hi @facaiy , @WindQAQ , I am facing some bazel related issue while running the tests. I am trying to  solve it. I have followed the documentation as well.
It would be great if you could please provide me the commands list in sequence to set up the entire environment and run tests.

[2019-09-16 09:47] guillaumekln commented on #512
Could you give the full code to reproduce the error?

[2019-09-16 13:24] Smokrow commented on #201
Should we add like a "WiP" or "blocked" Label or something like that?

[2019-09-16 15:28] kaushikb258 commented on #512
Here it is:
https://github.com/kaushikb258/voice_seq2seq

I am trying to convert voice using seq2seq with attention.

Are you aware of any publicly available seq2seq with attention code for any application using Tensorflow 2.0 and addons, specifically with the AttentionWrapper in TF addons?

[2019-09-16 15:35] guillaumekln commented on #512
If you can prepare a code snippet like the one above that we can just copy-paste to reproduce the error that would be great. I did not reproduce the issue at this time.

I'm using `AttentionWrapper` [here](https://github.com/OpenNMT/OpenNMT-tf/blob/v2/opennmt/decoders/rnn_decoder.py#L68) but without the decoding implementation of `tfa.seq2seq`.

[2019-09-16 15:59] seanpmorgan commented on #495
Closing. Please feel free to re-open if this was not sufficient

[2019-09-16 15:59] #495 closed

[2019-09-16 16:37] kaushikb258 commented on #512
It is in https://github.com/kaushikb258/voice_seq2seq/models/tacotron.py

I just followed the decoding implementation from tfa, but looks like something is not right:
https://github.com/tensorflow/addons/tree/master/tensorflow_addons/seq2seq

I will look into your decoder implementation.

[2019-09-17 07:30] guillaumekln commented on #512
I copy-pasted your implementation and used these dummy inputs:

[code]

It runs fine.

Are you using the latest version of TensorFlow Addons? If yes, could you share the inputs for which the error above is raised?

[2019-09-17 19:30] tomerk commented on #379
I just put together a PR. I had to make some changes to TF as part of this because there were still bugs in the TF RC1 w/ namespaces in op names, so this does not work w/ RC1. It works w/ the TF 2.0 nightly & should work w/ the upcoming RC2.

[2019-09-17 19:36] seanpmorgan commented on #505
Hi @fsx950223 thanks for bringing this up. So as mentioned we've had this discussion in #426.

I'm just going to summarize my understanding and let me know if I'm missing anything
* `tf.nn` is a grab bag for many ops -- including many that are not activations.
* `tfa.activations` does not have the best constrained API. However, they are all used for the same general purpose (~non-linear activation

[2019-09-17 20:07] shun-lin opened #517 "Maintaining tqdm progress bar callback from keras-tqdm"
**Describe the feature and the current behavior/state.**

Keras integration with TQDM progress bars.

The current repository is in https://github.com/bstriner/keras-tqdm and I would like to maintain/update it for tensorflow 2.0 and put it here in the contrib section so more people can easily use it.

**Relevant information**
- Are you willing to contribute it (yes/no): Yes
- Are you willing to mai

[2019-09-17 22:51] WindQAQ commented on #505
@seanpmorgan Sean, I think what @fsx950223 means is to
1. Add `name` argument: `def hardtanh(x, name=None)` like what `tf.nn.leaky_relu` does.
https://github.com/tensorflow/tensorflow/blob/f7fd9b4fcebdd5b6b36f5604831b9b2a14de65ca/tensorflow/python/ops/nn_ops.py#L2801
2. Support integer type. This is also done in `tf.nn.leaky_relu`.
https://github.com/tensorflow/tensorflow/blob/f7fd9b4fcebdd5b6b36f

[2019-09-17 23:02] seanpmorgan commented on #505
Ah understood, I apologize I didn't go through the referenced PR.

1. Seems like the right decision to add a `name` parameter and match the other activations.
2. I would vote that we don't cast dtypes without the end user knowing (If we do -- we should at least pass a warning)

[2019-09-18 05:04] facaiy commented on #505
I have no objection, however I prefer to keep consistency with tf.keras.activations, and we can add it later. If I'm not wrong, activations are small ops in most cases. `name` attribute make it hard to maintain argument backward compatibility, take [transpose](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/transpose) for example, note how weird `name` and `conjugate` are:

[code]

My

[2019-09-18 06:03] #511 closed

[2019-09-18 07:40] utkarshsimha commented on #415
Would love to work on this - given more information!
Here are some resuources I found for them:
[sMBR](https://arxiv.org/pdf/1706.02776.pdf)
[MWER](https://arxiv.org/pdf/1712.01818.pdf)

[2019-09-18 08:57] #422 closed

[2019-09-18 14:12] guillaumekln opened #522 "Add Adafactor optimizer"
**Relevant information**
- Are you willing to contribute it: Not at this time.
- Are you willing to maintain it going forward? Yes
- Is there a relevant academic paper? https://arxiv.org/abs/1804.04235
- Is there already an implementation in another framework? https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/utils/adafactor.py
- Was it part of tf.contrib? No

**Which API type

[2019-09-19 02:28] facaiy commented on #415
Welcome, Utkarsh! Feel free to reach out us if you need any help :-)

[2019-09-19 02:48] fsx950223 commented on #505
Do we need name scope?

[2019-09-19 05:30] facaiy commented on #379
Closed as it's fixed by #516

[2019-09-19 05:30] #379 closed

[2019-09-19 05:38] facaiy opened #526 "Delete (or modify) _correlation_cost test cases"
As  _correlation_cost became private method, we might should remove those related test cases.

[2019-09-19 05:57] fsx950223 commented on #526
good idea

[2019-09-19 13:16] seanpmorgan commented on #526
Agree... though I would request that they be modified so the same test coverage is applied to the Keras Layer.

[2019-09-19 16:16] #509 closed

[2019-09-19 17:26] WindQAQ commented on #501
Sorry for the late response. I cannot reproduce the bug. Seems that your CUDA version is too old to execute the code successfully. Feel free to ping us if you have further questions.

https://colab.research.google.com/drive/1XTBi5SC79N0yiRClst0-bLjf5I8lCAW8

[2019-09-19 17:51] SSaishruthi commented on #467
Thanks @facaiy
Was on vacation. Will work on this on top of the current PR

[2019-09-19 17:51] #526 closed

[2019-09-19 21:01] WindQAQ commented on #505
To conclude
- Activations are not necessary to have `name` argument
- Integer type supports might be needed when activations are linear (like relu)

Feel free to re-open the issue if there is anything unclear. Thanks!

[2019-09-19 21:01] #505 closed

[2019-09-19 23:00] helinwang commented on #492
Thanks, Sean!
I sent https://github.com/tensorflow/addons/pull/530.
Btw, the docker based development / build environment that tensorflow/addons provides is pretty convenient to use :)

[2019-09-20 14:46] seanpmorgan commented on #501
Closing. Please feel free to re-open if the issue is un-related to CUDA version. We only support CUDA 10.0 at the moment.

[2019-09-20 14:46] #501 closed

[2019-09-20 15:44] #468 closed

[2019-09-20 15:49] seanpmorgan commented on #504
Release looks great... thanks Yan!

[2019-09-20 16:09] guillaumekln opened #532 "Package import fails when using tensorflow-gpu and CUDA libraries are missing"
**System information**
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow version and how it was installed: 2.0.0rc1 (binary)
- TensorFlow-Addons version and how it was installed: 0.5.1 (binary)
- Python version: 3.5.2
- Is GPU used? No

**Describe the bug**

When using `tensorflow-gpu`, importing the `tensorflow_addons` package fails if CUDA libraries are missing while importing `tensorflo

[2019-09-20 17:01] seanpmorgan commented on #532
Thanks for catching. Just for clarity `import tensorflow` using `tensorflow-gpu` works on the CPU only system? What is the version of the installed tensorflow?

[2019-09-20 17:04] WindQAQ opened #533 "Request for pdist API"
**Describe the feature and the current behavior/state.**
`tfa.losses.metric_learning.pairwise_distance` computes pairwise 2-norm distance between each sample points. However, it is much slower than `torch.nn.functional.pdist` and even slower than `scipy.spatial.distance.pdist`. Though `torch` and `scipy` returns flatten upper triangular matrix only (the distance matrix is symmetric).

https://cola

[2019-09-20 17:13] guillaumekln commented on #532
Yes.

[2019-09-20 17:17] seanpmorgan commented on #532
Thx.. I was also able to confirm this using the `custom-op` cpu only docker image.

cc @gunan @yifeif Do either of you have any insight on why our dynamic loading (when paired with `tensorflow-gpu==2.0.0rc1`) would require CUDA?

I tested the same release 0.5.1 with just `tensorflow==2.0.0rc1` and it properly loaded CPU kernels only

[2019-09-20 17:26] seanpmorgan commented on #532
Hmmm as just a note. When running `tf.test.is_gpu_available()` with `tensorflow-gpu`  I get the same warning:
[code]

But it doesn't Segfault right afterward and eventually returns `False`.

[2019-09-20 17:37] seanpmorgan commented on #532
Full trace using [faulthandler](https://docs.python.org/3/library/faulthandler.html). Not much info other than it happens in `load_library`

[code]

[2019-09-20 18:12] gunan commented on #532
One scenario I see happening is the following:
TF achieves loading GPU code on cuda-less machines by not explicitly dynamically linking cuda libraries. Is it possible that tf addons package explicitly links CUDA?
To confirm this:
[code]

Yifei, do we have our wrappers for CUDA code exposed? is there a way to rewrite tfa to use those, and avoid directly linking CUDA?

[2019-09-20 19:53] kazemnejad opened #534 "BasicDecoder fails with masked input tensor"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): binary(2.0.0-dev20190920)
- TensorFlow-Addons version and how it was installed (source or binary): binary(0.6.0-dev)
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Describe the bug**

When the `BasicDecoder` receives a tensor

[2019-09-20 22:30] facaiy commented on #504
[code]

[2019-09-20 23:06] facaiy commented on #504
@guillaumekln reported the bug in https://github.com/tensorflow/addons/issues/532

[2019-09-20 23:15] facaiy commented on #504
@seanpmorgan Is it good to drop 0.5.1 release, and create 0.5.2 package built on rc0? Perhaps we'd better to support rc1 or newer tf version after https://github.com/tensorflow/addons/issues/532

[2019-09-20 23:21] seanpmorgan commented on #504
I think that's a good idea. I don't see a reason to not use rc1 and just not pin it using setup.py though. However, seeing as rc2 is coming soon whatever is easiest to rollback and release is good with me

[2019-09-20 23:45] facaiy commented on #532
I find the same problem when using tensorflow-addons==0.5.0 with tensorflow-gpu==2.0.0-rc0 on Linux non-gpu environment.

[2019-09-20 23:56] facaiy commented on #517
Looks cool, any thoughts @tensorflow/sig-addons-maintainers

[2019-09-20 23:56] yifeif commented on #532
I think we can link against libtensorflow_framework.so instead of nvidia's shared library as long as the symbols used by custom ops are wrapped in TF, but I haven't tried it yet. The tool chain needs to be udpated to point to libtensorflow_framework.so.

[2019-09-21 11:24] kazemnejad opened #535 "AttentionMachanism is not compatible with Eager Execution"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): binary(2.0.0-dev20190920)
- TensorFlow-Addons version and how it was installed (source or binary): binary(0.6.0-dev)
- Python version: 3.6
- Is GPU used? (yes/no): Yes

**Describe the bug**

In the context of eager execution, we need

[2019-09-21 19:39] Smokrow commented on #522
I will give this a try tomorrow

[2019-09-22 19:43] PhilipMay opened #537 "cant install tf_addons in edit mode"
I can not run `pip install -e .` with tf.addons.

I am on Mac and using conda, python 3.6 with fresh git checkout of tf.addons.

Is there a workaround? Edit mode would be nice for development / tests.

I get this error:
[code]

[2019-09-22 20:25] shun-lin commented on #537
Hi,

I ran into similar issues when I try to build tf_addons in Mac OS.

You may found those flags helpful

[code]

when you trying to update the package after making some change, if it doesn't work for you. The way I re-build the package after making developmental changes in the package in macOS env is

[code]

I hope this helps!

[2019-09-23 10:50] Times125 opened #641 "RNN-Transducer Loss support"
I found that there are no RNN-Transducer  loss in the new version. I have to use third party pkg like [wrap-transducer](https://github.com/HawkAaron/warp-transducer/tree/master/tensorflow_binding)
So, official support in both tf1.x and tf2 is therefore expected. Thanks！

[2019-09-23 13:12] guillaumekln commented on #535
I think 1. is currently the most explicit approach.

If I understand correctly, 2. and 3. do not seem to be compatible with step-by-step decoding, at least it would inefficient to run the memory layer at each step.

[2019-09-23 14:03] kazemnejad commented on #535
The problem I had with the first option was this comment in the `AttentionMechanism.call()` method:
[code]
I'm not sure how using the `.setup_memory()` would affect this? Is it okay to entierly use this method to set up the memory instead of `AttentionMechanism.call(..., setup_memory=True)`?

For the 3rd option, I meant calling the method with `setup_memory=True`. i.e. `mechanism(memory, memory_ma

[2019-09-23 18:06] Smokrow commented on #485
I think it would be best to keep this away from the examples folder since this folder might get more "normal user clicks" than other module directories. Maybe you can put it to the other tools. @seanpmorgan maybe here https://github.com/tensorflow/addons/tree/master/tools/ci_testing ?

[2019-09-23 18:08] Smokrow commented on #485
@PhilipMay could you open a PR with your changes?

[2019-09-23 20:11] PhilipMay commented on #485
@Smokrow PR with first version is here: #540

[2019-09-23 21:57] kaushikb258 commented on #512
I am using TF addons 0.5. I have a small set of 8 inputs as Numpy arrays now in the following repo. Still getting the same error. Feel free to take a look. Thanks!
https://github.com/kaushikb258/voice_seq2seq

[2019-09-24 00:43] seanpmorgan opened #541 "Package TFA 0.5.2 pinned to TF2-RC2"
RC2 is released so we can do a minor release pinned to this. For now this is blocked until #539 is merged.

[2019-09-24 00:44] seanpmorgan commented on #504
Think we'll have to fix this on the next minor release. Closing.

[2019-09-24 00:44] #504 closed

[2019-09-24 00:45] seanpmorgan commented on #445
Closing this as we packages are now built with optimizations. Please feel free to re-open if this problem is persisting.

[2019-09-24 00:45] #445 closed

[2019-09-24 00:51] seanpmorgan commented on #517
I think its a nice addition (and our first callback). Please be sure to update the callbacks README guidelines if there is anything you find missing from the documentation.

[2019-09-24 00:54] seanpmorgan commented on #537
Thanks for the help. Perhaps we should add something like this for the documentation (should verify this on linux envs as well).

Closing... but happy to re-open if there is more discussion needed.

[2019-09-24 00:54] #537 closed

[2019-09-24 18:40] Smokrow commented on #522
I talked with @guillaumekln and we decided that we will drop the experimental quantization flag of the t2t  implementation to avoid implementing all the dependencies for now.

It looks like Keras will add quantization functionality as discussed in [here](https://groups.google.com/a/tensorflow.org/d/msg/developers/dvxDWMjR8YQ/pQMGE51EBwAJ), so we can add the flag back into the function once it is r

[2019-09-25 00:07] fsx950223 commented on #505
It seems the TensorFlow code style guide suggests use name scope
https://www.tensorflow.org/community/contribute/code_style#python_operations

[2019-09-25 00:32] WindQAQ commented on #522
I am fine with this :smiley:

[2019-09-26 01:58] fsx950223 opened #543 "Add bfloat16 support to ops"
**Describe the feature and the current behavior/state.**
Ops need to support bfloat16 data type which will accelerate model inference and decrease model size.
**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): https://en.wikipedia.org/wiki/Bfloat16_floating-poi

[2019-09-26 15:40] hichameyessou commented on #305
@rjurney The only problem I see is that tf.count_nonzero is non-differentiable which could be solved by rewriting it with a close approximation, resulting in:

`def hamming_loss(y_true, y_pred):
  y_true = tf.convert_to_tensor(y_true, name="y_true")
  y_pred = tf.convert_to_tensor(y_pred, name="y_pred")

  diff = tf.cast(y_true - y_pred, dtype=tf.float32)

  #Counting non-zeros in a differentiable

[2019-09-26 16:30] bionicles commented on #437
https://github.com/tensorflow/tensorflow/issues/32783
[code]

[2019-09-26 16:37] bionicles commented on #437
[code]
[code]
[code]

[2019-09-26 16:41] bionicles commented on #437
also, here's Logistic Map, which is (if you believe wikipedia) the simplest function on the "Edge of Chaos"

https://en.wikipedia.org/wiki/Logistic_map

[code]

[2019-09-27 01:35] kazemnejad commented on #535
Hi @guillaumekln,
Did you have time to investigate this issue any further? Thanks.

[2019-09-27 01:54] WindQAQ commented on #437
We have already had C++/CUDA kernel for gelu activation, which is much faster than pure Python operations.
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/activations/gelu.py

[2019-09-27 04:13] shun-lin commented on #517
Hi,

Thank you so much for your comments! I have been busy with work lately but will work on this when I get time!

[2019-09-27 17:09] ebrevdo commented on #494
@qlzh727 thanks so much for handling this!

[2019-09-27 17:15] qlzh727 commented on #535
@kazemnejad, in the eager context, why do we need to "re-setup the memory on each step of training"? Does the memory change after each step?

If we need to diverge the behavior between eager and graph context, we could do this within the __call__ body.

[2019-09-27 18:11] kazemnejad commented on #535
To be clear, by the **step**, I meant the step of training (one batch flowing through the model's graph), not one step of dynamic decoding in RNNs.

I hypothesize that in the eager execution, the graph is dynamic so there are no symbolic tensors  tensors are created eagerly upon OPS invocation. This means that, if we don't call the `.setup_memory()` on each run, the `AttentionMechanism` will simpl

[2019-09-27 23:01] qlzh727 commented on #535
I see. "run_eagerly=True" is more like a debug mode where all the tensor input/output to layer will just be eager tensor (numpy array like). It will have a bad performance, but will allow user to debug and trace the numeric value if needed.

In that case, I agree that the cached value for memory will be incorrect, and should be reset/populated per batch. I think the __call__() should take that int

[2019-09-27 23:03] qlzh727 commented on #535
sorry, I mean __call__, somehow github was converting it to call.

[2019-09-28 10:20] #492 closed

[2019-09-28 19:55] ruifengma commented on #94
[code]

WARNING:tensorflow:Entity <bound method KerasLayer.call of <tensorflow_hub.keras_layer.KerasLayer object at 0x13180d390>> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: module 'gast' has no attribute 'Num'
WARNING: Entit

[2019-09-29 18:45] WindQAQ commented on #543
I think it would be great if we could support bfloat16 :smiley:

[2019-09-30 10:05] #532 closed

[2019-09-30 10:06] facaiy commented on #541
As #532 has been fixed by #539, we'll plan to release 0.5.2.

[2019-09-30 14:07] mdanatg commented on #94
@ruifengma could you open a separate bug for these warnings? They're due to a different cause, happy to elaborate on a separate thread.

[2019-09-30 16:10] WindQAQ opened #550 "Migrate gelu to core"
**Describe the feature and the current behavior/state.**

`tfa.activations.gelu` would be moved to `tf.keras.activations.gelu`, as well as the CC kernels.

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): yes
- Is there already an implementation in another fr

[2019-09-30 16:11] WindQAQ commented on #550
cc @seanpmorgan and @facaiy.

[2019-09-30 17:01] #535 closed

[2019-09-30 22:48] bionicles commented on #543
would use (especially if it works on nvidia gpus)

[2019-09-30 22:54] facaiy opened #553 "Package Addons 0.6"
TensorFlow2.0.0 is out. So it's time to package and release IMO.

@seanpmorgan @tensorflow/model-maintainers what do you think, all?

[2019-09-30 23:07] bionicles opened #554 "docs idea: merge maintainers + components table"
**Describe the feature and the current behavior/state.**
Right now each submodule has 2 tables in readme, but we could theoretically merge them for simplicity -- one row per component

**Which API type would this fall under (layer, metric, optimizer, etc.)**
docs
**Who will benefit with this feature?**
doc readers
**Any other info.**
"do less"

[2019-09-30 23:12] facaiy commented on #550
+ @karmel

[2019-10-01 11:26] #541 closed

[2019-10-01 15:28] ltrottier opened #640 "Tensorflow 2.0: resampler not available"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): No

**Des

[2019-10-01 17:16] bionicles commented on #554
i saw the light, closing

[2019-10-01 17:16] #554 closed

[2019-10-01 17:19] bionicles opened #555 "please add more layers"
**Describe the feature and the current behavior/state.**
layers are super fun to write and use and can be quite powerful

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): links below
- Is there already an implementation in another framework? (if so, where): r

[2019-10-01 17:21] bionicles commented on #555
here's Alex Ororbia et al's Delta RNN ( this is a cell, i'm not using the RNN wrapper for my project but it's easily adapted for that .. just a stateful layer )

nature.Layer is just my way to switch layers project-wide super fast
[code]

[2019-10-01 17:23] karmel commented on #550
Metacomment: @ewilderj / @seanpmorgan -- I wonder if we should start tracking these moves? Seems like it's one interesting metric indicating the utility of Addons.

[2019-10-01 17:23] bionicles commented on #555
this resizer helps a ton in making stuff fit together easily. constructor takes a shape and figures out how to make that shape. optionally has a function afterward
[code]

[2019-10-01 17:25] ewilderj commented on #550
+1 I'd be strongly in favor of at least something like a  GRADUATED.md doc that kept a list of these with the date they moved. You're right, it's great bragging rights, and also a good piece of documentation for users.

[2019-10-01 17:31] bionicles commented on #555
this one is along the lines of resnet, but instead of adding, we multiply elementwise (hadamard product) so it's more like SWAG (although I think swag is a dense version) also Quadratic networks
[code]

[2019-10-01 17:38] bionicles commented on #555
ConcatCoords lets us add channels for the index of each point in a tensor. that's been shown to dramatically improve results from convolutions
[code]

[2019-10-01 17:44] bionicles commented on #555
finally here's an all-attention transformer, which just means we drop the output layer in the block and instead put those parameters as extra vectors for the attention mechanism. supposedly simpler. I used the Delta RNN to update the memory state, but that's not strictly necessary

[code]
[code]

[2019-10-01 17:48] bionicles commented on #555
i have lots more but those are some favorites which seem nice for Addons

[2019-10-01 18:14] bionicles commented on #555
Wish list:
1. Deformable Conv https://arxiv.org/abs/1703.06211

2. Network Deconvolution https://arxiv.org/abs/1905.11926 (supposedly better than batch norm)

3. Differentiable Neural Dictionary (from Neural Episodic Control) https://arxiv.org/abs/1703.01988

4. Hypernetworks are definitely high-yield (I tried a wrapper but it breaks in graph mode bc it tries to convert tensors into numpy arrays)

[2019-10-01 19:00] bionicles opened #556 "please help fine-tune the Edge of Chaos initializer"
**Describe the feature and the current behavior/state.**
Criticality allows neural systems to maximize future possible states (because chaotic regimes have more diverse futures i guess) ... so here's an initializer which attempts to reach that

I can't find the paper right now but there was a good one which showed information can propagate infinite layers at the edge of chaos and just eyeballing t

[2019-10-01 21:14] bionicles commented on #556
ah, here's one paper with the phi thing, it's on page 2,  figure 1b, they say it's around stddev of weights 1.75 actually

[2019-10-02 07:59] davideboschetto commented on #173
Is there any update to this?
tfa seems quite useful for windows users.....

[2019-10-02 21:13] seanpmorgan commented on #173
Hi @davideboschetto unfortunately this is blocked until progress is made in the issue linked above:
https://github.com/tensorflow/custom-op/issues/24

We'll update this as information is made available.

[2019-10-03 00:31] seanpmorgan opened #560 "Record in progress & completed moves to TF-Core"
Per the discussion in #550 it'd be helpful to record whats is being and has been moved.

Some things that might be worth including:

- Subpackage
- Status
- Last version it was in TFA
- First version it was added to TF
- Relevant PRs

Any opinions on what the document should be named? `GRADUATED.md`? `MIGRATED.md`?

[2019-10-03 01:34] seanpmorgan opened #562 "Build nightly from tf-nightly"
Currently we build against `tf-nightly-2.0-preview`. Now that TF2 is released we should switch to `tf-nightly` once we confirm that the switch has been made.

[2019-10-03 01:55] WindQAQ commented on #555
I am really interested in `Transformer`, but it seems that the `tensorflow/models` has already covered this. Not so sure if we should and if we could maintain a mirror for it. Multi-head attention is also an attractive feature although the single-head attention, `tf.keras.layers.Attention`, exists in core TF.

[2019-10-03 15:35] vccabral opened #563 "Unclear Metric Usage"
The current system is difficult based on common structure and understanding of tensorflow to get working.

[code]

**Relevant information**
- Are you willing to contribute it (yes/no): Yes I can add a working example when I figure it out.
- Are you willing to maintain it going forward? (yes/no): No.
- Is there a relevant academic paper? (if so, where): No
- Is there already an implementation in an

[2019-10-03 20:36] SSaishruthi commented on #430
@seanpmorgan I am thinking of updating TF core PR with the new updated scripts. Is that ok?

[2019-10-04 03:08] prakharcode commented on #415
Hi, @utkarshsimha are you taking this? I would like to pick it up if this is open. @facaiy

[2019-10-04 12:09] seanpmorgan commented on #430
Yes makes sense to me. I would request that the same updates be made for Addons as well so that when we retire them in addons it should match.

[2019-10-04 17:31] AakashKumarNain commented on #550
I am happy that finally GeLU is moving to core. @WindQAQ let me know if you need any help in any way

[2019-10-04 17:39] AakashKumarNain commented on #560
IMO `MIGRATED.md` makes more sense.

[2019-10-04 18:10] PyExtreme commented on #563
@vccabral @seanpmorgan , It would be great if you could please elaborate this issue, so that I could figure out if I can solve this one.

Thanks

[2019-10-04 19:09] seanpmorgan commented on #563
Hi @vccabral could you explain a little more please. Are you looking for documentation that explains the  code snippet you posted, or does the code snippet you posted not work?

[2019-10-04 22:37] facaiy commented on #553
Congrats, closed by https://github.com/tensorflow/addons/pull/565 👍

[2019-10-04 22:37] #553 closed

[2019-10-04 22:40] MarkDaoust commented on #226
Okay, we worked out some internal issues that were blocking us.

I think everything is working now, in #566 I hide the `template.ipynb` because it's not actually a runnable/publishable notebook. Anything prefixed with an underscore is ignored by our publisher.

[2019-10-04 22:52] lamberta commented on #226
Rather than forking the notebook template, can we add a readme that links off to the tensorflow/docs template: https://github.com/tensorflow/docs/blob/master/tools/templates/notebook.ipynb ?
Can include the `tfa` imports in the readme. And this way we can keep the other template up-to-date.
(Now that you  have some notebooks in here, the template might be less important anyway.)

[2019-10-04 22:56] facaiy commented on #553
@seanpmorgan Sean, we should bump up 0.7.0 version in master branch.

[2019-10-04 23:15] MarkDaoust commented on #226
Okay, I've got addons up on our staging site ([screenshot](https://drive.google.com/file/d/1urM9llj13sNv0Z5sSstFSZ9DraFw4A2v/view?usp=sharing)).

I'll send it out for reviews on Monday.

I think we will take the _book and _project file out of your repo since there's no good way for you to debug them.

[2019-10-05 00:05] seanpmorgan commented on #553
Yes, thanks for the reminder:
https://github.com/tensorflow/addons/pull/568

[2019-10-05 13:14] seanpmorgan commented on #437
@bionicles Thank you very much for all of these. I think a lot of these are now implemented or under review (`gelu`, `mish`, `softshrink`, `hardshrink`, `rrelu`, `lisht`, `sparsemax`, `tanhshrink`).

However, this issue format makes it very difficult for us to evaluate specific activations and determine who will be working on them. For that reason I'm going to close this issue...but feel free to o

[2019-10-05 13:14] #437 closed

[2019-10-05 13:16] seanpmorgan commented on #555
I will leave this open as it's a large amount of information. However, I would request that a separate issue be opened if anyone is attempting to work on one of these. That will allow us to discuss the specific layer and properly assign someone to work on it.

[2019-10-06 16:21] ghgit commented on #556
Perhaps this will help:
https://github.com/soufiane001/impact_of_init_and_activation/blob/master/eoc_curves.py
also:
https://github.com/ibm-research-tokyo/dybm/blob/master/src/pydybm/time_series/rnn_gaussian_dybm.py#L364

[2019-10-06 17:15] WindQAQ commented on #550
Hi all, my minor concern of this migration is that tfa's gelu is based on C++/CUDA kernel rather than a python function. So I am afraid the PR will not only affect `tf.keras.*` but also some cc files in `tensorflow/core/*` as well as `tf.nn.*`. Is it still okay for us to issue a single PR to cover core and keras part? Thank you all in advance!

[2019-10-07 02:18] npuichigo opened #574 "Import failed when using tensorflow version built from source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): 2.0.0 (build from source)
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0
- Python version: 3.6.8
- Is GPU used? (yes/no): yes

**Describe the bug**

When I install tensorflow from source code, addons c

[2019-10-07 02:24] seanpmorgan commented on #574
Hi @npuichigo thanks for creating this. I have recently noticed this issue and was going to investigate a little more before posting.

This generally occurs from a mismatch in what compiler version was used between TF and TFA. However, it looks like you built TF from source as well. I'll post any findings in this thread as we work through this.

[2019-10-07 05:29] #560 closed

[2019-10-07 12:01] RomainBrault opened #575 "`Lookahead` optimizer is not compatible with `ReduceLROnPlateau`"
**System information**
- OS Platform and Distribution (Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (pip tensorflow-gpu==2.0.0):
- TensorFlow-Addons version and how it was installed (pip tensorflow-addon==0.6.0):
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

Lookahead is not compatible with callbacks. The attribute 'lr' or 'learning_rate' is missin

[2019-10-07 12:03] RomainBrault commented on #575
Note that the original code available at  https://github.com/CyberZHG/keras-lookahead/blob/master/keras_lookahead/optimizers.py works very well with `ReduceLROnPlateau`.

[2019-10-07 13:41] DawyD commented on #501
It truly does seem to be a CUDA related error.

The key to the problem seems to be these two lines:
`Successfully opened dynamic library libcudart.so.10.0`
`You are using ptxas 8.x, but TF requires ptxas 9.x (and strongly prefers >= 9.2.88).`
Both the $PATH and $LD_LIBRARY_PATH are set to use cuda 10.0
Typing `ptxas --version` shows me:
`Cuda compilation tools, release 10.0, V10.0.145`

Why is it

[2019-10-07 14:19] RomainBrault commented on #575
Here's a quick user level patch. Waiting for an official one.

[code]

[2019-10-07 16:58] georgesterpu opened #577 "Regularisation losses with nested layers and BasicDecoder"
**System information**
- OS Platform and Distribution : Manjaro Linux testing
- TensorFlow version: tensorflow-gpu 2.0 from pypi
- TensorFlow-Addons version: 0.6.0 from pypi
- Python version: 3.7.4
- Is GPU used? (yes/no): yes

**Describe the bug**

Building a seq2seq model based on tfa.seq2seq seems to return a wrong number of regularisation losses for the decoder. Assume that both the encoder an

[2019-10-07 23:54] georgesterpu commented on #577
Here is a minimal example to reproduce the issue outside the scope of tfa.seq2seq
[code]

Once we rename `self.obj` to `obj`, i.e. not saving it as a class member, we end up with a single regularisation loss.

[2019-10-08 09:11] facaiy commented on #501
Hi, David. Could you open an issue for [tf](https://github.com/tensorflow/tensorflow)? I believe we could get more help/support about installing environment there.

[2019-10-08 09:27] facaiy commented on #550
We usually add both c++ and python codes when implementing a new OP. So I think the answer is yes. But I'm a little curious why we write c++ kernel implementation for the activation ops. Those ops looks quite simple, and it seems that they could be composed by tf python ops easily if I'm not wrong.

[2019-10-08 09:39] facaiy commented on #415
Welcome, Prakhar!

@utkarshsimha Hi, Utkarsh, could you keep us updated? Thanks?

[2019-10-08 10:23] gigadeplex commented on #173
Hi I also ran into this problem just now!!

[2019-10-08 11:44] guillaumekln opened #580 "Factorize Bazel rules of custom ops"
All custom ops use similar flags and options in their respective `BUILD`. For example, #539 had to apply the same change to all custom ops. To ease the maintenance of these modules, the common logic should be factorized in a single Bazel macro.

See for example [`tf_custom_op_library`](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/tensorflow.bzl#L1766) in TensorFlow core.

[2019-10-08 13:36] #562 closed

[2019-10-08 13:48] guillaumekln commented on #454
TensorFlow Text is using a less restrictive TensorFlow version requirement:

https://github.com/tensorflow/text/blob/v1.0.0-beta2/oss_scripts/pip_package/setup.py#L76

Should we do something similar?

[2019-10-08 14:05] WindQAQ commented on #550
The speed. On my local machine, the C++ kernel speed up 3 times and 10 times in forward and backward pass respectively compared with tf python ops.

[2019-10-08 14:06] guillaumekln commented on #577
I believe this should be fixed in TensorFlow. For attributes such as `weights` or `trainable_weights`, there is already an explicit deduplication of the return variables (see the related commit https://github.com/tensorflow/tensorflow/commit/596d3ccb0303f54f6184f027840c69e7a6ca2b68). A similar logic should probably be applied for `losses`.

I would suggest opening an issue on the TensorFlow main r

[2019-10-08 15:45] WindQAQ opened #582 "Build doctest to test python docstrings"
Seems that core TF has already used `doctest` to test python docstring, which having different style with ours, especially for code snippet example usage. To unify the docstring and for better documentation, the doctest should be also built in addons.

See https://www.tensorflow.org/community/contribute/docs_ref for more details.

[2019-10-08 17:54] utkarshsimha commented on #415
@facaiy @prakharcode - Sorry for the delayed reply.
I have been reading the paper and understanding the mechanics.

Prakhar, if you would like to collaborate, I would be open to that! :)

Thanks!

[2019-10-08 21:57] MarkDaoust commented on #226
Up: https://www.tensorflow.org/addons

[2019-10-08 21:57] #226 closed

[2019-10-08 21:57] MarkDaoust commented on #226
Let us know if anything looks out of place, or when you release a new version and we'll update the site.

[2019-10-09 01:01] liangzhenlin123 commented on #415
@facaiy @utkarshsimha @prakharcode sorry for the delayed reply :(  I have received inspiration elsewhere, and I will finished the N-best MWER in two days, maybe include the sample MWER though it is more difficult than N-best....

[2019-10-09 01:56] bionicles commented on #556
Yes! Highly Active research area

[2019-10-09 02:17] seanpmorgan commented on #226
Thanks @MarkDaoust looks great! Is there an ETA for the API docs to go up (or maybe I'm just missing them)?

[2019-10-09 07:57] RomainBrault opened #586 "Add pinball loss"
**Describe the feature and the current behavior/state.**

The pinball loss is a very simple modification of the MAE and allows (conditional) quantile regression. This is rather simple to code, and would be of interest for a large community.

This has been submitted to TensorFlow (tensorflow/tensorflow#32871) and redirected here.

A pull request is open (#579)

**Relevant information**
- Are you wi

[2019-10-09 15:22] seanpmorgan commented on #577
Closing now that an issue is in TF-Core. Thanks for reporting!

[2019-10-09 15:22] #577 closed

[2019-10-09 17:45] seanpmorgan commented on #226
@MarkDaoust would it be possible to link Addons under Resources in TF API overview or is that reserved space?

![image](https://user-images.githubusercontent.com/18154355/66506257-fce15600-ea9a-11e9-9eb6-c647b705de62.png)

[2019-10-09 17:56] seanpmorgan commented on #454
In general I think we should support a greater-than versioning if we know that there were no breaks between releases (Might have to adapt our travis tests).

For this specific case I believe 2.0.0b1 will break with TFA 0.6 as Op Namespacing wasn't implemented at that point (~90% sure of that, but not positive)

[2019-10-09 18:05] lamberta commented on #226
We're working on a plan to revamp that entire section. Still some things to work out for libraries and extensions—like version compatibility, etc.

But, in the meantime, I can look at adding a list similiar to what's now at the bottom of the [/tutorials](https://www.tensorflow.org/tutorials) and [/guide](https://www.tensorflow.org/guide) page.

[2019-10-09 18:27] MarkDaoust commented on #226
The above commit updates the left-nav on https://tensorflow.org/api_docs to include addons and other recent additions.

[2019-10-10 12:38] consi95 commented on #173
Hello :) i know that this is blocked, but would be really nice if there would be any progress. I am stucked at the same point. I dont want to rewrite my code to older tf versions...

[2019-10-10 13:41] guillaumekln opened #588 "Create Bazel rules for linking custom ops to TensorFlow Serving"
TensorFlow Serving can [statically link to custom ops](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/custom_op.md). We should define Bazel rules that produce compatible static libraries.

Assuming `tf.contrib` is a good example to follow, here's what would be needed:

1. For each custom op:
  a. Define a kernel library (see [`tf_kernel_library`](https://github.com/tens

[2019-10-10 20:43] fernandocamargoti opened #589 "Can't compile for ppc64le-linux"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04 (Docker)
- TensorFlow version and how it was installed: 2.0.0 (compiled from source)
- TensorFlow-Addons version and how it was installed: 0.6.0
- Python version: 3.6
- Is GPU used? yes
- Bazel version: 0.26.1 (same used to compile Tensorflow 2.0.0)

**Describe the bug**

I'm trying to compile tensorflow-addons on a IBM Powe

[2019-10-10 21:08] yhliang2018 opened #591 "Add Keras implementation for ProximalAdagradOptimizer"
**Describe the feature and the current behavior/state.**
ProximalAdagradOptimizer is currently implemented in TF 1.x as [`tf.train.ProximalAdagradOptimizer`.](https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/training/proximal_adagrad.py)
As its API is deprecated in TF 2.0 and users are encouraged to use `tf.keras.optimizers.*` in TF 2.0, we need an equivalent Keras-version imp

[2019-10-10 21:12] SSaishruthi commented on #430
Sure. I will update both. Thanks

[2019-10-11 00:38] joaogui1 commented on #317
Hi, can I try to implement this?

[2019-10-11 03:49] shreyashpatodia opened #592 "Add Stochastic Weight Averaging (SWA) Optimizer"
__Describe the feature and the current behavior/state.__

SWA has been shown to be a simple method to improve model performance when used as a wrapper around other optimizers and averaging results from different points of trajectory of the inner optimizer.

__Relevant information__

- Are you willing to contribute it (yes/no): yes, I have an implementation that I should be able to port to the repo

[2019-10-11 07:18] ChenYang-ChenYang commented on #173
The same request there. I'm always waiting from May to now!

[2019-10-11 09:06] Squadrick commented on #317
@joaogui1 Definitely, looking forward to the PR.

[2019-10-11 18:51] seanpmorgan commented on #589
Hi @fernandocamargoti . At the moment we don't support ppc64 in our build. There should be no blocker so would be happy to accept a PR for the build but we currently have no infrastructure to test so it'll require community support/verification

[2019-10-12 21:08] fernandocamargoti commented on #589
Thanks for the feedback, @seanpmorgan. I don't know much about the Tensorflow's build system, so I tried and failed to fix it. I hope someone else can submit a PR. I'd be happy to help with the verification.

[2019-10-14 19:08] seanpmorgan opened #596 "Tests are failing during variable creation"
Just for visibility:
https://github.com/tensorflow/tensorflow/issues/33348

[2019-10-14 23:39] #580 closed

[2019-10-14 23:46] seanpmorgan commented on #588
Hmmm I'm wondering if this issue is not better handled in https://github.com/tensorflow/custom-op and then we can just follow the upstream template.

I imagine other custom-op's would want to have an easy path to link with Serving, but I'm not sure that following the contrib kernel_library is the correct path.

cc @yifeif @unclepeddy to see if you have any thoughts on how this should be handled

[2019-10-14 23:49] seanpmorgan commented on #575
@CyberZHG Any reason these were removed or is it okay to merge this change?

[2019-10-15 09:46] satishjasthi commented on #332
Hello,
Can anyone help me how to test whether a tfa op is compatible with tf.Dataset.
I would like to check for
- dense_image_warp
- interpolate_bilinear
My question might sound silly, I'm a newbie please help me.

[2019-10-15 13:34] DawyD commented on #501
https://github.com/tensorflow/tensorflow/issues/33375

[2019-10-15 15:18] invencode opened #597 "0.6.0 installs tensorflow-gpu on CPU only environment."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu server 18.04
- TensorFlow version and how it was installed (source or binary): 2.0.0, binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0, binary
- Python version: 3.7.3
- Is GPU used? (yes/no): no

**Describe the bug**

tensorflow-addons 0.6.0 installs tensorflow-gpu on CPU o

[2019-10-16 00:04] helinwang commented on #588
I tried to link `addons/text/parse_time` with TF serving, the experience lead me to think that we can improve `tensorflow/addons`'s build infra so that `tensorflow/serving` could easily link operators in addons (either official, or users manually patch `tensorflow/serving`).

The main thing that we can improve on are:
- [ ] Add `cc_library` rule  to build operators. Currently, we only have cc_bina

[2019-10-16 01:01] seanpmorgan commented on #597
Hi @invencode! So `tensorflow-gpu` should work fine on a CPU only machine. Please let us know if you have issue.

Unfortunately, the linking is a bit of an issue at the moment. Once TF 2.1 is released the packages will be considated into a single `tensorflow` package and at that point we'll switch to depending on that.

[2019-10-16 01:01] #597 closed

[2019-10-16 01:03] seanpmorgan commented on #588
@helinwang thanks for the summary of your experience. This pattern looks good, and we would be happy to review a PR (though we might want to upstream it to tensorflow/custom-op). @guillaumekln does this strategy look okay to you?

[2019-10-16 01:19] helinwang commented on #588
Thanks, @seanpmorgan . Sorry that currently I don't have bandwidth for a PR. Would love to contribute if no one worked on it by the time I have bandwidth though.

Some more context, I workaround the following problems in my experiment:
Removed the following lines in https://github.com/tensorflow/addons/blob/master/tensorflow_addons/tensorflow_addons.bzl:
[code]
As it's causing conflicts when build

[2019-10-16 01:19] seanpmorgan commented on #332
Hi @satishjasthi welcome to addons! So this colab notebook shows what the issue was (has since been fixed for that op):
https://colab.research.google.com/drive/1ZDhnGrorvSf04wzS-0utztZ6Nnzusvl7

Basically, if an image op can't be used in a tf.dataset mapping it's likely because we're not handling an unknown shape correctly. tf.dataset runs as a subgraph so the dynamic shape is not known until the

[2019-10-16 15:00] seanpmorgan commented on #563
Hi @vccabral I'm still having a bit of an issue understanding what you're requesting here. IIUC you'd like to have better documentation about using tfa metrics with Keras?

We would be most happy to review a PR which adds more information to the doc string or a [new tutorial for metrics](https://github.com/tensorflow/addons/tree/master/docs/tutorials)

[2019-10-16 16:26] vccabral commented on #563
@seanpmorgan I was attempting to use TF addons with keras which was a bit more complicated than I originally thought it would be(exacerbated by the recent version update to TF2 on my part). Once I get a tutorial working with keras, I am happy to submit a PR to the tutorial's section.

[2019-10-16 16:30] seanpmorgan commented on #563
Great! Looking forward to the PR. I'm going to close this issue for now... but feel free to re-open as a request for tutorial if you want to track it that way.

[2019-10-16 16:30] #563 closed

[2019-10-17 03:34] AndersonHappens commented on #467
@SSaishruthi , MultiLabelConfusionMatrix and RSquare both still need the sample weight parameter added as well.

Thank you for your hard work!

[2019-10-17 03:44] SSaishruthi commented on #467
@AndersonHappens Thanks for the comment. PR is in progress for both.

[2019-10-17 05:12] cgarciae opened #602 "[F1Score] average should be None by default"
In the documentation it says that the `average` parameters is `None` by default but the signature has it as a required argument. See this line:

https://github.com/tensorflow/addons/blob/40de2b942c833c6afccd96759f106640b983953b/tensorflow_addons/metrics/f_scores.py#L338

[2019-10-17 11:27] npuichigo opened #603 "Define seq2seq.Sampler and seq2seq.BasicDecoder in __init__."
Currently, it's not convenient to define both seq2seq.Sampler and seq2seq.BasicDecoder in __init__, because we usually need to switch to different samplers between training and testing, but the training flag is unavailable in __init__.

[code]

A workaround is to define a sampler that can both be used during training and inference, with a training flag in its call method.

[2019-10-17 21:29] napsternxg commented on #22
Sorry to restart the discussion on this. Thanks for including CRF in TF 2.0 addons. However, it should be noted that CRF is a general methodology for any type of sequence tagging task where the prediction has to be made on each item of the sequence. This includes videos, audio, text, and even graph traversals.
I don't think putting it under text is the best approach.

[2019-10-17 22:19] foxik commented on #22
Maybe adding it directly to `tfa.layers`? But personally I do not care if it is `tfa.layers` or `tfa.text`, given that span labeling of text seems to be one of the most common application of linear CRF.

[2019-10-17 22:35] vmarkovtsev opened #605 "MovingAverage does not work with MirroredStrategy"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.0 from PyPi
- TensorFlow-Addons version and how it was installed (source or binary): 0.5.2 from PyPi
- Python version: 3.6

**Describe the bug**

If I compile a Keras model with a MovingAverage optimizer and a LearningRateScheduler, I get an error "Optimizer must

[2019-10-17 23:19] napsternxg commented on #22
I think `tfa.layers` is a better place. I don't have an issue either, just thought that in the earlier `contrib` module it was not under text, hence, this change might cause discovery bias towards users in non-text domain.

[2019-10-18 03:10] npuichigo commented on #603
@qlzh727 @guillaumekln Can you help to take a look?

[2019-10-18 06:00] facaiy commented on #454
Yes, I have the same concern with Guillaume. Perhaps we can always use greater-than version by default when releasing major version(say, tf >= 2.0 for addons 0.5). And we can release a minor version to pin tf version until there is a break or performance issue(say, tf>=2.0, <2.2 for addons 0.5.3).

[2019-10-18 06:30] facaiy commented on #605
@PhilJd Hi, Phil, could you take a look? Thanks

[2019-10-18 06:32] facaiy commented on #605
@vmarkovtsev Hi, Vadim, can you provide a minimal reproducible example? Thank you

[2019-10-18 06:55] facaiy commented on #550
I agree that C++ implementation should run faster than python implementation, Tzu-Wei. But as the op is so small, I'm not sure whether it is worthy at the cost of maintaining a chunk of code. Moreover, the new op we add might not work well with graph optimization toolkit(say op fusion as you mentained, or TensorRT ect) because those tools might only focus on tf-core. I'm not against c++ implementa

[2019-10-18 07:13] WindQAQ commented on #550
Thanks for pointing out! So what should we migrate for this time; a tf python operation implementation only or kernel version? Both are fine with me, but want to have your ideas 😄

[2019-10-18 09:03] vmarkovtsev commented on #605
cc @dubey @guptapriya - probably this is an upstream problem

[2019-10-18 13:57] seanpmorgan commented on #454
Sounds good. Re-opening to track progress on adding greater-than

[2019-10-18 16:14] PhilJd commented on #605
@facaiy: I think @Squadrick  might be more familiar with it as he implemented it?

[2019-10-18 16:25] hendrycks commented on #550
Note PyTorch uses a kernel version.

On Fri, Oct 18, 2019 at 12:13 AM Tzu-Wei Sung <notifications@github.com>
wrote:

[2019-10-18 17:39] kazemnejad commented on #603
Another common practice is to create two separate decoders one for training and one for inference inside the `__init__(..)` method, and let the decoder_cell and projection_layer to be shared between them, Here is an example:
[code]

[2019-10-18 17:49] seanpmorgan opened #606 "Keras object serialization/deserialization is breaking"
Since https://github.com/tensorflow/tensorflow/commit/b22fd65247633edfbc000c3bd9b9008502aedc33#diff-ca2f2579ed6d04b0be9c2bacfa1a4d38

Certain tests are failing. Need to look into why this is breaking and make sure our object serialization is consistent across the repo.

[2019-10-19 20:58] napsternxg opened #607 "Add constrained decoding to CRF"
**Describe the feature and the current behavior/state.**
We can reuse code from the `crf_multitag_sequence_score` to allow constrained decoding.

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): we only need to reuse the functions in `tfa.text.crf` to get thi

[2019-10-21 02:40] npuichigo commented on #603
@kazemnejad Another question is how can we debug with eager mode? If we place sampler in __init__, we cannot reset decoder inputs for sampler (teacher forcing).

[2019-10-21 06:34] kazemnejad commented on #603
The decoder itself re-initializes the sampler upon each invocation. It's also worth mentioning that Neither of `Decoder` or `Sampler` accepts any data input/tensor in the *init* method; instead, they receive the inputs on their *call* method.

[2019-10-21 12:18] gjxcq opened #612 "windows pip can't get package"
I want to install it in windows python3.6, but I use pip install tensorflow-addons,can't get the package,
and I see it on pypi only support mac and linux, not find window.

[2019-10-21 12:47] Gokkulnath commented on #612
@gjxcq We are tracking this here. https://github.com/tensorflow/addons/issues/173  and https://github.com/tensorflow/custom-op/issues/24 . Meanwhile you try setting it up in WSL

[2019-10-21 14:01] #612 closed

[2019-10-21 15:40] qlzh727 commented on #603
I think the example from @kazemnejad should work nicely. In general, we recommend user to create instance they need in the init() since should the correct context (either eager in v2 or graph in v1). On the otherhand, call() will almost certain executed in graph context, which might lead to some unexpected behavior/error.

By the way, if you want to debug in the eager mode, you could try model.com

[2019-10-22 00:44] artemmavrin opened #613 "MovingAverage optimizer does not work with tf.keras.callbacks.ReduceLROnPlateau"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow version and how it was installed: 2.0.0, from pip
- TensorFlow-Addons version and how it was installed: 0.6.0, from pip
- Python version: 3.7.4
- Is GPU used? no

**Describe the bug**

Training a `tf.keras.Model` using its `fit` method with a `tfa.optimizers.MovingAverage` optimizer and the `tf.keras.callbacks.ReduceL

[2019-10-22 02:51] npuichigo commented on #603
@qlzh727 @kazemnejad Thank you for your advice! It works now.

[2019-10-22 02:51] #603 closed

[2019-10-22 09:35] simon-larsson commented on #592
I have made a callback implementation of SWA here: https://github.com/simon-larsson/keras-swa. Feel free to use if it helps.

[2019-10-22 16:12] seanpmorgan commented on #606
Related:
https://github.com/tensorflow/tensorflow/issues/33614

[2019-10-22 16:48] guillaumekln commented on #588
Thanks @helinwang, that's some useful information! Would you by any chance have some time to address this issue in the near future? If not, I would do my best to move forward on this as it is a blocker issue for some of my users.

According to https://github.com/tensorflow/serving/issues/1381, this will not happen anytime soon.

[2019-10-22 18:12] helinwang commented on #588
Sorry, @guillaumekln I won't have capacity in the coming few weeks. Please feel free to move this forward. Thanks in advance!

[2019-10-22 18:55] shreyashpatodia commented on #592
I'll make a PR for this soon.

[2019-10-22 19:25] hacker-lin opened #615 "I have a problem about " tfa.text.crf_log_likelihood " API !"
Tensorflow2.0
tfa 0.6.0

part code:

    with tf.GradientTape() as tp:
        predict = model(data)
        print(predict.shape) # (32, 574)
        print(label.shape)  # (32, 574)
        log_likelihood, transition_params = tfa.text.crf_log_likelihood(
            tf.cast(tf.expand_dims(predict, axis=2), tf.float32),
            label,
            maxlen
        )

final error:

    "ValueError:

[2019-10-23 00:35] seanpmorgan commented on #512
Link is dead.. please re-open if this is still an issue with a minimal reproducible example

[2019-10-23 00:35] #512 closed

[2019-10-23 00:36] seanpmorgan commented on #116
Closing. Happy to re-open if there is interest in completing this.

[2019-10-23 00:36] #116 closed

[2019-10-23 02:46] #454 closed

[2019-10-23 07:51] amitport opened #619 "cannot install tensorflow-addons@0.6.0 windows@10 tensorflow-gpu@2.0.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow version and how it was installed (source or binary): binary gpu tf@2
- TensorFlow-Addons version and how it was installed (source or binary): binary
- Python version: 3.7.5
- Is GPU used? (yes/no): y

**Describe the bug**
`pip install tensorflow-addons`

returns
[code]

edit: closing as duplic

[2019-10-23 07:59] #619 closed

[2019-10-23 17:50] #596 closed

[2019-10-24 18:44] xiayandi opened #623 "InvalidArgumentError caused by int32 / int64 in crf_log_likelihood"
**System information**
- OS: Ubuntu 18.04
- TensorFlow: 2.0.0, pip install tensorflow-gpu
- TensorFlow-Addons: 0.6.0, pip install tensorflow-addons
- Python version: 3.6.7
- Is GPU used? (yes/no): yes
- CUDA: 10.0
- CUDNN: 7.6.4

**Describe the bug**

tf.shape returns int32 but Mul op expects int64 (in ```crf_binary_score``` function)
tf.maximum returns int64 but Pack op expects int32 (in ```crf_f

[2019-10-25 05:39] #575 closed

[2019-10-25 12:54] seanpmorgan commented on #613
Should be fixed from #617

[2019-10-25 12:54] #613 closed

[2019-10-26 04:10] hankcs opened #624 "WeightNormalization layer can't save in h5"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 16.04.6 LTS
- TensorFlow version and how it was installed (source or binary):
tensorflow-gpu                   2.0.0, binary
- TensorFlow-Addons version and how it was installed (source or binary):
tensorflow-addons                0.6.0, binary
- Python version:
Python 3.6.9
- Is GPU used? (yes/no):
yes
**Desc

[2019-10-27 23:11] seanpmorgan commented on #631
Thanks for transferring this. So we had a WIP PR to implement this feature #245 but put it on hold pending the keras preprocessing changes that are under way (more info in that PR). Should the new keras pre-processing functionality not cover the use case feel free to re-open this.

[2019-10-27 23:11] #631 closed

[2019-10-27 23:17] seanpmorgan commented on #628
Thanks for transferring. We have a PR under review for CRF Keras Layer #377. There may be some moves (CRF leaving tfa.text) so the review is taking longer than we'd hope. Will close this issue once we've decided on the path forward and merge.

[2019-10-27 23:23] seanpmorgan commented on #630
So we had originally planned on moving SciPy optimizers to TFA (#3) but decided against it as it's difficult for us to maintain and there was not a substantial request from the community. Seeing as this issue is quite old I'm going to close this issue pending community requests.

Feel free to re-open if there is a substantial need for this and we can consider possible paths forward. These generall

[2019-10-27 23:23] #630 closed

[2019-10-27 23:31] seanpmorgan commented on #632
Thanks for transferring. This seems like a nice fit in addons, though it will need to be converted to fit the Keras Layer API and have appropriate test cases.

[2019-10-27 23:45] seanpmorgan commented on #629
Hmmm this one I'm less confident in adding to addons as opposed to modifying `tf.image.resize`. There would be no functionality difference only that it would support larger rank tensors. I don't believe this would be adding dimensions, just resizing higher dimensional tensors so I would be interested in hearing why `tf.image.resize` can't be modified before adding a `tfa.image.resize_nd` which ese

[2019-10-27 23:51] seanpmorgan commented on #627
My initial thought is that this could be difficult to maintain if it applied to all of the transforms in `tfa.image`. Seeing as the last comments were in 2017 I'm going to close this issue but happy to re-open and discuss if there is still a desire for this.

[2019-10-27 23:51] #627 closed

[2019-10-27 23:55] seanpmorgan commented on #625
My only hesitation would be whether or not PELU is still relevant now that SELU is part of TF-Core. Does anyone in the community still see this as useful and if so could you point to an architecture or experiment that shows value. Thanks!

[2019-10-27 23:57] seanpmorgan commented on #626
Thanks for transferring! I believe this could be implemented as a Keras Layer Wrapper should there still be a community need for this.

[2019-10-28 00:04] seanpmorgan commented on #633
This seems like a good fit, but will need to confirm there is still a need from the community.

[2019-10-28 00:06] seanpmorgan commented on #624
Thanks for reporting @hankcs! I'll take a look at this when time allows, but if anyone else is interested in investigating/patching it'd be much appreciated, just post your findings in this issue.

[2019-10-28 00:13] seanpmorgan commented on #201
This is now unblocked as TF2 is on conda.

[2019-10-28 00:24] kyleabeauchamp commented on #630
There are some implementations of LBFGS in tensorflow probability that I have been able to use on TF2.0, so that's a good starting point for folks interested in that functionality.

[2019-10-28 08:40] maziyarpanahi opened #634 "How to use addons in Java/Scala"
**Describe the feature and the current behavior/state.**
Hi,

We use some `contrib` functions and for using them in Java/Scala we would find the `.so` files generated for each OS (mac, Linux, and windows) and load them with `TensorFlow.loadLibrary`.

I would like to know what should be the procedure in which we can use addons in our Java/Scala project?

**Relevant information**
- Are you willing t

[2019-10-29 02:52] luffywalf opened #638 "MacOS unable to load custom_op"
**System information**
- OS Platform and Distribution : mac  version:10.12.6
- TensorFlow version and how it was installed : tf-cpu = 2.0.0; installed with pip
- TensorFlow-Addons version and how it was installed : addons=0.6.0
- Python version: python==3.6.9 in conda
- Is GPU used? (yes/no):no

**Describe the bug**
I just installed addons and wanna have a try.
my script is just one line: from ten

[2019-10-29 03:09] WindQAQ commented on #623
I think we should cast it internally to make data types the same.
cc @Squadrick @howl-anderson, who might be more familiar with CRF.

[2019-10-29 03:15] WindQAQ commented on #634
We currently do not have other language bindings, but you should find the `.so` files after installation under the package. Therefore, it would be in the same procedure like what you've done for contrib.

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/activations/gelu.py#L25

[2019-10-29 03:18] WindQAQ commented on #615
Hi, could you provide the minimal runnable code snippet so that we could reproduce the issue? Thanks.

[2019-10-29 03:34] seanpmorgan commented on #638
Hi @luffywalf could you explain what you mean by binary `tf-cpu`?

I just tried this and could not replicate your issue:
[code]

[2019-10-29 03:46] asamax opened #639 "Time distributed WeightNormalization result in incompatible shape"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4 LTS
- TensorFlow version and how it was installed (source or binary): tensorflow-gpu 2.0.0, binary
- TensorFlow-Addons version and how it was installed (source or binary): tensorflow-addons 0.6.0, binary
- Python version: Python 3.6.9
- Is GPU used? (yes/no): yes

**Describe the bug**
Time distributed

[2019-10-29 04:10] hacker-lin commented on #615
Thanks!
I only change the arguments's dim, and it works !

    log_likelihood, transition_params = tfa.text.crf_log_likelihood(
        inputs = tf.expand_dims(predict, axis=2),                  # expand it dim
        tag_indices = label,
        sequence_lengths = tf.expand_dims(maxlen,axis=0),      # expand it dim, too
    )

[2019-10-29 04:13] WindQAQ commented on #615
Great! Then I am going to close this issue. Feel free to issue another one if you get something wrong. Thanks!

[2019-10-29 04:13] #615 closed

[2019-10-29 10:05] maziyarpanahi commented on #634
@WindQAQ Thank you for your response. I am going to try it and let you know.

[2019-10-29 16:39] WindQAQ commented on #634
Great. Then I am going to close this issue. Feel free to re-open it if you have further problem. Thanks.

[2019-10-29 16:39] #634 closed

[2019-10-29 17:15] seanpmorgan commented on #45
Closing as we're more or less past moving code from tf.contrib.

[2019-10-29 17:15] #45 closed

[2019-10-29 17:16] seanpmorgan commented on #555
Closing this now for maintainability... please feel free to re-open any specific layers as a their own separate issue.

Feel free to point others toward this issue though because there is a good amount of information here. Thanks!

[2019-10-29 17:16] #555 closed

[2019-10-29 17:27] seanpmorgan commented on #574
So I plan on continuing looking into this (we should be able to match tfa and tf if both are built on the same machine), but wanted to provide a little more information.

The undefined symbol error occurs because of a mismatch in compilers that causes different symbol name managling. This general issue should be solved by this RFC that is already underway:
https://github.com/tensorflow/community/b

[2019-10-29 17:27] WindQAQ commented on #582
For anyone who what to work on this, these files in core TensorFlow might be helpful.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docs/tf_doctest.py
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docs/BUILD#L13

[2019-10-29 18:24] seanpmorgan commented on #640
This seems like it would fit within `tfa.image`. Happy to review a PR for this feature migrated from:
https://github.com/tensorflow/tensorflow/tree/v1.15.0/tensorflow/contrib/resampler

[2019-10-29 18:42] seanpmorgan commented on #641
I'm not very familiar with this so I'll defer to @qlzh727 as subpackage owner to evaluate if this makes sense within addons.

[2019-10-30 08:26] CuiYifeng opened #646 "Crash caused by _beam_search_ops.so in tensorflow-addons 0.5.x"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- TensorFlow version and how it was installed (source or binary): source 2.0.0
- TensorFlow-Addons version and how it was installed (source or binary): binary 0.5.0 / 0.5.2
- Python version: 3.6
- Is GPU used? (yes/no): no

**Describe the bug**

A segmentation fault related to "_beam_search_ops.so" occurs wh

[2019-10-30 09:26] lishi0927 opened #647 "Questions about AttentionWrapper"
tensorflow 1.15 has a function "tf.contrib.seq2seq.AttentionWrapper", but as we know tf.contrib module is no longer available in TensorFlow 2.0. I find "tfa.seq2seq.AttentionWrapper" may replace "tf.contrib.seq2seq.AttentionWrapper", but there are many modified functions.
For example, zero_state is no longer avaliable, and I want to use "get_initial_state" to replace this function, but there are s

[2019-10-30 10:03] guillaumekln commented on #647
Could you describe a bit more how you are using the `AttentionWrapper` class?

Usage examples can be found in the class [test file](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/attention_wrapper_test.py).

[2019-10-30 10:13] guillaumekln commented on #646
Does MLPerf provide their own version of TensorFlow? It sounds like that they are using a different toolchain.

[2019-10-30 10:20] lishi0927 commented on #647
Thank you for your reply.

source code:

 def decode_outputs(self, target_words_vocab, target_input, batch_size, batched_contexts, valid_mask,
                       is_evaluating=False):
        num_contexts_per_example = tf.compat.v1.count_nonzero(valid_mask, axis=-1)

        start_fill = tf.fill([batch_size],
                             self.target_to_index[Common.SOS])  # (batch, )
        d

[2019-10-30 10:40] guillaumekln commented on #647
`tfa.seq2seq.AttentionWrapper` is not expected to work with `tf.compat.v1` modules.

You should try to update your code by using layers from TensorFlow 2.0, e.g.:

* `tf.compat.v1.nn.rnn_cell.LSTMCell` -> `tf.keras.layers.LSTM`
* `tf.compat.v1.nn.rnn_cell.DropoutWrapper` -> `tf.nn.RNNCellDropoutWrapper`
* etc.

[2019-10-30 13:26] lishi0927 commented on #647
Okay.
Thank you for your reply.

[2019-10-30 15:20] seanpmorgan opened #649 "Upstream Build Break - 20191030"
Just for visibility:
https://github.com/tensorflow/tensorflow/issues/33852

[2019-10-30 16:23] lishi0927 commented on #647
Thank you.
And what about "tf.nn.bidirectional_dynamic_rnn“ in tensorflow 2.0?

[2019-10-30 17:04] ogreyesp opened #651 "Does tf.keras.metrics.AUC work on multi-class problems?"
Hi,
I have a multi-class classification problem and I want to measure AUC on training and test data.

tf.keras has implemented AUC metric (tf.keras.metrics.AUC), but I'm not be able to see whether this metric could safely be used in multi-class problems. Even, the example "Classification on imbalanced data" on the official Web page is dedicated to a binary classification problem.

I have implement

[2019-10-30 17:49] seanpmorgan commented on #651
Hi @ogreyesp! We're tracking the request for multi-class AUC in https://github.com/tensorflow/addons/issues/265

[2019-10-30 17:49] #651 closed

[2019-10-30 17:51] ogreyesp commented on #265
Hi,
I have a multi-class classification problem and I want to measure AUC on training and test data.

tf.keras has implemented AUC metric (tf.keras.metrics.AUC), but I'm not be able to see whether this metric could safely be used in multi-class problems. Even, the example "Classification on imbalanced data" on the official Web page is dedicated to a binary classification problem.

I have implement

[2019-10-30 17:54] seanpmorgan commented on #638
Hi, I'm going to close this for now, but please re-open if this is re-producable / still happening.

[2019-10-30 17:54] #638 closed

[2019-10-30 20:13] WindQAQ commented on #647
It should be [tf.keras.layers.Bidirectional](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Bidirectional). Remember to mask padding values as stated [here](https://www.tensorflow.org/guide/keras/masking_and_padding).

[2019-10-30 20:16] CryMasK opened #652 "Confused about decoder use last step output"
**System information**
Build model on Google Colab with tfa-nightly and tensorflow 2.0.

**Issue**
I tried to build an encoder-decoder model following the README page.
In the example, it needs to fit `decoder_emb_inp` into decoder, which can do something like teacher-forcing.
However, I don't have proper input for this (our model's input is time series data, and output is a label for each second)

[2019-10-30 22:30] #517 closed

[2019-10-31 04:16] qlzh727 commented on #641
Sorry for the very late reply.

I am not very familiar with that too. Could u provide a reference to the paper for it?

Also, for the addon package, we are targeting TF 2.0, which means 1.x is probably not supported.

[2019-10-31 04:41] WindQAQ commented on #641
Paper is here https://arxiv.org/abs/1211.3711. It's quite similar to CTC loss.

[2019-10-31 05:31] Zantares commented on #646
MLPerf doesn't provide any TF because it's only benchmark for different Arch to test DL performance. Each Arch may not have a standard release TF so that we need to build  from source by ourselves. We wan to know whether Addons use specific GCC or cmd to build which may be incompatible.

[2019-10-31 08:06] pabloduque0 opened #655 "Error given while trying to import tensorflow-addons"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Description:	Ubuntu 18.04.3 LTS, Release:	18.04
- TensorFlow version and how it was installed (source or binary):  Installed from pip, version: 2.0.0b1
- TensorFlow-Addons version and how it was installed (source or binary): Installed from pip, version 0.6.0
- Python version: 3.6.8
- Is GPU used? (yes/no): no

import

[2019-10-31 09:14] guillaumekln commented on #646
@seanpmorgan Could you provide more details here? Thanks.

[2019-10-31 14:43] seanpmorgan commented on #655
v0.6.0 is only compatible with `tensorflow==2.0.0`. The error you're getting is because Op Namespacing wasn't available in beta1.

[2019-10-31 14:43] #655 closed

[2019-10-31 17:49] seanpmorgan commented on #646
Hi,

Apologies this isn't more straight forward. So In order to mach ABI compatibility with TensorFlow (pip packaged) we build our package with devtoolset-7 in the tensorflow/custom-op-ubuntu16 docker container:
[code]

Building TFA and TF from source with the same toolchain should work, though we currently have an issue out for our GPU toolchain which uses nvcc:
https://github.com/tensorflow/addo

[2019-10-31 20:51] WindQAQ commented on #438
I suppose [tf.keras.utils.register_keras_serializable](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/utils/generic_utils.py#L135) is ready in keras now.

@seanpmorgan @karmel @markomernick Could anyone confirm this? Thank you!

[2019-10-31 21:34] karmel commented on #438
Yes, it is there, and will be released with 2.1: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/utils/generic_utils.py#L134

[2019-11-01 10:06] Bakaizhamgyrchiev opened #656 "Exported saved_model.pb in tensorflow 1.x with op from tf.contrib "ImageProjectiveTransformV2" doesn't work with tf-addons"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):fedora 30
- TensorFlow version and how it was installed (source or binary):binary
- TensorFlow-Addons version and how it was installed (source or binary):binary
- Python version:3.7
- Is GPU used? (yes/no):no

I exported in tf 1.x saved_model. It includes op tf.contrib.image.transform ("ImageProjectiveTransformV2")

I

[2019-11-01 10:25] Bakaizhamgyrchiev commented on #656
So, I understood that I shoul use tensorflow-addons<0.6

[2019-11-01 10:25] #656 closed

[2019-11-03 16:51] georgesterpu commented on #649
Hi @seanpmorgan
It looks like the latest tfa nightly build does not work anymore with the latest tf nightly dependency fetched automatically through pip

tfa-nightly               0.7.0.dev20191103
tf-nightly                2.1.0.dev20191103

[code]

[2019-11-03 18:34] Squadrick commented on #605
@vmarkovtsev I get the error of TFA 0.5.2 but building and running TFA doesn't give me an error. Could you test it with the latest TFA version?

[2019-11-03 23:02] vmarkovtsev commented on #605
I tried 0.6.0 and it did not work. Then I tried `pip install git+https` and the build failed with `stub.cc: No such file or directory`. I cannot install `tfa-nightly` because it requires tf-nightly which is 2.1.0 and it breaks my world. So nope, I cannot test that myself, sorry.

[2019-11-03 23:05] vmarkovtsev commented on #605
@Squadrick I will be happy to install and test a wheel for Python 3.6 if you are able to build it and attach here.

[2019-11-04 01:16] seanpmorgan commented on #656
Thanks @Bakaizhamgyrchiev per this new RFC:
https://github.com/tensorflow/community/pull/126

We've been asked to append package names on all of our custom ops to avoid collisions. Unfortunately this will be an issue for models with the older op names. as you mentioned TFA <0.6 should have compatible names.

[2019-11-04 01:19] seanpmorgan commented on #660
Hi, without having read the paper in its entirety does anyone have any information about what aspects of this would fit within TFA (Layers, optimizers, etc.)?

Addons need to be components that fit into the APIs.

[2019-11-04 01:20] seanpmorgan commented on #605
Hi @VladimirStarostenkov could you try installing `pip install tfa-nightly --no-deps` so there is no requirement for tf-nightly?

[2019-11-04 01:22] seanpmorgan commented on #625
Seeing as the original author of this issue no longer sees value and there are several alternatives I'm going to close this issue. Happy to have someone re-open it if there is evidence for its usefulness.

[2019-11-04 01:22] #625 closed

[2019-11-04 01:23] seanpmorgan commented on #629
Closing this issue as I do not see it as a separate addition, but rather an extension to `tf.image.resize`. Happy to have someone re-open this and discuss why it should be an addon instead.

[2019-11-04 01:23] #629 closed

[2019-11-04 06:03] shun-lin opened #661 "Feature Request: TCN Layer (temporal convolutional networks)"
**Describe the feature and the current behavior/state.**

The feature is for adding the different layers introduced in [An Empirical Evaluation of Generic Convolutional and Recurrent Networks for Sequence Modeling](https://arxiv.org/pdf/1803.01271.pdf) paper to tfa.layers. There is already existed an Keras implementation here: https://github.com/philipperemy/keras-tcn/, I feel like this is helpful

[2019-11-04 06:46] matthen commented on #335
+1 any progress on this?
I'd appreciate an example of how to create and train a keras decoder with attention

[2019-11-04 06:56] WindQAQ commented on #543
I am going to close this as bfloat16 would only be supported for XLA kernels, which is currently not in addons' scope.

[2019-11-04 06:56] #543 closed

[2019-11-04 06:59] WindQAQ commented on #661
Good news! This is indeed in the scope of addons. Feel free to file a PR for it. Thanks!

[2019-11-04 07:20] shun-lin commented on #661
@WindQAQ thanks! Will do so when I have time :)

[2019-11-04 07:26] VladimirStarostenkov commented on #605
@seanpmorgan not sure if that helps, but I was able to reproduce it.

[code]
[code]
[code]
[code]

[2019-11-04 12:21] kazemnejad commented on #335
Hi @Mainak431,  Sorry for the inconvenience.

Actually, the draft of this example is present at [my fork](https://github.com/kazemnejad/addons/tree/seq2seq_example_draft/docs/tutorials). However, in the default Keras training mode (graph mode) + tf.data.dataset (where the default mode is eager), there is a bug related to caching of tensor dimension which I guess is from the `AttentionWrapper`. Unf

[2019-11-04 13:45] matthen commented on #335
thanks for sharing @kazemnejad! Where do you get the bug? I was getting an error at some point from the rnn cell being wrapped by `AttentionWrapper` that it was being passed a rank 1 tensor when it was expecting a rank 2

[2019-11-04 17:57] WindQAQ commented on #550
Hi all, the PR has been created https://github.com/tensorflow/tensorflow/pull/33945.

[2019-11-04 18:02] AakashKumarNain commented on #550
@WindQAQ Are we going with the Python implementation or with the C++ one?

[2019-11-04 21:45] leozwang commented on #241
Hi Sean,

Seems there is a regress in the latest tf 2.1,

This is tf 2.0
Python 3.7.2 (default, Dec 29 2018, 06:19:36)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

'2.0.0'

'0.6.0'

<tf.Tensor: id=1, shape=(), dtype=int64, numpy=1558137369050000000>

This is tf 2.1, and same problem happens again.

'2.1.0-dev20191030'

Traceback (mo

[2019-11-04 23:23] seanpmorgan commented on #649
Thanks! Yeah the fix is in for the segfault but I'll create another one for the ParseTime issue.

[2019-11-04 23:23] #649 closed

[2019-11-04 23:32] seanpmorgan opened #663 "Missing symbol for Abseil ParseTime Op"
**Describe the bug**
Since the 20101030 nightly, our library fails when opening the `_parse_time_op.so` because of an undefined symbol error. Typically this occurs when there is an ABI incompatibility between core TensorFlow and our custom-ops.

[code]

This particular [custom-op utilizes absl](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/text/cc/kernels/parse_time

[2019-11-04 23:35] seanpmorgan commented on #241
Thanks! Please see #663

[2019-11-05 00:18] seanpmorgan opened #664 "Use public keras register throughout repo"
Since `register_keras_serializable` was added, We should use that instead of our [internal utility](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/utils/keras_utils.py#L23) and remove that from the repo:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/utils/generic_utils.py#L134

@karmel just want to confirm that our package name should be `Addons`

[2019-11-05 00:18] seanpmorgan commented on #438
Closing this as a public  API is now available in TF core. See https://github.com/tensorflow/addons/issues/664

[2019-11-05 00:18] #438 closed

[2019-11-05 02:20] #490 closed

[2019-11-05 02:35] WindQAQ commented on #550
I use C++ implementation :D

[2019-11-05 04:18] matthen opened #670 "How to use seq2seq attention in eager mode?"
**System information**
- OS Platform and Distribution: ubuntu
- TensorFlow version and how it was installed (source or binary): pip install tensorflow_gpu==2.0.0b1
- TensorFlow-Addons version and how it was installed (source or binary): pip install tfa-nightly (dev20190811)
- Python version: 3.6.8
- Is GPU used? (yes/no): yes

I can't figure out how I am supposed to set up attention with `tfa.seq2

[2019-11-05 04:22] SSaishruthi commented on #430
@seanpmorgan

Updating in core migration

[2019-11-05 04:46] matthen commented on #670
I had to upgrade pip to 19, and it installed a more recent nightly build. However that is broken with this error: https://github.com/tensorflow/addons/issues/663

I'm guessing seq2seq in tensorflow 2.0 is not ready yet

[2019-11-05 04:46] #670 closed

[2019-11-05 05:36] fsx950223 opened #671 "Implement fast-nms"
**Describe the feature and the current behavior/state.**
The fast-nms algorithm has better performance than traditional nms.
Described in [paper](https://arxiv.org/pdf/1904.02689.pdf).
Kernel implementation may provides better performance than python implementation.
**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): y

[2019-11-05 08:18] r4nt commented on #663
@scentini for whether this might be due to us not exporting all symbols from absl any more

[2019-11-05 08:27] CryMasK opened #673 "Got errors when calling get_initial_state with attention mechanism"
**System information**
Run tfa-nightly (0.7.0.dev20191105 ) and TF 2.0 on colab

**Describe the bug**
I want to implement encoder-decoder structure with attention mechanism.

But when I called `decoder_initial_state = decoder_cell.get_initial_state(masked_input)`, I got the error `ValueError: Duplicate node name in graph: 'AttentionWrapperZeroState/zeros/packed'`

If I change to another calling me

[2019-11-05 08:51] guillaumekln commented on #670
Did you try with TensorFlow Addons 0.6.0 and TensorFlow 2.0?

[2019-11-05 08:58] Liu-Da commented on #602
I also found the same problem.

[2019-11-05 10:33] scentini commented on #663
Yep, seems like it is related to [f58c9f8](https://github.com/tensorflow/tensorflow/commit/f58c9f835c32e02895bdd629c7660567ae011001), which changes what we export, see https://github.com/bazelbuild/bazel/issues/7362.

The absl symbols probably came from [here](https://github.com/tensorflow/addons/blob/c3aba0818b6e74ac3a4341d00242c464584c8b50/tensorflow_addons/tensorflow_addons.bzl#L13), and due to

[2019-11-05 11:48] Liu-Da opened #674 "F1-score always be 0.0000e+00"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Mojave 10.14.5
- TensorFlow version and how it was installed (source or binary): '2.0.0' pip
- TensorFlow-Addons version and how it was installed (source or binary): '0.6.0' pip
- Python version: 3.7.0
- Is GPU used? (yes/no): yes

**Describe the bug**

I want to get the **F1-score** to measure the model after

[2019-11-05 12:16] seanpmorgan commented on #663
Great thanks that makes sense! cc @helinwang as code owner.

Helin if you have time could you submit a patch to add absl as a build dependency.

[2019-11-05 12:18] #623 closed

[2019-11-05 13:40] seanpmorgan commented on #674
cc @SSaishruthi code owner.

EDIT----
We also may want to verify this now that the refactor has been merged

[2019-11-05 13:40] seanpmorgan commented on #602
Please consider submitting a PR to fix this. Thanks!

[2019-11-05 13:43] seanpmorgan commented on #602
Nevermind looks like it was fixed by https://github.com/tensorflow/addons/pull/502. Closing.

[2019-11-05 13:43] #602 closed

[2019-11-05 13:47] seanpmorgan commented on #652
cc @guillaumekln @qlzh727 when time allows.

[2019-11-05 15:21] scentini commented on #663
After discussion with @r4nt, it might be better to not pass the absl dependency to [_parse_time_op.so](https://github.com/tensorflow/addons/blob/c3aba0818b6e74ac3a4341d00242c464584c8b50/tensorflow_addons/custom_ops/text/BUILD#L16), but rather add `alwayslink = 1` to the `absl` library. (thus make sure that absl symbols are present in [@local_config_tf//:libtensorflow_framework](https://github.com/

[2019-11-05 16:19] helinwang commented on #663
Thanks, everyone! If there is anything I can help, please let me know.

[2019-11-05 17:08] SSaishruthi commented on #674
@seanpmorgan

Our new solution will solve this solve. We have added the threshold parameter for that purpose. I have checked with the new code and it works.

@Liu-Da Please use the new scripts to avoid this case

[2019-11-05 17:21] seanpmorgan commented on #674
Thanks @SSaishruthi !

[2019-11-05 17:21] #674 closed

[2019-11-05 18:38] karmel commented on #664
That SGTM-- matching the ops namespace makes sense. The scope will be within users' code, so doesn't need to be globally unique in this case.

[2019-11-06 06:08] matthen commented on #670
@guillaumekln aha yes that seems to be working! I think my problem was that I didn't have pip 19.0.0, so I was getting some old buggy version of tf addons. (maybe that requirement should be made more prominent?)

[2019-11-06 14:04] seanpmorgan commented on #670
@matthen so the thought on this was that TF2 requires pip 19 as well so users should have had it installed already. I think that may be a bit of a shaky assumption though.

@tensorflow/sig-addons-maintainers Would anyone be opposed to me deleting all manylinux1 whls that should be quite stale at this point.

[2019-11-06 14:11] matthen commented on #670
(@seanpmorgan I managed to get tensorflow 2.0.0b with an earlier pip, so I didn't realise the issue initially)

[2019-11-06 16:02] mwalmsley opened #676 "GCloud tf-gpu Image and tfa compatability?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 within Docker on Mac
- TensorFlow version and how it was installed (source or binary): 2.0-gpu via GCloud image (see below)
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0 via pip
- Python version: 3.5
- Is GPU used? (yes/no): no

**Describe the bug**

I'm trying to use tfa

[2019-11-06 16:18] mwalmsley commented on #676
To investigate if this error was somehow related to the host machine, I re-ran the same container on a GCloud Compute instance with Ubuntu 18.04, P100 GPU and CUDA 10.0 installed. I get the same import error on that machine as my non-CUDA Mac desktop.

[2019-11-06 16:29] guillaumekln commented on #652
When using a decoder with `tfa.seq2seq.InferenceSampler`, the `inputs` is the same as the `start_inputs` you passed to `tf.contrib.seq2seq.InferenceHelper`.

[2019-11-06 16:32] guillaumekln commented on #647
I think the main issue has been addressed. Feel free to reopen if you encounter specific issues in using `tfa.seq2seq`.

[2019-11-06 16:32] #647 closed

[2019-11-06 16:38] CryMasK commented on #652
Thank you for your reply.

[2019-11-06 16:38] #652 closed

[2019-11-06 16:59] guillaumekln commented on #673
@kazemnejad Do you spot an obvious error in the above code?

[2019-11-06 17:58] kazemnejad commented on #673
In terms of obvious errors, I don't think so. However, this line should be changed as follows:
[code]
to
[code]
Nonetheless, even the new version still produces the same error(`ValueError: Duplicate node name in graph`). I'm not really sure about the compatibility of the Seq2seq module with the Keras functional mode, especially as I didn't face such error in the Model-subclassing mode.

It also wo

[2019-11-06 17:59] seanpmorgan commented on #673
Thanks for looking into this!
cc @qlzh727 to see if he has any thoughts as well

[2019-11-07 06:39] Squadrick opened #679 "TQDMProgressBar: Cannot register a class that does not have a get_config() method."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.1.0-dev20191029
- TensorFlow-Addons version and how it was installed (source or binary): `master`
- Python version: 3.6.8
- Is GPU used? (yes/no): no

**Describe the bug**

`TQDMProgressBar` doesn't implement `get_config()`.

**Code to r

[2019-11-07 06:41] Squadrick commented on #679
cc @shun-lin

[2019-11-07 07:06] shun-lin commented on #679
@Squadrick got it, will update as soon as I can :)

[2019-11-07 07:34] matthen opened #680 "seq2seq - how to add rnn cell after attention inside decoder in eager mode"
**System information**
- OS Platform and Distribution: ubuntu
- TensorFlow version and how it was installed: `pip install tensorflow_gpu==2.0.0`
- TensorFlow-Addons version and how it was installed (source or binary): `pip install tensorflow_addons==0.6.0`
- Python version: 3.6.8
- Is GPU used? (yes/no): yes

I am trying to add an RNN cell after the attention mechanism, inside a decoder. This is t

[2019-11-07 08:27] Squadrick opened #682 "Lookahead Test's Random Nature can lead to incorrect test failure"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): `master`
- TensorFlow-Addons version and how it was installed (source or binary): source
- Python version: 2.7
- Is GPU used? (yes/no): no

**Describe the bug**

`LookaheadTest.test_fit_simple_linear_model` uses a seed only for NumPy, but

[2019-11-07 08:33] guillaumekln commented on #680
Apart from initializing the memory before creating the `StackedRNNCells`, I'm not sure we have a good way to make this work.

Instead, you could build the `StackedRNNCells` first with `GRUCell` only and then wrap the first cell with the `AttentionWrapper` to bypass the check. You can find an example [here](https://github.com/OpenNMT/OpenNMT-tf/blob/v2.2.0/opennmt/decoders/rnn_decoder.py#L121).

[2019-11-07 09:57] jlhervy commented on #179
Any update on this ? It would be nice to have deformable convolution available

[2019-11-07 14:31] #679 closed

[2019-11-07 15:24] Squadrick commented on #605
The code runs fine on my local machine. Pulled the latest `master` and built it from scratch on Google Colab and it runs without errors as well.

Link: https://colab.research.google.com/drive/17dYDWJJo7vJOAoO6JCSR-BBwlPWH1fKM

[2019-11-07 17:56] martin-gorner commented on #676
I saw the same error on Kaggle when running "pip install tensorflow-addons" in a non-GPU Kaggle notebook. If you enable the GPU, the installation succeeds, probably because the underlying image is different.

[2019-11-07 18:15] vmarkovtsev commented on #605
@Squadrick Colab works because this requires multiple devices.

[2019-11-07 18:16] seanpmorgan commented on #676
Thanks for the info! Yes this is generally because the TensorFlow has a an ABI incompatibility with the way we package our pip wheel. This issue will one day be resolved by this RFC which is already underway:
https://github.com/tensorflow/community/pull/133

In the mean time though we can look at that docker image and see how it was compiling TF. Does anyone know where we can access the Dockerfile

[2019-11-08 01:06] digantamisra98 opened #683 "Future Release"
Just a small inquiry regarding when the next release with all the recent additions is coming?

[2019-11-08 01:46] seanpmorgan commented on #683
Hi @digantamisra98! Since #664 we have a breaking change since that Keras registration API was added after 2.0 release.

2.1 branch was scheduled to be cut this afternoon so most likely within the next few weeks we'll have a release to go alongside it.
https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/DK4QK25ViA4

[2019-11-08 02:53] matthen commented on #680
thanks for the tip! I think it's really the fault of the code in `keras/layers/recurrent.py` using `hasattr` in init. perhaps it could check if it is a subclass of the `AbstractRNNCell` first, avoiding actually calling the property methods. But that's outside the scope of this repo.

[2019-11-08 05:23] WindQAQ commented on #683
Please note that we also have nightly build, so if you want to try new things/commits, you might also use `pip install tfa-nightly`.

[2019-11-08 07:18] matthen opened #684 "seq2seq - using GRUCell in attention wrapper"
**System information**
- OS Platform and Distribution: ubuntu
- TensorFlow version and how it was installed: `pip install tensorflow_gpu==2.0.0`
- TensorFlow-Addons version and how it was installed (source or binary): `pip install tensorflow_addons==0.6.0`
- Python version: 3.6.8
- Is GPU used? (yes/no): yes

(sorry for reporting yet another stumbling block..!)

[code]

this fails on the last line

[2019-11-08 07:34] Squadrick commented on #605
@vmarkovtsev I was able to recreate the error on Colab with the same hardware as before (no accelerators) and no multiple devices.

I used `tensorflow_addons==0.6.0` and `tensorflow==2.0.0` instead of the `tfa_nightly` and `tf_nightly`.

Link to recreated error: https://colab.research.google.com/drive/1VFzf57e5v6awNi_Y4edFeH4t3GzPFL96

[2019-11-08 07:59] qo4on commented on #683
Do you know how to import `tfa` after `pip install tfa-nightly`?

[2019-11-08 08:40] vmarkovtsev commented on #605
Great, so since @VladimirStarostenkov reproduced it with `tfa_nightly` and `tensorflow==2.0`, I can conclude that upgrading tensorflow to the future 2.1 should fix the problem.

[2019-11-08 11:02] bhack commented on #550
Yes but the main issue Is the we always need to check in multiple places:
https://github.com/keras-team/keras/issues/11834
https://github.com/keras-team/keras/pull/12020
https://github.com/keras-team/keras/pull/11835
https://github.com/keras-team/keras/pull/11839

We need to find a solution for Keras repo other then contrib vs addon:
https://github.com/keras-team/keras-contrib/issues/519

[2019-11-08 11:16] bhack opened #686 "Graduating (addon2core) and de-graduating (core2addon) policies"
https://github.com/tensorflow/addons/issues/550#issuecomment-537141212

/cc @ewilderj / @seanpmorgan @karmel

[2019-11-08 12:21] Squadrick commented on #605
@vmarkovtsev Closing this issue, feel free to reopen it if you run into any more problems.

[2019-11-08 12:21] #605 closed

[2019-11-08 12:26] Squadrick commented on #683
[code]

[2019-11-08 18:25] qo4on commented on #683
This doesn't work in Colab:
[code]

[2019-11-08 18:38] vmarkovtsev commented on #605
I will ping here if I have problems because issue authors cannot reopen their issues on GitHub if they were closed by maintainers.

[2019-11-08 19:21] #682 closed

[2019-11-08 20:25] seanpmorgan commented on #680
Thanks! Please file an issue on TF core to see if there should be an upstream fix.

[2019-11-08 20:25] #680 closed

[2019-11-08 20:35] karmel commented on #686
The policy thus far has been somewhat adhoc, but the pieces are in place to define a more formal policy. We could say something like, if we want to push something to Keras, submit an RFC to keras-team/governance, and go through the standard review. For pulls from Addons, what would you prefer, @seanpmorgan ? An issue? An RFC?

This won't solve the problem in the linked thread, though, which is tha