[2019-11-08 20:45] seanpmorgan commented on #686
Yeah this is certainly a process that we want to formalize but it's a bit tricky.  I like the idea of all Keras migrations going to keras-governance as an RFC. Going forward we'll make that the procedure for Keras migrations.

Do we have thoughts for things that don't fit as Keras API (e.g. some of our image processing functionality?) Is a tensorflow/community RFC too much?

Regarding tracking we'

[2019-11-08 20:47] karmel commented on #686
A TF RFC (acronym bingo!) for non-Keras things would be great. It doesn't have to be very heavyweight, but I think it's a very good practice to get into.

[2019-11-08 20:54] ewilderj commented on #686
RFCs don't have to be long. Would rather we had more than less.
cc/ @theadactyl @joanafilipa

[2019-11-08 20:54] #639 closed

[2019-11-08 22:29] seanpmorgan commented on #683
So you'll want to use `tf-nighly` with our `tfa-nightly` as that is what it's built against. Unfortunately, our build is pinned to a slightly old (~week) nightly as we wait for a resolution in #663

If this is blocking you today you can use the `tf-nightly==2.1.0.dev20191029` version with the latest addons as shown in this notebook:
https://colab.research.google.com/drive/1yW4ZLkIxdo4hGj55RQ4u3GTP

[2019-11-08 22:29] #683 closed

[2019-11-08 22:45] bhack commented on #686
Image processing or in general image namespace it Is another confusing topic.
I.e. check https://github.com/tensorflow/graphics/issues/107

I think we need to unify the stuff a little bit if we don't want the newcomers to be confused in a multirepository pinball.

So I'am for unify RFC in TF community repo and relaxing RFC verbosity threshold if it is needed to lowering the overhead.

[2019-11-08 22:51] bhack commented on #686
I'am propose to start to put Keras issue in read only mode relatively soon and start, with the community support, to add extra labels for Keras issue bot migration to Tensorflow repo.
We can agree over few extra labels to classify the ticket for the migration mini-bot (ignore, migrable, etc..).

[2019-11-09 00:24] evancasey opened #688 "Extremely slow inference times for CorrelationCost layer on CPU"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): 2.0.0, binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0, binary
- Python version: 3.7
- Is GPU used? (yes/no): no, CPU

**Describe the bug**

Inference takes about ~40s for the example (described

[2019-11-09 08:22] WindQAQ commented on #688
Thanks for the report! Confirmed the issue.
https://colab.research.google.com/drive/1UdYDikjugoFlgunHb5N3arD69R0gHihT

Seems that CPU implementation does not utilize parallelism. At least the outer loop [here](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc#L64) could be computed in parallel. I will try to improve the performan

[2019-11-09 11:35] WindQAQ commented on #688
Hi @evancasey, the PR has been issued. I test FlowNetC parameters, that is,
[code]
and the runtime 0.058s (avg over 5 rounds after 5 rounds warm-up). For the parameters in your code snippet, the runtime is about 4s.

I am not so familiar with this area, just copy the FlowNetC parameters from the link you paste above. Please correct me if I do anything wrong. Thanks again for the performance report

[2019-11-10 06:41] wellhowtosay opened #690 "can addons support rocm?"

[2019-11-10 06:44] #690 closed

[2019-11-10 21:06] Squadrick commented on #498
TFA builds fine on Bazel 1.0

Colab: https://colab.research.google.com/drive/12Krat_CFTeztcJsUTg1OdciZc-2Cih8w

I've tested locally on 1.0.1, and it works great as well.

[2019-11-11 12:58] mwalmsley commented on #676
An update - I've changed my setup to use the Tensorflow/CUDA "[Deep Learning VM](https://cloud.google.com/ai-platform/deep-learning-vm/docs/)" boot disk from GCP directly (i.e. without docker) and I get the same error. I assume the VM is created the same way as the Dockerfile.

(this was motivated by another op issue in TensorFlow itself, https://github.com/tensorflow/tensorflow/issues/34112 - I'm

[2019-11-11 19:23] evancasey commented on #688
Incredible. Thank you!!! :pray: I will give this a shot

[2019-11-12 09:50] danijar opened #693 "Lost gradient after clipping in focal loss?"
https://github.com/tensorflow/addons/blob/776b7511c1531f2cac3c822d30dc7bd7bcac3465/tensorflow_addons/losses/focal_loss.py#L132

[2019-11-12 13:26] guillaumekln opened #694 "CRF functions fail on sequences of length 1 when the static dimension is undefined"
**System information**
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow version and how it was installed: 2.0.0 (binary)
- TensorFlow-Addons version and how it was installed: 0.6.0 (binary)
- Python version: 3.5.2
- Is GPU used?: No

**Describe the bug**

Some CRF functions have a special case for sequence length = 1. However, this code path is not enabled when the static dimension is und

[2019-11-12 17:06] seanpmorgan commented on #693
cc @AakashKumarNain code owner

[2019-11-12 17:19] AakashKumarNain commented on #693
@danijar any sample code to reproduce?

[2019-11-13 03:24] TeaPoly commented on #415
Can you share MWER for us, or tell us where are your inspiration.

[2019-11-13 03:27] TeaPoly commented on #415
There is a repo which may be helpeful to you: https://github.com/datemoon/tf-code-acoustics. There are some SDT methods.

[2019-11-13 08:59] guillaumekln commented on #684
It looks like the `GRUCell` is not compatible with its own initial state. The following example fails with the same error:

[code]

The cell expects that `states` is a list (or tuple):

https://github.com/tensorflow/tensorflow/blob/v2.0.0/tensorflow/python/keras/layers/recurrent.py#L1629

@qlzh727 Is this an issue for `tf.keras` or should `tfa.seq2seq` ensure that the state is a Python sequence?

[2019-11-13 10:12] zhedongzheng commented on #335
Thanks @kazemnejad  for submitting the fix. Based on his contribution, I have successfully get the seq2seq code running for a semantic parsing task.

For anyone who is interested, the notebook is [here](https://nbviewer.jupyter.org/github/zhedongzheng/tensorflow-nlp/blob/master/finch/tensorflow2/semantic_parsing/tree_slu/main/lstm_seq2seq_tf_addons.ipynb)

[2019-11-13 14:09] #624 closed

[2019-11-14 01:31] #688 closed

[2019-11-14 01:32] seanpmorgan commented on #646
Closing. Feel free to re-open if there are more things to discuss.

[2019-11-14 01:32] #646 closed

[2019-11-14 01:33] seanpmorgan commented on #660
Closing. Feel free to re-open with details regarding how this would fit within the Addons API structure.

[2019-11-14 01:33] #660 closed

[2019-11-14 01:35] seanpmorgan commented on #626
Closing as the last community request was 2.5 years ago. Please feel free to open discussion if there is continued interest.

[2019-11-14 01:35] #626 closed

[2019-11-14 05:15] danijar commented on #693
I just read through the code and wanted to highlight a potential problem. Looking at K.clip, it doesn't seem to provide a gradient for values that have been clipped. In this is indeed the case, a fix would be

[code]

[2019-11-14 06:51] AakashKumarNain commented on #693
Thank you @danijar for looking into this and providing a fix. I will look into it once again and we will make the necessary code changes. Thank you again

[2019-11-14 08:02] #592 closed

[2019-11-14 14:20] lntsmn opened #698 "WeightNormalization with RNNs: shape issue"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): 2.0.0 binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0 binary
- Python version: 3.6.8
- Is GPU used? (yes/no): yes

**Describe the bug**

WeightNormalization layer wrapper cannot be used with RNNs if th

[2019-11-14 14:59] seanpmorgan commented on #663
Hmmm so it seems whatever has landed in the tf_nightly-2.1.0.dev20191114 nightly has not fixed this build issue:
https://source.cloud.google.com/results/invocations/f7858a66-3ac1-4717-a85a-bf160e754918/targets/tensorflow_addons%2Fubuntu%2Fcpu%2Fpy3%2Fpresubmit/log

I saw there was some issues with merging the patch... can we confirm that the fix landed but didn't solve our issue @scentini @helinwa

[2019-11-14 16:11] #457 closed

[2019-11-14 22:14] sarim-zafar opened #699 "Lifted Struct Loss Error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab (Linux)
- TensorFlow version and how it was installed (source or binary): binary 2.0
- TensorFlow-Addons version and how it was installed (source or binary): binary 0.6.0
- Python version: 3
- Is GPU used? (yes/no): Yes

**Describe the bug**
I get an assert shape error when I try to initialize the Lifted

[2019-11-15 07:11] WindQAQ commented on #699
1. That is similar to https://github.com/tensorflow/addons/issues/295. I would submit a PR later.
2. I think it is ok to take normalized embedding as input for lifted struct loss as there is no addition normalization done in the [paper](https://arxiv.org/pdf/1511.06452.pdf); triplet loss used in facenet model states the embedding should be normalized in [Figure 2](https://arxiv.org/pdf/1503.03832.

[2019-11-15 15:19] sarim-zafar commented on #699
1. Yes it is same as the one referenced above
2. I tried experimenting with l2 normalization of relu , sigmoid activation, relu activation. After a couple thousand iterations, the normalized embedding's loss stagnates while the other two keep decreasing. So there is definitely something specific to the implementation. I tried going through the paper for lifted struct loss but they don't mention no

[2019-11-15 16:31] scentini commented on #663
The PR that fixed this was reverted in [5acf6bd](https://github.com/tensorflow/tensorflow/commit/5acf6bdd2ba4cf1640c983c3b8c3c991715048e9).
An internal PR that'll fix this and similar issues by reverting the change that introduced these errors is in the process of being merged.

[2019-11-16 19:59] jkr26 opened #703 "tfa-nightly pip package currently broken"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux, Debian fork
- TensorFlow version and how it was installed (source or binary): via tfa-nightly pip package dependencies
- TensorFlow-Addons version and how it was installed (source or binary): tfa-nightly, via pip
- Python version: 3
- Is GPU used? (yes/no): no

**Describe the bug**

`tfa-nightly` setup.py does

[2019-11-18 02:51] mels630 commented on #332
regarding the last two ops:

* angles_to_projective_transforms maps a scalar (or batch of N scalars) to an output of dimension (N, 8) representing the equivalent projective transform. It additionally requires image_width and image_height (as scalars or tensors of same dimension as the input angles) to compute the transform.
* matrices_to_flat_transforms similarly maps (N, 3, 3) inputs to (N, 8) ou

[2019-11-18 07:42] luffywalf commented on #638
tf-cpu, I mean tensorflow with cpu
and i still got this error

[2019-11-18 09:16] luffywalf opened #704 "can't install tensorflow-addons==0.6.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac version:10.12.6
- TensorFlow version and how it was installed (source or binary): didnt install
- TensorFlow-Addons version and how it was installed (source or binary): pip install tensorflow-addons==0.6.0
- Python version: python 3.6.9
- Is GPU used? (yes/no):no

**Describe the bug**

ERROR: Could not find a ver

[2019-11-18 09:18] luffywalf commented on #704
and I wanna know what kind of enviroment does tensorflow-addons==0.6.0 need? thanks

[2019-11-18 15:30] #699 closed

[2019-11-19 02:23] luffywalf commented on #704
I find out that I can't install it because my Mac version is 10.12
update to 10.15 then it can be installed

[2019-11-19 02:23] #704 closed

[2019-11-19 02:26] luffywalf commented on #638
I figure out why
this error is because my Mac version is 10.12, so tensorflow-addons0.3.1 was installed
when I update Mac to 10.15(>=10.13 will be fine) I can install tensorflow-addons==0.6.0 as I want

[2019-11-19 03:02] seanpmorgan commented on #638
Great that's useful to know! Thanks for troubleshooting

[2019-11-19 04:17] luffywalf commented on #638
sure!  ^ ^

[2019-11-19 09:33] valendin opened #706 "pip install tensorflow-addons depends on tensorflow_gpu?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): conda install tensorflow
- TensorFlow-Addons version and how it was installed (source or binary): pip install tensorflow-addons
- Python version: 3.7.4
- Is GPU used? (yes/no): no

**Describe the bug**

Note that this is a machine without

[2019-11-19 14:34] georgesterpu commented on #663
@seanpmorgan it appears to work now with
[code]

[2019-11-19 14:58] seanpmorgan commented on #663
Thanks @georgesterpu! https://github.com/tensorflow/addons/pull/658

[2019-11-19 14:59] seanpmorgan commented on #663
@scentini @r4nt Now that the fix has landed do we know if it'll be cherry-picked onto r2.1?

[2019-11-19 15:06] scentini commented on #663
Unfortunately this fix caused internal breakages, so we'll be rolling it back. Whatever the solution is, it will be cherrypicked onto r2.1. I'll keep you updated.

[2019-11-19 15:07] seanpmorgan commented on #703
Pin has been released #658 so this should be good. Going forward we'll make sure to update setup.py whenever this happens again. Thanks for reporting!

[2019-11-19 15:07] #703 closed

[2019-11-19 15:12] seanpmorgan commented on #706
Hi @valendin tensorflow-gpu should work fine on system without a GPU and simply fallback to CPU. Once TF 2.1 is released the packages will be considated into simply `tensorflow`. At that point we can get rid of our hacky dependencies.

Please let us know if there are still issues. I suspect you're going to run into one by conda installing TF and pip installing TFA. It's a known issue and there's a

[2019-11-19 15:12] #706 closed

[2019-11-19 16:44] georgesterpu commented on #680
Hi, I have the same issue as @matthen, with my `StackedRNNCells` built inside `tf.keras.layers.RNN`.

Following @guillaumekln's workaround, I tried something like this:
[code]
but am getting the following error: `TypeError: Dimension value must be integer or None or have an __index__ method, got [256, 256]` in `recurrent.py@576` when building self.state_spec:
[code]
Here, `state_size` looks like t

[2019-11-19 17:51] jkr26 commented on #703
Awesome!

[2019-11-20 02:25] matthen commented on #680
I got it to work by first creating a single cell with `tf.keras.layers.StackedRNNCells`, I'm not sure if that will help

[2019-11-20 15:59] zaccharieramzi opened #707 "Can't import TQDMProgressBar"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow version and how it was installed: pip (2.0.0)
- TensorFlow-Addons version and how it was installed: `pip install -q --no-deps tensorflow-addons~=0.6`
- Python version: 3.6.8
- Is GPU used?: yes

**Describe the bug**

I can't import `TQDMProgressBar`.

**Code to reproduce the issue**

[code]

**Other info / logs*

[2019-11-20 16:04] zaccharieramzi opened #708 "Have a way to format the metrics in TQDMProgressBar"
**Describe the feature and the current behavior/state.**
Right now it's not possible to have the metrics displayed in the format you want using `TQDMProgressBar`. I haven't tested it because of #707 , but I know that once that is passed this will be a problem for me. I need my metrics in scientific formatting otherwise they are very difficult to read.

Right now the formatting is fixed: https://gi

[2019-11-20 16:22] georgesterpu commented on #680
Thanks, @matthen. I get the same error during `RNN.call()`. It is that construct for `self.state_spec` in particular that doesn't accept an `AttentionWrapperState`. For brevity, this is how my code looks like when manually appending cells to already built `StackedRNNCells`:

[code]
Building worked in the previous snippet as well.
I do call `setup_memory` before the `RNN.call()` to correctly pass t

[2019-11-20 16:45] guillaumekln commented on #680
It seems like a TensorFlow issue to me. They should probably do something like:

[code]

[2019-11-20 16:49] jlhervy commented on #179
I tried to look into it, but it is too hard for me to do as I don't have experience in CUDA.

I wonder how hard would it be to port this implementation (tf1.4) to tf2.0 :
https://github.com/Zardinality/TF-deformable-conv

This is the first version of the paper, but ideally it would be nice to have deformable-conv V2 :
https://arxiv.org/abs/1811.11168
For which there is an implementation for pytorc

[2019-11-20 16:49] shun-lin commented on #707
@seanpmorgan is it because it will be included in the next release but not the current one? Thanks!

[2019-11-20 16:50] shun-lin commented on #708
Hi @zaccharieramzi,

Thank you so much, looking forward for your contribution! Let me know if you have any questions.

[2019-11-20 17:14] qlzh727 commented on #680
I think we have a similar report for the high order structure as the state size, https://github.com/tensorflow/tensorflow/issues/34269. Will probably address this issue there as well.

Btw, I will take some long vacation and probably won't work much during the holiday season. Feel free to send a PR to TF if any of you have the time to fix the issue. Someone on TF team will handle the PR properly w

[2019-11-20 17:15] georgesterpu commented on #680
@guillaumekln your code works, however state_spec has a different structure from the original one.
Assume this input:
[code]
current state_spec
[code]
your state_spec
[code]

[2019-11-20 18:27] Squadrick commented on #707
@zaccharieramzi Like @shun-lin mentioned, `TQDMProgressBar` isn't included in `r0.6`. You can either build TFA from source or install `tfa-nightly`.

[2019-11-20 18:27] #707 closed

[2019-11-20 19:02] Squadrick commented on #663
[Failure log](https://source.cloud.google.com/results/invocations/cf194363-d647-4caa-82d2-5e783fc33296/targets/tensorflow_addons%2Fubuntu%2Fgpu%2Fpy2%2Fpresubmit/log).

Version: `tf_nightly-2.1.0.dev20191120`

Error:
[code]

We'll need to pin it to `tf_nightly-2.1.0.dev20191119`.

[2019-11-20 19:14] WindQAQ commented on #693
@AakashKumarNain Sorry for the late response. I'm fine with this. Maybe provide a testcase to verify the patch is needed!

[2019-11-21 08:53] zaccharieramzi commented on #707
Sure makes sense. Probably [the notebook introducing the `TQMProgressBar`](https://github.com/tensorflow/addons/blob/master/docs/tutorials/tqdm_progress_bar.ipynb) needs to be updated to reflect that, because it says that you can use it with 0.6.

[2019-11-21 09:03] zaccharieramzi commented on #707
I also have this other error with `tfa-nightly` (without dependencies): `AttributeError: module 'tensorflow_core.keras.utils' has no attribute 'register_keras_serializable'`

If I install with dependencies:
[code]

[2019-11-21 13:03] Squadrick commented on #707
We currently have a breakage due to upstream tf-nightly. We're working on resolving it: #709

In the meantime, you can install `tf-nightly==2.1.0.dev20191119`.

[2019-11-21 14:03] georgesterpu commented on #680
Please note that the PR above addresses @matthen's original issue, and not the `state_spec` one.
We'll need a separate fix for state_spec.

@guillaumekln when I try your snippet in graph mode, the following error is returned:
```TypeError: Cannot iterate over a scalar tensor.```

[2019-11-22 05:26] WindQAQ commented on #332
Hi @mels630, you are right. I tend to close this issue after `sparse_image_warp` gets merged. https://github.com/tensorflow/addons/pull/446. Thanks for pointing it out!

[2019-11-22 06:14] kevinkingo opened #711 "dense_image_warp error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): 2.0.0, Binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0, Binary
- Python version: 3.7.4
- Is GPU used? (yes/no): yes

**Describe the bug**
tfa.image.dense_image_warp is not compatible with TF 2.0

[2019-11-22 09:41] perretv opened #712 "WeightNormalization crashes model saving"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.0.0 binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0 binary
- Python version: 3.7.3
- Is GPU used? (yes/no): yes

**Describe the bug**

`tf.keras.Model` `save` method crashes due to `h5py` linki

[2019-11-22 10:10] Squadrick commented on #712
Fixed in 81566818909dd7596de2535157994859112c66e6, you'll need to install the nightly packages.

[2019-11-22 10:10] #712 closed

[2019-11-22 10:11] Squadrick commented on #712
Similar issue: https://github.com/tensorflow/addons/issues/624

[2019-11-22 11:22] perretv commented on #712
Sorry that I missed #624, my bad

[2019-11-22 17:07] WindQAQ commented on #711
Because `dense_image_warp` is decorated with `tf.function`, you have to wrap it with `tf.keras.layers.Lambda`. Here is a workable [notebook](https://colab.research.google.com/drive/1UdFmBkevENDVdEKoZFl5l6zjTUa5qL8x). Please let me you if you have further questions. Thank you.

[2019-11-22 18:07] cramertj opened #713 "New Release"
The last pip release was 0.6.0 on October 4th: https://github.com/tensorflow/addons/releases

Would it be possible to get a new release, in particular one that includes the fix to https://github.com/tensorflow/addons/issues/703?

[2019-11-22 18:28] Squadrick commented on #713
cc @seanpmorgan who might better answer when the next release will be.

We've removed the op that was causing the failure with nightly tensorflow in #710. Using the latest tfa-nightly and tf-nightly should work.

[2019-11-22 18:54] cramertj commented on #713
It does, thanks! To clarify, I'm actually a developer on [Tensorflow Federated](https://github.com/tensorflow/federated), and we'd like to publish a new release. However, we have a dependency on Tensorflow Addons and don't want to change our published release to depend on a nightly version of tfa.

[2019-11-23 14:40] seanpmorgan commented on #713
Hi @cramertj unfortunately we're unable to release a new version of TFA as we're now utilizing functionality from TF-Core that was unavailable in 2.0 (e.g. https://github.com/tensorflow/addons/pull/669):
https://colab.research.google.com/drive/1wZjKZISINcrEchnxx8cadwiv_M96hYib

As soon as we get a 2.1 release candidate we'll be publish a new TFA 0.7 and then increment minor versions as the full 2.

[2019-11-24 14:43] bodekjan opened #715 "cannot install on windows and ubuntu ???"
I need to install this package(v 0.6.0) on my computer.
When i trying to install on Windows10, pip cannot find this package.
When i trying to install on Ubuntu18, pip only can install v0.4.0 , i open pypi.org website and download tensorflow_addons-0.6.0-cp36-cp36m-manylinux2010_x86_64.whl manualy install, and it also failed by message :  xxx.whl is not a supported wheel on this platform.
So please

[2019-11-24 16:25] seanpmorgan commented on #715
Hi @bodekjan there is currently no release for Windows see #173 .

Ubuntu18 should be fine -- but the pip is packaged as manylinux2010 so you'll need to update your pip version:
[code]

[2019-11-24 16:25] #715 closed

[2019-11-25 02:43] fsx950223 opened #717 "Add addons to top level modules"
**Describe the feature and the current behavior/state.**
Add addons to top-level modules just like estimator for convenient.
**Relevant information**
- Are you willing to contribute it (yes/no):
- Are you willing to maintain it going forward? (yes/no):
- Is there a relevant academic paper? (if so, where):
- Is there already an implementation in another framework? (if so, where):
- Was it part of t

[2019-11-25 02:44] fsx950223 opened #718 "Add addons to top-level modules"
**Describe the feature and the current behavior/state.**
Add addons to top-level modules just like estimator for convenient
**Relevant information**
- Are you willing to contribute it (yes/no):
- Are you willing to maintain it going forward? (yes/no):
- Is there a relevant academic paper? (if so, where):
- Is there already an implementation in another framework? (if so, where):
- Was it part of tf

[2019-11-25 03:05] #717 closed

[2019-11-25 04:34] WindQAQ commented on #640
Closes via #662.

[2019-11-25 04:34] #640 closed

[2019-11-25 17:33] seanpmorgan opened #719 "Build Addons with CUDA 10.1"
TF 2.1 will be compiled with CUDA 10.1 by default:
https://github.com/tensorflow/tensorflow/issues/26289

Our current docker container supports only CUDA 10 so we'll want to upgrade at some point to match the environment. I'm not sure if this is an immediate breakage though as it looks like the nightlies are still compatible:
https://colab.research.google.com/drive/10Be-m2cRDRH-_l5qjSxRRFbpZsgdFV-

[2019-11-25 17:36] seanpmorgan commented on #718
Hi @fsx950223 could you further explain what you're requesting? Are you asking for Addons to be a dependency of TF-Core just as Estimator is?

If so it is highly unlikely to ever be a dependency as there is a major push for modular tensorflow:
https://github.com/tensorflow/community/pull/77

[2019-11-25 17:37] seanpmorgan commented on #711
Closing. Please feel free to re-open if there are additional questions.

[2019-11-25 17:37] #711 closed

[2019-11-25 21:11] MadsAdrian commented on #713
If a cherry-picked 0.6.1 release is done, it would be nice if the fix for #675 is included!

[2019-11-25 23:39] diesendruck commented on #676
Got the same error from a SageMaker instance with TF2.0.0.

[2019-11-26 01:54] fsx950223 commented on #718
For example:
If I install tensorflow_addons, I could use addons by
[code]
rather than
[code]

[2019-11-26 06:12] ezzeldinadel commented on #663
still suffering from this in the current nightly build

[2019-11-26 16:52] seanpmorgan commented on #663
Hi @ezzeldinadel can you confirm the nightly version you're using. We've dropped the ParseTime Op until a fix has landed in TF-core so there should be no issue with the nightlies:

https://colab.research.google.com/drive/1KV4J4Gs9VrNmxzstXQOhdYufg1BASaVI

[2019-11-26 20:04] n3011 opened #720 "CohenKappa reset_states distributed training setup errors."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): 2.0.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Describe the bug**
When using cohen kappa metric within the distribution strategy scope, `reset_stat

[2019-11-26 20:16] Squadrick commented on #720
cc: @AakashKumarNain

[2019-11-27 08:53] n3011 commented on #720
I have fixed it temporarily by changing the variables and weight matrix dtype to `tf.float32`. I think float should be correct dtype for weight matrix by default.

[2019-11-27 09:38] Squadrick commented on #720
@n3011 Could you please make a PR with the fix?

[2019-11-27 11:03] n3011 commented on #720
@Squadrick Sure will do.

[2019-11-27 20:52] dominikroblek opened #722 "tfa.layers.WeightNormalization fails with Assert when called by multiple threads"
### Issue description

`tfa.layers.WeightNormalization` fails with the following Tensorflow assert failure when used by multiple threads (e.g., when the same layer wrapped by `tfa.layers.WeightNormalization` is part of two parallel execution flows in a Tensorflow graph while reusing the variables):
[code]

### Proposed solution

Add the following line of code to the `tfa.layers.WeightNormalization

[2019-11-28 03:23] lan2720 opened #723 "crf_log_likelihood for unsure length of inputs"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos
- TensorFlow version and how it was installed (source or binary): pip install tensorflow-gpu       2.0.0
- TensorFlow-Addons version and how it was installed (source or binary): pip install, 0.6.0
- Python version: 3.6.8
- Is GPU used? (yes/no): yes

**Describe the bug**

Here is the code. When max_len is a sp

[2019-11-28 03:27] lan2720 commented on #723
@Squadrick could you check for this? Thanks!

[2019-11-28 04:45] Squadrick commented on #723
There's currently an open PR #697
I'll get it up and running soon, sorry about the delay.

[2019-11-28 06:02] lan2720 commented on #723
@Squadrick Thank you! And how about crf_loss?
The custom loss function only accepts inputs y_true and y_pred. Is any way to pass sent_length in loss in order to get log_likelihood?
[code]

[2019-11-29 02:12] lan2720 commented on #723
[code]
@Squadrick Could you please check this way to get crf_loss? It meets an AttributeError: 'Tensor' object has no attribute 'numpy'. I don't know why the tensor is not EagerTensor after crf_log_likelihood.

[2019-11-29 10:05] meysamsadeghi commented on #173
I also would like to ask for further action on this issue. It is very useful. Also, is there any workaround suggestion?

[2019-11-30 07:41] John-8704 commented on #335
+1 Any progress on this?

I'd really appreciate if someone could provide an example on how to build seq2seq NMT model with attention and beam search wrappers.  I couldn't find any examples.

[2019-11-30 07:54] John-8704 opened #724 "Request: Examples/Tutorials required for seq2seq NMT model"
It would be really helpful if there were examples on how to build basic keras seq2seq models (NMT) and make predictions/inference with attention and beam search implemented from tensorflow addons. I couldn't find any examples/tutorials regarding this.  I couldn't figure out how to use it.

[2019-11-30 19:43] seanpmorgan opened #725 "Package Addons 0.7 with TF2.1"
2.1rc has been released:
https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/UAddBVYncLE

There have been a lot of additions and requests for a new package. We can increase minor version as the RC increments.

This depends on: #719 since 2.1 is built against CUDA 10.1

[2019-12-01 04:42] WindQAQ commented on #722
Hi @dominikroblek, thanks for the report! Are you willing to fill a PR and add some unittests for it? Thank you again.

[2019-12-01 11:30] Om-Pandey commented on #724
Would you like to solve it ?... or assign the issue to me if you like

[2019-12-01 11:53] Om-Pandey opened #727 "Adding pooling layers"
**Describe the feature and the current behavior/state.**
 It will be a feature needed for downscaling images. Unlike max pooling, min pooling takes the values in the spatial locality of the filter which is the least and would come in handy for white background images, where data to be extracted has comparatively lesser values.

**Relevant information**
- Are you willing to contribute it (yes/no):

[2019-12-01 14:51] seanpmorgan commented on #718
Understood. While I agree this would be a nice change for the end-user; that strategy has created a bit of a tangled mess for packaging TF. See this new RFC:
https://github.com/tensorflow/community/pull/182

It creates a circular dependency because TFA depends on TF and TF depends on TFA. Going forward it looks as though every component of the TF ecosystem will be it's own import (see RFC)

Closin

[2019-12-01 14:51] #718 closed

[2019-12-01 14:58] John-8704 commented on #724
I don't think I can solve this. If you like to contribute can you check this open issue [here](https://github.com/tensorflow/addons/issues/335). For explanation regarding submission of tutorial you could check @kazemnejad fork [here](https://github.com/kazemnejad/addons/tree/seq2seq_example_draft/docs/tutorials).

[2019-12-01 15:30] seanpmorgan commented on #723
@lan2720 Without seeing the stack trace I'm unsure of where `Tensor.numpy()` is being called... but as a quick suggestion to unblock you, try running `a.compile(optimizer=Adam(), loss=None, run_eagerly=True)`

When a Keras model compiles it attempts to run in graph mode for performance benefits. This is likely the reason you're seeing a non EagerTensor.

[2019-12-01 15:36] seanpmorgan commented on #713
Closing. See https://github.com/tensorflow/addons/issues/725.  We'll hopefully have the new release in the next few days.

[2019-12-01 15:36] #713 closed

[2019-12-01 15:45] seanpmorgan commented on #173
Hi @meysamsadeghi (and others). We're really sorry for this not being implemented yet, but it's  outside of the scope of what SIG-Addons is capable of supporting at the moment.

Please forward your request comments/support to the custom-op issue: https://github.com/tensorflow/custom-op/issues/24 so that it can be prioritized. The roadmap has been laid out, but it needs to be completed.

There are

[2019-12-01 15:50] seanpmorgan commented on #727
Hi @Om-Pandey this seems like a reasonable request. Would you mind linking some of the keras issues so we can review what the comments were?

[2019-12-01 15:51] seanpmorgan commented on #724
I'm going to close this as it's more or less a duplicate of #335. @Om-Pandey would you be willing to contribute a tutorial for that issue?

[2019-12-01 15:51] #724 closed

[2019-12-01 15:52] seanpmorgan commented on #335
cc @Om-Pandey to see if this is an issue you would like to be assigned.

[2019-12-01 18:28] Om-Pandey commented on #727
Sure .... check this:
https://github.com/keras-team/keras/issues/2816

[2019-12-01 18:40] Om-Pandey commented on #724
@seanpmorgan Sure

[2019-12-01 18:42] Om-Pandey commented on #335
Yeah sure.. I would love to solve this.

[2019-12-01 19:14] seanpmorgan commented on #663
#728 is passing so I'm assuming this fix landed in nightly. Can we confirm that it was picked into 2.1?

[2019-12-01 21:14] seanpmorgan commented on #676
So I just wanted to comment on this so it's known that this is still being looked at:

At a high level the issue is that we can only upload a single package to pip, so we make that whl compatible with the pip version of tensorflow. Many docker images will choose to compile TF from source (or install from conda) so that TF will be most performant, but that means ABI incompatibilities with the whl w

[2019-12-02 01:07] seanpmorgan opened #731 "Add comprehensive tests for group/instance normalization layers"
As seen in #611 the test coverage validates the result of GroupNormalization by replicating the same procedure (which is to be tested) in numpy.

We should instead update the test case so that we validate the result against an easily computable tensor. Hardcoding the result for several different axes to be grouped.

[2019-12-02 01:15] seanpmorgan commented on #335
Great let us know if you have any questions regarding [adding a tutorial](https://github.com/tensorflow/addons/blob/master/docs/tutorials/README.md)!

[2019-12-02 01:50] lan2720 commented on #723
@seanpmorgan Thank you for your suggestion! But adding `run_eagerly=True` cannot fix.
[code]

[2019-12-02 01:56] #305 closed

[2019-12-02 02:05] seanpmorgan opened #732 "Limit GPU test memory so we can run in parallel"
Because TF allocates an entire GPU's memory when running, we have to limit our GPU tests to run a single test at a time. See the [ci script](https://github.com/tensorflow/addons/blob/08115506e7bdf9c19857540d662d7bfba66f448a/tools/ci_testing/addons_gpu.sh#L28) and [documentation](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#locally-testing-gpu).

I believe there are a few ways t

[2019-12-02 06:27] rjurney commented on #305
@seanpmorgan why closed?

[2019-12-02 14:15] seanpmorgan commented on #305
Hamming loss was merged in https://github.com/tensorflow/addons/pull/342.

[2019-12-02 18:24] rjurney commented on #305
Cool!

Thanks,
Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in/russelljurney> FB
<http://facebook.com/jurney> datasyndrome.com

On Mon, Dec 2, 2019 at 6:15 AM Sean Morgan <notifications@github.com> wrote:

[2019-12-02 20:57] jkyl commented on #173
Unfortunately WSL does not enable GPU passthrough. I've bumped https://github.com/tensorflow/custom-op/issues/24 with a plea for increased priority.

[2019-12-03 10:08] guillaumekln commented on #684
I opened the issue there: https://github.com/tensorflow/tensorflow/issues/34789

I believe this should be handled on the TensorFlow side so let me close this issue.

[2019-12-03 10:08] #684 closed

[2019-12-03 10:11] guillaumekln commented on #725
Do you also plan to depend on `tensorflow` instead of `tensorflow-gpu` now that Pip packages are consolidated?

[2019-12-03 10:13] guillaumekln commented on #673
@CryMasK Do you have some updates on your issue?

[2019-12-03 13:57] seanpmorgan commented on #725
Yup. Will send a small clean-up PR once #730 gets merged.

[2019-12-03 14:35] vlordier commented on #179
@Squadrick  you mentioned you'd implement DCN v2 in TF 2 : is this something you're having progress with ?

[2019-12-03 14:57] Squadrick commented on #179
@vlordier Nope, haven't found the time to get around to this. Feel free to open a PR if you decide to work on this.

[2019-12-03 17:17] seanpmorgan commented on #663
Hi @scentini so I checked and this build fails on TF2.1rc0 but passes on tf-nightly. Could you point me to the commit that ultimately fixed this so I can request it to be picked into TF2.1? (Assuming that isn't already happening)

[2019-12-03 21:40] scentini commented on #663
The commit was https://github.com/tensorflow/tensorflow/commit/c9d1b6dc3ada4aa88e97725b11ffb2371e75f355, I asked for it to be cherrypicked, you can follow https://github.com/tensorflow/tensorflow/pull/34764. Thank you for your patience!

[2019-12-03 22:02] seanpmorgan commented on #663
Thanks very much for your help!

[2019-12-03 22:02] #663 closed

[2019-12-03 22:19] helinwang commented on #663
Thanks @scentini and @seanpmorgan !

[2019-12-04 18:10] shreyaskamathkm opened #740 "Multi-GPU support for WeightNormalization"
**Describe the feature and the current behavior/state.**
When I try to run the weight normalization on a single GPU it works as expected. However, when I try to run it on Mirror Strategy it throws an error? Could it be extended to support multi GPUs?

**Relevant information**
- Are you willing to contribute it (yes/no): No
- Are you willing to maintain it going forward? (yes/no): No
- Is there a r

[2019-12-04 19:19] #719 closed

[2019-12-04 19:24] #498 closed

[2019-12-04 20:25] #720 closed

[2019-12-05 14:41] kazemnejad commented on #335
@Om-Pandey I am glad that you accepted this. I will be more than happy to give more information about the bugs that I was referring to. Please feel free to contact me if it is needed.

[2019-12-05 20:47] heytitle opened #741 "Doubt on using tfa.optimizers.MovingAverage"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version and how it was installed (source or binary): 2.0.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0
- Python version: 3.6.0
- Is GPU used? (yes/no): N/A

**Describe the bug**
Would you mind clarify how one should use MovingAverage? Possibly, this is not a bug a

[2019-12-05 22:28] WindQAQ commented on #741
cc @Squadrick

[2019-12-06 00:06] seanpmorgan commented on #173
Thanks to @yifeif this should be unblocked.

[2019-12-06 00:35] seanpmorgan opened #743 "Drop Python2 support"
TF2.1 will be the last package to support python2. We should follow suit and remove support as well.

Some things that we can change off the top of my head:
- [ ]  Removal of `__future__` boilerplate
- [ ]  Type checking (to start maybe just for examples)
- [x]  Clean-up build

[2019-12-06 14:52] seanpmorgan opened #744 "Publish Python3.8 package"
TF core is getting very close to being able to package for py3.8. We will follow suit quickly after them:
https://github.com/tensorflow/tensorflow/issues/33374

[2019-12-06 21:16] SSaishruthi commented on #430
@seanpmorgan Updating test file. should be done soon

[2019-12-06 21:18] SSaishruthi commented on #671
Is anyone working on this? If not, I will take a look @seanpmorgan

[2019-12-07 13:28] FaraiCH commented on #173
Hi, I'm using Tensorflow 2.0 and I have come to a problem. tf.contrib is not recognized as an attribute and when I try to install tensorflow-addons on my windows machine, it fails. However, it seems to work fine on my Mac. Is there any news or update on this?

[2019-12-07 14:18] seanpmorgan commented on #671
Not that I'm aware of, but @fsx950223 said they are willing to implement. If there has been no progress then should be fine to start on.

[2019-12-07 18:42] MadsAdrian opened #746 "tfa.metrics.F1Score gives ValueError for binary classification with shape (n,)"
**System information**
- OS: Ubuntu 18.04.3 LTS (Bionic Beaver)
- TensorFlow: `2.0.0` via tf docker image (`'v2.0.0-rc2-26-g64c3d38'`)
- TensorFlow-Addons: `0.6.0` via pip
- Python version: 3.6.8 [GCC8.3.0] on linux
- Is GPU used? (yes/no): tried both

**Describe the bug**
`tfa.metrics.F1Score` gives a `ValueError` for a binary classification problem encoded with shape `(n,)`.
[code]

**Code to re

[2019-12-07 18:45] MadsAdrian commented on #430
Guess #746 should be cleared before migrating to core?

[2019-12-07 20:00] SSaishruthi commented on #746
Let me reproduce and see how it goes

[2019-12-07 20:23] SSaishruthi commented on #746
@MadsAdrian

Thanks. Computation is different for both metrics.

1. In F1, number of columns in your input is equal to the number of classes. Your input shape is (1,5) so the `num_classes` parameter should have the value 5.

2. `y_pred` expects float input data type.

3. Providing the shape of your input will resolve this issue.

Please see the below example.

[code]

Let me know for any clarifica

[2019-12-07 21:22] geometrikal commented on #173
@FaraiCH As @seanpmorgan has posted, this is waiting on implementation of custom op in the normal Tensorflow repo. It seems there has been some work done on this so we can be hopeful of some progress soon!

[2019-12-08 02:31] vrince opened #747 "Troubles importing tensorflow_addons after build from source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow version and how it was installed (2.0.0 pip):
- TensorFlow-Addons version and how it was installed (source):
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

After clean build from source `import tensorflow_addons as tfa` fails.

**Code to reproduce the issue**

[code]
Build is O

[2019-12-08 10:26] fsx950223 commented on #671
I'm a little busy for now, I will try it next week. Thanks.

[2019-12-08 13:13] Om-Pandey commented on #335
@kazemnejad thank you so much... help is much needed 😅. @seanpmorgan based on earlier conversations in this thread, just wanted to clarify something, wouldn't it be better if we included a simple seq-2-seq NMT tutorial and gave separate methods and necessary explanation for attention modeling and beam/lexicon search which the reader can include if needed, rather than hard coding it into the struct

[2019-12-08 15:25] rpalakkal opened #749 "Adding animated progress bar for tf.keras"
Hello,

Currently the tf.keras Progbar and ProgbarLogger classes provide a progress bar for monitoring training but these only measure the progress of the current epoch and are also don't have the capability for fully animated progress bars for notebooks like Google Colab or Jupyter Notebooks/Labs.

I started developing a tf.keras callback to do this as part of a Google Code-In task. Here is the l

[2019-12-08 15:49] seanpmorgan commented on #747
Hi @vrince `register_keras_serializable` was added after TF2.0 was released. You can either build 0.6 branch from source and it should work with TF2.0:
https://github.com/tensorflow/addons/tree/r0.6

Or compile master branch against TF2.1 release candidate.

[2019-12-08 15:50] seanpmorgan commented on #725
Just as an update we'll be waiting for TF2.1-rc1 prior to this release (should be in the very near future). This will allow us to keep ParseTime Op in the release and gives us a little time to see how much work is needed to add a Windows release.

[2019-12-08 15:51] seanpmorgan commented on #335
Yes, we're more than willing to have several different seq2seq tutorials

[2019-12-08 15:58] MadsAdrian commented on #746
Thanks for the clarifying response. This at least allows a workaround in my code.
Although, I don't think you fully understand my inquiry. As stated in the original post, I would expect duck typing to work across the `tfa` metrics where a binary vector with shape `(n,)` makes sense. My case is actually `num_classes=2`, and I assumed that inputs of shape `(n,)` was acceptable (as is the case with `

[2019-12-08 18:49] vrince commented on #747
Nice ! so I need to force tf nightly >= 2.1 will give a try ... Not sure why bazel test / build runs against 2.1 while wheel artifact in virtual env not but I'll dig a little more.

[2019-12-08 20:28] MadsAdrian commented on #746
Further does
[code]
(as expected) produce a `ValueError`, as `y_true` and `y_pred` are not one-hot encoded on `axis=1`.

[code]
which is as expected with `average=None`.

The behavior I initially expected is like
[code]

[2019-12-09 00:01] shun-lin commented on #749
Hi,

I have implmented a TQDM progress bar here on Addons not too long ago, would this works for your use case? Also if you want to extend the tqdm progress bar here on Addons feel free to send PR!

Tutorial:
https://github.com/tensorflow/addons/blob/master/docs/tutorials/tqdm_progress_bar.ipynb

[2019-12-09 00:24] shun-lin opened #750 "adding TimedStopping Callback (like EarlyStopping but for time)"
**Describe the feature and the current behavior/state.**

TimedStopping callback would be a tf callback that takes in a parameter from users (like say number of seconds) and stops the training when that much time passed since the start of the training, much like EarlyStopping callback but instead of monitoring a metrics, the callback would trigger end of training based on time.

This may be useful

[2019-12-09 03:59] vrince commented on #747
@seanpmorgan my very bad if I had have read the doc correctly it says `./build_pip_pkg.sh artifacts --nightly` ... and the `--nightly` **is** important ! Thanks.

[2019-12-09 03:59] #747 closed

[2019-12-10 00:37] Disgruntoad opened #751 "tfa GroupNorm Incorrectly Reshapes"
This bug report is in reference to the GroupNormalization layer implemented here: https://github.com/tensorflow/addons/blob/v0.6.0/tensorflow_addons/layers/normalizations.py#L74-L100

The issue is related to the following piece of code.

[code]
self.axis would be the channels axis.

The problem is when self.axis = -1 and the reshape goes from: [N, H, W, C] to [N, G, H, W, C//G] without performing

[2019-12-10 14:41] seanpmorgan commented on #751
Thanks for the detailed report @Disgruntoad! Would you be interested in submitting a PR with appropriate test cases?

[2019-12-10 15:10] seanpmorgan commented on #750
Interesting idea. Personally have no issue including this in the repo (given you'll maintain) as it fits nicely in callbacks API. Thanks for your continued contributions!

[2019-12-10 16:15] shun-lin commented on #750
thanks @seanpmorgan :)

[2019-12-10 19:10] AakashKumarNain commented on #693
Sorry for the delay. I was on vacation. I will check and if needed, fix this during this weekend

[2019-12-10 19:44] martin-gorner opened #753 "_activation_ops.so: undefined symbol error when importing tensorflow_addons"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Cloud AI Platform Notebooks, TF 2.0 image
- TensorFlow version and how it was installed (source or binary): Google Cloud AI Platform Notebooks, TF 2.0 image
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0, pip install
- Python version: 3.5
- Is GPU used? (yes/no): yes

**Executin

[2019-12-10 20:10] seanpmorgan commented on #753
Same issue found here:
https://github.com/tensorflow/addons/issues/676#issuecomment-560159918

Thanks for reporting, we're aware of the issue and a long term fix is in the works (see RFC linked in that issue).  A short term fix would be to try compiling TFA from source (but there are a few edge cases where it could still fail

[2019-12-10 20:10] #753 closed

[2019-12-10 20:26] martin-gorner commented on #676
is the RFC #133 planned to be included in TF 2.1 ?

[2019-12-10 20:52] seanpmorgan commented on #676
Unfortunately no. It's being actively worked on and I believe a stable API has been built for CPU Only kernels but they're working on CUDA kernels.

[2019-12-10 21:44] SSaishruthi commented on #671
I will wait for the next update on this.

[2019-12-10 22:49] Hyperparticle opened #754 "Allow passing in a tensor to tfa.optimizers.MovingAverage num_updates"
Currently, `tfa.optimizers.MovingAverage` has an assert that requires `num_updates` to be of type int, [shown here](https://github.com/tensorflow/addons/blob/604a70de563f8797984c9c3f002aff70bef6c90b/tensorflow_addons/optimizers/moving_average.py#L81). This prevents me from passing in an integer tensor that changes with the global step, which is officially supported by `tf.train.ExponentialMovingAv

[2019-12-11 01:11] Disgruntoad commented on #751
@seanpmorgan Sure! I'm kinda a noob at PR though, so if there's a good set of guidelines, lmk.

[2019-12-11 15:50] rawhazard commented on #173
Hi. Is it possible to install TF-Addons on Windows 10 now with pip? If not with pip, is it possible to install it from sources in other ways?
Thank you for your help.

[2019-12-11 18:06] seanpmorgan commented on #173
Hi @rawhazard not yet, but we're hoping to have a windows CPU package in the very near future

[2019-12-12 01:16] seanpmorgan commented on #725
RC1 has been released. Cutting the branch; but may take a couple days due to other priorities

[2019-12-12 01:39] seanpmorgan commented on #751
Great! First you'll want to fork addons and create your own branch on the fork where you make changes. Here is a good guide: http://blog.davidecoppola.com/2016/11/howto-contribute-to-open-source-project-on-github/

You'll want to fix the bug in [normalizations.py](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/normalizations.py) and add tests that explicitly describe/tes

[2019-12-12 01:42] seanpmorgan commented on #749
Closing, but feel free to ask to re-open if TQDM progress bar does not meet your needs. It will be included in the upcoming 0.7 release

[2019-12-12 01:42] #749 closed

[2019-12-12 05:41] dianjunsun opened #756 "python rnn GRU/LSTM ops support in addons"
In previous TF we have optimized gru/lstm op implementation for CPU and GPU, in TF2.0 kernel we still have these but seems no python interface anymore.

TF 2.0 Kernel:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/kernels/rnn

In contrib TF1.8:
https://github.com/tensorflow/tensorflow/blob/1.8.0/tensorflow/contrib/rnn/python/ops/gru_ops.py

[2019-12-12 10:49] AakashKumarNain commented on #693
`K.clip` is just clip by value. It doesn't seem to affect the gradients, hence no fix is needed IMO. Though looking for any additional inputs

[2019-12-12 16:31] CryMasK commented on #673
I didn't keep trying with tfa.
Alternatively, I implement the attention mechanism through using tensorflow build-in `RNN` layer.
For someone also wants to implement the attention mechanism, the concept is illustrated as below:
`
...
class FakeRNNCell(Layer):
    # do attention here

encoder_outputs = LSTM(...)
decoder_outputs = LSTM(...)

cell = FakeRNNCell(...)
attention_layer = RNN(cell, return_

[2019-12-12 18:12] danijar commented on #693
What do you mean? Clip by value is not differentiable.

[2019-12-12 18:56] SSaishruthi commented on #754
@seanpmorgan I was looking at the code and looks like we just need to remove the check for `int`. Is that right? I will create a PR if that is right

[2019-12-12 18:59] Hyperparticle commented on #754
Yes, either remove the int check or additionally check if the input is a tensor.

[2019-12-12 19:00] SSaishruthi commented on #754
Thanks. Creating PR now

[2019-12-12 20:26] AakashKumarNain commented on #693
The same thing is being used here in `binary_crossentropy` calculations.
https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/backend.py#L4558-L4588

[2019-12-12 21:38] Squadrick commented on #693
@danijar I understand the confusion.

[`tf.clip_by_value`](https://github.com/tensorflow/tensorflow/blob/f7f4049ded8ad2bfbaecde1ff2d42460cc9fa762/tensorflow/python/ops/clip_ops.py#L38) uses `tf.minimum` and `tf.maximum` currently (ignoring the TODO).

Both `tf.minimum` and `tf.maximum` have their gradients defined [here](https://github.com/tensorflow/tensorflow/blob/606a542c81df033d493d25e32b9f175

[2019-12-13 02:01] #754 closed

[2019-12-13 02:06] seanpmorgan commented on #740
Hi @shreyaskamathkm thank you for identifying this! Would you mind adding a minimal reproducible example along with the error that you receive?

[2019-12-13 09:33] MachineJeff opened #763 "How to remove Weight_Normalization?"
## Question

Hi !

I have successfully applied the **weight normalization wrapper** in my model, and the model can run without any bug.

However, I wanna know how to remove the weight normalization at **inference** time?

Just like the **layer normalization**，as we all know,  **layer normalization** API has a param called **is_training**, so that **layer normalization** can be removed automaticall

[2019-12-13 10:57] Squadrick commented on #741
Thanks for raising this issue. It isn't a fault of usage, but a bug in the code due to changes to `tf.train.ExponentialMovingAverage`. I've submitted a PR that should fix this.

[2019-12-13 11:07] heytitle commented on #741
Thanks for the fix!

[2019-12-13 11:17] Squadrick commented on #741
@heytitle What do you think about the current API for `MovingAverage`? Is the `assign_average_vars()` mechanism fine or would you prefer something else?

[2019-12-13 11:20] heytitle commented on #741
I think it's fine.

[2019-12-13 22:33] shreyaskamathkm commented on #740
Sure thing. I will add it over the weekend.

[2019-12-13 23:32] bmc2-stripe opened #767 "DecoupledWeightDecayExtension only decays weights which are present in the sparse gradient"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- TensorFlow version and how it was installed (source or binary): 2.0, binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0, binary
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**
The current implementation only makes updates to those indices whose prese

[2019-12-14 00:11] drozzy commented on #173
Please add support for windows. I get cryptic error when trying to install this:

[code]

[2019-12-14 14:49] seanpmorgan commented on #763
Hi @MachineJeff thanks for the compliment, but in reality the  WeightNorm in Addons has undergone many changes (from ~4 contributors) and is a better implementation.

This request is valid though, and we should be able to support it.

[2019-12-14 15:10] MachineJeff commented on #763
Haha, you all are heroes!

Actually, weight norm is removed in the project  [melgan ](https://github.com/seungwonpark/melgan) I mentioned above at inference time, so they get a good result. But I can not remove it so I get a not very good result.

Looking forward your support!.

[2019-12-14 15:37] seanpmorgan commented on #767
cc @PhilJd codeowner.

[2019-12-14 15:59] seanpmorgan opened #768 "Verify Tutorial Testing"
Per the conversation in #540 the TF-Docs team should be able to test our tutorials during API document generation.

We'll be adding a broken notebook so we can test the alerting system.

[2019-12-14 16:03] yashk2810 commented on #768
Let me know when 0.7 is available on pypi, so that I can run the commands.

[2019-12-14 21:38] #698 closed

[2019-12-15 03:50] shun-lin commented on #750
merged! See tutorial here https://github.com/tensorflow/addons/blob/master/docs/tutorials/time_stopping.ipynb

Thanks @seanpmorgan

[2019-12-15 03:50] #750 closed

[2019-12-15 11:50] Cospel opened #770 "Build with custom cuda/cudnn version"
**Describe the feature and the current behaviour/state.**

Right now the build is locked to cuda 10.1. However tensorflow2+ is able to build from source with different CUDA versions (by specifying it through configure). Can this package mimic the tf2 build process?

For example I'm working mostly with docker containers and server instances which has cuda 10.0 and doing custom builds of tf2 for thi

[2019-12-15 17:17] PhilJd commented on #767
Hi @bmc2-stripe,
I never personally used sparse gradients so I don't know if sparse or dense decay performs better but there was some discussion in the initial PR here: https://github.com/tensorflow/tensorflow/pull/17438#discussion_r182403534. The main motivation to go for this was that LazyAdam, which updates the accumulators only for the indices present works better for sparse gradients
Do you h

[2019-12-15 18:35] shreyaskamathkm commented on #740
Hi, @seanpmorgan I edited the distributed strategy version from the TensorFlow example. Setting n_gpu = 1, works as expected. When n_gpu = 2, we get an error. The complete log is also attached after the code. Please take a look.

[code]

Log :

[code]

Please take a look.

Thank you,
Best,
Shreyas Kamath

[2019-12-15 18:40] danijar commented on #693
Exactly. Is it supposed to be 0 outside of the range?

[2019-12-15 20:24] Squadrick commented on #693
@danijar My bad, you're right. A clip is used in BCE before taking a `log` for numerical stability. That won't be needed for focal loss.

Funnily enough in the `tf.keras` implementation of  BCE, that does both a clip followed by an `output + eps`. I think the addition of `epsilon` after the clip won't be needed.

[2019-12-16 04:12] danijar commented on #693
My main point was that the gradient should probably be patched back onto the clipped tensor. Anyway, I'm not a user of the module.

[2019-12-16 16:55] mihaimaruseac commented on #173
@drozzy when you get that message you can get more information by trying `pip debug verbose` and looking at the tags `pip` gives back to you and comparing with the tags on the pypi page. This works for any python package.

[2019-12-16 18:01] seanpmorgan commented on #770
Hi @Cospel! Thanks for bringing this up. So we actually use the [same script for identifying CUDA](https://github.com/tensorflow/addons/blob/master/build_deps/toolchains/gpu/find_cuda_config.py) as TF-Core. This means it should be pretty straight forward to enable this.

We're in the middle of some pretty big BUILD revamping (enable Windows, etc.) so this might get pushed a week or two, but we'll

[2019-12-17 12:16] SmileTM opened #775 "build from source code then reinstall tensorflow"
cuda 9.0
cudnn 7

I had installed tensorflow2.0-gpu that was bazeled from source code.
And tf.test.is_gpu_available()  is true

Then I had changed configure.sh
[code]
Then I run ./configure.sh , it will reinstall tf-nightly.
how to change this dependency ？

[2019-12-17 16:20] AakashKumarNain commented on #693
We will patch it.

[2019-12-18 02:35] 372046933 commented on #744
Seems that in the process of releasing. But I  can't install with pip right now.

https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-562663993

[2019-12-18 05:43] bmc2-stripe commented on #767
Thank you both for taking a look, and the the pointer to the review thread! An init param (set by default to False, for back-compat) would definitely help with our use case.

As for an experiment: I ran dense weight decay versus sparse weight decay on a dataset of fraudulent payment activity we have at Stripe. Our primary model performance metric is partial AUC. On that metric, the dense implement

[2019-12-18 13:13] Ghostvv opened #778 "tfa.text.crf.crf_log_likelihood produce log likelihood > 0 for sequences with length 1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `mac os`
- TensorFlow version and how it was installed (source or binary): `2.0` from pip
- TensorFlow-Addons version and how it was installed (source or binary): `0.6.0` from pip
- Python version: `3.7`
- Is GPU used? (yes/no): no

**Describe the bug**

If there an example in a batch, which true sequence length is 1

[2019-12-18 14:44] seanpmorgan commented on #775
Hi @SmileTM, we're working on our build to be more flexible for custom configurations. See https://github.com/tensorflow/addons/issues/770. I suspect this will be completed before the new year.

If you would like to see if you can get it to work prior to those changes, you'll want to change the requirement in `build_deps`: https://github.com/tensorflow/addons/blob/master/build_deps/requirements.tx

[2019-12-18 14:44] #775 closed

[2019-12-18 15:00] Ghostvv commented on #778
created a fix: https://github.com/tensorflow/addons/pull/779

[2019-12-18 15:12] valendin opened #780 "Add Novograd optimizer (TF2)"
**Describe the feature and the current behavior/state.**
This is a kind request to add an implementation of the Novograd optimizer as per the NVidia OpenSeq2Seq project: https://nvidia.github.io/OpenSeq2Seq

**Relevant information**
- Are you willing to contribute it (yes/no): yes (testing)
- Are you willing to maintain it going forward? (yes/no): no
- Is there a relevant academic paper? (if so, w

[2019-12-19 06:07] SmileTM commented on #775
emm,I try to change https://github.com/tensorflow/addons/blob/master/build_deps/requirements.txt to
[code]
but when I pip install  addons ,it will search tensorflow to install. (I have installed tensorflow-gpu that was named 'tensorflow' not 'tensorflow-gpu')
[code]

[2019-12-19 07:54] SmileTM commented on #775
have a good news to you.
I have successed to bazel and install the addons in cuda 9.0 and cudnn 7.
You can refer
http://s-tm.cn/2019/12/19/tensorflow-addons/

[2019-12-19 07:55] SmileTM commented on #770
have a good news to you.
I have successed to bazel and install the addons in cuda 9.0 and cudnn 7.
You can refer
http://s-tm.cn/2019/12/19/tensorflow-addons/

[2019-12-19 14:20] PhilJd commented on #767
If that's the case I'd be happy to merge a PR for this behavior :)

[2019-12-19 15:46] WindQAQ commented on #780
Thanks for bringing this up and feel free to open a PR!

[2019-12-19 17:38] seanpmorgan opened #781 "AttentionWrapperTest results failing on nightlies"
**Describe the bug**
Nightly tests and CI is breaking for `testLuongMonotonicNotNormalized` and `testLuongMonotonicScaled`.

Quick look I couldn't find a commit on TF core that explains the result differing from before. Possbily related to https://github.com/tensorflow/addons/pull/736 ?

[code]

[2019-12-19 17:43] #173 closed

[2019-12-19 17:44] seanpmorgan commented on #173
PR has been merged, expect a windows wheel available for 0.7 release which is waiting on TF2.1. We can't make nightlies for windows as there are no tf-nightly windows builds.

[2019-12-19 17:45] seanpmorgan commented on #781
cc @guillaumekln @qlzh727

[2019-12-19 18:03] guillaumekln commented on #173
Great news! Thank you very much for your work, Sean!

[2019-12-19 18:26] seanpmorgan opened #782 "Build ParseTime on windows"
Per #771 we're unable to build ParseTime Op on windows. AFAIK we have no exported symbols for ABSL so at the moment this will be unavaiable in windows.

Options going forward:
* Follow up with TF-Core team on getting these exported / how to link with them
* Add absl as a dependency in our build

Relevant issue:
#663

cc @helinwang @scentini

[2019-12-19 18:31] seanpmorgan opened #784 "Build GPU custom Ops for windows"
Currently we only compile/use the CPU version of custom ops in Addons for windows. Users should still be able to leverage GPU ops from TF-Core but this is something we want to build/enable.

I don't think this is a huge lift since the gpu toolchain works on nix and windows, but needs some testing.

[2019-12-19 18:34] #732 closed

[2019-12-19 19:59] seanpmorgan opened #787 "Add nightly tests for windows/macos"
Currently we only test our nightlies on linux:
https://github.com/tensorflow/addons/blob/master/.travis.yml#L17

It should be relatively simple to enable tests for macos/windows, with the one caveat that `tf-nightly` is not published for windows.

[2019-12-19 20:27] #778 closed

[2019-12-19 20:27] Squadrick commented on #778
@Ghostvv Thanks for the fix!

[2019-12-19 20:41] gabrieldemarmiesse commented on #743
I'd be happy to take care of it. I've done it a few time and I know a lot of tools to make it easier.

Ping me when you'd like to drop support. I suppose it'll be when we drop support for the TF2.1.x branch right? So some time around march/april 2020?

[2019-12-19 21:56] tejasdixit commented on #173
So i guess i will need to do it again with tensorflow 2.1 (currently i am using version 1.5 as the file generate_tfrecord.py won't even work with tensorflow 2.0)

[2019-12-19 22:29] iskorini opened #788 "Cannot compile with GPU Support"
Hi, I need to do some modification on this library, so I have to recompile it.
I'm trying to build tf addons without modification, but `bazel build --enable_runfiles build_pip_pkg --verbose_failures` returns this error: (sorry for the wall of text)
[code]
My setup is:
    - Ubuntu 18.04.3 LTS (GNU/Linux 4.15.0-72-generic x86_64)
    - Cuda_10.1.105_418.39
    - Cudnn-10.1-linux-x64-v7.6.4.38

[2019-12-19 22:39] iskorini commented on #788
Same result :'(
[code]

[2019-12-19 22:44] seanpmorgan commented on #788
Seems related to https://github.com/tensorflow/tensorflow/issues/26155#issuecomment-492425764 ?

[2019-12-19 23:10] iskorini commented on #788
Yep, thanks!
The problem was NVCC version. Before I had
[code]

[2019-12-19 23:16] #788 closed

[2019-12-20 06:22] allen108108 commented on #784
So, we can't use tensorflow-addons in Win10 system  now ,right ?

[2019-12-20 12:07] guillaumekln commented on #781
It seems there were some precision changes/fixes impacting `tf.sigmoid` between `tf_nightly-2.1.0.dev20191203` and `tf_nightly-2.1.0.dev20191219`. The later returns values with higher precision on GPU, for example:

[code]

In `2.1.0.dev20191203`:

[code]

In `2.1.0.dev20191219`:

[code]

I did not find the exact commit but find this one which update the documentation in consequence: https://githu

[2019-12-20 12:51] guillaumekln opened #790 "Update seq2seq layers to work without experimental_run_tf_function=False"
In https://github.com/tensorflow/tensorflow/commit/c73c99ca3e0bacf2bca313f270bb3eae28869530, the `experimental_run_tf_function` is enforced to `True`. The seq2seq layers and tests (#736) should be updated to not disable this deprecated flag.

[2019-12-20 14:20] guillaumekln commented on #781
But there are some strange things happening. For example going from 3 to 4 elements changes the result on GPU...

[code]

I will raise this to the TensorFlow team to better know what are the expectations.

[2019-12-20 14:27] seanpmorgan commented on #743
That'd be great, thanks @gabrieldemarmiesse! There are a couple of peculiarities with the build that I can modify separately from the python code updates.

As far as timeline we plan to cut our 0.7 branch and publish before 2020. After that we'll drop support on master so sometime in early January.

[2019-12-20 14:32] iskorini opened #792 "File not found during import"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): 2.1.0-dev20191220 binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.7.0 source
- Python version: 3.7.5
- Is GPU used? (yes/no): yes

**Describe the bug**

When I try to import tensorflow addons I have

[2019-12-20 14:38] seanpmorgan commented on #792
Try moving out of the source directory if you're still in it. If you import while in the source directory you'll get this error because the compile .so files are not present

[2019-12-20 14:39] #790 closed

[2019-12-20 14:41] seanpmorgan commented on #784
You can compile from source. See the README. It will only support CPU addons ops (but thats the majority of them).

Alternatively we'll have a 0.7 release in the very near future to pip install.

[2019-12-20 14:41] iskorini commented on #792
Thanks for quick reply!
But now I have this
[code]
Could it be an incompatibility problem with TF 2.1.0?

[2019-12-20 14:50] seanpmorgan commented on #792
https://github.com/tensorflow/addons/issues/676
https://github.com/tensorflow/addons/issues/574

That's an ABI incompatibility. Part of the build we're working to make easier, but ultimately the fix will come from: https://github.com/tensorflow/community/pull/133

Are you compiling TF-Core from source as well? If so make sure you're using the same build environment (gcc, cxx11 flag, etc.)

Closing

[2019-12-20 14:50] #792 closed

[2019-12-20 15:03] #686 closed

[2019-12-20 15:43] seanpmorgan commented on #792
@iskorini as a quick test could you edit the `.bazelrc` file after you run `.configure.sh` and flip `build --action_env TF_CXX11_ABI_FLAG="0"` to be 1. Then retry the build

[2019-12-20 15:45] allen108108 commented on #784
Will you release the GPU version in future ?

[2019-12-20 15:48] seanpmorgan commented on #784
Yes that is what this issue is here to track.

Just to be clear, prior to this issue being completed the addons package will still utilize GPU for underlying TF ops (matmul, etc.). But there will not be GPU implementations for the custom CUDA kernels in this repository... though they'll have CPU fallback.

[2019-12-20 15:49] allen108108 commented on #784
Thanks for answering ~~~~

[2019-12-20 20:35] Squadrick commented on #723
Closing this issue, since it's a duplicate of #694. @lan2720 Please create a separate issue for the problem you are facing.

[2019-12-20 20:35] #723 closed

[2019-12-21 15:38] #694 closed

[2019-12-21 15:41] #722 closed

[2019-12-21 15:48] seanpmorgan opened #801 "Investigate why filters_test is flaky"
Per https://github.com/tensorflow/addons/pull/796 we would like to resolve why this test is flaky and remove the need for this.

Example log:
https://source.cloud.google.com/results/invocations/d1ca38c5-6236-49f1-bdf7-8e1874e6f9ca/targets/tensorflow_addons%2Fubuntu%2Fgpu%2Fpy2%2Fpresubmit/log

[2019-12-21 15:48] seanpmorgan commented on #801
cc @Mainak431 as code owner

[2019-12-21 15:50] seanpmorgan opened #802 "Investigate why rrelu_test is flaky"
Example log:
https://source.cloud.google.com/results/invocations/2490d700-0837-4468-916a-0306b1714d87/targets/tensorflow_addons%2Fubuntu%2Fgpu%2Fpy3%2Fpresubmit/log

[2019-12-21 15:50] seanpmorgan commented on #802
cc @fsx950223 as code owner

[2019-12-21 16:06] iskorini commented on #792
Same results, so I tried to rebuild tensorflow (RC 2.1) from source and TFAddons with the same environment but nothing change.
.bazelrc from tfaddons:
[code]
.bazelrc from tf:
[code]
environment variable for tf:
`export TF_CUDA_PATHS="/data/students_home/fschipani/tmp/cuda-10.1, /data/students_home/fschipani/anaconda3/envs/cuda"`

[2019-12-21 16:06] seanpmorgan commented on #784
This has been unblocked:
https://github.com/tensorflow/custom-op/pull/43#event-2902430632

[2019-12-21 16:41] seanpmorgan commented on #792
Thanks @iskorini for your help troubleshooting this issue. Would you mind trying to build this GPU custom op on the same system setup:
https://github.com/tensorflow/custom-op#bazel-1

That'll greatly help us going forward.

[2019-12-22 14:19] Om-Pandey commented on #335
Hey @seanpmorgan , please check #806 and merge, Thanks!

[2019-12-23 01:03] seanpmorgan commented on #485
The testing by tf-docs team will be evaluated in #768

[2019-12-23 01:03] #485 closed

[2019-12-23 01:06] seanpmorgan commented on #756
Hi @dianjunsun sorry for the delay../..

In TF2 the recommend way to implement GRU/LSTM ops would be to utilize a Keras layer:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/GRU?version=stable
https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTM?version=stable

Does that cover your use-case?

[2019-12-23 02:24] fsx950223 opened #807 "tf.function bug"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version and how it was installed (source or binary):
- TensorFlow-Addons version and how it was installed (source or binary):
- Python version:
- Is GPU used? (yes/no):

**Describe the bug**
tf.function will trigger tf.function retracing several times if user convert python types into the tf.function whi

[2019-12-23 04:27] fsx950223 commented on #802
It seems something has changed with the latest TensorFlow version and GPU kernel doesn't work anymore. The kernel needs to be refracted.

[2019-12-23 22:55] slala2121 opened #809 "tf.keras.load_model throws error when trained using the tfa.losses.TripletSemiHardLoss"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): 2.0 -source
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0;
- Python version: 3.6
- Is GPU used? (yes/no):yes

I get the following error when running the following command. I get this error when traini

[2019-12-24 09:44] NLP-ZY commented on #337
@seanpmorgan I find some example in 1.x. I try to use crf as a tf.keras.layers.Layer or tf.keras.Model. However, crf need y_true to get viterbi_sequence in
 this example. Can you give some better example like use crf as a Layer or Model ?
[https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/contrib/crf/README.md](url)

[2019-12-24 16:44] #673 closed

[2019-12-25 02:05] howl-anderson commented on #337
Hi @NLP-ZY , If you are looking for CRF keras layer for TF 2.x, this PR  #377  is nearly done for this purpose, if you want the same keras layer in tf 1.15, there is a project ([tf_crf_layer](https://github.com/howl-anderson/tf_crf_layer)) for it.

[2019-12-25 03:42] MachineJeff commented on #763
@seanpmorgan
Hi, I have more discoveries.

I apply WeightNorm in **Group_Convolution**.

But **Group_Convolution** have not only one Kernel Weight

Maybe WeightNorm  has some bug dealing with **Group_Convolution**

**Group_Convolution** in [this PR](https://github.com/tensorflow/tensorflow/pull/10482/files)

[2019-12-25 03:55] NLP-ZY commented on #337
@howl-anderson OK, thanks!

[2019-12-25 19:11] Squadrick commented on #807
@fsx950223 Have you found the same issue with any other function apart from `softshrink`?

[2019-12-26 01:54] fsx950223 commented on #807
Function which passes python arguments(except bool) has same issue.[rrelu](https://github.com/tensorflow/addons/blob/41a286cc7e2d46913b9e7e1b9f2392d50ea417e3/tensorflow_addons/activations/rrelu.py#L29).[sparsemax](https://github.com/tensorflow/addons/blob/41a286cc7e2d46913b9e7e1b9f2392d50ea417e3/tensorflow_addons/activations/sparsemax.py#L25)

[2019-12-26 01:58] devxpy opened #812 "TQDM progress bar broken"
**System information**
- Google Colab
- tfa-nightly 0.7.0.dev20191219
- tqdm 4.41.0

The progress bar just skips to end at the beginning of each epoch and stays there till the epoch completes. The metrics don't update either.

I am using `fit_generator`.

![image](https://user-images.githubusercontent.com/19492893/71453401-14360280-27b1-11ea-8109-473b7d934ae9.png)

[2019-12-26 08:06] Selimonder commented on #241
I am able to reproduce it with tf 2.1.

[2019-12-26 14:01] #809 closed

[2019-12-26 14:02] seanpmorgan commented on #809
@slala2121 thanks for the bug report! @Squadrick has sent a fix!

[2019-12-26 15:23] seanpmorgan commented on #812
Hi @devxpy thanks for the report. Could you please provide a minimal reproducible example.

CC @shun-lin code owner.

[2019-12-26 17:08] shun-lin commented on #812
Hi @devxpy, have you turn off the default progress bar of Keras by passing in the keyword `verbose=0` to `model.fit`?

[2019-12-26 18:10] #693 closed

[2019-12-26 23:54] Om-Pandey commented on #727
@seanpmorgan can I start working on this? please assign me this issue. Also, please review #806 and tell me possible steps as to what to do next ...😄

[2019-12-27 01:29] seanpmorgan commented on #807
@fsx950223 Thanks for the report!

So in practice these activation functions will likely not see frequent changes to their python args. The multiple retracing is happening here because each test case is modifying the data type or arguments.

AKAIK There is no real benefit to having these activations decorated with `@tf.function` though since they are simply calls to a custom op. We could remove th

[2019-12-27 01:40] seanpmorgan commented on #756
Closing... feel free to ask for a re-open if that doesn't cover it.

[2019-12-27 01:40] #756 closed

[2019-12-27 17:21] johnarevalo opened #816 "SWA does not work with BatchNormalization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): `pip3 install tf-nightly (2.1.0.dev20191227)`
- TensorFlow-Addons version and how it was installed (source or binary): `pip3 install tfa-nightly (0.7.0.dev20191219)`
- Python version: `3.7.6`
- Is GPU used? (yes/no): no

**Describe t

[2019-12-27 18:16] seanpmorgan commented on #807
A similar issue occurs for `CorrelationCost` layer in typical usage. See this notebook from our gitter:
https://colab.research.google.com/drive/11zDwwgRyM5VvSgjDzvu4mbERiQCEC0Ih#scrollTo=afXILgNysdyZ

IMO we should remove `@tf.function` tracing on custom-op functions as I don't believe there should be any noticeable speed up.

[2019-12-27 18:20] seanpmorgan commented on #816
Thanks for the report!
cc @shreyashpatodia code owner.

[2019-12-27 18:38] shreyashpatodia commented on #816
Thanks for pointing this out @johnarevalo!

I think what is happening is that when `var_list` is passed to `_create_slots` it does not contain the `moving_mean` and `moving_variance` variables. Thus, the `KeyError`.

I think the optimal solution is to look at when `_create_slots` is called and replicating that logic in `assign_average_vars` for consistency.

Do you think this makes sense as a solu

[2019-12-27 18:58] Squadrick commented on #816
Hey, took a look at this for #760

The problem is that keras only passes trainable variables (`var_list`) to any optimizer. So `moving_average` and `moving_variance` of BatchNorm is never passed to the opt, and therefore we don't consider them when calculating the averaged update.

For now, @johnarevalo fix of checking when if the variable is trainable should work. But I'm not sure if that makes s

[2019-12-28 01:44] shreyashpatodia commented on #816
Yep. I don't think the `moving_mean` and `moving_average` learned during training are relevant for the averaged weights.

I have a note in my implementation saying that the user should make one more pass through the data to correctly calculate batch norm statistics. This would mean resetting the `moving_mean` and `moving_variance` and then running a pass through the data to learn the `scale` and t

[2019-12-28 02:13] snailcoder opened #817 "Add class weights for optimizing the loss of tfa.text.crf model"
**Describe the feature and the current behavior/state.**
It is necessary to add class weights when optimizing the loss of classification model on imbalance data. For example, when use tf.nn.softmax_cross_entropy_with_logits to calculate the model's loss, we can obtain a cross entropy tensor of which the shape is the same as labels so we can multiply class weights with the cross entropy to get a we

[2019-12-28 09:57] Squadrick commented on #816
That seems to be the way the authors do it. Source code for implementation [here](https://github.com/timgaripov/swa/blob/4a2ddfdb2692eda91f2ac41533b62027976c605b/utils.py#L107) for the batch norm update. I'll get started with adding this to #760.

@shreyashpatodia Could you take a look once I've completed the update?

[2019-12-28 12:20] shreyashpatodia commented on #816
Yeah sure!

[2019-12-30 00:43] shreyashpatodia commented on #780
I will be happy to take this on @valendin @WindQAQ. Is anyone currently working on this?

[2019-12-30 01:22] valendin commented on #780
@shreyashpatodia not that I’m aware of!

[2019-12-30 02:18] JoBerkner opened #818 "Problem with using Tensorflow addons' metrics correctly in functional API"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 / Google Colab**
- TensorFlow version and how it was installed (source or binary): **2.1.0-rc1 (pip install)**
- TensorFlow-Addons version and how it was installed (source or binary): **0.6.0 (pip install)**
- Python version: **3.6.9**
- Is GPU used? (yes/no):

**Describe the bug**

I have an LSTM model

[2019-12-30 02:30] shreyashpatodia commented on #780
I can work on adding this sometime in the next two weeks.

[2019-12-30 13:22] Squadrick commented on #818
cc code owner @SSaishruthi

[2019-12-30 13:48] Squadrick commented on #763
@MachineJeff The PR you mentioned was never merged. See https://github.com/tensorflow/tensorflow/pull/25818 for group conv

[2019-12-30 19:29] SSaishruthi commented on #818
Will check

[2019-12-31 07:46] puneetpandey37 commented on #265
Hi,

@ogreyesp I am also in the same boat, was wondering if you could you find an answer?

I am mainly interested in AUC and 'confusion matrix' for multi-class classification.

Thanks in advance,
Puneet

[2019-12-31 19:25] #741 closed

[2019-12-31 19:26] seanpmorgan commented on #816
Closed with https://github.com/tensorflow/addons/pull/760?

[2019-12-31 19:43] #335 closed

[2019-12-31 19:54] shreyashpatodia commented on #816
Yep.

[2019-12-31 19:59] #816 closed

[2019-12-31 21:35] Squadrick commented on #817
Hello, `tfa.text.crf` is only for base-level ops. We have a PR for adding CRF layer in #377

Once we have the basic version of CRF layer merged, we'll get to adding in class weights to the loss.

[2019-12-31 21:36] Squadrick commented on #751
@Disgruntoad Any update on this?

[2019-12-31 21:41] Squadrick commented on #740
@shreyaskamathkm Could you please send the pytorch code you used that worked on multiple GPUs?

[2020-01-01 03:33] shreyaskamathkm commented on #740
I was working on super resolution and had used the code provided in [here](https://github.com/JiahuiYu/wdsr_ntire2018/blob/master/wdsr_a.py). To perform data parallellism I had used torch.nn.DataParallel(model). Please let me know if you require a complete pytorch code for demonstration.

Thank you,
Best,
SK

[2020-01-01 06:46] over-shine opened #821 "Why I can't install tensorflow-addons by pip in windows, but can install in linux?"
**Describe the feature and the current behavior/state.**

**Relevant information**
- Are you willing to contribute it (yes/no):
- Are you willing to maintain it going forward? (yes/no):
- Is there a relevant academic paper? (if so, where):
- Is there already an implementation in another framework? (if so, where):
- Was it part of tf.contrib? (if so, where):

**Which API type would this fall under

[2020-01-01 06:48] over-shine commented on #821
error as follows:
ERROR: Could not find a version that satisfies the requirement tensorflow-addons (from versions: none)                  ERROR: No matching distribution found for tensorflow-addons

[2020-01-01 11:18] HbWang2017 commented on #821
@over-shine  I have the same problem. So I try to download .zip package and install it without pip.
I use command:
`python XXX\addons-0.6.0\setup.py install `
to install tensorflow-addons in windoes,but have met another error.

error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\BIN\\x86_amd64\\cl.exe' failed with exit status 2

It seems there is no way to install tensorflow

[2020-01-01 11:36] Squadrick commented on #740
@shreyaskamathkm Figured out the problem, the fix should be easy. I'll open a PR once #819 is merged.

I, unfortunately, don't have access to multiple-GPUs, could you help out with the testing?

[2020-01-02 08:29] WindQAQ commented on #807
Thanks for pinging me. I am fine with removing `tf.function`. At least for a single activation in addons, removing it won't lead to performance degradation.

[2020-01-02 10:16] facaiy commented on #821
As https://github.com/tensorflow/addons/pull/771 has been merged into master branch, I suppose Windows support will be in the coming 0.7 release. cc @seanpmorgan Sean

[2020-01-02 18:55] SSaishruthi commented on #818
@seanpmorgan I am not seeing `threshold` parameters in the current release. It is throwing an error when using it. Below is the screenshot of the same. Any idea why?

<img width="1289" alt="Screen Shot 2020-01-02 at 10 48 20 AM" src="https://user-images.githubusercontent.com/22990801/71685877-64333d00-2d4e-11ea-936f-81b328285739.png">

[2020-01-02 19:08] Squadrick commented on #818
The newer version of F-scores from #502 isn't included in r0.6 ([the older version is included](https://github.com/tensorflow/addons/blob/r0.6/tensorflow_addons/metrics/f_scores.py)). Installing `tfa-nightly` should include the F-scores with `threshold`.

[2020-01-02 19:14] SSaishruthi commented on #818
Thanks, @Squadrick.

I will post the solution here using nightly version

[2020-01-02 22:31] #763 closed

[2020-01-02 23:48] seanpmorgan commented on #821
`tfa-nightly` should be available once https://github.com/tensorflow/addons/pull/824 is merged.

But as @facaiy said the next `tensorflow-addons` 0.7 release will have windows support.

[2020-01-03 08:14] tillmo commented on #818
There are two other problems here:

1. the model uses binary classification, but f1-score in tfa assumes categorical classification with one-hot encoding, see https://github.com/tensorflow/addons/issues/746#issuecomment-562963134

1.  f1-score is called at each batch step at validation. This does not make sense. The right way to do this is to use a custom callback function in a way like this:  htt

[2020-01-03 08:43] tillmo opened #825 "make F1-score usable with keras"
**Describe the feature and the current behavior/state.**
Currently, F1-score cannot be meaningfully used as a metric in keras neural network models, because keras will call F1-score at each batch step at validation, which results in too small values. Therefore, F1-score was removed from keras, see https://github.com/keras-team/keras/issues/5794, where also some quick solution is proposed. Tfa's F1

[2020-01-03 10:57] RomainBrault commented on #812
This is due to using generator with steps_per_epoch=None (default).

Then self.params['steps'] is None and TQDMProgressBar breaks.

[2020-01-03 14:51] seanpmorgan commented on #821
`pip install tfa-nightly` is now available on windows!
[code]

[2020-01-03 14:51] #821 closed

[2020-01-03 18:51] shun-lin commented on #812
got it, I was able to reproduce the issue:

I found the bug and it was when we are training using `generator` (with `fit_generator` or `fit` with generator). It arises from my misunderstanding of how the original progress bar updates itself with generator. At the end of each `batch` the progress bar is updated by 1 instead of `batch_size`, and therefore `TQDMProgressBar` is progressing (incorrectl

[2020-01-03 19:17] shun-lin commented on #812
@seanpmorgan when you have time may you review the quick PR? Thanks :)

[2020-01-03 20:08] WindQAQ opened #830 "Investigate why wrappers_test is flaky"
Example log:
https://github.com/tensorflow/addons/runs/372915266

Caused by the test case of `.remove()` method.

[2020-01-04 12:33] #812 closed

[2020-01-05 07:18] maxsch3 opened #837 "Add hard triplet miner layer for efficient triplet network implementations"
I'm proposing to add a new layer for building efficient triplet networks that use approach described in this paper: https://arxiv.org/abs/1703.07737.

In summary, the paper points out that naive triplet generation when triplets of samples are selected randomly before feeding them into a network is not efficient. They suggest that triplets can be 'mined' inside a network which has two benefits:

-

[2020-01-05 19:21] shreyashpatodia commented on #780
@valendin I have opened PR $836 for this.

I have mostly implemented everything. It would be great if you could check the logic for `novograd` whilst I work out some kinks with `resource_sparse_apply`, complete testing and add documentation.

[2020-01-05 21:36] #802 closed

[2020-01-06 01:34] #807 closed

[2020-01-06 12:16] valendin commented on #780
@shreyashpatodia I've imported the standalone novograd.py file into my own project and ran into the following issues:

`line 24, in <module>
    @tf.keras.utils.register_keras_serializable(package="Addons")
AttributeError: module 'tensorflow_core.keras.utils' has no attribute 'register_keras_serializable'`

Commenting out the decorator makes the code compile but then when calling the fit function

[2020-01-06 15:00] shreyashpatodia commented on #780
@valendin I don't think the decorator is a problem because the code compiles with the decorator locally for me and on the ci test for mac on my PR.

For the second one can you tell me how you run the optimizer and what you supply as parameters? Could you also try running the tests and telling me if they fail with the same error?

I think it would be best if you tried to compile tfa from my PR and

[2020-01-06 23:33] seanpmorgan opened #838 "Build npairs on windows"
Npairs can not run on windows due to no OpKernel registered `SparseMatMul`. This appears to have a related issue https://github.com/tensorflow/tensorflow/issues/22699 which has no resolution.

[code]

[2020-01-07 00:26] seanpmorgan opened #839 "Benchmark test for rrelu fails on windows"
Benchmark op fails for a median_delta of 0 in windows testing. Marking it as a SkipTest until resolved.

[code]

[2020-01-07 00:54] seanpmorgan commented on #839
Looking more closely is this necessary? I didn't think adding it would hurt / hoped to expand bench-marking, but seems it may be more of a pain

[2020-01-07 06:11] #787 closed

[2020-01-08 03:19] seanpmorgan commented on #837
Thanks for the suggestion @maxsch3 . I think this fits nicely. Please submit a PR. If you could include a tutorial since you know models it can be used in that be ideal.

[2020-01-09 10:43] veqtor commented on #725
2.1.0 is out!

[2020-01-09 11:40] wuliytTaotao opened #844 "How to use AdamW correctly?"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow version and how it was installed (source or binary): 2.0
- TensorFlow-Addons version and how it was installed (source or/ binary): 0.6
- Python version: 3.5
- Is GPU used? (yes/no): yes

**Describe the bug**

There seems to be no examples showing how to use AdamW with learning rate sc

[2020-01-09 17:02] Squadrick commented on #844
cc code owner: @PhilJd

[2020-01-10 02:24] seanpmorgan opened #851 "Move tests and releases to GitHub Actions"
GitHub Actions are now available and provide better integration for releasing / testing. We'll need to keep kokoro for GPU tests but in time we should transition what we can.

- [x] Test Cases
- [ ] Releases

[2020-01-10 02:25] seanpmorgan opened #852 "Move sanity check to GitHub Actions"
The sanity check in particular is of highest value to move to GitHub actions. Its the most likely fail for incoming PRs, but often requires a maintainer to add the kokoro label in order to give feedback.

[2020-01-10 02:29] seanpmorgan opened #853 "CLN: Build use compiler flag for D_USE_MATH_DEFINES"
Similar to as is done in TF-core:
https://github.com/tensorflow/tensorflow/commit/42f8dd1f35fbead01fd68ae40a287d14a150ef95

We can clean up our custom-ops and simply add this to compiler to the windows flags:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/tensorflow_addons.bzl#L40

[2020-01-10 02:30] seanpmorgan opened #854 "CLN: Streamline configure with python script"
We make multiple calls to the python cli which imports TF multiple times and is slow and difficult to follow in the script. It would be better to call a python script which returns all the information we need in one call:
https://github.com/tensorflow/addons/blob/master/configure.sh#L107

[2020-01-10 02:38] seanpmorgan opened #855 "Lazy Load Custom Ops"
A major issue we have with Addons is that it is compatible with PyPi TensorFlow, but has ABI incompatibilities with TF that was built from source or installed with conda depending on the compiler and settings:
https://github.com/tensorflow/addons/issues/676
https://github.com/tensorflow/addons/issues/753
https://github.com/tensorflow/addons/issues/574

The ultimate fix for this will be the ABI sta

[2020-01-10 02:41] seanpmorgan opened #856 "Remove API generation from release process"
As part of our release process we currently generate the API docs on every release branch:
https://github.com/tensorflow/community/blob/master/sigs/addons/RELEASE.md
https://github.com/tensorflow/addons/blob/master/tools/docs/README.md

IIUC the tf-docs team pulls our repo and generates their own files for display on the website. I wanted to confirm that it would be okay for us to remove this.

@M

[2020-01-10 06:49] maxsch3 commented on #837
Ah. Sorry. I had a second look and I found very similar functionality is implemented already as a loss in this repo.

Closing as not needed

[2020-01-10 06:49] #837 closed

[2020-01-10 07:28] wuliytTaotao commented on #844
When I run the above code on the CPU only, no error is reported. But another problem arises, learning rate decay and weight decay do not work.

I found that when using model.fit(), tf.optimizers.schedules.PiecewiseConstantDecay should be used as a parameter to learning_rate like below:
[code]

So I tried to use AdamW as well,  learning rate decay works, but the weight decay doesn't work:
[code]

W

[2020-01-10 09:04] PhilJd commented on #844
It seems like keras treats instances of `learning_rate_schedule.LearningRateSchedule` separately (in [_get_hyper](https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L529))

Could you try to create a second schedule and see if that works? I.e., something along the lines:

[code]

Thanks :)

[2020-01-10 10:14] wuliytTaotao commented on #844
It doesn't work:
[code]

It says weight decay needs to be float32, rather than PiecewiseConstantDecay object, but why learning rate could be?

And I saw someplace implementing the weight decay with learning rate schedule by $wd_t = wd* lr_t / lr$, this seems like a good way to implement it, but I'm not familiar with the implementation of TF2.0.

[2020-01-10 10:21] PhilJd commented on #844
Thanks for trying! I hope to find some time on the weekend to take a closer look.
I've avoided the `model.fit` function so far as I feel it does too much under the hood but I guess now's the time to dive in ;)

[2020-01-10 12:09] wuliytTaotao commented on #844
Inspire by https://github.com/sajadn/AdamW/blob/master/DecoupleWeightDecay.py, I find a way using callback to monitor the weight decay along with the learning rate schedule on the begin of each epoch, and the code below can implement the AdamW with learning rate schelude on epochs (not each update):

[code]
    """

    def __init__(self, schedule, verbose=0):
        super(WeightDecayScheduler, s

[2020-01-10 16:22] seanpmorgan commented on #725
0.7.0 has been released!
https://github.com/tensorflow/addons/releases/tag/v0.7.0

[2020-01-10 16:22] #725 closed

[2020-01-10 16:28] seanpmorgan commented on #821
FYI stable release for windows is out. `pip install tensorflow-addons`

[2020-01-10 16:29] seanpmorgan commented on #173
FYI stable release for windows is out. `pip install tensorflow-addons`

[2020-01-10 16:31] tejasdixit commented on #173
Thank you for your response.

Regards.

On Fri, Jan 10, 2020, 9:59 PM Sean Morgan <notifications@github.com> wrote:

[2020-01-10 16:36] seanpmorgan commented on #768
@yashk2810 0.7 has been released and we added a broken tutorial to test the alerts:
https://github.com/tensorflow/addons/blob/master/docs/tutorials/temp_broken_tutorial.ipynb

[2020-01-10 16:52] Gokkulnath commented on #854
[code]
This snippet would work? But it has a very long line. Not sure if it  is desirable.

[2020-01-10 17:37] yashk2810 commented on #768
Mark ran the build a couple of days ago and sent it to `addons-testing@tensorflow.org` but the mail didn't go through. Can you confirm that the google group is set up?

[2020-01-10 19:13] lamberta commented on #856
Mark says, "yes"
And just tell us when you want us to update the site.

[2020-01-10 20:28] WindQAQ commented on #844
I would think we have to do something like this to `weight_decay` if we want to pass an instance of `LearningRateSchedule` into it.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L678-L688

[2020-01-10 22:19] yashk2810 commented on #768
Please see https://groups.google.com/a/tensorflow.org/g/addons/c/F6MrrMfVVBA

[2020-01-11 20:00] ragnarlbrok opened #859 "Issue regarding Coverage Penalty implementation"
I am confused regarding coverage penalty implementation in get_scores() function of BeamSearchDecoder in this part of code :

     # Apply coverage penalty to finished predictions.
    coverage_penalty *= tf.cast(finished, tf.float32)
    weighted_coverage_penalty = coverage_penalty * coverage_penalty_weight
    # Reshape from [batch_size, beam_width] to [batch_size, beam_width, 1]
    weighted_co

[2020-01-12 00:38] WindQAQ commented on #780
Closes via #836.

[2020-01-12 00:38] #780 closed

[2020-01-12 13:31] #852 closed

[2020-01-12 14:27] seanpmorgan commented on #854
Yeah that would improve the performance, but as you mentioned it's unwieldy in the config script

[2020-01-12 14:35] seanpmorgan commented on #859
cc @qlzh727 @guillaumekln

[2020-01-12 14:36] seanpmorgan commented on #856
Great! To clarify... does that mean we can remove all of the code in this directory?
https://github.com/tensorflow/addons/tree/master/tools/docs

Or do you leverage that code?

[2020-01-12 15:49] wuliytTaotao commented on #844
@WindQAQ I agree with you. If we do not establish a connection between `weight_decay` and `learning_rate` through initial values such as $wd_t = wd_{init} ∗ lr_t / lr_{init}$, then we must do the same schedule for both, but the current code does not support the case where weight_decay is `learning_rate_schedule.LearningRateSchedule`. I also think that `weight_decay` needs to support the type` lear

[2020-01-12 19:11] gabrieldemarmiesse opened #860 "Can't format code with the command given in the CONTRIBUTING.md"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): ?
- TensorFlow-Addons version and how it was installed (source or binary): git cloned
- Python version: ?
- Is GPU used? (yes/no): no

**Describe the bug**

I git cloned the repository. Then I wanted to format my changes. As written

[2020-01-12 19:25] ulf1 commented on #743
also replace

[code]

by

[code]

[2020-01-12 19:26] gabrieldemarmiesse commented on #743
Good call, I'm on it.

[2020-01-12 19:33] tillmo commented on #825
I just found [here](https://www.tensorflow.org/tutorials/structured_data/imbalanced_data) that there is a way of directly computing precision, recall and related metrics (but not F1 score, it seems) in keras, without running into the mentioned batch problem, with:
[code]

[2020-01-12 20:43] seanpmorgan commented on #860
Just a guess but maybe need to cd into the project directory? The makefile is on project root.  I just cleared my docker image and tried this:
[code]

[2020-01-12 20:52] gabrieldemarmiesse commented on #860
Strange, I mean if I wasn't in the project directory, I wouldn't have been able to run `run_docker.sh` in the first place. Just to be sure, I tried your steps:

[code]

It's really weird that we can't have the same result since we're both using docker. Thanks for the help. If we find out what caused the issue, I'll make sure to do a PR to add a note to the CONTRIBUTING.md.

[2020-01-12 21:08] seanpmorgan opened #863 "Update kokoro tests in order to drop Py2 support"
The current CI tests ran by kokoro come from these commands:
https://github.com/tensorflow/addons/pull/328#issue-293621981

After #862 merges the only test we'll need from kokoro is (Ubuntu GPU only):
[code]
Note: this drops the `-p` parameter which will be removed in #861. And will currently default to python3

[2020-01-12 22:59] gabrieldemarmiesse opened #864 "Tensorflow-cpu is ignored when installing tensorflow-addons"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): tensorflow-cpu 2.1.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.7.0
- Python version: 3.7
- Is GPU used? (yes/no): no

**Describe the bug**

In an environement where tensorflow-cpu is already installed, inst

[2020-01-12 23:31] gabrieldemarmiesse commented on #860
I found out what is happening. I'm working in a docker container and the docker container has access to the host docker daemon. So when the script run_docker.sh runs, it finds the project directory in the docker container, not in the host (in my case `/host/mnt/projects/addons` instead of `/mnt/projects/addons`), the path is wrong on the host and docker doesn't find anything.

The easy fix is to r

[2020-01-12 23:31] #860 closed

[2020-01-13 00:27] Disgruntoad commented on #751
@Squadrick, It looks like someone already pushed a correction here.

I tested functionality and it appears to work correctly. You should verify that it's included in whatever version you're using.

[2020-01-13 00:44] sfleisch opened #865 "Requesting support for decaying the weight decay constant in weight_decay_optimizers."
API type: Optimizer
Who will benefit: Anyone using a weight decay optimizer who wants to use learning rate decay.

The comments for the weight decay optimizers state that if learning rate decay is employed the weight decay scaling parameter should also be decayed with the same function (albeit most probably different initial and maximal values of the decay parameter.  With tfa 0.7.0, learning rate

[2020-01-13 00:47] sfleisch opened #866 "Add tests with learning rate schedule to weight_decay_optimizers_test.py"
Currently tests in weight_decay_optimizers_test.py only test constant learning rate and weight decay parameters.  It would be useful to also have test cases that use tf.keras.optimizers.learning_rate_schedule for which support apparently was added with the current tfa 0.7.0.

[2020-01-13 01:38] #853 closed

[2020-01-13 01:46] seanpmorgan commented on #864
Hi @gabrieldemarmiesse this is a good point and previously we used to just do a TF version check during import. Since https://github.com/tensorflow/community/blob/master/rfcs/20190816-tf-project-versioning.md#versioning-policy however we moved toward pip dependencies.

This is certainly a problem, but now that `tensorflow` package for TF 1.15 and TF 2.1 supports CPU/GPU I'm hoping that `tensorflow

[2020-01-13 04:39] #751 closed

[2020-01-13 07:51] RomainBrault opened #868 "Behaviour change in deserialization since 0.6"
**System information**
- OS Platform and Distribution (Ubuntu 19.04):
- TensorFlow version and how it was installed (pip==2.1.0):
- TensorFlow-Addons version and how it was installed (pip==0.7.0):
- Python version: 3.7
- Is GPU used? (yes):

**Describe the bug**

Registered activation cannot be retrieved using tf.keras.activations.get

**Code to reproduce the issue**

[code]

[code]

**Other info

[2020-01-13 08:07] RomainBrault commented on #868
Ok, I need to do

[code]

Maybe this should be stated explicitly somewhere?

[2020-01-13 09:03] gabrieldemarmiesse commented on #864
I believe that if we don't support tensorflow-cpu, we are forgetting a lot of users who don't have access to a high bandwidth.

I live in France, in Paris, and I don't have fiber. It takes me 20 minutes to download tensorflow and 5 minutes to download tensorflow-cpu.

 I'm worried about people in developing countries who dont have the luxury of having a connection as fast as mine. We're excuding t

[2020-01-13 13:57] seanpmorgan commented on #864
That's a valid point I haven't considered. So a simple way to get around this is `pip install tensorflow-addons --no-deps` and it'll work perfectly fine using `tensorflow-cpu`. I'm not sure if documentation on the README would be sufficient for most users to find that info though.

[2020-01-13 14:06] gabrieldemarmiesse commented on #864
Yes good point indeed, we surely don't want people to blindly do "pip
install tensorflow-addons" and then think that they're stuck with
downloading the gpu version.

We might not have to change the setup.py as you said. I'll let you decide
what's the best move on this one.

El lun., 13 ene. 2020 a las 14:57, Sean Morgan (<notifications@github.com>)
escribió:

[2020-01-13 15:39] seanpmorgan commented on #863
@av8ramit would you be able to assist in removing all of the Kokoro tests except for Python3 GPU?

The py3 GPU script will also need to be updated to match the command above (no `-p` parameter)

[2020-01-13 17:47] yifeif commented on #173
Thank you @seanpmorgan!

[2020-01-13 18:19] av8ramit commented on #863
I have sent @karmel an internal change that will only keep the Python3 GPU build and remove the -p parameter.

[2020-01-13 18:28] lamberta commented on #856
Yeah, keep that. We still need to use your build_docs.py

[2020-01-13 20:22] WindQAQ commented on #868
This is due to #438. We could update the release note actually. @tensorflow/sig-addons-maintainers what do you think about this?

[2020-01-13 20:33] gabrieldemarmiesse commented on #864
Other problem that we have with tensorflow-cpu:

[code]

[code]

This could definitly benefit from #855 being fixed. I'll make a PR.

[2020-01-13 21:14] WindQAQ commented on #844
Agree +1. As there is another request in #865, @PhilJd do you think we should support decaying `weight_decay` param? Thank you.

[2020-01-13 22:21] gabrieldemarmiesse opened #870 "Making run_docker.sh faster."
**Describe the feature and the current behavior/state.**

Using docker to make the life of contributors easier is a very good idea. But the current implementation has a drawback (that we can fix).

Currently running any command with `run_docker.sh` installs dependencies even if the docker image is already present locally. For example every time I call:

[code]

It downloads and install tensorflow,

[2020-01-13 22:21] WindQAQ commented on #865
cc @PhilJd

[2020-01-13 22:26] WindQAQ commented on #866
Sure, test coverage should be as large as possible as scheduled weight decay is requested more than one time. I am going to close this issue because I believe while addressing #865, this should be done too. Feel free to re-open it if you have further questions. Thank you!

[2020-01-13 22:26] #866 closed

[2020-01-14 00:37] seanpmorgan commented on #864
install tensorflow-addons" and then think that they're stuck with
downloading the gpu version.
We might not have to change the setup.py as you said. I'll let you decide
what's the best move on this one.

So one thing we can do is to make the dependency an extra similar to how TF Graphics is doing it:
https://github.com/tensorflow/graphics/blob/master/setup.py#L69

If we do that then we'll want to

[2020-01-14 00:41] seanpmorgan commented on #768
@yashk2810 so we never received any notification on the google group:
https://groups.google.com/a/tensorflow.org/forum/#!forum/addons-testing

Perhaps this is because of the permissions regarding who is able to post? I noticed that travis builder seemed to have automatically joined the group:
https://groups.google.com/a/tensorflow.org/forum/#!members/addons-testing

[2020-01-14 00:44] yashk2810 commented on #768
Please see https://groups.google.com/a/tensorflow.org/g/addons/c/F6MrrMfVVBA. I couldn't post to that group, so Mark posted it here instead.

Is that good enough?

[2020-01-14 00:52] seanpmorgan commented on #550
During the monthly call it was determined that the best way to move this forward is to create a [Keras RFC](https://github.com/keras-team/governance/blob/master/rfcs/yyyymmdd-rfc-template.md) per our new procedure:
https://github.com/tensorflow/addons/blob/master/MIGRATION_TO_CORE.md

The goal is to propose the custom op along with the accompanying performance tests. In the "alternatives considere

[2020-01-14 00:58] seanpmorgan commented on #870
So typically I would recommend that a developer use the docker image in interactive mode for repeated testing:
https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#run-manually

We have yet to provide a docker container for Addons (requires hosting, and taking on responsibility for it -- but that's managable). One issue I see is that on the master branch the dependency `tf-nightly` is

[2020-01-14 01:08] seanpmorgan commented on #868
Agree this should be better explained in the release note. There is a bullet: `Keras subclasses now use the public registration decorator as package Addons`

But I think an example of that impact is important.

[2020-01-14 01:11] seanpmorgan commented on #768
Yes the post from Mark allows us to fix the issues, but we would like this notification to be automated

[2020-01-14 01:13] yashk2810 commented on #768
Making the notification automatic is a difficult task (for sending emails externally). Whenever the notebook fails, we will email you, so I think it should be fine.

[2020-01-14 01:15] seanpmorgan commented on #768
Okay that is sufficient as long as Docs team can support that. Please let us know if/when the test code is open-sourced so we can manage this internally for convenience.

[2020-01-14 01:15] #768 closed

[2020-01-14 02:34] seanpmorgan commented on #863
Looks as though this has been completed. Thanks again!

[2020-01-14 02:34] #863 closed

[2020-01-14 04:59] WindQAQ commented on #870
I also use docker in this way.

This would be problem. Just wonder that compared with re-installing tensorflow, would pulling a new commit from dockerhub be faster/smaller?

[2020-01-14 05:17] WindQAQ commented on #550
Of course!

[2020-01-14 05:41] AakashKumarNain commented on #550
Lemme know if you guys need any help. I would be more than happy to help

[2020-01-14 08:42] guillaumekln commented on #864
An alternative is to release a `tensorflow-addons-cpu` package similarly to `tensorflow-cpu`. However, this sounds like a lot of maintenance work.

I'm fine with using the extra dependency as it gives more flexibility.

[2020-01-14 09:04] relaxation82 opened #873 "Missing documentation (?)"
It seems that the Yogi optimiser was released as part of tensorflow-addons-0.7.0, but I am unable to find any documentation about it. In the case I was just blind, could someone provide a link to a page with the documentation, or in case it is actually missing for the documentation, could you provide a short example describing how it can be employed?

[2020-01-14 10:34] #873 closed

[2020-01-14 14:04] #586 closed

[2020-01-14 17:59] #855 closed

[2020-01-14 19:34] #856 closed

[2020-01-14 20:26] swghosh opened #876 "SigmoidFocalCrossEntropy loss fails to compile model"
**System information**
- OS Platform and Distribution: `Deep Learning Linux VM (Debian Stretch) GCE Image`
- TensorFlow version and how it was installed: `Binary v2.1.0`
- TensorFlow-Addons version and how it was installed: `Binary v0.7.0`
- Python version: `Python 3.5.3`
- Is GPU used? (yes/no): `No`

**Describe the bug**

`model.compile` tries to call some code with some test values for `y_true`

[2020-01-14 20:44] lebedov opened #877 "build against CUDA 10.0 fails - incorrect path to libcublas library"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.3
- TensorFlow version and how it was installed (source or binary): binary (Anaconda package tensorflow-2.0.0-gpu_py37h768510d_0)
- TensorFlow-Addons version and how it was installed (source or binary): source (a1a1e4c)
- Python version: 3.7.6
- Is GPU used? (yes/no): yes

**Describe the bug**

Att

[2020-01-14 22:37] seanpmorgan commented on #863
Related: https://github.com/tensorflow/addons/issues/743

[2020-01-14 22:53] seanpmorgan commented on #877
Hi @lebedov! Yes this is related to completing https://github.com/tensorflow/addons/issues/770

I'm about to take off on a vacation otherwise I'd say it could be done in the near term. Basically requires tweaking the bazel build a bit to support prior-to-10.1 & 10.1-forward. The necessary parts are actually in the git history of those files. E.g:
https://github.com/tensorflow/addons/commit/6fd4580

[2020-01-14 22:57] seanpmorgan commented on #877
There was a breaking change of using the public Keras serialization (came out after 2.0):
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/gelu.py#L25

So you'll have issues using addons regardless of the build when using TF2.0. It's possible we could have (and still can) provide better backwards compatibility for that.

[2020-01-14 23:57] gabrieldemarmiesse commented on #743
Pyupgrade on all python files:
#878
#878
#878
#878
#878
#878

[2020-01-15 06:22] WindQAQ commented on #876
Hi, thanks for the report! That check could be deleted actually. See #298 for more details. The hot fix is in #890. Thank you again for the information!

[2020-01-15 10:51] gabrieldemarmiesse opened #893 "Clarifying the CI and supported versions of tensorflow/python"
Hello all,

I'm trying to see how we can improve the developers experience in tensorflow/addons. I'm confused about a few things and I hope maintainers can answer my questions to help me make addons better :)

* Can we add a new row in the [linux build matrix](https://github.com/tensorflow/addons#linux-build-matrix) in the README about the master branch? Like what TF/Python/Cuda version do we targ

[2020-01-15 13:58] seanpmorgan commented on #851
https://github.com/tensorflow/community/blob/master/sigs/addons/RELEASE.md Will need to be updated once this is complete.

[2020-01-15 15:45] seanpmorgan commented on #893
Yes I think that's a good idea.

No, but in the past we've used new features (keras serialization) so that required us to wait until TF2.1 release. TF-Core is switching to quarterly releases and I think a faster cadence makes sense for Addons.

Yes. [From that error in the other issue](https://github.com/tensorflow/addons/issues/864#issuecomment-573857046) I believe we may have to re-evaluate our

[2020-01-15 15:47] #876 closed

[2020-01-15 15:50] lebedov commented on #877
@seanpmorgan I was able to build 0.6.0 against CUDA 10.0 with bazel 2.0.0 successfully, although I had to tweak `build_deps/toolchains/gpu/cuda_configure.bzl` to suppress the following exception:

[code]

I'm specifically interested in using the seq2seq code - as the seq2seq unit tests in 0.6.0 seem to pass with my custom build, I'm hoping that whatever remaining tf 2.0 compatibility issues still

[2020-01-15 15:52] gabrieldemarmiesse commented on #893
Thanks a lot @seanpmorgan for clarifying all that!

[2020-01-15 16:05] seanpmorgan commented on #877
Great! Closing as this is a duplicate issue, but feel free to continue discussion if you run into issues.

[2020-01-15 16:05] #877 closed

[2020-01-15 17:40] georgesterpu opened #896 "Nightly build break"
**System information**
- TensorFlow version and how it was installed (source or binary): tf-nightly-**2.2.0.dev20200115**
- TensorFlow-Addons version and how it was installed (source or binary): tfa-nightly-**0.8.0.dev20200115**

**Describe the bug**
Hi, it looks like [this commit](https://github.com/tensorflow/addons/commit/3aae7732998cb233234a2948010b9aaafc24e920) causes the latest nightly build

[2020-01-15 17:43] seanpmorgan commented on #896
@georgesterpu Thanks great catch!

[2020-01-15 17:59] #896 closed

[2020-01-15 20:12] gabrieldemarmiesse opened #898 "Some proposals to improve the developers' experience"
Just my 2 cents to lower the entry bar for new contributors, there was already some good work done like moving the CI to github actions, using 4 spaces for tabs, removing py2 support, running tests with docker and I must forgot some more.

I understand that a lot of this stuff came from tensorflow and that it's why it was so complexe.

I was wondering what are the maintainers opinions on those ide

[2020-01-15 22:56] foxik commented on #864
I believe working with `tensorflow-cpu` is an important feature. Many models still work fine on CPU during inference -- but if they use `tensorflow_addons`, a GPU tensorflow version is required, which increase download and storage requirements.

Our use case are a) a teaching evaluation server which evaluates code from students; b) virtual images (including docker images) of various web services.

[2020-01-15 23:02] foxik commented on #864
BTW, neither `tensorflow_datasets` nor `tensorflow_probability` has an explicit dependency on `tensorflow`, which allows them to work wither with CPU or GPU version.

[2020-01-16 08:52] wuliytTaotao opened #903 "MovingAverage cannot be used with callbacks.ModelCheckpoint"
**Describe the feature and the current behavior/state.**
Mostly, I save the model at the point of highest val_accuracy by `callbacks.ModelCheckpoint`, but the `MovingAverage` optimizer doesn't seem to support `callbacks.ModelCheckpoint`, i.e., we cannot save the model with moving average in the middle of training processing!

I think we should add MovingAverage into callbacks, and save the moving

[2020-01-16 11:18] AakashKumarNain commented on #898
I agree that it would be easier to go with `pytest` but as @WindQAQ  as long as we need to test things in graph mode, IMO `tf.test.TestCase` is much better.

`Move the test files into a specific directory to separate them from the source (often tests/).`

I agree on this. Test files should be in a separate directory. My only concern is that if we move tests to a separate directory, should we place

[2020-01-16 12:11] gabrieldemarmiesse commented on #898
@AakashKumarNain , the common practice is to make the tests/ directory have the same structure as the source directory. Meaning tests/ will have the same structure as tensorflow_addons/

@WindQAQ You're right, I see now that contrib uses a lot of sessions and tf.compat. Do we want to remove that? It seems it's leftovers from TF1 right?

[2020-01-16 19:57] Squadrick commented on #898
Wrapping a function in `@tf.function` makes it behave like a graph. So we definitely don't want to remove that. There's no way around `tf.test.TestCase`.

[2020-01-16 21:59] WindQAQ commented on #898
We'll to remove them if there is any substitution, but for now, we have no choice other than `tf.compt.v1.global_variables_initializer()` to initialize vars in graph mode.

[2020-01-16 23:21] gabrieldemarmiesse commented on #898
I'm no expert on graphs, but doesn't it seems strange that there is no equivalent for `tf.compt.v1.global_variables_initializer()` in TF 2?

[2020-01-16 23:30] gabrieldemarmiesse commented on #870
I'm not sure it's necessary. A well written Dockerfile is a reproducible docker build command. Contributors can just build the image the first time they use it.

That's exactly why I'm not so fond of using tf-nightly to run our tests. It's not reproducible from day to day. We can't even use git bisect because of that, and git bisect is a fantastic tool to pinpoint the origin of a breakage.

[2020-01-17 05:50] WindQAQ commented on #903
cc @Squadrick

[2020-01-17 08:29] guillaumekln commented on #898
The tests currently use the `run_in_graph_and_eager_modes` annotation. It is important to test in graph mode to ensure `tf.function` compatibility but this annotation actually uses a V1-style execution with `tf.Session`. As far as I know, there no good way to test as a `tf.function` directly. I found [`also_run_as_tf_function`](https://github.com/tensorflow/tensorflow/blob/v2.1.0/tensorflow/python

[2020-01-17 09:23] rere-rere opened #906 "Problems with CohenKappa metrics"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary):  2.1.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.7.0
- Python version: 3.6.9
- Is GPU used? (yes/no): yes

**Describe the bug**

Hello,
I would to use tfa.metrics.CohenKappa from tensorflow_addons.
I have a

[2020-01-17 12:11] DarkKnight1991 commented on #265
I am also waiting for the same. Like @ogreyesp said it doesn't throw any errors while using. I wondered how am I getting so high AUC score. IMHO at least the existing metric should throw error for multi class data to avoid embarrassment of posting wrong results (pun intended)

[2020-01-17 17:49] gabrieldemarmiesse commented on #898
Thanks all for your input and clarifications! Let's keep the `TestCase`. Pytest does work well with unittest though, maybe we'll want to use that as our test runner. As a proof of concept, I didn't change the any code and I could do:

[code]

And the result is:

[code]

 Let's keep that on hold for now, we surely want to focus on things which everyone agree on, like moving the tests into a separat

[2020-01-18 04:54] WindQAQ opened #909 "Windows nightly is broken"
Seems to be an upstream issue that GitHub deployed to the VMs yesterday.

https://github.com/numworks/setup-msys2/issues/26
https://github.com/actions/virtual-environments/issues/282

[2020-01-18 05:24] WindQAQ commented on #906
Thanks for the report! I suppose you could remove the could directly. This is similar #876 #298. I would go through our metrics/losses on the weekend to check if they are compatible with `.compile()`.

[2020-01-18 06:51] WindQAQ commented on #906
Though that check is redundant (because it would be checked in `tf.math.confusion_matrix`), I think your example is not going to work with `CohenKappa`. In your last layer, the output would be shaped `[num_samples, num_classes]`, where `num_classes=5`, while `CohenKappa` takes `y_pred` with shape `[num_samples,]` as argument.

cc @AakashKumarNain

[2020-01-18 08:29] AakashKumarNain commented on #906
@WindQAQ Although I favor these checks because they save a lot of potential bugs where broadcasting can happen unknowingly but I think there is no other way except removing them, at least I am not aware of any other way to do proper checks.

Regarding the second question, I think that can be solved easily by doing this if we work directly on batches. I will do that if I get some time in the coming

[2020-01-18 08:48] gabrieldemarmiesse commented on #909
One solution could be to avoid using msys2 and use bash instead. It's possible to select it as the shell in github actions instead of cmd.

[2020-01-18 09:28] WindQAQ commented on #909
For tracking, #910.

[2020-01-18 13:14] AakashKumarNain commented on #906
@WindQAQ @facaiy I can think of the following scenarios for Kappa calculation:
1. The last layer of the model consists of a single unit and regression is used for finding the labels instead of classification. In this case, the shape of the last layer would be `(None, 1)` while the shape of the `true labels` would be `(num_samples,)`
2. The predictions are coming from a classification model and the

[2020-01-19 10:03] eine commented on #909
FTR, MSYS2 is only required if you need to use `pacman`, which is not available in the bash (MINGW) included in `windows-latest`. If all you need is a shell, MSYS2 is not required, as @gabrieldemarmiesse said.

[2020-01-19 13:14] facaiy commented on #906
@WindQAQ Tzu-Wei,  do you think if [is_compatible_with](https://www.tensorflow.org/api_docs/python/tf/TensorShape?hl=en#is_compatible_with) work in the case?

[2020-01-19 13:21] facaiy commented on #906
@AakashKumarNain Hi, Aakash, I'm sure I understand your question throughly. For tf.keras, I believe it use different metrics to handle different label formats (eg: [AUC](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/Accuracy?hl=en), [BinaryAccuracy](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/BinaryAccuracy?hl=en), [CategoricalAccuracy](https://www.tensorflow.org/api_

[2020-01-19 14:17] AakashKumarNain commented on #906
@facaiy so what do you suggest? How should we go with this?

[2020-01-19 14:21] AakashKumarNain commented on #906
I will ping you with the details in the gitter

[2020-01-19 17:10] WindQAQ commented on #909
Thanks for clarification!

[2020-01-20 00:21] WindQAQ commented on #868
I update one more bullet:

Feel free to reopen the issue if you get further questions. Thank you!

[2020-01-20 00:21] #868 closed

[2020-01-20 00:31] WindQAQ commented on #906
Thanks you Facai, this should work!

This seems to be a good approach. If necessary, I vote for this solution.

[2020-01-20 06:06] AakashKumarNain commented on #906
Cool. Let's discuss on this in detail

[2020-01-21 01:39] lminer commented on #708
This would be a great feature to have.

[2020-01-21 11:07] guillaumekln commented on #859
The paper is not very explicit about when to compute the penalty. In practice, computing the penalty on complete hypothesis should be the correct implementation.

[2020-01-21 12:09] damiano1996 opened #915 "Gaussian (normal distribution) activation function"
**Describe the feature and the current behavior/state.**
After this [article](https://science.sciencemag.org/content/367/6473/83) I tried to implement a perceptron with an apical activation function similar to the real.
An approximation function of the apical was the gaussian, thus I implemented it.
In my [fork](https://github.com/damiano9669/addons) you can find it.

Now, also the perceptron can

[2020-01-21 14:10] #909 closed

[2020-01-21 19:46] bmc2-stripe commented on #767
Apologies for the delay on my end for this one. I'm aiming to get this sent this week, or next week at the latest.

[2020-01-21 20:04] lminer commented on #708
Just made a PR for this: https://github.com/tensorflow/addons/pull/916

[2020-01-22 08:44] guillaumekln commented on #754
Is the `num_updates` argument necessary? Why not using `optimizer.iterations` directly?

[2020-01-22 09:15] AakashKumarNain commented on #906
@WindQAQ @facaiy I have made a separate file for detailed discussion on this. You can find it [here](https://github.com/AakashKumarNain/RFCs). Let me know what you think

[2020-01-22 13:27] failure-to-thrive commented on #854
Guys, a simple backslash does the trick. Isn't?

[2020-01-22 19:20] shun-lin opened #919 "Merging tfa.callbacks.tqdm_progress_bar with tqdm.keras"
This issue is for the potential merging of `tfa.callbacks.tqdm_progress_bar` and `tqdm.keras` to reduce code duplication. I'll follow up with @casperdcl, the code owner and maintainer of tqdm, https://github.com/tqdm/tqdm, to see what's the best way forward for this effort.

tqdm.keras:
https://github.com/tqdm/tqdm/blob/master/tqdm/keras.py

tfa.callbacks.tqdm_progress_bar:
https://github.com/tens

[2020-01-22 19:41] casperdcl commented on #919
fyi from https://github.com/tensorflow/addons/pull/916#issuecomment-576937849:

and from https://github.com/tensorflow/addons/pull/916#issuecomment-576948044:

[2020-01-22 19:50] casperdcl commented on #919
also found https://github.com/bstriner/keras-tqdm from @bstriner to consider.

Overall there's

- [`tfa.callbacks.tqdm_progress_bar`]
  + hopefully bug-free
- [`tqdm.keras`]
  + neatest in terms of `tqdm` usage but no idea about `tf`/`keras` correctness. Nobody reviewed it.
- [`keras_tqdm`]
  + longest running implementation so probably a good reference?

I still would prefer if people open PRs on

[2020-01-23 19:07] shreyaskamathkm commented on #740
Sure, I can test the code.

[2020-01-23 20:12] seanpmorgan commented on #864
I'd be happy to review a PR which follows suite with TF-Graphics in requiring TF as an extra dependency (for easy in test suite installs). We'll also need to perform an import check during `__init__` as described above.

[2020-01-23 20:18] seanpmorgan commented on #919
I would be in favor of a small wrapper in Addons which utilizes a central `tqdm.keras`

[2020-01-23 20:21] seanpmorgan commented on #854
I think a python script is more readable IMO. But any improvement would be good and taking a single python cli call formatted well in the shell script would be acceptable to me.

[2020-01-23 21:48] gabrieldemarmiesse commented on #743
We can close this issue. We'll make another issue to track the typing of the API.

[2020-01-23 21:48] #743 closed

[2020-01-23 22:02] shun-lin commented on #919
I think [keras_tqdm](https://github.com/bstriner/keras-tqdm/blob/master/keras_tqdm/tqdm_callback.py) is no longer maintained (last commit in Oct 2017), I will look into how we can merge `tqdm.keras` and the one we have here in tfa to make better sense in terms of maintenance :)

[2020-01-23 22:26] gabrieldemarmiesse opened #924 "Add a test in the CI to ensure that typing information is added to the public API"
To ensure that all new public functions/classes added are typed and old ones will be typed at some point.

I'll make a PR. This is mostly a reminder.

[2020-01-24 07:25] failure-to-thrive commented on #854
Do you mean a complete transformation of that bash script into the python one? It's possible but will inevitable bring lots of new [subtle] bugs. :) I personaly strive to avoid such things unless there are strong reasons. Anyway, it's up to you.
As of a simple modification of the current script - I think  @Gokkulnath should complete their job.

[2020-01-24 14:33] Squadrick commented on #903
@wuliytTaotao Could you post the code that caused the error? I've been trying it out on `tfa-nightly`, and I can't find any error.

[2020-01-24 14:52] wuliytTaotao commented on #903
@Squadrick Here is an example, using the model.fit() and callbacks.ModelCheckpoint to save the weights at the point of best validation accuracy, but moving average cannot be added into this processing. I think it's best to implement this function as a callback function.
[code]

[2020-01-24 16:50] Squadrick opened #927 "Add a tutorial for MovingAverage optimizer"
We need a tutorial that shows how to use `MovingAverage` optimizer along with the custom callback for saving: `AverageModelCheckpoint`. Can alternatively use `StochasticAverage`.

~~Currently blocked by #926~~

[2020-01-25 23:20] seanpmorgan commented on #854
@Gokkulnath please submit a PR when time allows. Thanks!

[2020-01-26 00:03] seanpmorgan commented on #893
Closing this as I believe these have been addressed.

[2020-01-26 00:03] #893 closed

[2020-01-26 00:07] seanpmorgan opened #934 "TQDM tutorial fails"
Per the email from TF-Docs team:
https://groups.google.com/a/tensorflow.org/forum/#!topic/addons/F6MrrMfVVBA

Our TQDM notebook is failing for:

[code]

[2020-01-26 00:07] seanpmorgan commented on #934
cc @shun-lin

[2020-01-26 00:10] seanpmorgan opened #935 "Seq2seq NMT tutorial needs refactoring"
Per the email from TF-Docs team:
https://groups.google.com/a/tensorflow.org/forum/#!topic/addons/F6MrrMfVVBA

This notebook is failing for:
[code]

[2020-01-26 00:10] seanpmorgan commented on #935
Seperately as @john-8704 noted in https://github.com/tensorflow/addons/pull/806 this tutorial doesn't utilize the seq2seq subpackage in TFA. It should be rebuilt to showcase how to use it. If it helps some sample code can be found here:
https://github.com/tensorflow/addons/tree/master/tensorflow_addons/seq2seq#sample-code-and-migration-guide-from-tf-1x

cc @Om-Pandey

[2020-01-26 06:35] shun-lin commented on #934
@seanpmorgan it looks like tqdm_progress_bar notebook failure occurs at importing tf_addons, somehow if we just move importing tf_addons before pip updating and deepreload `tqdm` the error would not show up anymore and everything runs as intended. I will submit a quick PR for the fix, thanks!

Fix (will made a PR to reflect the change):
https://colab.research.google.com/drive/1ok0hSIhSLGf4MtGmgNtF

[2020-01-26 09:06] shun-lin commented on #825
Hi,

Thanks for opening this issue! It looks like there are some global metrics that the Keras team removed starting Keras 2.0.0 because those global metrics do not provide good info when approximated batch-wise. I'll take a look at the callback workaround linked and help to contribute when I have time :)

[2020-01-26 09:36] #851 closed

[2020-01-26 09:57] tillmo commented on #825
It seems that `keras.metrics.Precision(name='precision')` and `keras.metrics.Recall(name='recall')` already solve the batch problem. So Keras would only need to add the obvious F1 computation from these values.

[2020-01-26 12:32] PhilipMay commented on #825
There is a F1 Metric implementation for Keras here:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/metrics/f_scores.py

This issue should be closed imo.

[2020-01-26 14:02] Squadrick commented on #258
Forking the fully functional layer test from keras is quite a challenge. It has calls to other private functions.

[2020-01-26 15:17] tillmo commented on #825
This metric suffers from the batch problem, as demonstrated by my code above.

[2020-01-26 15:21] failure-to-thrive commented on #854
Well. It's not a big hassle. Here it is. You can just download [the script](https://github.com/failure-to-thrive/addons/blob/%23854/configure.py) to check it out how it works. I was prone to make it as close to the original bash script as possible therefore it may look suboptimal and unusual from the python's best-practices standpoint.

[2020-01-26 15:36] Squadrick commented on #854
@failure-to-thrive Please open a PR.

[2020-01-26 15:46] failure-to-thrive commented on #854
No problems. But I feel there is something more than just add a single file. What about original `configure.sh`? Should it be deleted? What if it is referenced from somewhere? What about documentation? If I should not worry about it, I will PR readily.

[2020-01-26 15:52] Squadrick commented on #854
Don't worry about it, open the PR. I'd prefer if we continue the discussion there.

[2020-01-26 16:04] AakashKumarNain commented on #258
`tfa.utils` lgtm

[2020-01-26 18:24] PhilipMay commented on #825
@tillmo Well, then I should bring the code back to my small tool lib...

@all: It's really a shame that we (the addons, the keras and the tensorflow team) do not manage to implement a proper f1 function. This is so basic that I would refuse to call any tool to be complete without it. Sorry for these self critical words.

[2020-01-26 20:15] PhilipMay commented on #825
@Saishruthi and @squadrick what do you think about this?

[2020-01-26 20:16] tillmo commented on #825
@PhilipMay I think you have implemented a proper f1 function. It just does not interact well with Keras. And maybe the place to have an f1 function that interacts well with Keras is Keras, and not tfa. After all, Keras already provides precision and recall, so f1 cannot be a big step.

[2020-01-27 01:26] ra312 opened #948 "Adding a split method to TF2.0 Record class"
**Describe the feature and the current behavior/state.**
Currently, there is no way to split TFRecord with TF2.0 built-in methods.
TF.split accepts a tensor. I see no accessible and scalable way to extract Tensors from TFRecord.
**Relevant information**
- Are you willing to contribute it (yes/no):yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper

[2020-01-27 06:02] AakashKumarNain commented on #948
Can you provide a toy example?

[2020-01-27 07:46] ye2020 opened #949 "WeightNormalization doesn't work with @tf.function in an edge case"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.2 (19C57)
- TensorFlow version and how it was installed (source or binary): 2.1.0 via pip
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.0-dev via pip
- Python version: 3.7.4
- Is GPU used? (yes/no): no

**Describe the bug**

When the train function is decorated with @tf.func

[2020-01-27 09:07] ra312 commented on #948
import tensorflow as tf
print(f"tf.__version__={tf.__version__}")

ragged_tensor = tf.ragged.constant([
	[[34,43, 13],[0]],
	[[54,45],[1]],
])
print(f"ragged_tensor_type={ragged_tensor}")
tf_rec = tf.data.TFRecordDataset.from_tensors(ragged_tensor)
print(f"type(tf_rec)={type(tf_rec)}")

[2020-01-27 09:08] ra312 commented on #948
So I know about tf.split, but the method requires a consistent shape (m,n).

[2020-01-27 16:50] damiano9669 commented on #915
What can I do? The code is just ready in my fork.

[2020-01-27 17:32] cgarciae opened #951 "[Feature] Add MultiHeadAttention Layer"
Currently `tf.keras.layers` doesn't have a `MultiHeadAttention` module which is a bit odd given the popularity Transformers have today and that Attention is All You Need and BERT came out of Google. Maybe this layer could be added to this repo initially at least and maybe migrate to the official in the future.

I have an implementation based on the code in the BERT repo I could share which I tweak

[2020-01-27 19:07] saravanabalagi opened #952 "pip install downloads tensorflow 2.1.0 when I already have tensorflow-gpu 2.1.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS (from Docker image)
- TensorFlow version and how it was installed (source or binary): Binary (from Docker image)
- TensorFlow-Addons version and how it was installed (source or binary): Binary 0.7.1 (pip latest)
- Python version: 3.6.9 (from Docker image)
- Docker Image Tag: 2.1.0-gpu-py3 (from ten

[2020-01-27 19:08] saravanabalagi commented on #952
Similar to #864 but that's with `tensorflow-cpu`. As a workaround I'm using
[code]

[2020-01-27 19:36] seanpmorgan commented on #952
Hi @saravanabalagi! Yes as you mentioned this is the same issue that is going on in #864. For the time being your workaround is the recommended way to install.

For the 0.8 release we will remove the hard dependency on `tensorflow`. Thanks for creating this to help future users with issues. I'm going to close for the time being but will try to update this issue once the fixed dependency is removed

[2020-01-27 19:36] #952 closed

[2020-01-27 21:12] hyang0129 opened #958 "[Feature] Add Discriminative Layer Training that works with tf.keras.model.fit in eager and distributed"
Currently, the only way to apply different lr to different layers is to use a custom training loop. This issue was raised in this link https://github.com/tensorflow/tensorflow/issues/33036, but closed.

I am willing to contribute and maintain this feature. Fastai has implemented this functionality, see https://docs.fast.ai/basic_train.html#Discriminative-layer-training.

This should fall under the

[2020-01-27 21:39] hyang0129 commented on #958
proof of concept notebook. https://github.com/hyang0129/stuff/blob/master/disc_learning_rate_proof_of_concept.ipynb

[2020-01-27 23:44] #934 closed

[2020-01-27 23:51] seanpmorgan commented on #915
@damiano9669 Apologies for the delay in response. So I think this is an interesting idea, but I do not have a lot of intuition on how useful this is to the community at large. Without an academic paper describing the results and uses it's difficult to asses.

I would propose we leave this issue open and if community interests builds we could accept a PR for this. Alternatively if you proposed (and

[2020-01-27 23:53] seanpmorgan commented on #958
@hyang0129 This seems like a nice addition. As you mentioned with optimizers it's important to make sure the methodology works in a distributed setting.

Please create a PR so implementation can be further discussed.

[2020-01-28 00:01] #924 closed

[2020-01-28 08:49] Squadrick commented on #951
@cgarciae Thanks for bringing this up, and it would great if you could create a PR with your implementation.

[2020-01-28 08:51] Squadrick commented on #958
Check out `test_utils.run_distributed` for testing.

[2020-01-28 12:04] hyang0129 commented on #958
Thanks for the tip. I'll start working on this

[2020-01-28 12:06] Om-Pandey commented on #935
@seanpmorgan I looked into the issue, seems like I didn't add the seq2seq package from TFA, the dataset issue though I think is some kind of an environment refreshing problem cause it is working just fine on my end, I ran it 15-16 times, seems neat.... I was trying to do the tfa.seq2seq but I am running into #676 .. please tell me if there is any way to go about this, meanwhile, I will try other o

[2020-01-28 13:12] #903 closed

[2020-01-28 15:22] RomainBrault opened #964 "TimeStopping Callback fail in verbose mode"
**System information**

OS Platform and Distribution (Ubuntu 19.04):
TensorFlow version and how it was installed (pip==2.1.0):
TensorFlow-Addons version and how it was installed (pip==0.7.0):
Python version: 3.7
Is GPU used? (yes):

**Describe the bug**

When the fit method stop before the timer, it raises with

```AttributeError: 'TimeStopping' object has no attribute 'stopped_epoch'```

**Code t

[2020-01-28 18:56] ghop02 opened #965 "Difficult to use tensorflow-addons with tf-nightly builds"
It's a bit tricky to use the tf-nightly builds and have a dependency on tensorflow addons because of the pinned tensorflow version.

Is there a way to have the setup.py file for the nightly builds be slightly more lenient as to the version? It's a bit tricky because tf-nightly is an entirely different package.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Ten

[2020-01-28 19:01] seanpmorgan commented on #965
Hi @ghop02! Thanks for reporting. So we should have a soon incoming solution to this which is to remove the hard installation dependencies:
https://github.com/tensorflow/addons/issues/864
https://github.com/tensorflow/addons/issues/952

I plan to work on this later today when I have some time to rework the builds. If you need to unblock today you can `pip install tfa-nightly --no-deps`

[2020-01-28 19:37] ghop02 commented on #965
Great, figured there was something in the works!

And never knew about `--no-deps`, will probably abuse this now for many carefully constructed brittle python environments 😄

[2020-01-28 20:40] shun-lin commented on #964
Hi @RomainBrault thank you so much for catching the bug! I apologize I forgot to consider the obvious case where training stopped before proposed time, your proposed fix looks good to me (putting `self.stopped_epoch = epoch`) outside of `'if` statement in `on_epoch_end` method. If you have time, may you submit a simple PR for it? (If not I can do it) Thank you so much for your contribution!

[2020-01-28 20:48] cgarciae commented on #951
@Squadrick WIll do.

[2020-01-29 12:03] JoaoLages opened #968 "Quick question: Can we use tfa for tensorflow<2.0.0, such as 1.14?"

[2020-01-29 13:54] Squadrick commented on #968
No, we only support TensorFlow 2.0 onwards. You can see [the build matrix](https://github.com/tensorflow/addons#linux-build-matrix) for more info.

[2020-01-29 13:54] #968 closed

[2020-01-29 17:02] failure-to-thrive commented on #964
I would recommend some kind of flag to distinguish whether `on_train_end` was called due to the "timeout" or by any other reason.  @RomainBrault, it will fix your "cosmetic problem", too. If no one doesn't mind, I can get down to this.

[2020-01-29 17:36] shun-lin commented on #964
Hi @failure-to-thrive, great idea and I think it would be helpful! I think one thing to consider is to see what `EarlyStopping` Callback is doing in similar case (training finished regularly without `EarlyStopping` effect took place and `verbose` was set to `1`), so when we handle that case here it's similar. @failure-to-thrive thanks for your contribution in advance!

[2020-01-29 18:47] Taggotty opened #970 "Cannot use AttentionWrapper in Graph Mode"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu
- TensorFlow version and how it was installed (source or binary): 2.0.0
- TensorFlow-Addons version and how it was installed (source or binary): 0.6.0
- Python version: 3.7.5
- Is GPU used? (yes/no): yes

**Describe the bug**

In graph mode the state of the attention wrapper cannot be updated.

**Code to

[2020-01-29 19:05] seanpmorgan commented on #970
cc @qlzh727 @guillaumekln

[2020-01-29 19:15] failure-to-thrive commented on #964
Here it is. https://github.com/failure-to-thrive/addons/commit/bc99311646a92a1099021ea767c489e033fa61ed#diff-dbab0e9de0d8f25e76e13d3906e105a5
If it is OK I will PR.
`EarlyStopping` utilizes the same technique.

[2020-01-29 19:45] hyang0129 commented on #927
This sounds interesting.

Is there maybe a paper somewhere showing how it performs better than a regular optimizer?

[2020-01-29 21:10] shun-lin commented on #964
Looks good to me but just a small NIT, instead of setting `self.stop_epochs` to `None` set it to `0` and check if it's above 0 in `at_train_end`, so the implementation is more consistent w/ `EarlyStopping`, also may you also added `on_train_begin` and reset `self.stop_epochs` so it's re-usable? Thanks for your contribution!

[2020-01-30 05:54] failure-to-thrive commented on #964
Sorry, we may not do it. What if the first epoch (epoch == 0) turns out to be too long? In that case verbose output in the `at_train_end` will be missed. Possible the same issue in the `EarlyStopping`, by the way.

Sure. I just was trying to make it consistent with `EarlyStopping`.

[2020-01-30 08:47] guillaumekln commented on #970
The value that you are passing to `attention_mechanism.setup_memory` is incorrect. As per the [documentation](https://www.tensorflow.org/addons/api_docs/python/tfa/seq2seq/LuongAttention#setup_memory), it should be a tensor of shape `[batch_size, max_time, ...]` while yours have shape `[batch_size, ...]`.

[2020-01-30 08:48] guillaumekln commented on #859
Feel free to reopen if you have additional concerns regarding the coverage penalty implementation.

[2020-01-30 08:48] #859 closed

[2020-01-30 11:45] #854 closed

[2020-01-30 16:45] #864 closed

[2020-01-30 16:49] seanpmorgan commented on #864
TFA Nightlies starting tomorrow will have no pip dependency. 0.8 release is upcoming and will also be dependency free

[2020-01-30 16:49] seanpmorgan commented on #965
TFA Nightlies starting tomorrow will have no pip dependency. 0.8 release is upcoming and will also be dependency free

[2020-01-30 16:49] #965 closed

[2020-01-30 16:50] seanpmorgan commented on #952
TFA Nightlies starting tomorrow will have no pip dependency. 0.8 release is upcoming and will also be dependency free

[2020-01-30 16:50] gabrieldemarmiesse commented on #864
Well, for completeness, we do have typeguard as dependency

[2020-01-30 16:51] seanpmorgan commented on #864
Ah yes this is true.. but resolves TF dependency issue :smile:

[2020-01-30 16:56] gabrieldemarmiesse commented on #864
For sure. Should we open an issue to track the progress on loading SOs with tensorflow cpu?

[2020-01-30 17:08] seanpmorgan commented on #864
Yeah that'd be great. I have a couple of other issues I'll put in later today as well.

[2020-01-30 17:23] gabrieldemarmiesse commented on #864
I'll let you do it if you don't mind

[2020-01-30 21:57] shun-lin commented on #964
@failure-to-thrive , you got a great point, in the current implementation, we always let an epoch finish, even if it goes over time (we check at the end of each epochs  instead of each batch, thus if the first epoch turns out to be too long we will still finish it and then stop). I think it's better this way than stopping in the middle of epoch. Therefore we can assume that the first epoch will fi

[2020-01-31 05:01] nimish1512 opened #982 "GIoULoss doesn't go below 1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 LTS
- TensorFlow version and how it was installed (source or binary): 2.1.0 (binary)
- TensorFlow-Addons version and how it was installed (source or binary):0.7.1 (binary)
- Python version: 3.6.9
- Is GPU used? (yes/no): yes

**Describe the bug**
I am using the GIoULoss to train a small CNN using keras w

[2020-01-31 06:07] failure-to-thrive commented on #964
Me, too. I suspect a model will be left in the some kind of inconsistent state.

My offer still stands. The only think that I would change is the allowing the object (`TimeStopping`) to be reused. However, it might come into the code inconsistency with other Callbacks. Moreover, what if Callbacks are not supposed to be reused in the first place? I'm not a project maintainer, I may not make such de

[2020-01-31 07:38] shun-lin opened #983 "triplet loss tutorial colab broken?"
I got an error when going to triplet loss's tutorial on Tensorflow doc https://www.tensorflow.org/addons/tutorials/losses_triplet and click "Run in Google Colab".

When I try to access the triplet loss's tutorial on github it looks like it cannot be loaded either
https://github.com/tensorflow/addons/blob/master/docs/tutorials/losses_triplet.ipynb

[2020-01-31 09:16] ra312 commented on #948
Let me see if existing methods allow to split. If not, I will build on top a new method.

[2020-01-31 13:43] seanpmorgan commented on #983
Good catch. Really have no idea how that could happen though.

[2020-01-31 13:48] seanpmorgan commented on #982
@nimish1512 Thanks for raising the issue. Unfortunately we can't ask maintainers to troubleshoot training code as there is no expected result (especially given the unknown dataset your using).

Please create a minimal reproducible example (similar to a test case) that can be verified by a maintainer. For example if you think GIoULoss doesn't go below 1, then create an example input that should and

[2020-01-31 13:48] #982 closed

[2020-01-31 14:10] Om-Pandey opened #986 "tfa.seq2seq decoder implementation problem"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version and how it was installed (source or binary): tf 2.1.0
- TensorFlow-Addons version and how it was installed (source or binary): tf_addons 0.7.1
- Python version: 3.6
- Is GPU used? (yes/no): no

**Describe the bug**
I do not understand how the decoder function is working as in what shou

[2020-01-31 14:19] guillaumekln commented on #986
The error you reported is not related to `tfa.seq2seq` but to how `tf.function` should be used, see the [documentation](https://www.tensorflow.org/api_docs/python/tf/function). In particular, you should create stateful layers such as `tf.keras.layers.Dense` outside the `tf.function`.

[2020-01-31 14:24] seanpmorgan commented on #970
Closing. Please feel free to ask for a re-open if there is still confusion.

[2020-01-31 14:24] #970 closed

[2020-01-31 14:26] seanpmorgan commented on #898
I believe all of the agreed upon changes have been implemented. Closing.

[2020-01-31 14:26] #898 closed

[2020-01-31 14:32] #708 closed

[2020-01-31 14:46] seanpmorgan commented on #964
https://github.com/tensorflow/addons/pull/967 has merged and fixed the bug I believe. Do we want to keep this open for @failure-to-thrive s implementation or close and start a new one?

[2020-01-31 14:54] seanpmorgan opened #987 "Custom Op Linux ABI Incompatibility: Undefined Symbol"
Creating this issue to consolidate the information. As seen in https://github.com/tensorflow/addons/issues/676 https://github.com/tensorflow/addons/issues/574

## Overview:
The TF C++ API for kernel implementations are not ABI stable. Because of this we compile our pip package to be manylinux2010 compatible with GCC 7.3.1. This means that TF-Addons custom ops will work on pip installed TF, but are

[2020-01-31 14:54] seanpmorgan commented on #676
Consolidating in https://github.com/tensorflow/addons/issues/987

[2020-01-31 14:54] #676 closed

[2020-01-31 14:54] seanpmorgan commented on #574
Consolidating in https://github.com/tensorflow/addons/issues/987

[2020-01-31 14:54] #574 closed

[2020-01-31 14:57] seanpmorgan opened #988 "Complete black formatting"
We made the transition to utilize `black` for its strict standard and easy of use (while being able to remove a ton of formatting code and maintainer burden from TFA).

To do this gracefully we excluded several modules which were under active development so as to minimize impact on active PRs. We need to remove those modules from the exclusion list as they become no longer worked on and format the

[2020-01-31 14:58] seanpmorgan commented on #988
@gabrieldemarmiesse could you please post a snippet to show how you checked which modules were under active development.

[2020-01-31 15:00] seanpmorgan opened #989 "Complete typing"
Since python2 support was dropped we've begun typing TFA.

To do this gracefully we excluded several modules which were under active development so as to minimize impact on active PRs. We need to remove those modules from the exclusion list as they become no longer worked on and type them appropriately.

Exclusion list:
https://github.com/tensorflow/addons/blob/master/tools/ci_build/verify/check_t

[2020-01-31 15:00] seanpmorgan commented on #989
Big thank you to @autoih for many PRs working towards this.

[2020-01-31 15:03] seanpmorgan opened #990 "Enable custom-ops for tensorflow-cpu"
Currently tensorflow-cpu will fail when trying to load custom ops for `undefined symbol: __cudaPushCallConfiguration`:
[code]

I'm not quite sure what is causing this without having done a deep dive, but linking this possibly related PR since this was a departure from standard TF linking:
https://github.com/tensorflow/addons/pull/539

[2020-01-31 15:05] gabrieldemarmiesse commented on #988
pip install pygithub

[code]

[2020-01-31 15:08] Om-Pandey commented on #986
@guillaumekln yeah .. I had actually declared it above the function.. 😅 .. I think .. It got in the way while I was debugging... This is the actual error:
[code]
Why do you think this may be ?

[2020-01-31 15:11] seanpmorgan opened #991 "Refactor Sanity Check"
The term sanity check is a bit legacy from the TF core repo. In the past month we've done some major revamping our of repo and it's time to update this to align.

At the moment we break out flake8, black, and typing into separate CI tests:
https://github.com/tensorflow/addons/blob/master/.github/workflows/ci_test.yml#L60-L102

Personally I like this from a PR perspective because it limits the logs

[2020-01-31 15:11] AakashKumarNain commented on #989
We need to include this in the `contribution` guidelines.

[2020-01-31 15:16] seanpmorgan opened #992 "Unified Sub-package Testing"
Similar to [Keras layer_test](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/testing_utils.py#L75) it would be nice to have a suite of tests that all addons in a subpackage are verified against.

We've seen a number of times an addon which looked correct but later failed for serialization or something along those lines since it was missed in review. Maintainers try ou

[2020-01-31 15:17] seanpmorgan opened #993 "Setup Codecoverage CI"
Given the number of contributions and individual maintainers IMO it would be a good idea to add a code coverage check so we can see if new additions are decreasing coverage and need improved testing.

Thoughts /  Suggestions for tooling?

[2020-01-31 15:19] seanpmorgan opened #994 "Package TFA 0.8"
Some major changes have been made the past few weeks. Particularly removing the pip dependency on `tensorflow` will fix a number of user issues:
https://github.com/tensorflow/addons/pull/974

I was planning on cutting a new version in the coming days once a few more PRs wrap up.

[2020-01-31 15:20] seanpmorgan commented on #988
One last thing.. there remains some `pylint` and `yapf` comments in these files. Those should be removed as well as they no longer do anything.

[2020-01-31 16:20] ghop02 opened #996 "tfa-nightly missing ensure_tf_install"
[code]
Getting this error when installing the latest version of tfa-nightly (`tfa-nightly-0.8.0.dev20200131`).

Looks like it was added yesterday. Not 100% sure how, but looks like `ensure_tf_install.py` wasn't included in the wheel?

[2020-01-31 16:23] seanpmorgan commented on #996
@ghop02 Thank you very much for the report. PR submitted to fix

[2020-01-31 16:24] ghop02 commented on #996
Definitely, thanks for the quick response/fix!

[2020-01-31 16:41] failure-to-thrive commented on #964
#967 is a quick workaround to avoid crashes. It does its job very well but now we should move forward to a comprehensive solution, because for example https://github.com/tensorflow/addons/pull/967#issuecomment-579628853. It's still #964, I think we should stay here.

[2020-01-31 16:51] #996 closed

[2020-01-31 16:52] shun-lin commented on #964
@failure-to-thrive @seanpmorgan ya I think we should keep this one open for @failure-to-thrive's PR. @failure-to-thrive let me know if you have any more questions/confusions :)

[2020-01-31 17:35] shun-lin commented on #983
fixed!

[2020-01-31 17:35] #983 closed

[2020-01-31 17:54] failure-to-thrive commented on #964
They are here https://github.com/tensorflow/addons/issues/964#issuecomment-580596414.

But... Honestly, it's a not big deal that justify putting so much of our time and efforts into it. Let us just https://github.com/tensorflow/addons/issues/964#issuecomment-579914295. We can always get back to this issue anytime in the future.

[2020-01-31 19:08] shun-lin commented on #964
@failure-to-thrive sounds good, thanks!

[2020-02-01 10:25] Om-Pandey commented on #986
Ohhhkkkk .. I got my mistake .. Thanks!

[2020-02-01 10:25] #986 closed

[2020-02-01 11:03] facaiy commented on #906
@AakashKumarNain Sorry for the delay, Aakash. Thanks for your detailed RFC, which looks really great. As said before, is it possible to create a metric for every case mentioned by you, for example: CohenKappa, BinaryCohenKappa, CategoricalCohenKappa etc (refer to [Accuracy](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/Accuracy?hl=en), [BinaryAccuracy](https://www.tensorflow.org/api_

[2020-02-01 11:39] fsx950223 opened #1000 "Use threadpool->ParallelFor instead of Shard"
**Describe the feature and the current behavior/state.**
As [Shard](https://github.com/tensorflow/tensorflow/blob/e4f4579e42155801f91156a53970d54a2ba0f54f/tensorflow/core/util/work_sharder.h#L26) is marked as DEPRECATED.
The custom op implementations should use threadpool->ParallelFor instead of Shard.
For example:
[code]
**Relevant information**
- Are you willing to contribute it (yes/no):yes
- A

[2020-02-01 13:13] fsx950223 commented on #949
As mentioned in [code](https://github.com/tensorflow/tensorflow/blob/e4f4579e42155801f91156a53970d54a2ba0f54f/tensorflow/core/util/work_sharder.h#L26)
Please change code:
[code]

[2020-02-01 14:03] fsx950223 commented on #949
Close autograph could fix the bug

[2020-02-01 14:37] ye2020 commented on #949
Isn't that `@tf.function` means using autograph? If removing the `@tf.function` annotation, the training speed is 3x slower (in my case).

[2020-02-01 14:47] fsx950223 commented on #949
@ye2020 use it with weightnormal layer

[2020-02-01 15:13] gabrieldemarmiesse commented on #989
@AakashKumarNain  See https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#about-type-hints

[2020-02-01 15:18] gabrieldemarmiesse commented on #991
For the CI, I believe that fast feedback is very important for the developer's experience. Black action takes  around 15s to run, flake8 too, the typing check takes 40s and I also agree with @seanpmorgan about logs clarity which is important for first contributors to addons.

I'd be in favor of a tool that we can run and do all the checks at once locally, but in the CI, those checks should stay se

[2020-02-01 15:21] gabrieldemarmiesse commented on #992
I can look into this. As you said, it requires some digging.

[2020-02-01 15:43] gabrieldemarmiesse commented on #993
I'm not a fan of the idea. I've seen it several times used in different repository. In theory the tool is useful, in practice, well...

The issue is that the percentage of code covered by the tests depends on the codebase. Let's say you do a change to improve (make a longer) error message, if this error is not hit in the tests, well, the CI will fail. Even if it wasn't in the scope of the PR to ad

[2020-02-01 15:54] AakashKumarNain commented on #989
LGTM! Can we add a simple example as well? Like a class with the constructor signature only.

[2020-02-01 15:56] AakashKumarNain commented on #906
Thanks @facaiy for the review. I discussed on this with Francois as well. I will try to make it more simple in the coming weeks.

[2020-02-01 16:05] WindQAQ commented on #1000
Sure, feel free to open a PR and ping me :smiley:

[2020-02-02 10:21] PSY27 commented on #1000
i want to help

[2020-02-02 15:10] #1000 closed

[2020-02-02 16:48] PhilipMay commented on #825
I changed my old f1 code to tf.keras. It is back and usable now.
- https://github.com/PhilipMay/mltb#module-keras-for-tfkeras
- pip Release 0.3: https://pypi.org/project/mltb/

[2020-02-02 17:29] gabrieldemarmiesse commented on #991
I've made 4 pull requests to extract the 4 checks from the sanity check. Once they are all merged, I'll work on the tool to run them locally (docker + git hook).

[2020-02-02 18:49] shun-lin commented on #964
Closing this issue as @failure-to-thrive's PR has been merged, thanks!

[2020-02-02 18:49] #964 closed

[2020-02-03 08:14] shun-lin opened #1017 "Adding Multi-Similarity Loss to TFA losses"
**Describe the feature and the current behavior/state.**

The paper's abstract:

<em>
A family of loss functions built on pair-based computation have been proposed in the literature which provide a myriad of solutions for deep metric learning. In this paper, we provide a general weighting framework for understanding recent pair-based loss functions. Our contributions are three-fold: (1) we establi

[2020-02-03 14:25] seanpmorgan commented on #825
@PhilipMay are there any issues you see with adding your implementation into Addons? We have precedent for function specific imports:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/callbacks/tqdm_progress_bar.py#L68

And I would prefer a working implementation with external dependencies vs. a buggy one. If there are no other issues would you be willing to submit a PR?

[2020-02-03 14:26] seanpmorgan commented on #1017
Looks like a nice addition to me.

[2020-02-03 14:27] failure-to-thrive commented on #949
https://github.com/tensorflow/addons/blob/6052477edcefad9691357e84312b127d5b57f4c0/tensorflow_addons/layers/wrappers.py#L62 seems to be the root cause. I suspect `tf.CriticalSection` doesn't honor neither `name` nor `shared_name` arguments and every time creates its own unique CS. Not only doesn't it prevent the parallel execution https://github.com/tensorflow/addons/blob/6052477edcefad9691357e843

[2020-02-03 14:30] PhilipMay commented on #825
Sure. Will do that the next days.

[2020-02-03 18:27] failure-to-thrive commented on #949
Another possible explanation - multiple `tf.CriticalSection` calls are not allowed in `@tf.function` as `tf.Variable` are. Solution is the same - call them outside and pass the value via argument or global variable. Unfortunately the documentation on `tf.CriticalSection` is very scarce. Even the `shared_name` argument is not explained at all.

[2020-02-03 23:44] fsx950223 commented on #949
Autograph cause the mess and dead lock.Global CS change the OP behavior and fail the OP tests.

[2020-02-04 01:10] fsx950223 commented on #949
According to [document](https://tensorflow.google.cn/api_docs/python/tf/CriticalSection):**A CriticalSection object is a resource in the graph which executes subgraphs in serial order.**
Each layer has its variables and ```WeightNormalization.call``` only execute ```_update_weights``` only one time. So I believe there is no need to use ```CriticalSection```.

[2020-02-04 01:28] seanpmorgan commented on #949
Just for reference here was the issue for why it was added:
https://github.com/tensorflow/addons/issues/722

[2020-02-04 01:56] fsx950223 commented on #949
Mount CS to the layer which is wrapped may fix the issue.

[2020-02-04 13:10] gabrieldemarmiesse commented on #991
Can we completely assume that users have access to docker locally? It would make the pre-commit hook and local testing much easier to implement.

[2020-02-04 13:13] failure-to-thrive commented on #722
What I see from the assert message (_[The layer has been initialized.]_) - it has nothing to do with the race conditions of parallel execution. It's a "multiple initializations" problem. CriticalSection won't help. Atomic flag (test-and-set lock mechanism) should have been there. And a piece of code to reproduce the problem, in the first place.

[2020-02-04 14:10] seanpmorgan commented on #991
Yes I think we can safely assume this for developers.

[2020-02-04 14:11] gabrieldemarmiesse commented on #989
For more info about all this:

I opened an issue in the tensorflow repository about the autograph bug:

https://github.com/tensorflow/tensorflow/issues/36462

List of pull requests linked to this issue:
#894
#925
#928
#929
#931
#971
#972
#975
#978
#981
#995
#999
#1007
#1002
#1015
#1016
#1019

[2020-02-04 14:14] gabrieldemarmiesse commented on #991
Ho yeah, fasten your seat belts it's going to awesome really fast!

[2020-02-04 16:40] seanpmorgan commented on #994
Just FYI planning to cut this on Thursday

[2020-02-04 17:13] LexusH commented on #927
Hey @Squadrick, I'm a beginner on this project that would love to help with your issue! Any tips on how to get started would be much appreciated

[2020-02-04 17:17] bryanko1 commented on #582
I am interested in helping out with this. Do you have any advice for me on where to start? Thanks!

[2020-02-04 17:22] manda-creator commented on #731
This is an issue that I would like to contribute to.

[2020-02-04 17:23] seanpmorgan commented on #731
Great! Welcome to addons please let us know if you need any further information to create a PR

[2020-02-04 17:24] seanpmorgan commented on #582
Hi @bryanko1! Welcome to addons. There is already a PR for this:
https://github.com/tensorflow/addons/pull/677

Would you mind giving it a review?

[2020-02-04 17:28] bryanko1 commented on #582
Yeah, sure thing!

[2020-02-05 02:04] Hyperparticle commented on #754
It's possible you might want to change the moving average over time with custom behavior and `num_updates` would do that. However, the current code changes have broken this again. It looks like you won't be able to change the moving average ratio every step, only at the beginning.

[2020-02-05 10:57] gabrieldemarmiesse commented on #870
See #1022 and #1021 where there is no need to use the interactive mode to have fast formatting and sanity check.

[2020-02-05 11:16] gabrieldemarmiesse commented on #993
I looked into how to implement a minimal code coverage for Python with Bazel with just a small report that we could get by running a command locally. Some findings:

https://github.com/bazelbuild/rules_python/issues/43
https://github.com/bazelbuild/bazel/issues/10660
https://groups.google.com/forum/#!msg/bazel-discuss/LC97zBrMG84/cfVNdus-AwAJ

Long story short: If we run unit tests with Bazel, we

[2020-02-05 14:29] seanpmorgan commented on #993
Thanks for the info! I've subscribed to those issues and will keep an eye on them. I think you made a number of good points about its value anyway though so closing this until further information is available.

[2020-02-05 14:29] #993 closed

[2020-02-05 14:55] seanpmorgan opened #1024 "Update CI tests to run oldest and newest python"
So I think this is worth discussing before implementing. We had a break last night because our CI didn't test py35:
#1023

We can update this to test most recent and oldest python versions, but it'll ~double the CI test time for those jobs. Ultimately we'll be notified of a failure on the nightly CI builds so there's a safety net but comes at the cost of missing nightlies for the day.

[2020-02-05 14:56] #870 closed

[2020-02-05 14:59] #935 closed

[2020-02-05 17:18] Squadrick commented on #927
You can take a look at some of the other tutorials we have [here](https://github.com/tensorflow/addons/tree/master/docs/tutorials). It includes the template (`_template.ipynb`) that we follow.

You can show a model being trained on MNIST or fashion MNIST with the `MovingAverage` optimizer and `AverageModelCheckpoint` callback.

[2020-02-05 22:03] bhack commented on #179
/cc @smallsunsun1

[2020-02-06 02:50] smallsunsun1 commented on #179
I  implemented a Deformable Conv2D V2 And DeformablePsROIAlign operation In both cpu and gpu according to mmdetection https://github.com/open-mmlab/mmdetection. My implenmentation is https://github.com/smallsunsun1/custom_ops/tree/master/deformable_conv2d_ops_new , which  support tf2.0 and built by CMake.

[2020-02-06 05:38] fsx950223 commented on #990
Custom ops should be separated to cpu shared files and gpu shared files.

[2020-02-06 07:35] ulf1 commented on #1024
Is it possible to tell the sanity-check or formatter for trailing commas in lists?

[2020-02-06 08:07] gabrieldemarmiesse commented on #1024
@ulf1 running the sanity check with Python 3.5 should be enough.

[2020-02-06 11:55] abhichou4 commented on #927
Woking on the issue. `MovingAverage` works fine but `AverageModelCheckpoint` doesn't seem to be there, even with `tfa-nightly`.
https://colab.research.google.com/drive/1IxqfhbkpNN6P1guzdW7q5ZEdPoqi7sle
Is something wrong with this?

[2020-02-06 15:42] bhack commented on #179
@smallsunsun1 Do you want to officially PR you impl on TF addons?

[2020-02-06 18:21] LexusH commented on #927
I have a MNIST model trained using the MovingAverage optimizer right now so progress is good! Looking at the tutorials for how to do a callback so I can hopefully add that in shortly.

[2020-02-06 18:58] seanpmorgan commented on #927
Interesting. It looks like TFA is installed by default on Colab now:
https://colab.research.google.com/drive/18wjcYoNfQi-yc-YFSZvq4pKePy164O29

The version is 0.6.0 which did not have any callbacks (only the stub). This makes it a bit tricky since you'll need to install tfa-nightly and restart the runtime.

@lamberta Do you know a contact for Colab who we could talk to about this. Currently the lo

[2020-02-06 19:54] #1024 closed

[2020-02-06 19:56] seanpmorgan commented on #990
Given the dlopen() dynamic kernel strategy that TF uses this shouldn't be required:
https://github.com/tensorflow/community/blob/master/rfcs/20180604-dynamic-kernels.md

However, I agree that your suggestion is a possible solution if for some reason we're unable this fixed.

[2020-02-06 20:56] gabrieldemarmiesse commented on #870
See also #1030

[2020-02-06 21:36] lamberta commented on #927
Well ... cool it's there by default now :)

There's probably an internal version that Colab is using. @craigcitro on the Colab site.

@tomerk Is there a better way to regularly sync these?

[2020-02-06 21:38] craigcitro commented on #927
Feel free to file a go/colab-bug on us internally with questions.

[2020-02-06 22:23] gabrieldemarmiesse opened #1034 "Use isort in the pre-commit hook"
https://github.com/timothycrosley/isort

after the 5.0 release, it will be compatible with black. Do we want to use it?

[2020-02-07 02:17] fsx950223 commented on #990
It's possible to use cuda kernel on the environment without cuda configured?

[2020-02-07 02:26] seanpmorgan commented on #927
@lamberta Yes this is great news that TFA is installed by default! :smile: Just want to see if we can help keep it up to date.

@craigcitro is https://github.com/googlecolab/colabtools/issues what you're referring to?

[2020-02-07 02:50] smallsunsun1 commented on #179
@bhack Maybe I can have a try, but I haven't PR before, it may task some time==

[2020-02-07 02:53] seanpmorgan commented on #179
Please let us know if there is anyway we can help. We have some documentation to get you started.

TFA pull requests: https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md#pull-requests
Getting started with contributions: https://github.com/gabrieldemarmiesse/getting_started_open_source

[2020-02-07 05:00] craigcitro commented on #927
@seanpmorgan yep, that works.

[2020-02-07 20:39] #994 closed

[2020-02-08 13:43] smallsunsun1 commented on #179
@seanpmorgan I clone the addons repo, tested my deformable_conv2d impl in local, building passed in tensorflow2.0 and cuda10.0,  noticed the lastest branch is target in tensorflow2.1 and cuda10.1. But I can't have a cuda10.1 environment to test the code. Is there any problem if I push a request

[2020-02-08 15:08] seanpmorgan commented on #179
Not at all. We have CI testing that will run it on GPU for you (So even if you didn't have a GPU you could still test it.) We welcome WIP PRs so feel free to start the PR and we can go from there.

[2020-02-08 15:53] AlexWang1900 commented on #844
@wuliytTaotao  @WindQAQ
Hi, when mixprecision training ,the code above with WD scheduler doesn't work

in on_epoch_begin(self, epoch, logs)
     13     def on_epoch_begin(self, epoch, logs=None):
     14         if not hasattr(self.model.optimizer, 'weight_decay'):
---> 15             raise ValueError('Optimizer must have a "weight_decay" attribute.')
     16         try:  # new API
     17

[2020-02-08 16:10] wuliytTaotao commented on #844
@AlexWang1900 Your optimizer is LossScaleOptimizer, not AdamW, so if you want to use weight decay in your optimizer, you should implement your code like AdamW with a wrapper.

[2020-02-08 16:28] AlexWang1900 commented on #844
@wuliytTaotao
[code]
<tensorflow.python.keras.mixed_precision.experimental.loss_scale_optimizer.LossScaleOptimizer at 0x29619c8a2c8>

[2020-02-08 17:38] seanpmorgan commented on #1034
If we fold it into the pre-commit it seems like a nice addition. Perhaps we wait a bit until black/typing is complete just to limit the amount of formatting changes going on at once. We'll need to wait for 5.0 release anyway

[2020-02-08 17:39] #991 closed

[2020-02-08 23:54] pavithrasv commented on #825
Thank you @PhilipMay for working on this. Please feel free to send a PR to the tensorflow repo directly and skip the migration step since this is a metric we want in the main repo.

[2020-02-09 10:40] PhilipMay commented on #825
@pavithrasv I will do that. Although I am pretty sure that my implementation will need futher discussion and finetuning.

[2020-02-09 17:07] failure-to-thrive commented on #927
The correct way to upgrade TFA on Colab:
`!pip install -t /tensorflow-2.1.0/python3.6/ --upgrade tfa-nightly`
There is no need to restart the runtime unless you've already imported TFA.

[2020-02-09 22:22] gabrieldemarmiesse commented on #989
Yay! It's finished! Big thanks to @autoih who worked extra hard on this!

If some people are interested, we want to do the same with autokeras! See the link just above.

[2020-02-09 22:36] seanpmorgan commented on #989
Thanks so much for the great contributions @autoih

[2020-02-09 22:36] #989 closed

[2020-02-10 07:39] AlexWang1900 opened #1064 "tfa.activations.mish doesn't work in Keras"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- TensorFlow version and how it was installed (source or binary): 2.1
- TensorFlow-Addons version and how it was installed (source or binary): 7.1, pip installed
- Python version: 3.7
- Is GPU used? (yes/no): yes

**Describe the bug**

when using tfa.activations.mish  in keras , training halt at begining.

[2020-02-10 16:19] failure-to-thrive commented on #746
To sum up: there should be `CategoricalF1Score` name and the `num_classes` argument should be eliminated. `BinaryF1Score` and `F1Score` might be another additions.

[2020-02-11 02:50] davidweioct opened #1067 "Got an error very recently for "layers.normalizations". Something related to the "epsilon" variable in the typeguard module."
The code was run in google colab with the following install libraries:

**!pip3 install nilearn
!pip3 install simpleITK
!pip3 install tensorflow-gpu==2.1.0
!pip3 install tensorflow-addons==0.8.1**

**ERROR info:**

File "/usr/local/lib/python3.6/dist-packages/tensorflow_addons/layers/normalizations.py", line 319, in __init__
    super().__init__(**kwargs)
  File "/usr/local/lib/python3.6/dist-pack

[2020-02-11 03:03] davidweioct commented on #1067
It was running good previously. Not sure if this is due to a recent update.

[2020-02-11 05:30] davidweioct commented on #1067
I used a work-around solution by simply downgrading to 0.7.1

[2020-02-11 07:51] AakashKumarNain commented on #1064
cc: @digantamisra98

[2020-02-11 09:45] failure-to-thrive commented on #731
Excuse me, but what's the current state of affairs? Hasn't #766 done that?

[2020-02-11 13:09] MadsAdrian commented on #746
I think you are right... `tf.metrics` has e.g.
`tf.metrics.Accuracy`, `tf.metrics.BinaryAccuracy` and `tf.metrics.CategoricalAccuracy`. I think this pattern should be mirrored for `tfa.metrics.*F1`.

As I understand the `tf` docs:
- `tf.metrics.Accuracy` returns the *binary accuracy* on a categorical vector
- `tf.metrics.BinaryAccuracy` return the *binary accuracy* on a vector of thresholded float

[2020-02-11 13:28] seanpmorgan commented on #1067
This is a good catch @davidweioct
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/normalizations.py#L50
https://www.tensorflow.org/api_docs/python/tf/nn/batch_normalization

Should be a float not integer.

[2020-02-11 13:53] seanpmorgan opened #1068 "Update kokoro run command"
Apologies for moving this around on you a few times. We should have made this more configurable on our side a while ago. This should be the last time this needs to be done though.

@tomerk @karmel  Could you please update the kokoro GPU test to run `tools/run_google_cloud_tests.sh`

[2020-02-11 13:56] failure-to-thrive commented on #1067
So isn't it just a change of `int` to `float`?https://github.com/tensorflow/addons/blob/343e7f3276350850f9583d0b53c6d114b6beaaeb/tensorflow_addons/layers/normalizations.py#L78 What's the catch?

[2020-02-11 13:58] seanpmorgan commented on #1067
The catch is that we incorrectly typed it as an int. If we have casting then we can make it Union[int, float], but otherwise it should be typed as float

[2020-02-11 14:00] seanpmorgan commented on #731
@autoih what is the status of #766. Its still marked as WIP

[2020-02-11 14:07] failure-to-thrive commented on #1067
I mean, from a workflow point of view. It's a very simple (even "stylish") modification that could be done in no time without a contributors' help. Sorry, I'm just unfamiliar with practices of this project.

[2020-02-11 14:12] seanpmorgan commented on #1067
Addons only consists of volunteer contributors :smile:

Please feel free to submit a PR, as you mentioned its an easy fix... and maintainers need to balance reviews, shepparding issues (like this one) and submitting contirbutions....

[2020-02-11 14:45] AakashKumarNain commented on #1067
`eps` should be float only and not int in any case.

[2020-02-11 14:51] schnaitterm opened #1070 "Bazel can't find CUDA"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7.4 x86_64
- TensorFlow version and how it was installed (source or binary): 2.1.0 from Source
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.1 from source
- Python version: 3.8.0
- Is GPU used? (yes/no): yes

**Describe the bug**

When trying to build tensorflow-addons, bazel is

[2020-02-11 15:39] failure-to-thrive commented on #1067
Got it!

[2020-02-11 15:59] seanpmorgan commented on #1067
Thanks for the fix!! Encouraging others to fix easy issues also helps grow our contributor base.

Any thoughts on adding this to a 0.8.2 patch version? We could also include the fixes to CohensKappa once that merges.

[2020-02-11 15:59] #1067 closed

[2020-02-11 16:02] gabrieldemarmiesse commented on #1067
Yes, let's stress test our release process!

Jokes aside, it's a good way to check that the release process is as automatic as possible :)

[2020-02-11 16:11] seanpmorgan commented on #1068
Oops @av8ramit should have been tagged.

[2020-02-11 16:50] gabrieldemarmiesse opened #1072 "Have a bot backporting automatically bugfixes."
**Describe the feature and the current behavior/state.**

Currently we have to backport bugfixes by hand. This is fine now, but as the repository is growing, it'll become more and more painful.

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): no
- Is there a

[2020-02-11 17:49] av8ramit commented on #1068
So you want me to update `/bin/bash tools/run_docker.sh -s linux -d gpu -c 'make gpu-unit-test'` with `tools/run_google_cloud_tests.sh`?

[2020-02-11 17:52] gabrieldemarmiesse commented on #1068
Should be `/bin/bash tools/run_google_cloud_tests.sh`

[2020-02-11 17:57] autoih commented on #731
Thanks @seanpmorgan for the reminder. I've updated the test.

[2020-02-11 18:25] #906 closed

[2020-02-11 20:49] av8ramit commented on #1068
Sent a change request to @karmel internally.

[2020-02-11 21:33] samikama commented on #671
@fsx950223 how does this algorithm compare against existing GPU NMS implementations in TF? Do you have any idea?

[2020-02-12 00:54] AlexWang1900 commented on #1064
More comments: although I can implement python mish function in Keras , but it is a bit slow,
I wish I can use tfa.mish, CUDNN implemention is a lot faster

[2020-02-12 01:04] seanpmorgan opened #1078 "Buildkit not support on GPU instance"
https://source.cloud.google.com/results/invocations/e8d3f59e-f9b4-4345-9141-4684ec456fc8/targets/tensorflow_addons%2Fubuntu%2Fgpu%2Fpy3%2Fcontinuous/log

I believe we can just make a flag (with default being DOCKER_BUILDKIT=1). Then we can just update:
https://github.com/tensorflow/addons/blob/master/tools/run_google_cloud_tests.sh

[2020-02-12 01:37] seanpmorgan commented on #1072
This sounds great! I have no preference for either option. Will defer to the preference of whomever sets it up.

[2020-02-12 01:42] davidweioct commented on #1067
Thank you for all the information. I understand "epsilon" should be a float simply based on it's definition. I was running in google-colab and not quite family with all those function. Thanks again!

[2020-02-12 01:46] seanpmorgan commented on #1070
Hi @schnaitterm thanks for raising the issue. We currently only have build support for CUDA 10.1 on the master branch. See https://github.com/tensorflow/addons/issues/770

This is a high priority issue for us and will hopefully be done by then end of the month. Feel free to post comments in that issue or ask for this to be opened if you feel its a different issue.

[2020-02-12 01:46] #1070 closed

[2020-02-12 01:49] seanpmorgan commented on #1068
Thanks! This was completed. We have a small bug but #1081 solves it.

[2020-02-12 01:49] #1068 closed

[2020-02-12 02:52] fsx950223 commented on #671
Tensorflow benchmark could compare performance between them.

[2020-02-12 06:30] #1078 closed

[2020-02-12 11:02] failure-to-thrive commented on #1064
@AlexWang1900 I've been trying to reproduce your problem. Could you be so kind to provide the full example? Optimizer? Loss? Everything matters. Even `IMG_SIZE` `N_CHANNELS` constants that as of now are undeclared. I've just put arbitrary ones and that worked very well (model trains, no halt). But that is not what we are expecting this time. :) Either please try to think out any other example that

[2020-02-12 12:16] seanpmorgan commented on #1067
@davidweioct This is fixed in the newly pushed 0.8.2 version

@gabrieldemarmiesse Super simple :smile: it did launch 3 builds (so I canceled 2) but that's been fixed on master

[2020-02-12 17:29] guillaumekln commented on #781
I tested with TensorFlow 2.1 and the latest nightly and it seems the sigmoid issue is now resolved. I will send a new PR that enables the tests again.

[2020-02-12 17:46] #781 closed

[2020-02-12 21:44] valendin opened #1087 "NovoGrad optimizer fails with embedding layer"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version and how it was installed (source or binary): TF 2.1 via pip
- TensorFlow-Addons version and how it was installed (source or binary): TFA 0.8.2 via pip
- Python version: 3.7.5
- Is GPU used? (yes/no): yes, CUDA 9.1

**Describe the bug**

Getting a fatal tensorflow error when NovoGrad

[2020-02-12 22:19] gabrieldemarmiesse commented on #1087
I suspect that tensorflow can't load CUDA or CUDNN but I'm unsure. Can you try with a simpler model? A dummy one with one layer? And does it work with a normal SGD? Do you get any warnings before the stacktrace?

[2020-02-13 03:18] AlexWang1900 commented on #1064
sorry for delay, the full code have 10Gdata, so I tried to make a cifar-10 case,with my model. will be back soon

[2020-02-13 05:38] failure-to-thrive commented on #1064
I mean the program code. :smile: Although the remote access to the isolated virtual machine with the full-blown model deployed would be even better.

[2020-02-13 08:02] AlexWang1900 commented on #1064
@failure-to-thrive

here is the full code which can trigger the problem:

as I use local defined "mish" function , it runs ok , fast, only problem is consuming too much video card mem.
when I change one line from "get_custom_objects().update({'Mish': Mish(mish)})"
to : "get_custom_objects().update({'Mish': Mish(tfa.activations.mish)})"
it halt training, or to say very very slow, GPU capacity is 2%

[2020-02-13 08:23] valendin commented on #1087
Correction: my CUDA version is 10.1

I've tried with the simplest model: inputs - one LSTM layer - softmax, and the behavior is the same. Can confirm that this only happens with NovoGrad - I've tried Adam, RMSprop and LazyAdam from TFA without an issue.

There are some warnings before but they are the same as when using other optimizers.
[code]

UPDATE: I have found the culprit: I'm using Embeddin

[2020-02-13 08:26] howl-anderson opened #1089 "Support mask in `text/crf`"
**Describe the feature and the current behavior/state.**
support mask in  `text/crf`

**Relevant information**
- Are you willing to contribute it (yes/no): yes
- Are you willing to maintain it going forward? (yes/no): yes
- Is there a relevant academic paper? (if so, where): no
- Is there already an implementation in another framework? (if so, where):
`https://github.com/allenai/allennlp/blob/1a8a

[2020-02-13 09:48] gabrieldemarmiesse commented on #1087
Thanks! That helps a lot! @shreyashpatodia could you take it from here? Thank you very much!

[2020-02-13 17:52] failure-to-thrive commented on #1064
Hey, that is a completely different story! What about CPU load? Looks like TFA fallbacks to a CPU for a whatever reason. Could you please execute `nvcc --version` from the command line?

[2020-02-13 18:55] digantamisra98 commented on #1064
@AakashKumarNain Thanks for the tag. @AlexWang1900 I'll try your code tomorrow and see if the issue replicates for me.

[2020-02-14 02:28] AlexWang1900 commented on #1064
[code]

[2020-02-14 02:31] AlexWang1900 commented on #1064
the CPU LOAD is 100%.   when in the case of nornal training, it is 100% because it runs ImageDataGenerator . but here since training is halted , it seems it is running the tfa.activation.
and :
Train for 353 steps, validate for 40 steps
Learning rate: 0.001
Epoch 1/60
10/353 [..............................] - ETA: 2:58:34 - loss: 8.9578 - dense_1_loss: 4.9835 - dense_2_loss: 2.2109 - dense_3_loss:

[2020-02-14 04:48] djones opened #1092 "CorrelationCost Layer Crash with GPU"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version and how it was installed (source or binary): 2.1 binary
- TensorFlow-Addons version and how it was installed (source or binary): 0.8.2 binary
- Python version: 3.6
- Is GPU used? (yes/no): yes

**Describe the bug**

[code]

This simple example code runs on the CPU without issue but w

[2020-02-14 06:38] failure-to-thrive commented on #1064
Please provide full list of messages, from the very beginning, not only the training ones.

[2020-02-14 06:41] AlexWang1900 commented on #1064
there are no more messages, I don't know how to switch debug level log message.
I will try tfa nightly later today.

[2020-02-14 07:35] failure-to-thrive commented on #1092
Please make sure you are using the correct version of TFA with something like
[code]
They (Colab) are in their transition to Tensorflow 2.xx so the correct way to utilize `pip` under the `%tensorflow_version 2.x` magic is `!pip install -t /tensorflow-2.1.0/python3.6/ --upgrade tensorflow-addons`
I was able to reproduce your crash under the wrong TFA 0.6.0 and the correct upgrade to the 0.8.2 blew

[2020-02-14 12:57] georgesterpu opened #1093 "Error when reading the batch size in AttentionWrapper"
**System information**
- OS Platform and Distribution: linux
- TensorFlow version: pypi tf-nightly 2.2.0.dev20200212
- TensorFlow-Addons version: pypi tfa-nightly 0.9.0.dev20200212
- Python version: 3.7.5

**Describe the bug**
Hi,

I am trying to write my own attention mechanism by subclassing _BaseAttentionMechanism, but I am running into errors when in graph mode.

More precisely, the **build**

[2020-02-14 14:47] djones commented on #1092
@failure-to-thrive thanks! you're absolutely right.

[2020-02-14 14:47] #1092 closed

[2020-02-14 17:06] georgesterpu opened #1095 "AttentionWrapper incompatible with RNN"
**System information**
- OS Platform and Distribution: linux
- TensorFlow version: pypi tf-nightly 2.2.0.dev20200212
- TensorFlow-Addons version: pypi tfa-nightly 0.9.0.dev20200214
- Python version: 3.7.5

**Describe the bug**

I would like to use an attention-wrapped lstm cell with tf.keras.layers.RNN, but I receive an error message related to the state type. The `AttentionWrapperState` initial s

[2020-02-14 18:23] georgesterpu commented on #1095
Hey, I think that I've fixed it by packing the state back into an `AttentionWrapperState` before the type check. To keep the change minimal, I deliberately avoided making any changes to RNN that calls a `_standardize_args` method in first place. Any thoughts, should this be submitted upstream ?

https://github.com/georgesterpu/addons/commit/2f5863abc0aff96df99223964c828a8bb13515ec

[2020-02-15 11:16] failure-to-thrive commented on #1095
The best practice is to avoid implicit casts. It would be better to explicitly extend the list of allowed inputs and maintain them appropriately. Effectively the same thing but without surprises.

[2020-02-15 14:16] georgesterpu commented on #1095
@failure-to-thrive
Sorry for not fully understanding your message, is it correct to infer that you recommend something like: `AttentionWrapperState(cell_state=state[0], attention=state[1], ...)` ?

I had a quick look at the documentation of [collections.namedtuple](https://docs.python.org/3.7/library/collections.html#collections.namedtuple), and it omits this aspect.
It says: `To convert a diction

[2020-02-15 15:55] georgesterpu commented on #1095
I posted a reply earlier, but soon realised that I misunderstood your advice.
What would you recommend in this specific case ?

[2020-02-15 18:19] failure-to-thrive commented on #990
The problem is - `libtensorflow_framework.so.2` exports CUDA stubs they use to dynamically load CUDA runtime. See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/cuda/cudart_stub.cc
However, tensorflow-cpu doesn't have these stubs!
A simple reordering of TFA linking to allow CUDA libraries be first seems to solve the problem.
Let me explain.
Here is an import table

[2020-02-15 19:04] failure-to-thrive commented on #1095
Now it is mostly a documentation job. You've already done the rest. But the code owner knows best.

[2020-02-16 12:34] rnbguy opened #1097 "manylinux2010 does not work with Manjaro"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Manjaro
- TensorFlow version and how it was installed (source or binary): N/A
- TensorFlow-Addons version and how it was installed (source or binary): N/A
- Python version: 3.8.1
- Is GPU used? (yes/no): N/A

**Describe the bug**
Trying to install with `pip`, but it does not work.

A clear and concise description of

[2020-02-16 13:20] seanpmorgan commented on #1097
This is because Addons does not currently have a python3.8 wheel. We plan to as soon as TF core supports it:
https://github.com/tensorflow/addons/issues/744
https://github.com/tensorflow/tensorflow/issues/33374

[2020-02-16 13:20] #1097 closed

[2020-02-16 14:55] n3011 opened #1098 "Incomplete and wrong typing"
It seems, there are many errors in the typed code.

For examples
1. https://github.com/tensorflow/addons/blob/master/tensorflow_addons/activations/rrelu.py#L28 (Optional[int])
2. https://github.com/tensorflow/addons/blob/master/tensorflow_addons/losses/giou_loss.py#L101 (TensorLike)

The integration of a type checker such as `mypy` can help to keep it clean if the goal is to integrate type checkin

[2020-02-16 20:47] PhilipMay commented on #825
@pavithrasv, @seanpmorgan and @karmel : started a discussion about the implementation here at TF repo: https://github.com/tensorflow/tensorflow/issues/36799

[2020-02-17 01:26] #1072 closed

[2020-02-17 08:44] veqtor opened #1099 "2nd order gradients for activations"
**Describe the feature and the current behavior/state.**
Currently the activation functions in tf-addons are missing 2nd order gradients, this makes it impossible to use them for training GAN's that need various forms of gradient penalties (WGAN-GP, StyleGAN 1/2, etc).
I suggest adding 2nd order gradients for these functions

**Relevant information**
- Are you willing to contribute it (yes/no):
No

[2020-02-17 13:31] guillaumekln commented on #1093
I think this is related to how the `self.batch_size` attribute is captured by the `tf.function`. A possible workaround is to create your variable in `setup_memory`, e.g.:

[code]

[2020-02-17 13:37] guillaumekln commented on #1095
Maybe we could always call `AttentionWrapperState(*state)` and update the documentation to say something like:

What do you think?

[2020-02-17 16:16] georgesterpu commented on #1093
Thanks, @guillaumekln !
Your workaround does solve the problem for the code above, but when integrated into my project, I receive more errors:
[code]
Plus this warning right before:
[code]
I will try to come up with a new code snippet to reproduce the error. In the meantime, could you please take a guess at what might be wrong ? Thank you.

[2020-02-17 16:24] georgesterpu commented on #1095
Personally I did not investigate the logic behind state flattening inside RNN, but if you are okay with this solution, I can go ahead and submit a PR with your amendments.

[2020-02-17 17:04] guillaumekln commented on #1095
Maybe @qlzh727 has an additional suggestion as he worked as this Keras code.

[2020-02-17 17:20] failure-to-thrive commented on #1099
As of me, it's interesting, it's understandable as the math, it's feasible as the coding. However, I need to be guided on how to integrate it into TFA seamless. So unless maintainers or anyone else much more experienced want to take this on, I would be happy to try.

[2020-02-18 08:27] veqtor commented on #740
Any updates on this?

[2020-02-18 12:01] fsx950223 commented on #1098
Could you open a pull request about type checker?

[2020-02-18 12:21] fsx950223 commented on #990
Awesome, @failure-to-thrive you are the expert on magical bugs. 😂

[2020-02-18 12:54] ROAbb commented on #265
I have also this problem. @DarkKnight1991, @puneetpandey37, and @@ogreyesp, Could you find any solution for that?

[2020-02-18 14:15] seanpmorgan commented on #1098
Hi @n3011 thanks for bringing this up! We discussed static type checking, but decided that it may be too difficult to ensure that everything within the repo is typed (perhaps in the future this is an option though).

Our dynamic checker typeguard should catch these types of errors in test cases. However, there are some issues with wrapping `tf.function`  so for now we only use typeguard where we k

[2020-02-18 14:15] #1098 closed

[2020-02-18 14:48] seanpmorgan commented on #1099
Thanks @veqtor for bringing this up! From my understanding higher order gradients should be automatically differentiated if we have our setup correct:
https://www.tensorflow.org/tutorials/customization/autodiff#higher-order_gradients

If I run:
[code]

I get the correct first derrivative, but the second order fails for:
`LookupError: gradient registry has no entry for: Addons>GeluGrad`

@failure-t

[2020-02-18 15:13] seanpmorgan opened #1104 "Clean up tutorials"
So TFA is currently included in the TF2.x environment within colab. This is great news, but since it's an old release we'll want to upgrade the package prior to importing as @failure-to-thrive pointed out:
https://github.com/tensorflow/addons/issues/927#issuecomment-583868873

We've created an issue to see if we can get up to date installations but while we wait for that we should make sure our cu

[2020-02-18 15:13] failure-to-thrive commented on #1099
It's true if activation function is expressed with tensorflow ops. However, TFA activations (most? all?) deal with C++ code. Every TFA C++ activation has its `*Grad` successor.

[2020-02-18 15:45] pkan2 opened #1105 "Adding Nuclear Norm Constraint into conditional_gradient optimizer"
**Describe the feature and the current behavior/state.**
Current conditional_gradient optimizer only supports with Frobenius norm constraint. We can improve the function with providing the choice of nuclear norm constraint, based on the following update formula:
[code]
where learning_rate and lambda_ are the parameters that are needed to input into the model when initializing the model.

**Relevan

[2020-02-18 16:25] seanpmorgan commented on #1099
You're right. This may be helpful while working on this:
https://github.com/tensorflow/tensorflow/blob/r2.1/tensorflow/python/ops/custom_gradient.py#L146-L168

[2020-02-18 17:42] qlzh727 commented on #1095
Thanks for reporting the issue, the issue is caused by force converting the initial_state tuple into list during input process. The reason behind that is keras need to have all the input tensors in its first argument for the __call__ (). Under the hood, we flat all the inputs, inital_state into list, and then get them back in call() body.

For now, you just need the default initial state (zeros),

[2020-02-18 18:31] failure-to-thrive commented on #1099
@veqtor Do you want to participate as a beta-tester?

[2020-02-19 06:48] abhichou4 commented on #1104
Hey @seanpmorgan. When tfa is installed with no dependencies, it throws a `ModuleNotFound `error for typegaurd.
https://colab.research.google.com/drive/1yrhlFadHCMsElMbBALvDKZnCKYXSXkk6

And when installed with dependencies, it gives errors for `tensorflow-federated 0.11.0` while installing.
https://colab.research.google.com/drive/1EjkFIfhmhz1YlYqeA_XS9bwJ4F0V_2n2

Should typegaurd be installed be